[2018-05-14 07:02] oivindoh commented on #2880
Hope I'm not muddying up the water in this issue, but I do believe this is caused by upstream DNS issues, because I was deploying a bunch of clusters during the last time period we experienced this issue, and was unable to look up agent host names directly from the master nodes I had sshed into. E.g. `ping agentname` was unable to look up `agentname`s IP.

The existing clusters I had that had prob

[2018-05-14 09:04] sam-cogan commented on #2912
I've recently recreated the environment from scratch with K8 1.10 and can confirm the issue is still present here. This is using CNI and the output of the all profiles command is below.
[code]

[2018-05-14 09:51] sam-cogan commented on #2027
Is there any further update (official or otherwise) on this? Even with the workaround posted DNS is still not working on 1709 nodes and it makes it pretty much unusable.

[2018-05-14 13:49] maxamillion commented on #2895
@jim-minter I'm honestly not sure which is considered "best practice", I'd defer to @kwoodson

[2018-05-14 13:53] kwoodson commented on #2924
@kargakis, Please check the storage account name and verify its length.  There are restrictions to naming schemes.

[2018-05-14 14:52] croeck commented on #2937
I do not think that this is an issue here. Did you try this:

https://docs.microsoft.com/en-us/azure/jenkins/execute-cli-jenkins-pipeline

[2018-05-14 15:08] kwoodson commented on #2895
@jim-minter @maxamillion, we want our infra nodes running the cluster infrastructure (routing, registry, console, etc).  This is for a few reasons

- security (isolation)
- resource protection (ram, cpu guarantees)
- fronted by an elb for flexibility, scalability, reliability

[2018-05-14 15:16] kargakis opened #2938 "openshift: acs-engine scale up does not work"
[code]
@jim-minter

[2018-05-14 15:47] neurot1cal commented on #2937
@saromba even with the `az login` and `az account set` you'll need to pass values into `acs-engine scale`. I used to do it this way as well, and it started defaulting to client auth (The login message you're seeing) instead of using my SP.

Try to append these to your `acs-engine scale` command;

[code]

[2018-05-14 15:49] shayansarkar opened #2941 "Can you run Kubernetes on RHEL with acs-engine?"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Feature Request
---

**What version of acs-engine?**:
0.16.2
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
RHEL is not a supported distro when creating a cluster

**What you expected to happen**:
I was hoping that I could create a cluster running on RH

[2018-05-14 16:26] jackfrancis opened #2942 "CSE failure to install docker"
Need to make apt-get install docker more resilient.

[2018-05-14 16:26] jackfrancis commented on #2942
Can repro manually on affected host:

[code]

[2018-05-14 16:31] jackfrancis commented on #2942
Compare to healthy docker status:

[code]

[2018-05-14 16:42] hmarcelodn commented on #2892
Thanks @jackfrancis ,

We are still experiencing Termination of _Pods_, _Node Losts_ so some downtime is happening from time to time during the day. The donwtime then is recovered by the K8S auto-healthing.

We rolled-back the cluster and generated this with 0.5.0 (the latests which worked well for us the latest year) but same thing happens.

[2018-05-14 16:48] jim-minter commented on #2900
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_conformance_azure_39/15

[2018-05-14 16:53] CecileRobertMichon commented on #2933
@maniSbindra good catch! We will need to change the change the logic to either a) allow empty client id/secret in validation, b) fill in the apimodel with the values before we validate it or c) load the CS without validation and run a validation later after filling in values from the command line. I personally prefer option c) if we can get it work.

[2018-05-14 17:04] daschott commented on #2027
@sam-cogan @jbiel @croemmich Sorry for the issues you're having -- Kubernetes for Windows is still an ongoing/evolving story! Right now, the recommendation is to move to Windows Server, version 1803 since there were a lot of networking bug fixes, not all of which were backported to 1709. Otherwise, see this [list](https://github.com/Microsoft/SDN/blob/master/Diagnostics/ContainerDiagnostics.md).

[2018-05-14 17:13] fair18 opened #2943 "Deploying CoreOS cluster on Azure"
**Is this a request for help?**:
YES

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue

---

**What version of acs-engine?**:
Version: v0.16.2
GitCommit: f75f600fa
GitTreeState: clean

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
I have tried to deploy an example of kubernetes cluster using distribution OS: CoreOS. I took example

[2018-05-14 17:33] keatz55 commented on #2880
@oivindoh I'd like to spin up a new cluster and test this out for us as well. Before I get into this, does anyone know of a good way to bust the cache?

[2018-05-14 17:40] jackfrancis opened #2944 "Design doc: Kubernetes provisioning in CSE"
This will briefly outline the pros/cons of moving all retry-able application layer provisioning into CSE, i.e., `"type": "CustomScript"` Azure resource attached to the vm resource. At present, the implementation is a hybrid, with some of the provisioning being implemented as serial shell commands in cloud-init, and some of it as serial shell commands in CSE, with cross-interface communication via

[2018-05-14 17:48] jim-minter commented on #2918
https://circleci.com/gh/Azure/acs-engine/26340

[2018-05-14 18:43] SteveCurran commented on #2027
@daschott thank you very much. Great list of all the issues and workarounds. Can I create a new cluster via acs-engine and expect the windows nodes to be 1803

[2018-05-14 19:19] jim-minter commented on #2924
[code]

The most plausible explanation I can find is that you deployed to a resource group which had a pre-existing storage account whose name also terminated in 'registry'.

[2018-05-14 19:53] #2924 closed

[2018-05-14 20:40] rashmichandrashekar opened #2946 "OMS agent validation suite - Start adding tests to validate the oms agent daemonset on AKS cluster using ACS engine test framework"
**Is this a request for help?**:

--- This is a request for help for guidance on how to add tests for omsagent add-on in the AKS cluster using ACS engine

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

--- ISSUE

**What version of acs-engine?**:

---  TBD

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:

**What you expected to happen**:
Guidance

[2018-05-14 21:01] CecileRobertMichon commented on #2944
Also to consider:

- cloud init and CSE both have size limits (although we've proven in the past that the CSE limit is quite large, at least 64K)
- Secrets must be transferred in custom data

[2018-05-14 22:30] jim-minter opened #2949 "wait for openshift node completion only on scale up, not on install"
On install, the openshift node script should not wait for the node to become ready because it can't detect a failed master and abort.  On install, the cluster is done when the master returns.
On scale up, the openshift node script should wait for the node to become ready, because we assume that the master is already there and working.  On scale up, the scale up is done when all the nodes return.

[2018-05-14 23:20] slack opened #2951 "Discuss: Fail fast when no outbound network connectivity."
**Is this an ISSUE or FEATURE REQUEST?** (choose one): FEATURE

It would be nice, with custom networking configurations, to fail cluster provisioning as fast as possible so that we don't hit the longer timeouts. For instance:

* Fail quickly if node hostnames do not resolve.
* Fail quickly if external DNS does not work.
* Fail quickly if outbound connectivity is not working: `apt-get ...`

Upper b

[2018-05-14 23:37] sozercan commented on #2943
Related to #2340?

[2018-05-14 23:44] CecileRobertMichon commented on #2936
@karataliu I validated that isKubernetesVersionGe works as expected via #2950. If the taint issue is still happening, please reopen the issue and change the title, it might be caused by something else.

[2018-05-14 23:46] jim-minter opened #2952 "openshift: "503 Service Unavailable" flake"
[code]

[2018-05-14 23:46] jim-minter commented on #2952
https://circleci.com/gh/Azure/acs-engine/26335

[2018-05-14 23:46] jim-minter commented on #2952
@kargakis can you take a look?

[2018-05-14 23:48] jim-minter commented on #2918
@pweil- @kargakis I suspect we're going to have to do something about this.  Do you think doing increasing ETCD_ELECTION_TIMEOUT (currently 2.5s) might work as a stopgap?

[2018-05-14 23:48] jsturtevant commented on #2027
@SteveCurran you should be able to add `WindowsSku` to the `windowsProfile` section:

[code]

After generating the template I found that this updates the parameters file (`azuredeploy.parameters.json`) with the correct value but the arm template that is generated uses a variable `agentWindowsSku` that does not get updated.  As a workaround right now until it is fixed in acs-engine should be able t

[2018-05-14 23:52] #2938 closed

[2018-05-14 23:57] jsturtevant opened #2953 "Setting Windows Sku doesn't update the variable for azuredeploy.json"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

---
ISSUE

**What version of acs-engine?**:

---
Version: canary
GitCommit: a4540402
GitTreeState: clean

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kuberentes

**What happened**:
Updated `WindowsSku` in `windowsProfile` to 1803 image  but the arm template generated did not update prope

[2018-05-15 00:04] #2709 closed

[2018-05-15 00:51] wenwu449 opened #2956 "Capacity "alpha.kubernetes.io/nvidia-gpu" changed to 0 after stop/start N series VM"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
v0.16.2
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
"alpha.kubernetes.io/nvidia-gpu" of N series VM in "Capacity" and "Allocatable" of agent node changed to 0 after stop/start VM

**What you expected to happ

[2018-05-15 02:16] karataliu commented on #2936
@CecileRobertMichon
Thanks for taking a look.

The unittest calls common.IsKubernetesVersionGe, which handles prerelease case.
https://github.com/Azure/acs-engine/blob/f48137d77a6b258396cad13d3768858dc4cef2ca/pkg/api/common/versions.go#L319

But for template generation, it calls the 'IsKubernetesVersionGe' in engine.go, which does not handle prerelease.
https://github.com/Azure/acs-engine/blob/v0.

[2018-05-15 02:18] karataliu commented on #2936
Seems I didn't find the 'reopen' button...

Suppose the fix should be forwarding 'IsKubernetesVersionGe' in engine.go calls the one in versions.go?

[2018-05-15 02:34] CecileRobertMichon commented on #2936
Ah that makes more sense thanks. Reopened the issue.

[2018-05-15 04:59] jsturtevant commented on #2953
@CecileRobertMichon  Fast turn around!  you beat me to the PR 👍 💯 Thanks!

[2018-05-15 05:55] DonMartin76 commented on #2799
FWIW, we have run on `ManagedDisks` now for two weeks, and I can't say I am happier with it than with the `StorageAccount` clusters. Provisioning dynamic disks takes longer (3+ minutes instead of 1-2 minutes), and is also less calculatable in time (variance is higher). As our initial problem (the disk mounter checks *all* resource groups, not just the current ones, for blobs, #2768) is not appeari

[2018-05-15 07:14] #2715 closed

[2018-05-15 08:46] saromba commented on #2937
@neurot1cal: Thx. That's the solution for me.
@croeck: Thx for the article. I installed the azure plugin. I didn't know that.

[2018-05-15 08:46] #2937 closed

[2018-05-15 11:21] kargakis opened #2960 "openshift: failed to push to the internal registry"
I am seeing builds fail to push to the registry
[code]
Docker registry log:
<details>

[code]
</details>

@jim-minter @pweil-

[2018-05-15 11:54] mwieczorek commented on #2876
@jackfrancis @CecileRobertMichon What do you think?
Today I hit another issue: https://github.com/docker/for-linux/issues/1 which is fixed in v18.03

Let me know if you consider to accept such pull request (adding additional versions). I can contribute, do some tests, changes in scripts, etc

[2018-05-15 13:17] pweil- commented on #2918
@jim-minter I'm not sure how ETCD_ELECTION_TIMEOUT would help in this situation.  Isn't it for leader election issues (coupled with heartbeat interval)?

It seems like we need to wait for a better ready state or have retry mechanisms in place.  Since this looks like it's in Ansible I'm thinking ready state in the extensions is maybe a better route.

Maybe we can poach `os::cmd::internal::run_until

[2018-05-15 13:29] 4c74356b41 commented on #2027
Anybody else finding `smalldisk` os image for windows containers ridiculous?

[2018-05-15 13:38] hieuhc opened #2962 "Failed to start etcd after upgrading k8s 1.6.6 -> 1.7.16"
**Is this a request for help?**:

--- No

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

--- ISSUE

**What version of acs-engine?**:

Version: canary
GitCommit: 28eb1d1
GitTreeState: dirty

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.7.16

**What happened**:
After upgrading k8s in westeurope location from 1.6.6 to 1.7.16, I couldn't access the cluster:
[code]

[2018-05-15 13:53] fair18 commented on #2943
@sozercan  Yes, I think so.

[2018-05-15 14:36] beaudryj opened #2963 "Example for ClusterAutoScale with multiple node pools"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Feature Request

---

**What version of acs-engine?**: Latest

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** 1.10.X

In regards to the documentation for - https://github.com/Azure/acs-engine/tree/master/examples/addons/cluster-autoscaler could we please have an example for multiple

[2018-05-15 16:20] sam-cogan opened #2965 "Unable to launch Windows v1803 Image In Kubernetes on ACS"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue

---

**What version of acs-engine?**:
0.15.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.10

**What happened**:
When deploying an Windows Container using an 1803 image, on an 1803 node, it fails with the error : The operating system of the container does not mat

[2018-05-15 16:36] SteveCurran commented on #2027
@jsturtevant I am getting a "unknown JSON tag WindowsSku" when generating from the api model. What version of acs-engine supports this or is this just in the canary?

[2018-05-15 16:40] jessfraz opened #2966 "network policy/plugin confusion"
It seems like there is some confusion here, the only listed network plugins are azure and kubenet, cilium and flannel are both network plugins. cilium is also a network policy.

[2018-05-15 16:40] CecileRobertMichon commented on #2953
Thank you for reporting! It was a quick fix and I was already touching that part of the code so I just went ahead and fixed it.

[2018-05-15 16:44] sam-cogan commented on #2027
I was able to deploy an 1803 cluster with the following:

[code]

Which then works out the SKU etc for you. I still then had to manually adjust the generated ARM template to change from 1709 to 1803.

[2018-05-15 17:05] keatz55 commented on #2880
@rocketraman Thanks for the info.

[2018-05-15 17:37] jsturtevant commented on #2965
Could you run `ver` on the host?

The error `The operating system of the container does not match the operating system of the host.` shows a miss match in some way.  How did you deploy 1803 for the host?  There was a bug (#2953) that didn't actually deploy 1803 even if you specified the 1803 image in the `windowsProfile`.

[2018-05-15 17:44] CecileRobertMichon commented on #2936
@karataliu this should fix it ^

[2018-05-15 17:48] jessfraz opened #2969 "don't install docker when using container runtime clear-containers or containerd"
just using this as tracking

I will do this in a follow up PR after https://github.com/Azure/acs-engine/pull/2967

[2018-05-15 17:48] CecileRobertMichon commented on #2897
@Navlesh were you able to repro?

[2018-05-15 18:16] sam-cogan commented on #2965
Yeah, I saw that issue before I deployed so manually updated the ARM template to the correct version. Can confirm that 1803 is deployed on the host:
[code]

The odd thing is, Docker its self is perfectly happy to deploy the same image on that host, manually doing that with docker run through the console works fine. It is just when I try to do it through Kubernetes.

I Kubernetes getting the OS ver

[2018-05-15 18:29] svick7859 opened #2971 "Pods are uanble to resolve DNS for any of Azure service or other external sites."
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

**What version of acs-engine?**:
1.31.1

Kubernetes

If this is a ISSUE, please:

We've been running a couple K8 clusters for a couple months. Last weekend, everything stopped working. Specifically, DNS requests were failing. We investigated our network for any surprise changes and nothing changed

[2018-05-15 18:43] jsturtevant commented on #2965
I just confirmed the same error.  I ran `docker images` and found the `kubletwin/pause` image which I believe is used as part of container bootstrapping process.  On inspection of that image it is 1709:

[code]

[2018-05-15 18:44] #2966 closed

[2018-05-15 19:06] jim-minter commented on #2952
Seems improbable that it was DNS if it got as far as receiving a 503 response?

[2018-05-15 19:43] #2936 closed

[2018-05-15 19:44] #2953 closed

[2018-05-15 20:43] jsturtevant commented on #2965
@jackfrancis @JiangtianLi  looks like the files for the windows binaries are not updated to support 1803.  The pr #2958 won't work without updating the `kubletwin/pause` Dockerfile to 1803 but I can't find those files in this repo.

[2018-05-15 20:46] jackfrancis commented on #2965
@jsturtevant `kubletwin/pause` config is set in `parts/k8s/kuberneteswindowssetup.ps1`

[2018-05-15 21:00] PatrickLang commented on #2965
This Dockerfile should be just a few lines. I propose we inline it into https://github.com/Azure/acs-engine/blob/master/parts/k8s/kuberneteswindowssetup.ps1#L216 and set the right version

[2018-05-15 21:15] JiangtianLi commented on #2965
@jsturtevant does 1803 image work on 1709 host?

[2018-05-15 21:47] PatrickLang commented on #2027
This issue has gone a bit off the rails here. Let me try to clarify a few things back up:

1) Windows Server version 1709 and Windows Server version 1803 both have the Windows fix required

2) A change to the Azure CNI plugin and acs-engine were needed to deploy a CNI fix. These changes are in master as of May 11, but not in an acs-engine release today.

So strictly speaking - you don't need Windo

[2018-05-15 22:38] jim-minter commented on #2918
See https://github.com/coreos/etcd/blob/master/Documentation/faq.md#why-does-etcd-lose-its-leader-from-disk-latency-spikes and https://coreos.com/etcd/docs/latest/tuning.html

I'm going to experiment with ETCD_ELECTION_TIMEOUT and see if that helps us as a starting point.

[2018-05-15 22:52] jackfrancis opened #2974 "k8s Windows 1.8.13 git cherry-pick conflicts"
[code]

[2018-05-15 22:53] jackfrancis commented on #2974
@andyzhangx Can you take a look at the above conflicts from running `make build-windows-k8s K8S_VERSION=1.8.13 PATCH_VERSION=1`? Could you please update the build script so that we can add Windows support for v1.8.13? Thanks!

[2018-05-15 23:59] CecileRobertMichon opened #2977 "CustomScriptExtension TODO items"
- Refactor exit codes as Go variables
- Move functions out of CSE to a helper script
- Rationalize /opt/m logs with timestamps to capture phase timings
- Rename bash functions to be consistent
- Change `{{GetKubernetesAgentPreprovisionYaml .}}` to be on a new line
- Ensure etcd right after start etcd, ensure docker after start docker
- Try to wait for cloud init later in the script to allow some t

[2018-05-16 00:04] CecileRobertMichon commented on #2977
/assign CecileRobertMichon

[2018-05-16 02:04] andyzhangx commented on #2974
It fails here, we cannot revert `git revert --no-edit dc21ebe936 || true` since other commit depends on dc21ebe936 now:
https://github.com/Azure/acs-engine/blob/bfc9c7eea789970aa87287183d7123ee5bc69ad9/scripts/build-windows-k8s.sh#L208-L209

@JiangtianLi

[2018-05-16 04:49] Navlesh commented on #2897
@CecileRobertMichon Yes I am able to reproduce SubnetIsFull error only when the IPs range is less /27 or lesser.

[2018-05-16 05:38] karataliu commented on #2936
Verified the fix works. Thanks!

[2018-05-16 06:06] NightFantomJ2 opened #2981 "404 in link on https://github.com/Azure/acs-engine/blob/master/docs/swarmmode.md"
**Is this a request for help?**:

Yes, I think?

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue.

---

**What version of acs-engine?**:

The documentation on github, at the point of this commit: https://github.com/Azure/acs-engine/commit/bfc9c7eea789970aa87287183d7123ee5bc69ad9

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

N/A

**What happened**:

I clicke

[2018-05-16 06:31] NightFantomJ2 commented on #2981
from a different (working) link I noticed that it should be:
https://github.com/Azure/acs-engine/blob/master/docs/acsengine.md#deployment-usage

(notice the added /docs/ in the middle)

if someone could fix this (and search the repo for references before changing links like that) that would be great, thanks!

[2018-05-16 07:57] andyzhangx commented on #2974
@jackfrancis Finally I modified the `build-windows-k8s.sh` a little(see [here](https://github.com/andyzhangx/acs-engine/commit/a1ad2e5e9a13226850c844cb56d4da5dbea6ee86)), cherry-pick and fix conflicts manually, and prepared a v1.8.13 branch here: https://github.com/andyzhangx/kubernetes/tree/acs-v1.8.13-1

In the beginning, I was trying to push new commits to replace merge conflict commit, while I

[2018-05-16 09:55] kargakis opened #2982 "ERROR: The template deployment 'openshift-eastus-47708' is not valid according to the validation procedure."
Not sure where this issue comes from. Not sure whether we can expose more information from azure.

https://circleci.com/gh/Azure/acs-engine/26767?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-05-16 11:40] sam-cogan commented on #2027
I've just deployed a 1709 cluster using master and the DNS issue persists, so it doesn't seem like it is fixed in that version.

[2018-05-16 11:43] jbiel commented on #2027
Our 1709 cluster with May updates still has issues. I'm working on updating our pipeline to build 1803 images and hope to have that in place soon.

[2018-05-16 12:07] sam-cogan commented on #2027
1803 won't work with ACS engine until #2976 fix gets merged unfortuantely

[2018-05-16 12:34] pweil- commented on #2918
You suspect disk latency?  Let's see what happens when you set it, but it seems we're going to want to try and figure out the actual cause.

[2018-05-16 13:11] jim-minter opened #2984 "openshift: implement unit test to ensure examples are in sync"
examples/openshift.json
examples/vnet/openshift-vnet.json

[2018-05-16 13:28] jim-minter opened #2985 "openshift: implement existing vnet e2e test"

[2018-05-16 15:44] jackfrancis commented on #2974
Thanks!

Can your create a PR from your build-windows-k8s-v1.8.13 branch?

[2018-05-16 16:04] ralbon commented on #2016
I have the same issue. Did you find any solution ?

I can see the Public IP created in azure interface, associated to the load balancer created.
However, it stays in pending ..

ACS Engine: 0.13.0
Kubernetes : 1.9.3
Azure : Northeurope

Thank you

[2018-05-16 16:13] CecileRobertMichon commented on #2897
@Navlesh I meant the `VMExtensionProvisioningError`. I'll have a PR to fix `SubnetIsFull` shortly.

[2018-05-16 16:15] jackfrancis commented on #2971
Hi @svick7859, thanks for the detail. What does kube-dns in the kube-system namespace look like? Is it Running? Anything interesting in the logs?

[2018-05-16 16:26] svick7859 commented on #2971
@jackfrancis Yes, it's running. There are two instances. Which logs? Here is dnsmasq

I0515 15:59:19.514245       1 main.go:76] opts: {{/usr/sbin/dnsmasq [-k --cache-size=1000 --no-resolv --server=127.0.0.1#10053 --server=/in-addr.arpa/127.0.0.1#10053 --server=/ip6.arpa/127.0.0.1#10053 --log-facility=-] true} /kube-dns-config 10000000000}
I0515 15:59:19.514462       1 nanny.go:94] Starting dnsmasq

[2018-05-16 16:30] jackfrancis commented on #2971
kubedns would be great as well

[2018-05-16 16:33] jackfrancis commented on #2971
cf. #2880

[2018-05-16 16:35] svick7859 commented on #2971
Getting them now

[2018-05-16 16:36] svick7859 commented on #2971
@jackfrancis

I0515 15:59:19.514245       1 main.go:76] opts: {{/usr/sbin/dnsmasq [-k --cache-size=1000 --no-resolv --server=127.0.0.1#10053 --server=/in-addr.arpa/127.0.0.1#10053 --server=/ip6.arpa/127.0.0.1#10053 --log-facility=-] true} /kube-dns-config 10000000000}
I0515 15:59:19.514462       1 nanny.go:94] Starting dnsmasq [-k --cache-size=1000 --no-resolv --server=127.0.0.1#10053 --server=/in

[2018-05-16 16:37] jackfrancis commented on #2971
See temporary workaround here for another customer, if you're able to punt on RCA in order to restore service:

https://github.com/Azure/acs-engine/issues/2880#issuecomment-387622780

[2018-05-16 16:38] svick7859 commented on #2971
Let me try that. Stay tuned . . .

[2018-05-16 16:42] svick7859 commented on #2971
@jackfrancis are you talking about grabbing the newer versions of kubedns?

[2018-05-16 16:45] jackfrancis commented on #2971
@svick7859 I'm referring to the stubDomains workaround

[2018-05-16 17:04] Navlesh commented on #2897
@CecileRobertMichon I thought, You wanted to maintain this thread just for SubnetIsFull error.
VMExtensionProvisioningError is not consistence, I also felt that it occurs mostly when we have IPs range is less. However i am not able reproduce when I use a IPs range /26.

[2018-05-16 17:35] CecileRobertMichon commented on #2962
@hieuhc what acs-engine version was the cluster built with? Could look if you see anything in `sudo journalctl -u etcd -xxx`? What happens if you try to restart etcd? `sudo systmectl restart etcd`

[2018-05-16 18:03] PatrickLang commented on #2027
@sam-cogan if you're still hitting problems with 1709, can you include more details:
`acs-engine version`
`ipconfig /all` output from a running pod

I'm not 100% sure we're looking at the same issue. When I was having DNS failures, `ipconfig /all` didn't list any DNS servers at all.

[2018-05-16 18:27] #2944 closed

[2018-05-16 18:31] svick7859 commented on #2971
@jackfrancis  We tried and perhaps are doing something wrong. nslookup resolves on 1st attempt (name server is default kube-dns - 10.0.0.10 (should that be the case if we're using upstream 8.8.8.8), but subsequent attempts fail. This is similar to what I saw without using the stubDomain. So it seems like the stub (we're only using the upstream setting to point to google) isn't having an affect.

H

[2018-05-16 18:36] jackfrancis commented on #2971
Do you have the original api model used to deploy this cluster (or clusters)? Could you quickly use it and deploy a new (say, 2 node) cluster to a new resource group and validate that the same symptoms are not present? That would suggest that whatever upstream DNS service is broken is not general but, perhaps, limited to the source NAT(s) your broken cluster(s) originates from.

[2018-05-16 19:33] svick7859 commented on #2971
Should the kubedns config look different after applying the changes to add the upstream?

I0516 19:03:25.264502       1 server.go:71] Using configuration read from directory: /kube-dns-config with period 10s
I0516 19:03:25.264543       1 server.go:119] FLAG: --alsologtostderr="false"
I0516 19:03:25.264558       1 server.go:119] FLAG: --config-dir="/kube-dns-config"
I0516 19:03:25.264586       1 se

[2018-05-16 20:02] sam-cogan commented on #2027
I'm building the latest ACS engine from master, and I am getting DNS servers configured, so it may be a different issue.
My problem is that the DNS servers cannot resolve any addresses, internal or external.

[2018-05-16 20:10] svick7859 commented on #2971
Not sure if this helps, but using the netshoot tool (https://github.com/nicolaka/netshoot) I ran the test on the pod and on the master to display the DNS results.

I removed our service names and IPs.

**NSLOOKUP from container**

20:05:56.329078 IP 10.250.12.10.57839 > 168.63.129.16.53: 64327+ AAAA? localhost.hiddeninternal.cloudapp.net. (79)
20:05:56.329094 IP 10.250.12.10.46867 > 168.63.129.16.

[2018-05-16 20:13] ewok2030 commented on #2963
This functionality was added in PR #2637 but at this time it only supports autoscaling the first nodePool.

Per this [comment](https://github.com/Azure/acs-engine/pull/2637#issuecomment-386400035), you'll have to SSH into each master node and manually modify the addon file to add the config for additional node pools.

I was going to suggest that the documentation is updated to make this limitation

[2018-05-16 21:02] sam-cogan commented on #2027
I've mad a bit of progress, but I don't really understand why. Below is the ipconfig from my pod, it has two DNS servers registered, if I do an NSLookup it defaults to using 168.63.129.16 and fails. If I force it to use 10.0.0.10 and I specify the full qualified name of the service app.default.svc.cluster.local then it will resolve it.

Which begs two questions
1. What is 168.63.129.16 and why is

[2018-05-16 21:11] mrdfuse opened #2989 "Mounting volumes times out a lot, seems to depend upon the time of day"
**Is this a request for help?**:
Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

---

**What version of acs-engine?**:
0.13.1

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
[code]

**What happened**:
We often observe that mounting a persistent volume claim times out a lot, and succeeds after a few minutes. But sometimes that can be 15 minutes, 2 hours or

[2018-05-16 21:17] khaldoune commented on #2175
@JackQuincy
Why do we need to remove the NSG before upgrade?
Cc @yastij @CecileRobertMichon

[2018-05-16 22:04] yastij commented on #2175
Yes, wee need to add a call to `transformer.NormalizeForK8sVMASScalingUp(sc.logger, templateJSON)` It'll remove the NSG. I'll try to send a PR this weekend

[2018-05-16 22:18] jackfrancis commented on #2971
@slack Does any of the above suggest source address filtering from 168.63.129.16?

[2018-05-16 22:42] #2963 closed

[2018-05-16 22:50] jackfrancis opened #2993 "Kubernetes: Managed Disk vs Storage Account"
Thread to discuss pros/cons of ManagedDisk vs StorageAccount

[2018-05-16 22:51] jackfrancis commented on #2993
@DonMartin76 said:

[2018-05-16 22:51] jackfrancis commented on #2799
Thanks for sharing @DonMartin76! I moved your thoughts here so that other folks could see them more easily:

https://github.com/Azure/acs-engine/issues/2993

[2018-05-16 22:56] CecileRobertMichon commented on #2981
@NightFantomJ2 feel free to open a PR to fix it if you're interested in contributing!

[2018-05-16 23:03] CecileRobertMichon commented on #2982
AKAIK this is a symptom of a syntax error in azuredeploy.json... Very annoying to debug since ARM doesn't return more info. Since it's not happening 100% of the time it could be due to a specific Go template flow. For example something like :
[code]
In this case the template validation will fail if ` ne .OSDiskSizeGB 0` because there will be a missing comma, should be: `  ,"diskSizeGB": {{.OSDiskS

[2018-05-16 23:22] #2965 closed, assigned to nobody

[2018-05-17 01:01] jim-minter commented on #2918
https://github.com/openshift/origin/issues/16248 is relevant but sadly not conclusive.
https://github.com/Azure/acs-engine/pull/2996 will record etcd logs for follow-up.

[2018-05-17 01:16] #2788 closed

[2018-05-17 01:27] jim-minter opened #2998 "openshift: custom vnet: ensure serviceNetworkCIDR is configurable"
need to allow configuration of at least networkConfig.serviceNetworkCIDR if we want to support custom vnets with a subnet overlapping 172.30.0.0/16

[2018-05-17 02:30] jim-minter commented on #2900
@maxamillion re https://github.com/maxamillion/openshift-ansible/commit/fa3cf33900c7ccfe73b11591ce60a5281a0737cb somewhat belatedly I realised that this change needs to be in the ansible container that's running on the master - so I think what's needed is to do something really quite nasty in pkg/openshift/certgen/release39/templates/master/tmp/ansible/ansible.sh and just get that checked in here.

[2018-05-17 04:27] anujshankar opened #2999 "Pods are unable to resolve DNS for services both internally and externally."
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
0.15.2
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes Version: 1.10.1

**What happened**:
All our internal services report a DNS resolution failure when called, results in an overall network outage in our cluster.

**What you exp

[2018-05-17 07:30] andyzhangx commented on #2989
could you share your helm chart and config if possible?

[2018-05-17 08:02] andyzhangx commented on #2989
And also when the azuredisk mount on a pod never succeeded, could you check:
 - whether that disk has already been attached to the agent VM?
 - run `kubectl get no NODE-NAME -o yaml > node.log` and paste `volumesInUse` and `volumesAttached` list on that VM

[2018-05-17 10:39] adelina-t opened #3001 "Heapster pods get schedules on Windows Nodes"
---

ISSUE

---

acs-engine : 0.16.2

---

Kubernetes 1.10

**What happened**:

Heapster pod was scheduled on Windows node

[code]

Probably there needs to be a nodeSelector in the heapster addon yaml file.

[2018-05-17 11:05] anujshankar commented on #2999
Kubedns deployment file ```{
  "kind": "Deployment",
  "apiVersion": "extensions/v1beta1",
  "metadata": {
    "name": "kube-dns-v20",
    "namespace": "kube-system",
    "selfLink": "/apis/extensions/v1beta1/namespaces/kube-system/deployments/kube-dns-v20",
    "uid": "7a2c4252-416f-11e8-8be0-000d3aa242e5",
    "resourceVersion": "5136316",
    "generation": 1,
    "creationTimestamp": "2018-04-1

[2018-05-17 11:07] anujshankar commented on #2999
The kubedns pods also continuously go back and forth from running to crashloopback state.

[2018-05-17 12:14] andyzhangx commented on #2993
FYI @karataliu

[2018-05-17 15:27] sam-cogan commented on #2027
I've also deployed an 1803 cluster now and have the same problem, so not fixed there either. It seems it's actually worse, as I can't get it to resolve using 10.0.0.10 either, I have to specify the IP of the actual DNS pods.

[2018-05-17 16:09] maxamillion commented on #2900
@jim-minter ah, well that's unfortunate

[2018-05-17 16:31] maxamillion commented on #2895
Alright, so the current situation is this:

* Registry Console is deployed via openshift-ansible's `roles/cockpit-ui` role, that uses the `registry-console` template as deployed via the openshift-ansible `roles/openshift_hosted_templates` role and that template does not have a `nodeSelector` field in it as of the openshift-ansible 3.9.29 release. I'm unsure of how to resolve this in the best way b

[2018-05-17 17:29] CecileRobertMichon commented on #2941
@shayansarkar currently RHEL is only supported with orchestrators SwarmMode and Openshift.

[2018-05-17 17:34] CecileRobertMichon commented on #2926
@kichristensen @ritazh I think this issue is due to https://github.com/Azure/acs-engine/pull/2713... Is there a dependency on the custom script extension or something that refers the custom script extension in the extension template? If so should be `cse-master-$index` or `cse-agent-$index` instead of `cse-$index`

[2018-05-17 17:54] jackfrancis commented on #2971
@mbarion Thanks for the update. If you still have a cluster that is able to reproduce the DNS problem, I would love to get this data:

- setup a tcpdump for dns traffic on a node that has a scheduled pod that is doing DNS requests
- do some DNS lookups from the node itself (from the ubuntu CLI, for example) -- we expect these lookups to succeed
- let the pod run long enough to do its own DNS looku

[2018-05-17 17:56] jackfrancis commented on #2999
@anujshankar asked in #2971, but will paste here as well:

Could you kindly:

- setup a tcpdump for dns traffic on a node that has a scheduled pod that is doing DNS requests
- do some DNS lookups from the node itself (from the ubuntu CLI, for example) -- we expect these lookups to succeed
- let the pod run long enough to do its own DNS lookups -- we expect these lookups to fail

What we'd like to

[2018-05-17 19:52] mbarion commented on #2971
All,
I’ve been working with Karthik and have used TCPDUMP on UDP port 53 on MASTER and ran nslookup on PODS and NODES. The output is the txt file.

# tcpdump -nt -i eth0 udp port 53 -w tcpdump_051618.pcap

we then converted to *.txt file.

Thanks
jason
[cid:image001.jpg@01D21FC1.13144390]

Jason Kaye
DevOps Infrastructure

CNH Industrial
6900 Veterans Boulevard
Burr Ridge, IL 60527 USA

From: BARI

[2018-05-17 19:53] kichristensen commented on #2926
@CecileRobertMichon it is correct that the first error:

[code]

Disappears if I change the ```dependsOn``` section to match ```cse-agent-$index``` instead of ```cse-$index```. But then I get the next error during deployment on Azure:

[code]

[2018-05-17 19:54] mbarion commented on #2971
+Steve V

From: KAYE Jason (CNH Industrial)
Sent: Thursday, May 17, 2018 2:53 PM
To: BARION Matteo (CNH Industrial) <matteo.barion@cnhind.com>; Azure/acs-engine <reply@reply.github.com>; Azure/acs-engine <acs-engine@noreply.github.com>; PUTHI Karthik (CNH Industrial) <karthik.puthi@external.cnhind.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [Azure/acs-engine] Pods are uanble to reso

[2018-05-17 19:56] shayansarkar commented on #2941
Thanks.  Is there a technical restriction for that?  Or if I made the updates to acs-engine, could it theoretically work?

[2018-05-17 19:57] jackfrancis commented on #2971
@slack @rite2nikhil see the tcpdump output above, all requests to Azure DNS are sourced from 10.250.10.10. Do we think this rules out any SNAT-related DNS filtering that would affect only pod-originating lookup requests?

[2018-05-17 20:44] jim-minter commented on #2895
Yes; what is the node selector in the default project in a normal openshift deployment?

[2018-05-17 21:09] CecileRobertMichon commented on #2941
@shayansarkar I am not aware of such restrictions. We would definitely allow a PR that introduces RHEL support for K8s. The first step would be to change the validation at https://github.com/Azure/acs-engine/blob/74e1ee146dafcb0f309e49a7a1d38148160300d9/pkg/acsengine/engine.go#L477
to allow RHEL with k8s and test if it works straight out of the box. If not, there might be a few changes required to

[2018-05-17 21:57] jbiel commented on #2027
Confirmed that 1803 nodes can't resolve using the service IP for kubedns at all.

On 1709 + the May 2018 update (KB4103727) we're also seeing more issues than usual with other service IPs in our cluster (not just kubedns.)

[2018-05-17 22:05] maxamillion commented on #2895
That's set in [roles/openshift_hosted/tasks/create_projects.yml](https://github.com/openshift/openshift-ansible/blob/openshift-ansible-3.9.29-1/roles/openshift_hosted/tasks/create_projects.yml#L7), which appears to be set to an [empty string](https://github.com/openshift/openshift-ansible/blob/openshift-ansible-3.9.29-1/roles/openshift_hosted/defaults/main.yml#L9) but we should be able to override

[2018-05-17 22:46] CecileRobertMichon commented on #2922
@hensilva could you please try deploying with a bigger VM size? Preferably not B series or A0. We've seen those kinds of errors when VMs had insufficient CPU/memory.

[2018-05-17 23:12] jim-minter commented on #2960
I've now seen this error on rhel as well

[2018-05-17 23:47] jim-minter commented on #2960
when this happens, the builder-dockercfg secret in the default namespace has an empty .dockercfg:

[code]

[2018-05-17 23:48] jim-minter commented on #2960
Deleting the secret (and hence, a new secret being created containing a valid .dockercfg) allows a newly started build to complete

[2018-05-17 23:50] jim-minter commented on #2960
Although this could be because I also restarted the controllers process in the interim

[2018-05-18 01:01] jim-minter opened #3006 "openshift: template deployment is not valid according to the validation procedure"
[code]

[2018-05-18 01:01] jim-minter commented on #3006
example: https://circleci.com/gh/Azure/acs-engine/26422

[2018-05-18 01:01] jim-minter commented on #3006
some az equivalent of Get-AzureRMLog -CorrelationId xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx -DetailedOutput may get the required additional debug info

[2018-05-18 01:02] jim-minter commented on #3006
@ritazh @kargakis fyi

[2018-05-18 01:12] 372046933 commented on #2826
I can see a lot of warning when kubelet starts

[2018-05-18 03:29] Felivel commented on #2027
@sam-cogan `168.63.129.16` is the default Azure DNS. My guess is the pods are inheriting the DNS from the Node. I am having the same issue with `1803`

[2018-05-18 05:15] anujshankar commented on #2999
For others facing this issue - We tried to implement the workaround suggested in #2880.

We changed the dns nameserver IPs to 8.8.8.8 (google dns) on ***nodes (VMs)*** by modifying the /etc/resolv.conf file. This solved our problem for now.

However, the scary part of this workaround is that the /etc/resolv.conf file should not be edited by hand this way on azure cluster as they will be overwritte

[2018-05-18 10:57] kargakis commented on #2895
The rest of the components in default are still infra (router, registry) fwiw

[2018-05-18 12:11] hieuhc commented on #2962
@CecileRobertMichon I didn't keep track of the version of acs-engine used to build this cluster. It was the last July, and I didn't specify k8s version while deploying, so 1.6.6 was the default. Here is output of above commands:

_sudo journalctl -u etcd -xxx_

[code]
-----
_sudo systemctl restart etcd_

`Job for etcd.service failed because the control process exited with error code. See "systemct

[2018-05-18 13:53] shayansarkar commented on #2941
Thanks for the info.  I'll close out this request and hopefully get back to you all with a PR later.

[2018-05-18 13:53] #2941 closed

[2018-05-18 13:57] maxamillion commented on #2895
@kargakis fair point. Those have `nodeSelectors` in the kubernetes templates used to deploy them, which can be controlled via inventory variables in `openshift-ansible`, so ultimately this is a bug in `openshift-ansible` that I'll probably send a PR for once we decide on the path forward. I'm not a SME in this space, so I'm deferring the decision on the best course of action.

[2018-05-18 13:59] jim-minter commented on #3006
dupe of #2982

[2018-05-18 13:59] #3006 closed

[2018-05-18 14:12] mrdfuse commented on #2989
I think these are the most relevant files from the chart (happens with any chart, or even before we started using Helm btw):
[code]

[code]

[code]

I have shared the storage class definition in my previous comment.

As for the other requests, I'll provide the info as we encounter the problem again. For now it seems work ok again (few minutes waiting time)

[2018-05-18 14:16] jim-minter commented on #2982
[code]

[2018-05-18 14:16] jim-minter commented on #2982
I'm not convinced it's a syntax error - I've been able to download the produced assets and the JSON parsed and was acceptable to ARM in our subscription (i.e. parameters and variables all matched up, etc).  I think this might be an image marketplace related error.

[2018-05-18 14:16] jim-minter commented on #2982
Possibly some az equivalent of Get-AzureRMLog -CorrelationId xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx -DetailedOutput may get the required additional debug info

[2018-05-18 14:17] jim-minter commented on #2982
@ritazh fyi

[2018-05-18 15:04] ralbon commented on #2649
Just for information, I found my error which was related to the "nameSuffix". That may be not your case but we had a similar output error.

Configuration :
- Kubernetes 1.9.6
- ACS Engine 0.16.2

With my team, we modify "nameSuffix" value in the azuredeploy.json file in order to have friendly name for our virtual machine.

When we tried to scale, we had this error :
[code]
After investigation in A

[2018-05-18 15:05] hmarcelodn commented on #2411
@jackfrancis I tried to deploy CNI cluster a moment ago, Its still happening for 0.13.0 any suggestion?

[2018-05-18 15:28] PatrickLang opened #3012 "Code cleanup - remove stale Dockerfile for kubletwin/pause"
**Is this an ISSUE or FEATURE REQUEST?**
Issue - future code cleanup

---

**What version of acs-engine?**:
v0.17
---

Originally, `build-windows-k8s.sh` would package up a `Dockerfile` used to build the `kubletwin/pause` image. In #2976, I removed the need for that but didn't remove the existing `Dockerfile` in the ZIP because I didn't want to break acs-engine v0.16.x that still depends on it.

H

[2018-05-18 16:08] #3001 closed

[2018-05-18 16:45] neurot1cal commented on #2926
do we have a timeline on when we think this fix will be rolled into acs-engine? do we have a good understanding of where things are breaking down? i'm about to deploy another cluster, and i'll be avoiding VMSS again if theres no workaround for these extensions

[2018-05-18 16:48] hmarcelodn commented on #1806
Same issue with k8s 1.6.6 and acs-engine 1.16.2

[2018-05-18 16:54] hmarcelodn opened #3013 "VM has reported a failure when processing extension 'cse0' / Generating cluster CNI"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.13.1 & 0.16.2
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
1.6.6

**What happened**:
I want to create a regular cluster using CNI since Kubenet is not working fine either but after the deployment finished I received the error message:

**W

[2018-05-18 17:06] hensilva commented on #2922
I also tried with D2_v2 and D2_v3. Should I aim even higher?

[2018-05-18 17:34] jackfrancis commented on #2411
We haven't seen any problems w/ recently released v0.17.0, though there were some (backwards-compatible) changes to the network config definition. What do you mean by "CNI cluster"? A cluster backed by Azure CNI network plugin?

[2018-05-18 17:38] jackfrancis commented on #2999
Thanks for the update @anujshankar, of course this is not an acceptable workaround, we're investigating why 168.63.129.16 is dropping DNS requests from pod-originating traffic on some clusters.

[2018-05-18 17:39] hmarcelodn commented on #2926
@neurot1cal  how do you avoid VMSS ? Is there a way to do this in the apimode.json ? Thanks

[2018-05-18 17:49] neurot1cal commented on #2926
@hmarcelodn You define this in each of the agentPoolProfiles in the cluster definition (availabilityProfile). For example;

[code]

[2018-05-18 17:49] #2897 closed

[2018-05-18 17:57] ritazh commented on #2926
Thanks @CecileRobertMichon I think that might be it. I will take a look at this today in few hours. Sorry for the delay.

[2018-05-18 18:44] hmarcelodn commented on #2411
Hey @jackfrancis , yes that was what I meant with CNI.
There are some other issues like this around in the issues section
https://github.com/Azure/acs-engine/issues/2926
https://github.com/Azure/acs-engine/issues/2893

[2018-05-18 19:33] maxamillion commented on #2895
I've found the root cause of the `ansible-service-broker` issue with not applying the `nodeSelector` properly. The container image `registry.access.redhat.com/openshift3/ose-ansible:v3.9.25` has the `3.9.14` version of `openshift-ansible` (specifically the rpm N-V-R: `openshift-ansible-3.9.14-1.git.3.c62bc34.el7.noarch`). This was not expected and I had checked out a local git branch detached from

[2018-05-18 19:50] jackfrancis commented on #2411
@hmarcelodn Can you build using the same model w/ v0.17.0? We have added a bunch of specific exit codes to CSE which should help debug what's going wrong. Also, check for verbose logs in `/var/log/azure/cluster-provision.log` on one of the nodes that fails CSE.

[2018-05-18 20:13] neurot1cal opened #3015 "Unable to acs-engine deploy with v0.17.0: 'The number of template variables limit exceeded. Limit: '256' and actual: '257'"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
v0.17.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.10.2

**What happened**:
[code]

**What you expected to happen**:
Deploy successfully

**How to reproduce it** (as minimally and precisely as possible):
[code]

**Anything

[2018-05-18 20:25] jackfrancis commented on #3015
Is this a regression from v0.16.0?

[2018-05-18 20:36] neurot1cal commented on #3015
@jackfrancis I used this same definition in v0.16.2 successfully. Generated from scratch using this cluster definition.

[2018-05-18 20:39] neurot1cal commented on #3015
Same failure running from master;
[code]

[2018-05-18 20:40] jackfrancis commented on #3015
Yep, thanks. We'll look into how to deal with this for the next release. :(

[2018-05-18 20:49] jackfrancis commented on #2971
@svick7859 if you still have a repro-able environment are you willing to do some real-time troubleshooting?

[2018-05-18 20:51] jackfrancis commented on #2880
@keatz55 if you still have a repro-able environment with DNS errors to 168.63.129.16 would you be willing to do some real-time troubleshooting?

[2018-05-18 20:58] cyakimov commented on #2880
@jackfrancis We're seeing lots of `skydns: failure to forward request "read udp 172.21.8.5:39209->168.63.129.16:53: i/o timeout"` in AKS clusters deployed in a custom VNET.

[2018-05-18 21:00] jackfrancis commented on #2880
@cyakimov are you able to resolve DNS from the node itself? For example, find the node that the above pod log output is scheduled onto, and then ssh onto the node OS and try to resolve DNS from there.

[2018-05-18 21:03] cyakimov commented on #2880
I'm able to resolve DNS from a "failing" node. Ran a while loop doing `nslookup falabella.cl` for ~3 minutes; didn’t fail once. In some cases it's an intermittent issue; in other cases we had to drain the faulty nodes.

[2018-05-18 21:06] svick7859 commented on #2971
Hi Jack,

The environment is being torn down because MS said there was no more data to collect. They called today to let me know so I told the team to destroy the cluster and rebuild.

[cid:image001.jpg@01D21FC1.13144390]

Steve Vick
Devops Lead

CNH Industrial
6900 Veterans Boulevard
Burr Ridge, IL 60527 USA
Office +1 630-920-6504
Mobile  +1 331-454-8700

From: Jack Francis [mailto:notifications@

[2018-05-18 21:12] jackfrancis commented on #2880
If you're willing to do some more troubleshooting, my contact info is on my profile page: e-mail me the resource group and vm name and we'll see if that points us anywhere. Thanks!

[2018-05-18 21:31] neurot1cal commented on #3015
@jackfrancis Something else may be broken with extensions entirely, I removed all references to extesnsions in my clusterdef, and am getting this;

[code]

[code]

[2018-05-18 22:12] robbiezhang opened #3016 "Docker log rotation policy is not set for the Windows agent"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE REQUEST
---

**What version of acs-engine?**:
All
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes, all versions

**What happened**:
Docker's container log rotation policy is not set for the Windows agents. The containers' log is written into C:\ProgramData\docker\co

[2018-05-18 22:29] maxamillion commented on #2895
Unfortunately updating everything to `3.9.27` which does have version matching between RPM content and container image versions, it still didn't schedule these on the infra nodes. I'll follow up when I know more.

[2018-05-18 22:33] jsturtevant commented on #2027
The DNS issue does not seem unique to Windows (#2999, #2880) as of a few days ago. I am not able to access external address from windows or linux pods with the latest release.

[2018-05-18 23:58] jackfrancis opened #3017 "Document vm and k8s DNS operational requirements"
- What does a fully operational DNS environment look like for cluster node vms, and for scheduled pods
- What are the considerations for running inside a custom VNET
- What are the options for running your own DNS?

[2018-05-19 04:49] anujshankar commented on #2999
Sure @jackfrancis - let's do it.
How do we want to do it?
Can you share your mail id?

[2018-05-19 08:29] anujshankar commented on #2999
nslookup failure from inside the pod.

[code]

[2018-05-19 08:34] anujshankar commented on #2999
@jackfrancis take a look at the nslookups below fired from within a pod.

Any thoughts around this?

[code]

[2018-05-19 20:08] karlmutch commented on #2828
Thanks, I believe that we are seeing the same cause.  Possibly the only action to come from this might be for an improvement that displays an error message rather than a full stack trace.

[2018-05-20 02:03] colemickens opened #3021 "Why was timesync disabled?"
RE: https://github.com/Azure/acs-engine/blob/master/parts/k8s/kubernetescustomscript.sh#L503

Is this because of bugs in the kernel implementation, or is this because kubelet/kubernetes can't handle the clock shifts?

For users on newer kernels, unaffected by that bugfix, is it safe to enable TimeSync (or rather, not disable it)?

[2018-05-21 08:05] karataliu opened #3022 "Add mount.nfs when kubelet running outside container"
mount.nfs was available in hyperkube image, but not in the deployed agent nodes.

So user would be able to mount NFS volume when using kubelet in container, but after #2584 brings kubelet out, this would fail.

For example, e2e case `[sig-storage] Volumes NFS should be mountable` would fail when kubelet running outside container.

acs-engine version:
workable: v0.14.0
not work v0.17.0

Related: ht

[2018-05-21 11:09] windoze opened #3024 "Cannot deploy generated ARM template to AzureChinaCloud"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
[code]
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
`az group deployment create -g "rg-name" --template-file azuredeploy.json --parameters @azuredeploy.parameters.json --verbose` always fail with error:
[cod

[2018-05-21 13:19] hmarcelodn commented on #906
Exactly the same issue here

[2018-05-21 13:42] hmarcelodn opened #3025 "Nodes are getting Lost everytime with High Disk IO usage. Cant ssh is available either."
**Is this a request for help?**:

YES
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.5.0, 0.16.2, 0.17.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Nodes are getting lost from 3 weeks ago. I deployed the cluster several times with different acs-engine versions and its not fixed. I can s

[2018-05-21 13:46] hmarcelodn commented on #3025
https://github.com/Azure/acs-engine/issues/906

[2018-05-21 14:51] kunaljha5 commented on #2826
journalctl -xeu kubelet
-- Subject: Unit kubelet.service has finished start-up
-- Defined-By: systemd
-- Support: http://lists.freedesktop.org/mailman/listinfo/systemd-devel
--
-- Unit kubelet.service has finished starting up.
--
-- The start-up result is done.
May 21 10:47:38 k8s-master systemd[1]: Starting kubelet: The Kubernetes Node Agent...
-- Subject: Unit kubelet.service has begun start-up

[2018-05-21 15:19] kargakis opened #3026 "Increase log level in the openshift control plane"
@pweil- @jim-minter opening for discussion since I am torn.

We are setting up and starting the control plane ourselves (no ansible) as part of the master script. Once we switch to static pods there won't be any big difference. I see two possible actions for increasing the loglevel in the e2e tests:

1. update log level in the config (sysconfig or pod manifests) after a deployment is done but befo

[2018-05-21 15:43] kruthe01 commented on #2880
FYI, we are following this since we are experiencing what appears to be the exact same problem.

[2018-05-21 17:08] #2981 closed

[2018-05-21 17:17] CecileRobertMichon commented on #2922
@hensilva D2_v2 and v3 should be enough. If it is still failing, could you check that you can build a simple VM in your vnet and run `apt-get update` or `curl -fsSL https://aptdocker.azureedge.net/gpg` ? My guess is that your vnet either a) has an NSG rule that prevents outbound access or b) there is a firewall in place preventing your from accessing dependencies such as ubuntu.com... In order the

[2018-05-21 17:20] CecileRobertMichon opened #3027 "Write docs on troubleshooting CSE extension error"
A lot of acs-engine deployment errors come from VM extension failing to run the custom script and those can happen for a variety of reasons. We should have a self-serve doc (or maybe an issue) with common user errors and how to debug those errors.

[2018-05-21 17:34] CecileRobertMichon commented on #2962
Could you please paste the output of `ls -l /etc/kubernetes/certs/`? Also make sure that `/usr/bin/etcd` exists. Can you paste the end of the journalctl logs? Looks like the one you sent above is incomplete.

[2018-05-21 17:43] CecileRobertMichon commented on #2962
I wonder if https://github.com/Azure/acs-engine/issues/1806#issuecomment-384033456 is related

[2018-05-21 17:49] #2926 closed

[2018-05-21 18:26] neurot1cal commented on #3015
@CecileRobertMichon Interesting... I'm working from master after the PR just went through;
[code]

for the extensions fix, but I'm still seeing an `ERRO[0007] {"error":{"code":"InvalidTemplate","message":"Deployment template validation failed: 'The resource 'Microsoft.Compute/virtualMachines/k8s-linuxpool1-35976173-0/extensions/cse-master-0' is not defined in the template. Please see https://aka.m

[2018-05-21 18:29] CecileRobertMichon commented on #3015
@neurot1cal the PR to fix VMSS and Windows isn't merged yet (#3031). The one that went in fixed Promotheus with k8s and Linux.

[2018-05-21 18:30] neurot1cal commented on #3015
@CecileRobertMichon Not using VMSS here if you look at the Cluster Definition - This is using `AvailabilitySet`.

[2018-05-21 18:31] CecileRobertMichon commented on #3015
Hmm let me try to repro, thanks for catching that!

[2018-05-21 22:56] jim-minter commented on #3026
I'm tempted to do nothing for now.  Would it help to express more clearly /why/ we think it would be necessary to do this?

[2018-05-21 22:58] jim-minter opened #3032 "openshift: should not to go get in generate - use make bootstrap"
The openshift code contains `//go:generate ... go get ...` which creates a dependency on network access to build.  These should move to the bootstrap Makefile target.

[2018-05-22 02:34] colemickens commented on #3021
I don't really get it. Maybe the clock adjustment was jumping such that `apt` wasn't triggering? Blame traces the change back to this PR at least: https://github.com/Azure/acs-engine/pull/817

Anyway, seems like it's less about Kubernetes and more of an apt-ism, so I'm going to go ahead and close this.

[2018-05-22 04:18] neurot1cal commented on #3015
@CecileRobertMichon I was able to get the ARM deployment to actually go by modifying `azuredeploy.json` by changing;

[code]

to

[code]

This caused template validate to stop failing, but once the cluster spun up all of the prometheus CSE's failed;
![image](https://user-images.githubusercontent.com/11523744/40341885-78c4f030-5d3c-11e8-825c-cd1b81166413.png)

[code]

[2018-05-22 08:07] kargakis commented on #3026
The control plane currently runs on loglevel=2 which is too low for debugging. In Origin, e2e tests run with 4.

[2018-05-22 09:39] malachma opened #3034 "Adding new agentPool is not possible without interrupting existing services running in an existing agentpool"
**Is this a request for help?**:
Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:

---
0.16
but happend also with any other version tested out before
0.12
0.14
0.15

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:

Addign another pool to an existing one is not possible without facing a small int

[2018-05-22 10:36] kargakis commented on #2982
/kind flake

[2018-05-22 10:37] kargakis commented on #2952
/kind flake

[2018-05-22 10:39] kargakis commented on #2918
/kind flake

[2018-05-22 11:46] kargakis commented on #2960
/kind flake

[2018-05-22 12:10] pweil- commented on #3026
we really need the ability to change loglevel at runtime.

2 seems like the best option but it seems less useful if it cannot be used on an existing cluster.  That would be the bar for me.   Not sure how easy that is.

[2018-05-22 13:39] hmarcelodn commented on #3025
@jackfrancis Hey could you help me on that ?? We are experiencing this every moment and again losing nodes in Production. Is there a way we can RAID system disks so we can increse IOPS ? Kubelet seems to be reading quite a lot.

I appreaciate if I can a feedback on that from you may be you can indicate us how to proceed with this?

[2018-05-22 13:41] windoze commented on #3027
Yes I've met the issue #3024 and don't know where to find docs.

[2018-05-22 13:43] sam-cogan commented on #2828
Yep, that looks like the reason, works fine for me now permissions are correct.

[2018-05-22 15:46] karlmutch commented on #2828
@jackfrancis If the only action from this is that there could be an improvement to logging to make it apparent that a permissions issue exists when creating the cluster, should I close this, or reword this as a request to improve logging when permissions problems exist for service principals ?

[2018-05-22 16:27] sam-cogan opened #3037 "Services not working with Windows 1803 Containers"
**Is this a request for help?**:
No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
issue

---

**What version of acs-engine?**:
Master
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.10

**What happened**:
When using Windows 1803 Images (with recent fixes in master) it is not possible to access cluster internal resources via services. A simple http base

[2018-05-22 16:39] jackfrancis opened #3038 "deal with backtick (`) chars in sp keys"
Exact details TBD, but from a high level we should either fail validation or escape backticks. Observation suggests that currently we're not dealing with it at all which yields non-deterministic side-effects during deployment.

[2018-05-22 17:15] neurot1cal commented on #3015
@CecileRobertMichon Awesome! Thank you

[2018-05-22 17:33] jim-minter commented on #3026
@kargakis can we table this for the architecture call?  I feel there's way more to talk about here than meets the eye.  I've added a topic to the arch topics doc.

[2018-05-22 18:01] jackfrancis opened #3039 "check servicePrincipalProfile for correct permissions"
Rather than deploy and fail much later, let's add a pre-check to validate the required servicePrincipalProfile permissions before deploying.

[2018-05-22 18:06] jackfrancis commented on #3025
@hmarcelodn What is the current IOPS limit of the disks you're seeing this on?

[2018-05-22 19:35] karlmutch opened #3040 "Procedure for recovering deleted nodes is unknown"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
v0.16.2
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
k8s 1.9.7

**What happened**:
When using GPUs inside the cluster some nodes never successfully increased their GPU instance counts from 0 to 1.

In an attempt to replace the affected no

[2018-05-22 19:54] hmarcelodn commented on #3025
@jackfrancis  I had 500 IOPS from an Standard_D2_v2 with 30 GB. I just deployed a Standard_DS2_V2 (which uses Premium Disks by default) with Premium Disks with 250 GB + 1100 IOPS. It is in production now running after I regenerated the cluster. I am going to monitor this and see what happens. Is there a best practice for a production ready cluster in terms of recommended IOPS ? Thanks !!

[2018-05-22 22:03] Netdoc41 opened #3042 "generating azure templates"
**Is this a request for help?**:
yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
It may be an issue
---

**What version of acs-engine?**:
17
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.7.2

**What happened**:
I have run into a few problems that surface themselves different times depending on what i try. I will try to be descriptive but not so much

[2018-05-22 22:30] CecileRobertMichon commented on #3038
Right now we have single quotes around it to allow special characters https://github.com/Azure/acs-engine/pull/2255 but not sure how we can deal with ` characters

[2018-05-22 23:23] vap0rtranz opened #3043 "openshift.json clarify imageReference"
**Is this a request for help?**:
YES
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
Version: v0.17.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Openshift

**What happened**:
deploy failed

**What you expected to happen**:
deploy succeed

**How to reproduce it** (as minimally and precisely as possible):
[code]

**Anythi

[2018-05-22 23:30] JunSun17 opened #3044 "Calico not working in v0.17.0"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

**What version of acs-engine?**:

v0.17.0

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

default

**What happened**:

Calico network policy is not enforced.

**What you expected to happen**:

**How to reproduce it** (as minimally and precisely as possible):

**Anything else we need

[2018-05-22 23:58] CecileRobertMichon commented on #2926
@neurot1cal #3031 is merged. I'm in the process of releasing a patch including both @ritazh 's PR and this latest one. Good news is that extensions are fixed. Bad news is that they still don't work with VMSS.... which was never the case. I have ideas on how to make them work but it will require some re-design so I didn't want to hold this PR for it since it's an important bugfix.

[2018-05-23 00:42] ozdanborne commented on #3044
@jackfrancis I think there was some confusion during the NetworkPolicy / NetworkPlugin split. Calico requires the cluster be set to `--networking=cni`, not `--networking=kubenet`. I believe the recent changes are launching it with kubenet, which causes the behavior that OP is seeing.

[2018-05-23 02:22] hmarcelodn commented on #3025
![image](https://user-images.githubusercontent.com/5897525/40400079-eefb0732-5e16-11e8-8d66-5aa12cf77089.png)

After the change I can see a lot of activity again @jackfrancis

[2018-05-23 03:11] huajunzhao commented on #3015
Hi @CecileRobertMichon,

Thanks for the fix.

It looks like the deployment is still failed.

OPERATION ID7D0BCEDB12F43E24
TRACKING ID5b69691b-120d-4f72-8189-a9220448301e
STATUSConflict
PROVISIONING STATEFailed
TIMESTAMP5/23/2018, 10:53:39 AM
DURATION36 minutes 27 seconds
TYPEMicrosoft.Compute/virtualMachines/extensions
RESOURCE ID/subscriptions/58043194-91b4-4390-be55-dd64251a67bd/resourceGroups/k

[2018-05-23 03:22] #3021 closed

[2018-05-23 04:31] CecileRobertMichon commented on #3015
@huajunzhao this looks like a separate issue. Please open a new issue and include the apimodel (make sure you remove secrets) you are using to create the cluster.

[2018-05-23 05:01] rakidu opened #3046 "Trend Micro Installation on ACS-Engine deployed kubernetes cluster"
**Is this a request for help?**:
yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
13.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.8.7

**What happened**:
We are Installing TrendMicro security application on Kubernetes cluster at machine level(not pod level)
We need to list out all the ports that are requ

[2018-05-23 06:08] huajunzhao opened #3047 "Deploy kubernetes via ACS-engine on China Azure failed."
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of    ###acs-engine?**:
[code]
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:

The deployment was failed with the below error from cli

[code]

**What you expected to happen**:

Succesful

**How to reproduce it** (as minimally and

[2018-05-23 06:09] huajunzhao commented on #3047
#3024

[2018-05-23 06:17] feiskyer commented on #3047
cc @andyzhangx

[2018-05-23 06:39] andyzhangx commented on #3047
@huajunzhao would you specify `"location": "chinanorth",` in kubernetes.json, and try again:
[code]

[2018-05-23 11:42] kargakis opened #3049 "Version openshift e2e tests?"
Something that was left out of the [versioning PR](https://github.com/Azure/acs-engine/pull/2908) is e2es and we hit a test version drift even before the first PR in unstable landed :)

Question: Should we version the e2e tests or try to manage versions inside the tests?

@jim-minter @pweil- @kwoodson @mjudeikis

[2018-05-23 12:10] kichristensen commented on #2911
I got the exact same issue

[2018-05-23 12:22] jwilander opened #3051 "Following kubernetes deploy guide fails on 0.17.1"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: 0.17.1

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes 1.9

**What happened**:

I followed the [kubernetes deploy guide](https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/deploy.md) and ran

[code]

I used the def

[2018-05-23 12:53] pweil- commented on #2550
To add to the ways that defaulting may occur, templates also play a role in this because we expose so many functions to the template.  For instance, when determining the image offering to use we provide mappings of distro to image configuration that expose methods like `GetMasterOSImageOffer` which rely on the cloud spec configs.

I would suggest that we make the templates as simple as possible by

[2018-05-23 13:05] andyzhangx commented on #3022
Hi @jackfrancis nfs mount is broken on a non-containerized kubelet.

[2018-05-23 13:59] pweil- commented on #3049
whoops.  I'd like to hope that the drift is generally small since we need to maintain backwards compatibility for at least n-1 api calls.  Famous last words though.

In any case I'd want to reuse as much as possible in the tests.  Maybe start with an in-test handle and if it bites us again we rethink it?

[2018-05-23 14:04] kargakis commented on #3049
Yeah, I also slighlty prefer starting with in-test checks for now.

[2018-05-23 14:16] mjudeikis commented on #3043
/kind documentation

[2018-05-23 14:16] mjudeikis commented on #3043
/kind backlog

[2018-05-23 14:17] hmarcelodn commented on #3025
https://github.com/kubernetes/kubernetes/issues/64108 Related

[2018-05-23 16:03] kargakis opened #3054 "openshift: mysterious kubelet failure"
I run a deployment of 3.9 to test https://github.com/Azure/acs-engine/pull/3053 and the master node never came up until I restarted `origin-node`.

I was seeing the following error in its journal:
[code]
I had a look at the node config and azure.conf but both seemed fine (and the process came up fine once I restarted it).

Another thing to note here is that because it took some time for the master

[2018-05-23 16:16] vap0rtranz commented on #3043
I found an imageReference that @haroldwongms is using in the previous, pre acs-engine buildout of Openshift.  Looks like it is a RHEL 7 image. https://github.com/Microsoft/openshift-container-platform

I'll try it with acs-engine.

[code]

[2018-05-23 16:22] CecileRobertMichon opened #3056 "Promotheus extension doesn't work with Wndows"
We should
1) Add validation to error if user tries to deploy an extension on windows that isn't supported (short term)https://github.com/Azure/acs-engine/blob/d0fbe11d334e9c90efceaaf39c1e304e471652d8/pkg/api/vlabs/validate.go#L1024

2) See how we can extend what is there for Linux to Windows (long term)

[2018-05-23 16:27] jim-minter commented on #3054
@kargakis agreed - open issues upstream + a tracking issue here?

[2018-05-23 16:37] mikey- commented on #3051
Seems to be the same or 0.17.1 but not for 0.16.1.

[2018-05-23 16:52] vap0rtranz commented on #3043
This type of imageReference, which may be a Marketplace type, fails API model check in acs-engine.
[code]

[2018-05-23 16:54] vap0rtranz commented on #3043
/label orchestrator/openshift

[2018-05-23 17:06] pweil- commented on #3054
that error message is suspiciously like when you get an html 404 page (or something similar) for something we're expecting to return a json response.  I suspect config error or a down api.

[2018-05-23 18:07] neurot1cal opened #3057 "Unable to reach kubernetes-dashboard in acs-engine v0.17.1 generated 1.10.3 cluster"
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

**What version of acs-engine?**:

v0.17.1

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.10.3

**What happened**:
![image](https://user-images.githubusercontent.com/11523744/40442667-2a2fee50-5e79-11e8-956c-33dc01e7dbb3.png)

[code]

**What you expected to happen**:
Das

[2018-05-23 18:32] ptrstpp950 opened #3058 "Error in dnsPrefix in 0.17.1"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.17.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
I run a command from the [tutorial](https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/deploy.md). When my json contains:
[code]
The error appears:

When I added `"dnsPrefix": "somethi

[2018-05-23 18:38] CecileRobertMichon commented on #3051
https://github.com/Azure/acs-engine/pull/2771 added validation in acs-engine deploy. It wasn't failing before because no validation was done. We need to update the docs to reflect that and make sure that the validation makes sense.

[2018-05-23 18:39] CecileRobertMichon commented on #3058
Closing as this is a duplicate of #3051

[2018-05-23 18:39] #3058 closed

[2018-05-23 18:41] CecileRobertMichon commented on #3051
Also https://github.com/Azure/acs-engine/issues/2933 needs to be fixed to address the client id/secret issue

[2018-05-23 19:29] ptrstpp950 opened #3060 "Sku not available error"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: 0.17.1

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
I tried to follow a basic tutorial, and whatever size of the machines I set I end up with following error:

**What you expected to happen**:

**How to r

[2018-05-23 19:30] PatrickLang commented on #3037
Can you try changing the CNI config to "bridge" and see if that changes anything?

https://github.com/Azure/acs-engine/pull/3045 has more info on service VIP problems. It's still a work in progress trying to doc things that are currently needing extra workarounds.

[2018-05-23 19:31] SeanTurner026 opened #3061 "Where to find cluster-name generated by acs-engine"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
Version: canary
GitCommit: 3482257e
GitTreeState: clean
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Unable to get cluster-name. This is used when running azure cli commands such as `az acs kubernetes browse

[2018-05-23 19:33] omartin2010 opened #3062 "VMSS is broken on 0.17.1"
**Is this a request for help?**:yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):ISSUE

---

**What version of acs-engine?**:0.17.1

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** : Kubernetes

**What happened**:Can't deploy following the instructions [here](https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/deploy.md) and following the template inclu

[2018-05-23 19:39] jim-minter opened #3063 "openshift: failing to install insights-client on centos"
failed: [137.117.85.228] (item=insights-client) => {"attempts": 3, "changed": false, "item": "insights-client", "msg": "No package matching 'insights-client' found available, installed or updated", "rc": 126, "results": ["No package matching 'insights-client' found available, installed or updated"]}

[2018-05-23 19:39] jim-minter commented on #3063
@kwoodson please can you handle

[2018-05-23 19:39] jim-minter commented on #3063
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_conformance_azure/2

[2018-05-23 19:45] kwoodson commented on #3063
@jim-minter sure. Need to track down a repository that has this rpm.

[2018-05-23 19:56] omartin2010 commented on #3062
i fount out this also seems to be broken with the ["long way"](https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/deploy.md#acs-engine-the-long-way) version of the process. A missing parameter in the generated parameter file (azuredeploy.parameters.json) seems to be the source of the problem. Here's an output of the error message I forgot to put above :
{
  "error": {
    "code": "Inv

[2018-05-23 20:05] jackfrancis commented on #2999
@anujshankar Just to confirm, are you using the Azure CNI network implementation on your cluster? (`--network-plugin=cni` kubelet runtime config option)

[2018-05-23 20:06] jackfrancis commented on #2971
Is everyone on this thread using the Azure CNI network implementation on clusters experiencing these symptoms? (`--network-plugin=cni` kubelet runtime config option)

[2018-05-23 20:06] jackfrancis commented on #2886
Is everyone in this thread using the Azure CNI network implementation on clusters experiencing these symptoms? (`--network-plugin=cni` kubelet runtime config option)

[2018-05-23 20:08] jackfrancis commented on #2880
Is everyone in this thread using the Azure CNI network implementation on clusters experiencing these symptoms? (--network-plugin=cni kubelet runtime config option)

[2018-05-23 20:49] kwoodson commented on #3063
@jim-minter,

https://github.com/openshift/openshift-ansible/pull/8504

[2018-05-23 20:52] CecileRobertMichon opened #3064 "VMSS deployment is broken in 0.17.1"
PR that caused the regression: #3031

PR to fix it: #3059

Planning to release 0.17.2 with the fix shortly.

[2018-05-23 20:57] CecileRobertMichon commented on #3062
@omartin2010 please see #3064. Please use version v0.17.0 in the meantime.

[2018-05-23 21:01] jim-minter commented on #3063
great - please close this when it merges - thanks!

[2018-05-23 21:27] keatz55 commented on #2880
@jackfrancis We are using Azure CNI as well

[2018-05-23 21:35] srinathnarayanan commented on #3060
I am also encountering this issue when I try to deploy to East US 2. I ran
Get-AzureRmComputeResourceSku | where {$_.Locations -icontains "eastus2"} to see which VM types were available, and it looked like none of them were available in that region for my subscription.
How can I enable these VM types in this region for my subscription?

[2018-05-23 22:02] CecileRobertMichon commented on #3060
https://docs.microsoft.com/en-us/azure/azure-supportability/sku-series-unavailable

[2018-05-23 22:02] CecileRobertMichon commented on #3060
@ptrstpp950 @srinathnarayanan were you able to deploy in those regions before?

[2018-05-23 22:04] CecileRobertMichon commented on #3061
@SeanTurner026 your cluster name would be your dns prefix provided in either the apimodel or as a flag when running `acs-engine deploy`. However `az acs kubernetes browse -g <resource-group-name> -n <cluster name>` is an ACS command (not acs-engine)...

[2018-05-23 22:08] CecileRobertMichon commented on #3061
To be clear, there is no acs-engine command in the az cli...

[2018-05-23 22:12] sharmasushant commented on #2880
@cyakimov AKS default is not Azure CNI. You can validate this on the agent VM by looking at /opt/cni/bin and /var/lib/cni/networks

[2018-05-23 23:33] omartin2010 commented on #3062
I did try using v0.17.0 and experimented another issue :
➜ az group deployment create --name acs-cluster-1-deployment -g acs-cluster-1 --template-file ./azuredeploy.json --parameters ./azuredeploy.parameters.json
Deployment failed. Correlation ID: 365b4205-2ac2-4a54-841b-086d7b7c2706. {
  "error": {
    "code": "PropertyChangeNotAllowed",
    "target": "customData",
    "message": "Changing proper

[2018-05-23 23:33] #3064 closed

[2018-05-23 23:42] #2916 closed

[2018-05-23 23:43] #2574 closed

[2018-05-23 23:43] #2793 closed

[2018-05-23 23:44] CecileRobertMichon commented on #3062
@omartin2010 try using a different dns prefix

[2018-05-24 02:07] anujshankar commented on #2999
@jackfrancis yes we are using Azure CNI network implementation and we are running kubelet with `--containerized` flag.

[2018-05-24 02:12] SeanTurner026 commented on #3061
Thank you for the response.

Yeah I realise that acs-engine is separate from the az cli, I only asked because I saw on https://github.com/Azure/acs-engine/blob/master/docs/clusterdefinition.md that the "--cluster-name" was auto generated. That said, I've tried the passing in the value for my DNS-prefix before and haven't had any luck.

[2018-05-24 03:19] feiskyer commented on #2911
Seems this is a Azure CNI plugin setup issue? Could you show the cni configure file? I'm using none network policy, which runs smoothly.

[2018-05-24 03:26] navicore commented on #3062
same here, `The template variable 'agentpool1Offset' is not found.` with vmss and pre-existing vnet and v0.17.1 but works with v0.17.0.

[2018-05-24 04:43] huajunzhao commented on #3047
@andyzhangx yes, this works.

I was also following https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/windows.md to deploy the Windows server as agent. All looks good but only the extension on master failed.

![image](https://user-images.githubusercontent.com/3183325/40464781-d4a4c5fa-5f4f-11e8-96df-bf11a8a355e8.png)

![image](https://user-images.githubusercontent.com/3183325/40464798

[2018-05-24 07:26] ptrstpp950 commented on #3060
I never tried to deploy ACS anywhere. I tried this even on 2 different subscriptions, and still no luck. If you need I can post generated ARM template.

[2018-05-24 08:55] kargakis commented on #3054
Opened https://github.com/openshift/openshift-ansible/issues/8507

[2018-05-24 09:27] mjudeikis commented on #3043
@vap0rtranz issue is that current images are only available if you have the right subscription.

It is because this deployment is using golden images. It needs to be made clear in the documentation. For now, it is not yet fully publicly available. If you use your personal account for this, you will not see images even if you know the right reference.

Work in progress here :)

[2018-05-24 11:18] kargakis opened #3067 "The task includes an option with an undefined variable. The error was: 'l_os_registry_url' is undefined"
3.10 deployment - the template service broker failed to install with the following error
[code]

@jim-minter @kwoodson

[2018-05-24 11:35] kargakis opened #3068 "[3.10] apiserver static pod may restart on startup causing ansible to fail"
[code]
Seems like the api server was restarted in the meantime
[code]

@jim-minter @pweil- @kwoodson

[2018-05-24 12:01] pweil- commented on #3054
/kind bug
/orchestrator openshift

[2018-05-24 12:12] hieuhc commented on #2962
Hi again.
Yes ```/usr/bin/etcd``` exists. I attach complete journalctl logs [here](https://github.com/Azure/acs-engine/files/2035217/journalctl.log).
Output of ```ls -l /etc/kubernetes/certs/```:
[code]

[2018-05-24 12:17] kargakis opened #3070 "[3.10] nginx build failure"
[code]
@jim-minter @kwoodson @mjudeikis

[2018-05-24 12:26] mjudeikis commented on #3070
it does not use DNS for registry. O_o bootstrapping?

[2018-05-24 12:51] rocketraman commented on #2886
@jackfrancis Yes, azure CNI here as well.

[2018-05-24 13:41] sam-cogan commented on #3037
I've changed to using bridge on teh Windows node, rebooted it and recreated the pods, and still seeing the same issue. Anything else I should be doing?

[2018-05-24 15:02] jackfrancis commented on #2886
Thanks all for checking in on network config. @khenidak FYI

[2018-05-24 15:06] jackfrancis commented on #2880
@khenidak FYI. A bit more heterogeneity in this thread

[2018-05-24 16:33] CecileRobertMichon commented on #3060
@ptrstpp950 you need to make a capacity request. See the link I posted above.

[2018-05-24 16:36] CecileRobertMichon commented on #3054
/label orchestrator/openshift

[2018-05-24 16:52] CecileRobertMichon commented on #3061
Please see https://github.com/Azure/acs-engine/blob/6a0221787a5f2e1cd0f601639b4ee32a8a59adff/pkg/acsengine/defaults-controller-manager.go#L28

The controller-manager  `--cluster-name` flag is "auto-generated" as in is derived from the DNS prefix. Note that this is different from the `--cluster-name` flag in az cli commands.

[2018-05-24 17:06] CecileRobertMichon commented on #3047
@huajunzhao the second error you pasted is different from the first. Exit code 9 means that we weren't able to install docker... Can you try running `apt-get install apt-transport-https ca-certificates iptables iproute2 socat util-linux mount ebtables ethtool init-system-helpers` on the master VM that failed (in the latest deployment)? Also check /var/log/azure/cluster-provision.log on the second

[2018-05-24 17:11] CecileRobertMichon commented on #3042
Hi @Netdoc41, it looks like you are running into several different issues so let's try to fix them one at a time :) Have you tried following https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/deploy.md#acs-engine-the-long-way?

[2018-05-24 17:31] #2636 closed

[2018-05-24 17:40] pweil- opened #3072 "go-bindata dependency update"
In the `Makefile` we are pulling github.com/jteeuwen/go-bindata which is an unmaintained repository.

@jackfrancis any reason not to use github.com/go-bindata/go-bindata?  I had that on my path so I wasn't using the makefile's binary and the only diff I noted was a `//DO NOT EDIT` comment.

/cc @jim-minter

[2018-05-24 17:41] pweil- commented on #3032
https://github.com/Azure/acs-engine/pull/3073
https://github.com/Azure/acs-engine/issues/3072

[2018-05-24 17:47] pweil- commented on #3072
actually, my local might be old too.  I renamed the binary and didn't see any diffs.  Will submit a PR for you to review.

[2018-05-24 17:51] pweil- commented on #3072
https://github.com/Azure/acs-engine/pull/3074

[2018-05-24 18:26] #3061 closed

[2018-05-24 18:47] richerlariviere opened #3075 "useManagedIdentity not in documentation"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE REQUEST
---

**What version of acs-engine?**:
[code]
---

I want to deploy a 1.10.3 Kubernetes cluster using acs-engine and I found in some kubernetes.json examples the `useManagedIdentity` property. When I looked in the documentation (https://github.com/Azure/acs-engine/blob/master/docs/cluster

[2018-05-24 19:01] PatrickLang commented on #3037
my mistake - `bridge` isn't implemented yet so its not a valid workaround. we're working on a hotfix, and I'll use this issue to track it.

[2018-05-24 19:01] PatrickLang commented on #3037
cc @dineshgovindasamy

[2018-05-24 19:39] billpratt opened #3076 "Deploy to Kubernetes does not create service principal like docs state"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: HEAD

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes

**What happened**:

Service Principal is not created when running ```acs-engine deploy``` and not specifying a SP.

[code]

**What you expected to happen**:

According to [D

[2018-05-24 19:40] Netdoc41 commented on #3042
I think i got the ssh part down. that was a " problem. but the other two i just mentioned not so much here is screenshot https://imgur.com/a/gUFRBB3

[2018-05-24 20:02] vap0rtranz commented on #3043
@mjudeikis oh my bad.

I'm going to close this b/c you'll will probably call out those images in the doc once this is live.

[2018-05-24 20:02] #3043 closed

[2018-05-24 20:19] jackfrancis opened #3078 "investigate systemd failures"
See:

https://github.com/systemd/systemd/pull/6392

[2018-05-24 20:34] sozercan commented on #2956
Looks like `/dev/nvidia-uvm` is not present after a node is rebooted. Workaround is to call `nvidia-modprobe -u -c0` and restarting kubelet in each node after they are rebooted. Looking into this.

[2018-05-24 20:42] CecileRobertMichon commented on #3076
Hi @billpratt this is a known issue, please see https://github.com/Azure/acs-engine/issues/2933

[2018-05-24 20:43] CecileRobertMichon commented on #3076
Closing this issue since it's a duplicate and we are already tracking in #2933

[2018-05-24 20:43] #3076 closed

[2018-05-24 21:15] Netdoc41 commented on #3042
update... Even though the generated templates did not like the upload feature of Azure. Scripting it actually did create everything. Have not testing 100% yet to see if it all is happy

[2018-05-24 21:24] CecileRobertMichon opened #3080 "DCOS e2e test is unreliable"
The DCOS e2e tests fail frequently with this error:

[code]

[2018-05-24 21:32] mwieczorek commented on #3075
@richerlariviere take a look at first point in: https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/features.md

[2018-05-24 21:32] dmitsh commented on #3080
@CecileRobertMichon
The error message is not very descriptive.
Could you add more logs and see where the problem happens?
Also, does it happen if you run the test in Jenkins, instead of CircleCi?

[2018-05-24 22:15] khenidak commented on #2971
Here is a quick status update:

There are two problems happening concurrently, while similar they are not related:

1. `kubedns` stops resolving names and logs 'i/o timeout` while connecting to VNET DNS server. A transient connection error - to metadata endpoint ` becomes persisted error in `kubedns`. The pod network namespace can connect to external and internal vnet ips. And you can confirm this

[2018-05-24 22:52] CecileRobertMichon commented on #3080
Here is an example: https://circleci.com/gh/Azure/acs-engine/28211

[2018-05-24 22:54] CecileRobertMichon commented on #3080
This is where the error occurs: https://github.com/Azure/acs-engine/blob/d65c809a929e1e4684b0a98fd7ddbfda48ca20c8/test/e2e/dcos/dcos_test.go#L66

[2018-05-24 22:58] dmitsh commented on #3080
@CecileRobertMichon We are running dozens of dcos test in our own framework, and we don't experience this type of problem. Do you see same issue when you run this test in Jenkins?

[2018-05-24 23:02] CecileRobertMichon commented on #3080
We don't run a DCOS in Jenkins, only in circleci. If it is a circleci issue, should we disable the test on circleci?

[2018-05-24 23:04] dmitsh commented on #3080
No, we should not disable tests in circle ci. Could you run ad-hoc test in Jenkins and see whether you reproduce the problem?

[2018-05-24 23:05] dmitsh commented on #3080
Regarding CircleCI, is there a way to ssh to the node that runs the test?

[2018-05-24 23:14] CecileRobertMichon commented on #3080
I don't have time to investigate today, will look into it tomorrow/next week. We can ssh into the node given that it hasn't been cleaned up which in the above case it has. I'll set up a Jenkins job to try and repro, one test won't be enough since this error is transient.

[2018-05-24 23:32] dmitsh commented on #3080
I can point you to our Jenkins server that runs multiple dcos regression tests and performs similar (actually more strict) validation of the cluster. We do not observe this type of failure.
I can pair with you in this investigation, but I would start with adding more error details. The ssh.*ExitError is returned then the command completes unsuccessfully or is interrupted by a signal. It would be h

[2018-05-25 00:38] #2754 closed

[2018-05-25 02:07] anujshankar commented on #2999
For Reference -> @khenidak has posted the workaround in ticket #2971

[2018-05-25 02:42] andyzhangx commented on #3047
I also tried to deploy a windows k8s cluster on chinacloud, it also failed, master node could not connect to `azure.archive.ubuntu.com`, I will file a ticket to china cloud support.

[code]

[2018-05-25 02:50] andyzhangx commented on #3047
I also found that sometimes it's an intermittent network issue, is there any way to continue the existing deployment? @CecileRobertMichon

[2018-05-25 03:28] sanjusoftware commented on #2971
Thanks 🙏 @khenidak for helping us troubleshoot this issue. Looking forward to a permanent solution sooner, while we keep moving with this temp solution

[2018-05-25 07:54] kargakis commented on #3070
/remove-label orchestrator/openshift

[2018-05-25 07:54] kargakis commented on #3070
/label orchestrator/openshift

[2018-05-25 07:59] kargakis commented on #3026
/label orchestrator/openshift

[2018-05-25 09:54] LaurentLesle commented on #3062
I managed to get it working by using ACS-engine version 0.17.0 and kubernetes 1.10.2. I deployed the VMSS into existing vnet.
Any version greater than 0.17.0 fails with same errors as described above

[2018-05-25 09:54] jakubmalin commented on #2573
Any new update on this? I am experiencing the same issue with:
acs-engine version Version: v0.16.2

Has anyone went through this issue and finally connected to the pod?

[2018-05-25 10:42] kargakis commented on #3068
Similar issue on a different place (failed to create the autoapprover)
[code]
The apiserver container restarted once again.
[code]
From `docker ps -a`:
[code]
I can't infer anything from the dead container log:
[code]

[2018-05-25 10:43] kargakis commented on #3068
/kind bug

[2018-05-25 10:45] kargakis commented on #3068
Seems like 137 is OOM

[2018-05-25 10:56] sam-cogan commented on #2573
I deployed from the master branch a few days ago and it seemed to work, do looks like a fix is in

[2018-05-25 11:09] kargakis commented on #3068
Unfortunately I can't find anything related in the node log.

http://pastebin.test.redhat.com/595542

around the time the old container was killed
[code]
We probably need to bump the kubelet's log for debugging further. Looking into doing that..

[2018-05-25 11:17] mfojtik commented on #3068
/cc @deads2k

[2018-05-25 11:52] andyzhangx commented on #3047
@huajunzhao you may redeploy now, the network issue of accessing azure.archive.ubuntu.com is solved.

[2018-05-25 12:30] pweil- commented on #3063
@kwoodson reference PR is merged

/close

[2018-05-25 12:33] pweil- commented on #3049
I think the decision is good for now.  Please close since acs-bot will just yell at me.  Thanks

Know what?  I'm going to do it anyway...have at it acs-bot, you can't mess up my Friday!

/close

[2018-05-25 12:37] kargakis commented on #3049
lol, I am fixing this too

I am going to keep this issue open to track the change that needs to be added for the node labels that @kwoodson hit.

[2018-05-25 12:38] andyzhangx commented on #2573
@jakubmalin v0.17.1 should have fixed this issue. all firewall should be turned off for Azure CNI which is the default. You may also fix this issue by `netsh advf set allprofiles state off` on windows node.

[2018-05-25 13:05] kargakis opened #3086 "[unstable] should be running the expected version"
The aforementioned test fails in `unstable` version and we should ignore it in this case.

/label orchestrator/openshift

[2018-05-25 13:05] kargakis commented on #3086
[code]

[2018-05-25 13:11] vidrascup opened #3087 "azure germany no nfs support on ubuntu servers"
**Is this a request for help?**:

YES

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

**What version of acs-engine?**:

acs-engine 0.17.0

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
kubernetes

**What happened**:

Cannot mount nfs into pods, cluster is installed with acs-engine 0.17.0 with kubernetes 1.10.2 version.

After installing "sudo apt-get install nfs-comm

[2018-05-25 13:18] blacksails opened #3088 "Option for tainting all nodes in an agent pool"
**Is this a request for help?**:
Unsure. If this is possible already yes, otherwise no.

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Depends if it is possible already

---

**What version of acs-engine?**:
0.16.2

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.10.2

**Option for tainting nodes in agent pool upon creation**
My use case is this. We run

[2018-05-25 14:04] pweil- commented on #2927
hmm, does this work yet?

/assign

[2018-05-25 14:06] pweil- commented on #2927
@jackfrancis - this would really help distributing work, anything we can do here yet?

/cc @jim-minter

[2018-05-25 14:13] kargakis commented on #2927
The only way to make `/assign` work is to get us a github team

[2018-05-25 14:18] andyzhangx commented on #3087
I think we should install nfs-common in acs-engine installation on every agent node.

[2018-05-25 18:22] CecileRobertMichon commented on #3080
I started #3081 to enable more logging. Would you be able to adapt the Jenkins test you have to the circleci e2e tests?

[2018-05-25 18:31] PatrickLang commented on #3056
This refers to https://github.com/Azure/acs-engine/tree/master/extensions/prometheus-grafana-k8s

Looks like most node metrics come from https://github.com/prometheus/node_exporter

[2018-05-25 18:45] kwoodson commented on #3063
/close

[2018-05-25 18:46] raycrawford commented on #2035
I have this issue as well with 0.17.1.  Is there any update?  Thanks!

[2018-05-25 18:47] jim-minter commented on #3063
/close

[2018-05-25 18:47] #3063 closed

[2018-05-25 18:53] jim-minter commented on #3068
fyi 137 = 128 + 9 (== SIGKILL).  Anyone with permission could have sent the signal, not necessarily just the OOM killer.  Could be that the process didn't respond to SIGTERM and was killed subsequently, as you see above.  Liveness check failed?

[2018-05-25 19:50] hansenms opened #3091 "Private cluster jumpbox user home owned by root"
** Is this a request for help?: **
<br>

YES
<br>

**Is this an ISSUE or FEATURE REQUEST? (choose one):**

<br>
ISSUE
<br>

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

<br>
Kubernetes 1.10
<br>

**What happened**:

<br>
When creating a private cluster (Kubernetes), the jumpbox (if enabled) user's home is owned by root and not writable for the user, e.g. `/home/azureuser` is owned

[2018-05-25 22:36] #3032 closed

[2018-05-25 22:51] CecileRobertMichon commented on #3075
Hi @richerlariviere, please feel free to open a PR to add it to clusterdefinition.md and I can help if you have any questions. As @mwieczorek pointed out, the description should match the one in https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/features.md

[2018-05-25 22:51] CecileRobertMichon commented on #3075
/area/docs

[2018-05-25 22:52] CecileRobertMichon commented on #3075
/label area/docs

[2018-05-25 23:33] #545 closed

[2018-05-27 01:04] hansenms opened #3094 "Authentication for US Government uses Commercial AAD endpoint"
**Is this a request for help?**:

NO

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

---

**What version of acs-engine?**:

Latest, 0.17

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Any

**What happened**:

When authentication, e.g. when using `acs-engine deploy`, the commercial endpoint, `login.microsoftonline.com` and `https://microsoft.com/devicelogin

[2018-05-28 13:14] yastij commented on #2362
@jackfrancis @CecileRobertMichon - the only difference between `az vm list -g` and the api call done here: `vms, err := sc.client.ListVirtualMachines(sc.resourceGroupName)` is api version.

We are currently using in acs-engine `2016-04-30-preview`. az CLI uses `2017-12-01`. We might need to bump azure-sdk-go version.

[2018-05-28 14:01] mwieczorek commented on #3062
I also got this bug today when trying to deploy k8s on vmss with cluster autoscaler addon.
Unfortunately I need autoscaler addon in v1.2.2 (https://github.com/kubernetes/autoscaler/issues/881), which is in 0.17.1...so I can wait only for 0.17.2 :)

[2018-05-28 19:03] robsonpeixoto commented on #847
I needing it too.
I'd created a private K8S cluster and I'd like to scale down the agent pool, but I got the error:
[code]

How to get the FQDN?

[2018-05-29 02:51] feiskyer commented on #3062
The issue has been fixed in master branch, it needs a while for next v0.17.2 release

[2018-05-29 10:25] adelina-t opened #3098 "Kubelet failed to start on master with custom hyperkube from kubernetes master"
**ISSUE**

---

**0.17.1 or later**:

---

**Kubernetes 1.11 with custom hyperkube built from kubernetes master**

Deploying cluster results in

`"VM has reported a failure when processing extension 'cse-master-0'`

ssh into the master machine and looking over logs I can see that kubelet failed to start:

[code]

Most probably arguments are not properly sent.

Running service command manually work

[2018-05-29 11:14] grenzr opened #3099 "Private cluster jumpbox kubeconfig broken when using KeyVault secrets"
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

**What version of acs-engine?**:

0.17.0

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes 1.10.2

**What happened**:

The kubeconfig file on the jump box contains a base64 encoded string in the following section:

[code]

When decoded, the string says (with redactions):

`

[2018-05-29 12:06] adelina-t commented on #3098
@PatrickLang @CecileRobertMichon

[2018-05-29 15:54] PatrickLang commented on #2832
is this the issue? https://github.com/Azure/acs-engine/blob/b7364feda03b86967b6f401d5518c8edad73be68/parts/k8s/kuberneteswindowssetup.ps1#L318

[2018-05-29 16:21] CecileRobertMichon commented on #3062
@mwieczorek https://github.com/Azure/acs-engine/commit/893c2c090c687c235764875bd6f3e96c71fd10fc is in master, not in [0.17.1](https://github.com/Azure/acs-engine/releases/tag/v0.17.1), which only added a new k8s version and fixed a bug with extensions.

[2018-05-29 17:50] jackfrancis commented on #2927
I added Jim, Paul, Michalis, and Jim Z as write collaborators on the project. Is that sufficient? (that would allow us to not solve the whole Azure org membership thing)

[2018-05-29 18:16] pweil- commented on #2927
Thank you!!

[2018-05-29 18:27] BuairtRi commented on #2911
I'm having incredible difficulty with CNI issues on my nodes. It seems that everything works fine for a bit, and then all of the sudden, I can't start any pods because of CNI issues.

[2018-05-29 19:55] jackfrancis commented on #2362
@JackQuincy Would you have cycles to look into this anytime soon? Essentially:

1) upgrade + scale
2) inspect possible stale Azure API versions for certain resources
3) consider upgrading azure-sdk-for-go

To be clear, as far as I know, upgrade +scale against the same cluster has always been flaky, so this is adding additional resilience around these acs-engine features.

[2018-05-29 21:30] kichristensen commented on #3057
I've seen some issues when the URL aren't exactly as the [documentation](https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/#accessing-the-dashboard-ui) states. Have you tried the this URL, http://localhost:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/, the URL you describe doesn't have the `https:kubernetes-dashboard:` it has `kubernetes-

[2018-05-29 21:49] arwkmd opened #3102 "acs-engine scale creates invalid ARM Template for different storage account types"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**:

* 0.15.0
* 0.17.0
* 0.17.1

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

* Kubernetes 1.9.6

**What happened**:

After executing `acs-engine scale` for scaling up I get error:

[code]

In Azure Portal in Deployments section in resourc

[2018-05-29 22:51] jackfrancis commented on #3088
@blacksails Can you describe how you would do this manually, and we can work towards a general solution to incorporate into acs-engine at cluster creation time?

[2018-05-29 22:56] blacksails commented on #3088
@jackfrancis currently I created a new agent pool and when the nodes came up I tainted them with the taint kubectl command: `kubectl taint nodes node1 key=value:NoSchedule`

[2018-05-29 23:04] jackfrancis commented on #3088
There must be an idiomatic way to do that during runtime bootstrapping (i.e., with runtime config) so that we don't have to make a manual call against the API w/ kubectl. (Right??)

[2018-05-29 23:28] CecileRobertMichon commented on #3098
@adelina-t this is the same error that is preventing us from merging https://github.com/Azure/acs-engine/pull/2838. We need to address the kubelet flag deprecations in v1.11.0-alpha.2. @andyzhangx @feiskyer FYI

[2018-05-29 23:33] CecileRobertMichon commented on #3015
@neurot1cal can I close this issue?

[2018-05-29 23:36] CecileRobertMichon commented on #3013
Hi @hmarcelodn, are you running into the same issue with version 0.17.0?

[2018-05-29 23:39] blacksails commented on #3088
Actually it might already be possible to do this by setting the `--register-with-taints` kubelet flag.

I see that the flag is on the list of non-user-configurable options here: https://github.com/Azure/acs-engine/blob/master/docs/clusterdefinition.md#kubeletconfig

however it says "master nodes only" in parentheses which could be interpreted as "it should work with agent pools". I will have to te

[2018-05-29 23:44] CecileRobertMichon commented on #2962
The certs look as expected.

Did the upgrade succeed? Can you `cat /etc/systemd/system/etcd.service`? Also `cat /etc/default/etcd`

[2018-05-30 00:01] CecileRobertMichon commented on #3099
Hi @grenzr, thanks for reporting the issue. I'm not sure this will be a straight forward fix since it will involve pulling the secrets from kv before deployment (at the acs-engine generate step) in order to write them to the kubeconfig. If you have any ideas on how to fix this, please feel free to open a PR since you are already looking at this issue. Otherwise, I suggest you use the actual secret

[2018-05-30 00:18] #3027 closed

[2018-05-30 00:35] panaji opened #3105 "Scale should be able to accept KeyVault link for ssh public key"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): FEATURE REQUEST

---

**What version of acs-engine?**:

- 0.16.1

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

- Kubernetes v1.10.1

**What happened**:

I was trying to scale out my cluster using `acs-engine scale` command, but I got the following error:

[code]

The issue was th

[2018-05-30 00:50] neurot1cal commented on #3015
Sounds good!

On Tue, May 29, 2018 at 4:33 PM Cecile Robert-Michon <
notifications@github.com> wrote:

[2018-05-30 01:54] #3015 closed

[2018-05-30 02:32] kargakis commented on #3070
Seems like a network config issue cc @kwoodson

[2018-05-30 05:45] #2984 closed

[2018-05-30 07:47] croeck commented on #2779
Same issue here:

[code]

Despite the error given by acs-engine, the deployment apparently succeeded and at least the master node was upgraded. There was no failure to be seen in the Azure portal.

[2018-05-30 10:05] hieuhc commented on #2962
Yes it succeeded after a few tries. But then I couldn't query cluster `kubectl` after that, as described above.
`cat /etc/systemd/system/etcd.service`
[code]
----
`cat /etc/default/etcd`

[code]

[2018-05-30 10:16] grenzr commented on #3099
Thanks @CecileRobertMichon
We use VSTS to deploy apps to a private acs-engine cluster, so we used the jump box with a manually deployed working kubeconfig.
We're going to switch to using a VSTS agent running in the acs-engine cluster to do deployments to that cluster instead, thus fixing the above issue isn't a huge priority to me just yet, was just raising awareness of it for now.

[2018-05-30 11:23] tomconte opened #3107 "Enable cgroups memory and swap accounting"
**Is this a request for help?**: No

**Is this an ISSUE or FEATURE REQUEST?** FEATURE REQUEST

**What version of acs-engine?**: canary

Docker recommends [enabling cgroups memory and swap accounting](https://docs.docker.com/install/linux/linux-postinstall/#your-kernel-does-not-support-cgroup-swap-limit-capabilities) in the kernel to allow Docker to fully manage memory constraints. This is not the

[2018-05-30 14:00] Dan-Wolfy commented on #2496
Update I was wrong, default networkPlugin was kubenet but switched to Azure Container Network ( ACN ), part of this change it makes all pods routable default 30 and 1 per node in the routetable. For old behavour

"kubernetesConfig": {
"networkPlugin": "kubenet"
}

[2018-05-30 14:57] kwoodson commented on #3070
@kargakis, an email went out to the aos-devel list stating there was an outage to the registry.  I'm thinking this is related.

[2018-05-30 18:50] kargakis opened #3109 "openshift: web console health depends on infra node running"
Even though we run the webconsole as part of the master node
[code]
@jim-minter @pweil-

/label orchestrator/openshift

[2018-05-30 19:22] beaudryj opened #3110 "Auto Scaling did not scale down"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**:  516e6ba41c71769d43504429170d02e4fc1349cb (havent rebuilt cluster in a while trying to stick with a build for a bit)

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** : Kubernetes 1.10.2

**What happened**: VM Autoscaler Addon did not scale

[2018-05-30 19:51] heltondd commented on #2636
Does it work for VirtualMachinescaleSet with cluster-auto-scaler?

[2018-05-30 20:18] sozercan commented on #2956
#2545 addresses this partially when running k8s 1.10 and above

[2018-05-30 21:21] rocketraman commented on #2886
Linking investigation / partial workaround noted at https://github.com/Azure/acs-engine/issues/2971#issuecomment-391882841 here for reference.

[2018-05-30 21:22] rocketraman commented on #2880
Linking analysis and partial workaround here https://github.com/Azure/acs-engine/issues/2971#issuecomment-391882841 for reference.

[2018-05-30 21:41] rjtsdl opened #3111 "[Proposal] add redact tag for api model"
**Is this a request for help?**:
NO
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
feature request
---

**What version of acs-engine?**:
ever since day 0
---

For some api properties fields, such as ServicePrincipal secrets, or keys, or other stuff. We want to give them a `redact` tag. So it can be redacted when we want to logging.

Speaking about the implementation, I probably will i

[2018-05-30 22:44] shayansarkar opened #3113 "Heapster service not found"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
Version: canary
GitCommit: f8753adf
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.10.3

**What happened**:
I deployed a new cluster, and in the new cluster I ran the following command

`kubectl top pods --all-namespaces`

and

[2018-05-30 23:00] kargakis opened #3114 "openshift: infra node is not created"
[code]
/label orchestrator/openshift
https://circleci.com/gh/Azure/acs-engine/29050#artifacts/containers/0
/kind flake
@jim-minter @pweil- @mjudeikis @kwoodson I have seen this a couple of times when doing my own deployments

[2018-05-30 23:00] kargakis commented on #3114
/label orchestrator/openshift

[2018-05-31 10:31] mjudeikis commented on #3109
looks like strange flake. I think default node selector is infra? no?

[2018-05-31 12:39] tammert commented on #3025
@hmarcelodn: I had a similar (or perhaps the same) issue, which ultimately turned out to be sssd. Is that installed on your VM? If so, 0.17.0 uses a new Ubuntu image which fixes the issue -> see https://bugs.launchpad.net/cloud-images/+bug/1746806

[2018-05-31 13:23] tammert opened #3121 "[k8s 1.9.7] Pods are being scheduled with duplicate IP -> causes DNS resolution issues"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
0.17.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
When a lot of Pods get scheduled in a short amount of time (for example, after reboot), multiple Pods can 'share' the same IP. This (mainly) breaks DNS res

[2018-05-31 14:15] croeck opened #3122 "Upgrade with VMSS enabled cluster only upgrades master nodes, but not agent pools"
**Is this a request for help?**:

YES
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE
---

**What version of acs-engine?**:

ersion: canary
GitCommit: b7364fed
GitTreeState: clean

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes 1.10.2

**What happened**:

Cluster deployed with:

[code]

Then an upgrade was attempted:

[code]

The master node was up

[2018-05-31 14:20] IvanovOleg opened #3123 "[Request for help] Pods can't reach hosts outside cluster"
**Is this a request for help?**:

Request for help
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

---

**What version of acs-engine?**:

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.10.3

**What happened**:
I am trying to replicate the environment built via acs-engine using  ansible. I use CoreOS as a host OS with updated containerd (1.1), the latest

[2018-05-31 14:49] sharmasushant commented on #3123
@ivanovoleg Can you please check if you have the masquerade rule to snat traffic that is destined for outside Vnet?

[2018-05-31 15:54] #3098 closed

[2018-05-31 16:23] IvanovOleg commented on #3123
@sharmasushant
Here is the iptables and routes configuration:
1. ACS cluster (Ubuntu)
  1.1 . ACS cluster (master):
[code]
[code]
[code]
1.2 ACS cluster (agent)
[code]
[code]
[code]

1.3. ACS cluster (DNS pod)
[code]
[code]
2. Kubernetes cluster (CoreOS)
2.1 Kubernetes cluster (master)
[code]
[code]
[code]

2.2 Kubenetes cluster (agent)
[code]
[code]

[code]

2.3 Kubernetes cluster (DNS pod)
[code

[2018-05-31 17:10] sam-cogan commented on #3037
Any update on this patch? I am now seeing the same issue with 1709 as well, pods cannot communicate with services.

[2018-05-31 17:18] sharmasushant commented on #3037
@sam-cogan We have made changes to both azure-cni and acs-engine. Let us release the new version of azure-cni and update acs-engine with that version. It seems to be working for us with 1709. We will take a look at 1803 one more time. I will provide an update here.
cc @saiyan86

[2018-05-31 17:56] ewok2030 opened #3124 "Heapster Service missing from addon is breaking dashboard charts"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: v0.17.1

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes

---

**What happened**: When using the dashboard, no charts are appearing for any of the nodes/pods.

---

**What you expected to happen**: Charts to appear in dashboard

[2018-05-31 18:04] geoffreysamper opened #3125 "Generated Invalid ARM template when using VirtualMachineScalesets for agentpools"
**Is this a request for help?**:
YES
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.17.1
---

<!--
If this is a ISSUE, please:
  - Fill in as much of the template below as you can.  If you leave out
    information, we can't help you as well.

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes used version 1.10.3

**Wh

[2018-05-31 18:29] sharmasushant commented on #3123
@IvanovOleg This is because not every ip-address in the Vnet get a default snat IP for internet bound traffic. Only the primary ip of the VM interface gets it.

[2018-05-31 18:44] CecileRobertMichon commented on #3125
Hi @geoffreysamper, please see #3064. VMSS deployments are broken in 0.17.1 (fixed in master). I suggest you use 0.17.0 since there aren't any major feature differences between 0.17.0 and 0.17.1. The next acs-engine release should be out soon.

[2018-05-31 18:48] CecileRobertMichon commented on #3121
@khenidak

[2018-05-31 18:49] CecileRobertMichon commented on #3121
@tammert have you observed this issue to be specific to private clusters? Or your example just happens to be with a private cluster?

[2018-05-31 19:01] tammert commented on #3121
@CecileRobertMichon I have 4 private clusters (DTAP), all are experiencing this issue. We have no use-case for a public cluster, so I have no idea if that has the same symptoms.

Further experimentation showed that it wasn't only with high load; even a redeployment of a single Pod when the others were Running could end up with an IP that was already present on another Pod. Almost as if the compone

[2018-05-31 19:04] sharmasushant commented on #3121
@tammert On the nodes, where you observed multiple running PODs with same IP address, can you please share the following log files:

/var/log/azure-*.log
/run/azure-*.json

[2018-05-31 19:16] geoffreysamper commented on #3125
@CecileRobertMichon I tried version 0.17 and it works. Is there are place where you can ask question about the acs-engine. Thx

[2018-05-31 19:22] geoffreysamper commented on #3125
sorry was to early got a VM has reported a failure when processing extension 'vmssCSE'. Error message: \"Enable failed: failed to execute command: command terminated with exit status=9

[2018-05-31 19:35] IvanovOleg commented on #3123
@sharmasushant I don't see this kind of rule in the acs-engine cluster I use as an example. Or maybe I look in the wrong place...

[2018-05-31 19:45] sharmasushant commented on #3123
@IvanovOleg I am not sure why your cluster does not have the rule. Are you using Azure CNI when you deployed via acs-engine?

The rule appears in the POSTROUTING chain of nat table on the cluster that I created

**_MASQUERADE  all  --  anywhere            !10.0.0.0/8           destination IP range ! 168.63.129.16-168.63.129.16 ADDRTYPE match dst-type !LOCAL_**

10.0.0.0/8 is my Vnet address space

[2018-05-31 19:51] tammert commented on #3121
Currently, IP 10.40.0.58 has been allocated twice; you can also see this in the attached `azure-vnet.json` file. The second Pod with IP 10.40.0.58 was created about 5 hours ago, which would be around 16:45 in the logs.

[azure-vnet.log](https://github.com/Azure/acs-engine/files/2059831/azure-vnet.log)
[azure-vnet-ipam.log](https://github.com/Azure/acs-engine/files/2059832/azure-vnet-ipam.log)
[azu

[2018-05-31 20:32] CecileRobertMichon commented on #3125
Regarding the VM extension failure please see https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/troubleshooting.md#vmextensionprovisioningerror-or-vmextensionprovisioningtimeout

Github issues are always a good place to ask questions about acs-engine. Also, some people ask acs-engine questions on the Kubernetes slack sig-azure channel (although that channel isn't officially monitored

[2018-05-31 20:36] shayansarkar commented on #3113
For some additional information and questions, it seems as though if I ssh into the master node and run

`kubectl top pods --all-namespaces`

it works as expected.  However, if I run the same command from my machine, I still get the following message:
`Error from server (NotFound): the server could not find the requested resource (get services http:heapster:)`

If I create a cluster that does not

[2018-05-31 20:53] PatrickLang opened #3130 "Dashboard permission errors from `kubectl proxy` on K8s 1.10.3 cluster deployed from acs-engine master"
**Is this an ISSUE or FEATURE REQUEST?**

Issue

---

**What version of acs-engine?**

Version: canary
GitCommit: a1fe789
GitTreeState: dirty

(I had one change to the Makefile so that `make dev` works on my system with a strange net config)

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:

The dashboard at http://localhost:8001/api/v1/namespaces/ku

[2018-05-31 20:54] PatrickLang commented on #3057
I also have dashboard failures, but it's returning more valid HTML #3130

[2018-05-31 21:04] PatrickLang commented on #3130
[code]

[code]

[2018-05-31 21:13] PatrickLang commented on #3130
Applying the binding described at https://github.com/kubernetes/dashboard/wiki/Access-control#admin-privileges fixed it

[2018-05-31 21:36] jim-minter commented on #2982
`az monitor activity-log` ?

[2018-05-31 22:27] khenidak commented on #3121
I seen an error
`
2018/05/31 14:28:22 [cni-net] Plugin stopped.
2018/05/31 14:28:22 SendReport failed due to [Azure CNI] HTTP Post returned statuscode 500
2018/05/31 14:28:22 [cni-net] Plugin azure-vnet version v1.0.4-1-gf0f090e.
2018/05/31 14:28:22 [cni-net] Running on Linux version 4.13.0-1018-azure (buildd@lcy01-amd64-014) (gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.9)) #21-Ubuntu

[2018-05-31 22:44] #3051 closed

[2018-05-31 22:48] sharmasushant commented on #3121
@tammert Thanks for sharing the logs.

@khenidak Those errors should not cause any issue as they are telemetry related.

We are looking into this.

[2018-05-31 22:49] khenidak commented on #3121
Thanks @sharmasushant -- please update this thread with whatever you find.

[2018-05-31 22:55] khenidak commented on #3122
@sozercan FYI

[2018-05-31 23:12] PatrickLang commented on #3130
Looks like #2816 added RBAC for k8s 1.8+

The config for 1.7, 1.8 adds a ClusterRoleBinding of cluster-admin to Kubernetes-dashboard. The non-versioned one used for 1.9+ does not bind cluster-admin, instead Kubernetes-dashboard-minimal.

[2018-05-31 23:13] #3044 closed

[2018-05-31 23:42] panaji opened #3132 "Fails to drain nodes with tls error when scaling down"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**:

- 0.16.1

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

- Kubernetes v1.10.1

**What happened**:
I was trying to scale down my cluster using `acs-engine scale` command, but I got the following error:
[code]

**What you expected to happ

[2018-05-31 23:48] sharmasushant commented on #3121
@tammert It appears that on your VM, os.Stat is returning CEST time which is +200 of UTC and UpTime on your system returns time in UTC.

The problem is that the _After()_ method in standard Golib is not considering the Location while comparing the time. This is causing us to incorrectly believe that the VM was rebooted just before CNI ADD is getting called and causing us to free any existing alloc

[2018-06-01 00:33] panaji opened #3133 "Scale should be able to accept KeyVault link for servicePrincipalProfile's clientId and secret"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): FEATURE REQUEST

---

**What version of acs-engine?**:

- 0.16.1

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

- Kubernetes v1.10.1

**What happened**:

When scaling out (adding new nodes), if the servicePrincipalProfile's clientId and secret in `apimodel.json` contain keyvault l

[2018-06-01 01:42] tamilmani1989 commented on #3121
This is the PR https://github.com/Azure/azure-container-networking/pull/162 for the fix. Please track this.

[2018-06-01 04:16] kargakis commented on #3086
@kwoodson mind taking a look into this one? Should be an easy fix.

[2018-06-01 05:11] kargakis commented on #3068
@vrutkovs we don't use ansible for installing the control plane today in acs-engine. We could potentially wait a bit more until the apiserver pod is stable (now I wish I had worked on pod minreadyseconds when I could) but that just works around the present issue and I would like to figure out why the pod gets restarted in the first place.

[2018-06-01 05:17] kargakis commented on #3068
`May 25 10:11:49 ocp-master-21204018-0 dockerd-current[1978]: time="2018-05-25T10:11:49.011775161Z" level=info msg="Container d1597e517550f15eb84946e3d34c9864d00f606314bb0b5efe36b8f98365f573 failed to exit within 30 seconds of signal 15 - using the force"` seems to indicate that yes, this is a SIGTERM followed by SIGKILL. Increasing origin-node log verbosity should give us more clues.

[2018-06-01 07:31] IvanovOleg commented on #3123
@sharmasushant Yes, I've deployed that cluster using acs-engine 0.17.1 with the next config:
[code]

[2018-06-01 09:49] tammert commented on #3121
@sharmasushant @tamilmani1989 I can confirm that when setting the timezone to UTC on all VMs, the problem is gone. Rebooting nodes now come up with all Pods having a unique IP.

Thanks so much for the quick troubleshoot and identifying the issue!

[2018-06-01 10:10] IvanovOleg commented on #3123
@sharmasushant Yes, this rule helps. Thanks!

[2018-06-01 10:10] #3123 closed

[2018-06-01 10:52] anujshankar commented on #2999
@jackfrancis @khenidak this issue has come up again in our QA Cluster.
Let me know if we can debug together to gather more insights.

[2018-06-01 13:15] adelina-t commented on #2832
@PatrickLang yep, looked over a deployment, that's the reason the script errors out. Made pull request  to fix this, tested it on 1.11.0-alpha.2, setup works just fine.

[2018-06-01 14:01] kwoodson commented on #3086
@kargakis, sure.  /assign

[2018-06-01 14:03] kargakis commented on #3086
/assign kwoodson

[2018-06-01 14:12] kargakis commented on #3086
@jackfrancis can @kwoodson also be added in the openshift team? Thanks

[2018-06-01 14:44] kwoodson commented on #3086
@kargakis,

Did you want to skip the test when branch is `unstable`?

[2018-06-01 15:07] kargakis commented on #3086
Yeah, when expectedVersionRationalized is `unstable` there is no reason to do the version check.

[2018-06-01 16:20] #1972 closed

[2018-06-01 16:37] #3124 closed

[2018-06-01 16:43] jackfrancis commented on #3086
@kargakis done

[2018-06-01 16:43] CecileRobertMichon commented on #3088
@blacksails you might want to try:

[code]

That _might_ work. Right now the master nodes have a hardcoded `--register-with-taints=node-role.kubernetes.io/master=true:NoSchedule` but agents don't have any.

[2018-06-01 16:47] kwoodson commented on #2752
@kargakis, in the latest build the tsb is successfully being pulled.

Is this still an issue?

[2018-06-01 16:57] #2951 closed

[2018-06-01 17:07] kwoodson commented on #2891
@jim-minter,

I see that the variable that is required here is `ExternalMasterHostname`.  Where is the best place to print to the console?

[2018-06-01 17:13] kwoodson commented on #2891
This is where the hostname is passed and the template is parsed.  https://github.com/kwoodson/acs-engine/blob/master/pkg/acsengine/engine.go#L1948

[2018-06-01 17:42] kargakis commented on #2752
Sorry, this is the ansible service broker
[code]

[2018-06-01 17:44] kargakis commented on #2752
openshift-ansible issue is https://github.com/openshift/openshift-ansible/issues/8526

[2018-06-01 17:50] kwoodson commented on #2895
Is this still an issue? @jim-minter @maxamillion

Here is the output of my latest install of 3.10:
[code]

Here is the compute node:
[code]

[2018-06-01 18:12] jackfrancis opened #3139 "VNET peering docs: overlapping IP CIDR blocks not allowed"
This is a general Azure networking gotcha, but worth adding to docs: if you're building a cluster in a VNET that is peered with other VNETs, ensure that all VNET IP address space CIDR blocks are distinct, and have no overlapping IP ranges.

[2018-06-01 18:39] kargakis commented on #2752
Seems to get pulled OK after a while
[code]
/shrug

[2018-06-01 18:39] #2752 closed

[2018-06-01 18:57] kargakis commented on #2891
/assign kwoodson

[2018-06-01 20:10] hmarcelodn commented on #3025
Thanks @tammert I am going to try this! Good finding. Thanks!

[2018-06-01 20:17] beaudryj opened #3143 "KubeDNS internal on windows nodes is not resolving correctly"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: 28eb1d106e17281eab2753464a60ceafa1b85ea1

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes 1.10.2

**What happened**: My windows nodes are not able to DNS resolve the Service they need to access

**What you expected to happen**:

[2018-06-01 20:40] #3133 closed

[2018-06-01 20:44] panaji commented on #3133
Similar to this issue #3105

[2018-06-01 21:59] #3086 closed

[2018-06-01 23:17] #2832 closed

[2018-06-01 23:21] shayansarkar commented on #3113
@ewok2030 your heapster update that got merged into master fixed my issue.  Thanks for the fix!

[2018-06-01 23:21] #3113 closed

[2018-06-01 23:24] #3121 closed, assigned to nobody

[2018-06-02 08:39] diwakar-s-maurya commented on #3139
Azure portal starts giving the warning for overlapping subnets even before vnet creation or doing actual peering.
Example: We already have a k8s cluster with vnet address space 10.0.0.0/8. If I just try to create a vnet using portal, it starts giving the warning for overlap.

![image](https://user-images.githubusercontent.com/10303889/40872519-84fdea90-6675-11e8-96fb-6aa6ebd0a00b.png)

The followi

[2018-06-02 19:13] aminebizid opened #3149 "package socat and ebtables not found"
I think sudo apt-get update is missing :

Reading package lists...
Building dependency tree...
Reading state information...
Package ebtables is not available, but is referred to by another package.
This may mean that the package is missing, has been obsoleted, or
is only available from another source

Package socat is not available, but is referred to by another package.
This may mean that the pac

[2018-06-03 01:26] flyboarder opened #3150 "Fails to create variable `pool1Offset`"
**Is this a request for help?**:
---
Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
---
ISSUE

**What version of acs-engine?**:
---
0.17.1

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
az failed to deploy template, due to following error:
[code]

**What you expected to happen**:
az tool is able to deploy template

**How to reproduce it**

[2018-06-03 15:34] ariellapinin commented on #3143
+1
I'm getting the exact same issue using windows version 1709

any resolution for this??

[2018-06-03 17:02] sharmasushant commented on #3143
@beaudryj @ariellapinin This is happening because windows DNS is not falling back to the secondary DNS for name resolution. While it is getting investigated/fixed by windows team, we have made kube dns as the primary dns server in Azure CNI. We plan to release the new version tomorrow and update ACS engine with the new version of CNI. We have tested that the above behavior does not repro with the

[2018-06-03 20:27] flyboarder opened #3151 "CSE error: exit code 30"
**Is this a request for help?**:
---
YES

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
---
ISSUE

**What version of acs-engine?**:
---
0.17.0

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Master CSE 0 fails to deploy

**What you expected to happen**:
Master CSE 0 is successful

**How to reproduce it** (as minimally and precisely as possible)

[2018-06-03 23:43] flyboarder commented on #3151
Additionally there is the [error code](https://github.com/Azure/acs-engine/blob/master/parts/k8s/kubernetescustomscript.sh#L23) doc.

[2018-06-04 04:58] feiskyer commented on #3110
@beaudryj Could you share the logs of autoscaler Pod? e.g. `kubectl -n kube-system logs <cluster-autoscaler-pod-name>`

[2018-06-04 08:33] cr4igo commented on #122
+1 , some customers are not allowed to use kube-lego due to internal policies

[2018-06-04 09:34] y325A opened #3153 "NetworkPlugin cni failed to set up pod (invalid memory address or nil pointer dereference)"
**Is this a request for help?**:
Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue

**What version of acs-engine?**:
acs-engine 0.17.1

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.10.3
Windows Nodes 1803

**What happened**:
2 node Windows cluster is unable to schedule pods from a Cron Job on 1 particular node.
Pods from deployments schedule on both nod

[2018-06-04 09:40] blacksails commented on #3088
Thanks. Closing the issue.

[2018-06-04 09:40] #3088 closed

[2018-06-04 09:49] sam-cogan opened #3155 "netplugin failed but error parsing its diagnostic message \"\": unexpected end of JSON input"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
0.17.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.10

**What happened**:
I had a couple of Windows container pods running fine on Friday, came in Monday morning and they where in error state, trying to recreate them results

[2018-06-04 11:53] Novitoll opened #3158 "Can not scale down Kubernetes VM"
**Is this a request for help?**:
Yes, no documentation provided.

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE REQUEST maybe?

---

**What version of acs-engine?**:
0.13.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
[code]

**What happened**:
Can scale-up VM, but can not scale-down.

**What you expected to happen**:
VM counts of specific agentpool shoul

[2018-06-04 15:00] feiskyer commented on #2911
@BuairtRi  Have you done something between? Could you show the cni configure file?

[2018-06-04 16:15] jackfrancis opened #3161 "Kubernetes: standardize to tabs whitespace on CSE / cloud-init payloads"
Goals:

- have a single pattern
- optimize data payload

[2018-06-04 16:47] mjudeikis commented on #3114
bumpt. Got this one too. Any idea how to debug?
api model has infra defined:
[code]
infra cound:
[code]

[2018-06-04 16:52] CecileRobertMichon commented on #3158
@Novitoll have you tried using `acs-engine scale`? https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/scale.md

[2018-06-04 16:52] mjudeikis commented on #3114
Just after this got this one:
[code]
Might be related...

[2018-06-04 16:54] CecileRobertMichon commented on #3151
@flyboarder were you able to repro this issue? I'm able to deploy a cluster with the same apimodel as you...

[2018-06-04 16:55] kwoodson commented on #2891
/assign kwoodson

[2018-06-04 16:56] CecileRobertMichon commented on #3149
@aminebizid is this output from cluster deployment logs?

[2018-06-04 16:59] CecileRobertMichon commented on #2789
Fixed in #3084

[2018-06-04 16:59] #2789 closed

[2018-06-04 17:01] #2649 closed

[2018-06-04 17:31] aminebizid commented on #3149
Yes
To resolve this I ssh master before extensions deploy and run apt-get update

Cordialement,
Amine BIZID

[2018-06-04 17:32] flyboarder commented on #3151
@CecileRobertMichon just attempted another deployment, still fails with the same error, this is using the canadacentral azure region. Our build ran 17 times over the weekend attempting to pass, same error every time.

[2018-06-04 17:39] CecileRobertMichon commented on #3151
Ok something is going on then... I'll try to repro / debug this today

[2018-06-04 17:46] flyboarder commented on #3151
@CecileRobertMichon I just attempted with canadaeast region as well, same issue. Looks like acs-engine doesn't like canada :/

[2018-06-04 17:55] CecileRobertMichon commented on #3151
@flyboarder what do you see when you run `kubectl get nodes`? Did the other two master extensions deploy successfully?

[2018-06-04 17:57] flyboarder commented on #3151
@CecileRobertMichon once I ssh into the master, any kubectl commands hang.

[2018-06-04 17:58] CecileRobertMichon commented on #3151
Also did you actually use `adminUsername` "admin"? When I deploy with your apimodel I get ```  "error": {
    "code": "InvalidParameter",
    "target": "adminUsername",
    "message": "The Admin Username specified is not allowed."
  }```

[2018-06-04 18:00] flyboarder commented on #3151
@CecileRobertMichon no, my admin user is the company name all lowercase, here are my resources from azure:
<img width="915" alt="screen shot 2018-06-04 at 11 58 21 am" src="https://user-images.githubusercontent.com/147004/40933484-d1ce2b6c-67ee-11e8-9b2a-ca8b3c484e85.png">

[2018-06-04 18:01] flyboarder commented on #3151
@CecileRobertMichon `kubectl get nodes`, eventually resulted in `Unable to connect to the server: dial tcp 13.71.184.45:443: i/o timeout`

[2018-06-04 18:09] hmarcelodn commented on #3013
Yes @CecileRobertMichon  even 0.17.1

[2018-06-04 18:11] flyboarder commented on #3151
@CecileRobertMichon seems I posted our prod apimodel, I have updated it to reflect the node count of the dev apimodel, which is 1 master and 1 pool-node

[2018-06-04 18:12] CecileRobertMichon commented on #3151
So my deployment in canadacentral just succeeded... Using acs-engine v0.17.0, exact same apimodel as you except `azureuser` as `adminUsername`

[2018-06-04 18:12] CecileRobertMichon commented on #3151
aah let me try with 1 master then. Did you change anything at all in the generated azuredeploy json?

[2018-06-04 18:14] CecileRobertMichon commented on #3013
@hmarcelodn please see https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/troubleshooting.md#vmextensionprovisioningerror-or-vmextensionprovisioningtimeout

[2018-06-04 18:18] flyboarder commented on #3151
@CecileRobertMichon no changes to `azuredeploy.json`, we are using an acs-engine image built from the dockerfile in releases folder with version pinned to `0.17.0`, then deploying via azure cli on VSTS from our cluster config repo.

[2018-06-04 18:18] mjudeikis commented on #3070
This does not looks like outage or regsitry. Its more like openswitch + firewall rules:
on compute node/master (regsitry runs on infra)
[code]
on compute node:
[code]
so it potentially will be networking.
something similar https://github.com/openshift/origin/issues/19044

Will check this tomorrow.

[2018-06-04 18:18] jim-minter commented on #2891
@kwoodson the "masterFQDN" ARM template output is already correctly populated.  Right at the end of cmd/deploy.go, inspect the first return value of dc.client.DeployTemplate() to dig out the value.  If the orchestrator is OpenShift, print it in the form `https://%s:8443/`.

[2018-06-04 18:22] jim-minter commented on #3114
Interesting.  I wonder whether the forthcoming move to scale sets will help this.  https://docs.microsoft.com/en-gb/azure/virtual-machines/windows/allocation-failure

[2018-06-04 18:27] jim-minter commented on #3070
if anyone sees this error occurring, please paste a link to the failed job run so that we can take a closer look.

[2018-06-04 18:27] CecileRobertMichon commented on #3151
@flyboarder any reason you're setting the agentpool count to 1? It looks like that might be the issue

[2018-06-04 18:32] kwoodson commented on #2891
@jim-minter, thanks.  I was looking here: https://github.com/Azure/acs-engine/blob/master/pkg/armhelpers/deployments.go

I'll see what I can come up with.

[2018-06-04 18:48] flyboarder commented on #3151
@CecileRobertMichon the low agentpool count was to reduce costs for the dev environment, I will reattempt with 1 master and 3 nodes

[2018-06-04 19:03] mjudeikis commented on #3070
@jim-minter , I have cluster running now where I checking this one, if you want to take a look. But it was provisioned manually.

[2018-06-04 20:00] mjudeikis commented on #3070
Issue is with missing SDN ports and potentially caching iptables.
https://docs.openshift.com/container-platform/3.9/install_config/install/prerequisites.html

`4789 | UDP | Required for SDN communication between pods on separate hosts.` missing.

[2018-06-04 20:03] mjudeikis commented on #3070
/kind bug

[2018-06-04 21:00] shayansarkar opened #3163 "Real-time prometheus metrics missing for pods"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
Version: canary
GitCommit: 658c2c28
GitTreeState: clean
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.10.3

**What happened**:

I created a new cluster that uses VMSS, since the prometheus extension does not work with VMSS I w

[2018-06-04 21:24] beaudryj commented on #3110
was impatient, brought back up and let sit for 15m and noticed it deleted this time

[2018-06-04 21:24] #3110 closed

[2018-06-04 21:39] jim-minter commented on #2895
@kwoodson the above looks encouraging - do we have test coverage that would detect pods on the wrong nodes?  Some sort of whitelist approach could be nice.

[2018-06-04 22:53] #2852 closed

[2018-06-04 23:33] jackfrancis commented on #2999
Hi @anujshankar, the next time you encounter this issue could you kindly:

- share the output of “ebtables -t nat -L”
- cat /var/log/kern.log

Thanks!

[2018-06-04 23:34] jackfrancis commented on #2971
Folks on this thread, kindly: the next time you encounter this issue please:

- share the output of “ebtables -t nat -L”
- cat /var/log/kern.log

Thanks!

[2018-06-04 23:35] jackfrancis commented on #2886
Folks on this thread, kindly: the next time you encounter this issue please:

- share the output of “ebtables -t nat -L”
- cat /var/log/kern.log

Thanks!

[2018-06-04 23:35] jackfrancis commented on #2880
Folks on this thread, kindly: the next time you encounter this issue please:

- share the output of “ebtables -t nat -L”
- cat /var/log/kern.log

Thanks!

[2018-06-05 02:21] flyboarder commented on #3151
@CecileRobertMichon I believe this is being caused by the master cse timing out before the vmss is deployed.

[2018-06-05 02:26] flyboarder commented on #3151
Now getting an `error code 9` on vmssCSE
[code]

[2018-06-05 03:09] anujshankar commented on #2999
Sure @jackfrancis !

[2018-06-05 05:29] flyboarder commented on #3151
@CecileRobertMichon I did a manual deployment using acs-engine built from master branch, this deployed without issue. I will have to wait for `0.17.2` before turning CD back on.

[2018-06-05 06:46] liorchen commented on #3143
Hi

I see that there was a new RC a few hours ago but the CNI version is still 1.0.4. the fix is at 1.06..
can someone plz create a new release with the new CNI?

Thanks

[2018-06-05 06:57] Novitoll commented on #3158
Thanks! setting the desired count of VMs in `acs-engine scale` scaled down the agentpool. Closing this issue.

[2018-06-05 06:57] #3158 closed

[2018-06-05 08:40] windoze commented on #3024
After adding `"location": "chinanorth"` into `kubernets.json`, the problem is gone.
But I still don't understand the problem.

[2018-06-05 08:45] jalberto commented on #2649
@CecileRobertMichon why you closed this? what is the fix? How will avoided to happen in the future?

If you closed this because of @ralbon comment, that not my case, I didn't modify nameSuffix.

@danigian I cannot upgrade acs-engine because each time I do it, it breaks my production cluster, so I will not do it again.

I am very unhappy in how you have deal with this issue.

[2018-06-05 09:01] oivindoh commented on #2886
@jackfrancis We've seen this (admittedly it hasn't bitten us in over a month now), and are using calico as our cni provider.

[2018-06-05 09:07] anujshankar commented on #2886
@oivindoh after switching to calico has this error reappeared?

[2018-06-05 09:08] oivindoh commented on #2886
@anujshankar no, we've been on calico all the time

[2018-06-05 09:22] kargakis commented on #2700
Done :tada:

/assign
/close

[2018-06-05 09:22] #2700 closed

[2018-06-05 09:30] kargakis commented on #2952
Need to check whether the pod uses a readiness check and also whether the deployment config waits for it to turn ready.

[2018-06-05 09:50] kargakis commented on #2918
Hrm, we should probably switch to use SSD anyway

https://github.com/coreos/etcd/blob/master/Documentation/op-guide/hardware.md#disks

[2018-06-05 10:26] kargakis opened #3171 "When ginkgo timeouts, artifacts are not gathered"
Observed this in a couple of different suites (both k8s and openshift)

https://circleci.com/gh/Azure/acs-engine/30298?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
[code]

@jackfrancis @CecileRobertMichon @mjudeikis if you want to have a look

[2018-06-05 10:30] kargakis commented on #2952
Both readiness probe is used and the DC has sane rolling parameter defaults.

[2018-06-05 11:44] kargakis commented on #3114
From the activity log in https://circleci.com/gh/Azure/acs-engine/30361#artifacts/containers/0

<details>

[code]
</details>

and more specifically
[code]
and
[code]

[2018-06-05 11:45] kargakis commented on #3114
Seems like we are missing a `dependsOn` in our router infra resources.

[2018-06-05 11:50] kargakis commented on #3114
Which I think we cannot set atm because the router loadbalancer is in a different template (kubernetesmasterresources.t) from that of the infra nic (kubernetesagentresourcesvmas.t).

[2018-06-05 11:56] kargakis commented on #3114
Testing https://github.com/Azure/acs-engine/pull/3173

[2018-06-05 12:32] kargakis commented on #3171
https://circleci.com/gh/Azure/acs-engine/30340?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-06-05 14:17] mjudeikis commented on #3070
https://gist.github.com/mjudeikis/45551791cd8e14f9a7d322569d0f21f0 debug info

[2018-06-05 15:25] bclau opened #3174 "Enable optional kubernetes features by default"
**Is this a request for help?**: No.

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: 0.17.1 or newer.

---

Some Kubernetes features are not enabled by default (``LocalStorageCapacityIsolation, MutatingAdmissionWebhook, ValidatingAdmissionWebhook, tokencleaner, bootstrapsigner``), which can cause some features not to work and thus, some Kub

[2018-06-05 15:41] kargakis commented on #3026
/assign

[2018-06-05 15:42] kargakis commented on #3026
/remove-kind feature

[2018-06-05 15:42] y325A commented on #3153
Issue is now affecting my other node.

[2018-06-05 15:52] kargakis commented on #2554
/assign kwoodson

[2018-06-05 16:21] #3114 closed

[2018-06-05 16:42] CecileRobertMichon commented on #2649
@jalberto I closed this after https://github.com/Azure/acs-engine/pull/2859 was merged. v0.18.0 will be released soon with the fix, please let me know if you still see the issue.

[2018-06-05 16:56] seanknox opened #3175 "PROPOSAL: Change name of "API model" to "cluster configuration""
# PROPOSAL: Change name of "API model" to "cluster configuration"

The project uses the term "API model" when to refer to the JSON files that determine cluster buildout options, e.g.:

[code]

When used with acs-engine, this JSON file specifies Kubernetes v1.10.x cluster configured with 1 master node, 3 worker nodes, and use Standard_D2_v2 VMs for both.

The term "API model" has connotations for t

[2018-06-05 17:09] PatrickLang commented on #3143
I think 2 fixes are needed. https://github.com/Azure/acs-engine/pull/3104 is the first one which was merged and is in https://github.com/Azure/acs-engine/tree/v0.18.0

Looking for the 2nd PR

[2018-06-05 17:18] PatrickLang commented on #3037
@sharmasushant is there a tracking issue for the pulling the new azure-cni into acs-engine deployments?

cc @beaudryj

[2018-06-05 17:46] #3026 closed

[2018-06-05 19:06] kwoodson commented on #2891
@jim-minter,

The `res` variable from the `dc.client.DeployTemplate()` looks like this:
[code]

The response looks like this:
[code]

The templateJSON holds the `masterFQDN` and it looks like this:
[code]

I believe this is interpreted by the ARM template processor on Azure's side.

I do not think that the returned results have the desired information.  Any ideas?

[2018-06-05 20:10] heltondd opened #3178 "Don't create data disk for etcd"
**Is this a request for help?**:
help
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.18.0
---

JSON parameters
...
    "masterProfile": {
      "count": 1,
      "imageReference": {
        "name": "ubuntu-16-04-custom",
        "resourceGroup": "my-images"
      },
      "dnsPrefix": "k8s-acs",
      "vmSize": "Standard_D2s_v3",
      "v

[2018-06-05 21:46] CecileRobertMichon commented on #3143
#3180 is open to update the CNI version

[2018-06-05 22:34] jim-minter commented on #2891
Agreed.  Wow, nothing is easy :(

As far as I can see, this must be because the version of the Azure client library we're using is ancient.

Let's do this the stupid way:
[code]

[2018-06-05 22:49] jim-minter commented on #3070
The Pod IPs are not within the relevant Node HostSubnet, and they should be.  This means that openvswitch doesn't opt to tunnel traffic that should go between Nodes and it never hits the VXLAN.
The HostSubnet changes after Pods are created because the kubelet is restarted during bootstrap and then opts to delete/recreate the Node object.
The kubelet is restarted because the config sync pod (https:

[2018-06-05 23:10] CecileRobertMichon opened #3182 "enableEncryptionWithExternalKms needs to set permissions on the KeyVault created"
The following flag(s) need to be set when creating a KeyVault to enable ARM to retrieve the secrets:

--enabled-for-template-deployment
--enabled-for-deployment (?)

[2018-06-05 23:10] CecileRobertMichon commented on #3182
FYI @seanknox @ritazh

[2018-06-05 23:12] CecileRobertMichon commented on #3182
https://github.com/Azure/acs-engine/blob/2012c1c12919cb5baf4585cd861baddbfe68c54a/parts/k8s/kubernetesmasterresources.t#L810

[2018-06-05 23:14] beaudryj commented on #3143
❤

[2018-06-06 00:51] ritazh commented on #3182
Permission set for SP on the created key vault has been implemented in acs-engine. I was not able to repro this... @seanknox will try again and let us know 😄

[2018-06-06 03:52] flyboarder commented on #3151
I don't know if this is relevant, however using `0.18.0` I can almost always deploy from my laptop, using VSTS the deployment fails every time.

[2018-06-06 04:02] CecileRobertMichon commented on #3151
@flyboarder definitely relevant, thanks for the update... We are investigating

[2018-06-06 08:40] kargakis opened #3186 "openshift-ansible image fails to get pulled"
causing a legitimate flake
[code]

/kind flake

[2018-06-06 08:40] kargakis commented on #3186
/label orchestrator/openshift

[2018-06-06 08:54] kargakis opened #3187 "Timeout: request did not complete within allowed duration"
[code]
https://circleci.com/gh/Azure/acs-engine/30575
/kind flake

[2018-06-06 08:54] kargakis commented on #3187
/label orchestrator/openshift

[2018-06-06 08:55] kargakis commented on #3187
Even though we get a timeout when applying, the resources are created just fine
[code]

[2018-06-06 09:14] jalberto commented on #2649
thanks @CecileRobertMichon will be great to mention the reason to close an issue before closing it :)
anyhow, Will be this fix backported? I don't feel comfortable upgrading acs (each time I run a new acs version something breaks)

[2018-06-06 12:04] mjudeikis commented on #3070
to prove this I added timeout. This would allow sync to do its job, and all system components to spin up and before pods got in.
[code]

But it didnt do anything. I think we are looking to the wrong place. Because sync just check config maps and nothign changes them. Check done after cluster started. So config map we used to boostrap node is same as one in API.
[code]
on the other hand logs gives

[2018-06-06 12:22] rolanddb opened #3190 "Hybrid clusters with GPU & CPU do not work"
**Is this a request for help?**:
NO

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.18.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Tried to deploy a cluster with two agent pools; one with reguler VMs (CPU only) and one with GPU's.
Similar to this blog post: https://www.microsoft.com/de

[2018-06-06 12:29] MarkTopping commented on #2589
Hey @jackfrancis

I'm amongst those trying to upgrade my docker runtime so that I can use run build agents in AKS capable of supporting multi-stage docker files. Some searching has lead me to this page.

I wonder if you might be able to elaborate your guidance for specifying a custom version of docker in the kubetnetesConfig.

My inference from this was that I add this section into the Resource Ma

[2018-06-06 12:56] oivindoh opened #3191 "Calico (2.6.3 -> 3.1.1) upgrade fails between acs-engine 0.16.0 and 0.18.1"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.16.0 and 0.18.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
kubernetes 1.9.7 and 1.10.3
acs-engine 0.16.0 and 0.18.1

**What happened**:
* I deployed a cluster with 3 masters and 3 nodes on kubernetes 1.9.7 via acs-engine 0.16.0 to simu

[2018-06-06 14:57] tomconte commented on #3107
Note: the steps above don't seem to work anymore. See https://github.com/Azure/AKS/issues/412.

[2018-06-06 16:12] paulgmiller commented on #2971
Hmm I had a similar issue (can't resolve any external dns) except it only effected new pods. We mitigated it by scaling up our nodes. I could still repro it by deploying many replicas of image: paulgmiller/dnsprobe. Is that close enough that you;d want to see etables and kern log from the kube-dns pods if I force another repro?

[2018-06-06 16:42] MarcusPorterAtQuestDiagnostics opened #3194 "DNS pod in CrashLoopBackoff state"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: Unknown.  Whatever version of ACS engine was used did not output the "acsengineVersion" parameter to the template file.  At least version 0.13

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes.  From the parameters file:
dockerEn

[2018-06-06 17:36] jackfrancis opened #3195 "k8s CSE exit codes as exportable consts (and consumable by CSE scripts)"
Let's store CSE exit codes in one authoritative place.

- consumable by bash scripts (e.g., CSE)
- exportable as golang consts

[2018-06-06 18:03] dtzar commented on #3191
@oivindoh thanks for submitting this issue - it is good for awareness.  Although it is technically possible to have acs-engine support major verison upgrades of Calico, IMO I believe this is a significant amount of effort to create and maintain.  Minor version upgrades of Calico should work without issue.  The 2.6.5 to 3.x upgrade information can be found in the [release notes here](https://github

[2018-06-06 21:16] kargakis commented on #2952
ugh, retries were using microseconds for intervals instead of the intended milliseconds - opened https://github.com/Azure/acs-engine/pull/3202

[2018-06-06 21:18] neurot1cal opened #3203 "No release notes for v0.18.1"
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

**What version of acs-engine?**:

v0.18.1

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes

**What happened**:

No release notes

**What you expected to happen**:

Release notes ;)

**How to reproduce it** (as minimally and precisely as possible):

Open acs-engine Repo > R

[2018-06-06 21:57] CecileRobertMichon commented on #3203
@neurot1cal Jack is working on it, they should be up soon

[2018-06-06 21:58] CecileRobertMichon opened #3204 "Transient CSE exit code 9 on VMSS with k8s 1.10"
I'm seeing about 50% of VMSS k8s 1.10 deployments end with:

[code]

[2018-06-06 22:03] CecileRobertMichon commented on #3204
@sozercan would you have time to investigate this?

[2018-06-06 22:23] kargakis commented on #3178
I don't think it's possible to attach disks to custom images.

[2018-06-06 22:31] #3178 closed

[2018-06-06 22:47] CecileRobertMichon commented on #3191
Thanks @dtzar! That sounds good to me. @oivindoh would you like to start a PR to add the steps you followed to the upgrade documentation?

[2018-06-06 22:49] jackfrancis commented on #3203
Thanks for your patience!

[2018-06-06 22:49] #3203 closed

[2018-06-06 22:50] neurot1cal commented on #3203
👍

[2018-06-06 22:54] CecileRobertMichon commented on #3182
@seanknox do we still need this?

[2018-06-06 22:56] CecileRobertMichon commented on #3151
@flyboarder I just noticed that the `ServicePrincipalProfile` is missing from you apimodel, are passing that in somehow? could you double check that it is correct and has the right permissions?

[2018-06-06 23:02] seanknox commented on #3182
No we can close. Turned out to be a red herring.

[2018-06-06 23:02] #3182 closed

[2018-06-06 23:04] flyboarder commented on #3151
Yes, we are passing that in via BUILD ARGS:
[code]

To this docker file (using the SSH PublicKey fails in VSTS when passed as an argument, so it's apart of our api model file, this is also not an issue when deployed from my laptop):
[code]

Then we deploy with `az` command (with company data replaced):
[code]

[2018-06-06 23:09] flyboarder commented on #3151
@CecileRobertMichon to summarize the issues experience:
- Setting `linuxProfile.ssh.publicKeys[0].keyData` via RUN command in Dockerfile fails on VSTS, passes when used locally
- Using the `az group deployment create` command above fails on VSTS, passes when used locally

[2018-06-06 23:10] flyboarder commented on #3151
This has effectively prevented us from using VSTS Build/Release workflow for our acs-engine based cluster. Have had to do manual deployments this week. This is all with a fresh cluster, nothing customized outside of api model file and nothing changed within auredeploy files.

[2018-06-06 23:28] CecileRobertMichon commented on #3151
The `--set` command was only recently added to acs-engine... what were you using before?

Are you saying that ```RUN acs-engine generate \
 --api-model $ACS_API_MODEL \
 --set servicePrincipalProfile.clientID=${SERVICE_PRINCIPAL_CLIENT_ID} \
 --set servicePrincipalProfile.secret=${SERVICE_PRINCIPAL_SECRET} \
 --output-directory ${ACS_CLUSTER_ENV}```

works locally but not on VSTS? what is the resu

[2018-06-06 23:30] CecileRobertMichon commented on #3151
@jcorioland could you please confirm that the above command is valid?

[2018-06-06 23:51] sozercan commented on #3204
@CecileRobertMichon deployed about 10 clusters using v0.8.1 and can't replicate this using eastus or southcentralus and using a very simple api model like this:

[code]

Do you have any specific api model or regions that results in CSE error?

[2018-06-07 02:43] jbiel commented on #3037
@sharmasushant - will there be a new release of wincni.exe with these fixes? We are using k8s outside of Azure and continue to experience lots of networking issues. Thanks.

[2018-06-07 07:41] MarkTopping commented on #2589
In extension to that last question, maybe I should mention that I've tried it in here too:

"agentPoolProfiles": [
 {
 "name": "agentpool",
                        "osDiskSizeGB": "[parameters('osDiskSizeGB')]",
                        "count": "[parameters('agentCount')]",
                        "vmSize": "[parameters('agentVMSize')]",
                        "osType": "[parameters('osType')]",

[2018-06-07 08:33] jcorioland commented on #3151
@CecileRobertMichon @flyboarder the command above looks valid, yes - and especially if it works locally but not on VSTS. Let me try to repro the issue using Dockerfile/VSTS...

[2018-06-07 09:00] ariellapinin commented on #2911
+1
I'm experiencing the same behavior: at start everything works and then the internal kubernetes network isn't available from the windows node. any workaround this?

[2018-06-07 09:18] feiskyer commented on #2911
@ariellapinin Could you elaborate the Kubernetes network issues? Is VM network still working?

[2018-06-07 11:22] ariellapinin commented on #2911
yes, and when running ipconfig on the container I'm getting this:
[code]
this is version from the current master. It seems like the problem isn't related to dns, because when trying to resolve to any kubernetes network ip, I'm getting timeout

[2018-06-07 11:45] jcorioland commented on #3151
@flyboarder @CecileRobertMichon OK, I think I was able to repro.

*Summary: it's not an ACS-Engine issue, but the way you are using variable in VSTS.*

*Full explanation:*

I assume that you are using VSTS variables to pass the environment variable to the Docker container, and that you also use "VST secret variables" for ssh-key, client id and secret. When using secret variable, I received this:

[2018-06-07 13:08] xwrs commented on #2845
+1. Facing the same issue

[2018-06-07 13:42] shayansarkar commented on #3163
So what looks like is happening is that cadvisor isn't installed when I created a cluster.  So the metrics that kube-prometheus is expecting for the real time stats are missing.  All of the exporters including the node-exporter are properly installed, but the exporter for those specific metrics can't find them.

I installed cadvisor as a DaemonSet and confirmed that when I pull the /metrics endpoi

[2018-06-07 14:45] sylus commented on #537
Wouldn't the feature gates prevent this? I don't think this works as is.

[2018-06-07 14:50] kwoodson commented on #2891
@jim-minter please review:

https://github.com/Azure/acs-engine/pull/3193/files

[2018-06-07 14:55] kwoodson commented on #2554
@kargakis,

This is the pattern we have setup for this but will require an updated client or at least more information returned from the `DeployTemplate` call.

https://github.com/Azure/acs-engine/pull/3193

[2018-06-07 14:58] jim-minter opened #3211 "Should do scale up/down testing for openshift as part of acs-engine tests"
We don't currently have e2e coverage for openshift scale testing

[2018-06-07 14:59] feiskyer commented on #2911
@ariellapinin Could you check whether steps at [here](https://kubernetes.feisky.xyz/en/troubleshooting/windows.html#windows-pod-failed-to-resolve-dns) help for your issue?

[2018-06-07 16:02] rocketraman commented on #537
@sylus For now this is a manual process -- support for this is coming in both Kubernetes upstream and Azure. In the interim, I've documented the manual process in #Azure in the kubernetes slack (though it may have disappeared there by now), and also here: https://stackoverflow.com/a/50536927/430128

[2018-06-07 16:11] flyboarder commented on #3151
@jcorioland we are getting the same error as you without using secret variables, however that only solves one issue. We are currently using this method for the clientID and Secret without problems, only affects the SSH variable. (screenshot attached)

<img width="829" alt="screen shot 2018-06-07 at 10 09 10 am" src="https://user-images.githubusercontent.com/147004/41112009-e9094660-6a3a-11e8-888f-

[2018-06-07 16:15] CecileRobertMichon commented on #3151
Thank you for investigating @jcorioland! @flyboarder please let me know what you find out.

[2018-06-07 16:19] #2952 closed

[2018-06-07 16:21] jcorioland commented on #3151
@flyboarder did you try to hardcode the ssh key in the apimodel file? At first, I only had the error for the SSH key and once corrected, it comes to the client id, then client secret. The validation breaks at the first unmarshalling error (this is maybe something we can improve @CecileRobertMichon, btw).

Using only non-secret variables, I was able to generate the ARM template during a VSTS build.

[2018-06-07 16:28] jcorioland commented on #3151
@flyboarder weird. Can you try to surround the environment variable with double quote in your build arguments, like:
[code]
Does this change? I remember had to do that in [this script](https://github.com/jcorioland/vsts-acsengine/blob/f7fe62ea933fefb6fa8a81779f2d7e4b2ea7096d/docker-run.sh#L9) to solve the issue.

[2018-06-07 17:05] flyboarder commented on #3151
@CecileRobertMichon I believe I found the culprit! Thanks to @jcorioland once I got into the VSTS docker container I found the clientID and Secret are not set correctly. I believe this is causing the vmss to fail deployment and therefore causing masterCSE to timeout. This could be solved by checking the format of clientID and Secret instead of just type checking them, allowing any string doesn't r

[2018-06-07 17:15] CecileRobertMichon commented on #3151
Glad to hear you found the problem! I agree that there is a lack of validation for the Service Principal right now, there is an issue to enforce stricter validation open at https://github.com/Azure/acs-engine/issues/3039, it's a just a matter of someone taking the time to implement it and we haven't been able to get to it yet because of other higher priority tasks.

[2018-06-07 17:28] flyboarder commented on #3151
@jcorioland no I am using the az cli VSTS task. Here are some screen shots of my build/release tasks.
Build:
<img width="567" alt="screen shot 2018-06-07 at 11 25 57 am" src="https://user-images.githubusercontent.com/147004/41115727-9c37356c-6a45-11e8-91b3-122b68b35386.png">
Release:
<img width="571" alt="screen shot 2018-06-07 at 11 27 48 am" src="https://user-images.githubusercontent.com/147004/

[2018-06-07 17:33] jcorioland commented on #3151
@flyboarder ok, makes sense! This is why you can start the deployment. Let us know if it works when you manage to deal with the service principal inside the container.

[2018-06-07 17:37] jackfrancis commented on #2589
Currently acs-engine only supports docker-engine (not docker CE) due to distribution licensing issues. Here's the current list of available versions:

https://github.com/Azure/acs-engine/blob/master/parts/k8s/kubernetesparams.t#L614

[2018-06-07 17:42] jackfrancis commented on #2589
@MarkTopping Correction to the above statement: there are some old CE versions in there before we stopped updating due to not wanting to violate distribution licensing.

[2018-06-07 17:46] jackfrancis opened #3213 "Make Docker CE a user-configurable container runtime"
- manually move all current versions of docker CE into acsmirror (currently we have a few versions up to 17.05)
- enable those new versions in template allowed list:
  - https://github.com/Azure/acs-engine/blob/master/parts/k8s/kubernetesparams.t#L614
- ensure that Docker CE is never installed by default (to avoid violating distribution license), but is a documented user-configurable option

[2018-06-07 17:47] jackfrancis commented on #2589
https://github.com/Azure/acs-engine/issues/3213

[2018-06-07 18:03] CecileRobertMichon commented on #1806
For everyone here, https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/troubleshooting.md#vmextensionprovisioningerror-or-vmextensionprovisioningtimeout has been added to help troubleshoot VM extension errors. Please follow the instructions if you encounter one of those.

[2018-06-07 18:30] kwoodson commented on #2682
I think this might cover this issue:
https://github.com/Azure/acs-engine/pull/2780

Specifically:
https://github.com/Azure/acs-engine/pull/2780/files#diff-4c66ee984882825b6bd7db3c729a37f7

[2018-06-07 20:21] shayansarkar commented on #3163
Ok, looks like I was able to deploy a cadvisor DaemonSet that was detected by a prometheus ServiceMonitor.  And now I am getting all of the stats I expected.

I guess I'll close this ticket, but I would have thought these metrics would have been available with a standard acs-engine installation.

[2018-06-07 20:21] #3163 closed

[2018-06-07 20:56] MarkTopping commented on #2589
Thanks for responding @jackfrancis. I feel encouraged by your response and having seen 17.05.* in the list you reference. With respect to the second of my two comments above, you can see I referenced 17.05.* as my desired runtime but alas the AKS cluster that was subsequently created still had 1.13.1 as its container runtime version.

Did I place the configuration values in the wrong section? I ne

[2018-06-07 21:15] jackfrancis commented on #2589
@MarkTopping It's possible we override any non-docker-engine installs due to said unresolved licensing issues, so I'd expect this to be broken until #3213 is resolved.

[2018-06-07 21:19] MarkTopping commented on #2589
Right ok; I'll keep watch on #3213 then.
Thank you @jackfrancis

[2018-06-07 22:38] jamoham commented on #2150
Even after setting `groupMembershipClaims` to `"All"` or `"SecurityGroup"`,
my token does not list the groups:

[code]

What am I missing here?

[2018-06-07 22:39] jim-minter commented on #2895
@kwoodson if you look at https://github.com/Azure/acs-engine/blob/master/test/e2e/openshift/openshift_test.go#L62-L86, we check to see all the nodes are labeled as we expect.

I think we could have some more tests to do something similar with pods, e.g.:

no pods should be running on any compute host except a whitelist (e.g. the sync, sdn, whatever pods)
similar for the master host

some other pod

[2018-06-08 01:59] feiskyer commented on #2749
Seems there's something wrong with master setup, especially for kube-controller-manager. Could you check whether there's error message in its logs?

[2018-06-08 03:19] ritazh opened #3219 "staticWindowsAPIServerConfig is missing some flags"
**Is this a request for help?**:

---
No

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
---
ISSUE

**What version of acs-engine?**:
---
Issue can be reproduced with v0.18.1 and head

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes
**What happened**:
When provisioning a Kubernetes cluster with Windows agents, we noticed some flags are missing from the apiserver conf

[2018-06-08 03:19] ritazh commented on #3219
will provide a PR for this soon

[2018-06-08 06:18] carlpett commented on #2887
@jackfrancis this just happened again on 1.10.3.
I spoke with @khenidak yesterday about there being a recent fix for Azure CNI that could be relevant?

[2018-06-08 06:30] sharmasushant commented on #2887
@carlpett Can you please paste the output of following from one of the nodes from where pods cannot reach anywhere

ebtables -t nat -L
iptables -t filter -L
iptables -t nat -L

[2018-06-08 06:38] sharmasushant commented on #2887
Also, can you please verify if you are using Azure CNI or not. You can list the files in /opt/cni/bin/ and also check if there are logs from azure cni in the /var/log/azure-vnet.log This log will also have the version of azure cni in the very beginning

[2018-06-08 07:48] andyzhangx commented on #3149
@aminebizid PR: https://github.com/Azure/acs-engine/pull/3179 fixed this issue

[2018-06-08 08:26] IvanKirianov commented on #2845
+ 1
Is it possible to found some workaround of this ?

[2018-06-08 08:30] sharmasushant commented on #2845
You can add more ipconfigs to your interface in the VM provided subnet has more free ips. This can be done via portal or powershell.

[2018-06-08 09:25] kargakis opened #3220 "move common openshift consts in api/common"
https://github.com/Azure/acs-engine/pull/3126 includes a few of them, we may be able to move more.

[2018-06-08 09:43] carlpett commented on #2887
@sharmasushant Yes, we're using the Azure CNI. Here's the first row of /var/log/azure-vnet.log:

Here's the requested output: https://gist.github.com/carlpett/33939f883a096609fd44f55d6fc64634

[2018-06-08 10:10] anujshankar commented on #2999
@jackfrancis @khenidak collected the output of “ebtables -t nat -L” and  "kern.log"

[2018-06-08 10:17] kargakis opened #3221 "should deploy a sample app and access it via a route [It] flake"
[code]
[code]
Most probably, this is https://github.com/kubernetes/kubernetes/issues/40224 ... The PR to fix that issue has turned into a saga (https://github.com/kubernetes/kubernetes/pull/50102) so I am willing to remove `rollout status` from our tests for now.

@mjudeikis @kwoodson if this is something one of you guys want to have a look at

/kind flake

[2018-06-08 10:17] kargakis commented on #3221
/label orchestrator/openshift

[2018-06-08 10:41] IvanKirianov commented on #2845
"allocatable": {
                    "cpu": "2",
                    "ephemeral-storage": "28043041951",
                    "hugepages-1Gi": "0",
                    "hugepages-2Mi": "0",
                    "memory": "7011884Ki",
                    "pods": "110"

The capacity by default is 110 with new version of acs. But it's limited in 30.

[2018-06-08 15:10] trstringer commented on #3204
I can repro this with a VMSS agent pool that has `count` greater than 1. With `count` set to 1, it doesn't seem to fail.

Here is an excerpt from the `cluster-provision.log` on a failing node:

[code]

ssh'ing into the node, I can repro that `apt-get install` failing with the exact same problem manually. Running `apt-get update` (manually) then subsequently re-running `apt-get install` fixes the p

[2018-06-08 15:29] sam-cogan opened #3225 "Windows DNS stops working after some amount of time"
**Is this a request for help?**:
yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
issue
---

**What version of acs-engine?**:
0.18.3
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.10

**What happened**:
Ever since release 0.18.1 DNS on windows containers seems to be working well when initally deploying a cluster. However I am finding that after an ind

[2018-06-08 17:52] jim-minter opened #3231 "[3.10] ansible-service-broker fails to deploy"
[code]

[2018-06-08 17:53] CecileRobertMichon commented on #3204
Thank you @sozercan and @trstringer for your help investigating. I've opened #3230 to fix it. So far my test results show 20 successful deployments (no failures) after the change, vs 50% CSE code 9 failures before. What I don't understand is why this was happening even though the log you shared @trstringer show that `apt-get update` *was* executed before the `apt-get install`....

[2018-06-08 17:57] jim-minter commented on #3231
we're trying to pull openshift/origin-ansible-service-broker:v3.10.0 when perhaps we should be pulling docker.io/ansibleplaybookbundle/origin-ansible-service-broker:latest ?

[2018-06-08 18:03] jim-minter commented on #3231
probably need to override one of l_asb_default_images_default, l_asb_image_url, ansible_service_broker_image

@kwoodson you're going to run into this with your testing, can you take a look please

[2018-06-08 18:22] PatrickLang commented on #2627
/assign

[2018-06-08 18:38] kargakis commented on #3231
Tracked in https://github.com/openshift/openshift-ansible/issues/8526

[2018-06-08 18:42] jackfrancis opened #3235 "Add --kube-reserved"
Add kubelet `--kube-reserved` runtime config w/ the following specs:

- `--kube-reserved=memory=[15% of node memory],cpu=1,ephemeral-storage=1Gi`

The "[15% of node memory]" thing will need to be calculated as a unit of `Mi` based on the memory in the chosen VM SKU at template generation time.

[2018-06-08 18:58] PatrickLang commented on #2627
/assign for real

[2018-06-08 19:07] jackfrancis opened #3236 "enable accelerated networking by default for supported VMs"
See for list of VMs that support accelerated networking:

https://azure.microsoft.com/en-us/blog/maximize-your-vm-s-performance-with-accelerated-networking-now-generally-available-for-both-windows-and-linux/

[2018-06-08 19:31] CecileRobertMichon commented on #3219
@PatrickLang FYI this looks like it might result in broken Windows clusters

[2018-06-08 19:34] trstringer commented on #3204
Right now this is a theory, but I'm going to put it down for discussion as I continue to prove this.

I think we are running into a race condition where cloud-init hasn't completed applying the apt sources from the template and when the initial `apt-get update` is run.

I think that because from the `cloud-provision.log` I'm seeing this output of `apt-get update`:

[code]

Note that this includes

[2018-06-08 19:37] CecileRobertMichon commented on #3204
This makes a lot of sense @trstringer, thank you! That would explain why it is transient and not happening on every node. It also explains why my PR is fixing this behavior because the `apt-get update` is now executed after we finish waiting for cloud-init (previously it was happening before).

[2018-06-08 19:59] trstringer commented on #3204
Ok it looks like we already do a wait for cloud-init to complete, but this happens *after* we do a cache update: https://github.com/Azure/acs-engine/blob/master/parts/k8s/kubernetescustomscript.sh#L478-L487

[2018-06-08 20:04] ritazh commented on #3219
Just to add more data:

The current behavior here https://github.com/Azure/acs-engine/blob/v0.18.1/pkg/acsengine/defaults-apiserver.go#L76-L77 will result in flags like `--cloud-provider` and `--cloud-config` missing from kube-apiserver.yaml when it's a hybrid cluster. But I'm still able to create resources on azure via kubernetes....why is that?

[2018-06-08 21:08] #3204 closed

[2018-06-08 21:15] lachie83 commented on #3236
#3011

[2018-06-09 06:38] diwakar-s-maurya commented on #3151
I am trying to create v1.10.1 kubernetes cluster in southeastasia region with acs-engine v0.18.3. I am providing servicePrincipalProfile variables directly from .json file. It has failed continuously 3 times back to back with same logs and exit code except this line.

[code]

This is my template.json file for cluster creation
[code]

[2018-06-09 07:52] diwakar-s-maurya commented on #3151
The cluster got created in 9th or 10th try 😞

[2018-06-09 12:12] diwakar-s-maurya commented on #2589
Is it possible to get a particular docker version eg. 17.03.2, installed on the new nodes created by cluster-autoscaler too?
I have manually upgraded docker to 17.03.2 on all nodes including master but, the new nodes created by cluster-autoscaler always have docker 17.03.1. From where cluster-autoscaler gets this version info?

[2018-06-10 15:08] maniSbindra commented on #2312
@jackfrancis which path would you suggest moving the audit-policy.yaml file to?
* to /etc/kubernetes/audit-policy.yaml
* or to /etc/kubernetes/audit-policy/audit-policy.yaml
* or any place else

[2018-06-11 15:40] khenidak commented on #2886
@sharmasushant

[2018-06-11 16:03] kwoodson commented on #3231
@kargakis, @jim-minter,

I removed the `oreg_url` and was able to get everything deployed correctly:

[code]

Is this an option for us?

[2018-06-11 18:37] CecileRobertMichon opened #3245 "specify parallelism settings in circleci yaml"
`These settings are only for 1.0 builds. After August 31st, 2018, these project settings will no longer be available. To reduce run time on CircleCI 2.0, specify parallelism within your job.`

https://circleci.com/docs/2.0/parallelism-faster-jobs/

[2018-06-11 18:47] PatrickLang opened #3246 "Windows kubelet defaults are mistakenly applied to Linux agents"
**Is this a request for help?**: No

**Is this an ISSUE or FEATURE REQUEST?**: Issue

**What version of acs-engine?**: v0.18.3

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes v1.10.3

**What happened**:

Windows default kubelet parameters are currently copied from Linux defaults. I need to correct some things like `--cloud-config="/etc/kubernetes/azure.json"` to `--cloud-

[2018-06-11 18:49] PatrickLang commented on #3246
I guess broadly speaking - I'd like to see separate kubelet defaults for each VM deployment:

- Windows agent
- Linux agent
- Linux master

[2018-06-11 20:35] SteveCurran commented on #3153
Getting the same issue Kubernetes 1.10.1, acs-engine 18.1, two windows nodes (1709).

[2018-06-11 20:44] SteveCurran commented on #3225
Same issue.

[2018-06-11 20:49] PatrickLang commented on #3037
@sam-cogan are you still having a problem? There was a DNS change merged in https://github.com/Azure/acs-engine/pull/3180 that resolved most issues for me. Here's my status using v0.18.3 https://github.com/Azure/acs-engine/pull/3216

[2018-06-11 20:55] PatrickLang commented on #3225
@daschott - seen this?

[2018-06-11 21:02] daschott commented on #3225
@sam-cogan @SteveCurran Does accessing by IP work for you?

[2018-06-11 21:08] SteveCurran commented on #3225
@daschott Unable to test because I am currently having to recreate the cluster from issue #3153.

[2018-06-11 22:10] PaulCharlton opened #3247 "quote base64 strings in the yaml files; use k8s compatible encoding for base64 values"
**Is this a request for help?**:

Not a request for help.  Have already prepared PR for review

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

issue + bug fix

---

**What version of acs-engine?**:

all supporting encryption at rest for K8S

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

K8S v 1.8.8

**What happened**:

KubeAPI refused to start -- was able to ssh

[2018-06-11 22:15] PaulCharlton commented on #3247
incorrect yaml file

[2018-06-11 22:16] #2554 closed

[2018-06-11 22:16] #2891 closed

[2018-06-11 22:50] efirdman commented on #517
So, guys.
Is it possible to set DNS name of Public IP?
If yes - please drop a sample yaml.

Using Azure Kubernetes version 1.9.6

[2018-06-11 22:55] pcj opened #3249 "acs-engine / kubernetes upgrade "getsockopt: connection timed out""
We are currently using acs-engine 0.10.0 to deploy kubernetes 1.8.4.

Under this setup the `service.beta.kubernetes.io/azure-load-balancer-internal: "true"` does not appear to work correctly.  When I upgraded a cluster on AKS from kubernetes 1.8.10 to 1.9.6, that annotation does work.

Therefore, I am now upgrading our acs-engine setup.  Using acs-engine v0.18.3 and changing to `"orchestratorVersi

[2018-06-11 23:04] CecileRobertMichon commented on #3171
I've seen quite a few of those. My assumption was that circle was getting stuck...

[2018-06-11 23:15] sam-cogan commented on #3037
I haven't tried 1803 recently, I'll give it a go shortly and see

[2018-06-11 23:41] #2796 closed

[2018-06-12 01:06] PaulCharlton commented on #3247
well - there is a deeper issue: `-` in the encoded output was only part of the story.
`_` also appeared later in the day.

looks like azure-acs-engine is creating base64url encoding from RFC 4648 Table section 5 Table 2, and kubeapi is only accepting standard `base64` RFC 3548

[2018-06-12 05:09] PaulCharlton commented on #3247
confirmed `base64url` encoding is used by acs-engine

from `pkg/acsengine/defaults.go`

[code]

[2018-06-12 05:46] tomerf commented on #517
Yes, it's supported since 1.9.0
[code]
And when it's created it will be accessible as svc-name.azure-region.cloudapp.azure.com

[2018-06-12 13:13] dennis-benzinger-hybris commented on #3249
What exactly "does not appear to work correctly" ? Do you have any error messages or log files?

[2018-06-12 14:36] dennis-benzinger-hybris commented on #3249
FWIW I am able to create a working internal LB with Kubernetes version 1.8.4.

[2018-06-12 15:09] jackfrancis commented on #1882
obsolete

[2018-06-12 15:09] #1882 closed

[2018-06-12 16:29] jsturtevant commented on #3225
@sam-cogan  What Windows Server version is this on? 1709/1803?

[2018-06-12 17:04] rocketraman commented on #2886
@jackfrancis @khenidak  Had a few instances of this over the last few days, including this morning.

DNS pod logs:

[code]

From the agent node on which this pod is running:

[code]

[code]

[2018-06-12 18:03] pcj commented on #3249
How did you test it?  From within the kubernetes cluster or from the vnet/subnet?  In my observations, attempting to curl a service exposed to the vnet via an internal lb fails.

Here are general steps to reproduce:

1. Create a typical aks cluster `az aks create --kubernetes-version 1.8.10`.
3. Install azure-vote application as normal.  Port-forward azure-vote-front and curl from localhost to con

[2018-06-12 18:22] sam-cogan commented on #3225
1709 is where I have seen it, but that's mainly because I gave up on 1803 due to other DNS issues.

[2018-06-12 19:02] CecileRobertMichon commented on #3151
@diwakar-s-maurya sorry to hear that, did you change anything to get it to work?

[2018-06-12 19:04] #3149 closed

[2018-06-12 19:05] diwakar-s-maurya commented on #3151
No

[2018-06-12 19:09] CecileRobertMichon commented on #3062
This is fixed in 0.18.x

[2018-06-12 19:09] #3062 closed

[2018-06-12 19:09] #3060 closed

[2018-06-12 19:10] CecileRobertMichon commented on #3042
Closing the issue since it seems resolved, let me know if the issue is unresolved and you want me to reopen

[2018-06-12 19:10] #3042 closed

[2018-06-12 20:06] Netdoc41 commented on #2802
I had a similar issue as i just was using a link from a previous page. but this worked

http://127.0.0.1:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/#!/role?namespace=default

Now i just need to get past the login issues :)

[2018-06-12 20:16] Netdoc41 opened #3253 "Kubernetes Dashboard Auth"
**Is this a request for help?**:
Maybe
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
18
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Finished all steps, went to open the dashboard. It prompts for either config file or token. The config file does not work but upon research it may not be abl

[2018-06-12 20:35] Netdoc41 commented on #3253
Also went to get the default token via this command (kubectl -n kube-systedescribe secret $(kubectl -n kube-system get secret | grep default | awk '{print $1}')

Same message
![image](https://user-images.githubusercontent.com/9805053/41315793-90d574f0-6e5e-11e8-8fa9-52d92d5b0385.png)

[2018-06-12 20:57] CecileRobertMichon commented on #3151
Ok, I'll try to repro

[2018-06-12 21:01] CecileRobertMichon opened #3254 "Missing addon docs"
Some addons are missing from the addon documentation at https://github.com/Azure/acs-engine/blob/master/docs/clusterdefinition.md#addons such as aci-connector, oms agent and nvidia device plugin.

[2018-06-12 21:10] dcasati opened #3255 "Can't use cilium if the networkPlugin is not defined or not present in the config file."
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: v0.18.3

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes 1.10

**What happened**:

Can't use `cilium` if the `networkPlugin` if either:

1. Not specified
2. Is blank (`"networkPlugin": ""`)

The following error is thrown when ei

[2018-06-12 21:17] dcasati commented on #3255
Something else to note. When using the vlabs api, and not specifying the NetworkPlugin (either empty or non existent in the config), the value for the `NetworkPlugin` will be `azure` (DefaultNetworkPlugin) as defined at `const.go`

[code]

[2018-06-12 21:21] CecileRobertMichon commented on #3151
I'm wondering if this because you're using B series VMs @diwakar-s-maurya, haven't been able to repro this with D2_v2. I'll try with B4ms (we've seen issues with acs-engine and B series where the VM ran out of memory during the installation but that was mostly B1s and B2s)

[2018-06-12 21:32] CecileRobertMichon commented on #3151
@diwakar-s-maurya I get `time="2018-06-12T21:27:17Z" level=info msg="Error returned by LoadContainerService: VirtualMachineScaleSets with instance metadata is supported for Kubernetes version 1.10.2 or greater. Please set \"useInstanceMetadata\": false in \"kubernetesConfig\" or set \"orchestratorVersion\" to 1.10.2 or above"` when I try to deploy your apimodel on 0.18.3, can you please share the

[2018-06-12 22:04] sanjinp opened #3256 "acs-engine not attaching agentpool to public load balancer"
Is this a request for help?:
Its manually resolved, rather info for everyone having the same issue, I am using predefined subnets for masters and agents.
---

Is this an ISSUE or FEATURE REQUEST?
Issue
---

What version of acs-engine?
0.18.3
---
 I have deployed kubernetes cluster using this template:
{
  "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType

[2018-06-12 22:47] jim-minter opened #3258 "openshift: should have separate NSGs for master, infra and nodes"

[2018-06-13 06:17] kisadam commented on #3225
same here with acs-engine v0.17.1, after few days pods unable to resolve DNS
I've got the following error:
Failed create pod sandbox: rpc error: code = Unknown desc = NetworkPlugin cni failed to set up pod "........" network: runtime error: invalid memory address or nil pointer dereference; goroutine 1 [running]: github.com/Azure/azure-container-networking/cni.(*Plugin).Execute.func1(0xc042077ec0)

[2018-06-13 11:17] dennis-benzinger-hybris commented on #3249
How exactly did you perform step 3 ?

I didn't change the service type but tested with a new one.

[2018-06-13 11:51] pcj commented on #3249
Step 3 was to say, "Deploy azure-vote in standard fashion (without internal lb), santiy check it works, then update the service to use internal lb".

If you just skipped over the "standard fashion" part and went directly to internal lb, that's fine.  So you're saying you *could* SSH and curl the internal IP?

[2018-06-13 12:25] aw230012 opened #3259 "etcd issue with deploying acs-engine cluster"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
0.18.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9

**What happened**:
I'm not sure what my issue is; it appears to be permissions or a timing issue.  I have 3 test subscriptions.  I have used acs-engine to deploy K8s succ

[2018-06-13 12:49] aminebizid opened #3260 "Add a pool"
**A request for help**:
Guys,
What is the easiest way to add a new pool to my Kub cluster without recreating it?

---

**What version of acs-engine**:

Version: canary
GitCommit: f2a70d9
GitTreeState: dirty

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes 1.11.2

[2018-06-13 13:19] kichristensen commented on #3253
@Netdoc41 Have you applied the ClusterRoleBinding described here: https://github.com/kubernetes/dashboard/wiki/Access-control#admin-privileges

[2018-06-13 13:57] aw230012 commented on #3259
I think I have an IP address conflict.  Closing issue.

[2018-06-13 13:57] #3259 closed

[2018-06-13 13:58] beaudryj opened #3261 "Create public IPs in the json to have in the resource group at startup time"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): FEATURE REQUEST

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes

**Anything else we need to know**:

It would be really awesome if I could pre-provision static ips that I want to assign to my ingresses. This will make creating my cluster easier as I wont have to remember

[2018-06-13 14:49] neurot1cal commented on #3261
Would also be nice to have Public IPs that are created from within the cluster to be assigned DNS names. For example, when you try to map that IP as a TrafficManager endpoint, it cannot because theres no DNS name configured;

![image](https://user-images.githubusercontent.com/11523744/41358932-40376a14-6ede-11e8-96b3-0af11c5e5dae.png)

This does work however for public IPs that are created during

[2018-06-13 14:51] beaudryj commented on #3261
Would be cool to see this work, then maybe we could have the JSON provision a traffic manager instead and then pre-provision some service IPs to go through TM

[2018-06-13 15:08] Netdoc41 commented on #3253
That did it. Did i miss that in the doc? is setting it up that way the preferred method?

[2018-06-13 20:50] CecileRobertMichon commented on #3260
https://github.com/Azure/acs-engine/blob/master/docs/kubernetes-day2-operations.md

[2018-06-13 21:14] #3247 closed

[2018-06-13 21:21] aminebizid commented on #3260
Thanks @CecileRobertMichon

It will be great if we can do this:

[code]

[2018-06-14 04:12] ams0 commented on #2340
I have renewed interest in CoreOS, and I tried to create a cluster with master nodes on ubuntu and agent nodes as VMSS with CoreOS. Script fails because in CoreOS `nc` is called `ncat` (https://github.com/coreos/bugs/issues/639). The function `testOutboundConnection` in `/opt/azure/containers/provision.sh` fails with:

[code]

A simple symlink (that won't harm the default installation in Ubuntu) w

[2018-06-14 04:15] bnookala opened #3266 "Node labels don't get applied to Windows nodes"
**Is this a request for help?**:

No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

---

**What version of acs-engine?**:

acs-engine-v0.18.1-darwin-amd64, but I suspect all.

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes

**What happened**:

Deploy a hybrid cluster with custom node labels on linux pools and windows pools, noticed that the cust

[2018-06-14 06:59] malachma commented on #3149
Just a comment: the update operation should actually always be the first operation if a new package needs to be added/installed. As only the update task ensure a resynchronization of the package index files from their sources.

[2018-06-14 08:01] IvanovOleg commented on #2340
@ams0 I recommend you to forget about CoreOS untill they include containerd 1.1 in their image. I've built an ACS-engine environment replica via Ansible using CoreOS as a distro for both master and agents. There are a lot of hidden issues that can be difficult to fix.

[2018-06-14 09:21] oivindoh commented on #2362
We've also seen this, unfortunately not until after upgrading our production cluster recently.

This makes me somewhat concerned, as we're approaching the need to scale up our node count a bit, and I'm wondering if this will put us in an entirely failed state.

Here's the full acs-engine upgrade log (acs-engine 0.18.3) from our 1.9.7 to 1.10.4 upgrade in case it's useful:

[log_upgrade_1_9_7_to_1_

[2018-06-14 11:48] y325A commented on #3153
Looking into the logs further my issue was caused by IP address exhaustion in the Azure CNI plugin. I have given up on Azure CNI and returned to the kubenet networkPlugin in my cluster definition file.

[2018-06-14 12:40] shayansarkar opened #3267 "Overprovisioning with the autoscaler extension"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Feature Request
---

**What version of acs-engine?**:
Version: canary
GitCommit: 658c2c28
GitTreeState: clean
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes 1.10.3

**What happened**:

I created a new cluster with the autoscaler extension and everything worked as expected

[2018-06-14 16:22] jim-minter opened #3269 "flake: should be able to deploy an nginx service"
[code]

[2018-06-14 16:22] jim-minter commented on #3269
https://circleci.com/gh/Azure/acs-engine/32245

[2018-06-14 16:22] jim-minter commented on #3269
looks like a kubernetes test flake @ritazh @CecileRobertMichon ?

[2018-06-14 16:39] #3231 closed

[2018-06-14 19:51] jackfrancis commented on #2971
To update folks who are still running into this issue, installing daemonset onto an Azure CNI-based cluster has proven to make ebtables more resilient over time:

https://hub.docker.com/r/containernetworking/networkmonitor/

Here's a relatively painless way to do it:

`$ kubectl create -f https://raw.githubusercontent.com/Azure/acs-engine/master/parts/k8s/addons/azure-cni-networkmonitor.yaml`

And

[2018-06-14 20:01] phillipgibson commented on #2632
Sorry for the delay :). It was not, I had it autogen.

[2018-06-14 20:01] #2632 closed

[2018-06-14 20:17] jackfrancis commented on #2589
@diwakar-s-maurya It's probably because autoscaler is basing its node configuration on the original deployment template. Thanks for hanging in there while we navigate this annoying landscape.

[2018-06-14 20:19] jackfrancis commented on #2312
@maniSbindra I would try `/etc/kubernetes/addons` Thanks! Let me know if that (plus the kube-addon-manager picking up the change) removes the error message and starts applying the policy.

[2018-06-14 20:59] CecileRobertMichon commented on #3260
@aminebizid looks like what you are asking for is a new kubectl command, that would be an ask for Kubernetes, not acs-engine

[2018-06-14 20:59] #3260 closed

[2018-06-14 21:40] CecileRobertMichon commented on #3269
Yes I've been tracking those this week but I haven't been able to repro manually on a cluster. Let me know if any of you get a repro...

[2018-06-14 21:47] CecileRobertMichon commented on #3266
This looks like a regression, https://github.com/Azure/acs-engine/pull/2770 should have fixed this a while ago. @JamesEarle if you have time could you take a look?

[2018-06-14 23:13] jsturtevant commented on #3225
@PatrickLang looks like a bug in the cni plugin

[2018-06-14 23:34] sharmasushant commented on #3225
@kisadam @jsturtevant This looks unrelated to DNS issue reported here. Can you please share logs from CNI located at C:\K\azure*.*

[2018-06-15 00:07] jackfrancis commented on #3255
Note to self: the last good test for cilium cluster creation is d97a176d2247276526682608fa3039d49659ac56

[2018-06-15 01:51] amanohar opened #3279 "Some agentPoolOnly upgrades fail due to InvalidDeploymentParameterValue for 'kubernetesACIConnectorEnabled'"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: v0.18.6

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes

**What happened**:
Upgrade operation for agentPoolOnly clusters fails sometime with error:

[code]

**What you expected to happen**:
`kubernetesACIConnectorEnabled` shou

[2018-06-15 01:53] anujshankar commented on #2999
@jackfrancis #2971 the solution mentioned would help us out too?

[2018-06-15 02:12] sharmasushant commented on #2999
@anujshankar Can you please attach the output here. Depending on the reason, it may or may not help. In addition to what jack has mentioned, please share the output of
kubectl get pods -o wide --all-namespaces
 and the pod that had problems resolving the dns name.

[2018-06-15 02:56] jackfrancis commented on #2999
We think it may, yes.

[2018-06-15 03:18] anujshankar commented on #2999
@sharmasushant can you send me your mail id?

[2018-06-15 03:38] anujshankar commented on #2999
@jackfrancis @khenidak @sharmasushant
We had re-created our development cluster using [flannel network plugin](https://github.com/Azure/acs-engine/blob/master/docs/clusterdefinition.md#kubernetesconfig) and we have been using it for around 2 weeks.

Outcome: We didn't face any DNS resolution till now.

We plan to re-create our QA and Production clusters too using flannel network plugin.

Do you th