[2017-03-22 12:35] rocketraman opened #423 "Updating Azure LoadBalancer NSG source ranges does not work"
When exposing a service with type LoadBalancer, the Azure load balancer and network security group is automatically updated.

However, the generated Inbound Rules in the network security group assume that the Source is "Internet". Is there a way to specify, perhaps via Service meta-data, that the service should be exposed with a different Source e.g. source tag like `VirtualNetwork`, a CIDR block,

[2017-03-22 14:11] shelwig commented on #221
Really need this for customers in the financial sector looking to move to ACS.

[2017-03-22 21:06] fabiendibot opened #424 "Error generating ARM templates"
Hi,

When i use the acs-engine to generate the ARM template, i get the following error

[code]

If i launch a deployment using this ARM template, everything seems good, but, the master isn't accessible using kubectl on the master node

[code]

Seems like a bug to me no ?

[2017-03-22 21:31] dsemarketer opened #425 "How to set up Container to Internal (Peered) Network"
Hi, I have an Azure ACS Kubernetes cluster running. Its a custom vnet which I have working correctly.

I have older legacy applications running in the same Azure subscription on VMs (different vnet) with connectivity through Peering. I can ping the cluster from the legacy machines and communicate with pods if I expose them on via NodePort. I can also ping the legacy machines from the cluster nodes

[2017-03-22 21:35] #424 closed

[2017-03-22 21:56] jcrowthe opened #426 "DCOS: CLI cannot execute scale with Managed Disks"
When using managed disks, (`"storageProfile": "ManagedDisks",`), attempting to scale a VMSS using the XPlat CLI (v 0.10.8) fails as follows:

[code]

This same command functions normally when using the Portal GUI, as well as the Azure CLI 2.0. While this is likely an issue of how the XPlat CLI parses the template, the issue is too specific of a use case to open an issue in it's github repo. Howeve

[2017-03-22 22:22] colemickens commented on #426
That version of the CLI is explicitly not supported. Please provide the output of a repro with the `az` Azure-CLI for us to investigate. There are known issues in the version of the xplat-cli you're using, specifically related to DCOS. Thanks.

[2017-03-22 22:25] colemickens commented on #425
Can you try to mirror the routeTable in the Kubernetes cluster into the routeTable on the peered vnet (will need to try it manually and/or script it for a longer term solution)? The last time someone reported this issue, this had apparently solved their problem.

Alternatively, I think if the ip masquerading were adjusted, I think traffic to 10.12.x.x/16 could be masqeuraded as the node, and thus

[2017-03-23 01:29] #426 closed

[2017-03-23 01:30] jcrowthe commented on #426
Thanks for articulating!

[2017-03-23 01:54] colemickens commented on #423
RE: LB NSG Source: Is this what you're after: https://github.com/kubernetes/kubernetes/pull/36696 ?

As for changing the CIDR spaces, see this PR: https://github.com/Azure/acs-engine/pull/191 It may unblock you before we can fully address the issue.

[2017-03-23 05:03] rocketraman commented on #423
Not sure... I tried both a `service.beta.kubernetes.io/load-balancer-source-ranges` annotation as well as a `loadBalancerSourceRanges` entry in the spec of my nginx-ingress-controller service. Neither seemed to have any affect on the load balancer or NSG definition.

I see the PR, but I also see that it is currently out-of-date. Not sure I want to mess with the setup to this extent. Is there a wor

[2017-03-23 05:45] colemickens commented on #423
*RE: Source Ranges*: That commit is in `1.5.0`. You're not running on an old `1.4.x` cluster by chance, are you?

I don't know if VNet gateways can NAT, but I've not heard of it previously. Other folks are emulating what is in that PR by editting the template output from ACS-Engine and changing the ranges, or shrinking them, etc. I've not heard of a better workaround so far, nor do I have any othe

[2017-03-23 12:24] rocketraman commented on #423
I'm on 1.5.3. After modifying the resource json and applying it, I see the annotation/spec information in the Kubernetes dashboard. Does Kubernetes / Azure perhaps pick up the source ranges information only on first apply of the controller definition, and miss it for updates?  I'll try removing and recreating the controller.

All right, I'll give it a shot.

[2017-03-23 12:53] rocketraman commented on #423
Indeed, this seems to be a bug. If I delete the service and recreate it, the `loadBalancerSourceRanges` from the ingress service is picked up and applied to the NSG. However, If I simply modify an existing service and update `loadBalancerSourceRanges`, no change is made to the Azure NSG. This is true whether or not the existing service had `loadBalancerSourceRanges` defined or not.

[2017-03-23 16:24] dsemarketer commented on #425
Fixed. Thank you so much!

It was a masquerading issue. What I had to do was add the rule to the linux agent:
iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE -d 10.12.x.x/16

[2017-03-23 17:05] anhowe commented on #389
Here's the exact pull request: https://github.com/kubernetes/kubernetes/pull/41826.

@colemickens does this mean upgrading from 1.5.3 to 1.5.4?

[2017-03-24 01:28] sepiroth887 opened #427 "Allow custom data injection for master and agent VMs"
We do have a few requirements in addition to vanilla DC/OS (mostly around CA injection and some management tooling) that we would like to automate into the provisioning cycle.

I have seen the /parts folder having the dcoscustomdata{n}.t files which I think could be a great point to inject things.

Is there any plan to make this available via acs-engine and template-ise this further?

If so, here

[2017-03-24 01:30] anhowe commented on #427
https://github.com/Azure/acs-engine/pull/415 is attempting to solve this.  Can this work?

[2017-03-24 01:41] sepiroth887 commented on #427
This is pretty close 👍

However I'm a bit worried about reboots since from my understanding extensions are on-shot executions that will not be run after the ARM template was deployed. Hence any type of persistent scripts would need to ensure they are done in a way to survive a reboot.

Possible to work around and maybe even a better model since any customData has a risk of breaking the deploy due

[2017-03-24 02:39] colemickens commented on #427
customData/cloud-init does not reexecute either though...

[2017-03-24 02:53] colemickens commented on #389
Well that PR isn't related to 1.5.3->1.5.4 (or rather 1.5.5 now that it's out). But yes, we need to update all of these things:

* heapster
* kube-dns
* kubernetes
* check for kubernetes-dashboard updates

[2017-03-24 02:55] colemickens commented on #423
Please file that upstream on the Kubernetes repo and tag `brendandburns` in it. I'm not surprised there is a gap around updating an existing service.

Also, with kubernetes-dashboard, the addon manager may be trying to undo your changes. Are you sure they persist after editting the existing service, or do your changes get undone?

Finally, you might be better off creating a new service that revers

[2017-03-24 02:55] colemickens commented on #425
Very cool. Thank you for confirming, I can now pass along this info with more confidence in the future!

[2017-03-24 05:06] rocketraman commented on #423
There seems to be one similar issue already (https://github.com/kubernetes/kubernetes/issues/34218) though its not exactly the same -- in that issue the reporter was able to get the AWS SecurityGroup to update by changing not just the `loadBalancerSourceRanges` but also something else, like an annotation. In my case, changing an annotation still does not cause `loadBalancerSourceRanges` to be pick

[2017-03-24 05:10] colemickens commented on #423
Thank you for creating the issue and clarifying that your changes to dashboard yaml stick. We'll take a look as soon as possible.

Hopefully useful drive-by information :).

[2017-03-24 11:40] sepiroth887 commented on #427
oh. I only used cloud-config via CoreOS where that's actually the case.

Well in that case extensions are the way to handle this. Thank you! 🥇

[2017-03-24 11:40] #427 closed

[2017-03-25 18:18] siamak-haschemi commented on #425
I was needing that two weeks ago :-) Took me two days to figure out. Thank you @colemickens for all of your support here.

[2017-03-27 08:51] colemickens commented on #425
It's a miracle I saw your edit. Please don't do that. I don't re-check these threads unless I get an email.

Yes, you could add the iptables rule to ACS-Engine in customData to make it "persist".

(Alternatively, if you can make the peer vnet outside of 10.x, it should masquerade traffic by default. Not sure if that's an option for you...)

[2017-03-27 08:54] colemickens commented on #418
Where is this at @JiangtianLi ? Can we update this or close it, etc?

[2017-03-27 11:10] siamak-haschemi commented on #425
Sorry, will never do that again ...

I will try our your suggestion with the _customData_ and report back.

[2017-03-27 12:58] avaranovich opened #430 "Add windows nodes to the existing k8s cluster"
I have an existing kubernetes cluster. Is there a way to add Windows nodes into the existing cluster, as I would like to start experimenting with Windows workloads.

Can I re-apply a new template, i.e. this one https://github.com/Azure/acs-engine/blob/master/examples/windows/kubernetes.json , to en existing deployment?

If I try to add the windows part to _apimodel.json_, and run acs-engine agains

[2017-03-27 15:22] dsemarketer commented on #425
To save them as persistent, I used iptables-save > /etc/iptables/rules.v4 to get the rule needed and then installed iptables-persistent to auto load it. I then rebooted one of the nodes to check and the rule was reloaded automatically.

[2017-03-27 15:23] anhowe commented on #430
It is best if you create the whole cluster from scratch and use the latest acs-engine.

If you are unable to, here is one approach:
1. update acs-engine
2. using the api model in the output directory that was created with this cluster, add a windows agent pool. (note that the original api model in the output directory is required because it contains the necessary key information).
3. generate the

[2017-03-27 17:25] djsly opened #432 "[Kubernetes] Update Domains are not taken into consideration by the scheduler."
Duplicate of this issues under upstream: https://github.com/kubernetes/kubernetes/issues/40684

I have created a potential PR, would like to get feedback.

thanks!

[2017-03-27 19:00] ams0 opened #433 "[Kubernetes] Missing azure-vnet CNI plugin"
Following merging of #411 , I created a cluster with "networkPolicy": "azure". Cluster deploy successfully, but DNS service fails to be created and any attempt at pod creating fails.

[code]

and

[code]

It seems to looking for the azure-vnet plugin in _[/opt/cni/bin /opt/azure-vnet/bin]_. How to make it work? The PR doesn't include extensive documentation.

[2017-03-27 21:44] ivanthelad opened #434 "Kubernetes : Add setting to set pod cidr "--cluster-cidr ""
The cluster-cidr is currently not configurable. Iin the event a conflict exists on the network it would be a good idea to allow this pod network setting to be configurable

[2017-03-27 21:55] JackQuincy commented on #420
I will make a PR to add the link. But please see our documentation on how to create the service principal
https://github.com/Azure/acs-engine/blob/master/docs/serviceprincipal.md
please note It needs to have at least Contributor privileges and the resource group for the cluster should be in the scope of the service principal.

[2017-03-27 22:02] JackQuincy commented on #420
https://github.com/Azure/acs-engine/pull/436

[2017-03-28 01:18] rocketraman opened #437 "Doc update: distinguish between custom VNET *within* 10.0.0.0/8 and otherwise"
Based on the docs, I was under the impression that one had to go through a lot of manual work or use code in out-of-date pull request [1] to deploy Kubernetes to *any* VNET other than 10.0.0.0/8. However, after trying this for myself, I now realize deploying with a custom VNET that uses some subset of the 10.0.0.0/8 address space e.g. 10.1.0.0/16 works quite well already, by following the "Custom

[2017-03-28 05:23] idealhack opened #438 "ACS VMSize Error"
Hi,

I'm using DC/OS with Azure. I modified [`dcos1.8.8.json`](https://github.com/Azure/acs-engine/blob/master/examples/dcos-versions/dcos1.8.8.json) as below:

[code]

Deployment failed with this error:

[code]

Change `vmSize` to `Standard_A2` then the deployment succeed.

---

The value of `sku.tier` in the template is `Standard`: https://github.com/Azure/acs-engine/blob/master/pkg/acsengine/te

[2017-03-28 05:30] ivan-section-io opened #439 "Kubernetes Pods unable to access external hosts using networkPolicy Calico"
I've just done a very default acs-engine Kubernetes cluster install using `"networkPolicy": { "value": "calico"  }.` From commit 1c322cd9469d6cdf25575e3c22d7806af0cf07f6
Pods on the resulting nodes cannot access external resources (e.g. DNS/http).

`tcpdump` reveals that traffic from pods exit the host's interface with pod source IP addresses.

I worked around this by adding an ipPool using `calic

[2017-03-28 08:37] colemickens commented on #438
This is a dupe of https://github.com/Azure/acs-engine/issues/352

[2017-03-28 08:39] colemickens commented on #439
I don't know enough about Calico's policy plugin to know what is expected here, or what the resolution should be.

cc: @simonswine (the contributor who added the Calico integration)

[2017-03-28 08:43] colemickens commented on #437
Can you show your changes? We hardcode the master ips to something that I don't believe falls in 10.1.0.0/16, so I'm not sure how it would be working.

I'm not really sure I understand how/why the docs are confusing, could you possibly suggest the change with a PR?

[2017-03-28 08:56] colemickens commented on #439
Actually, ideally an e2e test should be added for Calico...

On Mar 28, 2017 10:39 AM, "Cole Mickens" <notifications@github.com> wrote:

[2017-03-28 09:18] colemickens commented on #434
https://github.com/Azure/acs-engine/pull/191

[2017-03-28 09:19] colemickens commented on #420
There is nothing wrong with the template. Your SP creds were bad and @JackQuincy  has fixed the documentation gap.

Closing this.

[2017-03-28 09:19] #420 closed

[2017-03-28 09:20] colemickens commented on #433
cc: @ofiliz Can you please look at this?

[2017-03-28 09:38] simonswine commented on #439
This is a valid bug you raise and it hasn't come up using my manual testing approach. @colemickens it would be good to get e2e tests for that.

@ivan-section-io what your "hack"  is doing is the way to go. I think it has been done on the etcdless yamls for calico, but we did not port that back to the kube-addons-manager ones we are using:
- https://github.com/projectcalico/calico/blob/master/v2.0/

[2017-03-28 09:58] #434 closed

[2017-03-28 09:59] colemickens commented on #434
I guess we can leave this open until the PR is finished/merged.

[2017-03-28 10:14] colemickens commented on #433
cc: @dmitsh Can you please add the new vnet clusterdefinition to a Jenkins job so we can catch this stuff?

[2017-03-28 15:41] rocketraman commented on #437
I followed the instructions on ACS-Engine for a custom VNET.

1. Create a vnet in a resource group -- I used 10.2.0.0/16 for this install.

2. Update `kubernetes.json` as per the instructions in the CustomVNET directory of ACS-Engine:
2a. Include the path to the vnet created above in `properties.masterProfile.vnetSubnetId`
2b. Set `properties.masterProfile.firstConsecutiveStaticIP` to `10.2.255.23

[2017-03-28 16:04] colemickens opened #440 "Fix Apiserver HA config"
We need to remove the `--apiserver-count` flag and add --advertise-address to be the DNS LB endpoint.

I can add more details later, but this may fix or help address the TCP connection problem we've been seeing when an apiserver goes down...

cc: @raveeram

[2017-03-28 16:08] colemickens commented on #437
There are upstream issues (and a PR in progress) for an annotation that will create an internal load balancer.

Which part do you not understand? You seem to have it working?

[2017-03-28 16:12] rocketraman commented on #437
Thanks for the quick reply...

Great. In the meantime, what do you suggest as the best workaround?

I guess I do understand it :-) I was going by your earlier comment "I'm not sure how it would be working."

[2017-03-28 16:14] colemickens commented on #437
Use NodePort (and/or use NodePort + wire up the ILB yourself). Unfortunately, I don't know of a better solution right now.

I didn't realized you'd found all the things that needed to be changed 😄 .

[2017-03-28 17:12] rocketraman commented on #437
BTW, for future reference to others, I believe these are the relevant links:

https://github.com/kubernetes/kubernetes/issues/38901
https://github.com/kubernetes/kubernetes/pull/43510

Using NodePort with a manually wired ILB worked, thanks.

I may still submit a minor docs PR, so I'll leave this open for now.

[2017-03-28 17:37] rjtsdl commented on #350
From Anders's latest found.
"The master log seems has been moved to syslog and kernel log, but it doesn’t get rotate. "

[2017-03-28 18:09] raveeram commented on #440
Thanks Cole, that sounds intriguing. I'll try it out. Although I have some questions based on this: https://github.com/kubernetes/kubeadm/issues/37. Let's discuss when you're back

[2017-03-28 19:03] anhowe commented on #433
please check back week of April 3rd

[2017-03-28 19:03] #433 closed

[2017-03-28 19:31] colemickens commented on #440
Yes, this came up in a sig-cluster-lifecycle meeting around kubeadm.

What happens is this: without the flag, the 'kubernetes' service will flap, multiple times a second even, between the three apiservers as they try to claim ownership and update the `default/kubernetes` endpoints list.

As for the certs concerns, we would just make the api advertised address be the FQDN that we use everywhere els

[2017-03-28 19:37] colemickens commented on #350
syslog? really? It might be piling up in journald, but I wouldn't expect to see it in syslog... Is that really what the "journald" driver does?

[2017-03-28 19:55] siamak-haschemi commented on #437
As faar as I understood, the Azure networking solution for k8s is based on the cloud native ip-routes, instead of an overlay network. So my assumption is that the POD network segment can interfer with an existing network segment.

In our setup I separated all, master, node, and POD network segment to be different from our existing 10.0.0.0/12 network (our classical production environment where our

[2017-03-28 20:19] colemickens commented on #437
Presumably the peered vnet won't overlap with the k8s vnet space...

Service IPs are virtual (think like overlay) and only have meaning on the kube nodes, so shouldn't be a problem.

I am unsure about the Pod traffic though. Traffic should get out fine, but it won't be masqueraded if the peered vnet is 10.x.x.x/x.... You'd likely have to adjust the flag that controls masquerading or mirror the rou

[2017-03-28 20:26] rocketraman commented on #437
Ok, so indeed there was something I didn't understand earlier. Thank you @siamak-haschemi and @colemickens for clarifying. The pod-to-pod networking is covered [here](https://kubernetes.io/docs/concepts/cluster-administration/networking/) and based on this doc, indeed Kubernetes assumes that all containers can communicate with all other containers without NAT, and that all nodes can communicate wi

[2017-03-28 20:29] colemickens commented on #437
Those ranges are just variables in the output template, it shouldn't be hard to make the modifications, you seemed comfortable diving in for the other fields you changed, should just be a few more to touch.

This has been asked for a lot. If you or @siamak-haschemi or someone else were to rebase that PR, I will set aside some time to review it, make sure the api (in the apimodel.json) is agreeable

[2017-03-28 20:30] rjtsdl commented on #350
After take a look of Anders's cluster's master node, here is what i found.

1. The node doesn't have a /var/log/journal folder, and the default Storage=auto, that means, we don't have persistent log. This will equal to Storage=volatile, all the logs will only be stored in memory, corresponding to /run/log/journal hierarchy. So the journald's log is not consuming the disk.

2. By default, journald

[2017-03-28 20:34] rocketraman commented on #437
Here is what I come up with in the generated templates when searching for "10.":

[code]

So the only 2 that seem to require change that cannot already be modified via the input json are `kubeDnsServiceIp` and `kubeServiceCidr`. Does that seem correct to you @colemickens ?

[2017-03-28 20:34] colemickens commented on #350
I definitely don't know best practices or anything, but #1 seems easiest? And journald seems more of the future direction of systemd-based linux systems? But that's not a strong opinion at all.

[2017-03-28 21:19] yangl900 commented on #350
If we persist the logs in disk, seems #1 is better to me.

Also, maybe we should separate the logs into another data disk, so even it's full, it doesn't hurt master etcd. If that's reasonable, can we track that as an issue too?

[2017-03-28 21:21] siamak-haschemi commented on #437
In our case, we have an existing `10.0.0.0/12` network, which means

[code]

I planned our kubernetes cluster network like that:

[code]

And to achieve that, I have this patch

[acs-engine-modify-subnet.txt](https://github.com/Azure/acs-engine/files/877088/acs-engine-modify-subnet.txt) based on commit 1c322cd9469d6cdf25575e3c22d7806af0cf07f6

@colemickens Unfortunately, I don't see having time to

[2017-03-28 21:57] caseydavenport commented on #439
Calico developer here.

Can confirm that the correct solution is, as you describe above, to configure an IP Pool without outgoing NAT enabled.

[2017-03-28 22:08] colemickens commented on #439
Thank you both for the quick responses! @simonswine mentioned on Slack that he would update the yamls that acs-engine pulls down, but that it might take a day or two.

Another option might be to actually bake those into acs-engine as we do with other addon-type yamls... it also aligns with an effort to reduce our dependencies on external hosts.

[2017-03-28 22:44] rjtsdl commented on #350
Ok, Let me try #1. I will update when i have a PR ready.
I assume we need to have a customized journald.conf file, where we mark Storage=persist.

[2017-03-28 22:45] rocketraman commented on #437
I did the primary grunt work of rebasing pull https://github.com/Azure/acs-engine/pull/191 BUT my rebased branch is definitely broken -- the tests don't work. Unfortunately, I don't have time to dig deeper and understand why... but hopefully someone can build on it:

https://github.com/rocketraman/acs-engine/tree/rg/customVnet

cc: @colemickens

[2017-03-29 00:44] anhowe commented on #421
Thanks Daniel for the link to your detailed guide.  This is really cool.  Your github account is quite discoverable by customers, so we will close this for now.  If you wanted this referenced, this may be a good candidate to reference under https://github.com/Azure/acs-demos.

[2017-03-29 00:44] #421 closed

[2017-03-29 00:47] #359 closed

[2017-03-29 02:47] idealhack commented on #438
I thought this is not a dupe.

Why would these vmsizes exists in test data since they are not allowed to use?

[2017-03-29 03:05] anhowe commented on #438
@idealhack Are you using a template created by ACS-Engine or using portal or CLI to create a cluster using the ACS service?

[2017-03-29 03:08] idealhack commented on #438
I'm using acs-engine like this:

[code]

[2017-03-29 03:08] anhowe commented on #438
Just repro'd, it appears VMSS does not support Basic SKU.  I'm reaching out to VMSS team.  Note that you can use basic on AvailabilitySet.

[2017-03-29 03:20] anhowe commented on #438
found the root cause:

"Load balancing is not supported for Basic VM sizes."

[2017-03-29 03:35] anhowe commented on #438
As a workaround you can remove the "ports" to make it a private pool, no loadbalancer will be added, and will actually:

"agentPoolProfiles": [
  {
    "name": "agentpublic",
    "count": 1,
    "vmSize": "Basic_A2"
  }

[2017-03-29 03:54] idealhack commented on #438
@anhowe Thanks, but this private pool config seems does not work.

[2017-03-29 04:28] anhowe commented on #438
Looks like you will need to use an availabilityset.  I've just sent an email to VMSS team.

I've just verified this, so please try the following:

"agentPoolProfiles": [
      {
        "name": "agentprivate",
        "count": 1,
        "vmSize": "Basic_A2",
        "availabilityProfile": "AvailabilitySet"
      }
    ]

[2017-03-29 21:40] rjtsdl commented on #350
#444 is the fix using #1. Please review.

[2017-03-30 05:50] yangl900 opened #446 "[Kubernetes] Load Balancer may enter Failed state when updating deployment"
## Problem
Service could lose incoming connectivity after upgrade deployment or service. While checking the service from Kubectl, it does have a public IP address, but that connection to that IP simply timeout.

## Investigation
We found out that the load balancer was configured correctly but with a 'Failed' provisioning state. This indicate the request to update load balancer (from master SPN) ev

[2017-03-30 05:54] yangl900 commented on #446
@colemickens I know the code is probably in Kubernetes, but since all ACS clusters could hit this issue potentially, I figured it's good to track it here.

Also given this is found from Livesite and has a relatively bigger impact, I recommend we prioritize this fix.

[2017-03-30 06:03] yangl900 commented on #369
@mfaizanse not sure if anyone find the root cause, but a similar problem is found on Linux cluster too. See issue #446 .  Worth checking the load balancer of the exposed service, if it's in 'Failed' state, then likely same issue.

[2017-03-30 08:30] timbrand commented on #446
Could this issue be related to the fact that I'm currently unable to create a Service of type LoadBalancer? It seems that there's no public IP generated and the service stays in pending state. Tried it twice now and waited an hour, without success.

[2017-03-30 08:48] colemickens commented on #446
@timbrand Please file a separate issue and include logs from kube-controller-manager. And specify if this is with ACS or ACS-Engine.

@yangl900 Can you please check and/or provide the k-c-m logs? I would suspect it's still trying to create the LB, unless there is a glaring bug where we swallow errors (I don't see any from skimming the code quickly). Does the audit log, or the k-c-m logs say why th

[2017-03-30 09:04] skinny commented on #418
@colemickens I'm still having troubles with this. If there's something I can do to troubleshoot, please let me know.

[2017-03-30 09:11] colemickens commented on #418
@JiangtianLi can you please provide an update

[2017-03-30 09:16] colemickens commented on #418
cc: @anhowe

[2017-03-30 10:18] timbrand opened #447 "[Kubernetes] Max number of frontend IPs"
I've just tried to add a Service of type LoadBalancer, and noticed that the service doesn't finish creating and keeps on Pending state.
The kube-controller-manager shows the following error:

`
2017-03-30T10:12:31.922013259Z E0330 10:12:31.921905       1 servicecontroller.go:665] External error while updating load balancer: network.LoadBalancersClient#CreateOrUpdate: Failure responding to request:

[2017-03-30 10:50] colemickens commented on #447
Please contact support to raise the limit to 30.

Also, it would be great if you can file an upstream issue in Kubernetes and tag me in it? I want to see if we can:

* determine at runtime the limit on the user's account (I doubt it)
* if so, return a better error from the cloudprovider so that K8s can surface a proper error message (I don't think this will be possible, I think it will have to be

[2017-03-30 10:51] colemickens commented on #447
Also thank you for digging into the logs and triaging this, I really appreciate it!

[2017-03-30 11:42] colemickens opened #448 "China Cloud clusterdefinition example"
Is there an example of the location parameter in the cluster definition? I thought one was added, but I don't see it...

[2017-03-30 13:04] holiman opened #449 "How to configure `allow-privileged=true`"
In my pods, I'd like to run docker with `--privileged=true`.

My yaml-files contain

        securityContext:
          privileged: true

But it appears that the underlying infra does not allow this. So how/where do i set the flag to enable it?

Thanks

[2017-03-30 13:40] colemickens opened #450 "GermanCloud FQDN gets wrong suffix - certs/kubeconfig are incorrect"

[2017-03-30 13:55] colemickens opened #451 "German Cloud has different Ubuntu images"
So the deployments fail because the specific image version isn't in German Cloud. I think this should be fixed in the platform rather than making every single piece of software and vendor in Azure handle different images for different clouds.

[2017-03-30 13:57] colemickens commented on #449
What makes you think the underlying infra does not allow this? Can you please share more information, like any error messages? Thanks!

[2017-03-30 14:03] colemickens commented on #450
For whatever reason, the certs have all the public cloud locations, the china cloud locations, but not the german cloud locations.

[2017-03-30 14:14] colemickens commented on #451
[code]

[2017-03-30 14:14] colemickens commented on #451
Presumably distribution of the Ubuntu images is far from our control so we'll need to be able to handle different image URNs for the different locations/clouds.

[2017-03-30 14:14] colemickens commented on #450
[code]

[2017-03-30 14:18] colemickens commented on #449
Hi @holiman! This is the relevant line: https://github.com/Azure/acs-engine/blob/master/parts/kubernetesmaster-kube-apiserver.yaml#L19

It is enabled. I was just easily able to deploy nginx with privileged=true. Please feel free to add more details, but I'm closing this for now. Thanks.

[2017-03-30 14:18] #449 closed

[2017-03-30 14:20] colemickens commented on #448
Maybe we don't need a full separate example, but we should add the location field to the apimodel and start requiring it in ACS-Engine.

[2017-03-30 14:21] colemickens commented on #448
cc: @raulfiru

[2017-03-30 14:21] colemickens commented on #450
cc: @raulfiru

[2017-03-30 14:21] colemickens commented on #451
cc: @raulfiru

[2017-03-30 16:33] rjtsdl commented on #350
@yangl900 after this fix, all the logs, include kern.log and syslog, will be stored under /var/log/journal/ hierarchy. So for your request to save it in a separate disk. It should be as simple as mount a disk at /var/log/journal.

And BTW, with this fix, it will not use more than 10% of the total disk space.

[2017-03-30 17:21] JiangtianLi commented on #418
@skinny We are working on a solution to set the correct DNS server and make the order of NICs deterministic.

[2017-03-30 19:29] yangl900 commented on #446
@colemickens  I checked the kcm logs, it only said updating LB and there is one trace saying completed. I didn't find more details. Any keyword should I look at? Unfortunately the activity log also did not say why the LB enter failed state. I understand we handles long polling, but do we verify the terminal state is 'Succeeded'?

[2017-03-30 19:29] JackQuincy opened #453 "20160330 api version dcos clusters are broken"
They don't receive a public agent pool load balancer and are missing some of the nsg rules.

[2017-03-30 19:40] colemickens commented on #446
The Go SDK *should* surface any non 200s as an error and the code would react accordingly and surface an error in the logs and not complete successfully. But you have an interesting point, I've not specifically seen cases where the long poll eventually fails (more accustomed to it failing in the sync portion), nor have I looked at the code that does error handling on the long poll. We've certainly

[2017-03-30 19:56] yangl900 commented on #446
well, the long polling always return 200. Usually the caller (Kubernetes, not the SDK) is responsible for checking the 'provisionState' property value, to verify if the operation succeed or not.

Also note that, in this case the external IP did not change, we updated an existing deployment, so only the node port changed (where the LB prob need change).

btw - where is the code for this azure speci

[2017-03-30 20:48] colemickens commented on #446
Ah. It would be good to know the situations in which Azure LB will take a request in the sync portion but return a failure in the async portion. I've personally never seen this.

Oh, this is interesting. I'd be curious to know more about the exact change

https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/azure/azure_loadbalancer.go#L147 That's where we update the LB

[2017-03-30 20:50] colemickens commented on #446
(made some inline edits to the above post, posting this to trigger email notification to look at the current incarnation on GitHub)

[2017-03-30 22:21] yangl900 commented on #446
The "Failed" state LB happened only once, but to 2 of our clusters. I think it was something wrong in NRP as an intermediate error, since retry the exact PUT fixed the LB.

Looking at the Kubernetes code, I don't think we check the end provisioningState. Should we fix that?

For your question - no, we didn't specify the NodePort, and update deployment changed the node port. I am guessing it is bec

[2017-03-30 22:29] colemickens commented on #446
I very much think that should be fixed in `go-autorest` so that all clients benefit from this. It's very unexpected that the long polling would swallow errors (if that is indeed the case), from an SDK perspective, in my opinion.

Hm, that's confusing. I've never seen that before (not to say it's impossible), but in k8s the Service and Deployment objects are totally independent. Changing the deploy

[2017-03-30 23:17] colemickens commented on #446
It looks like it checks for certain status codes when polling, rather than the provisioning status: https://github.com/Azure/go-autorest/blob/master/autorest/sender.go#L157

[2017-03-30 23:24] rjtsdl opened #456 "[Feature] api version 2017-01-31 support"
We already defined 2017-01-31's api model. However, the helper functions are not there yet. Such as api loader, etc.

[2017-03-30 23:46] lastcoolnameleft commented on #420
FYI, I believe this issue was related to the AAD outage happening on the same day.  I used the quick-start template, so the credentials should have been taken care of from that.

[2017-03-30 23:49] colemickens commented on #420
@lastcoolnameleft The quickstart template still needs a service principal: (from your link above) https://github.com/Azure/azure-quickstart-templates/blob/master/101-acs-kubernetes/azuredeploy.parameters.json#L26

[2017-03-31 05:08] yangl900 commented on #446
Briefly looked at the go-autorest code. I think this is the polling method should be used by the LB CreateOrUpdate() method:

https://github.com/Azure/go-autorest/blob/8a1913be6639bf0013293832bb0ccfe221287d9c/autorest/azure/async.go#L36

And it appeared been used too:

https://github.com/Azure/azure-sdk-for-go/blob/master/arm/network/loadbalancers.go#L103

now I'm a bit confused...Do you know if w

[2017-03-31 06:58] colemickens commented on #446
I know that we do *not* have a mock test for it. (and had I, I probably would've mocked the sync portion. I've asked the folks to generate interfaces/mock clients for testing, as it's a bit tedious to do today due to how the clients are generated.)

Interestingly, I think you're hitting a bug that we just spent a lot of time tracking down. ([Issue](https://github.com/kubernetes/kubernetes/issues/4

[2017-03-31 20:27] jritsema opened #458 "Internal-only clusters"
Is there a way (or are there plans) to use acs-engine to create internal-only kubernetes clusters with no public IPs along with custom vnets (i.e., internal corporate apps on an express route vnet)?

[2017-03-31 22:10] yangl900 commented on #446
Thanks. I will send you my resource Id if that helps. Just fun facts for your question - one of the clusters got a node NIC left in 'Failed' provisioningState, and that blocked *all* further operations of the LB. I don't think anyone touched the NIC in control plane in anyway. So, maybe it's the same case that LB fall into 'Failed' state without a control plane operation.

I don't know if it's pos

[2017-04-03 20:09] zachariahyoung opened #461 "NetworkUnavailable -> RouteController failed to create a route"
After a recent install we are getting the following error on each of our nodes.  We used the default install for kubernetes in our azure environment.

In the log for the controller pod we a seeing this issue.

I0403 16:51:16.586553       1 routecontroller.go:154] Creating route for node k8s-agent-708c8d27-1 10.244.1.0/24 with hint ba6ca9b0-09ac-11e7-8248-000d3a726930, throttled 579ns
I0403 16:51:1

[2017-04-03 20:13] anhowe commented on #461
@zachariahyoung This is pointing at a service principal error.  Here is the troubleshooting guide for this: https://github.com/Azure/acs-engine/blob/master/docs/kubernetes.md#troubleshooting.

How did you create your service principal?

[2017-04-03 20:38] zachariahyoung commented on #461
We don't have the service principal setup correctly I believe.  We will try again.

Please close this issue.

[2017-04-03 20:40] #461 closed

[2017-04-03 20:42] JackQuincy commented on #458
Not currently. Desires yes. Plans not that I'm aware of. Shouldn't be too involved of a change if you make it on the out template from ACS-Engine. PRs are welcome if anyone wants to add the ability to mark a master agent pool internal only and not give it a public ip address in that case.

[2017-04-03 20:46] JackQuincy commented on #458
There is not currently a way to do this. There have definitely been talks about allowing non public agent pool setups. I'm not up to date on that status of that. Which would be more of a kubernetes thing. As for having a cluster with an internal only loadbalancer on the masters. I don't know of any plans. It should be straight forward to change ACS engine output and possibly ACS Engine to have a n

[2017-04-04 10:08] holiman commented on #449
The reason I thought `privileged` was not enabled was that my image is spitting out the following message:
[code]

It'a docker-in-docker image.

[2017-04-04 15:21] jkurz opened #464 "What are the plans for upgrading clusters on day 365 for k8s clusters"
I love the idea of making k8s installations easier for my team. The issue I am trying to wrap my head around is, what happens on day 365 when kubelet needs to be upgraded. What happens if etcd needs to be updated or flannel needs to be updated? Are you planning on creating a guide to do updates, that we can follow or am I on my own, once I deploy my application to production and I need maintain th

[2017-04-04 17:25] JackQuincy commented on #464
Upgrade is on our radar. It is also a priority, but we don't have a ETA yet. I'll update here as more info comes.

[2017-04-04 19:22] colemickens commented on #449
That sounds like you didn't mount the docker socket in the Pod spec then. Either way, it sounds like an application/k8s-specs level problem.

[2017-04-04 19:24] jkurz commented on #464
@JackQuincy awesome. If there is anything you could make public, so the community could help work on the issue together, that would be great. I am willing to pitch in some elbow grease to possibly come up with a solution to make this a real thing. Would be awesome to come up with an automated solution that upgrades clusters based on some type of scripted method. That way all clusters get upgraded

[2017-04-04 19:28] colemickens commented on #458
Dupe of #221.

ClusterIP is "virtual" via iptables and thus only works on the nodes of the cluster. An internal load balancer for the Services is needed. There's a PR in progress upstream for that. Other than that #221 details some of the other things that will be required (ACS-Engine will need apimodel to have a flag to say "don't create the External Load Balancer".

There's also some additional

[2017-04-04 19:36] jritsema commented on #458
Thanks so much for the quick reply and I apologize for missing the other issue.  Would you like me to close this one out?

[2017-04-04 19:41] colemickens commented on #458
Sure. Thanks!

[2017-04-04 19:41] #458 closed

[2017-04-04 22:44] JackQuincy commented on #464
Last thinking I heard was an API to trigger upgrade so that enterprise customers wouldn't be forced to upgrade before they could test compatibility from our RP perspective. That will use some scripts or some other code/magic in ACS Engine to trigger/carryout the upgrade.
This [PR](https://github.com/Azure/acs-engine/pull/467) is our team changing our setup of the Kubernetes clusters to try to make

[2017-04-04 22:44] JackQuincy commented on #453
I got this fixed in my last PR

[2017-04-04 22:44] #453 closed

[2017-04-04 23:42] amanohar commented on #464
@jkurz, regarding:
_Would be awesome to come up with an automated solution that upgrades clusters based on some type of scripted method. That way all clusters get upgraded in the same way and it can be tested and proven out for each release._

Yes, that is the plan. It will be an automated solution based in input from the user and scripts so that all clusters follow the same upgrade model.

[2017-04-05 00:49] rocketraman commented on #109
The documentation added from pull #366 states that the NSG has to be removed, and the diff of `kubernetes_template.json` and `kubernetes_update_template.json` @ https://github.com/Azure/acs-engine/tree/master/examples/scale-up does show this removal.

However, I just tried a scale-up, and it worked with just changing the count and adding the offset parameters -- there was no need to remove the NSG

[2017-04-05 04:52] JackQuincy commented on #109
I should of been more specific if you don't remove the NSG any public services on the cluster will go unavailable for a period of between 2-10 mins is what I've seen reported.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Raman Gupta <notifications@github.com>
Sent: Tuesday, April 4, 2017 5:49:23 PM
To: Azure/acs-engine
Cc: Jack Quincy; Mention
Subject: Re: [A

[2017-04-05 05:14] rocketraman commented on #109
Thanks for the clarification.

Would love to see a more permanent fix for the scaling up/down problem. This is certainly a key aspect of running a container orchestrator that should be seamless.

[2017-04-05 10:11] bogdangrigg commented on #221
Same here - we are interested in the feature & we'd be willing to test / otherwise contribute.

[2017-04-05 13:05] himikof commented on #425
This could be solved by passing `--non-masquerade-cidr=10.240.1.0/24` (pod network address range) to kubelet on all nodes. This replaces the default value of `10.0.0.0/8` and fixes MASQUERADE iptables rule in cases when some external vnet is in the `10.0.0.0/8` address range.

[2017-04-05 15:33] colemickens commented on #221
@bogdangrigg I gave some of the high level tasks in the post above. My post in #458 gives some further guidance. If you want to take this on, I can offer pointers along the way.

[2017-04-05 21:27] ofiliz commented on #416
Note this has implications on the number of pod IP addresses that need to be assigned to the network interface when VNET-integration is enabled.

[2017-04-06 00:47] amanohar opened #472 "Enable encryption at rest by default for etcd persistent volumes"
Investigate enabling encryption at rest for etcd persistent volumes and evaluate performance issues.

[2017-04-06 08:07] raulfiru commented on #450
Hi

Ay progress on this issue? It is the one that's currently preventing us from properly rolling it out on Azure Germany.

[2017-04-06 14:27] ashb commented on #439
The IP range should not be hard-coded either, especially not once/if #473 is merged.

[2017-04-06 22:08] anhowe commented on #19
closing old issue

[2017-04-06 22:08] #19 closed

[2017-04-06 22:09] #48 closed

[2017-04-06 22:13] anhowe commented on #96
related to #450 and #451

[2017-04-06 22:16] anhowe commented on #109
Closing since main issue is solved.

[2017-04-06 22:16] #109 closed

[2017-04-06 22:17] anhowe commented on #127
Closing as not priority

[2017-04-06 22:17] #127 closed

[2017-04-06 22:26] anhowe commented on #177
Once we add labels, we can remove kubelet from talking to ARM.  We have noticed that scaling tests failed because all the kubelet calls resulted in throttling.

[2017-04-06 22:28] anhowe commented on #182
closing since this is tracked on DCOS

[2017-04-06 22:28] #182 closed

[2017-04-06 23:34] colemickens commented on #177
If we do so, it should be temporary until we have the metadata service where we can get this information into the cloudprovider. That avoids hard-coding labels on kubelet flags, and it avoids quota problems.

Consider resizing a node for example .... the label(s) will end up being incorrect.

[2017-04-06 23:39] colemickens commented on #19
Hm... could we maybe have a "backlog" tag and keep these sorts of things open? This is really something we should do eventually. Or else is there somewhere else we're keeping track of these sorts of things?

[2017-04-07 06:07] raulfiru commented on #96
i can confirm that it is still there....

met @colemickens at kubecon europe and went though installing one on azure germany. it works if i ssh on the master node and use "-s http://localhost:8080" but it's not really usable

i can help with testing

[2017-04-07 15:26] vmakhaev opened #476 "Not able to pull image for kubelet"
Sometimes when I create clusters with acs-engine kubelet service not able to start. What I see from systemd logs is docker can not pull hyperkube image (gcr.io/google_containers/hyperkube-amd64:v1.5.3)

[code]

and I do not see agent nodes in cluster (there should be 10 agents, all of them have same issue):
[code]

I'm able to connect to google.com:443 from this node:
[code]
but not able to connec

[2017-04-07 16:01] rjtsdl commented on #350
@yangl900, the fix has merged. I will close this issue. Thanks!

[2017-04-07 16:01] #350 closed

[2017-04-07 16:02] #456 closed

[2017-04-07 20:26] JackQuincy commented on #476
Thanks for reporting this. We are also looking at this internally. I don't have latest info on status though. @anhowe @amanohar Can you guys update here when you make progress?

[2017-04-07 23:43] amanohar commented on #476
Hi @vmakhaev , can you run "curl ifconfig.co" to get external IP of the VM where you are seeing the repro and let us the know the IP.

[2017-04-08 00:28] colemickens commented on #177
Actually, @anhowe , if we do this, we break any FD support we have today in the scheduler. I strongly suggest that we not do this and document it as a workaround until IMDS is ready.

[2017-04-08 05:35] amanohar commented on #476
@vmakhaev, can you try again? The issue has been resolved now.

[2017-04-08 10:59] vmakhaev commented on #476
@amanohar external IP of the VM was 40.71.196.227. I will return to this in few days and let you know if some thing goes wrong. Btw, what was the problem?

[2017-04-09 21:02] colemickens commented on #451
@raulfiru Actually, for us to fix this, I think we'll need you to tell us what Ubuntu 16.04 images are available... Can you let us know which one you ended up using? `az vm list-images` or something similar should be a starting point for getting a list of the Ubuntu images... Thanks.

[2017-04-10 06:40] raulfiru commented on #451
i don't fully get it.. since i get multiple results...

az vm image list --all give me this:

az vm image list (cached)

and the portal has this comment:

the one i used and worked was:  16.04.201701130 (the one in the portal)

[2017-04-10 09:09] benkoller commented on #450
The hostname generated by azure (`xxx.germanycentral.cloudapp.microsoftazure.de`) differs from the hostname written to the kubernetes-cfg (`xxx.germanycentral.cloudapp.azure.com`). Changing the hostname in `~/.kube/config` unfortunately did not help much and produced shitloads of these:

[code]

Root cause seems to be the usage of the wrong API endpoints as the national and gov clouds use their ow

[2017-04-10 13:47] Karnich commented on #178
@avaranovich if i wanna enable batch/v2alpha1 on a cluster that is already up and running, can i just add it to the kube-apiserver.yaml file on the master node and then restart the VM? or even just edit it from the dasboard?

[2017-04-10 19:37] #180 closed

[2017-04-10 22:04] amanohar commented on #476
A live site incident last week impacted a subset of customers resulting in the symptoms described in this issue. The problem has been identified and was resolved Friday April 7 afternoon PDT

[2017-04-11 07:46] karthik-ir commented on #268
I'm facing the same issue. What is the work around this ?

[2017-04-11 22:06] colemickens commented on #178
@Karnich Yes.

@JonathanFraser pull requests accepted. So far, it's really trivial for users to make these changes in a hacky manner to unblock themselves. Plumbing it up in the API as an adjustable flag is considerably less trivial. We're not opposed to it, but we don't have the time right now to chase down enabling experimental features...

[2017-04-12 05:31] wangtt03 opened #484 "ACS engine should support CoreOS"

[2017-04-12 05:32] wangtt03 commented on #484
https://github.com/Azure/acs-engine/issues/83

[2017-04-12 05:33] wangtt03 commented on #484
#83

[2017-04-12 06:03] wangtt03 commented on #484
#466

[2017-04-12 06:04] wangtt03 commented on #484
I am working on this issue. #83

[2017-04-12 06:18] amanohar commented on #484
Linking to issue tracking CoreOS support for DC/OS: https://github.com/Azure/acs-engine/issues/83

[2017-04-12 07:40] colemickens opened #485 "Consider if `--apiserver-count` is desired on the apiserver"
I believe @aaronlevy was telling me about why `--apiserver-count` is actually counter-productive to use with apiserver.

Embarrassingly, I seem to have forgotten the exact reason why. I think it was in place to prevent flapping, but as a result, always has the 3 apiserver endpoints behind the `kubernetes` DNS VIP name even if one is down.

More importantly, I don't remember the recommended solutio

[2017-04-12 08:25] colemickens commented on #451
This isn't the most fun. @anhowe do you have any suggestions? Otherwise we're going to have to make these sorts of things part of the internal model as well... and as I'm looking at doing this, I realize we never fixed where the defaults are set... we need time to look into this and fix it correctly...

[2017-04-12 08:39] colemickens commented on #450
I just spent time digging into this. @anhowe we really, really need some time to cleanup some stuff in ACS-Engine. We need to pull some of this China/Germany stuff out into a more appropriate location. There are branches buried deep down in code. For just tracing this cert being wrong, I had to go to engine.go, then to acs-engine.go, then had to find out that the thing that formats the FQDN is som

[2017-04-12 08:46] colemickens commented on #484
Can you please discuss how you plan to achieve this @wangtt03 ? For example, I don't want to have to maintain 2x copies of customData for different distros...

[2017-04-12 08:58] Zenocolo commented on #371
Well, I do have a scenario where I would like to have managed disks on master nodes. I need to run postgre  database over several agent nodes, as storage I cant use Azure Fie Storage since it is using SMB which is not suitable for postgre do mount permisson issues. Therefore my best call is to install managed disks on a master and create an nfs share on it, makes sense? I tested managed disks for

[2017-04-12 09:06] colemickens opened #487 "./test/deploy.sh broke when used with validation...."
[code]

@dmitsh any ideas?

[2017-04-12 10:07] colemickens commented on #371
@Zenocolo er, what are you doing exactly? Kubernetes has no support for attaching or dealing with managed disks currently, and why would you be running the NFS share from the masters anyway?

Regardless of those answers, I guess I'm at a complete loss as to why we would not have managed disks for masters too. The Azure way (I know there are bumps along the way) is to get everything on VMSS + Manag

[2017-04-12 10:41] wangtt03 commented on #484
Currently I made two copies of customData because I found there are too much difference between them. CoreOS doesn't support bootcmd/runcmd and there are also some modifications in `write_files` section. I tried to merge them into one file but it is unreadable.

The modifications I made:
1.  Make a new copy of customData and make it workable for CoreOS
2. Add a parameter `osImageOffer` in `masterp

[2017-04-12 10:47] ashb opened #488 "When deploying Kubernetes with custom/external VNet there is no routetable or NSG associated."
Further to the work in #473 I'm attempting to deploy a Kubernetes cluster within a custom IP space (in this case 10.105.248.0/21) I ran into a niggle.

I created the VNet (10.105.248.0/21) and subnet for the VMs (10.105.255.0/24) using an Azure deployment following [examples/vnet/vnetarmtemplate/azuredeploy.kubernetes.json](https://github.com/Azure/acs-engine/blob/d40d70e5b3a1c0c64792b392412f47033

[2017-04-12 11:31] DonMartin76 opened #489 "Sporadic - kube-proxy does not start on some nodes"
Using fresh installs of Kubernetes via `az acs create`, we are experiencing the following things:

* Sporadically, sometimes right after start, sometimes 30-60 minutes later, a node goes down
* It seems as if either `kube-proxy` isn't even starting, or `kube-proxy` crashes; if it crashes, the entire node is totally non-responsive; it it doesn't start, the node can still be ssh:d to

We are provisi

[2017-04-12 12:13] Zenocolo commented on #371
@colemickens well, at the end of the day I'm trying to define best practice for MYSQL/POSTGRE on Azure Container Service/k8s. Lets take MYSQL, there will be pods running on 3 different nodes, but they need to share data, therefore they require a persistent volume available across the 3 nodes. In the Azure world that would be Azure File Storage, but since this can only be mounted via SMB protocol t

[2017-04-12 12:34] ashb commented on #488
This seems to have been by design in #411 (via commit 857abc2a117efb6b5170b5b96b017b98d32865ec) -- I suspect this is crossed wires/unintended effect from my previous PR and not the desired effect when networkPolicy is not "azure" -- otherwise the cluster that spins up is non-functional.

Is it possible with ARM templates to associate a routeTable with an existing subnet?

[2017-04-12 12:39] ashb commented on #488
Oh, and I also noticed that the NSG is created but not also assigned to the subnet.

[2017-04-12 12:53] ajorkowski opened #490 "Hybrid deployment - kubernetes cannot find windows nodes"
Just a heads up. After a fresh pull/build of acs-engine and building a hybrid cluster from scratch everything seems to deploy correctly (no errors in ARM deployment) and it doesn't seem like there is any pending operations. However once I run `kubectl get nodes` I am not able to see the windows nodes. The linux nodes do work and I am able to create services/deployments etc without any issues. The

[2017-04-12 14:41] ashb commented on #488
The route table point is documented as Step 7 in [docs/kubernetes.md](https://github.com/Azure/acs-engine/blob/d40d70e5b3a1c0c64792b392412f470338d097de/docs/kubernetes.md) but the NSG isn't. Is that a new bug/issue?

[2017-04-12 15:29] amanohar commented on #484
Some questions/feedback:
- osImageOffer - is an a overused term since its used in Azure internally to define different skus of the
same OS as well.  Can we call it OSDistribution or better yet LinuxDistribution?
Also, where do you plan to add this in the API so that the user can specify it?
- Making 2 copies of customData might make it difficult to manage. Would it be possible to parameterize cust

[2017-04-12 15:42] colemickens commented on #484
If we're going multi OS, it may be time to ditch cloud init and either
write a shell script or use Ansible (even if we only ever run the playbook
once, immutable style.)

On Apr 12, 2017 8:29 AM, "Anubhuti Manohar" <notifications@github.com>
wrote:

[2017-04-12 15:46] colemickens commented on #371
I still don't know why you would put that on the masters though. Something
goes wrong with NFS and you've taken out your cluster.

Anyway, I highly recommend you evaluate using stateful sets for this with
normal persistent volumes and replication.

I still think we should support managed disks for masters as well as nodes,
if we don't already.

On Apr 12, 2017 5:13 AM, "Zenocolo" <notifications@gi

[2017-04-12 15:48] colemickens commented on #488
The NSG should be associated whenever a Service is deployed I think, can
you confirm?

We can't do it in the template because the template can't reach over into
the other resource.group to configure the NSG on the subnet.

Or maybe we apply the NSG to the NICs in that case instead. I'll confirm
shortly unless you do first.

On Apr 12, 2017 7:41 AM, "Ash Berlin" <notifications@github.com> wrote:

T

[2017-04-12 15:51] ashb commented on #488
I'll check if deploying a service updates the NSG or not.

In this case it's all created in one resource group. Just not all created in the same deployment.

[2017-04-12 16:10] colemickens commented on #488
(Regardless, the ARM template doesn't re-express the vnet/subnet (how could it), so it doesn't have the opportunity to poke the NSG onto the subnet. I think in this case we go out of the way to add it to the NICs specifically...)

[2017-04-12 16:21] colemickens commented on #371
(By the way, I don't mean to be too prescriptive, just some quick suggestions. If you do end up with NFS (or Gluster or whatever) underneath the DB, I'd recommend running that on a separate specialized VM rather than overloading the master for that purpose.)

[2017-04-12 17:35] colemickens commented on #96
Closing in favor of the more specific issues.

[2017-04-12 17:35] #96 closed

[2017-04-12 17:37] anhowe commented on #484
We are closing as won't fix, since the multi-os scenario is out of currently scope for ACS-Engine.

@wangtt03 We do need some help with Sovereign cloud infrastructure building on what you have added, and @colemickens is filing an update.

[2017-04-12 17:37] #484 closed

[2017-04-12 17:39] colemickens opened #492 "Cleanup handling of different sovereign clouds"
There are a lot of places in the code where we have specialized branching off for different suffixes, etc. I think it would be better/cleaner if we had a struct like this declared, and passed around everywhere. Additionally, this could be done at the same time as #450, #451... in fact that's how I wanted to implement #451/#450 but I realize there is no good precedent for it.

Also, it's very awkwa

[2017-04-12 17:59] anhowe opened #493 "Regression to azure network plugin introduced by latest CIDR changes"
@ashb @ofiliz - the latest CIDR changes have broken the azure network plugin.  Deploying a standard template repros crash looping of the dns and dashboard processes.

The logs of DNS show the following error:

E0412 04:27:57.862786       1 reflector.go:214] pkg/dns/dns.go:156: Failed to list *api.Service: Get https://10.0.0.1:443/api/v1/services?resourceVersion=0: dial tcp 10.0.0.1:443: i/o timeou

[2017-04-12 18:02] ashb commented on #493
That normally appears at the start of the log for a few times. Just to confirm: that just keeps happening?

[2017-04-13 00:48] wangtt03 commented on #484
@amanohar I use both `OSTCExtension` and `AzureExtension` in the resource template and use OSImageOffer to switch between two extensions. The root cause is that `OSTCExtension` in CoreOS cannot download its dependencies which made customescript.py timeout.

And for the mesosphere issue, I guess the DCOS setup will overwrite the /usr/bin/curl however the /usr volume of CoreOS is ready-only, then it

[2017-04-13 01:12] colemickens commented on #484
@wangtt03 there's internal mail on that subject, but basically it's:
 * https://github.com/Azure/acs-engine/issues/492
 * https://github.com/Azure/acs-engine/issues/451
 * https://github.com/Azure/acs-engine/issues/450

[2017-04-13 01:13] colemickens commented on #451
As a shorter-term solution, @szarkos may be able to publish the image we use today into GermanCloud. I'll update more as I hear about this.

[2017-04-13 01:18] wangtt03 commented on #492
I think I can take this job but I don't have test accounts for these sovereign clouds. How can we collaborate on this issue?

[2017-04-13 02:27] colemickens commented on #492
I think we will have some willing counterparts in Germany to test, albeit asynchronously.

Additionally, the template outputs should be the same (other than where the GermanCloud FQDN suffix gets fixed... so you can always just diff the current output against the future output after your changes. I think this will be an okay strategy because the changes detailed here will be almost exclusively ins

[2017-04-13 07:23] raulfiru commented on #450
Not clear if you fixed it or it's still pending... but if you have a branch with this fix i would like to test it asap.

Tnx

[2017-04-13 08:11] benkoller commented on #492
If you still need access to the GermanCloud let me know, we can help.

[2017-04-13 08:54] colemickens commented on #450
No, I haven't had time. I think @wangtt03 is going to address this.

[2017-04-13 09:44] ashb commented on #488
Ah the NICs all have the NSG associated with them, so I think that is fine.

Are we accepting that the VNet associating has to be done manually for now? If so to make that easier it would be nice if that vnet name/id/info was given as an output.

[2017-04-13 19:21] colemickens commented on #488
For now yes. We can evaluate getting the cloudprovider to do it in the future, but I removed any of that because it was preventing people from using a vnet in a different resource group. If we end up with a "v2" of the cloudprovider that is more multi-resource-group aware, it could potentially wire things up.

But then it gets more complicated, because we want to get to a point where the SP used b

[2017-04-13 19:22] colemickens commented on #490
cc: @JiangtianLi

[2017-04-13 19:23] colemickens commented on #489
Can you repro without your scripts? Can you get us `kubelet` logs from nodes where kube-proxy doesn't start?

When kube-proxy doesn't start... is it because it doesn't get scheduled? Or it get scheduled but can't start?

`kubectl describe pod --namespace kube-system kube-proxy-<WHATEVER>` can be your friend probably.

[2017-04-13 19:23] colemickens commented on #487
cc: @dmitsh ping

[2017-04-13 19:24] colemickens commented on #485
Sorry to both you @aaronlevy... can you remind me the quick backstory on `--apiserver-count`? Thanks.

[2017-04-13 19:24] ofiliz commented on #493
If anyone actively investigating this? If you can't figure it out, please undo this change.

[2017-04-13 19:34] aaronlevy commented on #485
Oh no worries - glad you pinged again - this almost slipped through cracks (might need to make my email/github mention filters a little less strict :)

So the upstream discussion of the behavior is here: https://github.com/kubernetes/kubernetes/issues/22609

A recent discussion we had: https://github.com/coreos/tectonic-installer/pull/136 -- which discusses the option of using a load-balancer + `-

[2017-04-13 19:35] DonMartin76 commented on #489
On vacation until next week. Will try to repro asap when I get back.

[2017-04-13 19:37] JiangtianLi commented on #490
@ajorkowski Could you collect *.log in c:\k and c:\AzureData on your Windows node? I deployed a mixed cluster recently with 22284cbc1cf020b1e6eb7bd7d200f209c632b100 HEAD and`kubectl get no` shows Windows nodes.

[2017-04-13 20:18] ajorkowski commented on #490
@JiangtianLi I did spend some time on trying to get into the nodes but I was a bit lost :( Since the node wasn't connected on kubectl I couldn't do proxy commands... I guess I have to add a loadbalancer manually and then RDP using that? If you have any suggestions it would be appreciated and I will run/debug a new cluster later today.

[2017-04-13 20:23] JiangtianLi commented on #490
@ajorkowski Have you tried RDP SSH tunnel via the master node? This [link](https://github.com/Azure/acs-engine/blob/master/docs/kubernetes.windows.md#walkthrough) has the instructions.

[2017-04-13 20:56] ajorkowski commented on #490
I'll give it a go, but I'm not sure which IP I would use internally? I will try to use the ip addresses that are assigned to the NIC on azure then.

From memory the route table on azure did not have either of the window nodes' vms/nics added to it, and when I tried to add it manually it was instantly removed by kubernetes (which I thought was kind of cool). If this causes a problem I'll try to acc

[2017-04-13 21:08] JiangtianLi commented on #490
@ajorkowski If you go to https://resources.azure.com/ and find your resource group, it has node IP (privateIPAddress) under networkInterfaces.

[2017-04-13 21:45] colemickens commented on #485
Yes, this is perfect. The advertise-address and LB IP were exactly what I need to have jogged in my memory. We already have an ILB with a fixed IP, so we should probably move to that solution.

Thanks @aaronlevy!

[2017-04-13 23:37] ajorkowski commented on #490
Ok, I'm getting the problem with this freshly spun up cluster, and I was able to get into the windows box.

It's quite strange... there is no c:\k folder and this is all that is in the `C:\AzureData\CustomDataSetupScript.log`:

[code]

I'll see if I can run the script manually and see if I can get more of a response....

[2017-04-13 23:53] ajorkowski commented on #490
Something that might be related - I actually flipped the agent pools so that the linux one is first. I did this as when I was trying to setup an nginx ingress controller the service for the controller would always create a load balancer with a public ip that internally would point to the windows nodes, NOT the linux nodes. When I changed the order of the agent pools, the service would correctly po

[2017-04-14 00:11] JiangtianLi commented on #490
@ajorkowski I have linux agent pools first in my json so it doesn't seem to be the problem. Were you able to run CustomDataSetupScript.ps1 manually?

[2017-04-14 00:34] ajorkowski commented on #490
I'm slowly reverse engineering all the arguments from my azuredeploy.json/azuredeploy.parameters.json (and getting distracted a little bit). I'll have more info soon.

Just as an initial pass though - the fact that there is no k folder, or even a k.zip implies to me that the first step of Get-KubeBinaries didn't even finish? Saying that, when I ran wget on $global:KubeBinariesSASURL manually it di

[2017-04-14 00:45] JiangtianLi commented on #490
@ajorkowski From your CustomDataSetupScript.log, it seems the ps script wasn't executed from the beginning.

[2017-04-14 00:56] ajorkowski commented on #490
Is that right? In the azuredeploy.json I can see this line:

`"windowsCustomScriptSuffix": " $inputFile = '%SYSTEMDRIVE%\\AzureData\\CustomData.bin' ; $outputFile = '%SYSTEMDRIVE%\\AzureData\\CustomDataSetupScript.ps1' ; Copy-Item $inputFile $outputFile ; Start-Job -command { Invoke-Expression('{0} {1}' -f $outputFile, $arguments) } ; ",`

Which looks like is starting a job to run the script, and

[2017-04-14 01:07] ofiliz commented on #493
We've discovered that the azure-vnet CNI plugin suffers from a problem similar to #439. I'll fix that first, then check if it fixes this problem as well.

[2017-04-14 01:22] wangtt03 commented on #492
@benkoller Thanks a lot! Once I finished my coding work, I will work with you to test it:)

[2017-04-14 01:27] ajorkowski commented on #490
Ok so... I changed the line above and removed the Start-Job command and it worked?! The nodes are available in the cluster and the log file came up with all the output etc. I basically just removed the `Start-Job` wrapper around the `Invoke-Expression` call.

Here was the final result:

`"windowsCustomScriptSuffix": " $inputFile = '%SYSTEMDRIVE%\\AzureData\\CustomData.bin' ; $outputFile = '%SYSTEM

[2017-04-14 01:32] JiangtianLi commented on #490
@colemickens @ajorkowski Oh, that's why I see log differently. Seems Cole had some change recently to make it background.

[2017-04-14 01:45] wangtt03 commented on #450
I will handle this issue. Hope I can finish it soon:)

[2017-04-14 01:48] colemickens commented on #490
Sorry, I hadn't been seeing much in the log that was useful during my experiments. I assume we can make Start-Job pipe output to a file, if that's desired?

But are you saying that removing the `Start-Job` wrapper actually changed the behavior of the installation, or just that you were able to get logs then?

I also changed it so that the bootstrap kubelet output actually goes somewhere too... may

[2017-04-14 01:51] colemickens commented on #490
It looks like if you want the output from the PS1, we should try to activate Tracing from the PS1 script since it doesn't appear to be possible to tell Start-Job directly to redirect stdout/stderr. But from Googling, it *also* looks like there are caveats around transcribing from inside a background job. I just don't know about PowerShell sometimes...

[2017-04-14 01:55] ajorkowski commented on #490
@colemickens I modified the azuredeploy.json inline with the change mentioned above, no other changes.

I created the cluster from scratch I would say about 3/4 times while testing and each time the windows nodes were not active. After the change a fresh cluster worked correctly.

Saying that... Apart from the logging problems, I don't see why wrapping the script in a Start-Job would cause these p

[2017-04-14 01:57] JiangtianLi commented on #490
@colemickens In that case, maybe we can tweak Write-Log to redirect to file directly?

[2017-04-14 02:02] ajorkowski commented on #490
@colemickens Maybe something similar to this: http://stackoverflow.com/questions/26489507/azure-custom-script-extension-tasks-not-running-in-background

I can see in the azuredeploy.json that it is running the command `start /b powershell.exe -ExecutionPolicy Unrestricted -command`. Maybe that works the same as `Invoke-Command` as per that article in that it closes all processes associated with th

[2017-04-14 02:13] colemickens commented on #490
@JiangtianLi yeah, seems like a good idea.

@ajorkowski Hm... I intentionally used `Start-Job` because `Invoke-Command` was not working (as per the S.O. link).

I did a fair amount of testing and did not see nodes not working with that particular PR. Let me take a look at this again when I get home in a few minutes.

Here's the thing though... my change for Start-Job was merged... after this issue

[2017-04-14 02:26] ajorkowski commented on #490
@colemickens This is very true. Yes I can confirm that I first put up this issue before the Start-Job was added (looking at the commit history).

Well, next time I see it happen at least I know where to look/debug. It probably would be useful to have the log so I can give useful information in the case where -nothing- is downloaded, like the first time I ran the cluster while debugging this issue.

[2017-04-14 02:50] colemickens commented on #490
@JiangtianLi What did the log look like before? Was it a full transcript, or just places where we were manually `Write-Log`ing? I can try to add this back for debug-ability. Apologies if this has made it harder to triage whatever this current issue is...

@ajorkowski One more question... are you seeing these flakes in a particular region or anything? And what commit of ACS-Engine are you currently

[2017-04-14 04:14] JiangtianLi commented on #490
@colemickens Previous logs are just stdout/stderr of Write-Log. Thank you for looking into it. You are the expert. From the log, it seems the execution of the scripts were put to background even before your change. I'll need to search the history.

[2017-04-14 04:31] colemickens commented on #490
What makes you say this? I don't think that's the case. Before my change... if the kubelet ever got stuck waiting for a CIDR (because master is not working) then it would never complete, blocking the CSE completion and the deployment. So I don't think it was in the background.

After my change, I tested and Windows agents would finish provisioning, even if the master was broken and they didn't mak

[2017-04-14 04:36] JiangtianLi commented on #490
@colemickens from @ajorkowski

[code]
That makes me think the script is already executed in background, right?

[2017-04-14 04:38] colemickens commented on #490
That's due to my change: https://github.com/Azure/acs-engine/pull/478/files#diff-f18f17bd6f84d54a111be39c8fe59d54.
I think @ajorkowski pulled between filing and today. My point earlier was that whatever is making the Windows nodes not show up was probably not a result of my backgrounding change.

[2017-04-14 04:46] JiangtianLi commented on #490
@colemickens I see. This one was deployed today. I misread. Then we need the CustomDataSetupScript.log from previous cluster.
@ajorkowski Were you able to collect logs from previous cluster? For the cluster you deployed today, does `kubectl get no` not work for Windows node?

[2017-04-14 04:57] ajorkowski commented on #490
@colemickens I'm running in westus azure region, and that is correct I pulled the current master without any patches except for the start-job change I made. The cluster I spun up the second time when it worked is working without any issues right now.

@JiangtianLi I rebuilt my cluster 2 times today, the first time had the issue where it just output the $job, and the second I applied the patch and

[2017-04-14 04:59] ajorkowski commented on #490
I'll do some cluster delete/rebuild cycles with my patched deploy file - I'll see if I can get it to happen again and get a proper log.

[2017-04-14 05:12] JiangtianLi commented on #490
@ajorkowski Thanks. I re-read your comment and since with/without Start-Job both had issue and without Start-Job once succeeded, it may well be as Cole suggested - flakiness in accessing storage and downloading zip. Of course more logs would be helpful.

[2017-04-14 18:55] colemickens commented on #490
The problem is, even the logging that was in place wasn't enough to catch the network errors. As far as I can tell it's only going to be the things that are explicitly written with `Write-Log`.

I'm trying to figure out if there's something like `set -x` for PowerShell. The transcript is... a bit too verbose it seems. Plus, I'm seeing that it's not even doing anything. The Start-Job starts, but th

[2017-04-14 19:08] colemickens commented on #490
@ajorkowski were you able to repro without the Start-Job change again (hopefully with logs) ?

[2017-04-14 19:27] ajorkowski commented on #490
@colemickens Ah, sorry, forgot to put my findings here. I rebuilt the cluster about 5 times last night (with the patched version of my json, so I could get logs) but each time it ran successfully. So unfortunately I don't have any more insight... It does seem whatever was causing the issue is gone for me at least....

If I see it again I will definitely add it here, I will probably be recreating t

[2017-04-14 19:32] ajorkowski commented on #490
Did you want me to try creating the cluster with the un-patched version from master? Maybe the Start-Jobs is actually causing a problem? I could change the powershell script to output directly to the file or something if I need to do logging. I would have to do it later today though.

[2017-04-14 20:50] colemickens commented on #490
Yeah, if you can. I have a branch here where I tried to get Write-Log to redir to a file, and to run a transcript. But in my attempt(s?) I wasn't getting anything. It wasn't even making `C:\k` even though I added a line to explicitly create it at the beginning of the script. Maybe there is something weird going on with Start-Job.

If you can test w/ and w/o Start-Job back to back a few times, we c

[2017-04-14 22:58] robbiezhang commented on #476
I hit the same issue today. some nodes fails to pull image for hours.

Apr 14 22:31:52 k8s-agentpool2-62235045-4 docker[5090]: Unable to find image 'gcr.io/google_containers/hyperkube-amd64:v1.5.3' locally
Apr 14 22:31:54 k8s-agentpool2-62235045-4 systemd[1]: Time has been changed
Apr 14 22:31:54 k8s-agentpool2-62235045-4 systemd[1]: apt-daily.timer: Adding 9h 17min 45.323201s random time.
Apr 14

[2017-04-14 23:10] robbiezhang opened #497 "Docker-Engine is not installed on some node"
I use the ACS engine to provision a cluster today. I have 4 machines in an agent pool, but only 2 nodes shows up in the kubectl.

One of the failed nodes shows up after ~25 minutes. The journalctl log shows that it failed to download hyperkube image, but it's auto-recovered by retries.
The other node didn't show up because the docker-engine is not installed. It gets timeout when fetching the gpg k

[2017-04-14 23:58] colemickens commented on #497
Did it timeout on GPG key or on the package installing? Can you please provide logs?

Also, what commit was this on? Is it that `master` branch from @yangl900's repo?

[2017-04-15 00:00] colemickens commented on #476
(If you use triple backticks, newline, paste, newline, triple backticks, then you will get slightly nicer formatting there)

We're working on fixing this (cc: @dmitsh), but in the meantime... we should look to see if this is the same root cause as last time and raise alarms as needed (cc:  @amanohar).

[2017-04-15 00:34] robbiezhang commented on #497
It timeouted in both places, basically, the apt.dockerproject.org website has not response. However, the other node, which is health, can communicate with it.

`Apr 14 22:06:02 k8s-agentpool2-62235045-3 cloud-init[1739]: curl: (28) Connection timed out after 60000 milliseconds
Apr 14 22:06:02 k8s-agentpool2-62235045-3 cloud-init[1739]: gpg: no valid OpenPGP data found.
Apr 14 22:06:05 k8s-agentpoo

[2017-04-15 00:44] robbiezhang commented on #476
Thanks for the tips. Update the formatting. I still have one machine failed to pull the hyperkube image.

[code]

[2017-04-15 01:20] ajorkowski commented on #490
@colemickens Ok, ran a cluster using a fresh master version and the nodes DID NOT come up, so it seems the Start-Job is definitely the cause... Also, I had a look at my reflog and the commit that I had pulled when I first found this issue was https://github.com/Azure/acs-engine/commit/77deacee15307effa255f5bd5007df7026c2fab0, which looks like came out on the 11th and its the exact commit that Star

[2017-04-15 02:54] ajorkowski commented on #490
Ok so I was trying out some scripts locally. Take this for example (from windows bash):

[code]

That creates a file after 1 second, but you have to wait... If I add `Start-Job` then it doesn't print out a file:

[code]

If I add start /B it actually starts a second context but still no file is created:

[code]

As per this article https://serverfault.com/questions/121979/tools-to-run-a-background

[2017-04-15 03:32] colemickens commented on #476
Can you get me the whole log? `sudo journalctl -u kubelet | nc termbin.com 9999` will spit out a URL with the contents of the kubelet log. I need to see why the gcr pulls are failing. I'm wondering if the same livesite thing as last week is occurring now (sporadically) ?

[2017-04-16 08:42] wangtt03 commented on #450
@colemickens @raulfiru This PR #499 should fix the problem. Could you please verify it on GermanCloud? Thanks!

[2017-04-16 08:45] wangtt03 commented on #492
This PR #499 should fix the problem. @benkoller Could you please help me test it on GermanCloud? Thanks!

[2017-04-16 22:31] benkoller commented on #492
I will take a peek in the following days and give you an update asap afterwards. Thx for the efforts.

[2017-04-17 18:20] jaydp17 opened #500 "NodePort support ?"
Does ACS running k8s support NodePort?
I tried with a simple `nginx` pod as well as k8s dashboard.

I wasn't able to access it outside the cluster.

BTW, I'm using a cluster with linux nodes

[2017-04-17 19:11] colemickens commented on #500
We support type=LoadBalancer which is probably better for your scenario. `NodePort` is also "supported" but you'd need to poke holes in the NSG manually. If you just do `LoadBalancer` type then this will all be done for you automatically.

[2017-04-17 19:26] colemickens commented on #500
Closing this in favor of the discussion on GitHub. https://stackoverflow.com/questions/43423906/does-nodeport-work-on-azure-container-service-kubernetes

Please see the SO post where there is better information than I provided in my last reply (which I'm removing now).

[2017-04-17 19:26] #500 closed

[2017-04-18 15:52] #490 closed

[2017-04-18 18:16] jaydp17 opened #502 "InvalidParameter: platformFaultDomainCount when using agent disks"
Trying to create a cluster with managed disks, it throws the below error
[code]

Here's the JSON file I'm using
[code]

BTW, it works perfectly fine without the agent disks 😕

[2017-04-18 18:33] dmitsh commented on #502
Which region are you deploying in?

[2017-04-18 19:00] jaydp17 commented on #502
I'm deploying to `southindia`.
Let me try and deploy to some other region.

[2017-04-18 19:02] dmitsh commented on #502
Could you try westus?

[2017-04-18 19:03] jaydp17 commented on #502
sure

[2017-04-18 19:39] jaydp17 commented on #502
It works in `westus`

BTW, this could be a noob question (but I'm fairly new to Azure & k8s)
Where is the disk mounted? Here's the output from one of the agent nodes.
[code]

[2017-04-19 00:14] JackQuincy commented on #502
This does appear to be an issue/bug where we are always setting the fault domain to 3 and not all regions allow that many fault domains.

I'm currently deploying a managed disk cluster to try to find the disk.

[2017-04-19 00:46] robbiezhang commented on #476
I cannot repo the issue these days. All the nodes reported to the master after the Azure template is deployed..

[2017-04-19 01:06] JackQuincy commented on #502
I can't ssh into my cluster for some reason... You should be able to use fdisk, makefs, and mount to mount your disk sdc disk. I'm suprised that didn't happen by default though. @anhowe are there manual steps to take on a machine to be able to use the managed data disks?

[2017-04-19 09:12] karataliu opened #504 "Make '/etc/kubernetes/azure.json' more secure"
'/etc/kubernetes/azure.json' contains field 'aadClientSecret', thus it would be better to make it more secure.
1. For now file '/etc/kubernetes/azure.json' has a permission of 0644, it could better be 0600.
  Related: https://github.com/Azure/acs-engine/blob/4151596be9f8c3292e4b2650840b2c088ae8fb69/parts/kubernetesmastercustomscript.sh#L52

2. The secret field appears also on agent nodes. Will age

[2017-04-19 09:19] colemickens commented on #504
@karataliu

1. Agreed.

2. This PR effectively removes it: https://github.com/Azure/acs-engine/pull/483

[2017-04-19 09:43] rushabhnagda11 opened #505 "Adding a new node to existing k8s cluster"
Hi,

I have a running kubernetes cluster with 3 nodes. I modified the agentpool1Count from 3 to 4, in azuredeploy.parameters.json.

What I've observed is, the new node was added successfully, however there was a 5 minute downtime where the entire cluster (including all services) became unresponsive. Any idea why this is happening?

Also, what's the best way to add a new node to a cluster deployed

[2017-04-19 11:11] Zenocolo commented on #371
@colemickens TNX for suggestion, I think you're right, running Gluster clyster on a seprate VM's is best option. I also tried to create with ACS engine a second agentpool "storage" with managed disks to put them into VMscaleSet, but turned out that this is still not supported, for whatever reason, so I guess running separate VMscaleSet for Gluster is the way to go.

[2017-04-19 11:48] Zenocolo commented on #371
RE VMSS for K8S cluster: I did some research I found that VMSS is supported for DC/OS and SWARM clusters when they use managed disk, but not for K8S, may I ask for the  reason of this? (might be my missing K8S knowledge). Error message is: VirtualMachineScaleSets are not supported with Kubernetes since Kubernetes requires the ability to attach/detach disks, but in my view that is not an issue with

[2017-04-19 12:33] ashb commented on #493
Is there anything I can do to help this along? It's not affecting me but I'm keen to not see my previous merge backed out :)

[2017-04-19 12:49] ashb commented on #439
I took a look at bundling in the calico addon YAML files like we do with heapster/kubedns etc and it's not that straight foward sadly -- as we only want to include those files if the network policy is calico, but the customdata.yaml currently isn't templated so we can't put a conditional it in.

Do we want to convert customdata.yaml (and perhaps all the other bundles resources)? into a go text/tem

[2017-04-19 13:18] rocketraman commented on #493
I'm having the same issue. I don't see the error message shown by @anhowe on my setup, but the behavior is exactly the same -- the DNS and dashboard pods are in a crash loop (several hours now).

@ashb Here is what I am doing -- perhaps you can repro in your environment:

1. Create a custom vnet using [this template](https://github.com/Azure/acs-engine/blob/master/examples/vnet/vnetarmtemplate/azu

[2017-04-19 13:23] ashb commented on #493
@rocketraman That's curious cos I've been building them on and off like that for 3 days. And I don't have crash loops. Let me update my acs-engine to master and see if I can repro.

[2017-04-19 14:06] ashb commented on #493
@rocketraman Can you check in the logs of the controller-manager pod on your master? OD you see lots of errors like `routecontroller.go:160] Could not create route ....`?

[2017-04-19 14:23] ashb commented on #493
I'm testing something, the problem might be that the subnet address range is as large as vnet, and k8s/azure route table gets confused. I'm trying you example with a /24 on the subnet address prefix rather than /16 for both prefixes. The example might be broken.

[2017-04-19 14:29] rocketraman commented on #493
Yup:

[code]

[2017-04-19 16:19] ashb commented on #493
Okay, my findings (through spinning up and about about 10 clusters and getting a bit confused):

- Without a subnet configured the heapster and dashboard pods stayed in the "Pending" state
- That error will show up as long as as there is no route table associated with the subnet. Within a few seconds of associating the routetable to the subnet the errors disappeared and the routes were created.
-

[2017-04-19 17:11] colemickens commented on #505
This is because when you re-PUT the template, it removes the rules from the NetworkSecurityGroup. Currently, we recommend you remove the NSG from the output template before PUTing it to avoid breaking external service access for that interim period.

[2017-04-19 17:47] JackQuincy commented on #505
please see https://github.com/Azure/acs-engine/tree/master/examples/scale-up for details on how to scale up reliably without down time.

[2017-04-19 17:47] colemickens commented on #371
VMSS doesn't allow for disk attachment to single VMs. That restriction is true regardless of if they're managed disks or not.

[2017-04-19 17:47] colemickens commented on #371
@anhowe do we intentionally not allow MD for masters?

[2017-04-19 19:51] anhowe commented on #371
@colemickens the work for managed disks on masters has not been done yet due to resourcing.  I asked a question further up to try to understand priority: what is the scenario that we are solving if we enable managed disks on masters?

[2017-04-19 23:15] JackQuincy commented on #502
We should move the 3 to parameter and set that parameters value from the azureconsts.go file and vary it based on destination region. Issue is there isn't a table of which regions only allow 2 fault domains that I have heard of. So it might just take manual testing.

[2017-04-20 03:38] colemickens opened #510 "Image GC not running"
This is almost surely because we run `kubelet` from a container. It might be time to consider not doing that.

From a `kubectl describe node ...`:
[code]

[2017-04-20 03:54] colemickens opened #512 "etcd is not winding up on external disk"
While investigating something else, I noticed this in `cloud-init.log`:

[code]

Then sometime later when I logged in... the drive is partitioned (though not formatted it appears).
[code]

We *need* an e2e test for checking the etcd mount point at least.

[2017-04-20 03:54] colemickens commented on #512
cc: @amanohar

[2017-04-20 04:13] #505 closed

[2017-04-20 09:57] Savithra commented on #221
@colemickens Will changing the current external LB in the azuredeploy.json to an internal LB work until this feature is implemented?

[2017-04-20 12:13] karthik-ir opened #513 "kubernetesConfig not being reflected"
I added the below value to the template.json
` {
  "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes"
    },
    "kubernetesConfig": {
      "clusterCidr": "18.10.0.0/16",
      "serviceCidr": "18.20.0.0/16",
     "networkPolicy": "calico",
    "dnsServiceIP": "18.20.5.5"
    },
    "masterProfile": {
      "count": 1,
      "dnsPrefix": "s

[2017-04-20 12:23] karthik-ir opened #514 "Ping to 10.0.x.x from Pod not working."
I have pods with CIDR `17.244.0.0/24`.
I have a external machine (Outside of k8 cluster) with ip 10.0.1.23.
I ping the machine from the master node or agent node to check if it is reachable. And it is successfully pingable from master/agent.
But then when trying to access the machine from within the pod, I see that it is not reachable.

My assumption is 10.0.0.0/8 should be assigned to some of the

[2017-04-20 14:32] rocketraman commented on #493
@ashb Unfortunately I'm already using 192.168.1.0/24 elsewhere and even though the subnet cidr is non-routable, I want to avoid confusion. Given that, if I understand this correctly, I need to split up my VNET address space, say 10.10.0.0/16 into three non-overlapping subnets -- one for Kubernetes itself, one for the cluster, and one for services.

I'd like to try the following -- let me know if y

[2017-04-20 14:42] ashb commented on #493
@rocketraman Assuming that cluster subnet is set as the `clusterCidr` parameter, and that Kubernetes subnet is the subnet's addressPrefix, and that addressPrefix for the whole vnet stays as 10.10.0.0/16, then yes I think that should work.

[2017-04-20 15:08] rocketraman commented on #493
Perfect, giving that a shot now.

[2017-04-20 15:25] rocketraman commented on #493
I'm also assuming the firstConsecutiveStaticIp for the master node falls in the 10.10.192.0/19 range I defined for Kubernetes (the vnet's Kubernetes subnet address prefix). The documentation for this stuff really needs improvement...

[2017-04-20 15:28] ashb commented on #493
Yes, that is correct. I'm not sure if it's required or just convention but the firstConsecutiveIp is typically 14? 16? IPs back from the end of that subnet, so 10.10.223.239 in your case. and yes I will work on a PR to improve the docs around the custom IP stuff.

[2017-04-20 16:36] rocketraman commented on #493
@ashb The configuration above worked perfectly. One interesting behavior: this time, the DNS and Dashboard pods stayed in "Pending" state, without any crash loop. As soon as I applied the custom VNET workaround step #7 documented @ https://github.com/Azure/acs-engine/blob/master/docs/kubernetes.md all the pods transitioned quickly to Running state.

[2017-04-20 16:45] rocketraman commented on #493
@ashb One other thing that is probably useful to document as well : Docker tries to find an unused range in 172.16.0.0/12 for its internal networking (I'm not sure of the details here). So one should be careful when configuring Kubernetes to use that range -- probably best to avoid it completely.

[2017-04-20 21:28] rocketraman opened #517 "[Kubernetes] Support setting the DNS name label for public IPs created by ingress controllers"
When deploying an ingress controller, Azure Kubernetes helpfully creates a public IP address.

It would be useful to set the "DNS name label" of the created IP address based on an annotation in the Deployment. CNAMEs can then be used to point to this Azure DNS name, resulting in a (more) stable DNS configuration if the ingress controller is deleted and recreated.

[2017-04-20 21:31] anhowe commented on #514
Service IPs cannot be pinged.  This is by design, and more information here: https://github.com/kubernetes/kubernetes/issues/7996#issuecomment-100413276

[2017-04-20 21:31] #514 closed

[2017-04-21 00:18] jackwoodward commented on #493
@rocketraman am I correct in assuming that the workaround step 7 documented is not needed if you did not deploy to a custom template? I don't see any system pods pending and see no errors in their logs either but my pods aren't resolving names.

Windows IP Configuration

   Host Name . . . . . . . . . . . . : xxxxxxx
   Primary Dns Suffix  . . . . . . . :
   Node Type . . . . . . . . . . . . : Hyb

[2017-04-21 01:00] rocketraman commented on #493
You said "custom template" -- did you mean "custom VNET"? I believe the workaround step 7 is only needed if you deployed with a custom VNET. Which in turn, seems to be necessary if you want to use @ashb 's changes to deploy with specific subnet ranges. Otherwise there is no place to specify the KubernetesSubnet addressPrefix within the kubernetes.json fed to acs-engine.

[2017-04-21 01:31] jackwoodward commented on #493
Yes sorry I meant vnet. Wasn't trying to deploy to a specific subnet range so sounds like I don't need the work around. Too bad because that means I need to find another reason dns is broken.

[2017-04-21 02:11] rocketraman commented on #493
Well, its interesting... I had DNS resolution problems on the cluster I set up earlier today too. Since resolution was intermittent, I realized one of the DNS pods had failed to start or crashed or something... and indeed restarting it from the dashboard worked. Perhaps you are having a similar issue?

[2017-04-21 02:38] jackwoodward commented on #493
Reset the all the pods but that didn't fix the issue and the issue seems to be that the dns server address is wrong. Neither of the dns pods are listed for my pod, I manually set the dns to the dns pods and now things are working, now why  are the dns address wrong.

[2017-04-21 04:43] karthik-ir commented on #514
@anhowe Nope! I think I have not explained the issue well.
I have another machine which has IP 13.4.5.6, This is ping-able from within the pod.
But then The machine with IP 10.0.x.x will not be ping-able.
I'm talking about a machine which is outside of the k8s cluster.

[2017-04-21 05:02] jackwoodward commented on #493
So the issue turned out to be that kubeproxy had some errors when starting up. Restarting the service fixed the dns issue. Still have a weird 2-3 minute delay before I can talk to the internet when a container comes up but that is so far as I can tell "normal". Attached the log from kubeproxy.
[kubeproxy.err-20170421T023511.653.txt](https://github.com/Azure/acs-engine/files/946056/kubeproxy.err-20

[2017-04-21 12:50] dcieslak19973 commented on #221
I'm excited to see that K8s now supports Azure Internal Load Balancers. How soon before ACS incorporates

https://github.com/kubernetes/kubernetes/issues/38901

via

https://github.com/kubernetes/kubernetes/pull/43510

Thanks
Dan

[2017-04-21 15:59] anhowe opened #519 "Windows containers have a high latency on first outbound connection to internet"
On some windows containers, there is a delay in the outbound connection to the internet.

[2017-04-21 17:18] jackwoodward commented on #519
is this the fix being tested https://github.com/JiangtianLi/acs-engine/commit/dbb2ee3b35528517e8a427d45b8622b8cc3f95c1  ?

[2017-04-21 17:58] JackQuincy commented on #517
Agreed, this is actually an upstream issue on Kubernetes. Could you also file an issue there https://github.com/kubernetes/kubernetes .

[2017-04-21 17:58] rocketraman commented on #493
@ashb Looks like I spoke to soon about the deployment working and my DNS issues being resolved. All of Kubernetes is up and running, and all kube-system nodes and pods are in Running state. The logs of the DNS pods all seem fine.

However, as I am trying to deploy other containers, I see that they *intermittently* have DNS resolution problems. It seems to be an issue reaching the DNS server itself

[2017-04-21 18:24] JackQuincy commented on #513
@karthik-ir we reverted custom VNET/CIDR changes due to a regression. Does that make this scenario no longer possible? Eventually we will want to reapply the custom VNET/CIDR changes, I'm just trying to get correct priority for this

[2017-04-21 18:32] jackwoodward commented on #489
I've had to restart kube-proxy twice now, I'm using windows though.

[2017-04-21 18:40] amanohar commented on #512
Ack, I will look into this and add a test.

[2017-04-21 21:01] jackwoodward commented on #493
@rocketraman @ashb my cluster is using the default serviceCidr and is exhibiting the same behavior that @rocketraman is describing,

[2017-04-21 21:52] anhowe commented on #371
Managed disks were not added due to the principle of smallest necessary change.  Please answer question at top, and we can consider re-opening.

[2017-04-21 22:16] JackQuincy commented on #440
Is this still something we need to look at? I'm reducing priority as it doesn't seem to be causing issues.

[2017-04-21 22:22] JackQuincy commented on #389
Why is this high pri? Sorry I just don't understand the importantance

[2017-04-21 22:25] JackQuincy commented on #280
PR has merged

[2017-04-21 22:25] #280 closed

[2017-04-21 22:53] JackQuincy commented on #18
doesn't look like we are actually going to do this. Closing it. Reopen if you have objections

[2017-04-21 22:53] #18 closed

[2017-04-22 00:47] JiangtianLi commented on #519
@jackwoodward We have done the test and verified the issue is fixed.

[2017-04-22 11:54] rushabhnagda11 opened #521 "Zombie processes exceeding ulimits"
I have a k8s cluster running for about a month. One of the nodes became very unresponsive, on sshing into this node (which worked after a few attempts).

ps -ef | grep defunct | wc -l gives 18622 processes.

Here is a sample of ps -ef | grep defunct

root     63412 16414  0 Mar31 ?        00:00:00 [wc] \<defunct>
root     63451 16414  0 Mar31 ?        00:00:00 [wc] \<defunct>
root     63588 16414

[2017-04-22 15:14] jaydp17 opened #522 "Kubelet errors out when /var/lib/docker point to an external drive"
Using the solutions given over https://github.com/moby/moby/issues/3127

I moved the `/var/lib/docker` directory to `/datadrive/.docker-files`.
The origininal path is sym linked `ln -s /datadrive/.docker-files /var/lib/docker`

After that no pod is starting on that node, here's the error
[code]

The path given in the error does exist, I checked.

Any clues, what going wrong?

[2017-04-22 23:37] jackwoodward commented on #519
thanks i just tested as well and can confirm as well

[2017-04-23 08:58] ams0 opened #523 "Understanding managed disks template in Kubernetes"
I deployed a cluster using [this template](https://github.com/Azure/acs-engine/blob/master/examples/disks-managed/kubernetes-vmas.json), since #144 has been merged. After successful deployment, I have:

- a master with the OS disk in storage account (unmanaged) and a 128GB data disk (managed); however, the latter, reported as /dev/sdc, is not formatted and not mounted
- agents have one OS disk, ma

[2017-04-23 16:18] karthik-ir commented on #514
@JackQuincy @anhowe Is this definitely not an issue? Can we reopen this?

[2017-04-23 22:45] benformosa opened #524 "Swarm Mode configuration fails"
I seem to have an issue when deploying swarm mode with a custom VNET.

The VM extension deployment times out because the `configure-swarmmode-cluster.sh` fails at the command `hostname -i`.

[2017-04-24 02:29] amanohar commented on #524
@benformosa , I just tried deploying a Swarm Mode cluster in a custom VNET and it worked as expected. I used subnets: 11.0.0.0/16 and 172.15.0.0/24 for agent and master respectively.

Can you provide more details on the error you were running into and the API model you used to generate your template?

[2017-04-24 06:37] andrewstevenson commented on #514
@JackQuincy @anhowe I have the same issue. I'm aware you can not ping a service from a pod but in this case I'm not trying to do that.  I'm trying to ping a set of Kafka vms outside of the k8 cluster in a separate subnet (10.0.0.0) . K8 is deployed to 10.0.2.0 in the same vnet.

[2017-04-24 09:47] ppanyukov opened #526 "Official docker image please?"
Hello, wouldn't it be nice to have an official docker image of this on docker hub, rather than requiring people to clone repo and invoke some scripts to build image, and *then* invoke `make` in the container.

Would be so nice if we could just `docker pull azure/acs-engine`.

[2017-04-24 09:51] andrewstevenson commented on #425
@himikof Hi, I'm trying to figure out where I need to set this? (kubernetes newbie)

[2017-04-24 13:08] mmisztal1980 opened #527 "Unable to mount the CIFS share in the ACS/DCOS cluster"
I'm trying to follow the documentation outlined [here (DCOS/ACR)](https://docs.microsoft.com/en-us/azure/container-service/container-service-dcos-acr) and [here (CIFS share)](https://docs.microsoft.com/en-us/azure/container-service/container-service-dcos-fileshare).

While iterating over the mesos cluster nodes, I'm supposed to mount the CIFS share using the scripts provided in the documentation.

[2017-04-24 14:00] lshahar opened #528 "After deploy using acs-engine az acs not recognize the cluster"
After deploy Kubernetes I have try to use az cli to manage the cluster and scale up, but the cluster not found under 'acs list' command.
$ az acs list
[]

[2017-04-24 15:10] amanohar commented on #528
az acs command works for a cluster created by Azure Container Service: https://azure.microsoft.com/en-us/services/container-service/ and will not work with a cluster created with ACS Engine since there is no ACS resource in this case.

[2017-04-24 15:10] #528 closed

[2017-04-24 16:08] JackQuincy commented on #522
I'm pretty sure docker runs as super user, but can you check permissions on the file. It might be possible docker can't list or read it.

[2017-04-24 16:29] JackQuincy commented on #514
This appears to be overlapping subnets or something of the sort. I'm not the expert on networking in general and definitely not on k8s networking. Can you tell if the containers subnet and the other services subnet are overlapping? if so K8s runs its networking largely via ip tables on the nodes + route tables in the vnet. If the subnets overlap k8s might be looking for a container with that addre

[2017-04-24 17:13] JiangtianLi commented on #519
@jackwoodward Thanks for confirming.

[2017-04-24 17:16] andrewstevenson commented on #514
@JackQunicy I believe they are. The default kubednsserviceip is 10.0.0.10 which I think is the issue. I'm not sure what the various ips configurations should be if I need to change this?

[2017-04-24 18:03] amanohar commented on #527
Can you try running the command as a super user/in sudo mode?

[2017-04-24 20:24] jaydp17 commented on #522
Docker is able to access the files as I can pull images and run them directly through docker.
Something's wrong with Kubelet container.

[2017-04-24 20:38] mmisztal1980 commented on #527
if I run it in sudo mode, it's all good, however the documentation implies that I'm ssh'ing into an array of machines and launching a local script remotely - can I ensure that sudo is propagated somehow?

[2017-04-25 10:45] mfaizanse commented on #446
Is this issue resolved? @colemickens

[2017-04-25 10:47] mfaizanse commented on #369
@JiangtianLi What is the status of this issue?

[2017-04-25 13:15] avaranovich opened #530 "k8s: Routing via Express Route"
I have a k8s cluster set up in Azure environment that has Express Route in place. I need to be able to communicate with the internal system via Express Route.

Kubernetes is deployed by using a default VNet template.

My POD can't reach the IP _192.87.126.210_.
If I try to reach just from normal VM, it works of course.

Is there some configuration required on the **route table** to facilitate the

[2017-04-25 13:17] avaranovich commented on #526
it is not a single docker image. In fact, if you don't need to customize acs engine, just go into your Azure portal, and search for Azure Container Service. This way you don't need to build anything custom yourself, and can just provision a cluster.

[2017-04-25 14:46] otaviosoares opened #531 "k8s: Pods can't reach kube services from specific node"
I woke up this morning and I had several pods crashing. One node of the cluster restarted during the night. I drained this node to understand the problem. After finding nothing useful I released the node to be scheduled again.

Now, this node seems to be isolated from cluster's network. I can create pods but it can't reach any service. I get host is unreachable error when trying to. I connected by

[2017-04-25 16:56] JiangtianLi commented on #369
@mfaizanse This has been resolved per fix in v1.5.3 kube-proxy/kubelet Windows binaries.

[2017-04-25 21:59] benformosa commented on #524
Hi, thanks for looking at this, and apologies if I've wasted your time.

I modified the generated template to set custom DNS servers. This may have worked for me previously when deploying with a single master, instead of 3.

Removing this modification allows the swarm to be configured correctly.

You can call this a duplicate of #308. You can probably delete PR #525 as well.

Thanks again,
Ben

[2017-04-25 21:59] #524 closed

[2017-04-26 10:05] colemickens commented on #221
@dcieslak19973 those aren't even in a released version of Kubernetes. I suggest you look at the release schedule for 1.7 and then add 2-4 weeks for us to get it into ACS.

[2017-04-26 10:59] himikof commented on #425
Kubelet arguments are set in `/etc/systemd/system/kubelet.service` on all nodes after deployment, or in [parts/kuberneteskubelet.service](https://github.com/Azure/acs-engine/blob/master/parts/kuberneteskubelet.service) in acs-engine templates.

[2017-04-26 13:36] rocketraman opened #537 "Document how to increase persistent volume size"
Document the procedure that should currently be used to increase (or decrease) persistent volume size.

[2017-04-26 14:17] dcieslak19973 commented on #221
Thanks! Just really excited for the feature

[2017-04-26 14:19] ajhewett commented on #221
This is also an important prerequisite for my use of ACS (medical sector).  Unfortunately, kubernetes/kubernetes#43510 is not yet assigned to a milestone.

[2017-04-26 14:27] ivanthelad opened #538 "Kubernetes Controller fails when using a a preexisitng vnet is used from another ResourceGroup"
Hi,
While this issue has come up become before. It is not clear if its been resolved.  Has this been fixed in the cloud controller or not?. When this occurs the scheduler fails to schedule pods to nodes

https://github.com/kubernetes/kubernetes/issues/38134
https://github.com/Azure/acs-engine/issues/120#issuecomment-262757203

0426 11:09:14.421906       1 routecontroller.go:154] Creating route for

[2017-04-26 16:40] anhowe opened #539 "Containers do not talk to each other on same host via service IP"
#486 introduced flags --iptables=false --ip-masq=false to docker, and this resulted in a case where pods on the same node, do not talk to each other via the service IP.  They talk via their pod ips, but not through the service IP.

To repro:
1.	Deploy a Kubernetes cluster with 1 agent
2.	Deploy an nginx service with 2 pods.
3.	Exec into the pod and try to curl to service, and you will notice it wi

[2017-04-26 21:50] andymoe commented on #221
Chiming in here. This is an important feature for the use case (ours) where we put an app gateway in front of the worker cluster in a docker swarm deployment. When using an app gateway there's not a good reason to have the backend pool traffic go over the public internet and doing so greatly complicates the deployment.

[2017-04-27 03:26] rocketraman commented on #539
I'm pretty sure this is the same issue I described here: https://github.com/Azure/acs-engine/issues/493#issuecomment-296732825.

As per that comment, I believe this can be fixed by ensuring that the `br_netfilter` is loaded on the master and agent nodes -- loading it on my nodes fixed this problem, without removing `--iptables=false --ip-masq=false` from the docker daemon.

[2017-04-27 06:02] rocketraman commented on #493
@ashb  I believe the problem I was having with DNS resolution is described in issue #539 and resolved by pull #540. So I suspect the CIDR changes were not at fault at all. Unfortunately, it looks like the CIDR branch needs to be rebased to merge cleanly into the latest engine code.

[2017-04-27 09:10] rushabhnagda11 commented on #521
After restarting the kubelet process on these nodes. Things seem to be fine. It's been around 4 days and not observing any such process on ps -aux.

Something very specific to my setup might have triggered this?

[2017-04-27 12:47] bearrito opened #542 "Document the Storage Account Level for Attached Disks"
It is not obvious from the examples how to declare the disks level for a agent pool.

In particular how to indicate whether the disks are premium or standard

https://docs.microsoft.com/en-us/azure/storage/storage-premium-storage

[2017-04-27 12:58] bearrito opened #543 "Document Usage of Ephemeral Disks"
The answer to this question might be entirely obvious to a seasoned  K8's on ACS user. It isn't obvious to me coming from typical usage of Azure VM's

What is capacity to use ephemeral  disks? None or some capacity? documented or undocumented?

I see them mentioned in https://github.com/Azure/acs-engine/pull/406 so ephermal disks seem to be a concept.

[2017-04-27 16:29] JackQuincy commented on #523
This is a bug. That disk is supposed to be mounted and have etcd on it.

The Managed disk support is not for adding more disks to give to the containers. In Kubernetes you should use a PVC and Azure disks or Azure files for that(Kubernetes will dynamically allocate them for you, there are issues here about this which you can look at to try to find a good setup). The point of the Managed disks in t

[2017-04-27 16:31] rjtsdl commented on #325
Close it, it is resolved by the #379

[2017-04-27 16:31] #325 closed

[2017-04-27 16:33] JackQuincy commented on #527
I'd say if it works then it propagated. If not I'd switch your command to include sudo, `ssh `whoami`@$line -o StrictHostKeyChecking=no -i yourPrivateKeyFile < sudo ./cifsMount.sh`

[2017-04-27 16:34] JackQuincy commented on #530
@colemickens Have we got this working with express route. I know we have done things with VNET peering, but I don't know about express route.

[2017-04-27 16:45] brendandburns commented on #531
Is the kube-proxy running?

Try
[code]

And paste in the output.

Does pod-to-pod network traffic work? (e.g. without a service in the middle)

Thanks

[2017-04-27 17:03] otaviosoares commented on #531
Hey @brendanburns thanks for the reply.

I managed to get it working by stopping and starting the VM again (restart didn't work).
When I was debugging I found that:
- kube-proxy wasn't running, just kubelet
- node was marked as Ready
- pod-to-pod communication work

Should I close this or leave it open for further investigation?

[2017-04-27 17:35] JackQuincy commented on #538
This is a upstream issue and the issue should be filed on kubernetes/kubernetes as well. This is not currently supported. We do have support to deploy your cluster into a vnet in that is peered with a vnet in another resourcegroup. There is some setup required to get that working and if you do take that route you should search the issues here to see how others have done it successfully.

[2017-04-27 17:37] JackQuincy commented on #539
I have confirmation that this was fixed with my PR from different sources.[#540](https://github.com/Azure/acs-engine/pull/540)

[2017-04-27 17:37] #539 closed

[2017-04-27 17:45] JackQuincy commented on #542
I believe this comes down to the VM Size. Here is a chart the chart of all sizes. https://docs.microsoft.com/en-us/azure/virtual-machines/linux/sizes-general
And from the page you linked it states:

So if you want premium disks use the sizes that support it. I did have to link two pages though so we could update the documentation to state that.

In code you can find the definitive list at
%repo ro

[2017-04-27 17:46] rocketraman commented on #539
@JackQuincy But did you see my note? Is the "better" fix to add the `--iptables=false --ip-masq=false` arguments back to the Docker daemon, OR to modify the system to ensure the `br_netfilter` module is loaded and leave those arguments off?

[2017-04-27 17:50] anhowe commented on #531
@otaviosoares can you create a ticket through the portal with your SubID/ResourceGroup and VM name of the one that you had to reboot to resolve the issue and paste the last 5 digits of the support request #, back to this issue, and we'll catch it on this side.

[2017-04-27 17:55] JackQuincy commented on #543
Yes there are ephemeral disks on every vm. documented here https://docs.microsoft.com/en-us/azure/virtual-machines/linux/optimization

Once you create a Linux VM in Azure, it has two disks associated with it. /dev/sda is your OS disk, /dev/sdb is your temporary disk. Do not use the main OS disk (/dev/sda) for anything except the operating system as it is optimized for fast VM boot time and does no

[2017-04-27 17:57] JackQuincy commented on #519
closing as we have confirmation it is fixed

[2017-04-27 17:57] #519 closed

[2017-04-27 18:03] JackQuincy commented on #539
I'm not sure I wasn't investigating. @anhowe did you see the `br_netfilter` suggestion in your investigation?

[2017-04-27 18:22] rjtsdl opened #545 "Strictly Enforce K8S agentpool DNSPrefix to "" after June 2017"
For backwards compatibility concern, we allow K8S agentpool DNSPrefix be specified. Even though we don't do anything about it. After June 2017, we should strictly enforce user to specify "".

[2017-04-27 18:22] rjtsdl commented on #545
#544 , this is to temporarily allow it.

[2017-04-27 18:42] rocketraman commented on #539
@JackQuincy @anhowe I'm reasonably certain that adding those two parameters to the docker daemon is only *indirectly* fixing the problem by causing docker to load the `br_netfilter` module.

[2017-04-27 21:41] rocketraman commented on #493
FYI I had no problems with the latest master + following the instructions provided by @ashb in comment https://github.com/Azure/acs-engine/issues/493#issuecomment-295329977.

The pull request to revert the revert for the CIDR changes is here: #546 . @anhowe it would be great if you could test this and see if this issue can be replicated.

[2017-04-27 22:00] rjtsdl commented on #526
@ppanyukov , just add some info.

Not sure if you are aware, you can do `make devenv` at the root after you cloned the repo.
It created the needed dev environment as a docker image, and then attach your repo as volume.
To access to the acs-engine binary, you need another `make build`.

Just want to make sure, you don't miss this.
Thx

[2017-04-27 22:45] colemickens commented on #538
This will be fixed when 1.6 is available. The route controller will no longer try to look  for the route table on the subnet. And then step 7 in the walkthrough will be required to link the routeTable to the existing subnet.

[2017-04-27 22:46] colemickens commented on #537
I don't think you can...

[2017-04-27 22:47] colemickens commented on #530
Yes, per numerous other issues, the route table needs to be mirror, the non-masquerade-cidr flag needs to be updated, or there needs to be an iptable rule added. There are other issues about this.

[2017-04-27 22:47] colemickens commented on #530
We should document this.

[2017-04-28 01:14] anhowe commented on #440
duplicate

[2017-04-28 01:14] #440 closed

[2017-04-28 05:36] mfaizanse commented on #369
Thank you @JiangtianLi . I have tried multiple deployments and services and its working now.

[2017-04-28 05:36] #369 closed

[2017-04-28 05:51] mfaizanse opened #548 "Connectivity issue inside container/pod [Kubernetes]"
Hi,
I am working with kubernetes with windows nodes on ACS.
I deployed a container inside a pod and it was unable to communicate with the azure sql db. When I run powershell inside that container and run a curl or Invoke-WebRequest, it failed, saying _"The response content cannot be parsed because the Internet Explorer engine is not available, or Internet Explorer's first-launch configuration is n

[2017-04-28 08:49] avaranovich commented on #530
Indeed would be good to have this documented.
Meanwhile, do you have any pointers on where this **an iptable rule added** should be done?
Do I need to configure kube-proxy on each node? Or there is a more straightforward way to do this on the running cluster?

[2017-04-28 11:57] carlosmkb opened #549 "Access to pod from external system in same VNET of Kubernetes cluster"
Hi,
I have a Kubernetes cluster with calico and created an ippool with pods address CIDR as mentioned in #439
With this configuration I can access to external systems from the pods, but cannot access directly to pods (10.244.x.x) from an external system in the same vnet.
There is any solution for this requirement?

[2017-04-28 14:27] nancyxue commented on #510
Has been happening to us in k8s v1.6.1.  How to run kubelet not from a container?

[2017-04-28 14:43] alahiff commented on #543
Given the text quoted above, why are `/var/lib/docker` and `/var/lib/kubelet` on the OS disk? Is there some way to deploy a Kubernetes cluster in ACS  where these are on the temporary disk (i.e. `/dev/sdb`)?

[2017-04-28 15:36] anhowe commented on #493
@rocketraman - please try using CNI plugin, with all defaults (no change of CIDR), and you will see the issue.

[2017-04-28 15:59] rocketraman commented on #493
@anhowe How do I use the CNI plugin? I was unable to find anything in the docs on this.

[2017-04-28 16:40] ashb commented on #493
@rocketraman  This snippet in apimodel.json should do it.

[code]

(In the right thread this time)

[2017-04-28 16:48] rjtsdl opened #553 "Add validate_test for versioned api"
Just like what we did for vlab api, we should add validate_test for the versioned apis as well.

[2017-04-28 16:51] anhowe commented on #493
@rocketraman - The CNI plugin is owned by @ofiliz , and he can help you with CNI related questions.  In addition to @ashb's template, here's a link to CNI examples https://github.com/Azure/acs-engine/tree/master/examples/networkpolicy.

[2017-04-28 18:20] JackQuincy commented on #543
the suggestion there is to actual have a separate data disk and use that instead, not the ephemeral disk.
@colemickens Any answer to the above question about why we are using osdisk with this is stated in Azure documentation

[2017-04-28 23:54] rjtsdl commented on #548
@JiangtianLi for input

[2017-04-29 00:01] JiangtianLi commented on #548
@mfaizanse You need to pass -UseBasicParsing in Invoke-WebRequest parameters. There was an issue #519  with outbound traffic inside container to Internet but that was fixed recently.

[2017-04-29 04:30] #258 closed

[2017-04-29 04:30] colemickens opened #555 "Switch Docker Graph driver to overlay2 or aufs"

[2017-04-29 10:30] colemickens opened #556 "CNI downloads aren't versioned?"
I'm trying to understand this:

[code]

`acs-mirror` looks like a CDN over storage rather than a passthrough like `acs-docker`.

Does GitHub not allow Azure CDN to sit on top like gcr.io/apt.dockerproject.org does?

[2017-04-29 10:30] colemickens commented on #556
@dmitsh

[2017-04-29 11:12] colemickens opened #557 "fs_setup will clobber etcd persistent disk?"
I haven't tested, but won't `fs_setup` in cloud-init cause the etcd disk to be erased whenever we attach it to a fresh VM and it goes through cloud init?

cc: @amanohar

[2017-04-29 11:14] #557 closed

[2017-04-29 18:58] itaysk commented on #543
I never tried Kubernetes, but with DCOS ephemeral is used by default. why the difference choice?

[2017-04-29 19:03] itaysk commented on #133
Reusing this thread to ask something that's been bothering me:
mesos-resources reports the size of free space in /var/lib/mesos but what actually takes space are the docker images that land in /var/lib/docker. Isn't this a problem? (mesos doesn't reflect it nodes true capacity)

[2017-04-30 04:02] ajorkowski opened #558 "k8s: DNS resolution problems on windows nodes"
I'm using a fairly recent commit (#520 d852abafd0291edf814e8a844af366be406eec1b) of acs-engine with kubernetes 1.6.2 including the winnat commit - however unfortunately I'm seeing some issues with DNS resolution that is pretty intermittent (to be fair I think they have been happening since I have been working on it, but there have been some other blocking issues)

Everything is working fairly well

[2017-04-30 12:30] itaysk opened #559 "Master VMSize A V2"
It seems that the entire A v2 series is not whitelisted for Master VMSize, but it is for agent pools. Old A series if available for both.
Is this on purpose?

[2017-05-01 13:32] TsuyoshiUshio opened #560 "Kubernetes dashboard does not come up acs-engine ver 1.6.2"
I create a acs-engine binary from the latest. However, the dashboard and dns doesn't work.
I can see the same issue for the older version. However, it is for the latest version.

How can I fix this issue.  How can I investigate more?

Also, I tried from Portal. It works fine. However, the version is v1.5.3.
Any ideas?

[code]

[code]

[2017-05-01 16:12] anhowe opened #561 "Outbound internet does not work with CNI plugin"
To repro:
1. deploy a cluster with CNI
2. kubectl exec to the container, and try to access the internet from a container

[2017-05-01 16:12] anhowe commented on #561
@ofiliz can you take a look?

[2017-05-01 16:56] ofiliz commented on #561
I propose that we revise the issue title: "Kubernetes pods do not have outbound internet access with CNI plugin in l2tunnel mode".

Azure-vnet CNI/CNM plugins in regular IaaS VMs can be given outgoing access to internet with a simple NAT rule:

`iptables -t nat -A POSTROUTING -m iprange ! --dst-range 168.63.129.16 -m addrtype ! --dst-type local ! -d {{{vnetCidr}}} -j MASQUERADE
`
The problem is th

[2017-05-01 17:50] JackQuincy commented on #560
Strange. Our CI/CD pipeline deploys a k8s cluster with every merge and it makes sure the dashboard and Kube DNS come up. https://github.com/Azure/acs-engine/blob/master/test/cluster-tests/kubernetes/test.sh line 99-117.  So makes me wonder what your input apimodel looks like and if we might have a test gap for the parameters you are passing in. Could you post your api model with the secrets redact

[2017-05-01 20:52] anhowe commented on #186
@khenidak is there a flag to set this.  Each VM size can support a different number of disks?

[2017-05-01 20:54] anhowe commented on #201
The mode to dynamically generate the "classic" templates on the fly was experimental, and has been reverted.  Closing this.

[2017-05-01 20:54] #201 closed

[2017-05-01 20:57] anhowe commented on #209
This can be done in parameters.

However, I really like the idea of documenting how to use this for kubernetes development, especially for how to build your own cluster, created from your own kubernetes.

[2017-05-01 20:59] anhowe commented on #208
Closing this P2 as it is nice to have, but can be currently solved in alternate ways.  We can consider re-opening if we get requests for this.

[2017-05-01 20:59] #208 closed

[2017-05-01 21:02] anhowe commented on #159
FYI: this PR helps solve this: https://github.com/Azure/acs-engine/pull/479.

[2017-05-01 21:03] anhowe commented on #236
closing as not specific enough.

[2017-05-01 21:03] #236 closed

[2017-05-01 21:04] anhowe commented on #283
This is low priority, but feel free to re-open.

[2017-05-01 21:04] #283 closed

[2017-05-01 21:05] anhowe commented on #290
@JiangtianLi completed this

[2017-05-01 21:05] #290 closed

[2017-05-01 21:06] anhowe commented on #370
@colemickens @amanohar does this get covered with upgrade?

[2017-05-01 21:14] JiangtianLi commented on #290
@colemickens  Thanks for reminding. We set timeout as parameter --image-pull-progress-deadline=20m passed to kubelet in kuberneteswindowssetup.ps1 for 1.6.0 and up.

[2017-05-01 21:16] anhowe commented on #281
With removal of expected, this feels like less overhead now.  The examples are missing values that the customer needs to set, that we don't want to have to set in test.  These do still seem like two distinct functions, so closing.

[2017-05-01 21:16] #281 closed

[2017-05-01 21:20] anhowe commented on #284
Closing since we have not heard customer feedback on this.  Feel free to re-open or issue a PR.

[2017-05-01 21:20] #284 closed

[2017-05-01 21:22] anhowe commented on #298
keeping open since this is a test gap

[2017-05-01 21:25] anhowe commented on #310
@squillace this is a request for documentation on collecting logs.  Flagging to you to add material around this.

[2017-05-01 21:34] anhowe commented on #308
Close, let's reopen, if someone submits a PR, or there is more interest in customizing /etc/resolv.conf including preservation / fallback to azure dns.

[2017-05-01 21:34] #308 closed

[2017-05-01 21:36] anhowe commented on #311
@raveeram fixed this in #412

[2017-05-01 21:36] #311 closed

[2017-05-01 21:38] anhowe commented on #352
@shrutir25 fixed this in #454.  We took out Basic, due to its lack of support for LB, and other Azure features.  There are equivalent and cheaper sizes than basic.  Please checkout the latest "promo" sizes.

[2017-05-01 21:38] #352 closed

[2017-05-01 21:41] anhowe commented on #353
@shrutir25 has this been completed?  I still see the .ps1 file.

[2017-05-01 21:43] bearrito commented on #543
Thanks for the response. I'm aware of the difference between the os disks and epehermal disks.

Just for my edification, when I create a emptyDir volume it will map to /dev/sdb?

The portion where someone could be confused comes from
`By default, emptyDir volumes are stored on whatever medium is backing the machine `

https://kubernetes.io/docs/concepts/storage/volumes/#emptydir

[2017-05-01 21:44] anhowe commented on #107
@squillace can you help with documentation around this?

[2017-05-01 21:46] anhowe commented on #344
@JackQuincy is writing code to do this, and will be able to share this.

[2017-05-01 21:49] anhowe commented on #215
This also affects scale-down.  This is not great UI wise, however, this is an upstream issue, and does not affect scheduling of containers.

Please re-open if this causes container scheduling issues.

[2017-05-01 21:49] #215 closed

[2017-05-01 21:52] anhowe commented on #261
Closing since the workaround is to get by with unix or TCP socket forwarding over SSH

[2017-05-01 21:52] #261 closed

[2017-05-01 21:53] anhowe commented on #349
@wangtt03 please rebase / remove "expected" files in #397, and we will approve.

[2017-05-01 21:54] JiangtianLi commented on #558
@ajorkowski What is the output of `ipconfig /all`? Does `ping idnttest.table.core.windows.net` fail too due to not able to resolve name? #539 might be related if you have service running on the Linux node.

[2017-05-01 21:55] anhowe commented on #334
closing, please answer these questions before re-opening: https://github.com/Azure/acs-engine/pull/406#issuecomment-289954501.

[2017-05-01 21:55] #334 closed

[2017-05-01 22:12] JackQuincy commented on #409
@shrutir25 fixed this with her last PR #554

[2017-05-01 22:12] #409 closed

[2017-05-01 22:48] JackQuincy commented on #413
Seems like an upstream issue. @JiangtianLi  Could you file this issue on kubernetes?

[2017-05-01 22:51] JackQuincy commented on #418
@JiangtianLi has this work finished?

[2017-05-01 22:54] JackQuincy commented on #438
#518 fixes this

[2017-05-01 22:54] #438 closed

[2017-05-01 22:57] JiangtianLi commented on #560
@TsuyoshiUshio Does `kubectl logs` on the dns and dashboard POD give any error?

[2017-05-01 22:59] JiangtianLi commented on #418
@JackQuincy Yes, the fix has gone into v1.5.3.

[2017-05-01 23:03] JackQuincy commented on #418
closed as the fix has gone it.

[2017-05-01 23:03] #418 closed

[2017-05-01 23:15] ajorkowski commented on #558
@JiangtianLi When I mention 'service' I am talking about the kubernetes services, so we have some that are pointing to windows containers, and some that are pointing to linux containers, but I haven't seem any problems with the connectivity between the windows <-> linux nodes (yet). This seems to be a problem with accessing the outside internet from within the containers on windows nodes.

Later t

[2017-05-01 23:24] skinny commented on #558
I'm having this exact same issue. After a (random) while the DNS lookup fails and never comes back fully until a ` ipconfig /flushdns`  is done inside the container. I noticed that when I manually enter the container and perform a `nslookup`  it succeeds most of the time but a `ping` command to the same host will result in 'no such name' /host unknown error.

[2017-05-01 23:48] anhowe commented on #272
@colemickens is there an upstream reference for cloud provider to be able to have a VNET live in a different resource group

[2017-05-01 23:51] anhowe commented on #272
Currently the workaround for this is to have a peered VNET.  See #425 as a reference

[2017-05-01 23:56] anhowe commented on #410
One reason for setting the defaults after reading the json is because we do not know before we load the json which orchestrator we are loading.  Let's post PRs for the defaults that applied to already set fields.

[2017-05-01 23:56] #410 closed

[2017-05-02 00:01] anhowe commented on #423
Closing since this is covered by upstream issue.  Please re-open, if you think changes are additionally required in ACS-Engine to make this work.

[2017-05-02 00:01] #423 closed

[2017-05-02 00:03] anhowe commented on #430
Closing since this is covered by adding an agent pool with Windows.

[2017-05-02 00:03] #430 closed

[2017-05-02 00:14] anhowe commented on #447
Closing since the limit was bumped to 30 (from https://github.com/Microsoft/azure-docs/issues/1238), and you should be hitting less often

[2017-05-02 00:14] #447 closed

[2017-05-02 02:13] TsuyoshiUshio commented on #560
Thank you @JackQuincy. I don't know the "apimodel".  How can I get the API model?

[2017-05-02 02:29] TsuyoshiUshio commented on #560
Thank you, @JiangtianLi !

I've got the `kubectl logs` It seems 10.0.0.1:443 not working.
This issue is similar to this issue. https://github.com/kubernetes/kubernetes-anywhere/issues/232

[code]
[code]

[2017-05-02 03:27] ajorkowski commented on #558
Ok, here is another example (this time is it cdn.raygun.io and not the table services).

[code]

Here is the `ipconfig /all`:

[code]

And just for completeness, I can query other urls:
[code]

[2017-05-02 03:30] ajorkowski commented on #558
This is interesting, if I do a `ipconfig /displaydns` I get the following:

[code]

It looks like there may be intermittent failures and they are being cached?

[2017-05-02 03:39] wangtt03 commented on #349
@anhowe I did a rebase and could you please review PR #397 ? Thanks!

[2017-05-02 04:12] wenwu449 opened #563 "No "role" label on Windows nodes"
Get nodes fomr a cluster with both Linux nodes and Windows nodes:
`kubectl get nodes --show-labels
NAME                        STATUS                     AGE       LABELS
35970acs9020                Ready                      5d        beta.kubernetes.io/arch=amd64,beta.kubernetes.io/os=windows,kubernetes.io/hostname=35970acs9020
35970acs9021                Ready                      5d        bet

[2017-05-02 06:46] JiangtianLi commented on #558
@ajorkowski The failure is intermittent. I could repro once and as @skinny said, after `ipconfig /flushdns`, the same name could be resolved. I'll find a way to repro more consistently and investigate.

[2017-05-02 08:58] alahiff commented on #543
@bearrito I found that emptyDir volumes use the OS disk (i.e. not /dev/sdb).

[2017-05-02 09:06] wangtt03 opened #564 "Error when creating kubernetes cluster using networkpolicy `azure`"
repo steps:
1. create kubernetes cluster using networkpolicy `azure`
[code]
2. login to created kubernetes cluster.
3. run `kubectl run nginx --image=nginx --replicas=1`
4. run `kubectl expose deployment nginx --port=80`
5. run `kubectl annotate ns default "net.beta.kubernetes.io/network-policy={\"ingress\": {\"isolation\": \"DefaultDeny\"}}"`
6. create file `nginx-policy.yaml` with content:
[code

[2017-05-02 09:09] wangtt03 opened #565 "Node status is unhealthy after creating the DC/OS cluster."
I use the latest acs-engine from GitHub and deploy a DC/OS cluster (default should be 1.9.0) on global azure and always have 1 or 2 unhealthy node. The dcos-navstar.service is not started correctly, the log is as following:
[code]
I tried to `systemctl restart system-timesyncd.service` then the dcos-navstar.service started. I did some deployments on version 1.7.3/1.8.7/1.8.7 and all these deployme

[2017-05-02 09:14] Camsteack commented on #272
Hi @anhowe I thought that issue was supposed to be fixed with k8s 1.6 as @colemickens said in #538 ?

[2017-05-02 09:24] mfaizanse commented on #548
Its working with -UseBasicParsing. But the issue is that my application is unable to connect to azure sql db. If I redeploy the pod then it may work. Same container image works fine on my local machine docker. How can I debug the issue?

[2017-05-02 17:15] JackQuincy commented on #564
Closing as we are already tracking this issue with #561

[2017-05-02 17:15] #564 closed

[2017-05-02 17:16] JackQuincy commented on #565
@rgardler Is this something you have heard of before?

[2017-05-02 17:17] JackQuincy commented on #560
@TsuyoshiUshio  by apimodel I mean the input json to acs-engine for the cluster.

[2017-05-02 17:18] JackQuincy commented on #559
@shrutir25 @anhowe

[2017-05-02 17:20] JackQuincy commented on #543
DCOS we started using the ephemeral disk to speed up install/start times. I am not familiar with the reasons for choosing to not use it for k8s. @colemickens should know.

[2017-05-02 17:23] JackQuincy commented on #549
@simonswine @colemickens Do either of you know the solution to this?

[2017-05-02 17:25] JackQuincy commented on #563
@JiangtianLi

[2017-05-02 18:05] marc-sensenich opened #566 "Ability to set sourceAddressPrefix and sourcePortRange for incoming SSH and TLS connections"
I have a use case to limit the sourceAddressPrefix and sourcePortRange for incoming connections to the created NSG. For this case, I would like to be able to define this in the cluster configuration file to parameterize these changes.

@bearrito

[2017-05-02 19:18] bearrito commented on #543
Thank you @alahiff

This seems fairly impactful. I need a significant amount of space for check-pointing without incurring network IO costs to write to a Storage Account based disk or Managed Disk. Is mapping emptyDir to /dev/sda by design or should this ticket be reclassified from question to bug?

[2017-05-02 19:29] bearrito commented on #566
Our need for this is driven by NETSEC requirements.

We would like to limit 22 access to our bastion box and/or limit 443 access to our set of static corporate ips

[2017-05-02 23:33] TsuyoshiUshio commented on #560
Thank you! This is it

[code]

[2017-05-03 00:15] JackQuincy commented on #566
I'm guessing this isn't high on the ACS team radar today. So if you want the feature we would need to have a design discussion here and if we can agree then you or someone else in the community could pick up the work to push this into ACS Engine

[2017-05-03 03:27] marc-sensenich commented on #566
That works out for me. The initial design I propose would be adding additional properties to the cluster definitions for configuring  sourceAddressPrefix and sourcePortRange in the masterProfile for the available protocols in DC/OS and Kubernetes. Where sourceAddressPrefix and sourcePortRange would be valid values per the constraints set for these in NSGs.

[code]

[2017-05-03 06:31] ajorkowski commented on #558
I have been using @skinny fix for the last day now (ie using the scheduler on the node to flush the dns in each container) and haven't had any problems so far. It is probably not that ideal though....

[2017-05-03 07:11] skinny commented on #558
Yeah I needed to shorten the interval to 10 minutes to avoid any issues yesterday but it does the job until we get a proper fix

Im also going to experiment with the Windows DNS cache a bit to see if that helps

[2017-05-03 13:12] blucas opened #569 "DC/OS - Unable to create external volume"
I'm unable to deploy a containerized app that uses an external volume using the DC/OS (1.9) Orchestrator on Azure.  According to the error message the `rexray` plugin is not installed. AFAIK DC/OS is supposed to come with RexRay installed as you can see in the component diagram below:
![https://dcos.io/docs/1.9/overview/architecture/components/](https://dcos.io/docs/1.9/img/dcos-components-1.9.png

[2017-05-03 16:16] dbarentine opened #570 "k8s: Remote client IP when using Azure Load Balancer is incorrect"
I'm getting the wrong client IP in services that use an Azure LoadBalancer for incoming traffic.

Current setup:
Kubernetes (Linux nodes) deployed through Azure Portal. Currently k8s v1.5.3
Deployed echoheader app and add service of Type: LoadBalancer

With that setup once I have a public IP from the LB I can hit the application but I end up with a private IP address on the k8s network instead of

[2017-05-03 17:18] khenidak commented on #186
No - I have it on my list to modify the scheduler to accommodate placement according to VM size and current-count-of-attached disks.

[2017-05-03 17:22] JackQuincy commented on #569
Strange. Our cloud init is identical to what dcos/dcos has for setting this up. In the list of packages we have
`"rexray--869621bb411c9f2a793ea42cdfeed489e1972aaa",`
and then we have the config for it like this
`- content: |
    rexray:
      loglevel: info
      modules:
        default-admin:
          host: tcp://127.0.0.1:61003
        default-docker:
          disabled: true
  path: /etc/rexr

[2017-05-03 17:27] JackQuincy commented on #570
This is a dup to this issue, https://github.com/Azure/ACS/issues/8 You need to add an annotation to the service to get the source IP. See this link for details https://kubernetes.io/docs/tutorials/services/source-ip/

[2017-05-03 17:31] JackQuincy commented on #569
@rgardler  realized you might have context here too.

[2017-05-03 18:17] dbarentine commented on #570
@JackQuincy Thanks that was it. Once the annotation was added everything works as expected.

[2017-05-03 18:17] #570 closed

[2017-05-03 20:34] JackQuincy commented on #569
@wbuchwalter Do you know what is happening here?

[2017-05-03 21:27] JiangtianLi commented on #563
It looks like --node-labels is not passed to Windows kubelet. Will come up with a fix.

[2017-05-03 22:16] ajorkowski commented on #558
@skinny Awesome, I think for right now the 10 min ping is sufficient as we are really just running a test server at the moment, but its good to know that there is an alternative that is even more reliable. Thanks for sharing.

[2017-05-04 01:17] ajorkowski opened #572 "k8s: Internal cluster requests via services does not work to windows nodes"
This is the last issue I have been facing to migrate some of our old services to kubernetes. We have 2 deployments that target windows nodes, and 2 that target linux. On top of that we are using an nginx ingress to direct traffic using the host headers. I am using a self-contained cluster - no custom/extended VNETs etc.

Windows:
- kalix-web-testing (with service, no LB). Mapped to test.kalixhealt

[2017-05-04 02:03] anhowe commented on #572
Was this just pod to pod between pods on the same windows machine? or across windows machines?  Both scenarios should work.  Also to help us repro, are you using the latest acs-engine, and what version of kubernetes are you using?

[2017-05-04 02:56] amanohar commented on #512
Alternative approach to get around cloud init bug in PR: https://github.com/Azure/acs-engine/pull/571

The bug in cloud init is bring tracked at: https://bugs.launchpad.net/cloud-init/+bug/1687712
PR for the above bug: https://code.launchpad.net/~paul-meyer/cloud-init/+git/cloud-init/+merge/323532

[2017-05-04 04:22] ajorkowski commented on #572
Sorry about not including the important information! I am not using the absolute latest version of acs, but a fairly recent version just after the winnat pull request (#520 d852aba). I didn't update because it didn't look like there was anything major that came out after that. Using kubernetes 1.6.2.

In my test case the pods were in different nodes. However I went in just now and kept deleting th

[2017-05-04 09:48] blucas commented on #569
An update for you guys.  I decided to try this out on a vanilla installation of DC/OS (1.8) using ACS **not** acs-engine (e.g. using portal.azure.com to create DC/OS).  Turns out that I get the same error on there as well. It also seems that their documentation (for 1.8) states that [RexRay does not support Azure](https://dcos.io/docs/1.8/administration/installing/cloud/azure/#install-dc-os), But

[2017-05-04 15:21] anhowe opened #573 "Why does --iptables=false --ip-masq=false break interpod connectivity on same host?"
#486 introduced a regression where interpod connectivity on the same host is broken.  #539 and #540 reverted this change as an immediate mitigation.

This Issue is to find a longer term fix where we can add `--iptables=false --ip-masq=false` back to /etc/systemd/system/docker.service.d/exec_start.conf.

@rocketraman has suggested the longer term fix for this issue in the discussion of #539.

[2017-05-04 15:23] anhowe commented on #539
@rocketraman - Jack's change is to mitigate the issue.  I have filed #573 for the longer term fix.  PR's are welcome.

[2017-05-04 17:05] shayansarkar opened #574 "Kubernetes pod log files with acs-engine"
When I deploy a kubernetes 1.6.2 cluster using acs-engine it does not seem to be generating a log file for each container.  If I ssh into a node and go to /var/lib/docker/containers/ I can see a list of all of the containers running on the node.  Inside each of the directories are the config files and other information for the container.  However, the container's log file seems to be missing in th

[2017-05-04 17:34] JackQuincy commented on #569
So I asked on the DCOS slack and rexray 0.5.0 supports azure but they are only on 0.4.0. They also had issues with the fact we normally deploy on VMSS and you can't attach a disk to a single node in VMSS. So this is a known issue and would be a feature update to support it.

[2017-05-04 17:48] JackQuincy commented on #574
Thanks for reporting this. We will get to this when we can. In the mean time if you or anyone else wants to submit a PR that would be awesome.

@colemickens  If this was by design can you update this thread?

[2017-05-04 18:49] iphilpot opened #575 "Protect docker daemon using TLS for Swarm and Swarmmode."
This change would allow customers to connect from client to ACS instance of swarm/swarmmode using TLS, which is a published best practice. Currently customers have to create an SSH tunnel to execute Docker commands on the remote host. The following are proposed changes to ACS-Engine to enable this functionality.

Current Customer/Partner example: [CodeShip CI/CD](https://github.com/codeship-librar

[2017-05-04 21:50] amanohar commented on #575
Ack @tripdubroot. I will review this soon.

[2017-05-05 01:52] seanknox opened #577 "devenv.sh fails to mount Docker bin on OS X"
Howdy folks. `scripts/devenv.sh` now fails trying to mount `/usr/local/bin/docker` in the container.

[code]

This happens if `/usr/local/bin/docker` is a symlink, which is the case if the docker client is installed via `homebrew` or via Docker for Mac. A temporary workaround is to copy an actual binary to `/usr/local/bin/docker`. This isn't a very good (or lasting) solutions because:
- It breaks

[2017-05-05 15:45] srigi opened #578 "Scaling-up SwarmMode cluster - nodes won't show up on master server"
I created small cluster using `acs-engine` in `SwarmMode`. Everything gets created correctly and I can see all initial agent nodes by running `docker node ls` on master node.
Then I scaled *virtual-machine-scale-set* instances up. No errors too.

How are the new node added to the swarm? I cannot see them on master nodes list.

[2017-05-05 17:20] amanohar commented on #578
@srigi , can you share the following logs from the node that does not show up when you list:
- /var/log/azure/cluster-bootstrap-postinstall.log
- /var/log/azure/cluster-bootstrap.log

Also, does Portal show that the new VMSS instance was provisioned successfully?

[2017-05-05 17:29] JiangtianLi commented on #572
@ajorkowski A couple of things to check:
1. What is the output of `ipconfig /all` in your Windows POD? There was an issue with DNS server configuration and was fixed recently.
2. Did you RDP to Windows node? If so, what is the output of `netsh advf show allprofiles`? Specifically is public profile state ON?
3. Besides `nslookup`, can you try `Resolve-DnsName`. There was an issue with kube-proxy fo

[2017-05-05 17:46] ajorkowski commented on #572
Thanks @JiangtianLi.

I was having DNS issues as a separate problem as per #558 which is somewhat mitigated now. With all of these examples I also resolved the ip (using `nslookup`) and executed the same commands, with the same results. I did this knowing that the DNS might have been a problem but I put the full names in this bug report to illustrate the structure better.

I will spin up the clust

[2017-05-05 20:07] JiangtianLi commented on #572
@ajorkowski Thanks for trying out. 1.5.3 has been tested more with acs-engine than 1.6.2. However, if you notice the discrepancy between 1.6.2 and 1.5.3, please let me know and I will fix ASAP (I just fixed one issue in 1.6.2 yesterday).

[2017-05-06 00:39] ajorkowski commented on #572
Alright, I've gotten the latest commit from master (a2e71c163ff30ae01940fbe7eff072901bcc582e) spun up a new cluster (kubernetes 1.6.2) and still getting the same issue:

[code]

Here is the `ipconfig /all` from within the windows pod

[code]

Here is a dump of `netsh advf show allprofiles` after RDP into the node. Interestingly it looks like the public profile state is not ON! However it looks lik

[2017-05-06 00:59] JiangtianLi commented on #572
@ajorkowski All your settings looks right to me. DNS server is set correctly and `Resolve-DnsName` works as expected. The public profile of firewall should be OFF. Sometimes after you RDP to the Windows node, it might be turned ON. But OFF is expected.

Are you able to `curl kalix-web-testing.default.svc.cluster.local` in the kalix-web-testing container itself? Which port is it using?

[2017-05-06 02:36] ajorkowski commented on #572
Sorry, took a while to get the next cluster up. I can confirm that the same problem is happening in kubernetes 1.5.3.

Something else I noticed was that while my container was spinning up I did get:

[code]

So it seems that the curl is reaching the endpoint in this situation? As soon as the health endpoint is reporting active (ie IIS is running) the `Unable to connect to the remote server` error

[2017-05-06 02:41] ajorkowski commented on #572
If I go back into the pod the IP address on one of the NICs matches `172.27.176.217` above, but I get the same issue if I try to curl it directly:

[code]

[2017-05-06 02:45] ajorkowski commented on #572
I can also confirm that if RDPed into the node that the resolved IP address via the DNS `10.0.131.27` also works.

[code]

[2017-05-06 03:00] ajorkowski commented on #558
Just a bit of additional information for this thread - I created a v1.5.3 kubernetes cluster and I did not see this DNS issue. So it seems to be just affecting v1.6.2 from my own testing.

[2017-05-06 20:23] ajorkowski commented on #572
Oh man... so dumb :( I gave this another go today and luckily I got the DNS name resolution issue at the same time as testing the curl:

[code]

This led me to work out what the issue is... The first hit to the app (via the internal call) is working, but returning a redirect, and the redirect is for the external domain, which is the one that times out.

[code]

So basically this issue can be disti

[2017-05-06 22:30] JiangtianLi commented on #572
@ajorkowski Good findings. I see, redirect is the culprit here.

[2017-05-08 13:40] alahiff commented on #543
I would consider it a bug, as it reduces the usefulness of emptyDirs. I've had to resort to using hostPath instead in order to use the ephemeral disk.

[2017-05-08 14:37] bearrito commented on #543
@alahiff  I concur.

We are also considering the usage of host path. In particular we are attempt to override the creation of the agent vm's so we can run an azure template script, so that we me  set the permissions on sdb which would allow us to run in unprivileged mode.

Did you do something similar or just run the containers in privileged?

[2017-05-08 14:58] srigi commented on #578
Hello @amanohar, thanks for reply.
I must apologize, nodes indeed showed up, I just have to wait little longer. I cannot express how awesome this is, I was thinking that after scaling *virtual-machine-scale-set* there is some provisioning work to do from my side. But this automation of including new nodes into the swarm is great.

Once again sorry for false warning.

[2017-05-08 17:29] alahiff commented on #543
@bearrito For the moment I'm just using the simplest option. I'm not using privileged containers, however - they initially run as root (& hence can write in sdb) then drop to an unprivileged user before doing actual work. Each container creates a directory in sdb named after its hostname in order to avoid collisions.

emptyDirs would be much nicer!

[2017-05-08 17:41] rjtsdl commented on #485
#579 , @colemickens, I have the PR ready.
@aaronlevy thx for the explanation.

[2017-05-08 19:57] #485 closed

[2017-05-08 22:47] rjtsdl commented on #577
@seanknox , can you try with the latest? What i noticed is, this line `-v /usr/local/bin/docker:/usr/bin/docker:ro ` doesn't exist in the scripts/devenv.sh file.

[2017-05-08 22:56] rjtsdl commented on #574
@shayansarkar , for the logging. We made a few changes to completely use journald to manage the logs.

The default docker log driver is `json-file`, which would be the one your see under /var/lib/docker/containers/. We changed that to `journald`, to better manage logs. You can use docker logs, or kubectl logs to get the log.

For better reference, check out https://docs.docker.com/engine/admin/log

[2017-05-09 01:35] #148 closed

[2017-05-09 02:33] seanknox commented on #577
Fixed in HEAD. Thanks @rjtsdl!

[2017-05-09 02:33] #577 closed

[2017-05-09 05:33] SitoCH opened #586 "Using kubernetes-hybrid only one Windows node is created"
Hello,
I'm trying to deploy an hybrid cluster with Kubernetes but, even if all the VMs are created correctly only the last Windows node join the cluster. Can you help me troubleshooting the issue?

My JSON file is the following:
[code]

As you can see there should be 6 nodes (3 linux and 3 windows) and a master but on kubectl two Windows nodes are missing. The strange thing is that if a deploy 2 W

[2017-05-09 09:51] janus-christensen opened #587 "processing extension 'cse0' provisioning fails on Kubernetes master"
Hello,

I am attempting to create a Container Service on Azure with a Kubernetes Orchestrator using acs-engine. I have created a JSON (kubernetes.json) that I run through _acs-engine_, which produces the attached azuredeploy.json and azuredeploy.paramters.json files. These I deploy in PowerShell with

[code]

The deployment fails with the following error:
[code]
When I ssh to the master VM and hav

[2017-05-09 10:07] Camsteack commented on #587
As far as I know you might have an issue with your service principal.
Can you verify that your `servicePrincipalClientID` and `servicePrincipalClientSecret` are correct and that it has the proper permissions on your subscription ?

[2017-05-09 11:31] SitoCH commented on #587
I had the same issue yesterday and, as @Camsteack said, it was related to a badly configured *servicePrincipalClientID* and *servicePrincipalClientSecret*.

[2017-05-09 11:34] janus-christensen commented on #587
Yes, I have just confirmed it is the case here too. I fixed the servicePrincalClientID and servicePrincipalClientSecret values and now it deploys without errors.

Thank you for the help!

[2017-05-09 11:34] #587 closed

[2017-05-09 16:15] JackQuincy commented on #586
This is very strange I haven't heard of others running into this that are running hybrid clusters. If you go to resources.azure.com you should be able to find the resource group you deployed into then go into Microsoft.Compute/virtualMachines. In there you hsould see 1 master node, your linux nodes and then some nodes that have #####acs9#### or something close to that, and those will be your windo

[2017-05-09 16:18] JackQuincy commented on #543
So right now we are pretty heads down working on our internal goals, hence why @colemickens hasn't been able to respond. But the idea of having emptyDir be on the ephemeral disk sounds good. If one of you want to take a stab at a PR mounting the ephemral disk or a partition of the ephemeral disk where empty dirs are created I'd be very willing to review it

[2017-05-09 17:38] JackQuincy commented on #566
For where we are today this feels to niche to make it into our API model. So we won't be taking this change at this time. The way I would do this would be to add the rules myself after deployment. then to remove the NSG from the template anytime I was updating the cluster.

[2017-05-09 17:48] bearrito commented on #566
That is the approach we took.  It's unfortunate because it adds to operator overhead.

I'm quite sure others work in audited environments were exposing important parts of the management api to the Internet isn't allowed and so everyone will have to replicate the above steps.

[2017-05-09 18:30] SitoCH commented on #586
Hi,
thank you for your help. I can see the 3 windows VM and all the three with:

[code]
I found an anomaly under *Microsoft.Network* -> *routeTables*, there I can see the master, 3 linux VM and only one Windows VM...

[2017-05-09 19:36] ivanthelad opened #589 "Support for docker 1.13 swarm-mode?"
Currently docker engine  in SwarmMode is pinned to 1.12.x
is there plans to have 1.13 supported for acs-engine swarm mode.
https://github.com/Azure/acs-engine/blob/master/parts/configure-swarmmode-cluster.sh#L19

or is acs-engine waiting on support 1.13 support in kubernetes first?
https://github.com/Azure/acs-engine/pull/327

[2017-05-09 19:37] yangl900 opened #590 "[Feature] Agent node should support data disk as local image cache"
Agent node has only 30GB os disk, this doesn't work for a larger windows container image. Even on Linux, if we want to cache common base images, 30GB is not enough.

We should support agent node to cache images on data disks instead of os disk, then allow user configure a much larger data disk.

[2017-05-09 21:18] robbiezhang opened #591 "K8s Agent Cannot Use Standard_F1"
Standard_F1 is defined in GetKubernetesAgentAllowedSizes,
https://github.com/Azure/acs-engine/blob/master/pkg/acsengine/azureconst.go#L324
but it doesn't exist in GetSizeMap:
[https://github.com/Azure/acs-engine/blob/master/pkg/acsengine/azureconst.go#L560](url)

The ARM template is generated successfully, but it failed to process.

[2017-05-09 22:35] rjtsdl commented on #578
Remove bug label, and close it, as it is false alarm.

[2017-05-09 22:35] #578 closed

[2017-05-09 22:42] JackQuincy commented on #591
@shrutir25 was this something we meant to do?

[2017-05-09 22:46] JackQuincy commented on #589
It is running latest version of docker engine. It is pinned to 1.12 for docker compose. Which supports all of the swarm mode functionality. And will happily accept pull requests to use new versions once they are blessed as stable.

[2017-05-09 22:46] #589 closed

[2017-05-09 23:18] amanohar commented on #589
Adding to Jack's point. ACS Engine used the latest version of docker engine. Here is an example of version being used on a cluster created last month:

Client:
 Version:      17.04.0-ce
 API version:  1.28
 Go version:   go1.7.5
 Git commit:   4845c56
 Built:        Mon Apr  3 18:07:42 2017
 OS/Arch:      linux/amd64

Server:
 Version:      17.04.0-ce
 API version:  1.28 (minimum version 1.12)
 Go

[2017-05-10 05:36] SitoCH commented on #586
There seem to be some kind of a racing condition or something like that. I just deleted everything and deployed the same template again and this is the new situation: 1 master, 3 linux nodes, 1 windows node ok, 1 missing and 1 not ready...

![schermata 2017-05-10 alle 07 34 42](https://cloud.githubusercontent.com/assets/498887/25884524/4becba64-3553-11e7-8e61-3d6ad05893d1.png)

[2017-05-10 12:29] writeameer opened #596 "Kubernetes API Server doesn't start: Failed to list *api.Node"
Hi there,

I've followed the [Kubernetes Walkthru](https://github.com/Azure/acs-engine/blob/master/docs/kubernetes.md) to spin up a custom Kubernetes cluster using acs-engine. Once the ARM template deployment completes, however, I'm unable to connect to the Kubernetes cluster.

Logging on to the master node, I can see that kubelet is trying to communicate with the API server that should be running

[2017-05-10 14:25] dsemarketer opened #597 "Unable to resize cluster after creation"
In the latest acs-engine pull that I did yesterday, I have a fully functional cluster. But when I resize the master from a Standard_D2_v2 to a Standard_D1_v2, Kubelet will not start with the following message all over the place:

dial tcp 10.254.31.5:443: getsockopt: connection refused

Container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plu

[2017-05-10 17:58] anhowe commented on #596
Can you verify your SPN?  Here is the troubleshooting guide: https://github.com/Azure/acs-engine/blob/master/docs/kubernetes.md#troubleshooting

[2017-05-10 22:07] JackQuincy commented on #597
If you revert #581 in a fork it might work.  And I would be curious as to what it would take to get this working, but today resizing the master vm is a none goal for acs engine clusters.

A little background #581 was about mitigating throttling from ARM that was happening in large clusters/subscriptions with lots of clusters in the subscription.

[2017-05-11 04:00] writeameer commented on #596
Thank you so much @anhowe - worked beautifully. My mistake in setting up the service principal. So acs-engine is awesome :). Great work guys 👍

[2017-05-11 04:00] #596 closed

[2017-05-11 07:44] SitoCH opened #598 "Windows Server 2016 Nano"
Hello,
is it possibile to use the Nano edition instead of the full one on a Windows node?
It would really decrease the overhead on the node but I don't know if there are other limitations...

Thanks

Sito

[2017-05-11 16:18] shawnmost commented on #530
Any Update on this. with what steps are needed. I have been looking at the same thing.

[2017-05-11 16:19] RobBagby opened #599 "Extensions Design"
# Microsoft Azure Container Service Engine - Extensions

Extensions in acs-engine will provide an easy way for acs-engine users to add pre-packaged functionality into their cluster.  For example, an extension could configure a monitoring solution on an ACS cluster.  The user would not need to know the details of how to install the monitoring solution.  Rather, the user would simply add the extensi

[2017-05-11 16:46] khenidak commented on #523
There are two things to consider:

1. A cluster running on managed disks (OS and/or data disks).
2. PVCs using managed disks (which will require having the machine running OS (and any pre attached data disk ) as managed disks .

Currently acs- engine supports both managed and unmanaged disks. But K8S supports only unmanaged PVC (support for managed PVC will come in 1.7) . If you are planning to ru

[2017-05-11 17:33] amanohar commented on #599
cc: @anhowe

[2017-05-11 20:17] DonMartin76 opened #601 "Selecting Kubernetes version - 1.5.7 planned?"
Hello,

We are just running into some trouble with our 1.5.3 cluster (currently provisioned by `az acs create`, but we'll probably move to `acs-engine` soon to get more flexibility) in that we tend to get a lot of `wc` zombie processes on the Kubernetes agents. This seems to be related to https://github.com/kubernetes/kubernetes/issues/38894 which is fixed in 1.5.6.

I tried creating a template wi

[2017-05-11 20:19] JackQuincy commented on #601
We don't have any immediate plans to add support for 1.5.6.  But PRs are welcome.

[2017-05-11 21:15] DonMartin76 commented on #601
OK, tried out to just bump some versions to suitable images, seems to work. Got a 1.5.7 cluster up and running. Will create a PR, hopefully.

[2017-05-11 21:29] DonMartin76 commented on #601
See https://github.com/Azure/acs-engine/pull/602

[2017-05-11 22:03] rjtsdl commented on #599
Just my 2 cent,

Wondering if this can leverage the existing package manager for certain orchestrators, such as Helm for K8s, or Docker Stack for Swarm. Then we can enjoy the existing great ecosystem.

For example, in our extension, if user specify a package manager (like, Helm), and a package name (known by Helm). We can deploy on the user behalf.

[2017-05-11 22:04] rjtsdl commented on #598
@JiangtianLi

[2017-05-11 22:12] JackQuincy commented on #598
@anhowe  might also know. I do know getting k8s running on the Windows image working properly was nontrivial and required quite a bit of coordination with the windows team and currently we are patching a bug in windows at run time that hasn't made it into their official images. So I'm guessing that switching to Nano edition wouldn't be trivial. Though it definitely would be nice.

[2017-05-11 22:13] JackQuincy commented on #601
Thanks I've reached out to @JiangtianLi  to answer your question about windows then after that we should be able to merge it.

[2017-05-11 23:30] colemickens commented on #159
MSI does not help with cluster authentication. MSI is about K8s -> ARM auth. Not user->k8s auth.

The relevant change here is around https://github.com/kubernetes/kubernetes/pull/43987

[2017-05-11 23:53] seanknox commented on #599
Agreed @rjtsdl. I bias toward leaning on Helm to handle this type of logic (for Kubernetes, at least).

[2017-05-12 00:04] seanknox commented on #574
@shayansarkar I'm going to close this thread as this is by design, but feel free to re-open if needed. More info about logging in Kubernetes can be found here: https://kubernetes.io/docs/user-guide/kubectl/v1.6/#logs

[2017-05-12 00:04] #574 closed

[2017-05-12 00:19] seanknox commented on #560
Hi @TsuyoshiUshio, your API schema looks good to me. What version (commit SHA) of acs-engine are you using?

[2017-05-12 00:25] JackQuincy commented on #560
@TsuyoshiUshio Can you try again? I don't like the answer but it seems to be oneoff the cluster setup messed up.
Agreed @seanknox . I know our continuous tests fail because of services not coming up sometimes and this seems to be an issue like that affecting a customer. We had wondered if it was just our test subscription as it has lots of things going on in it. We are trying to make time at begin

[2017-05-12 01:12] seanknox commented on #545
@rjtsdl I think release versioning can help with this. Instead of keeping obsolete config in the codebase, we can use semver to allow users to migrate when they're ready and allow us to continue improving the codebase without testing for every backwards compatibility cornercase.  cc @anhowe

[2017-05-12 01:14] dmitsh commented on #556
@colemickens @seanknox Indeed acs-mirror is a storage-based CDN. We will be keeping all available CNI versions there. By default the latest version is used, unless the version is explicitly specified.

[2017-05-12 01:19] seanknox commented on #556
Hey Dmitry, that's wonderful. What is the URL structure to specify a specific version from the CDN?

[2017-05-12 01:26] dmitsh commented on #556
Currently we would need to change URL itself in acs-engine. I will take an action item to make it a parameter.

[2017-05-12 01:38] seanknox commented on #556
Can we take this off your plate to implement?

[2017-05-12 01:43] dmitsh commented on #556
certainly

[2017-05-12 02:11] seanknox commented on #542
@bearrito Closing as I believe your question has been answered. Feel free to re-open if needed.

[2017-05-12 02:11] #542 closed

[2017-05-12 02:14] seanknox commented on #538
Hi @ivanthelad. Kubernetes 1.6 has landed in master. Can you try building a cluster using acs-engine + 1.6 and see if the RG issue is indeed fixed?

[2017-05-12 02:19] seanknox commented on #537
Hi @rocketraman. You would need to update the PV/PVC in your pod/deployment/etc with the size you want to use. More details can be found here: https://kubernetes.io/docs/concepts/storage/volumes/

Closing as this isn't acs-engine issue.

[2017-05-12 02:19] #537 closed

[2017-05-12 02:20] seanknox commented on #531
Hi @otaviosoares—I'm closing this issue due to inactivity, but feel free to re-open if you'd like us to investigate further.

[2017-05-12 02:20] #531 closed

[2017-05-12 02:23] seanknox commented on #526
👍 to what everyone has said here. Official releases of acs-engine are in the works.

[2017-05-12 02:23] #526 closed

[2017-05-12 02:34] seanknox commented on #522
Hi @jaydp17. I believe this is a Docker/Linux issue and not an acs-engine one. Closing, but if you believe acs-engine to specifically be involved, feel free to re-open.

[2017-05-12 02:34] #522 closed

[2017-05-12 02:45] seanknox commented on #521
Hi @rushabhnagda11. Take a look at the Kubernetes cluster troubleshooting guide: https://kubernetes.io/docs/tasks/debug-application-cluster/debug-cluster/

I'm closing this issue for now, but feel free to re-open if you gather more information.

[2017-05-12 02:45] #521 closed

[2017-05-12 02:47] seanknox commented on #513
Closing due to inactivity, but feel free to re-open if needed.

[2017-05-12 02:47] #513 closed

[2017-05-12 02:49] seanknox commented on #512
Hey @amanohar can we close this issue, or should we continue to track the upstream issue here?

[2017-05-12 03:02] amanohar commented on #512
Closing as I resolved the issued by taking the alternative approach in PR: https://github.com/Azure/acs-engine/pull/571

[2017-05-12 03:02] #512 closed

[2017-05-12 03:31] seanknox commented on #489
Closing due to inactivity. Feel free to re-open.

[2017-05-12 03:31] #489 closed

[2017-05-12 03:32] seanknox commented on #488
Closing due to inactivity/more info needed. Feel free to re-open if needed.

[2017-05-12 03:32] #488 closed

[2017-05-12 03:34] seanknox commented on #476
Sounds like this can no longer be reproduced. Feel free to reopen @vmakhaev.

[2017-05-12 03:34] #476 closed

[2017-05-12 04:28] rocketraman commented on #537
@seanknox Thanks. The linked documentation does not say how to do this on Azure. I agree its on an acs-engine issue, but it certainly is a Kubernetes-on-Azure issue, and the only other place I can think to ask how to do this is to raise a support ticket. I'm not expecting much from the latter action.

[2017-05-12 04:42] seanknox commented on #537
To rephrase: you can't do this with kubernetes. Modify your resources with your new disk size and kubernetes will figure out the rest.

[2017-05-12 04:50] rocketraman commented on #537
Hang on -- you're saying that if I change the disk size in the deployment of the PV/PVC, Kubernetes already knows how to resize the existing Azure disks? If so, that's cool. I didn't think that was the case though...

[2017-05-12 05:00] seanknox commented on #537
Let's say you have a deployment using dynamic disks with persistent volume claims, and let's say your deployment has ten replicas. Ten pods will spin up, each with their own PVC and attached disk that satisfies the claim request.

If you change the deployment and it's PVC to request a bigger disk, Kubernetes will spin up ten new pods with ten PVCs and ten new disks. The old pods, PVCs, and disks w

[2017-05-12 05:22] DonMartin76 commented on #489
I haven't had this issue since, so ok. Sorry for not coming back on this.

[2017-05-12 08:11] stuartleeks commented on #599
Would it work if we created a Helm extension that had parameters for the package to install? (And enable multiple instances of the same extension)

My thinking is that doing that would enable simple consumption of Helm packages on k8s, but also enable other deployments if not in Helm.

[2017-05-12 11:05] writeameer opened #606 "How to spin up K8s version 1.6.2 ?"
Hello there,

I've been following the Kubernetes [walkthrough](https://github.com/Azure/acs-engine/blob/master/docs/kubernetes.md) and was just curious if version 1.6.2 worked ? The sample at https://github.com/Azure/acs-engine/blob/master/examples/kubernetes.json seems to specify 1.6.2:

[code]

However, the generated artefacts under the "_output" folder appear to be a different version. The gene

[2017-05-12 15:10] amanohar commented on #606
I just tried this scenario from the build on ACS Engine latest and I get the expected output:
  "kubernetesHyperkubeSpec": {
    "value": "gcrio.azureedge.net/google_containers/hyperkube-amd64:v1.6.2"
  }

Was the output folder that contains all the generated files already present and you changed the version to 1.6.2 and reran ACS Engine? Can you try deleting the output folder and try again?

[2017-05-12 16:22] anhowe opened #608 "HA Master lose connection on ILB restart due to kubernetes issue 41184"
The agents may report NodeNot Ready due to single master restart, or HA Masters on ILB restart.

This is to track the following kubernetes issue: https://github.com/kubernetes/kubernetes/issues/41185.

Per @colemickens, this is a related issue: https://github.com/kubernetes/kubernetes/issues/41916#issuecomment-299177721.

To avoid this, an alternative solution is multi-host client: https://github.

[2017-05-12 16:53] JackQuincy commented on #545
Release versioning can't solve this completely as we are going to use acs-engine in a live service. I do think this is something we can change as it is clearly a bug. but We need to be careful about it because our current live service requires this value to be set. Our next deployment will make it optional.

[2017-05-12 18:13] #504 closed

[2017-05-12 19:58] sprgn opened #610 "Missing Azure Container Service Item"
We've built a kubernetes cluster with our vnet using acs-engine/examples/vnet/kubernetesvnet.json template.  However, after everything got spun up (vm's, availability sets, nic's, etc.), there was no Azure Container Service object created.  What did we miss?

[2017-05-12 20:12] amanohar commented on #610
This is expected. If a cluster is created using ACS Engine then compute, storage, networking resources are deployed but an ACS resource is not created. ACS resource will only be created if you used https://azure.microsoft.com/en-us/services/container-service/ APIs to create the cluster.

[2017-05-12 20:13] sprgn commented on #610
Thank you.

[2017-05-12 20:13] #610 closed

[2017-05-12 21:22] JonathanFraser opened #611 "Cluster cannot mount disks into pods"
New kubernetes cluster '1.6.2' spun up with current head cannot mount disks or pull from azure container registries.

With regards to the disks kubernetes presents the following errors:
[code]
Inspection of the agent node provides the following:
[code]
It appears the VHD is provisioned and attached to the agent, however it fails to mount in the container.

[2017-05-12 21:24] JackQuincy commented on #611
This is a known issue we are looking into. @lachie83 is heading that. 1.5.3 is working today and 1.5.7 should also be working.

[2017-05-12 21:43] JackQuincy commented on #611
Also this is an upstream issue can you also file an issue on kubernetes/kubernetes and link it here.

[2017-05-12 21:58] JonathanFraser commented on #611
kubernetes core issue: kubernetes/kubernetes#45750

[2017-05-12 22:04] JonathanFraser commented on #611
issues also seems to be present in `1.5.7`

[2017-05-13 00:33] JonathanFraser commented on #611
issue also present in `1.5.3` as we have successfully spun up clusters for `1.5.3` I suspect the issue is either in the underlying os as determined by the acs-engine or due to changes in azure itself.

[2017-05-13 00:40] lachie83 commented on #611
This PR contains the regression https://github.com/Azure/acs-engine/pull/581. The cloud provider and cloud config need to be set.

[2017-05-13 02:31] wenwu449 opened #618 "acs-engine does not use "--ca-certificate-path" and "--ca-private-key-path""
the CA certs provided by the two parameters are not used to issue client cert, acs-engine always create new CA certs. Looks like relate to https://github.com/Azure/acs-engine/commit/362923e886e1c282a2cea50e76d17e9b71564a29

[2017-05-13 02:53] ofiliz commented on #493
@anhowe @ashb I've found and fixed the regression. It has nothing to do with Internet connectivity. The pod subnet being passed to master (/12) and the "ClusterCIDR" (/16) being passed to proxy are incompatible when CNI plugin is enabled.

How do you want to put the original change back in?

[2017-05-13 03:12] writeameer commented on #606
Thanks @amanohar . I was definitely using an older version of the code. The older version seemed to create an output folder with subfolders called "Kubernetes-<number>", whereas the newer version creates an output folder with the a sub folder named after the "dns-prefix".

Kubernetes 1.6.2 is up and running and workes like a charm.

Thank you so much

[2017-05-13 03:12] #606 closed

[2017-05-13 06:21] DonMartin76 commented on #601
Thanks a lot for your support on this, the PR has been merged, it's now possible to spin up a 1.5.7 cluster. Awesome! Thanks!

Closing.

[2017-05-13 06:21] #601 closed

[2017-05-13 18:46] DonMartin76 opened #619 "Pre-built docker image with just acs-engine?"
Hi there,

Is there/will there be a pre-built docker image which can be used e.g. in build pipelines, which just contains the acs-engine executable?

Asking before I create such a thing myself for our Jenkins pipelines.

Would you accept a PR which contains scripting and/or guidelines on how to build such an image? Or is this nothing you would want to have inside this repo?

[2017-05-14 19:06] SitoCH commented on #586
I noticed that sometimes the Docker service is stopped on the node, manually starting it seems to fix everything. I'm closing the issue since I no longer have to problem.

[2017-05-14 19:06] #586 closed

[2017-05-15 06:18] skasturi opened #620 "How do I specific multiple users, ssh keys when initiating DC/OS cluster"
Hello,

When creating the cluster I would like to specify multiple administrator user name and their ssh public keys. How do I do that in the template?

I see the following in linux profile. Though "ssh" is a list, I am afraid the user name is azureuser and I don't see a way to map one username to one specific sshkey.

 "linuxProfile": {
      "adminUsername": "azureuser",
      "ssh": {
        "

[2017-05-15 06:19] skasturi opened #621 "Is it possible to add agent pools at a later point of time?"
Hello,
      I would like to know how we can add agent pools to an existing cluster DC/OS created using acs-engine.

Thanks,
Sasidhar.

[2017-05-15 06:24] skasturi opened #622 "How do I set mesos configurations when creating a cluster?"
Hello,
     I am trying to change mesos configurations. Specifically some of the ones defined here: http://mesos.apache.org/documentation/latest/configuration/

Is it possible to define these when creating the cluster using acs-engine?

Thanks,
Sasidhar.

[2017-05-15 11:36] DonMartin76 commented on #619
In the meantime:
https://github.com/Haufe-Lexware/acs-engine-runtime

[2017-05-15 20:00] PatrickLang commented on #598
Running containers based on microsoft/windowsservercore will require --isolation=hyperv. This means nested virtualization is required and I can't speak to how that will be supported on Azure.

[2017-05-16 06:09] colemickens commented on #618
Testing a fix right now...

[2017-05-16 15:02] #618 closed

[2017-05-16 15:48] anhowe opened #635 "Kubernetes masters and agents can use up all of ARM's QPS for subscription"
notes from @yangl900

I think we probably want to solve the problem generically in azure driver, as anyone runs a 200 node cluster can potentially hit this badly at any time. Some ideas:

1.	If we can control how frequent we poll the VM status, I think we should make that less frequent. I couldn’t think of a scenario where we want to know master node property change in seconds.
2.	If we cannot con

[2017-05-16 15:58] anhowe opened #636 "Kubernetes etcd issue"
Symptoms seen by Wenjun (May 16).

[code]

[2017-05-16 16:14] anhowe commented on #446
this was fixed in https://github.com/kubernetes/kubernetes/issues/43233

[2017-05-16 16:14] #446 closed

[2017-05-16 16:17] anhowe commented on #598
Per @PatrickLang we will required nested hyper-v which is not currently support on Azure.  Closing issue, and we can re-open once nested hyper-v is supported.

[2017-05-16 16:17] #598 closed

[2017-05-16 16:21] anhowe commented on #622
@skasturi Changing options on DCOS is currently not supported.  PR's are welcome.

[2017-05-16 16:22] anhowe commented on #621
@skasturi yes, this is supported.  Using the apimodel.json from the output folder, add the extra agent pool and redeploy the template.  Ensure you are using the same ACS-Engine you created the original cluster with, otherwise you will have to trim out the other VM resources.

[2017-05-16 16:22] #621 closed

[2017-05-16 16:24] anhowe commented on #619
Great feature @DonMartin76 .  This is related to the work of #55

[2017-05-16 16:27] anhowe commented on #611
Issue fixed in #626

[2017-05-16 16:27] #611 closed

[2017-05-16 16:28] anhowe commented on #597
#626 has fixed this

[2017-05-16 16:28] #597 closed

[2017-05-16 16:32] anhowe commented on #591
@robbiezhang Standard_F1 is supported for Agents but not for Masters.  Masters require >= 2 cores.

[2017-05-16 16:39] anhowe commented on #590
Fixed in #625 by configurable OS Disk Sizes.  We want to hold off on more attached disks for two reasons: it is unclear how to partition up the disks, and in DCOS, everyone wants a different ratio, and 2, we have had stability issues with disk mount, so to keep things stable, we'll aim for configurable OS Disks sizes as the solution for this.

[2017-05-16 16:39] #590 closed

[2017-05-16 16:43] anhowe commented on #569
Closing since this is supported using VMAS (availability sets) and rexray 0.8.0.  An example of availability sets is here: https://github.com/Azure/acs-engine/blob/master/examples/largeclusters/dcos-vmas.json

[2017-05-16 16:43] #569 closed

[2017-05-16 17:10] anhowe commented on #559
this is by design.  Master's need more cores and memory.  Documented in code here: https://github.com/Azure/acs-engine/blob/master/pkg/acsengine/Get-AzureConstants.ps1#L44-L45.

[2017-05-16 17:10] #559 closed

[2017-05-16 17:19] anhowe commented on #591
replace https://github.com/Azure/acs-engine/blob/master/pkg/acsengine/Get-AzureConstants.ps1#L264-L276, with all sizes

[2017-05-16 17:19] anhowe commented on #591
@shrutir25 - please note the above

[2017-05-16 17:35] robbiezhang commented on #591
This issue is for agent pool. I use Standard_F1 in the agent pool, and generate the ARM template. The error happens when executing the template.

[2017-05-16 18:00] anhowe commented on #560
Closing since this is not repro'ing on latest acs-engine.  If you repro again, please post api model (secrets redacted), region, and what happened.

[2017-05-16 18:00] #560 closed

[2017-05-16 18:05] anhowe commented on #543
@squillace can you take a look at this?

[2017-05-16 18:07] anhowe commented on #527
closing since Jack presents solution above.  Please re-open if you still have outstanding questions

[2017-05-16 18:07] #527 closed

[2017-05-16 18:42] anhowe commented on #497
Our pgp issues have been resolved by referencing the azure cdn now.  Please open if you see this again.

[2017-05-16 18:42] #497 closed

[2017-05-16 18:53] anhowe commented on #413
Here is the upstream issue describing that windows needs system metrics: https://github.com/kubernetes/kubernetes/issues/27097.

[2017-05-16 18:57] wenwu449 opened #638 "Hard to tell which agent pool is a Windows node in"
for Linux nodes, the nodes have name with "agentpool*" in it. For Windows nodes, this pattern does not work. Would be good if the naming convention is aligned.

[2017-05-16 19:04] anhowe commented on #389
updated in #470

[2017-05-16 19:04] #389 closed

[2017-05-16 19:19] anhowe commented on #638
Thanks @wenwu449.  This is by design, since windows vms only allow 15 characters for node names.

Alternatively, please use the node selector:

nodeSelector:
  beta.kubernetes.io/os: linux

[2017-05-16 19:24] anhowe commented on #133
Closing this, since it is a p2 not on our roadmap.  Please re-open if you think we need this, and also if any new scenarios highlight the need of this.

[2017-05-16 19:24] #133 closed

[2017-05-16 19:30] colemickens commented on #221
I don't think this is an upstream issue @anhowe. The only work remaining here is in ACS-Engine.

[2017-05-16 19:31] anhowe commented on #307
you can use node selector:

nodeSelector:
  beta.kubernetes.io/os: linux

[2017-05-16 19:34] anhowe commented on #221
Marked as upstream, because doesn't kubernetes/kubernetes#43510 have to be assigned to a milestone?

[2017-05-16 20:18] anhowe commented on #638
discussed with @wenwu449, closing since this is windows limitation and he has the regex required to match the windows names.

[2017-05-16 20:18] #638 closed

[2017-05-16 21:18] rgardler commented on #619
Hey @DonMartin76 any chance you could

[2017-05-16 21:18] #619 closed

[2017-05-17 01:38] skasturi opened #643 "sshd_config messed with DC/OS template"
When creating a new cluster using DC/OS template, sshd_config is messed up resulting in the following lines in sshd_config file

Port 22Port 2222

This results in leader not being chosen and inability to log into master..

The JSON template generated has the following, which seems to be the issue.

\"sed -i \\\"s/^Port 22$/Port 22\\\\nPort 2222/1\\\" /etc/ssh/sshd_config\"

[2017-05-17 04:45] DonMartin76 commented on #619
I could...?

[2017-05-17 07:01] avaranovich commented on #530
@colemickens would you advise us on the particular steps?

[2017-05-17 13:23] DonMartin76 commented on #619
... dance? Sing loudly? Break a leg?

[2017-05-17 14:25] JackQuincy commented on #643
Due to limitations of azure loadbalancers we need this line to allow you to ssh into your cluster on port 22 at the master loadbalancer while supporting the old model of Port 220x. We have been doing this internally for our dcos clusters for about 6 months. Though there is a known issue if the cloud init runs twice. I'm sure a more complex refer in the session could fix the run twice issue. But in

[2017-05-17 17:42] anhowe opened #645 "Kubernetes UDP support for Service"
@colemickens made the following change.  This is to track back porting into 1.6x.  Once this is available, update Dan Lepow for documentation.

 https://github.com/kubernetes/kubernetes/pull/45523.

[2017-05-17 18:48] JackQuincy commented on #643
Did you run cloud init a second time?

Also if anyone wants to update that sed command in a PR to make it so rerunning doesn't break anything that would be awesome.

[2017-05-18 00:00] thoyt commented on #574
Thanks @shayansarkar for reporting, and it would be great to reopen this is as a bug. Being able to choose which docker logging driver is used is critical, because Kubernetes doesn't do log aggregation. With journald, there isn't a reasonable way to integrate with Kibana or Splunk, two popular log aggregation systems, which are crucial parts of a production Kubernetes cluster. This is because the

[2017-05-18 00:42] seanknox commented on #574
Shipping Kubernetes master and worker logs is definitely doable, but up to the cluster admins to configure. It would be great to build this into ACS natively at some point. Here's more info: https://deis.com/blog/2016/off-cluster-kubernetes-logging-sumo-logic-and-logentries/

[2017-05-18 01:48] seanknox commented on #635
Hey @anhowe, @jackfrancis and I have been trying to reproduce the ARM throttling symptoms in large clusters with no luck. How/where are you seeing this behavior?

[2017-05-18 02:01] anhowe commented on #635
@dmitsh hit this and can say, but you should just be able to deploy a few hundred machines, run containers on everything and a few services, and I believe ARM starts throttling.  If you are not seeing it, try dropping to k8s v1.5.3 (which is what @dmitsh was using).  Perhaps it was fixed in 1.6?  Also, let me show you Kusto, so you can see your IOPs.

[2017-05-18 21:25] seanknox opened #654 "Master count limited to 5"
Hey all, I was curious for the decision to limit masters to a max of 5. I got this when running `make ci`:

`FATA[0000] error parsing the api model: MasterProfile count needs to be 1, 3, or 5`

[2017-05-18 21:50] brendanacassidy opened #656 "Case-insensitive import collision causes go get to fail"
On current HEAD (commit c8921860516fb151a0e52737bf5888871d4d8e91), `go get -d github.com/azure/acs-engine` fails due with the following error:

[2017-05-18 22:16] colemickens commented on #221
That PR is already merged, and if you click on the merge commit hash where the bot merged it in, you can see that it's already in the alpha 1.7 builds. As such, I'm going to remove the upstream label.

[2017-05-18 22:17] colemickens commented on #221
To re-iterate, this would be a low-hanging fruit for someone from the community to pick up. In fact, I think agents are already connecting via the ILB... it's possible that the only thing necessary would be to plumb something from apimodel -> the LB resource in the ARM template part to exclude the public configuration and the public ip resource when the apimodel flag is enabled...

In fact, someon

[2017-05-18 22:25] lachie83 commented on #439
Let me have a crack at getting this implemented

[2017-05-19 05:00] lachie83 commented on #439
This change is depended on #632 which supersedes #473

[2017-05-19 05:38] lachie83 commented on #439
This should do the trick. Build and test off this PR. LMK

[2017-05-19 09:23] adragomir commented on #565
@wangtt03 @JackQuincy @rgardler this seems to be related to some issues in HyperV / Linux time synchronization
Some details can be found in these issues:
1. https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1676635
2. https://patchwork.kernel.org/patch/9525945/

For us, the patch was to:

1. Get this on all the nodes https://raw.githubusercontent.com/torvalds/linux/master/tools/hv/lsvmbus
2. Us

[2017-05-19 11:09] shayansarkar commented on #574
Looking through some of the logging options in Docker as well as what makes sense from a cluster perspective, it would be nice to be able to specify the docker logging configuration when setting up a cluster with acs-engine.  I agree that my original ticket isn't a bug, as journald is now the default option for docker.  But since there are the other logging options, and some that may work better f

[2017-05-19 17:48] wenwu449 commented on #510
Almost all Windows nodes are reporting "ImageGCFailed" warning, here is the event:
4m         2d          763       13472acs90216                                            Node                                    Warning   ImageGCFailed         {kubelet 13472acs90216}   invalid capacity 0 on device "" at mount point ""

[2017-05-19 18:03] colemickens commented on #510
@wenwu449 that's a different issue. There are a lot of things misisng for Windows, and I'm pretty sure that's one of them. Can you open a new issue in ACS-Engine, and then file one upstream against Kubernetes and link them together?

Thanks.

As an update on this bug: apparently it only occurs sporadically, possibly only right after kubelet comes up, and then it gets back to a steady state.

[2017-05-19 18:11] wenwu449 opened #658 ""ImageGCFailed" on Windows nodes"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.5.3

**What happened**:
Seeing events for almost all Windows nodes with "ImageGCFailed" warning:
LASTSEEN FIRSTSEEN   COUNT     NAME                                                     KIND      SUBOBJECT

[2017-05-19 18:18] #493 closed

[2017-05-19 20:03] #656 closed

[2017-05-19 20:04] brendanacassidy commented on #656
Non issue: we realized we should instead be using `go get -d github.com/Azure/acs-engine`

[2017-05-22 15:33] jdumars commented on #645
This will most likely ship in 1.6.5 in approximately 2 weeks.  I will update if I get a specific release time.

[2017-05-22 15:37] jdumars commented on #635
An update on this:  we're able to replicate the 429 response codes from ARM at scale.  We're also using Kusto now to help diagnose the issues.  There's no specific work plan initiated yet, but once we have PRs ready to go, I'll link them here so everyone has visibility.

[2017-05-22 20:50] #439 closed

[2017-05-23 13:42] larryms opened #665 "Swarmmode puts master in Pause mode. Should be a configurable option"
When creating a swarm mode cluster, acs-engine making the assumption that the master should be paused such that when  containers are deployed, none will run on the master.   Ideally, this should be an option in the configuration template.

The setting comes from https://github.com/Azure/acs-engine/blob/master/parts/configure-swarmmode-cluster.sh in this section of code:
[code]

[2017-05-23 14:23] uday31in opened #666 "[Kubernetes - Windows Worker] Subscription Not Authorized For Image"
I am getting following error on Kubernetes (Hybrid) deployment for Windows Worker. Linux Worker and Masters are deploying fine in the Resource Group in West Europe Region:

{
  "error": {
    "code": "SubscriptionNotAuthorizedForImage",
    "target": "imageReference",
    "message": "The subscription is not authorized."
  }
}

I have following in ARM template:

"agentWindowsOffer": "WindowsServer"

[2017-05-23 15:11] JackQuincy commented on #666
Please see pr #664. The image was vulnerable to wanna cry so the windows team depublished it. We are working with them on improving our channels of communication with them so that we don't have down time like this.

[2017-05-23 15:14] JackQuincy commented on #666
Users with older clusters should be okay,  as windows update was turned on and would of been patched it was just the time after deployment until the patching happened that would of been an issue

[2017-05-23 16:28] JackQuincy commented on #665
@amanohar can speak more to the reasoning for this, but my understanding is that we did it as the masters aren't behind the agent load balancer

[2017-05-23 17:32] larryms commented on #665
Yes, I did see that the masters are not behind the agent load balancer, but if the master is made active, the [swarm ingress routing mesh](https://docs.docker.com/engine/swarm/ingress/) should be able to route to it.

My specific use case:  I'm trying to run [Docker Visualizer](https://github.com/dockersamples/docker-swarm-visualizer), which can only be run on the master.

[2017-05-23 22:39] lachie83 opened #668 "Feature: Allow etcd cluster to be split from Kubernetes control-plane VMs"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

* a user can provision a single etcd member on a separate VM
* a user can provision an etcd cluster on separate VMs
* a user can provision an etcd instance with SSD disks

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**Anything else we need to know**:

**Rough implementation overview**
* Separat

[2017-05-23 22:40] lachie83 commented on #668
Need to take a look at how the multi-master configuration currently works.

[2017-05-24 05:47] amanohar commented on #665
General design and guiding principle for all ACS RP and ACS Engine clusters is that masters are not set up by default to allow running containers. This is enable separation between manager and worker for manageability, There is no current plan to make this a configurable option but this is an easy change after the cluster is deployed.

[2017-05-24 06:00] andyzhangx opened #670 "[Kubernetes - Windows Worker] default 2016-Datacenter-with-Containers image does not work with k8s 1.6"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
deploy Kubernetes 1.6.2 with CLI
(Hybrid) deployment for Windows: master is Linux and agent is Windows

**What happened**:
I have deployed a Kubernetes (Hybrid) deployment for Windows with 1.6.2 with default 2016-Datacenter-with-Containers image in ARM template:
    "

[2017-05-24 11:05] tomerf commented on #517
I am interested the same feature. I was looking into it but I can't find an option to set the "DNS name label" using the Azure API. Can anyone confirm it is missing?

[2017-05-24 13:16] jbezuidenhout commented on #636
I have the same problem in canadacentral.  Is there a workaround for this?

The provisioning seems to work fine, but as soon as the master is rebooted this problem happens and has made the cluster unusable.

[2017-05-24 15:53] JackQuincy commented on #670
Please update to latest acs-engine. We have merged a fix for this. Though 1.6.2 is still having some issues.

[2017-05-24 20:11] JackQuincy commented on #670
Okay we patched our k8s zip file for windows and the latest acs-engine should work with 1.6.2 as well. Can you test and verify it is fixed @andyzhangx ?

[2017-05-24 21:13] seanknox commented on #654
My guess is this is related to masters and etcd 1) both running on the same VMs and 2) both masters and etcd need odd numbers to reach quorum.

[2017-05-24 23:59] lachie83 commented on #221
I've taken a look at this. Your guidance was spot on although I have a couple of questions.

If the master.count is gt 1 an ILB is generated. I've opted to keep the existing LB that had a public IP and simply provision as in ILB which is what you recommended above (This is up for grabs on whether this is a right approach). In doing so I have the following challenges.

* All the storage account res

[2017-05-25 06:42] narasi opened #675 "Unable to get kubernetes pods to access the database"
Hi, I have been trying to setup a kubernetes cluster with the help of the Azure Container Service. After reading up on documentation and best practices, I have written a yaml file that sets up the cluster for me, but unfortunately the pods cannot reach the database cluster, which is however accessible from the kubernetes host.

**Is this a request for help?**:
Yes
---

Here is a copy of the repres

[2017-05-25 08:53] andyzhangx commented on #670
@JackQuincy It's working now, thanks. I will close this issue.

[2017-05-25 08:53] #670 closed

[2017-05-25 12:13] kaskavalci commented on #526
On Azure portal I cannot specify the Kubernetes version. From what I see online, only way to create 1.6.2 cluster is to clone this repository and follow https://github.com/Azure/acs-engine/blob/master/docs/kubernetes.md guide. Is that right?

[2017-05-25 16:23] amanohar commented on #526
ACS RP (service) does not allow user to choose orchestrator version. This is a newly added field (within the last month) and is supported in ACS Engine only. Right now the only way to create K8s 1.6.2 is using ACS Engine.

[2017-05-25 17:52] amanohar opened #676 "Switch to using recently added udev symlinks for mounting etcd disks"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

Use the recently added udev symlinks instead of /dev/sdc for mounting etcddisk in Kubernetes clusters.

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** Kubernetes

**What happened**:
Current implementation does explicit mount of  /dev/sdc1 to /var/lib/etcddisk instead

[2017-05-25 23:02] seanknox opened #678 "Identify good Kubernetes functional test candidate to try out w/Ginkgo"
Functional tests are a mixture of Go and shell scripts. We want to try out using [Ginkgo](https://github.com/onsi/ginkgo) as the test runner for both unit and integration/functional/regression tests, which will make tests easier to write, refactor, and reuse.

acceptance criteria:
- Identify an existing Kubernetes functional test that would be a good candidate to quickly spike on with Ginkgo.
- La

[2017-05-25 23:13] seanknox opened #679 "GPU support in Kubernetes"
Kubernetes v1.6 introduced GPU support that is useful in a variety of workloads, including data science and machine learning.

[2017-05-26 00:01] robbiezhang opened #680 "Request Help to Specify --authorization-mode in API Model for k8s RBAC"
**Is this a request for help?**:
yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

k8s 1.6+ supports RBAC/ABAC. However, it requires the API server start with extra parameters, e.g. --authorization-mode=RBAC,ABAC --authorization-policy-file=mypolicy.json

Currently, there is no way to specify them in the API model.

**Orchestrator and version (e.g. Kubernetes, DC

[2017-05-26 05:22] seanknox opened #681 "etcd communication encrypted with TLS"
All communication with etcd should be encrypted with self-signed TLS certificates.

[2017-05-26 05:26] seanknox commented on #523
Closing due as I believe this has been answered; feel free to re-open if needed.

[2017-05-26 05:26] #523 closed

[2017-05-26 05:27] colemickens commented on #681
There's already a PR for this https://github.com/Azure/acs-engine/pull/397

[2017-05-26 05:28] colemickens commented on #675
Is this using an existing VNET, or a custom/peered vnet?

[2017-05-26 05:31] seanknox commented on #55
@jpoon FYI a [release process has been proposed](https://github.com/Azure/acs-engine/pull/667) and aiming for the first release June 1st.

[2017-05-26 07:32] narasi commented on #675
Hi @colemickens, thanks for your reply. The database cluster is connected to the kubernetes cluster through a peering.
The database cluster is setup correctly to receive traffic from the kubernetes cluster.

[code]
The kubernetes cluster is in the CIDR block `10.240.0./16`

[2017-05-26 09:48] ppanyukov commented on #107
@anhowe :

not sure this clarified anything for me, use how? :)

[2017-05-26 10:34] rgomesf commented on #220
Hi. We are having a similar issue.

Our clusters keep going into  FullDisruption almost every day, several time a day, for apparently no reason. Is there a way to know the reason for the FullDisruption?

![2017-05-26 11_22_12-discover - kibana](https://cloud.githubusercontent.com/assets/914653/26491341/2a143b68-4207-11e7-9d35-7e7d6881fd33.png)

Thanks in advance!