[2017-10-31 17:54] #1655 closed

[2017-10-31 23:38] jchauncey commented on #1669
Can you guys try this again? I think we might have fixed this issue last week.

[2017-11-01 00:20] jchauncey commented on #1658
cc @jackfrancis

[2017-11-01 00:33] jchauncey commented on #1643
@CecileRobertMichon can we close this?

[2017-11-01 00:37] jchauncey commented on #1647
@pdeligia can you try deploying the template `examples/windows/kubernetes-hybrid.json`?

[2017-11-01 02:13] jchauncey commented on #1159
So the RBAC is what seems to push this over the limit. Custom VNETs + Calico are perfectly ok

[2017-11-01 04:21] #1687 closed

[2017-11-01 09:13] UncleTawnos commented on #1669
yup, it's working for me now, thank you

[2017-11-01 09:13] #1669 closed

[2017-11-01 13:07] vidrascup commented on #1594
I have the same issue are there any updates ?

[2017-11-01 20:45] chribsen commented on #916
+1

[2017-11-01 21:00] jackfrancis commented on #1464
@JackQuincy Do we expect this to succeed in acs-engine-built clusters?

[2017-11-01 21:20] JackQuincy commented on #1464
This is known. https://github.com/Azure/acs-engine/blob/master/docs/extensions.md#known-issues . Pending security updates cause us to schedule a reboot. This happens in the middle of the extension and gives us no notice etc.

Since I've worked on this I got the suggestion that we could cancel the reboot(if pending) at the start of the script and reset it at the end if we canceled the reboot. Which

[2017-11-01 23:30] brobichaud commented on #1680
I am seeing this same issue myself. Complete roadblock for me until I recently came across a temporary mitigation of adding this to my dockerfile:

RUN powershell Set-Service dnscache -StartupType disabled
RUN powershell Stop-Service dnscache

[2017-11-01 23:35] brobichaud commented on #558
I too am experiencing this with clusters I build today in ACS via the Portal or CLI. I can repro this easily. The commands skinny added to his dockerfile to disable dnscache have worked for me as a temporary fix. I'd love to see this get some attention from Microsoft, I am willing to assist with data if needed.

[2017-11-02 09:40] DonMartin76 opened #1699 "Node disappeared from cluster (or never added to cluster)"
**Is this a request for help?**: Not really

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: 0.8.0

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes 1.7.7

**What happened**: During our weekly reprovisioning, we created a new cluster, and the logs also say it was created with the correct parameters; the cluster h

[2017-11-02 11:52] theobolo commented on #863
Any update on this ?

[2017-11-02 16:17] ajhewett opened #1701 "Cannot deploy Kubernetes cluster in AzureChinaCloud"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: v0.7.0 and v0.8.0

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.7

**What happened**:
Using the "deploy" option of acs-engine into the AzureChinaCloud asks for reauthentication, i.e.

`time="2017-11-02T16:03:42+01:00" level

[2017-11-03 06:46] feiskyer commented on #1683
Also upgraded the dashboard, but it works properly. I'm simply running

[code]

Could you provide related kubelet logs ( that is when upgrading dashboard ) ?

[2017-11-03 07:19] smoerboegen commented on #863
We had the same issue a couple of days ago. Opened a case with Azure support but no updates at all.

[2017-11-03 14:05] ajhewett commented on #1701
A workaround is to first use `acs-engine.exe generate` to generate the ARM templates and then deploy them using either Azure CLI or Powershell Cmdlets.

[2017-11-03 16:29] CecileRobertMichon commented on #1643
@jchauncey not sure. I think this still need to be done eventually.

[2017-11-03 17:25] hmarcelodn commented on #979
Is that the same process for master-nodes ?

[2017-11-03 17:38] CecileRobertMichon commented on #1621
I was able to reproduce both issues. The issue on master "Deployment failed. Deployment template validation failed: 'The template resource 'k8s-master-25635399-0' at line '1' and column '60028' is not valid: The language expression length limit exceeded. Limit: '24576' and actual: '24914'.. Please see https://aka.ms/arm-template-expressions for usage details.'." is due to custom data length exceed

[2017-11-03 17:55] keatz55 commented on #1337
I too would be interested in some additional documentation around the `firstConsecutiveStaticIP`. Either way, great job on this project!

[2017-11-03 18:29] dtzar commented on #1621
I don't believe there is a problem with calico itself.  @CecileRobertMichon this problem is documented here: https://github.com/Azure/acs-engine/issues/1159

[2017-11-03 21:54] zimmertr commented on #1621
@CecileRobertMichon is there anything I can do to shorten the length of my ARM template as a workaround?

24914-24576=338.

338 characters is quite a bit. Perhaps even the length of all my inputted strings combined. :grimacing:

Maybe I could switch to password auth instead of SSH keys or something?

[2017-11-03 22:54] hmarcelodn opened #1710 "Clarify how to scale-up master nodes."
I have my cluster running only 1 master node and I would like to add another.

How can I proceed to solve this ?

[2017-11-03 23:01] jackfrancis commented on #1710
Hi @hmarcelodn how did you build your cluster?

[2017-11-03 23:03] dtzar commented on #1621
@zimmertr if you remove RBAC you won't see the length error.

[2017-11-03 23:04] hmarcelodn commented on #1710
Hi @jackfrancis

I used the following cluster definition file and ran acs-engine:
[code]

Can I scale this up like with agent nodes? I already scaled up several times agent nodes with acs-engine using the offset parameter.

Thanks a lot.

[2017-11-03 23:20] jackfrancis commented on #1710
@JackQuincy suggested trying an upgrade, and passing in an api model with an increased master count. This is not really a designed user flow, but it might work.

The short story is that we don't have a supported flow for this yet!

[2017-11-03 23:36] hmarcelodn commented on #1710
I tried modifying the mastercount number. I see now 5 master nodes.

Should I add those new members manually using etcdctl so I can see then joined in the cluster?

Thanks you very much   @jackfrancis   !

[2017-11-03 23:57] CecileRobertMichon commented on #1639
Hi @jalberto, what template are you using for this deployment? Are you defining a vnetSubnetId in the masterProfile?

[2017-11-04 00:28] CecileRobertMichon commented on #1615
Hi @jalberto, is https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/scale.md this what you are looking for? You can use the following command:
`acs-engine scale --subscription-id 51ac25de-afdg-9201-d923-8d8e8e8e8e8e \
    --resource-group mycluster  --location westus2 \
    --deployment-dir _output/mycluster --new-node-count 5 \
    --node-pool agentpool1 --master-FQDN mycluster.westu

[2017-11-04 16:31] zimmertr commented on #1621
@dtzar is that the only way? Well probably just wait for a fix if so. We need Istio so RBAC is pretty essential.

[2017-11-04 20:36] jalberto commented on #1615
Yes! thanks

On Sat, 4 Nov 2017 at 01:28 Cecile Robert-Michon <notifications@github.com>
wrote:

[2017-11-04 20:37] CecileRobertMichon commented on #1621
@zimmertr the ETA for the length increase is November 10th.

[2017-11-05 19:21] LiamLeane opened #1713 "Windows Networking Issues with ExpressRoute"
**Is this a request for help?**:

Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue
---

**What version of acs-engine?**:

0.8.0 & build from master (both have the same issue)
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes 1.6, 1.7 & 1.8 (all have the same issue)

**What happened**:
Windows based pods can reach other pods and services but cannot

[2017-11-05 20:54] LiamLeane commented on #1713
Also confirming that switching the container network to NAT restores interwebs and gets traffic across the ExpressRoute, obviously not an ideal solution as this horribly breaks interpod communication. I can't see anything obviously misconfigured with the network itself;

[code]

or the adapters themselves

[code]

[2017-11-06 01:00] #1615 closed

[2017-11-06 01:06] jalberto opened #1714 "scale command try to modify VNET address space"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.9.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
1.7.7

**What happened**:
New scale up command try to modify existing VNET address space, it is not allowed in VNETs using peer to connect other VNETs

[code]

**What you expected to happe

[2017-11-06 14:31] kahoona77 commented on #1637
Hi just had the same issue with 0.9.1. while trying to upgrade to k8s 1.8.2
This is the error:

Deployment template validation failed: 'The template resource 'k8s-master-52482811-0' at line '1' and column '68547' is not valid: The language expression length limit exceeded. Limit: '24576' and actual: '24698'.. Please see https://aka.ms/arm-template-expressions for usage details.'.

[2017-11-06 16:07] jalberto commented on #1506
is this working on?

I cannot make this work with provided configuration

[2017-11-06 19:10] #1573 closed

[2017-11-06 19:10] khaldoune commented on #1573
Hi @tadas-subonis
That was the good parameter, thanks a lot.

[2017-11-06 20:54] hmarcelodn opened #1716 "Scaling-Master / Unable to perform initial IP allocation check"
Hello,

I started from 3 master nodes and I increased it to 5. I am trying to add the new members to the existing cluster. My apiserver container stops working with the following error:

From the already working master nodes I can see the new member:

 If I check the cluster health I got:

It works if I run in the new master node and stop the etcd service:

Could someone help me?

Thanks.

[2017-11-06 21:23] jackfrancis commented on #1204
updated version behavior obsolesces this particular issue

[2017-11-06 21:23] #1204 closed

[2017-11-06 21:31] jackfrancis commented on #952
We don't have a clean way to do this programmatically at the moment. As a pattern, project admins try to do this manually with admin merge override.

[2017-11-06 21:38] #952 closed

[2017-11-06 21:39] jackfrancis commented on #1065
duplicate of #956

[2017-11-06 21:39] #1065 closed

[2017-11-06 21:39] jackfrancis commented on #983
duplicate of #984

[2017-11-06 21:39] #983 closed

[2017-11-06 21:40] keatz55 commented on #1012
@lauxtermann-aram Did you find out what the issue was?

[2017-11-06 21:42] jackfrancis commented on #978
Not feasible to optimize this any further.

[2017-11-06 21:42] #978 closed

[2017-11-06 21:52] jackfrancis commented on #976
@DonMartin76 That change went in with this PR as a best-practice, and to support AKS public preview:

https://github.com/Azure/acs-engine/pull/1222

I'm going to close this issue as obsolete. If you'd like to be able to build a cluster w/ acs-engine using a different kube-proxy DaemonSet configuration, open a backlog issue and we can discuss how to make that a new configuration vector in the vlabs

[2017-11-06 21:52] #976 closed

[2017-11-06 21:54] jackfrancis commented on #974
Please re-open if this is change will support additional, useful functionality for cloud shell users!

[2017-11-06 21:54] #974 closed

[2017-11-06 21:55] jackfrancis commented on #960
@robbiezhang Is this still an observable issue?

[2017-11-06 21:58] jackfrancis commented on #877
This is done.

[2017-11-06 21:58] #877 closed

[2017-11-06 22:02] DonMartin76 commented on #976
@jackfrancis It’s fine, I was just wondering what caused the changed behavior. Before, we got all DaemonSets also on the masters by default, now you explicitly have to add a toleration. If it stays like this now, all is good.

[2017-11-06 22:44] JackQuincy commented on #1716
Scaling masters isn't supported. If you want to go from 3 to 5 masters, the current suggestion is to build a new cluster and move your workloads.

The issue you are hitting currently is caused because of the certs Kubernetes needs to run are provisioned at the creation of the cluster and some of them have the ip addresses of all the masters in a list in allowed endpoints/ips. To get this working y

[2017-11-06 22:58] jackfrancis commented on #976
I would expect this to be the default indefinitely, yes. Thanks for the quick response (and being patient for my original one :))!

[2017-11-07 00:24] hmarcelodn commented on #1716
@JackQuincy thanks for your quick support on this. I understood we are out of support right now.

Let me ask you something. If I have 2 acs-engine based clusters running in different AZ. Do you believe it is possible to Federate these clusters? Or would it be insane at this momment in Azure?

I would like to have some recommendation on this.

Thanks a lot.

[2017-11-07 04:03] jskulavik commented on #1506
@jalberto: @lachie83 self-assigned this, but we should help out and add it to a PR.  It's been a few weeks.  The good news is that I was able to mount azureFile to my acs-engine created cluster just now.  You need to make sure you create your secret with echo -n, that your cluster is in the same data center location as your storage account, and that the secret is in place.  I'll put together a gis

[2017-11-07 08:58] DonMartin76 commented on #976
No sweat, it just caught me a little by surprise.

What would happen with DaemonSets on AKS if you add the taint toleration? I saw you don't usually see the masters (but I guess they're still there).

FWIW, looking forward to AKS going GA; and I hope it will be possible to use multiple agent pools there as well (this is the main reason we're on `acs-engine` today, and not on ACS).

[2017-11-07 11:50] jalberto commented on #1506
this are the steps that worked for me:

1. create storage account (only works with standard not premium)
2. create a new shared in previous storage account (name is important as will be used later)
3. create secret (in same NS as PVC) & storage class
4. create PV with storage class name & share name
5. create PVC with same storage class & share name

so very manual process, if I don't create PV or

[2017-11-07 17:50] mikhail-manuilov commented on #1159
```az group deployment create --name "kube-prod2" --resource-group "ContainerProd" --template-file "./_output/kube-prod2/azuredeploy.json" --parameters "./_output/kube-prod2/azuredeploy.parameters.json" ```

_`Deployment failed. Deployment template validation failed: 'The template resource 'k8s-master-23453153-0' at line '1' and column '96087' is not valid: The language expression length limit exc

[2017-11-07 21:12] jackfrancis opened #1726 "E2E regional coverage gap: southcentralus"
When southcentralus has available capacity, add back to appropriate E2E test configs.

[2017-11-07 22:22] JackQuincy commented on #1716
I'm not a expert about federation. @anhowe @jackfrancis any idea on the state of using acs-engine clusters in federation?

[2017-11-07 23:49] jackfrancis opened #1728 "E2E regional coverage gap: northcentralus"

[2017-11-08 00:10] ipolyzos opened #1730 "ACS engine deploy only master kubernetes node"
**Is this a request for help?**:

YES

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

**What version of acs-engine?**:

Version: v0.8.0
GitCommit: 79572455
GitTreeState: clean

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes 1.8

**What happened**:

Deployed the template attached below (censored). Even through successfully completed and I can see the right

[2017-11-08 05:06] jackfrancis opened #1734 "rationalize instance metadata story"
**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** Kubernetes

1. Enable Kubernetes clusters to be deployed by default with instance metadata enabled (this will reduce overhead to Azure control plane API.
2. Develop a configuration story or set of stories for instance metadata opt-in/opt-out for acs-engine use-cases.
3. Implem

[2017-11-08 05:22] brendandburns commented on #1734
This is all already implemented.  Search for the 'useInstanceMetadata' in the API model.

We just need to set it to 'true' by default (or test and then set it to true)

[2017-11-08 07:09] pengzhisun opened #1736 "The default storage class is unmanaged even create a managed disk k8s cluster"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.9.1
---

kubernetes.json settings:

"masterProfile": {
    "count": 1,
    "dnsPrefix": "k8s-master",
    "vmSize": "Standard_D2_v2",
    "storageProfile" : "ManagedDisks"
},
"agentPoolProfiles": [{
    "name": "agentpool1",
    "count": 3,
    "vmSize": "Sta

[2017-11-08 07:14] DonMartin76 commented on #1730
Sounds like it might be a variant of my issue #1699? Also acs-engine 0.8.0.

[2017-11-08 07:29] andyzhangx commented on #1736
@JiangtianLi acs-engine should set correct default storage class according the `storageProfile` in `agentPoolProfiles`

[2017-11-08 10:51] ipolyzos commented on #1730
I can confirm the same behaviour with the 0.9.0 and 0.9.1 versions as well.

I would like also to note that he deployments attempted in regions: _ukwest_, _uksouth_, _eastus_, _eastus2_, _westus_, _westus2_, _canadacentral_ and _canadaeast_

[2017-11-08 11:19] DonMartin76 commented on #1730
It always fails, or sometimes?

[2017-11-08 11:55] ipolyzos commented on #1730
It does not fail, it completes succesfully. I am able to connect with `kubectl` also. However when I run `kubectl get nodes` i can see only the master one and not the agents.

[2017-11-08 11:58] DonMartin76 commented on #1730
Yes, sorry, I stated it wrong. What I meant was: Does it *always* behave like this, or do you get proper clusters once in a while as well? Which type of agents do you use?

[2017-11-08 11:59] ipolyzos commented on #1730
I would like to also mention that in order to make sure that is not packages version or other env related issue deployments took place using the local setup but also tried within `azuresdk/azure-cli-python:2.0.20` and `microsoft/acs-engine:latest`  docker images with no difference so far.

[2017-11-08 11:59] ipolyzos commented on #1730
unfortunately, every time has the same behaviour have not managed since the day before to get any proper cluster

[2017-11-08 12:57] ipolyzos commented on #1730
Continuing to experiment with this issue I can report that worked fine since I have completely removed the agentpool custom labels. Not sure what may trigger this, since labels were very simple but I believe worths further investigation.

[2017-11-08 16:54] chweidling opened #1737 "Azure File shares cannot be accessed from a container running on a Windows agent"
**Is this a request for help?**
No

---

**Is this an ISSUE or FEATURE REQUEST?**
ISSUE

---

**What version of acs-engine?**
0.9.1

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
kubernetes 1.8.2

**What happened**:
When accessing an Azure Files share from a container running on a Windows agent, I get the following error:
[code]

This is independent from the template. I tried i

[2017-11-08 17:34] jackfrancis opened #1739 "E2E regional coverage gap: ukwest, australiaeast, australiasoutheast"

[2017-11-09 14:33] andyzhangx commented on #611
@jalberto I would like to take a look, could you provide following log:
[code]
it's better if you could file a new issue in
https://github.com/kubernetes/kubernetes/

[2017-11-09 14:35] andyzhangx commented on #1701
@ajhewett you could following below guide to deploy k8s on azure china cloud:
https://github.com/Azure/devops-sample-solution-for-azure-china/blob/master-dev/acs-engine/README.md

[2017-11-09 14:37] andyzhangx commented on #1594
v1.7.9 should solve this issue, just ping me if it does not work.

[2017-11-09 14:53] jalberto commented on #611
sorry @andyzhangx currently not using same cluster

[2017-11-09 15:52] skuda commented on #1506
Hey @jalberto,

How did you set the share name in PVC? I am stuck in that step, I can't find any example of that, usually I only set storageclass to use, requested size and accessMode.

Thanks!

[2017-11-09 16:07] ajhewett commented on #1701
@andyzhangx yes, that approach does work.  This issue is that the ``acs-engine deploy`` command does not  work with the AzureChinaCloud environment but does work elsewhere.

[2017-11-09 18:17] jalberto commented on #1506
[code]

[2017-11-09 18:43] skuda commented on #1506
Awesome, thanks!

[2017-11-09 20:12] jalberto commented on #1506
no problem :)

On Thu, 9 Nov 2017 at 19:43 Miguel Rasero <notifications@github.com> wrote:

[2017-11-10 00:16] #1413 closed

[2017-11-10 01:02] anhowe opened #1748 "Add ability to specify addons"
**Is this a request for help?**: Add ability to specify addons

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Feature Request

---

In some clusters we want to disable addons such as the dashboard for security purposes.  We should add an option under KubeConfig that will specify the addons that the customer wants.  If the customer doesn't choose anything, they will get the default be

[2017-11-10 01:06] anhowe opened #1749 "Add ability to specify size of Etcd disk on Master"
**Is this a request for help?**: Add ability to specify size of Etcd disk size on Master

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Feature Request

---

If the etcd disk is premium we want to be able to adjust its size to get more IOPs.

[2017-11-10 09:27] karataliu commented on #1472
This is important for AKS, where master node is not directly accessible by user.

[2017-11-10 15:00] andyzhangx commented on #1484
@theobolo static provisioning for azure disk does not support **managed disk**, you could only use existing azure unmanaged disk in unmanaged VM

[2017-11-10 15:15] andyzhangx commented on #1506
For the **built-in** azure file storage class, it should be as simple as enough, below two azure file storage classes would be dynamic created by searching storage account in current resource group:

[code]

[2017-11-10 15:21] andyzhangx commented on #1506
Below is the examples about how to use azure file dynamic & static provisioning:
https://github.com/andyzhangx/Demo/blob/master/linux/azurefile/

[2017-11-10 15:30] andyzhangx commented on #747
@anhowe anything need to do in the k8s upstream level?

[2017-11-10 15:31] andyzhangx commented on #1677
it's not related to acs-engine, would you close it?

[2017-11-10 15:34] mcops commented on #611
Installed new 1.8.2 Cluster with latest ACS-engine 0.9.x release, running also in the same error. Did an upgrade from 1.8.1 to 1.8.2, Claims working fine....

[2017-11-10 18:25] sidcarter commented on #1736
@pengzhisun what is the apiVersion you're using? I had this problem which went away when I used "vlabs" as the version.

[2017-11-10 18:30] mortenlerudjordet commented on #1603
I'm kind of struggling with the same problem. I'm also deploying with the azure networkPolicy and this does not create a route (and seem to not be needed).
I have a vNet connected to our onprem environment and as such has DNS to our DC added to the Azure vNet. Though when I try to deploy to this vNet it seems like both DNS and the dashboard is stuck in  ContainerCreating. On the master I can see b

[2017-11-10 20:00] JackQuincy opened #1752 "clusters rebooting all nodes at the same time"
**Is this a request for help?**:
---
NO

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
---
ISSUE

**What version of acs-engine?**:
---
all versioned versions and most of old git history

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
kubernetes

**What happened**:
All nodes in the cluster are rebooting at the same time. this is being caused by this.  https://github.com/Azure

[2017-11-10 20:02] JackQuincy commented on #1752
We have seen problems arise from this. Some of them still don't make sense. ACS-Engine team is investigating why.
fyi @jchauncey

[2017-11-10 20:58] anhowe commented on #747
@andyzhangx it may be useful to ensure PVs are setting encrypted disks.  CC @khenidak

[2017-11-10 22:40] #1749 closed

[2017-11-10 22:48] #1752 closed

[2017-11-11 01:30] andyzhangx commented on #611
@mcops could share the details info, like
`os version`
`kubectl describe pvc PVCNAME`
`kubectl describe pod PODNAME`

[2017-11-11 01:32] andyzhangx commented on #747
@anhowe thx, I will put this work into my backlog.

[2017-11-11 03:57] dmitsh commented on #1748
addressed in PR#1754

[2017-11-12 00:27] anhowe opened #1758 "Perf Tests should catch slowdowns in Ubuntu image"
**Is this a request for help?**: Perf Tests should catch slowdowns in Ubuntu image.  Then we can update and start baking the latest Ubuntu image when this happens.

[2017-11-12 03:41] artisticcheese commented on #122
+1 as customer demand for have ALG as option for load balancing, mainly for SSL offloading and URL based routing.

[2017-11-12 22:44] arodus opened #1761 "Azure AD and rbac enabled kubernetes cluster should also create the cluster role binding"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE REQUEST
---

**What version of acs-engine?**:
1.9.2
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Cluster with rbac and azure ad authentication is enabled.
Any kubectl command results in:
[code]
**What you expected to happen**:
The comand execut

[2017-11-13 03:52] pengzhisun commented on #1677
Close this issue due to the latest v0.9.1 version has resolved it, the default version for k8s 1.7.* in acs-engine is 1.7.9 now.

[2017-11-13 03:52] #1677 closed

[2017-11-13 19:18] jackfrancis commented on #1761
Hi @arodus, could you paste in (with creds scrubbed) the api model you used to deploy a new cluster? Thanks!

[2017-11-13 19:39] jackfrancis commented on #1748
I'd like to take a crack at this.

[2017-11-13 19:42] jackfrancis commented on #1737
@JiangtianLi This will take some investigation. When you have some spare cycles, could you kindly look into this?

[2017-11-13 19:45] jackfrancis commented on #1736
@anhowe @JackQuincy My understanding of this concern is that this won't really be possible in acs-engine. I think that the helm chart author/maintainer will always have to explicitly express desired storage in the chart, and not assume that the acs-engine built cluster will do that on helm's behalf.

[2017-11-13 19:49] arodus commented on #1761
Hi @jackfrancis, sure:

[code]

[2017-11-13 19:50] jackfrancis commented on #1730
@ipolyzos Can you paste the exact customLabels object you were using?

[2017-11-13 19:53] jackfrancis commented on #1716
@sauryadas Do we have any concrete answer to the federation question beyond "federation is not a recommended story at this time."?

[2017-11-13 19:53] #1716 closed

[2017-11-13 19:55] jackfrancis commented on #1714
@JackQuincy can you confirm that scaling will not work flawlessly in the described scenario?

[2017-11-13 19:56] jackfrancis commented on #1713
@JiangtianLi Is this a known behavioral limitation of Windows clusters w/ VNET?

[2017-11-13 19:58] jackfrancis commented on #1710
@hmarcelodn were you able to wrangle this into working status? As this is not a supported flow at the moment, I'll close this issue, we'd prefer to tackle this scenario as a first class feature when appropriate, and not formally encourage a brittle solution, if that makes sense. :)

[2017-11-13 19:58] #1710 closed

[2017-11-13 20:12] jackfrancis commented on #1739
Tracking

[2017-11-13 20:12] #1739 closed

[2017-11-13 20:13] jackfrancis commented on #1728
Tracking

[2017-11-13 20:13] #1728 closed

[2017-11-13 20:13] jackfrancis commented on #1726
Tracking

[2017-11-13 20:13] #1726 closed

[2017-11-13 21:23] JiangtianLi commented on #1737
@chweidling Can you let me know what is your kubelet version and windows os version, e.g., the output of the following?
[code]
@andyzhangx Can you take a look since this is related to Azure File?

[2017-11-13 21:28] JiangtianLi commented on #1713
@jackfrancis This is possibly a limitation for RS1 Windows container networking.

@LiamLeane What is your apimodel and custom vnet setup config?

@madhanrm Is this a known issue to you?

[2017-11-13 22:19] ipolyzos commented on #1730
Seems that now is fixed, was occurring for a couple of days in **ukwest**, **uksouth** and **canadacentral**. Not able to reproduce anymore.

[2017-11-13 22:24] jackfrancis commented on #1730
Thanks for your patience, @ipolyzos please re-open if this issue reoccurs!

[2017-11-13 22:24] #1730 closed

[2017-11-14 01:46] RobBagby commented on #1464
Hey @JackQuincy - thanks.  Can you give us an approximate timeline?  There are some partners interested in building extensions that are blocked.

Hey @jackfrancis - yes - we expect these to run in acs-engine-built clusters.

[2017-11-14 03:23] pengzhisun commented on #1736
Hi @jackfrancis

Thanks for your response.

I'm not sure why helm chart developer need to explicitly set an azure storage class, from my understanding the helm charts are designed for k8s and the default storage class is designed to adapt the underlying cloud infrastructure like azure, aws and gce etc in k8s, the acs-engine provisioned k8s cluster should follow the same principle to make the cloud

[2017-11-14 08:33] andyzhangx commented on #1736
@jackfrancis This issue is not specific to helm chart, default storage class should be set correctly, e.g.
`kind`=`managed` for managed disk cluster,
`kind`=`Shared` for unmanaged disk cluster,
There should be logic check in acs-engine code.

[2017-11-14 10:20] chweidling commented on #1737
@JiangtianLi `kubectl get no -o wide` returns
[code]

On the Windows agent, the output of `ver` is
```Microsoft Windows [Version 10.0.16299.19]```

[2017-11-14 12:32] andyzhangx commented on #1594
I have checked v1.8.3 has fixed this issue, cherry-pick fix for this issue is https://github.com/kubernetes/kubernetes/pull/54615

@pengzhisun FYI

[2017-11-14 13:01] andyzhangx commented on #1737
I have tried a k8s cluster based on current rs3 image, it works well. I could be due to the network code change, as I could see, there is `Ethernet adapter vEthernet` change, `l2bridge` works, while `Container NIC` not works. @JiangtianLi, do you have more knowledge about this?

[code]

[code]

[2017-11-14 16:46] nakahparis commented on #1603
I'm facing the same issue using "azure" network policy. Cluster is deployed but kube-dns & dashboard containers are stuck in ContainerCreating state...

[2017-11-14 17:20] vidrascup commented on #1594
I've checked on v1.8.2 deployed on azure germany and is not working , still same issue.
On azure portal the volume is created but , when kube is connecting to the volume we receive this error.

Warning  ProvisioningFailed  14s (x9 over 2m)  persistentvolume-controller  Failed to provision volume with StorageClass "default": Put https://p1339261175.blob.core.windows.net/36338085?restype=container:

[2017-11-14 17:22] mortenlerudjordet commented on #1603
I have only gotten this to work with this profile on a custom vNet with the default DNS (if setting a custom DNS, none of the system pods (DNS,Tiller and Dashboard) works as expected).
This seems to be related to what IP range the PODs are handed.

If I have a custom vNet (10.242.0.0/16). With one subnet for master (10.242.4.0/24) and one for agents (10.242.5.0/24). Using the following config gets

[2017-11-14 18:13] jchauncey opened #1766 "[Feature] Create test that checks if ubuntu image needs to be updated"
Acceptance Criteria:

* Jenkins job that runs at least once a day
* Provisions cluster and when a reboot is required it creates a file on disk that notes that this reboot happened
* Test will check for the presence of the file and create a github issue if it exists
* Should not create github issue if one already exists
* Should tag @jackfrancis @CecileRobertMichon @jchauncey and @anhowe

[2017-11-14 18:15] LiamLeane commented on #1713
API model is at the end of the OP.

ARM for network is below. Fairly simple setup, single subnet 10.59.236.0/23 with an ExpressRoute peering.

I confirmed this problem does not occur from a peered vnet and tried it in a different subscription with a peered network to confirm it wasn't subscription specific. Initially I wasn't sure if it was something up with routing or masquerading on the Windows

[2017-11-14 18:19] jchauncey commented on #1766
Or we can use the following commands:

[code]

[2017-11-14 18:41] IvanCaro opened #1767 "Custom VNET support for Windows"
**Is this a request for help?**:

---NO

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

---ISSUE

**What version of acs-engine?**:

---Version: canary
GitCommit: 8db990ba
GitTreeState: clean

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
{
  "error": {
    "code": "InvalidTemplate",
    "message": "Unable to process template language expressio

[2017-11-14 19:49] JiangtianLi commented on #1737
@andyzhangx How was the working cluster (with Azure File) deployed? Does networking work (POD to POD, outbound)? The first non-working cluster has the correct networking config though.
@chweidling Your cluster is RS3. Did you create the container with 1709 tag?

[2017-11-14 20:11] zimmertr commented on #1159
@jchauncey

Last I heard this was supposed to be increased on 11/10. I'm still unable to provision an instance with RBAC enabled.

What is the new ETA for the template length restriction to be increased?

[2017-11-14 20:48] jackfrancis opened #1770 "Dashboard addon deployment should have resource limits"
**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: n/a

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** Kubernetes

The dashboard deployment we're shipping with masters on new cluster does not have any defined resource limits.

1. Determine an appropriate default setting for CPU/memory requests and CPU/memory limits
2. Expose these

[2017-11-14 21:42] jchauncey commented on #1159
So the change was supposed to finish roll out today by 2pm PST. Let me know if you have any issues after that

[2017-11-14 22:05] chweidling commented on #1737
My deployment is created with this file:
[code]
The container/pod was crreated with
```kubectl run -it core --image microsoft/windowsservercore```

Currently I cannot deploy any Windows container on a cluster created with acs-engine 0.9.3. (When running the container, there is an error _The operating system of the container does not match the operating system of the host._)

**Further remarks:** W

[2017-11-14 23:02] JiangtianLi commented on #1737
@chweidling acs-engine 0.8.0 deploys RS1 Windows in the cluster and Windows POD uses microsoft/windowsservercore image. acs-engine 0.9.3 deploys RS3 Windows in the cluster and Windows POD uses microsoft/windowsservercore:**1709** image. To clarify, is the Azure File issue on cluster deployed by acs-engine 0.9.3?

[2017-11-15 01:22] jackfrancis commented on #266
@wbuchwalter I think the most practical step forward is to continue to add configuration of kubelet (and other k8s core components) flags on an as-needed basis. You can see in the current kubelet service definition that we ship to clusters there's a fair amount of ad hoc customization going on:

https://github.com/Azure/acs-engine/blob/master/parts/kuberneteskubelet.service

Generalizing this woul

[2017-11-15 01:22] #266 closed

[2017-11-15 01:26] #298 closed

[2017-11-15 01:27] jackfrancis commented on #298
Closing this general issue in favor of more specific coverage gap issues.

[2017-11-15 01:29] #307 closed

[2017-11-15 01:33] jackfrancis commented on #310
I think this is a good landing place for cluster debugging information:

https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/monitoring.md

It's not 100% of the way there, but it's good enough that we can start pointing people to it for basic cluster troubleshooting, and as we encounter common debugging patterns that aren't reflected in the doc, we'll add to it.

[2017-11-15 01:33] #310 closed

[2017-11-15 01:34] jackfrancis commented on #331
@anhowe is this still a regional coverage gap that we want to track?

[2017-11-15 01:35] jackfrancis commented on #353
Hopefully python fits the bill!

https://github.com/Azure/acs-engine/blob/master/pkg/acsengine/Get-AzureConstants.py

[2017-11-15 01:35] #353 closed

[2017-11-15 02:02] andyzhangx commented on #1594
@vidrascup yes, v1.8.2 does not work since cherry-pick https://github.com/kubernetes/kubernetes/pull/54615 is not in 1.8.2, **v1.8.3** should work

[2017-11-15 04:35] rocketraman commented on #1714
I can confirm this issue -- tried the `scale` command with the latest master version and the deployment failed. CLI reports:

[code]

and the additional failure information in the Deployment in the portal contains:

[code]

[2017-11-15 04:41] rocketraman opened #1774 "HOWTO: Update CNI plugin"
**Is this a request for help?**: YES

---

**What version of acs-engine?**:

[code]

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes 1.7.5

How can I update the Azure CNI plugin version in my cluster?

[2017-11-15 06:09] chweidling commented on #1737
@JiangtianLi The Azure File issue is on an 0.8.0 deployment. But, 0.8.0 deployments were working until middle of October. Then suddenly the issue was there. The same issue I have when I use Azure Container Service to deploy a kubernetes cluster.

Also with acs 0.9.1 I had this problem. At the moment I cannot deploy a Windows container with 0.9.3 in order to test it because of the _The operating sy

[2017-11-15 11:19] mortenlerudjordet commented on #1012
I would also like to know as I'm struggling getting the networking to work . The only config I have gotten to work so far is the following. Note this is on a vNet with default DNS settings (custom DNS servers breaks the cluster). Also the vNet range is 10.243.0.0/16 with one master (10.242.4.0/24) and agent (10.242.5.0/24) subnet.
Everything else is on the latest bits (acs-engine 0.93)

[code]

[2017-11-15 12:27] IvanovOleg commented on #1472
@karataliu
I've got the same error even with modified /etc/kubernetes/addons/azure-storage-classes.yaml

[2017-11-15 13:46] jbinko opened #1775 "azure network policy - cni packages inconsistent, missing loopback file, containers stay in ContainerCreating state"
# azure network policy - cni packages inconsistent, missing loopback file, containers stay in ContainerCreating state
## Symptoms
* cluster is not working, containers stay in ContainerCreating state
* cni failed to find loopback
* no loopback file in /opt/cni/bin/

## Environment
* Issue in acs-engine.0.9.3.exe, no other versions has been tried
* Network policy set to azure for Kubernetes Orchestr

[2017-11-15 18:15] jackfrancis commented on #1637
@jalberto This symptom has been addressed in Azure Resource Manager (ARM), the API that acs-engine depends upon. Could you kindly verify that you're no longer seeing errors that look like "The language expression length limit exceeded..."?

If this is still an issue, please re-open!

[2017-11-15 18:15] #1637 closed

[2017-11-15 18:16] jackfrancis commented on #1170
n/a

[2017-11-15 18:16] #1170 closed

[2017-11-15 18:19] #1310 closed

[2017-11-15 18:20] jackfrancis commented on #900
AKS!

[2017-11-15 18:20] #900 closed

[2017-11-15 18:25] CecileRobertMichon opened #1777 "OS image defaults should only be defined in one place"
**Is this a request for help?**: NO

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Feature Request

---

**What version of acs-engine?**: v0.9.3

---

"osImageOffer", "osImagePublisher", "osImageSKU" and "osImageVersion" defaults are defined in pkg/acsengine/defaults.go, parts/masterparams.t and parts/agentparams.t (Introduced by PR #1632). They should only be defined by defaults.go

[2017-11-15 18:30] jalberto commented on #1637
thanks! I will check when I have th eopportunity

On Wed, 15 Nov 2017 at 12:15 Jack Francis <notifications@github.com> wrote:

[2017-11-15 18:48] JackQuincy commented on #1714
@jalberto To add a node to the VNET we need to be able to add an address for it in the VNET. I'm not sure how we could not. We do support bring your own VNET, where you specify your VNET when creating your cluster and we just join the cluster to that VNET.  Or am I misunderstanding your scenario?

[2017-11-15 18:53] jackfrancis commented on #1714
The expectation of "To scaleup without modify VNET address space" is not possible. Please re-open if there's additional documentation/information we can provide to unblock you!

[2017-11-15 18:53] #1714 closed

[2017-11-15 18:59] jackfrancis commented on #425
I'm not sure there's anything actionable here, sorry for the devx inconvenience over the summer @sylr

[2017-11-15 18:59] #425 closed

[2017-11-15 19:01] #771 closed

[2017-11-15 19:10] jackfrancis commented on #960
Closing this with the rollout of RS3 @JiangtianLi

[2017-11-15 19:10] #960 closed

[2017-11-15 19:22] jackfrancis commented on #944
@CecileRobertMichon you may benefit from taking advantage of Lachie's start here: https://github.com/Azure/acs-engine/pull/1024

[2017-11-15 19:27] jackfrancis commented on #1774
We don't currently expose it as a configuration parameter. See:

https://github.com/Azure/acs-engine/blob/master/pkg/acsengine/defaults.go#L32

Are you looking to use a newer version than `v0.91`?

[2017-11-15 19:38] jackfrancis commented on #987
ACS is an existing user of Docker Swarm so we can't deprecate at this time.

[2017-11-15 19:38] #987 closed

[2017-11-15 20:01] zimmertr commented on #1159
@jchauncey I provisioned a cluster today, 11/15, at 11:07AM using a template I generated yesterday at 9AM. This template was once working, but is no longer working.

Looks like I'm still having the same issue.

`kubectl get nodes`
[code]

`etcdctl cluster-health`
[code]

`kubectl cluster-info`
[code]

`kubectl cluster-info dump`
[code]

`journalctl -xe`
[code]

[2017-11-15 20:04] zimmertr commented on #1621
@CecileRobertMichon I provisioned a cluster today, 11/15, at 11:07AM using a template I generated yesterday at 9AM. Looks like I'm still having the same issue.

I was told the ETA was moved from 11/10 to 11/14 at 2PM. Is this still valid? Am I experiencing this issue as a result of the ARM Template Restriction? This is East US 2, if it helps.

`kubectl get nodes`
[code]

`etcdctl cluster-health`
[

[2017-11-15 20:14] jackfrancis opened #1779 "Rationalize etcd implementation"
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: n/a

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** Kubernetes

The current implementation of etcd assigns a default value of `"2.5.2"` to etcd during template generation, but doesn't actually enforce that when deploying a cluster. See the following from a master that I deplo

[2017-11-15 20:19] rocketraman commented on #1774
@jackfrancis  No, I'm trying to upgrade the CNI plugin in a cluster that was created with an older version of acs-engine (and therefore uses an older version of the CNI plugin).

Trying to get the fix for https://github.com/Azure/azure-container-networking/issues/76.

[2017-11-15 20:21] jackfrancis commented on #1621
Did you get this error at deployment time?

`The language expression length limit exceeded.` (...)

I think the answer must be no, because you were able to actually provision infra. :)

The issue we've been tracking resolves that specific symptom vector. If you're not getting a deployment error complaining about that limit, then this is a different error.

[2017-11-15 20:22] rocketraman commented on #1714
@JackQuincy @jackfrancis You guys are misunderstanding I believe... if you look at the error message I posted, the deployment is not trying to add an address to the VNET for the node, but rather change the address *space*. Specifically: VnetAddress*Space*CannotChangeDueToPeerings

[2017-11-15 20:28] jackfrancis commented on #1774
There is no supported way to do this. You could manually perform the steps here, using the desired CNI artifacts:

https://github.com/Azure/acs-engine/blob/master/parts/kubernetesmastercustomscript.sh#L168

@JackQuincy Just in case, I'll ask: would a scale/upgrade operation do this for @rocketraman on an existing cluster using a newer version of acs-engine. I think not, but perhaps adding more nod

[2017-11-15 20:49] zimmertr commented on #1621
@jackfrancis My source of truth on that being the issue was @CecileRobertMichon 's comment above. https://github.com/Azure/acs-engine/issues/1621#issuecomment-341775423

I have been deploying this template programmatically. Please allow me ~20 minutes to deploy manually and see if that error appears. Should I be deploying with `az group deployment create` in `--debug` mode to see that error?

[2017-11-15 21:09] jackfrancis commented on #1621
You don't need `--debug` to see that error!

[2017-11-15 21:52] CecileRobertMichon commented on #1621
@zimmertr sorry if my comment was confusing. What I meant was that there were two different issues:
1) the deployment issue that was due to the ARM template restriction. This is now fixed.
2) the etcd error which was not reproducible on master before because of 1), but now appears to still be an issue. When was your template last working?

[2017-11-15 22:22] zimmertr commented on #1621
@CecileRobertMichon Approximately 35 days ago. I can't really remember. This issue has been open for quite a while.

**Here is more context:**

I am using [this template](https://gist.githubusercontent.com/zimmertr/e898f95077181f3a089cd5896f2f95aa/raw/6053d6edb879264bad2b8c59758301ee125a3154/gistfile1.txt)

That is deployed on [this network schema](https://gist.githubusercontent.com/zimmertr/d03d0

[2017-11-15 22:56] zimmertr commented on #1621
@CecileRobertMichon Approximately 35 days ago. I can't really remember. This issue has been open for quite a while.

**Here is more context:**

I am using [this template](https://gist.githubusercontent.com/zimmertr/e898f95077181f3a089cd5896f2f95aa/raw/6053d6edb879264bad2b8c59758301ee125a3154/gistfile1.txt)

That is deployed on [this network schema](https://gist.githubusercontent.com/zimmertr/d03d0

[2017-11-16 00:53] dtzar commented on #1159
@zimmertr this is no longer related to the length issue and is tracked at the existing 1621.  Closing this issue since the limit has been lifted.

[2017-11-16 00:53] #1159 closed

[2017-11-16 08:38] andyzhangx commented on #1737
@chweidling
Try with following example to deploy a windows pod:
https://github.com/andyzhangx/Demo/blob/master/windows/azurefile/rs3/windowsservercore-pod-azurefile.yaml

You could find detailed examples here:
https://github.com/andyzhangx/Demo/blob/master/windows/azurefile/rs3/windowsservercore-pod-azurefile.yaml

This version should work for mounting azure file

[2017-11-16 11:38] chweidling commented on #1767
I have the same problem. I am not sure, but it looks like this is a Windows agent specific problem. My deployment file is this:
[code]

[2017-11-16 14:45] tanner-bruce commented on #1621
@zimmertr @CecileRobertMichon
I can confirm that this template https://gist.github.com/tanner-bruce/79d54aae9ab47fcb3ac6cb0ae9b581cf sees the same behaviour you are seeing. The cluster launchs, and at first the nodes can speak to eachother (i.e all nodes are Ready), however after the nodes have been up about three minutes, they all start going down into a NotReady state EXCEPT the master nodes.

A

[2017-11-16 14:49] endeepak opened #1782 "How to configure Docker CE version to install in swarm mode?"
**Is this a request for help?**:
Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

---

**What version of acs-engine?**:
Latest

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Swarm

**What happened**:
Docker CE version got updated from 17.06.0 to 17.06.2 without our knowledge

**What you expected to happen**
We should be able to specify exact version of Do

[2017-11-16 15:25] tanner-bruce commented on #1621
After spinning up the same template but with 1.7 I am seeing this now. Once again, all nodes came up as ready and subsequently became not Ready. Interestingly, the instance in the `nodes` group is still marked as Ready.
[code]

[2017-11-16 16:28] chweidling commented on #1737
@andyzhangx: Thank you for the hint. With a 1709 image I could mount the file share inside my container.

This issue is resolved.

[2017-11-16 16:32] tanner-bruce opened #1783 "kubernetes deploy appears to have incorrect routes"
ACS Version 0.9.3

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Created cluster with https://gist.github.com/tanner-bruce/79d54aae9ab47fcb3ac6cb0ae9b581cf#file-kube_dev-json

Nodes cluster deploys, and nodes initially come up as `Ready`, however after Kubernetes writes the route table, all nodes EXCEPT the default `nodes` group, and `masters` go to No

[2017-11-16 17:45] rocketraman commented on #1774
@jackfrancis Replacing the cni binaries with the newer version seems easy enough. Do I need a reboot of each node after doing that?

[2017-11-16 18:16] jackfrancis commented on #1767
Nothing jumps out to me as being obviously wrong, there, but it's possible the vnet references don't match up with the `firstConsecutiveStaticIP` address.

I tested that the current code at HEAD works using the provided example vnet workflow. That consists of doing something like what this script suggests:

https://github.com/Azure/acs-engine/blob/master/examples/vnet/k8s-vnet-predeploy.sh

and th

[2017-11-16 18:27] jackfrancis commented on #1621
@zimmertr Are you willing to do a quick test and remove the `"networkPolicy": "calico"` configuration to see if we can home in on the offending vector?

[2017-11-16 18:27] jackfrancis commented on #1737
Thanks @andyzhangx !

[2017-11-16 18:27] #1737 closed

[2017-11-16 18:38] dtzar commented on #1621
Unfortunately, I haven't had time to troubleshoot this.  Calico needs to connect to K8s API and etcd in order to work properly.  Do we require SSL now to connect to K8s API from the pods or etcd (this requires an update to the calico config)?  Do we require etcd 3?  etcd 3 will not work.

[2017-11-16 20:45] fengli858 commented on #1647
Kubernetes 1.7.10
Windows and Linux Hybrid cluster.
The  Windows agent does not work. it can start windows images.
Error message: Error syncing pod
{
    "apiVersion": "vlabs",
    "properties": {
        "orchestratorProfile":  {
        "orchestratorType": "Kubernetes",
        "orchestratorRelease": "1.7"
        },
        "masterProfile": {
            "count": 1,
            "dnsPrefix": "Fe

[2017-11-16 20:47] pdeligia commented on #1647
@jchauncey apologies for the delayed response. I am able to run pods on Windows nodes now.

[2017-11-16 20:51] fengli858 commented on #1647
Great! How did you fix your issue? Could you share your template? thanks!

[2017-11-16 20:52] #1748 closed

[2017-11-16 20:58] fengli858 commented on #1647
I may have the same issue with 0.9.3
node description:
Type     Reason               Age               From                   Message
  ----     ------               ----              ----                   -------
  Warning  InvalidDiskCapacity  2m (x23 over 1h)  kubelet, 13242k8s9001  invalid capacity 0 on device "" at mount point ""
  Warning  ImageGCFailed        2m (x22 over 1h)  kubelet, 132

[2017-11-16 21:36] jackfrancis commented on #1779
All published versions >= `v2.2.5` have been uploaded to `https://acs-mirror.azureedge.net/github-coreos/`.

Acceptance criteria:

- etcd version implementation/enforcement follows one path (use the most recent implementation from @khenidak and generalize it)
  - remove the vanilla `etcd` under `packages:` (in customData) path
- set a default etcd version of `2.2.5` to match the existing version d

[2017-11-16 21:36] jchauncey commented on #1647
how much disk space is on the node that is producing that error?

[2017-11-16 21:37] khenidak commented on #1779
I love this. Thank you!

[2017-11-16 21:44] fengli858 commented on #1647
acs-engine 0.9.3
I got the same error for Kubernetes 1.8.2 and 1.7.10.
(I have another Kubernetes cluster (using 0.8.0), Hybrid, works fine!)
On Windows-Pool
OS DiskSizeGB = 300
diskSizeGB = 1020.
Thanks!
(I am about to try the example you point out a few days ago, examples/windows/kubernetes-hybrid.json)

"agentPoolProfiles": [
 {
 "name": "agentpool1",
 "count": 2,
 "vmSize": "Standard_D3_v2",

[2017-11-16 23:50] zimmertr commented on #1621
@jackfrancis I have removed that line from the JSON template passed to acs-engine and regenerated it. Upon deploying the template and adding the k8s subnet to the route table, I am greeted with the following. I am talented with UNIX internals so if you need me to do any deeper investigation into a root cause just let me know.

`kubectl get nodes` **Before updating route table**
[code]

`kubectl ge

[2017-11-17 04:49] jackfrancis commented on #1770
Fixed in #1765

[2017-11-17 04:49] #1770 closed

[2017-11-17 05:01] jackfrancis commented on #1683
acs-engine doesn't support these types of update to existing cluster operations, however, I hope this helps:

We recently merged to master an addition that enables more specific dashboard customization:

https://github.com/Azure/acs-engine/pull/1765

When building *new* clusters, if you want to pass in a custom dashboard image reference (e.g., `gcr.io/google_containers/kubernetes-dashboard-amd64:v

[2017-11-17 05:01] #1683 closed

[2017-11-17 05:03] jackfrancis commented on #1641
Thanks @richardjortega for hunting that down!

[2017-11-17 05:03] #1641 closed

[2017-11-17 05:11] #1775 closed

[2017-11-17 06:55] endeepak commented on #1412
Same issue with docker swarm setup after changing the `postInstallScriptURI` parameter.  Seems to be similar to https://github.com/Azure/acs-engine/issues/132

[2017-11-17 14:27] AlexZeitler opened #1788 "Changing Master VM size in Portal does not update Master Labels"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
Where to get this from when running in ACS?
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.7.7

**What happened**:
Change Master size in Azure portal to `D1_v2 Standard`
Run `kubectl describe node k8s-master-id` returns:

[code

[2017-11-17 15:50] fengli858 commented on #1647
acs-engine 0.9.3
tested the examples/windows/kubernetes-hybrid.json.
It does not work. No Data Disk for windows node.

[2017-11-17 16:00] chweidling commented on #1767
It looks like this is a problem for Windows agents only. Linux agents are deployed as expected.

When I look at the generated _azuredeploy.json_ file, then for Windows agents, then I find a _customData_ property, which has the following content:
[code]
There is an access to a variable _subnet_ (```variables('subnet')```), which is nowhere defined in _azuredeploy.json_.

After I patched the generat

[2017-11-17 16:26] AlexZeitler opened #1789 "az acs create --master-vm-size=Standard_D1_v2 creates Standard_D2_v2 master"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
Unknown, where to get this in ACS?
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
k8s

**What happened**:
Run

[code]

Resulting Master VM size according to Portal: Standard D2 v2 (2 vcpus, 7 GB memory)

**What you expected to happen**:
Sta

[2017-11-17 17:59] sharmasushant commented on #1774
@rocketraman replacing binaries would work. Reboot should not be required. However, to reclaim the lost ip-addresses, you will need to fix the CNI state. It is easy to clean up the state completely and start from fresh. However, if there are some existing pods on the node, then the state clean up will need to accommodate for those. I think its better to create new cluster/nodes.

[2017-11-17 18:41] jackfrancis commented on #1767
This is a known limitation of the current custom VNET implementation. Our published example api models for this feature are Linux-only. See:

https://github.com/Azure/acs-engine/blob/master/examples/vnet/kubernetesvnet.json

@JiangtianLi has agreed to work on filling this gap. We'll submit a distinct PR that delivers custom VNET support for Windows agents.

Thanks for your patience!

[2017-11-17 18:43] jackfrancis commented on #1767
@JiangtianLi A basic acceptance criteria for this implementation is a new `examples/vnet/kubernetesvnet-win.json` api model that has a Windows agent profile instead of a Linux one. We can then add that to our E2E coverage to ensure that we continue to support this flavor of cluster deployment going forward.

[2017-11-17 19:32] dtzar commented on #1621
I'm looking into this today, collaborating with Jack.

[2017-11-17 19:40] zimmertr commented on #1621
Thanks @dtzar. I hope it's just user error.

[2017-11-17 20:11] JiangtianLi commented on #1767
@jackfrancis Thanks for investigating this. I will fix for windows.

[2017-11-17 20:14] dtzar commented on #1621
I just provisioned a new cluster from master with calico using this template and everything is healthy (all pods in kube-system running, all nodes ready).

@zimmertr what is the route table command(s) you are doing and against what node(s)?

[code]

[2017-11-17 20:48] rocketraman commented on #1774
@sharmasushant :  If I create new nodes, migrate all workload to them, and then remove the old nodes, will the necessary CNI state cleanup happen?

@jackfrancis Is the best way to clean this up with acs-engine to create a new node pool, migrate workload to it, then scale down the old node pool to 0 nodes?

[2017-11-17 20:55] jackfrancis commented on #1774
@JackQuincy The scaling documents here suggest there is no scale-down. And @rocketraman's mention of creating a new node pool suggests there's an idiomatic workflow to do that w/ acs-engine. Is a `az group deployment create` against the same resource group with a modified api model (w/ the new agent pool) the way to do that?

[2017-11-17 20:55] rocketraman opened #1790 "The `scale` command unsuccessfully tries to modify the VNET address space"
**Is this a request for help?**: NO

---

**Is this an ISSUE or FEATURE REQUEST?** ISSUE

---

**What version of acs-engine?**: latest `master`

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.7

**What happened**:
When the vnet associated with the cluster has peerings, the acs-engine scale command fails to complete.

**What you expected to happen**:
The acs-engine s

[2017-11-17 20:56] rocketraman commented on #1714
Created a new issue for more visibility. I can't reopen this one.

[2017-11-17 21:31] jackfrancis opened #1791 "Turn on azure CNI by default"
**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** Kubernetes

We'd like to work towards having azure CNI be the default networking implementation. Let's turn it on for a bunch of cluster scenarios IN CI and see what happens.

[2017-11-17 22:02] #1783 closed

[2017-11-17 22:20] dtzar commented on #1621
I know @zimmertr and @tanner-bruce  are doing calico + custom vnets.  Just wanted to make sure calico + K8s without custom subnets works against the current master commit and it does with the above template and this one below (adds 1.8 + RBAC).  Trying to reproduce the problem now with the vnet subnet sample weaved into the template below which is more similar to both your configurations.

[code]

[2017-11-17 22:31] jackfrancis commented on #1791
So far I've only identified one breaking behavior, which is to customers who

See this api model, which I had to enforce a`"networkPolicy": "none"` configuration onto in order to pass our E2E

https://github.com/jackfrancis/acs-engine/commit/b212e342fd04aff67b2b8411a2a7b0d8f5862673

Does it make sense that the following provisioning foo would not scaffold a working cluster when applied to a cluste

[2017-11-17 23:20] jackfrancis opened #1792 "Add explicit CNI plugins download artifact"
Rather than refer to "latest" let's build a process where we're using an explicit stable version of the cni-plugins binary, and regularly refresh that moving forward.

[2017-11-17 23:20] jackfrancis commented on #1792
See:

https://github.com/containernetworking/plugins/releases

[2017-11-18 00:01] #944 closed

[2017-11-18 01:05] dtzar commented on #1621
Ok, I deployed the below template and everything is still working fine for me.  I used the pre/post scripts and subnet from the `examples/vnet` section of the repo.  The next step would be to test an updated template which adds another subnet and perhaps puts the master/agent nodes onto the 2nd subnet (like @zimmertr does).

@zimmertr - It would be good to get exactly what routes your gathering an

[2017-11-18 05:40] andyzhangx commented on #1484
@theobolo I was wrong, actually k8s already support attach a specifc manage disk, below is an example:
https://raw.githubusercontent.com/andyzhangx/Demo/master/linux/azuredisk/nginx-pod-azuredisk-static-mgrdisk.yaml

For detailed steps, you could refer to following link under `Static Provisioning`
https://github.com/andyzhangx/Demo/tree/master/linux/azuredisk

[2017-11-18 16:42] fengli858 opened #1795 "Windows Agents Not Working in Hybrid Kubernetes 1.8.2 (0.9.4) on Azure NorthCentralUS"
**Is this a request for help?**:
Yes!
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.9.4  (same issue at 0.9.3 and 0.9.2)
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes (1.8.2) (has same issue with 1.7.9)

**What happened**:
(1) not able to start any Windows Pods ( for test, use microsoft/iis:latest)
(2) get f

[2017-11-18 16:47] fengli858 commented on #1795
Here is the file
{
    "apiVersion": "vlabs",
    "properties": {
        "orchestratorProfile":  {
        "orchestratorType": "Kubernetes",
        "orchestratorRelease": "1.8"
        },
        "masterProfile": {
            "count": 1,
            "dnsPrefix": "acuityk8stest2",
            "vmSize": "Standard_D3_v2",
            "osDiskSizeGB": 200,
            "storageProfile": "ManagedDisks

[2017-11-19 19:28] fengli858 commented on #1795
(1) Increase VM size to D12_v2
(2) acs-engine 0.9.3 release Windows RS3
(3) Must use the Windows Images Tagged with 1709
(4) able to run microsoft/windowsservercore:1709
(5) still got the error when run microsoft/aspnet:4.7.1-windowsservercore-1709
-:(

[2017-11-19 19:28] #1795 closed

[2017-11-19 21:07] chweidling commented on #1767
Just another remark: My deployment example above worked well acs-engine 0.8.x. I successfully deployed a cluster with Windows agents into an existing VNET.

It looks like the feature is broken now.

[2017-11-20 10:57] X-E-n-G opened #1796 "k8s cluster will not expose ips"
**Is this a request for help?**:
Yes! Absolutely.!
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:

Version: v0.9.3
GitCommit: bd006fc9
GitTreeState: clean
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
so, Acs engine  builds the arn template. I remove all entries of the NSG from the template.

[2017-11-20 15:46] radu-matei opened #1797 "osType: Windows for masterProfile"
**Is this a request for help?**:
Yes.
---

**What happened**:
I am trying to create a Docker Swarm Mode cluster only with Windows VMs - 1 master and 3 agents. The problem is that, [according to the docs](https://github.com/Azure/acs-engine/blob/master/docs/clusterdefinition.md#masterprofile), you cannot assign `osType` to `Windows` in the `masterProfile` section.

So, when trying to generate the d

[2017-11-20 19:08] robbiezhang opened #1799 "Windows Agent Sometimes Lost Connection"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
private fork from 0.3.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
We deploy clusters with 246 Windows agents. After running for some time, some Windows agents lost connection. The running period varies fro

[2017-11-20 19:42] jackfrancis opened #1800 "kubernetes version enforcement"
acs-engine needs to enforce version requirements for a variety of usage patterns:

- ACS
- AKS (managed Kubernetes)
- acs-engine CLI (vlabs)

Acceptance criteria:

- ACS & AKS
  - RP template generation should defer to acs-engine for authoritative list of supported versions
- acs-engine CLI
  - acs-engine users should have access to a separate, more fresh list of versions so that they can be on th

[2017-11-21 01:17] IvanCaro opened #1806 "VM has reported a failure when processing extension 'cse0'"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
Version: canary
GitCommit: 8db990ba
GitTreeState: clean
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
{
  "status": "Failed",
  "error": {
    "code": "ResourceDeploymentFailure",
    "message": "The resource op

[2017-11-21 07:14] heatmiser opened #1807 "Proposal of support for specifying custom VHD images within an ACS cluster"
Proposal of support for specifying custom VHD images within an ACS cluster, instead of using Azure Gallery images.

In addition to allowing the deployment of roll-your-own images that might include custom functionality, this is also of particular importance when utilizing RHEL for the underlying OS, as this will allow those customers who are utilizing Red Hat's "Cloud Access" subscription model:
[

[2017-11-21 16:15] bq1756 opened #1809 "acs-engine "upgrade" usage help"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
v0.8.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.7.7

**What happened**:

The following command results in **"FATA[0002] error loading ContainerService: OrchestratorType has unknown orchestrator:"**.  What is causing this

[2017-11-21 18:40] RobBagby commented on #1464
@JackQuincy - any update on this?

[2017-11-21 20:47] jackfrancis commented on #1809
@bq1756 could you try to repro w/ acs-engine v0.9.4?

[2017-11-21 20:58] jackfrancis commented on #1806
@IvanCaro could you paste the api model that you passed as input to acs-engine?

@JackQuincy I wonder if cse has an non-idiomatic execution context for this change in some cases:

https://github.com/Azure/acs-engine/commit/b5eb43b47f17d8db54ba9bfcd2a9c07bda3e6582#diff-95c1c34f292e829cdcc06906aaf5c4f1

Does it make sense that a stat failure like the above would ever short-circuit as currently imple

[2017-11-21 21:42] seanknox opened #1811 "deploy fails with "failed to create valid credentials: graphrbac.ApplicationsClient#Create""
**What version of acs-engine?**:
[code]
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
- provision a Kubernetes cluster with RBAC enabled
- don't specify a service principal (let the CLI autocreate it)
[code]

**What you expected to happen**:
Kubernetes cluster provisioned with RBAC enabled

**What Happened**:
Got:
` ServicePrincipalProfile was emp

[2017-11-21 21:47] bq1756 commented on #1809
acs-engine v0.9.4 got me past this specific issue.  My cluster in now in the process of upgrading.

Note v0.9.4 has different, required input parameters.  The new parameters are simpler.

[2017-11-21 21:47] #1809 closed

[2017-11-21 22:51] JackQuincy commented on #1806
Only reason I could see this failing is if we called set -x or something of the sort earlier in the line/command
which would be in parameters common etc.

[2017-11-21 22:54] jackfrancis commented on #1806
@JackQuincy I can reproduce consistently when specifying `"orchestratorRelease": "1.6"`. @IvanCaro Were you attempting to build a 1.6 cluster when you received this error?

[2017-11-21 23:56] jackfrancis opened #1815 "Azure CNI w/ bring your own VNET"
This issue will track the enabling of "bring your own" VNET functionality using Azure CNI networking implementation.

At present, hooking up a pre-existing VNET to a new cluster deployment manifest is manual. We continually test this manual feature with the following process:

1. Create a new VNET using the script here:
  - https://github.com/Azure/acs-engine/blob/master/examples/vnet/k8s-vnet-pre

[2017-11-21 23:58] jackfrancis commented on #1815
@xtophs @dtzar

[2017-11-22 00:09] jackfrancis commented on #561
Verified this is no longer an issue. On a cluster with azure CNI enabled:

[code]

Was able to create a container, `apt-get install curl`, and curl to the internet:

[code]

[2017-11-22 00:09] #561 closed

[2017-11-22 01:05] seanknox commented on #561
Awesome! Do you know what changed? Newer CNI image?

[2017-11-22 05:32] mliyanagamage commented on #502
Hey guys, stumbled onto this issue while looking at the same error for something unrelated, but found this table and thought you guys might find it useful

https://github.com/MicrosoftDocs/azure-docs/blob/master/includes/managed-disks-common-fault-domain-region-list.md

[2017-11-22 09:17] kishorerv25 commented on #83
Is it not possible to create VMs with RHEL OS using acs engine .???

Tried to include "distro": "RedHat" in json file for generating templates with acs.
In template files it was still pointing to ubuntu image.
Modified azuredeploy.json and azuredeploy.parameters.json files with RedHat parameters.

Deployment failed with following error messages. It has created RHEL OS machines but deployment not c

[2017-11-22 10:06] VTommyV opened #1818 "kubernetesvnet.json fails when using Windows agent"
**Is this a request for help?**:
Yes
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
**What version of acs-engine?**:
v0.9.4
**Orchestrator and version
Kubernetes
If this is a ISSUE, please:
When provisioning a Kubernetes cluster to an existing VNET using the kubernetesvnet.json example, we get the below error message.  This only occurs when we select osType:Windows in the agent pool,

[2017-11-22 10:21] #1818 closed

[2017-11-22 10:21] VTommyV commented on #1818
Just found this duplicate

[2017-11-22 10:21] VTommyV commented on #1818
https://github.com/Azure/acs-engine/issues/1767

[2017-11-22 17:35] jackfrancis commented on #1815
@slack @khenidak @sauryadas

[2017-11-22 17:51] jackfrancis commented on #561
@seanknox I suspect it was the addition of a masquerade rule in iptables. See here for an example:

https://github.com/Azure/acs-engine/blob/master/parts/kubernetesmastercustomdata.yml#L283

[2017-11-22 18:17] IvanCaro commented on #1806
hey @jackfrancis this happened with customVnet and DNS Servers, i created the cluster without DNS (i used azure provider) and after i changed (this works).

[2017-11-22 19:28] sharmasushant commented on #561
@jackfrancis  @seanknox  Yes, it was fixed with the IPTables rule. Internet access should be working.

[2017-11-22 20:07] amanohar opened #1820 "API model validation panics if `properties` is nil/empty"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
ALL
---

If caller sends a PUT request with a missing/omitted `properties` field ACS Engine validation panics:

E.g. of panic in: github.com\Azure\acs-engine\pkg\api\agentPoolOnlyApi\v20170831\validate.go (but happens for all API verisons)

Code snippet that

[2017-11-22 22:53] seanknox opened #1821 "Kubernetes v1.7.9 master and worker nodes flapping"
**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**:
master:
[code]

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
- Kubernetes 1.7.9
- Azure region: Central US

**What happened**:

I'm seeing both masters and worker nodes regularly flap between Ready/NotReady on new v1.7.9 clusters with no activity. The following is output from ne

[2017-11-23 00:31] sharmasushant commented on #1815
@jackfrancis We have tested and this works if customer specifies vnetCIDR in the cluster config.
We need the vnet address space for internet connectivity to work (the iptables rule).

Are you asking that customer should not have to specify the vnetCIDR for the pre-existing Vnet?

[2017-11-23 00:34] seanknox commented on #1821
@jackfrancis @jchauncey FYI

[2017-11-23 04:07] tylerauerbeck commented on #221
Is there any update on this?

[2017-11-23 10:36] tdeheurles opened #1822 "[Regression ?] Unable to start a dashboard with version 0.9.4. (Same code was fine in 0.9.1)"
**Is this a request for help?**:
Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Seems issue, regression

**versions**:
- acs-engine: 0.9.4 (issue not present in 0.9.1)
- kubectl: 1.8.0
- Kubernetes: 1.8 (acs-engine throw if I try to specify 1.8.1 or 1.8.2)
---

**What happened**:
az arm command run without issue
no dashboard at the end.
Not sure that cluster is running fine as kubectl

[2017-11-23 10:42] tdeheurles commented on #1822
The issue seems related to pods in kube-system:
[code]

[2017-11-23 13:59] fifitrixabelle opened #1823 "Generated DCOS bootstrap url is invalid for 1.10"
The recently added 1.10 support for dcos cluster generates a url that does not exist:

https://dcosio.azureedge.net/dcos/stable/bootstrap/e38ab2aa282077c8eb7bf103c6fff7b0f08db1a4.bootstrap.tar.xz
Returns: "The specified blob does not exist."

All other versions return a valid file so running using the 1.10 example does not install dcos
https://github.com/Azure/acs-engine/blob/master/examples/dcos-

[2017-11-24 11:25] aku105 opened #1826 "Make out of resource handling flags configurable"
**Is this a request for help?**:
No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE

---

**What version of acs-engine?**:
Latest

---

Kubernetes has configurations available for handling Out Of Resource scenarios as described [here](https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/).
This request is to allow eviction threshold policies to be configured in

[2017-11-24 11:26] aku105 opened #1827 "Increase resiliency of DNS pods"
**Is this a request for help?**:
No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE

---

**What version of acs-engine?**:
Latest

---

DNS pod should be made more resilient since it's one of the important services in cluster on which any pod depends, if they need to communicate with other services inside or outside of cluster. Some possible improvements:
1. ~~Run DNS pods as

[2017-11-24 11:29] aku105 opened #1828 "ACS-Engine CIS compliance issues"
**Is this a request for help?**:
No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

---

**What version of acs-engine?**:
Latest

---

The configuration of the ACS-Engine Kubernetes cluster and it's components does not conform to CIS benchmarking standards 1.8

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
There are a high number of

[2017-11-24 11:49] pidah commented on #1761
As a wider comment, is it possible to have an option to pass custom RBAC role-binding config to acs-engine which would be placed on the master nodes in /etc/kubernetes/addons to be managed by the addon manager ?

[2017-11-24 12:01] andyzhangx commented on #1506
/assign

[2017-11-27 13:41] andyzhangx commented on #1822
Your controller manager is crashing due to `AzureDisk -  failed to init Blob Disk Controller`, here is my question:
1) could your service principal have access to the **whole** resource group ?
2) your controller manager logs are not complete, if `kubectl logs` command could not get complete logs, could you use below command to get controller manager logs, you need to log on to one master node:
[c

[2017-11-27 13:41] andyzhangx commented on #1822
/assign

[2017-11-27 13:41] andyzhangx commented on #1822
/assign @andyzhangx

[2017-11-27 13:59] andyzhangx commented on #1307
`/mnt` is a temp disk, data will be lost when reboot, you could change os disk size by:
https://github.com/Azure/acs-engine/blob/master/examples/disks-managed/kubernetes-vmas.json#L11

[2017-11-27 14:11] skuda commented on #1307
Why is that a problem? Kubernetes will download images again if they are missing from /var/lib/docker after the temporary storage is lost.

There is another, related, issue: https://github.com/Azure/acs-engine/issues/543

[2017-11-27 17:29] jackfrancis commented on #1815
@sharmasushant No, if we have a working pattern with the existing code, we should use it. Thanks!

I'm realizing, also, that step 4 above (add route table to VNET) should not be required w/ Azure CNI. Can you confirm that that plumbing is only required for kubenet + Azure VNET implementations?

[2017-11-27 18:15] 0x7f opened #1831 "Expose Services to CNI/VNet only, instead of globally via Azure Load Balancer"
**Is this a request for help?**:

request for help.

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

---

**What version of acs-engine?**:

v0.9.4

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes

**What happened**:

First, thank you very much for your good work.

I searched the issue list already, but could not find sth that covers my set up. So h

[2017-11-27 18:20] jackfrancis commented on #1822
Thanks @andyzhangx !

[2017-11-27 18:36] jackfrancis commented on #1815
// TODOs:

- add validation for Azure CNI + bring your own VNET configs: require `vnetCIDR` property
  - @jackfrancis
- improve documentation
  - @jackfrancis

[2017-11-27 18:57] jackfrancis commented on #1823
@julienstroheker Are you the caretaker of DC/OS images @ `https://dcosio.azureedge.net/dcos/stable/bootstrap/`? Or do you know who is?

Looks like we need to update a working tarball for `1.10`. (Assuming the artifact name is different, we'll also need to update the references in acs-engine.

Thanks!

[2017-11-27 19:06] jackfrancis commented on #1827
DNS is run as a deployment:

[code]

Additionally, the `addonmanager.kubernetes.io/mode: Reconcile` label does exist.

What version of acs-engine did you use to build your cluster?

Agreed that DNS is a critical service, we'd be happy to explore ways to add resiliency.

[2017-11-27 19:43] #1639 closed

[2017-11-27 21:41] bq1756 opened #1834 "acs-engine "upgrade" causes service outage when master VMs are being deleted"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue for now
---

**What version of acs-engine?**:
0.9.4
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.7.2, during upgrade to 1.8.1

**What happened**:
"acs-engine upgrade" caused a service outage each time acs-engine log output showed "Starting ARM Deployment (master.

[2017-11-27 23:28] julienstroheker commented on #1823
I am not unfortunately and I don't know who is.
It is weird this was working when we merged.

[2017-11-28 06:02] benlam62 opened #1835 "kubectl command does not work to manage K8S cluster deployed in Azure China"
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

**What version of acs-engine?**:

0.9.4

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
On Windows 10 command prompt, I cannot run the kubectl on K8s cluster deployed via acs-engine on Azure China with error "Unable to connect to the server: dial tcp 42

[2017-11-28 09:09] andyzhangx commented on #1647
@fengli858 what's your error info? The warning info of windows node is a potential issue, but would not lead to pod running error. One possible issue is that from acs-engine v0.9.2, it's using a new Windows OS called 1709, you should use conatiner image tag with 1709 keyword, otherwise the container could not run on OS, below is an example:
https://github.com/andyzhangx/Demo/tree/master/windows/ba

[2017-11-28 09:15] andyzhangx commented on #658
it's due to cadivisor does not work well no Windows node, see:
https://github.com/kubernetes/kubernetes/blob/release-1.7/pkg/kubelet/images/image_gc_manager.go#L261

[2017-11-28 09:19] andyzhangx commented on #1835
Did you try run "kubectl get nodes" on k8s master? Never tried kubectl on Windows, while I don't think it's related to azure china.

[2017-11-28 09:42] andyzhangx commented on #658
k8s v1.8.2 does not have this issue any more:
[code]

[2017-11-28 10:34] benlam62 commented on #1835
I find that the master VM extension cse0 provisioning failed. Any hint?

[2017-11-28 10:37] benlam62 commented on #1835
The provisioning works fine in Azure International.

[2017-11-28 11:03] benlam62 commented on #1835
When I ssh to the k8s master VM hosted in Azure China and run "sudo journalctl -u kubelet", the following messages are listed:
Nov 28 05:50:35 k8s-master-62207847-0 systemd[1]: Started Kubelet.
Nov 28 05:50:35 k8s-master-62207847-0 docker[3188]: Unable to find image 'gcrio.azureedge.net/google_containers/hyperkubNov 28 05:50:51 k8s-master-62207847-0 docker[3188]: /usr/bin/docker: Error response fr

[2017-11-28 11:33] andyzhangx commented on #1835
that's the issue here, you are using `gcrio.azureedge.net` to pull image, and in mooncake, it would fail.
I would suggest following this guide to deploy k8s cluster by acs-engine:
https://github.com/Azure/devops-sample-solution-for-azure-china/blob/master-dev/acs-engine/README.md

In which it would use `crproxy.trafficmanager.net:6000/google_containers/hyperkube-amd64` to pull the image, you could

[2017-11-28 12:56] chweidling commented on #1645
This issue is fixed. I tested it with the master branch from 2017-11-17 (1e0c402ec5321581514bcf1f70ce0b8379ca64db).

The issue can be closed.

[2017-11-28 13:10] benlam62 commented on #1835
Yes, it works now. Thanks.

[2017-11-28 13:10] #1835 closed

[2017-11-28 13:37] andyzhangx commented on #450
@ITler it was fixed already, someone could close it?

[2017-11-28 13:38] andyzhangx commented on #1261
it was fixed in current version, someone could close it?

[2017-11-28 13:40] nakahparis opened #1836 "acs-engine needs at least 9 bits for custom VNET"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.9.3
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
I tried to deploy a Kubernetes cluster on a custom VNET within a /24 subnet. However, during validation I received the follwoing error : "must reserve at lea

[2017-11-28 13:42] ITler commented on #450
I didn't create this issue, so I didn't close. However, for me this works.

[2017-11-28 13:43] ITler commented on #450
@andyzhangx I didn't create this issue, so I didn't close. However, for me this works.
@colemickens is this working for you as well? Might close the issue if it does.

[2017-11-28 13:49] micli commented on #1261
OK, I closed it.

[2017-11-28 13:49] #1261 closed

[2017-11-28 14:19] aku105 commented on #1827
Hi @jackfrancis, we have an older fork on which we had done above mentioned changes for DNS service resilience. I didn't consult the latest in acs-engine before raising the issue, so some of the points in my original ticket were incorrect/outdated.

I haven't yet created a new cluster from acs-engine master (or latest release), but, I just checked https://github.com/Azure/acs-engine/blob/master/pa

[2017-11-28 14:35] aku105 commented on #1831
This might be what you are looking for: https://kubernetes.io/docs/concepts/services-networking/service/#internal-load-balancer
you will just need to add an annotation on the `LoadBalancer` service.

[2017-11-28 14:48] 0x7f commented on #1831
Awesome, exactly what I was looking for. Works as expected. Thank you very much.

[2017-11-28 14:48] #1831 closed

[2017-11-28 16:36] jackfrancis commented on #1827
Thanks for updating! Do you have a working implementation of the following in your clusters?

- Configure an autoscaler on DNS pods, so that deployment can scale up under load.
- Make the DNS pods' QOS guaranteed.

[2017-11-28 17:19] aku105 commented on #1827
Yes, we are working on creating a pull request, but might be delayed as we had not created any tests on the fork, so we'll have to write and validate the tests first. (I'm guessing a PR without tests isn't acceptable).

[2017-11-28 17:22] jackfrancis commented on #1827
We ask for unit tests for any additive functions (or changes to existing functions), but we're more permissive about higher order testing validations (i.e., E2E). I would definitely encourage a work-in-progress PR if you have something working, and we can figure things out in that thread.

Thanks again!

[2017-11-28 18:14] jackfrancis commented on #1836
I would assume this is due to the fact that restricting a cluster to ~250 IP addresses is an edge case that we can't currently manage, and don't want customers to get themselves into: a cluster that needs to scale, but has no more IPs to allocate to nodes.

@JackQuincy @anhowe was that the thinking behind requiring a network with 2^9-ish allocatable IPs for a cluster? Are we willing to revisit thi

[2017-11-28 18:45] #1736 closed

[2017-11-28 18:49] jackfrancis opened #1840 "Kubernetes v1.8.4 support"
https://github.com/kubernetes/kubernetes/releases/tag/v1.8.4

[2017-11-28 18:50] jackfrancis opened #1841 "Kubernetes v1.6.13 support"
See:

https://github.com/kubernetes/kubernetes/releases/tag/v1.6.13

[2017-11-28 23:10] nakahparis commented on #1836
Just to precise that I'm not using any network policy, so VNET IP's are for nodes only. Thus I don't think that clusters with less thant 250 nodes is an edge case

[2017-11-28 23:30] CecileRobertMichon commented on #1840
@jackfrancis looks like we missed 1.8.3, should I add it too while I'm at it?

[2017-11-29 00:20] CecileRobertMichon commented on #1840
Also 1.7.11 just got released

[2017-11-29 01:27] jackfrancis commented on #1840
Since we missed the window when v1.8.3 was latest 1.8, we don't have to retroactively add it in acs-engine.

[2017-11-29 05:13] andyzhangx commented on #1594
@amkumar1989 since v1.8.3 has fixed this issue, could you close it?

[2017-11-29 07:07] #1594 closed

[2017-11-29 08:22] DonMartin76 commented on #1821
Sounds like a similar issue like the ones we have/have had on North Europe since a couple of weeks. Or does this **always** occur, or just sometimes?

[2017-11-29 10:30] oleborne commented on #1611
I've looked into this topic and I found the following: the token issued to Kubectl by AAD using Azure authentication plugin does not contain any group information. So while the master is properly configured, it cannot leverage information it does not have access too.

So the limitation is not in ACS-Engine configuration of the masters but in kubectl azure authentication plugin.

I've tried adding

[2017-11-29 11:45] andyzhangx commented on #1484
@theobolo have you tried that, is it ok to close it?

[2017-11-29 11:52] andyzhangx commented on #1307
This sounds reasonable, only one command in the agent VM setup would work:
[code]

[2017-11-29 11:57] andyzhangx commented on #543
`emptyDir` would use directory under `/var/lib/kubelet`, it cannot use ephemeral disk, `hostpath` could do that

[2017-11-29 13:58] dcieslak19973 opened #1847 "Active Directory / Kerberos user impersonation"
**Is this a request for help?**: YES. Requesting help.

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): FEATURE REQUEST (possibly)

---

**What version of acs-engine?**: Master

---

I have a REST API that hits a back-end SQL Server using Integrated Authentication. The REST API runs under IIS as a specific user that has proper Kerberos Delegation authority. I'd like to see if I can con

[2017-11-29 15:28] edevil commented on #1791
Does azure CNI support the NetworkPolicy functionality (controlling ingress and egress to containers via k8s configuration) ?

I have setup an ACS cluster with the azure CNI but NetworkPolicy objects seem to have no effect. Are we supposed to use Calico for this? Do they work well together?

[2017-11-29 16:14] jonathansd1 commented on #1012
Adding the K8s Master Route Table to the Subnet to which I've deployed fixed this issue. I'm surprised that even thru the Azure CLI this isn't automatically done for you. I really feel like this is another example of Microsoft/Azure dropping the ball. Nonetheless, thanks to the creator of this issue for leading me to the solution.

[2017-11-29 17:04] dtzar commented on #1791
@edevil Azure CNI does not support NetworkPolicy today, but does help make routing easier.  Unfortunately you can't use more than one CNI network plugin: https://kubernetes.io/docs/concepts/cluster-administration/network-plugins/#cni
If you need the K8s NetworkPolicy, then you should use the Calico CNI plugin.

[2017-11-29 17:32] snebel29 commented on #1307
Hi,
This is just In case this is useful for some one, I arrived to this thread because i was having space issues into my cluster due to containers and overlay.

So I did a quick test by creating the suggested above symlink before running the agents provisioning scripts, like this

[code]
At first glance seemed to work fine, all docker stuff went to `/mnt` but then realize pods were unable to prope

[2017-11-29 18:02] edevil commented on #1791
@dtzar thank you for the explanation!

[2017-11-29 21:01] jackfrancis opened #1849 "add prometheus to k8s E2E"
See the introduction of a prometheus extension here:

https://github.com/Azure/acs-engine/pull/1837

Let's explore adding this to all of our E2E clusters. We don't want to add noticeable overhead to test run times, so if we can include the extension without degrading E2E responsiveness, let's add some validation that verifies basic prometheus/grafana behavior on a cluster post-deployment.

[2017-11-29 21:03] jackfrancis opened #1850 "Document k8s extensions vs k8s addons"
Add some clarifying documentation to distinguish between addons and extensions so we can better empower best future re-use of both of these interfaces.

[2017-11-29 21:41] bq1756 commented on #1834
As an experiment, I moved the kube-controller-manager to master-2 before running "acs-engine upgrade".  This action does not prevent the outages during the upgrade of each master node.

Does anybody have an opinion about why deleting and/or creating 1 of 3 master nodes would cause an outage on all pods across all agent nodes?

[2017-11-29 22:25] dtzar commented on #1834
Looks like this could be due to a bug fixed in Calico.  See "A new node controller for Kubernetes deployments clears data associated with deleted nodes from the Calico datastore, preventing conflicts that can lead to crash loops." Fixed in this release: https://github.com/projectcalico/calico/releases/tag/v2.6.3

[2017-11-29 23:28] dtzar commented on #1834
@bq1756 Can you create a cluster with an updated binary from code I have up in the calico263 branch and see if this fixes your problem?

[2017-11-29 23:38] ams0 commented on #1611
Indeed, from discussions I had on #sig-auth I understood that not always the token returns group information. The problem is exacerbated for users with membership in 200+ groups; in that case the token will return a link to the Graph API that will be needed to be followed to retrieve full group information. I'll keep an eye on the evolution of this, as it's a badly needed feature.

[2017-11-30 00:27] #1506 closed

[2017-11-30 17:20] #1834 closed

[2017-11-30 19:45] djsly opened #1861 "KUBE_CTRL_MGR_NODE_MONITOR_GRACE_PERIOD usage ?"
**Is this a request for help?**:
Question
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
---

**What version of acs-engine?**:
master
---

Hello Acs-engine folks

https://github.com/Azure/acs-engine/blob/master/parts/kubernetesagentcustomdata.yml#L116-L119
GitHub

I cannot see where the three last ENVs are used. they look like they are added the `/etc/default/kubelet` but I do not see

[2017-12-01 01:13] amanohar opened #1865 "docker daemon version out of date"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
All
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
All

**What happened**:
Docker engine version in ACS Engine is pinned to:
    "dockerEngineVersion": "1.12.*"

**What you expected to happen**:
ACS Engine should be updated to newer docker

[2017-12-01 01:29] #1836 closed

[2017-12-01 11:42] bramvdklinkenberg opened #1867 "Deployment failed: "code": "PrivateIPAddressIsAllocated""
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: Version: v0.9.4

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes v1.7.7

**What happened**:
When trying to deploy a k8s cluster I get the error:

Deployment failed. Correlation ID: 750a63f1-84f4-423f-851c-a72b5edbec69. {
  "erro

[2017-12-01 15:49] rakeshkulkarni6 commented on #1012
I have the same issu.. where my kube-dns and kube-dashboard  pods are in crashloopbackoff state
which is causing pods are not reachable with nslookup <servicename>.default.svc.cluster.local.
I f i describe the pods it says pod is failed to list $v1.service and *v1.endpoints and waiting foir apiserver to intialize. can anyone please help me .

[2017-12-01 16:06] raulfiru commented on #450
@colemickens as far as i remember we're using it since some time. @Dutzu you confirm?

[2017-12-01 17:44] JunSun17 opened #1869 "Organize templates and improve Cloud-Init steps"
**Is this a request for help?**:

--- No

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

--- FEATURE REQUEST

**What version of acs-engine?**:

--- Current version

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes

**What happened**:

Currently ACS Engine will gzip templates and some scripts data and put it into the cloud config file kubernetesmastercustomdata.yml

[2017-12-01 18:25] #1840 closed

[2017-12-01 18:36] csubj opened #1870 "Add Custom NSG rules to template"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE

---

**What version of acs-engine?**:
ALL
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
ALL

**What you expected to happen**:
When the template is used for generating the resource/deployment files a master NSG is created with some default securitygroup rules; as it is there

[2017-12-01 18:53] tamilmani1989 commented on #1806
@jackfrancis @JackQuincy Even I have faced this issue before and when I change the location and redeploy it worked.  This issue is not consistent and its not happening all time.

[2017-12-01 19:07] #1826 closed

[2017-12-01 19:24] tamilmani1989 commented on #1867
@bramvdklinkenberg We need subnets that are atleast /23 or more (if more agents are needed). The problem here is by default each node (including master) needs 30 addresses for pods. So the subnet space(64 addresses) you have created won't be enough for 6 nodes (3 agents and 3 masters).  The ip address 10.40.12.198  is allocated to one of agent nodes and there are no free addresses to assign to mas

[2017-12-01 19:29] tamilmani1989 commented on #1867
@bramvdklinkenberg Also specify "vnetCidr" in master profile. This is vnet address space you have created.
eg: "masterProfile": {
       "vnetCidr":"10.0.0.0/8"
      }

[2017-12-01 19:37] jonathansd1 commented on #1012
@rakeshkulkarni6 (and anyone else who comes across this issue)

If you had read the thread, you would have found the answer, but I've provided it for you here.
[code]

[2017-12-01 20:20] rasquill commented on #1865
+1, as they say. This really torques things out of whack to have one this old.

[2017-12-01 20:52] jackfrancis commented on #1806
@IvanCaro Do you agree this is an indeterminate, ephemeral issue and we should close this?

[2017-12-01 22:56] #1841 closed

[2017-12-01 22:59] jackfrancis opened #1872 "configurable docker-engine version for Kubernetes"
- enforce docker-engine version whitelist for each version of kubernetes
- expose interface for optional configurable docker-engine version, subject to above whitelist validation
- sane docker-engine version defaults for each version of kubernetes

[2017-12-01 23:01] jackfrancis commented on #1872
Stated support for K8S + Docker is as follows:

1.7 => Docker 1.10.3, 1.11.2, 1.12.6 https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.7.md#external-dependency-version-information
1.8 => Docker 1.13.1 and 17.03.2 https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.8.md#external-dependencies
1.9 => Nothing declared yet

[2017-12-01 23:17] jackfrancis commented on #1872
@slack @amanohar This is our current docker-engine dependency strategy to enforce versioning:

[code]

Do we want to continue using this approach, or do we want to invoke `apt-get` with an explicit version string?

[2017-12-02 21:25] JMesser81 commented on #1680
We do not recommend that you disable DNSCache. There are a few potential things at work here:
1) Windows DNS Client caches both positive (and negative) responses to name resolution requests
2) When container (or service) names are created (and scaled) through Docker, Docker Engine on Windows registers these names with corresponding IP addresses in a DNS Server owned by Docker. Containers therefore

[2017-12-03 11:31] sheerun commented on #1307
Yes, please...

[2017-12-03 12:30] sheerun commented on #1307
I tried the same thing as @snebel29 but by adding `-g /mnt/docker` flag in `/etc/systemd/system/docker.service.d/exec_start.conf`, and I've got the same errors in pods:

[code]

[2017-12-03 12:43] sheerun commented on #1307
It seems I fixed it by doing `sudo cp /etc/resolv.conf /etc/resolf.conf`. Seriously guys, what a typo. I did a grep on while system but it didn't find anything.

[2017-12-03 13:22] sheerun commented on #1307
It seems it's just error message typo and seems to be happening because following commit is on ACS production: https://github.com/kubernetes/kubernetes/pull/43368/files

Also it turned out `sudo cp /etc/resolv.conf /etc/resolf.conf` didn't fix it. I'm still getting  ResolvConfPath \"/mnt/docker/containers/ec149c9b9ee41438742704bd7cd00f15ed06ed1375ac37676b1ba6f35ec4750e/resolv.conf\" does not exist

[2017-12-04 07:22] bramvdklinkenberg commented on #1867
@tamilmani1989 dat are big subnets then.... gonna check later today if this fixes the issue :).

[2017-12-04 16:47] djsly commented on #1861
Found it.

https://github.com/Azure/acs-engine/blob/master/parts/kubernetesmaster-kube-controller-manager.yaml#L30-L32

[2017-12-04 16:47] #1861 closed

[2017-12-04 17:45] JiangtianLi commented on #1767
I am working on the fix here: https://github.com/Azure/acs-engine/pull/1810

cc @madhanrm @dineshgovindasamy FYI

[2017-12-04 22:02] brobichaud commented on #1680
Thanks for the insight @JMesser81. I have tried the registry key changes you mention and they do make things much better, but don't solve the problem. Whereas stopping the dnscache service does completely resolve it. But given the harsh warnings I've heard from almost everyone I've talked to I would never go to production with that change, which is why this one is so frustrating, I have no real so

[2017-12-05 00:22] JMesser81 commented on #1680
Hmm... could you please try and capture logs/traces for us to analyze what's going on? From an elevated command prompt, please do the following:
•	netsh trace start scenario=InternetClient_dbg capture=yes maxSize=1024
•	<repro>
•	netsh trace stop

share the *.cab/etl file which is generated with our team.

[2017-12-05 00:22] JMesser81 commented on #1680
Please repro the problem in between the two netsh commands.

[2017-12-05 04:49] yuedai opened #1881 "Pod has no outbound connection on 0.9.4 + RS3 Windows"
**Is this a request for help?**:
yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
0.9.4
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
I use 0.9.4 to provision a windows cluster, with RS3 windows. I created a deployment and the pod could be started successfully. But out-going call are all

[2017-12-05 08:20] karataliu opened #1882 "ubuntu 16.04 agent node fails to mount NFS volume with Kubernetes v1.9.0-beta.1"
Since Kubernetes v1.9.0 is pre-release now, this is to track the potential issue here.

**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When testing NFS volume support, just found it would fail with k8s v1.9.0-beta.1. It could run well in v1.8.0 and v1.9.0-beta.0.

Run examples in https://github.com/kubernetes-incubator/nfs-provisioner, use 'demo/nfs-busybox-rc.yaml' as

[2017-12-05 15:15] aku105 opened #1883 "Master nodes are not cordoned by default"
**Is this a request for help?**:
No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

---

**What version of acs-engine?**:
v0.9.4

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes (v1.8.2)

**What happened**:
After deploying a new cluster, master nodes were not cordoned by default, meaning any pod could be scheduled on master nodes.

**What you expect

[2017-12-06 01:35] UncleTawnos opened #1891 "Kubernetes hypekube do not start with Azure integrated networking enabled"
**Is this a request for help?**:
yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
master, built from commit 5f66c3266d535b14e24f98cac628ed24d2e9ebd1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.8

**What happened**:
Cluster deployed correctly, however there is no contact with apiserver. After loging to mas

[2017-12-06 10:19] carlpett opened #1892 "Default ACS Kubernetes setup has broken Helm due to missing role"
**Is this a request for help?**:
No

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue

**What version of acs-engine?**:
Whatever Azure uses internally?

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.7.7

**What happened**:
The pre-installed Helm cannot perform deployments which for example creates new namespaces.

To see why, create new cluster. Run `kubectl

[2017-12-06 19:01] jackfrancis commented on #1881
@JiangtianLi is does this issue overlap with work in https://github.com/Azure/acs-engine/pull/1810?

Or does it appear to be a transient issue where a cluster had no outbound access?

[2017-12-06 19:04] JiangtianLi commented on #1881
@yuedai What does `Resolve-DnsName www.bing.com` output in your container?

@jackfrancis This is a known random issue with Windows DNS and has been serviced to windows update.

[2017-12-06 19:07] yuedai commented on #1881
It's timeout. The Dns server (10.0.0.10) is not reachable. On another 2016 cluster (from 0.8.0 acs-engine) it works fine.

[2017-12-06 19:26] JiangtianLi commented on #1881
@yuedai Does the output from `Resolve-DnsName` say "No DNS servers configured for local system"? If so, it is the local DNS config issue, not the no response from DNS server issue. And it has been fixed in Windows. Will update when the fix is in acs-engine deployment.

[2017-12-06 19:33] yuedai commented on #1881
I think there is Dns configuration, but it’s just not reachable. I also tried to use kubectl exec to open a console and tried nslookup www.bing.com<http://www.bing.com>. The tool just returned a set of timeout. Also tracert 10.0.0.10 from the console failed as well.

Is this a known issue?

From: Jiangtian Li [mailto:notifications@github.com]
Sent: 2017年12月6日 11:27
To: Azure/acs-engine <acs-engine

[2017-12-06 19:36] JiangtianLi commented on #1881
@yuedai Although DNS server shows up in `ipconfig /all` inside windows container, there is a race condition to make the config actually failed. So if you use Resolve-DnsName and see "No DNS servers configured for local system" message, that'll confirm it.

[2017-12-06 19:36] jackfrancis commented on #1882
Hi @karataliu, could you help shape this PR into a workable form for building v1.9.0-beta.1 clusters?

https://github.com/Azure/acs-engine/pull/1893

Especially, check out the image references in the new version struct, does that correlate to the component versions of everything you're using to produce a working cluster?

Thanks!

[2017-12-06 20:22] jackfrancis commented on #1883
This is by design. See:

https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/

The only pods that should be scheduleable on the master nodes (with `"registerWithTaints": "node-role.kubernetes.io/master=true:NoSchedule"` set) are pods that have a toleration for `NoSchedule`.

Are you seeing behavior that suggests the taint isn't working as designed?

[2017-12-06 20:28] jackfrancis commented on #1891
Hi @UncleTawnos. In order to generate a rational SNAT rule, you need to build a cluster with an api model that has a`vnetCidr` property in the `masterProfile` configuration object whose value is a CIDR block that corresponds with the useable address space in your VNET. E.g.:

[code]

(I don't know what the address space in your VNET is, so `"172.16.0.0/16"` is a hypothetical.)

That value will get

[2017-12-06 20:28] #1891 closed

[2017-12-06 21:12] jackfrancis commented on #1892
Just built a new cluster w/ acs-engine (wanna see if this is an issue in acs-engine):

[code]

Does that match your experience as well?

[2017-12-06 22:14] UncleTawnos commented on #1891
It's little bit hard to understand, my networking is
[code]
I've added `"vnetCidr": "172.16.0.0/16"` and cluster seems to be running, and containers are being created in desired network:
[code]
However, services arent:

`kubectl --namespace test get services`
[code]

where this 10.0.38.106 comes from?

[2017-12-06 22:43] #1791 closed

[2017-12-06 22:43] #1815 closed

[2017-12-06 23:12] jackfrancis commented on #1891
I don't know the answer to that particular question. What is the address space (or spaces) of your VNETs? We want to make sure that 172.16.0.0/16 is the correct value for `vnetCidr`

[2017-12-07 02:01] datamesh-oss opened #1894 "Azure China Cloud deploy failure: etcd cluster is unavailable or misconfigured"
**Is this a request for help?**:
Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

---

**What version of acs-engine?**:
0.10.0

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 0.8.4

**What happened**:
API server exits with log:
[code]

**What you expected to happen**:
Deploy Succeeded with no error.

**How to reproduce it** (as minimally and pre

[2017-12-07 06:34] bigmyx opened #1895 "Prevent Creation of Public IP for Master VM when connected to Custom VNET"
---

FEATURE REQUEST

---
The Master VM is connected to a custom VNET, thus does not need to be exposed to Internet.
According to [Slack channel conversation](https://kubernetes.slack.com/archives/C5HJXTT9Q/p1512628098000240), need to introduce a new variable that stops it from creating `Microsoft.Network/publicIPAddresses/`

**Orchestrator and version**
Kubernetes 1.8

[2017-12-07 06:51] martell commented on #1895
My suggested fix.

Add a variable to "masterProfile" in config for disabling the public ip address that stops `parts/k8s/kubernetesmastervars.t` from creating
[code]

And relevant
[code]

[2017-12-07 08:55] carlpett commented on #1892
@jackfrancis Yep, that's the same!
Maybe I should also note that it is not possible to create the missing role with the client cert that is returned with `az acs kubernetes get-credentials`, because it lacks some permissions. I have to ssh to the master and `sudo kubectl create -f cluster-admin.yaml`.

[2017-12-07 10:23] aku105 commented on #1883
Hi Jack, you are right, this the expected behaviour. Should've done more research before posting.

Just to confirm, we tested it by overloading the cluster with pods and none of them spilled over to masters (and were stuck in pending state instead), so `NoSchedule` taint is working as designed.

[2017-12-07 10:23] #1883 closed

[2017-12-07 13:28] UncleTawnos commented on #1891
@jackfrancis my VNET is `172.168.0.0/16` and there are defined several subnets:
Gateway  | 127.16.0.0/24
k8s-masters | 172.16.1.0/24
k8s-generalpool | 172.16.8.0/23
k8s-computepool | 172.16.10.0/23

gateway subnet has ipsec connections to various on-premise 10.x.x.0/24 networks

[2017-12-07 13:49] ccanizares commented on #979
I know this topic is closed but If anybody lands here this may be helpful ... https://github.com/Azure/acs-engine/blob/487b5688a57c38440a180b2fb239373b6e3ea076/docs/kubernetes/scale.md

[2017-12-07 14:00] andyzhangx commented on #1894
@pengzhisun it's a bug, `etcdDownloadURLBase` value of mooncake template is empty

@datamesh-oss as a workaround, could you fill in the `etcdDownloadURLBase` value by yourself? thanks.

vi _output/dnsPrefix/azuredeploy.parameters.json
[code]

[2017-12-07 14:10] andyzhangx opened #1896 "extension to install software on k8s cluster"
**Is this a request for help?**:
I would like to use acs-engine to set up a k8s cluster, after set up, every node should have installed specified packages, is that possible to use acs-engine extension now?
More over, does it also support Windows node now?

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE
---

**What version of acs-engine?**:

---

**Orchestrator and version (e.g

[2017-12-07 14:51] andyzhangx commented on #1896
@jackfrancis

[2017-12-07 16:38] jackfrancis commented on #1883
Great to hear, thanks for reporting back!

[2017-12-07 20:21] tuwid commented on #1611
yeah its a blocker for many environments sadly..

[2017-12-07 23:09] JunSun17 commented on #1159
Confirmed the language expression length limit has been bumped from 24576 to 81920:

I also tested deployment with the inputs specified in lachie83's and mikhail-manuilov's comments and can not reproduce this issue.

[2017-12-08 01:51] karataliu commented on #1333
Verified this works with v1.8, addressed by https://github.com/Azure/acs-engine/pull/1150

[2017-12-08 05:50] karataliu commented on #1895
Related:
https://github.com/Azure/acs-engine/issues/221
https://github.com/Azure/acs-engine/pull/674

[2017-12-08 07:44] TaChao commented on #1172
+1

[2017-12-08 09:43] neilortoo commented on #558
Is there any update on this issue?  We're hitting exactly this problem where DNS seems to just go after a period and then that status sticks until the pod is restarted.

[2017-12-08 09:48] ekarlso commented on #863
Same problem here too.

[2017-12-08 10:13] pengzhisun commented on #1894
@andyzhangx Thanks, have fixed this bug.
@datamesh-oss you could also use the release v0.9.4, it should be worked for Azure China Cloud.

[2017-12-08 12:25] sylr opened #1902 "Add subnets to Route Table in Custom VNet context"
**Is this a request for help?**: NO

---

**Is this an ISSUE or FEATURE REQUEST?**:  FEATURE REQUEST

---

**What version of acs-engine?**: HEAD

---

When using custom VNET we need to manually add the subnets to the Route table. It would be nice if it were to be done automatically.

Cheers.

[2017-12-08 13:28] brobichaud commented on #558
I am still experiencing this issue and it's pretty frustrating that nothing has changed since April. I have k8s 1.7.9 clusters experiencing this. I have clusters with server 2016 ltsc and clusters with Server 2016 v1709 both experiencing this.

I have found that turning off the dnscache service works well but this is strongly not advised for production workloads. I have found this technique does n

[2017-12-08 13:35] brobichaud commented on #1680
@JMesser81 I'm running my app on a nanoserver which does seem to support netsh trace. Do you have an alternate option for nanoserver? Note I also don't have powershell as I'm using v1709 nanoservers.

And one further question, in order to pull files off a k8s container it appears I need a supported version of tar on my local Windows machine. Can you advise me on how I get that working? I am seeing

[2017-12-08 14:33] datamesh-oss commented on #1894
@andyzhangx @pengzhisun Thank you guys! It did fix the deploy problem by adding the ```etcdDownloadURLBase ``` . The test cluster is up and running now (acs v0.10.0, k8s v1.8.4):
[code]
I will later upgrade our working cluster. Thanks again!

[2017-12-08 15:40] douglaswaights opened #1903 "nslookup (dns) for windows services fails after stopping vms and restarting a hybrid kubernetes cluster in azure"
Hi!

**Is this a request for help?**:

yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

issue

---

**What version of acs-engine?**:

0.10.0

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
kubernetes version 1.8.4 with acs-engine 0.10

**What happened**:

I have created a hybrid kubernetes cluster with the acs-engine (1 master, 1 linux, 1 windows) and to begin w

[2017-12-08 16:16] JMesser81 commented on #1680
Can you try with a windows server container? Presumably, if this is a system issue it will repro equally on both nano and windows server core base images. If it does not repro with windows server core, it may be related directly to nano container base image but that will then help narrow our investigation.

Thanks

[2017-12-08 16:57] #1894 closed

[2017-12-08 17:53] JiangtianLi commented on #558
@brobichaud As you already know, acs-engine v0.9.2 and after is using Windows 1709 instead of Windows Server 2016. Windows 1709 has a different DNS issue but it has been fixed and should be out in the next Windows update.

[2017-12-08 17:54] JiangtianLi commented on #558
/cc @madhanrm

[2017-12-08 19:18] brobichaud commented on #558
@JiangtianLi is there any chance you could circle back around and update this thread once the v1709 update you mention is being used by new cluster creations? I'd be happy to try my scenario once that is available.

[2017-12-08 19:23] JiangtianLi commented on #558
@brobichaud Sure, will do. Currently the DNS issue is on 1709 is random (due to race condition) and happens only in the first 15 minutes after container starts up. If you still have DNS issue after that, then it should be due to a different root cause and please let us know.

[2017-12-10 19:26] slack opened #1906 "Add dedicated NSGs for master(s) and nodes"
**Is this an ISSUE or FEATURE REQUEST?**: FEATURE

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes

We currently lay down one network security group (NSG) for both masters and nodes. It would be great if the masters and nod infrastructure was placed in a dedicated NSGs so we could apply different access policies.

Use cases:
* restrict access to k8s apis 443 (a k8s service

[2017-12-11 03:49] technicianted opened #1907 "Provisioned Kubernetes agent nodes don't load FlexVolume plugins (and potentially others)"
**Is this a request for help?**:
No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue

---

**What version of acs-engine?**:
0.10.0

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.8.2.

**What happened**:
When deploying a [FlexVolume](https://github.com/kubernetes/community/blob/master/contributors/devel/flexvolume.md) plugin either manually or usin

[2017-12-11 08:59] philipedwards commented on #863
We experienced a major outage with multiple nodes going NotReady at 0900 ACST on Friday December 8. We're being forced to look at abandoning our ACS cluster as it bought our production infrastructure to its knees.

[2017-12-11 09:13] smoerboegen commented on #863
@philipedwards May I ask which version of k8s you are running? We are having the same problems running k8s 1.6.6.

[2017-12-11 10:02] douglaswaights commented on #1903
@jackfrancis @JiangtianLi
Is this related to https://github.com/Azure/acs-engine/issues/1881 do you think?

Any idea how or when this might be resolved? At the moment a hybrid cluster becomes unusable once the VMS are stopped after the initial creation.

[2017-12-11 10:06] philipedwards commented on #863
@smoerboegen We're on 1.5.3. Seeing that you're having similar issues on 1.6.6 and others on 1.7.5 eliminated upgrading K8s as a potential path forward.

[2017-12-11 13:05] vmakhaev opened #1908 "Calico network issue"
**Is this a request for help?**:
this is probably bug in acs-engine/calico configuration
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.10.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Deployed acs-engine/kubernetes/calico/custom vnet.
There is no connectivity between pods, located on d

[2017-12-11 13:10] andyzhangx commented on #1907
Thanks for the info, I also got same issue, provide a fix for this.

[2017-12-11 13:16] andyzhangx commented on #1907
Also provide flexvolume examples here:
https://github.com/andyzhangx/Demo/blob/master/linux/flexvolume
https://github.com/andyzhangx/Demo/blob/master/windows/flexvolume

[2017-12-11 14:05] vmakhaev commented on #1908
Solved by updating route table in subnet. Closing issue.

[2017-12-11 14:05] #1908 closed

[2017-12-11 17:17] JiangtianLi commented on #1903
@douglaswaights Can you help to collect more info? From the windows container:
`Resolve-DnsName www.bing.com`
From the linux container:
`nslookup windows_service_name`
`ping windows_pod_ip`

[2017-12-11 17:39] jackfrancis commented on #1902
@sylr We're in the process of shifting over from kubenet network implementation to native Azure CNI implementation (it's in master right now). Here's an example api model that reflects how to build a cluster with bring your own VNET:

https://github.com/Azure/acs-engine/blob/master/examples/vnet/kubernetesvnet-azure-cni.json

The only difference between Azure CNI and kubenet from an api model conf

[2017-12-11 17:42] #1865 closed

[2017-12-11 17:42] #1872 closed

[2017-12-11 18:34] weinong commented on #472
@anhowe @jackfrancis managed disks have encryption at rest by default. can we close it?

[2017-12-11 18:39] weinong opened #1910 "Documentation of Azure storage encryption option"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Documentation request

---

**What version of acs-engine?**:

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: all

**What happened**:
Please document the encryption options available in acs-engine. Particularly, be orchestrator specific and probably be k8s version specific as 1.7 an

[2017-12-11 18:46] jackfrancis commented on #1910
This is a representative resource declaration for ManagedDisk:

[code]

[2017-12-11 18:56] jackfrancis commented on #1896
This is an example of a recent addition using the "extensions" acs-engine plugin vector:

https://github.com/Azure/acs-engine/pull/1837

[2017-12-11 19:08] #1907 closed

[2017-12-11 20:03] c0dingarchit3ct commented on #1736
I am facing the same issue when using ACS and using helm to deploy Prometheus/Graffana, struggling with both.
Any idea how we can at least do a workaround?

[2017-12-11 20:50] douglaswaights commented on #1903
hi, sure.

I had to create a new cluster though as i removed the old one. The new one created starts up again as expected with the below output.

Name                           Type   TTL   Section    NameHost
----                           ----   ---   -------    --------
www.bing.com                   CNAME  6     Answer     www-bing-com.a-0001.a-msedge.net
www-bing-com.a-0001.a-msedge.n CNAME

[2017-12-11 21:07] JiangtianLi commented on #1903
@douglaswaights The issue appears to be RS3 Windows and kubelet on that Windows node. If you can RDP to windows, can you check `sc query kubelet` and kubelet logs in c:\k? Meanwhile I will try a repro here.

[2017-12-11 21:36] jackfrancis opened #1911 "Enable RBAC + AAD by default"

[2017-12-11 22:10] douglaswaights commented on #1903
can you point me in the direction of how to rdp in? Connect doesnt seem to be available / enabled in the usual manner with a vm running in the portal...

[2017-12-11 22:29] jackfrancis opened #1914 "freshen docker images on aptdocker.azureedge.net"

[2017-12-11 23:21] jackfrancis opened #1915 "E2E validations can't handle flaky responses"
This commit produces an unuseable k8s cluster after a few minutes:

e2772ee7dc3902f746f142ad337de7a41f600e36

The current ginkgo E2E runner, however, manages to validate things just in time, obscuring our view into cluster failure. Let's think about ways to make our validations more resilient against flaky validation responses.

[2017-12-11 23:47] cloudopsguy opened #1916 "Error created Azure master nodes using azure CNI"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
0.10.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.8

**What happened**:
When trying to deploy for a small Azure based docker config something strange is occurring with master nodes network interfaces.
The errors I am encoun

[2017-12-12 01:04] anhowe opened #1917 "Option to disable cloud provider on kubelet"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Feature Request

---

Summary: When creating large clusters that do not use PV's, it can be beneficial to reduce ARM QoS load from the Agent kubelets.  The option here would disable the cloud provider on the agent kubelets.

[2017-12-12 01:33] brobichaud commented on #1680
@JMesser81 hmm, easier said than done. My app is a DotNet Core 2.0 app and there is no prebuilt windowservercore container with DotNet Core 2.x on it. I'm in the process of migrating the code backwards to DotNet 4.7.1 so I can easily run on windowsservercore.

In the meantime though I have attached to a servercore container and find that if I run this command as requested:

netsh trace start scena

[2017-12-12 02:04] khenidak commented on #747
@andyzhangx I will add this to our planning. Can you file it as an issue in upstream?

[2017-12-12 02:07] andyzhangx commented on #1736
@c0dingarchit3ct here is the workaround:
For setting default storage class, you should first edit following file:
[code]
Move the following config to the storage class where you want:
[code]
After about 2 min, the default storage class will be changed automatically.

[2017-12-12 02:45] andyzhangx commented on #747
see: https://github.com/kubernetes/kubernetes/issues/57070
@khenidak it depends on azure key vault work, right?

[2017-12-12 03:29] andyzhangx commented on #1736
BTW, with acs-engine v0.10.0 or above, the default storage class will be consistent with what your k8s cluster type, e.g. the default will be managed storage class if you create a managed k8s cluster.

[2017-12-12 05:15] andyzhangx commented on #1910
is there any upstream work for azure disk?

[2017-12-12 05:16] weinong commented on #1910
@khenidak would be able to comment on upstream related work.

[2017-12-12 05:39] weinong commented on #1910
I did some investigation, here is my findings:

1. acs-engine k8s supports encrypted OS disks through Managed Disk
1. acs-engine k8s does not support encryption on pre-attached data disk
1. k8s PV and PVC do not support encryption

@jackfrancis @anhowe I suggest to add work item to enable 2.

[2017-12-12 05:41] weinong commented on #1910
I can create a PR to document my findings tomorrow.

[2017-12-12 06:06] MorrisLaw commented on #1914
I would like to start contributing. Can I take this issue?

[2017-12-12 09:00] sblyk opened #1918 "unable to use azure disk in StatefulSet since /dev/sd* changed after detach/attach disk"
**Is this a request for help?**:
yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.9.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes v1.7.9

**What happened**:
We create a storageClass
[code]
then we create statefulset to use it

[code]
At first, we could use this disk normally, but after a period of time,

[2017-12-12 09:48] odauby commented on #1903
@douglaswaights you can establish an RDP connection to your Windows host with a simple ssh tunnel using the master node, here is how:
### Get windows node hostname
`kubectl get nodes`
[code]
write down the name of the windows node

### Establish an ssh tunnel with master node to gain RDP access to the windows node:
From the `kubeconfig.<region>.json` located in your `acs-engine/_output/<cluser>/ku

[2017-12-12 10:25] odauby commented on #1903
@JiangtianLi I have the very same issue as @douglaswaights except that I don't even have to reboot anything. Windows pods are unable to resolve and public or cluster (service) ip.

Here are my outputs:
`sc query kubelet`
[code]

`Kubelet logs`
[kubelet.log](https://github.com/Azure/acs-engine/files/1551107/kubelet.log) (dated 8 Dec 2017)
[kubelet.err.log](https://github.com/Azure/acs-engine/files/

[2017-12-12 10:36] odauby commented on #1903
@JiangtianLi I have the very same issue as @douglaswaights except that I don't even have to reboot anything. Windows pods are unable to resolve any public or cluster (service) ip.
Linux pods in the same cluster don"t have any DNS sresulution issue.

Here are my outputs:
`sc query kubelet`
[code]
And here are my Kubelet logs:
[kubelet.log](https://github.com/Azure/acs-engine/files/1551176/kubelet.l

[2017-12-12 11:17] omerlh opened #1919 "Multizone support?"
**Is this a request for help?**:

No

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Feature Request

**What version of acs-engine?**:

[code]

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes, 1.7

Kubernetes already have support for [multizone](https://kubernetes.io/docs/admin/multiple-zones/) - e.g. deploying cluster over multiple regions in Azure, for high avail

[2017-12-12 13:41] okke-formsma commented on #1012
In case the subnets are in deployed to a different resource group than the kubernetes nodes, use `name` instead of `id` in the first command. Also, execute the az network vnet subnet update for all subnets you use (both for master and worker pools).

    rt=$(az network route-table list -g KUBERNETES_RESOURCEGROUP | jq -r '.[].name')
    az network vnet subnet update -n NAME_SUBNET -g VNET_RESOURC

[2017-12-12 16:55] khenidak commented on #747
No - Encryption is using key vault but does not depend on Kubernetes KMS interfaces. Let us setup sometime to talk about this.

[2017-12-12 17:00] cloudopsguy commented on #1867
I have encountered the same problem and I don't understand how this is related to subnet size. There seems to be a different issue with the master NIC allocation. If noted from above 10.40.12.198 is the IP that is trying to be reused while it is also specified as "firstConsecutiveStaticIP": "10.40.12.198" from the deployment API.

[2017-12-12 19:46] jackfrancis opened #1922 "don't throw away error return values semver.NewVersion"
In lots of places in code, we're currently throwing away the error result from invocations of `semver.NewVersion()`.

Acceptance criteria:

- all instances of `semver.NewVersion` should check the error response (2nd return value), and if non-nil, return it
- some functions that use `semver.NewVersion` will need to be refactored to return an error as an additional return value
- the invocation patt

[2017-12-12 20:19] markgar commented on #1902
Can we use Calico with Azure CNI?  Without some network policy, either from Calico or from Azure ASGs, to me, Azure CNI is a non-starter.

[2017-12-12 21:07] jackfrancis commented on #1914
Hi @MorrisLaw ! We currently use `apt` to install `docker-engine on the cluster hosts, but it appears that our mirror of Docker's apt repo doesn't have the latest CE images. You could verify that Docker has stopped maintaining that repo, and investigate alternative delivery mechanisms for docker-engine onto Ubuntu.

[2017-12-12 21:08] jackfrancis commented on #1914
These are the available docker-engine images on a cluster host:

[code]

Compare CE images to published versions here:

https://docs.docker.com/release-notes/docker-ce/

[2017-12-12 23:04] zqingqing1 commented on #1922
Hi @jackfrancis , checked with Jingtao @rjtsdl , we don't need to handle the error return of semver.NewVersion(), since it won't have any errors. The argument string in the semver.NewVersion(version string) is already validated in the Validate() function in the validate.go file under pkg/api/vlabs. As you see from the below codes, this is validation in the Validate() function. If the version is em

[2017-12-12 23:55] jackfrancis commented on #1916
@sharmasushant Does this look familar?

@cloudopsguy CoreOS capabilitis in acs-engine are pretty alpha at this point, are you able to reproduce this with Ubuntu?

[2017-12-12 23:59] sharmasushant commented on #1916
Most likely subnets do not have enough IPs available to be used.
@cloudopsguy Can you share how large is the subnet?
@tamilmani1989

[2017-12-13 00:14] cloudopsguy commented on #1916
The subnets are small and varied so that may also be an issue however I do not believe it to be related to this issue. In this case my master subnet is a /27 and agent subents are /25.
However after fixing the error on the agent subnet by specifying "ipAddressCount": 7 the errors for the agents subnets vanished and the interfaces were created with the correct number of IP's on those nodes.

The er

[2017-12-13 00:47] tamilmani1989 commented on #1916
The issue here is that the master that is processed first (in this example master-1) will get 10.50.1.5 as the primary ip, and then 30 available ip's as the secondary ip's to be used with PODs (1.4, 1.6, 1.7, and so on). It does not know that 1.4 and 1.6 are to be used with other two masters.

As a result, when master-0 is getting processed, it has 10.50.1.4 as the first ip statically assigned whi

[2017-12-13 01:10] slack commented on #1611
Check out https://github.com/Nike-Inc/harbormaster which should be able to add a `TokenReview` webhook that can call graph to supplement the groups.

[2017-12-13 05:29] andyzhangx commented on #1918
according to your provided logs, `ls` also fail.
Could you follow below standard steps to check:
https://github.com/andyzhangx/Demo/tree/master/linux/azuredisk

If azure disk state really changed from readwrite to readonly in your pod, could you log on the agent node, and check in VM? Thanks.

[2017-12-13 09:07] andyzhangx commented on #1307
@sheerun I got the fix, on every node:
#### 1.
[code]

#### 2.
```sudo vi /etc/systemd/system/kubelet.service```, append following (**this is the key point here**)
[code]

#### 3.
[code]

[2017-12-13 09:10] andyzhangx commented on #543
I got the fix, on every node:
#### 1.
[code]

#### 2.
```sudo vi /etc/systemd/system/kubelet.service```, append following (**this is the key point here**)
[code]

#### 3.
[code]

[2017-12-13 09:26] andyzhangx commented on #1910
@weinong do you have the working template for # 1?

[2017-12-13 10:26] douglaswaights commented on #1903
Thanks a lot @odauby  - very helpful!

@JiangtianLi
Here is sc query kubelet

SERVICE_NAME: kubelet
        TYPE               : 10  WIN32_OWN_PROCESS
        STATE              : 4  RUNNING
                                (STOPPABLE, PAUSABLE, ACCEPTS_SHUTDOWN)
        WIN32_EXIT_CODE    : 0  (0x0)
        SERVICE_EXIT_CODE  : 0  (0x0)
        CHECKPOINT         : 0x0
        WAIT_HINT          :

[2017-12-13 12:07] andyzhangx commented on #747
@khenidak Thanks, I have figured out how to do that in upstream, would try to make it feature in v1.10.0

[2017-12-13 12:29] sylr commented on #1611
Even if we manage to get AAD Groups (either in the token itself or with a subsequent call to the graph API) how would we use them in RBAC ?

Is there a Kind `Group` we can use in the `subjects` list of the `rbac.authorization.k8s.io/v1beta1` object ?

[2017-12-13 12:32] andyzhangx commented on #747
BTW, i have input some design details in https://github.com/kubernetes/kubernetes/issues/57070, feel free to drop some comments here.

[2017-12-13 14:23] mvaldesdeleon commented on #1140
Heads up: AKS creates a new Resource Group for each Cluster, regardless of you specifying a Resource Group for the Cluster itself.

The Public IP needs to be created in this automatically generated Resource Group, not on the one you picked on `az aks create`.

[2017-12-13 16:01] vmakhaev opened #1925 "K8s deploy with certificates from keyvault"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.10.0
---

[code]

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
I'm trying to deploy k8s with self-sign certificates, provided through keyvault.
First problem was that certificate for apiserver should include ip

[2017-12-13 17:56] jackfrancis commented on #1914
Thanks @MorrisLaw !

[2017-12-13 18:02] JiangtianLi commented on #1903
@douglaswaights @odauby It appears that kubelet is running on Windows node. And from the kubelet I didn't see failure to start kubelet. So does the "Not Ready" issue still exist or it is the DNS issue?

For DNS issue, if you run `Resolve-DnsName www.bing.com` inside the POD, does it show error like:
`No DNS servers configured for local system`?
Also if you wait for more than 15 minutes, is the DNS

[2017-12-13 18:41] odauby commented on #1903
Looks like the DNS query times out, and no waiting 15 minutes does not improve the situation on my side.

[code]
[code]
[code]

[2017-12-13 18:46] zqingqing1 commented on #1922
Checked with @rjtsdl and @dmitsh , there is one place needed to be handled error return.

[2017-12-13 20:26] douglaswaights commented on #1903
I've fired up the cluster again and this time all the nodes are in ready state. However i have the same problem with the DNS. Waiting 15 mins does not help.
C:\>ipconfig /all

Windows IP Configuration

   Host Name . . . . . . . . . . . . : iis-1709-1
   Primary Dns Suffix  . . . . . . . :
   Node Type . . . . . . . . . . . . : Hybrid
   IP Routing Enabled. . . . . . . . : No
   WINS Proxy Enabled

[2017-12-13 20:45] brobichaud commented on #1680
@JMesser81 I was able to get my app running in windowsservercore as a DotNet 4.7.1 app and repro'd the problem. The nettrace commands you asked me to try didn't work but I was able to run the logman commands below that created an etl file. I was given these commands by another resources. Attahced is the resulting nettrace.etl file. Please let me know if this is helpful.

logman -ets start -mode 2

[2017-12-13 20:59] JiangtianLi commented on #1903
This looks like a different issue. Does `Test-NetConnection 10.0.0.10 -Port 80` work inside container? What is the output of `Get-HnsEndpoint` and `Get-HNSNetwork` from Windows node?

[2017-12-13 21:18] marcel-dempers commented on #1140
Yeah with AKS it may become a problem where you can't bring your own IP. It be great to be able to maintain a pool of fixed IPs outside of K8 / resource group and its very important for services that rely on being whitelisted by 3rd parties.

[2017-12-13 21:33] douglaswaights commented on #1903
Test-NetConnection fails in the container
WARNING: TCP connect to (10.0.0.10 : 80) failed
WARNING: Ping to 10.0.0.10 failed with status: TimedOut

ComputerName           : 10.0.0.10
RemoteAddress          : 10.0.0.10
RemotePort             : 80
InterfaceAlias         : vEthernet (9fcd829dc8aee649e5d3a0c5800ed17156c2dd4dd65bd308bc5db9ae1a723412_l2bridge)
SourceAddress          : 10.244.2.195
PingSu

[2017-12-14 00:59] #1922 closed

[2017-12-14 04:14] cloudopsguy commented on #1916
Moving to the upper end of the network seemed to fix the problem. It seems that the pools tend to start from the bottom of the subnet and work their way up so moving up 17 from the bottom fixed the problem since 3 nodes with 5 IPs each only needed 15.

[2017-12-14 04:14] #1916 closed

[2017-12-14 04:57] slack opened #1930 "Separate network policy and IPAM"
It would be nice to separate network policy from ip address management (IPAM). Currently they are overloaded with `networkpolicy` in the cluster definition.

|IPAM|Policy|
|---|---|
|azure-vnet-ipam|NA|
|host-local|calico|
|azure-vnet-ipam|calico|

[2017-12-14 10:00] vmakhaev commented on #1925
Solved. Appeared, that certificates should have CN=client, O=system:masters and load balancer ip address.

[2017-12-14 10:00] #1925 closed

[2017-12-14 10:39] LaneEnglot opened #1931 "ARN template for os disk encryption."
**Is this a request for help?**:
Yes!!! Definitely!
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Feature Request
---

**What version of acs-engine?**:
v. 0.9.3 and v.0.1.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
I attempted to use a power-shell script to run a deployment inside another deployment and it failed. I also tried se

[2017-12-14 10:43] LaneEnglot commented on #1931
the acs engine template I am using...
[ac-eng-k8s.txt](https://github.com/Azure/acs-engine/files/1558834/ac-eng-k8s.txt)

[2017-12-14 12:31] antoineco commented on #1205
I just ran into the same issue, but with managed disks on a VM with blob based disks.

[code]

This started happening to me this week, with clusters provisioned from the `az` command-line tool.
PVC suddenly became unusable on Azure.

#### Environment

[code]

#### Storage class (default)

[code]

#### Persistent volume claim

[code]

#### Full error log

[code]

[2017-12-14 12:51] andyzhangx commented on #1205
From acs-engine v0.10.0, the defualt azure disk storage class would be consistent with agentpool VM, that is if VM is blob based disk VM, the default class will be blob based disk.
Back to your case, there are two options to workaround:
1) change default storage class, `kind: Managed` to `kind: Shared` by
[code]
After about 2 min, `kind` value in default storage class will be changed , you could c

[2017-12-14 12:54] antoineco commented on #1205
@andyzhangx in that case the default Storage Class should be pre-configured accordingly, otherwise ACS is _broken by default_.

[2017-12-14 12:56] andyzhangx commented on #1205
@antoineco with multiple masters, option#2 is a better choice. acs-engine v0.10.0 has fixed this issue.

[2017-12-14 12:57] antoineco commented on #1205
What is the ACS version currently deployed on Azure?

[2017-12-14 16:57] jackfrancis commented on #1416
We plan to move to etcd3 by default after the `v0.11.0` release

[2017-12-14 17:32] jackfrancis commented on #1917
We have some anecdotal success with running clusters that have cloudprovider disabled on agent kubelets only. Let's prove that out and then add the appropriate knobs.

[2017-12-14 22:08] jackfrancis commented on #1931
Hi @LaneEnglot, please track #747 which we're currently working through. Sorry we don't have a working solution just yet!

[2017-12-14 22:08] #1931 closed

[2017-12-14 23:15] odauby commented on #1903
@JiangtianLi Here is my input

**TL;DR I don't think the problem is DNS but TCP and maybe even IP routing !**

- I spawned a fresh Kubernetes 1.8.4 cluster with 1 master, 1 Windows and 1 Linux nodes.
- I instantiated Windows and Linux pods on that cluster. The Windows pods were based on these images:
  - microsoft/windowsservercore:1709
  - microsoft/iis:windowsservercore-1709
- I performed the re

[2017-12-15 00:45] JiangtianLi commented on #1903
@odauby Thanks for the detailed observation. It seems there are two issues. One is resolving unqualified name and the other is reboot VM and therefore kubelet/kubeproxy service disrupt the network. We'll look into it. The default gateway is by design since windows node uses CNI.
/cc @madhanrm

[2017-12-15 05:40] karataliu opened #1936 "Kubernetes Horizontal Pod Autoscaler does not work for v1.8+ cluster"
**Is this a request for help?**:
N/A

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

**What version of acs-engine?**:
v0.10.0

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:

Follow the steps to using HPA(Horizontal Pod Autoscaler):
https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/

It does not work fo

[2017-12-15 09:12] andyzhangx commented on #1205
@antoineco you mean `az aks` right?
This https://github.com/Azure/acs-engine/pull/1817 should be merge into **AKS** repo as well @jackfrancis

[2017-12-15 09:14] antoineco commented on #1205
No, I meant `az acs`.

[2017-12-15 14:06] hmarcelodn opened #1937 "acs-engine ARM Template is not working"
Hello,

I am trying to deploy an ARM Template already deployed with acs-engine and I got the following errors when I placed it into CI/CD.

I am using acs-engine ARM Template generated after using deploy command. v0.5.0.

When I generated this with generate command its working.

Below it my cluster def:

[code]

I cannot re-generate since its a production cluster already working. I just need to ha

[2017-12-15 15:30] DonMartin76 commented on #1699
Had this again today!

[2017-12-15 17:14] jackfrancis commented on #1937
Hi @hmarcelodn, what are you trying to do at a high level? Are you trying to build a new cluster using previously working api model configuration?

[2017-12-15 17:22] jackfrancis opened #1938 "Accelerated Networking"
Tracking ticket for enabling accelerated networking for master/agent hosts. Official docs here:

https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-create-vm-accelerated-networking

[2017-12-15 23:31] hmarcelodn commented on #1937
Hi @jackfrancis ,

I have my cluster generated with acs-engine deploy command. I would like to be able to reuse those ARM files generated in my automated pipeline so I can be able to perform an environment recreation in case of disaster recovery.

Tonight I generated my ARM templates with acs-engine generate command instead. I placed it in my pipeline and I was able to create the same cluster many

[2017-12-16 16:10] bigmyx commented on #1895
Those seem to be opened since a year ago..

[2017-12-17 05:55] sblyk commented on #1918
@andyzhangx Thanks for your help,we use standard examples,and the it works well.But I don't kown why only our disks are unreadable.
we have 3 master nodes and 6 agent masters.we need to create some statefulsets:
statefulset A,B,C,D,E in namespace dev use storageAccount dev
statefulset A,B,C,D,E in namespace sit  use storageAccount sit
statefulset A,B,C,D,E in namespace  uat use storageAccount uat

[2017-12-17 11:00] andyzhangx commented on #1918
@sblyk could you print out `kubectl get pv` to make sure different StatefulSet use different PV, it sounds like two statefulsets are using one PV. Also could you also mark which PV is in trouble(readonly)?

[2017-12-17 11:07] andyzhangx commented on #1918
@sblyk also, you could check whether disks are attached to agent VM in azure portal if you found one disk is readonly, the disk name is in the format like `pvc-1c57b4d2-e010-11e7-ba11-0017fa009264`.
And pls remember azure disk is RWO, which means one azure disk could only be attached to **one** agent

[2017-12-18 05:25] DanielTimLee opened #1944 "`--master-vm-size` seems not working properly."
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
acs (2.0.22)
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
`--master-vm-size` seems not working properly.
It keeps uses `Standard_D2_V2`, even if options are suggested.

Azure/acs-engine#1141
As suggested here

[2017-12-18 05:43] sblyk commented on #1918
@andyzhangx yes, different StatefulSet use different PV.these statefulsets are in different namespaces.
there are some logs
`kubectl get pv`

[code]

[2017-12-18 09:21] andyzhangx commented on #1918
@sblyk when you found disk `1c5fdb37-e010-11e7-ba11-0017fa009264` is unreachable, could you log on the portal, find the VM where your pod is located and check whether that disk is in the VM disk list? and also check that disk status in the storage account. I could not repro on my env.

[2017-12-18 09:54] sblyk commented on #1918
@andyzhangx
the disk is in the VM disk list:
![image](https://user-images.githubusercontent.com/34471376/34099961-f75a72f2-e41b-11e7-8613-941b349a6a59.png)
but it is unreachable
[code]

[2017-12-18 12:18] hmarcelodn commented on #221
Is there any update on this?? We have several projects that needs to be internally accessed too.

[2017-12-18 13:30] andyzhangx commented on #1918
@sblyk thanks for the info. We are close to get the root cause. Pls keep this env for debugging, thanks!
The symblink link is there, while it does not mean the disk is in your agent VM.
Would you provide me info according to below instructions? thanks.
https://github.com/andyzhangx/Demo/blob/master/linux/azuredisk/azuredisk-attachment-debugging.md
My working mail is xiazhang@microsoft.com, you cou

[2017-12-18 21:01] jay-stillman commented on #1767
@JiangtianLi do you have an estimate to when this will be resolved / released? This really is causing us some issues in pushing acs into production

[2017-12-18 21:33] hmarcelodn commented on #1919
I experienced same issue and I did exactly the same than you @omerlh

[2017-12-18 21:43] hmarcelodn commented on #1902
Yes, would be a nice feature. I automated the routing tables by script in my automation pipeline

[2017-12-19 02:51] sblyk commented on #1918
@andyzhangx
Thanks,The following are  messages
**System** : Ubuntu 16.04.3 LTS (GNU/Linux 4.11.0-1016-azure x86_64
 **VM disk list**:
![image](https://user-images.githubusercontent.com/34471376/34137585-b770d8ee-e4a6-11e7-99f3-fa1f14028f33.png)
` df -aTh`

[code]
only **sdg** we can use,the error message when we use other directories:
`ls: reading directory '.': Input/output error`

[code]
[code]

[2017-12-19 03:13] andyzhangx commented on #1918
@sblyk could you also run "fdisk -l" on your agent VM? Thanks.

[2017-12-19 03:25] sblyk commented on #1918
@andyzhangx

[code]

[2017-12-19 03:33] andyzhangx commented on #1918
could you format the disk `/dev/sdk` in VM? you could follow example by:
https://ubuntuforums.org/showthread.php?t=267869
Just to make sure whether those disks are really unreachable. Thanks.

[2017-12-19 03:35] andyzhangx commented on #1918
[code]

and then try to use `/dev/sdk1` by following command:
[code]

[2017-12-19 03:45] andyzhangx commented on #1918
also, could you collect the kubelet logs on agent VM? Thanks.
[code]

[2017-12-19 04:42] sblyk commented on #1918
@andyzhangx  the disk sdk was mounted successfully
[code]
kubelet logs on agent VM：
[e682a2d77826.zip](https://github.com/Azure/acs-engine/files/1570400/e682a2d77826.zip)

[2017-12-19 05:43] andyzhangx commented on #1918
@sblyk one finding:
all unreachable disks are all from storage account: pvc300170136002
[code]
The usable disk(**sdg**) is from storage account: appdatacnuat
[code]

[2017-12-19 05:48] andyzhangx commented on #1918
one possibility is that storage account pvc300170136002 contains too many azure disks, there would be IOPS throttling. Could you check how many azure disks totally are in your pvc300170136002? And the reason why you would use pvc300170136002 is that you did not specify storage account in your azure disk storage class.

[2017-12-19 06:10] sblyk commented on #1918
@andyzhangx  at first we  create some statefulsets like this:
statefulset A,B,C,D,E in namespace dev use storageAccount dev
statefulset A,B,C,D,E in namespace sit use storageAccount sit
statefulset A,B,C,D,E in namespace uat use storageAccount uat
one storageAccount have 5 disk
but the  problem  occurred
then for a test we changed StorageClass of dev from
[code]
to
[code]

[2017-12-19 07:49] andyzhangx commented on #1918
@sblyk In your `df -aTh` command it shows following disks:
`/dev/sdd`, `/dev/sde`, `/dev/sdf`, `/dev/sdg`, `/dev/sdh`
While in your `/sys/bus/scsi/devices`, it shows other disks:
`sdg, sdi, sdk, sdm, sdc`
Could you make sure it's the same VM? If so, that's the issue here

[2017-12-19 07:54] sblyk commented on #1918
@andyzhangx yes I'm sure it's the same VM

[2017-12-19 08:24] andyzhangx commented on #1918
@sblyk  Could you run following command to rescan host scsi (you need to run as root)
[code]

And then check following device:
[code]

[2017-12-19 08:36] sblyk commented on #1918
@andyzhangx  this is the output
[code]

[2017-12-19 08:43] andyzhangx commented on #1918
@sblyk one workaround is reboot your agent which has this issue, just don't know why would your disk `/dev/sdd` would be changed to other dev name. Did you detach/attach disks manually?

[2017-12-19 09:37] sblyk commented on #1918
@andyzhangx not only this agent,we have  6 agents,all have this  issue.
and disk in storageAccount pvc300170136002 is created for test, so we did not detach/attach disks

[2017-12-19 09:38] andyzhangx commented on #1918
@khenidak Did you got such case in the before that /dev/sd* changed to other dev name and k8s just did not detect it? In this case, `/dev/sdd, /dev/sde, /dev/sdf, /dev/sdg, /dev/sdh` changed to `sdg, sdi, sdk, sdm, sdc`.

[2017-12-19 09:41] andyzhangx commented on #1918
@sblyk could you reboot agent to check whether that issue exists any more? Another question, I found LUN 1 is not used in this agent VM? is it the same for other VM? Thanks.

[2017-12-19 10:08] sblyk commented on #1918
@andyzhangx
I've restarted the VM ,and this method is effective
but this problem seems to happen when creating new statefulset(mount disk） and deleting pod ( umount ).

[2017-12-19 11:48] andyzhangx commented on #1918
@sblyk thanks for the check. Could you share the complete statefulset config? I would like to do a deep investigation tomorrow. And pls note that azure disk could only be attached to one VM, there could be problem when migrate one pod from one vm to another vm, since disk detach and attachment would take a few minutes. I would suggest you use azure file instead, it could be mounted in multiple VMs

[2017-12-19 12:20] arwkmd opened #1948 "acs-engine scale down returns error about a problem with certificates"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**:

* 0.10.0
* 0.11.0

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

* Kubernetes: 1.7
* Kubernetes: 1.8

**What happened**:

After executing in bash

[code]

where:

* $agentPoolProfileCount is less than current node count (it was 3 and n

[2017-12-19 16:49] jwalker343 opened #1949 "Hybrid Cluster with Custom Vnet Doesn't seem to work with acs-engine v0.11"
**Is this a request for help?**:

YES

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

---

**What version of acs-engine?**:

0.11.0

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
kubernetes 1.7.9

**What happened**:
I downloaded the latest release of acs-engine and created a hybrid cluster in a custom vnet with the template below. Windows Pods fail to start

[2017-12-19 16:59] jwalker343 commented on #1949
Linux Containers run fine:
[code]

[2017-12-19 19:54] mcops opened #1950 "1.8.5 k8s Upgrade Feature"
**FEATURE REQUEST for acs-engine 0.12.0**

Kubernetes Release 1.8.5 support, because we do need finally the mountOption (file_mode/dir_mode) fix for azurefile volumes!

Thx
Gerald

[2017-12-19 20:13] #1915 closed

[2017-12-19 21:35] jackfrancis commented on #1950
Thanks for the nudge, we're working on it!

[2017-12-19 22:08] tristanstraub commented on #1867
I had a similar problem and found that the commit making "CNI turned on by default" caused many many NIC's to be created, exhausting the subnet IP space. Going back to tag v0.10.0 resolved this issue for me.

[2017-12-19 22:20] sharmasushant commented on #1867
@tristanstraub I am assuming you mean many ipconfig's to be created (and not NICs). This is by design. The containers are now part of the Vnet, and hence need IP addresses from the Vnet.

[2017-12-20 06:09] andyzhangx commented on #1910
There are two kinds of encryption on azure:
1) [Storage Service Encryption(SSE)](https://docs.microsoft.com/en-us/azure/storage/common/storage-service-encryption)
Managed disk has enabled SSE by default, there is nothing we need to do either in acs-engine or k8s upstream.
2) [Azure Disk Encryption for Windows and Linux IaaS VMs](https://docs.microsoft.com/en-us/azure/security/azure-security-disk-e

[2017-12-20 07:11] smoerboegen commented on #863
The same problems also exists in AKS (managed kubernetes) with kubernetes 1.7.

[2017-12-20 07:38] kahoona77 commented on #863
Hi,

we recreated our cluster with ACS-Engine and kubernetes 1.8.2 on November 7th. And since then we had not experienced the problem. I do not know if that anything to do with it, but it is running smooth since then.

[2017-12-20 07:48] ritazh opened #1955 "Run extensions on agent node"
**FEATURE REQUEST**
Demonstrate how to run extensions on agent nodes, specifically when requiring `kubectl` and `kubeconfig`.

PR to follow

CC @tstringer

[2017-12-20 08:48] andyzhangx commented on #1918
@sblyk I have identified this is a bug for azure disk since it's using `/dev/sd*`, and `/dev/sd*` could be changed when detach/attach azure disks. Could you change this issue name to
`unable to use azure disk in StatefulSet since /dev/sd* changed after detach/attach disk`

[2017-12-20 09:00] DonMartin76 commented on #863
We have had some sporadic issues which always recovered by themselves within an hour approximately. It has become a lot better, for unknown reasons. Since two weeks no issues now.

[2017-12-20 09:34] andyzhangx commented on #1918
@sblyk again, thanks for the reporting, I am now working on a fix in k8s upstream.

[2017-12-20 14:42] IvanovOleg opened #1957 "Kubernetes CoreOS failed to start kubelet"
**Is this a request for help?**:
YES
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.11.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.8.4

**What happened**:
Unable to connect to the kubernetes cluster with CoreOS as a distro after deployment. Kubelet can't be started because of the file system permission

[2017-12-20 15:25] IvanovOleg commented on #1957
I've removed the plugins volume line from the kubelet.service and it works.

[2017-12-20 15:49] IvanovOleg commented on #1957
`Dec 20 15:45:19 k8s-agentpool1-39482401-3 docker[1124]: `docker daemon` is not supported on Linux. Please run `dockerd` directly
Dec 20 15:45:19 k8s-agentpool1-39482401-3 systemd[1]: docker.service: Main process exited, code=exited, status=1/FAILURE
Dec 20 15:45:19 k8s-agentpool1-39482401-3 systemd[1]: Failed to start Docker Application Container Engine.
-- Subject: Unit docker.service has failed

[2017-12-20 20:51] jwalker343 commented on #1949
I regressed and used acs-engine version v0.9.1 and I'm at least able to run pods
[code]

[2017-12-20 22:21] philipedwards commented on #863
We suffered another node NotReady issue on December 18th. This time it was a single node failure. The following log is in UTC and I've removed the noise.

Does any of this leap out at anyone?

[2017-12-20 22:25] brendandburns commented on #863
I'm seeing this:

Dec 17 18:55:34 k8s-agent-HOSTNAME-4 docker[39292]: E1217 18:55:34.829591 39321 kubelet_node_status.go:302] Error updating node status, will retry: failed to get node address from cloud provider: instance not found

Which I think means that the node was deleted?

Is that true?

--brendan

________________________________________
From: philipedwards <notifications@github.com>
Sent

[2017-12-20 22:29] philipedwards commented on #863
The node was not deleted from our end, the incident was at 5:30am and no one was working at that time.

Do you suspect that log entry means it was deleted from the Azure side or deleted from the k8s cluster?

[2017-12-20 22:33] philipedwards commented on #863
I also back to the logs from our previous incident where we lost 3 out of 4 nodes.

k8s-agent-B3E1E1AA-1 was the only node to survive the incident, the other entry is from our master node

[2017-12-20 22:47] #1917 closed

[2017-12-20 22:50] brendandburns commented on #863
Deleted on the Azure side.

Can you send me the subscription/resource id of a VM that corresponds to k8s-master-B3E1E1AA-0

I'd like to cross-check with the ARM logs.

Thanks
--brendan

________________________________________
From: philipedwards <notifications@github.com>
Sent: Wednesday, December 20, 2017 2:33 PM
To: Azure/acs-engine
Cc: Brendan Burns; Mention
Subject: Re: [Azure/acs-engine] Rea

[2017-12-20 22:59] brendandburns commented on #863
Ah, I took a deeper look at the code, I think I see the bug...

________________________________________
From: Brendan Burns
Sent: Wednesday, December 20, 2017 2:50 PM
To: philipedwards; Azure/acs-engine; Azure/acs-engine
Cc: Mention
Subject: Re: [Azure/acs-engine] Reason why node is marked as NotReady (#863)

Deleted on the Azure side.

Can you send me the subscription/resource id of a VM that co

[2017-12-20 22:59] brendandburns commented on #863
(it would still be useful to get the resource id...)

________________________________________
From: Brendan Burns
Sent: Wednesday, December 20, 2017 2:59 PM
To: philipedwards; Azure/acs-engine; Azure/acs-engine
Cc: Mention
Subject: Re: [Azure/acs-engine] Reason why node is marked as NotReady (#863)

Ah, I took a deeper look at the code, I think I see the bug...

__________________________________

[2017-12-20 23:06] #1955 closed

[2017-12-20 23:18] philipedwards commented on #863
@brendandburns email sent.

[2017-12-20 23:45] brendandburns commented on #863
Bug fix is here:

https://github.com/kubernetes/kubernetes/pull/57484

Once that's merged we'll pick back to at least 1.8.x

--brendan

________________________________________
From: philipedwards <notifications@github.com>
Sent: Wednesday, December 20, 2017 3:18 PM
To: Azure/acs-engine
Cc: Brendan Burns; Mention
Subject: Re: [Azure/acs-engine] Reason why node is marked as NotReady (#863)

@brenda

[2017-12-21 00:40] philipedwards commented on #863
@brandandburns - were you able to find anything in the logs relating to our last outage? Is it possible to go back to the previous incident and confirm it was the same issue?

I would like to add this detail to our incident reports.

[2017-12-21 05:03] luhkevin commented on #1411
Any updates on this? I would like this as well.

[2017-12-21 15:46] DonMartin76 commented on #863
@brendanburns So, in short, this may be due to an unresponsive Azure API, or API calls to Azure which do not reply the way which is expected? Is it likely that this happens a lot so that it can cause these kinds of outages?

We had periods of 24h+ where this happened on and off. Now this hasn't happened for a while, and the periods are usually shorter than an hour, and the scheduler usually doesn'

[2017-12-21 16:19] brendandburns commented on #863
I don't know exactly what errors would cause the sdk to not return a autorest.DetailedError, but at the very least I would suspect that something in the transport layer (eg http timeout) would return a different error.

I'll follow up with the sdk team to better understand the conditions that would trigger this and follow up on this thread.

But nonetheless, we're pushing to get this cherry picked

[2017-12-21 16:36] dthuilot commented on #1822
Hello,
Someone can confirm that the issue still exist with the v0.11.0 ? I've the issue but I don't know if I'm the only one.

[2017-12-21 19:24] DonMartin76 commented on #863
Happy to hear this. We have been chasing for the cause of these things for over a month now (MS support in Munich and I), and until now we haven't been able to really pin it down. We had it down to something between Kubernetes and the Azure API, but couldn't reproduce, and thus it's difficult to get a real diagnosis on it. REALLY appreciate you pitching in on this, Brendan.

[2017-12-21 19:26] colemickens commented on #863
I'd like to understand this better, if possible. The bugfix makes sense (sorry, that'd be my bug), but I don't yet understand how it manifests itself as "Node NotReady" (though I'd agree it seems too coincidental to not be related).

It looks like the errors above are coming from kubelet failing to get its own node status to self report IPs. I would have assumed that only KCM would actually handle

[2017-12-21 19:31] brendanburns commented on #863
What I believe is happening is this:
   In order to post status, kubelet needs it's IP address
   Lookup of the node fails due to some transient reason, kubelet sees "not
found" and the entire node status update to master is aborted.
   Do this enough times in a row, and the node transitions into NotReady
state.
   If eventually, the transient error fixes itself, and the node starts
posting status

[2017-12-21 21:21] #1911 closed

[2017-12-21 21:45] #681 closed

[2017-12-22 00:13] tamilmani1989 commented on #1948
Even I'm facing the same issue when I did scale down.. @jackfrancis Can you please check whether it happens in latest acs-engine?

[2017-12-22 05:26] andyzhangx commented on #1957
@jackfrancis does our acs-engine support coreos too? I have checked, `In CoreOS the /usr partition is read-only by design`

[2017-12-22 09:49] philipedwards commented on #1944
@DanielTimLee I cant help you with the bug but I can offer you the workaround that I used to modify the virtual machine type of our cluster members.

After creating the cluster using a `az acs create` command:

1. Log into the Azure Portal and navigate to Virtual Machines
2. Select one of your master nodes to navigate to the VM dashboard
3. Use the Size blade menu item on the left

From there you

[2017-12-22 11:56] andyzhangx commented on #1822
This issue is related to service principal permission, and I have also used v0.11.0, it works well

[2017-12-22 18:36] jackfrancis commented on #1822
Closing this as v0.11.0 is reported to work, confirming our E2E tests as well.

[2017-12-22 18:36] #1822 closed

[2017-12-22 19:03] shueybubbles commented on #1902
Is this supposed to be supported by acs-engine 0.11 already? I believe I've edited my json correctly to use my ExpressRoute subnet, but I get this error:
}\\r\\n}\"},{\"code\":\"BadRequest\",\"message\":\"{\\r\\n  \\\"error\\\": {\\r\\n    \\\"code\\\": \\\"SubnetIsFull\\\",\\r\\n    \\\"message\\\": \\\"Subnet
/subscriptions/<subid>/resourceGroups/ERNetwork/providers/Microsoft.Network/virtualNetw

[2017-12-22 19:13] jackfrancis commented on #1902
@markgar @hmarcelodn Azure CNI for IPAM + Calico for network policy is not yet supported, though a native IPAM + network policy solution is in the roadmap.

@shueybubbles Azure CNI + bring your own VNET + a `/27` is not quite an edge case, but it's tricky because the current implementation isn't optimized for smaller networks. Although, you do only have one master, so I suggest you try this, if th

[2017-12-22 22:23] shueybubbles commented on #1902
@jackfrancis your tip made me look more closely at azuredeploy.json. I ended up just deleting a bunch of the ipconfig# values for each VM so there are only 6 network interfaces on each, then manually deployed using the Azure cmdlet. It's up and running, I'll try to run my app later.
thanx

[2017-12-22 22:25] jackfrancis commented on #1902
Great! Please re-open if something fishy is up and watch this space for improvements in the process. :)

[2017-12-22 22:25] #1902 closed

[2017-12-22 22:26] jackfrancis commented on #1416
etcd3 is not the default

[2017-12-22 22:26] #1416 closed

[2017-12-23 02:44] DanielTimLee commented on #1944
Thanks for the tip!

Yeah, Actually right now I'm using it just like this.
Thanks.

[2017-12-23 11:41] gitnik commented on #1354
Any more hints as to how you got this solved @bigmyx ? I'm running into the same problem

[2017-12-25 23:07] theobolo commented on #1484
Oups Sorry i was in vacation ... I gonna try this as soon as possible !

[2017-12-26 08:54] andyzhangx opened #1968 "cannot get stats and metrics from kubelet on Windows in k8s v1.7 & v1.8"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE
---

**What version of acs-engine?**:
all
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
I have checked the code in https://github.com/Azure/kubernetes/tree/acs-v1.8.4-1/pkg/kubelet/winstats, found  that in k8s v1.7 & v1.8, we cannot get stats an

[2017-12-26 12:00] sabbour commented on #1892
Any updates on this issue? Same behavior observed here.

[2017-12-27 19:05] JiangtianLi commented on #1968
@andyzhangx Thanks for checking that. It would be good to backport to 1.7 and 1.8 at Azure/Kubernetes. Then we can bump the windows zip version up in acs-engine.

[2017-12-28 07:45] andyzhangx commented on #1910
After my investigation, I don't think there is k8s upstream work for this feature.
If you have already enabled azure disk encryption on VM, the attached empty disk would be encrypted using the same key vault by default, here are the detailed steps:
https://github.com/andyzhangx/Demo/blob/master/windows/azuredisk/disk-encryption
There should be work in acs-engine to create a k8s cluster with azure

[2017-12-28 09:28] andyzhangx commented on #1968
For 1.8:
https://github.com/Azure/kubernetes/pull/29
https://github.com/Azure/kubernetes/pull/30

I will work on 1.7 next.

BTW, do you know what's https://github.com/Azure/kubernetes/tree/release-1.8/pkg/kubelet/winstats/win directory for? Is there any relationship with winstats? @JiangtianLi

[2017-12-28 12:34] idanshahar opened #1971 "Kubernetes 1.9 support"
When will acs-engine support Kubernetes 1.9?

[2017-12-28 18:43] JiangtianLi commented on #1968
@andyzhangx Thanks, merged. https://github.com/Azure/kubernetes/tree/release-1.8/pkg/kubelet/winstats/win is a workaround for vendoring https://github.com/lxn/win when we backported the metrics work from upstream.

[2017-12-28 18:56] bhope opened #1972 "Cannot scale Windows agent pool (Kubernetes Cluster)"
**Is this a request for help?**:
Yes

**Is this an ISSUE or FEATURE REQUEST?**
 Issue

**What version of acs-engine?**:
v0.11.0

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.7.7

**What happened**

After I deployed a Hybrid Kubernetes cluster with Windows and Linux agent pool,
I tried to scale out the Windows agents pool using the acs-engine scale command.
After execut

[2017-12-29 13:32] mwieczorek commented on #1957
@andyzhangx It was supported before #1909 :)
There's some examples: https://github.com/Azure/acs-engine/tree/master/examples/coreos
Can we change the folder from:
[code]
to
[code]
and pass it to kubelet as parameter:
[code]
instead of using the default?

[2017-12-29 14:09] andyzhangx commented on #1957
@mwieczorek Thanks for the suggestion. Sounds like there is a trade-off if we also want to support coreos, we need to use `/etc/kubernetes/plugins` instead of standard plugin dir `/usr/libexec/kubernetes/kubelet-plugins` for all linux distros, because we use only one
https://github.com/Azure/acs-engine/blob/master/parts/k8s/artifacts/kuberneteskubelet.service for all linux distros.
@jackfrancis @J

[2017-12-29 18:48] vannovv opened #1974 "Trying to upgrade Kubernetes cluster version 1.6.6 created from ACS engine version 0.5.0"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
v0.11.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Trying use the upgrade command to upgrade a Kubernetes cluster from 1.6.6 to 1.7.10.  The cluster was created using acs-engine 0.5.0 and I am now running

[2018-01-02 04:53] feiskyer opened #1975 "Make kubernetes utils reusable for external packages"
**Is this a request for help?**:

Request.

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

FEATURE REQUEST.

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes

**What happened**:

https://github.com/kubernetes/autoscaler/pull/514 adds agent pools support to kubernetes cluster-autoscaler, but it copies some functions from acs-engine instead of vendoring because of va

[2018-01-02 04:58] feiskyer opened #1976 "Remove kubernetes useInstanceMetadata parameters"
**Is this a request for help?**:

Request.

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

FEATURE REQUEST.

**What version of acs-engine?**:

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes v1.10+

**What happened**:

`useInstanceMetadata` parameter has been removed by https://github.com/kubernetes/kubernetes/pull/57647.

**What you expected to happen**:

We

[2018-01-02 06:20] karataliu commented on #1976
Related https://github.com/Azure/acs-engine/pull/1763

[2018-01-02 06:45] feiskyer commented on #1976
Update:

Note that instance's providerID/externalID are in different formats with useInstanceMetadata enabled or not:

- useInstanceMetadata=true: providerID/externalID are instance's VMID (in UUID format), e.g. `azure://abcdef11-1111-1111-1111-9fd3bafde18a`
- useInstanceMetadata=false or not set: providerID/externalID are instance's ID, e.g. `azure:///subscriptions/<subscription-id>/resourceGroup

[2018-01-02 07:28] sabbour commented on #1390
Was this fixed? I'm getting hit by this in https://github.com/Azure/helm-charts/issues/102 using acs-engine 0.11.0.

[2018-01-02 09:53] sabbour commented on #1390
I was trying to provision the Service Catalog API with rbacEnabled=false
When using rbacEnabled=true (the default), it worked.

[2018-01-02 10:16] snebel29 commented on #863
I think we're suffering from this issue as well, every 2 weeks approx. recovering on its own and together some networking interface ready not ready errors in the logs, I could provide further details if required.

Thanks

[2018-01-02 12:07] malachma commented on #863
@snebel The only workaround I'm aware off to get a more reliable IP detection , till the merge is available in the k8s version we ship with ACS or AKS, is to enable the MetadataService.
To do this alter the  /etc/kubernetes/azure.json
Change the flag from : "useInstanceMetadata": false
 to : "useInstanceMetadata": true
And restart the kublet instance. Perform this modification on all of your agent

[2018-01-02 12:55] snebel29 commented on #863
Hi @malachma,
First all thanks for the hint, it's really appreciated!

I don't see that flag set into the `azure.json` file "It just doesn't exist", I guess the default is true? since this command

[code]
Seems to return back good instance metadata results, or I'm missing something?

[2018-01-02 13:00] mwieczorek commented on #1790
@rocketraman Hi, I tried to get the same error but I was able to scale successfully.
- I created 'custom' vnet and subnets
- I deployed k8s there
- I added new vnet and peering between it and k8s vnet
- I run the 'scale' \
and everything was ok (I was able to scale up and down)

I used v0.11.0 of acs-engine.
Could you provide more deatils about your case?

[2018-01-02 13:53] malachma commented on #863
@snebel29  That is interesting that you don't see the flag as mentioned. Adding this  flag to this config-file and set it to true should help in this case. By default the metadata services is not used if take 1.8 as reference. What is your k8s version by the way?

[2018-01-02 14:41] snebel29 commented on #863
Hi,
My k8s version is

[code]
and the `acs-engine` version used to create the cluster was

[code]

Thanks

[2018-01-02 15:03] lirkog86 opened #1977 "Liveness and Readiness probes fail after restarting kubelet , causing containers to crash in a loop"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
0.9.3 , 0.12
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.8.2

**What happened**:
Liveness and Readiness probes get connection refused after restarting kubelet service by running "systemctl restart kubelet" and starting a new

[2018-01-02 17:58] jackfrancis commented on #1892
@slack is this something we want to slot in for AKS GA?

[2018-01-02 18:48] jackfrancis commented on #1390
Thanks for providing this color, @sabbour. Yes, we expect service catalog to be fully functional w/ an orchestratorProfile that looks like the one you pasted. Let us know if you run into any further trouble.

[2018-01-02 21:08] aijingyc opened #1980 "How to configure azure-vnet CNI in tunnel mode?"
**Is this a request for help?**:

Yes.

Since https://github.com/Azure/azure-container-networking/commit/8acef7dc10490aa816de81e4633804345056b6fa#diff-2f5e466e1d380d7c6f315428eb88acd0, the default mode is set as bridge. Is there any way to override it with tunnel mode when spinning up a k8s cluster on Azure?

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

---

**What version of acs-engine

[2018-01-02 21:21] aijingyc commented on #1980
More specifically, when starting a k8s cluster by using acs-engine depoly, the cni config (/etc/cni/net.d/10-azure.conf) is

{
  "cniVersion": "0.2.0",
  "name": "azure",
  "type": "azure-vnet",
  "mode": "bridge",
  "bridge": "azure0",
  "ipam": {
    "type": "azure-vnet-ipam"
  }
}

I want to change mode from bridge to tunnel. Though I modified the content of 10-azure.conf in parts/k8s/kubernete

[2018-01-02 22:08] aijingyc commented on #1980
@ofiliz

[2018-01-02 22:12] duedal commented on #658
Occurs on kubernetes 1.8.4 (hybrid cluster, on windows nodes)

[code]

[code]

[2018-01-03 00:12] aijingyc commented on #1980
My approach works. I just forgot to rebuild acs-engine.

I will close the issue.

[2018-01-03 00:12] aijingyc commented on #1980
/close

[2018-01-03 00:20] jackfrancis commented on #1971
What @duedal said :)

[2018-01-03 00:20] #1971 closed

[2018-01-03 19:38] brendanburns commented on #863
I don't think 1.6.6 supports IMDS... Any chance you can upgrade?

--brendan

On Tue, Jan 2, 2018 at 6:41 AM Sven Nebel <notifications@github.com> wrote:

[2018-01-03 21:42] jackfrancis opened #1985 "kubelet config: --protect-kernel-defaults"
We want to deliver the `--protect-kernel-defaults` kubelet option, but are currently unable because we're building clusters without the expected kernel default settings. On a recently built 1.7 cluster:

[code]

[2018-01-03 21:48] #1980 closed

[2018-01-04 01:27] anhowe commented on #1937
@hmarcelodn to see the errors, you can go to https://resources.azure.com, drill down to the resource group, expand "Microsoft.Resources" and look for the deployments with "x" character beside them, and it should show each error.

I took a look and saw the following errors for your deployment on Dec 15th:
1. Operation results in exceeding quota limits of Core. Maximum allowed: 10, Current in use: 1

[2018-01-04 01:27] #1937 closed

[2018-01-04 07:29] andyzhangx commented on #1957
I would like to change the default flexvolume plugin dir in Linux to `/etc/kubernetes/volumeplugins` and in Windows, the plugin dir would be `c:\k\volumeplugins`

[2018-01-04 08:47] snebel29 commented on #863
Hi @brendanburns ,
While not funny if that will solve/workaround the issue I'm willing to... is there a reasonable level of certainty with that workaround? Is there any further information on the fix?

Thanks in advance

[2018-01-04 13:11] ComeMaes opened #1992 "Using ACS-engine to upgrade an existing (ACS created) cluster"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: 0.11

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes cluster created via ACS, running Kubernetes version 1.5.3

I have a running cluster deployed via ACS. I would like to take advantage of some of the features provided by ACS-e

[2018-01-04 16:19] brendandburns commented on #863
IMDS will definitely make things better. The correct fix is being cherry picked into the 1.7, 1.8 and 1.9 release branches.

So I think you have two choices:

Upgrade now to get IMDS support.

Wait for the cherry pick release with the correct fix (1-2 weeks) and upgrade then to the complete fix.

Sadly 1.6.x is nearly a year old and outside of the window for patching at this point.

--brendan

___

[2018-01-04 16:32] snebel29 commented on #863
Hi @brendanburns,
I really appreciate that information, that will allow us to plan accordingly to our internal roadmap of changes, I think this will probably be worth for us to move to the last stable release and might try the workaround in the meanwhile if that upgrade gets internally delayed.

Thanks!

[2018-01-04 23:07] jackfrancis commented on #1977
Are these clusters long-running or short-lived? Is they are short-lived, would you consider using a more recent version of acs-engine (with a more recent version of k8s)?

Seeing as how this is kubenet-only symptom, is there a reason you're not using Azure CNI for IPAM?

Thanks!

[2018-01-05 09:42] lirkog86 commented on #1977
so you don't recommend using kubelet when deploying clusters with acs-engine?

[2018-01-05 11:25] theobolo opened #2002 "Since Intel CPU Azure update, new Azure Disks are not mounting, very critical..."
**Is this a request for help?**:

New azure managed disks are not mouting on the Kubernetes nodes, Azure API slow.

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

It's an ISSUE

**What version of acs-engine?**:

ACS Engine version : 0.7.0
Kubernetes version : 1.7.5

[code]

After the big update yesterday, i'm seeing a lot of errors about attaching or detaching Azure Managed Disks on kuber

[2018-01-05 12:11] andyzhangx commented on #2002
@theobolo could you run `kubectl describe pvc PVC-NAME `, it says "PersisentVolumeClaim is not bound" in the screenshot

[2018-01-05 12:18] Dutzu commented on #450
Yes, we have a couple of kubernetes clusters deployed on Azure.DE for some time now...

[2018-01-05 13:20] theobolo commented on #2002
@andyzhangx Hi Andy, there it is :

![image](https://user-images.githubusercontent.com/7281773/34610890-68a9bd54-f223-11e7-95c4-9b8b71776545.png)
![image](https://user-images.githubusercontent.com/7281773/34610906-8947cc4a-f223-11e7-9ecd-f1372cd6292e.png)

[2018-01-05 13:49] andyzhangx commented on #2002
@theobolo
could you use [azure-cli](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest) to  run `az vm show -g RESOURCE-GROUP -n AGENT-VM-NAME -d` to get the agent VM details? you may need to run `az login` first. Thanks.

[2018-01-05 13:57] theobolo commented on #2002
@andyzhangx There it is (the kubernetes worker 3) :

[code]

[2018-01-05 14:02] theobolo commented on #2002
It seems that the worker-2 have a problem by the way :

[code]

[2018-01-05 14:12] theobolo commented on #2002
There is certainly something wrong with the Azure API, it says that my worker-2 and 4 have failed, on Azure Dashboard. But Kubernetes sees the nodes as "Ready" and i've some pods running on them ...

Azure status :
![image](https://user-images.githubusercontent.com/7281773/34612596-cf8912b6-f22a-11e7-8fe5-2ac76da2ee5f.png)

My pods on the worker-2 :
![image](https://user-images.githubusercontent.c

[2018-01-05 14:15] andyzhangx commented on #2002
thanks, so where is the data disk `fleeters-59cd2dcd-dynamic-pvc-f4be8993-a472-11e7-b780-000d3ab769d6`, error says it's attaching that disk to work-3, could you find it your resource group?
`az disk list | grep f4be8993`

[2018-01-05 14:17] theobolo commented on #2002
@andyzhangx Yep there it is :

![image](https://user-images.githubusercontent.com/7281773/34612793-8442a6a4-f22b-11e7-941d-6a89edd85c89.png)

[2018-01-05 14:25] andyzhangx commented on #2002
@theobolo then I think it's caused by the VM failed state, the error(attaching data disk `fleeters-59cd2dcd-dynamic-pvc-f4be8993-a472-11e7-b780-000d3ab769d6` to work-3 failed) could be the last error long time ago. I think you should first resolve the `VM failed state` issue, I only got the Powershell solution here:
https://blogs.technet.microsoft.com/mckittrick/azure-vm-stuck-in-failed-state-arm/

[2018-01-05 14:29] theobolo commented on #2002
Yep but basically the worker-3 is in a Running State with no error and with a successfull agent running on it.
My disks are not either attached to a Failed machine since they are brand new :  i created my statefulsets few hours ago, and my disks weren't mounted before anywhere else.

I'm gonna try to remove the "Failed" status using your method on the other workers, but i think that there is somet

[2018-01-05 14:34] andyzhangx commented on #2002
you may update worker-3 VM as well if possible, the error said attach disk 1 failed because attach disk 2 to worker-3 VM failed, it's quite weired, there is possiblity that worker-3 VM is also in a wrong state.

[2018-01-05 14:36] andyzhangx commented on #2002
BTW, could you check the status of data disk `fleeters-59cd2dcd-dynamic-pvc-f4be8993-a472-11e7-b780-000d3ab769d6`, is it attached to a VM? that's important. Thanks.

[2018-01-05 14:39] theobolo commented on #2002
Yep since yesterday i have a lot of really weird things on the Azure API, i saw a statement yesterday saying that it's not relevant anymore to look at the Azure messages on the dashboard, because they are delayed or laggy.

By the way i putted the disk status within my first message, it's absolutly not attached to any node and it was never been.

![image](https://user-images.githubusercontent.com/

[2018-01-05 14:40] theobolo commented on #2002
Now all my nodes seems to be healthy using : `az vm show -g k8s-fleeters-cluster-preproduction -n k8s-k8sworkers-20163042-0 -d` command.

No more "Failed" state on Azure. I'll delete all the PVC and the statefulsets and just redeploy Kafka.

[2018-01-05 14:43] theobolo commented on #2002
The thing is that, when i delete manually my PVC on Kubernetes the Managed Disks are actually deleted !
And in the other way when i create my statefulsets they are correctly created on the dashboard.

So it's about mounting and unmounting it seems

[2018-01-05 14:50] theobolo commented on #2002
Ok so i did again my deployment :

[2018-01-05 20:21] jackfrancis commented on #1977
You should use kubenet if you want control (at the expense of maintenance overhead) of your cluster network concerns. Azure CNI is meant to handle basic functional network concerns on behalf of the user, which is why it makes sense for most folks (most folks don't want/need to be concerned about enforcing their own cluster networking).

@sharmasushant can provide more details if you feel like your

[2018-01-05 21:16] brendandburns commented on #2002
Please file an Azure support incident, as this appears related to the Azure wide reboot caused by meltdown and spectre...

[2018-01-05 22:13] dstrebel commented on #1974
Does the servicePrincipalProfile look like this? I believe the clientId and secret JSON changed versions back.

"servicePrincipalProfile": {
      "clientId": "XXXXXXXXXXXXXXXXXXXX",
      "secret": "XXXX-XXXXX-XXXX_XXXXXXX"

[2018-01-05 22:25] dstrebel commented on #1919
Kubernetes multizone feature is for single region zones and not multiregion. Azure currently is in preview for Availability Zones, which also utilize VM Scale Sets. Azure VM Scale Set support is slated for [1.10](https://github.com/kubernetes/features/issues/513) . So support for K8 multizone will come sometime after that release. If you want cross region you would be looking at utilizing K8 Feder

[2018-01-06 11:44] andyzhangx commented on #2002
Update in this thread, according to https://github.com/Azure/ACS/issues/12#issuecomment-355739158, one customer has successfully fix this issue by using this [PowerShell script](https://blogs.technet.microsoft.com/mckittrick/azure-vm-stuck-in-failed-state-arm/) to update the agent VM that has the mounting disk issue.
The root cause is after the big upgrade, the VM status is sometimes in incosisten

[2018-01-06 22:32] richardjortega commented on #1957
I will try and look into this soon, I integrated CoreOS a while back but think it needs updates after Azure CNI was introduced. You can put stuff in /opt, which is what the CoreOS implementation does (puts kubelet in /opt) — I believe unless it was changed recently.

[2018-01-07 03:31] artisticcheese commented on #215
Can somebody explain to me how scaling up/down and reimaging of the the VM scale sets reflects on swarm nodes. I can see that provisioning script for hybrid Windows container deployment in ACS have all the neccessary plumbing for adding nodes to swarm. But what happens when you reimage for example individual VM scale set machine, or you can scale up and then scale down worker nodes. There is no cl

[2018-01-08 02:55] andyzhangx commented on #1957
@richardjortega, I made a PR#1991 to set flexvolume plugin dir as `/etc/kubernetes/volumeplugins` in Linux.
BTW, have anyone tried coreos examples under https://github.com/Azure/acs-engine/tree/master/examples/coreos, it never succeeded, last error was due to docker could not start up in coreos, is there any fix to acs-engine?

[2018-01-08 02:58] andyzhangx commented on #1968
close this issue since following PRs have been merged:
Azure/kubernetes#29
Azure/kubernetes#30
1.7 will not support this feature.

[2018-01-08 02:58] #1968 closed

[2018-01-08 05:44] richardjortega commented on #1957
@andyzhangx I wrote those CoreOS examples. I haven’t tried them in about a month or two so things could’ve changed that sideaffected it.

[2018-01-08 09:08] theobolo commented on #2002
@brendanburns I already opened an issue Friday about that, on Critical Priority, i'm still waiting the answer :/

[2018-01-08 09:43] theobolo commented on #2002
@andyzhangx I did the same as @rocketraman :

The final solution that worked for me was to simply do the following for every agent node in my cluster one at a time:

`kubectl cordon <node>`
delete any pods on with stateful sets
`kubectl drain <node>`
restart the Azure VM for via the API or portal
`kubectl uncordon <node>`

With that i was finally able to recover my nodes. Now my disks are correctl

[2018-01-08 11:16] IvanovOleg commented on #1957
@andyzhangx If you get 'docker daemon' is not supported on Linux. Please run 'dockerd' directly on the agent nodes, just copy exec_start.conf from master.

[2018-01-08 20:06] #1957 closed

[2018-01-08 20:49] jwhousley commented on #558
What do you recommend I do if i have a StartUp.ps that currently fails to make a http request via the "Invoke Web-Request" module?  I have been fighting this since I create a cluster in ACS.  Do i need to disable DNS?  If so how?

[2018-01-08 20:49] tristanstraub commented on #1867
@sharmasushant I'd have to double check this as it's been a month since I had this issue, but I'm fairly sure from memory that many NIC's were created, with each one using up an IP address from the subnet.

[2018-01-08 23:30] mpluhar commented on #1806
Same issue here using Kubernetes 1.6 as an orchestrator and customVnet. Is there a workaround for this?

[2018-01-09 00:18] colemickens commented on #450
I think this should just be closed out. However, I no longer have such permisisons.

[2018-01-09 02:05] andyzhangx commented on #450
@jdumars could you close this issue? thanks.

[2018-01-09 04:20] #1975 closed

[2018-01-09 09:28] douglaswaights opened #2013 "Kubernetes pods cant see each other via external ip address / external dns in acs-engine 0.8"
**Is this a request for help?**:
yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE
---

**What version of acs-engine?**:

0.8.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes

**What happened**:

I have a mixed cluster windows and linux and im running a web app against identity server. To log into the web app a hybrid flow is used which goes thr

[2018-01-09 15:33] MarkTiedemann opened #2014 "Kubernetes dashboard not deployed in AzureGermanCloud"
**Is this an ISSUE or FEATURE REQUEST?** (choose one): `ISSUE`

---

**What version of acs-engine?**:

[code]

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: `Kubernetes, v1.8.4`

**What happened**:

<details><summary><code>apimodel.json</code></summary><p>

[code]

</p></details>

<details><summary><code>deploy.ps1</code></summary><p>

[code]

</p></details>

<br>

`az login &

[2018-01-09 15:35] Stygy opened #2015 "[Windows Nodes] "There is no enough space on the disk""
**Is this a request for help?**:

YES

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

**What version of acs-engine?**:

v0.11.0

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.7.9

**What happened**:
Cannot pull images because of a "There is not enough space on the disk" error:
![image](https://user-images.githubusercontent.com/6739343/34728649-769b5672-f

[2018-01-09 17:00] MarkTiedemann commented on #2014
If I go through the same steps but change the location to `westeurope` and the cloud to `AzurePublicCloud`, it works:

[code]

[code]

[2018-01-09 17:25] sebastianroesch opened #2016 "LoadBalancer Service does not receive public IP in AzureGermanCloud"
**Is this an ISSUE or FEATURE REQUEST?** (choose one): `ISSUE`

---

**What version of acs-engine?**:

[code]

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: `Kubernetes, v1.8.4`

**What happened**:

<details><summary><code>apimodel.json</code></summary><p>

[code]

</p></details>

<details><summary><code>deploy.ps1</code></summary><p>

[code]

</p></details>

<details><summary

[2018-01-09 17:40] sebastianroesch commented on #2016
Probably related to #2014

[2018-01-10 08:52] chweidling commented on #1949
I tested the custom VNET for Windows nodes with the snapshot 12d7fc5a8143866f34c3c6a21b003eb96960b68b from 2018-01-09. I patched the generated _azuredeploy.json_ file, so that it contains a variable _subnet_ with the value of the subnet range of my custom VNET like this:

[code]

The deployment worked and the Windows nodes were successfully created. I could deploy Windows containers. But inside th

[2018-01-10 09:58] stuartleeks opened #2021 "Add support for kubernetes --feature-gates in template"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): FEATURE REQUEST

---

**What version of acs-engine?**: latest master (8fd4ac4)

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes - all versions

**What you expected to happen**: Various behaviours (and preview features) in Kubernetes are controlled by `--feature-gates`. As

[2018-01-10 10:10] stuartleeks commented on #2021
@jackfrancis, @CecileRobertMichon, @JackQuincy  - would love your thoughts on the approach :-)

[2018-01-10 10:10] stuartleeks commented on #2021
@croomes - does this look like it would fit your requirements?

[2018-01-10 10:50] stuartleeks commented on #2021
Thinking about this a bit more, how would this work for the config:

[code]

It still feels fairly simple in terms of the config, but should make the implementation quite a bit simpler (I think!)

[2018-01-10 12:49] jalberto opened #2022 "upgrade k8s process is broke"
**Is this a request for help?**:
yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.11
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
1.7.6 -> 1.8.4

**What happened**:

Running:

[code]

got:

[code]

In azure portal:

![screenshot from 2018-01-10 13-44-01](https://user-images.githubusercontent.com/99927/34773709-f53120

[2018-01-10 12:59] andyzhangx commented on #2015
you need to assign a bigger OS disk size, see example:
https://github.com/Azure/acs-engine/blob/master/examples/windows/kubernetes-manageddisks.json#L20

[2018-01-10 13:25] jwalker343 commented on #1949
@chweidling I have not rebuilt a cluster using the latest snapshot, however according to https://github.com/Azure/acs-engine/issues/558#issuecomment-350348512 you may just have to wait a little while and DNS may resolve itself?

[2018-01-10 16:03] Stygy commented on #2015
I've setup a 200GB disk (https://goo.gl/9zA9wF). What would be a recommended size for the OS disk? Can I resize the disk without rebuilding the cluster?

[2018-01-10 17:42] CecileRobertMichon commented on #2021
@jackfrancis implemented the apiServerConfig interface in #2012 which was merged yesterday

[2018-01-10 18:07] jackfrancis commented on #2021
I think we can re-use the existing (since yesterday!) `apiServerConfig` implementation like this:

[code]

In other words, `--feature-gates` would be a special property that we'd deserialize and expand as k8s runtime config separately.

My representation of JSON inside of a JSON string is crude, someone has probably solved that problem before. We should do something like that, in my view.

[2018-01-10 18:25] lastcoolnameleft opened #2025 "acs-engine deploy not validating orchestrator version properly"
**Is this a request for help?**:  yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):  ISSUE
---

**What version of acs-engine?**:
 0.11.0, 0.10.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
1.9

**What happened**:
There might be two separate issues; however, they manifest themselves together:
* If I attempt to generate a 1.9 cluster, JSON validation fails
* If I

[2018-01-10 18:29] stuartleeks commented on #2021
Thanks @CecileRobertMichon  and @jackfrancis! I have started implementing this with the comma-separated format for now, and spotted the apiServerConfig as I was going through making the changes :-)

Once I have a version working I'll submit a PR for review and we can refine the config format along with any other changes from the review - does that sound ok?

[2018-01-10 19:02] brunsgaard commented on #1903
@odauby I see the exact same thing on with acs build from master today and Kubernetes 1.9.1.

@JiangtianLi Let me know if you need more debug information regarding this issue. I will be happy to help.

[2018-01-10 19:12] chweidling opened #2027 "The cluster-internal DNS server cannot be used from Windows containers"
**Is this a request for help?**: NO

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: canary, GitCommit 8fd4ac4267c29370091d98d80c3046bed517dd8c

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** kubernetes 1.8.6

**What happened**:

I deployed a simple cluster with one master node and two Windows nodes. In this deployment, re

[2018-01-10 19:14] chweidling commented on #1949
The problem does not disapper even after one hour waiting.

[2018-01-10 19:40] dtzar opened #2029 "K8s cluster upgrade from 1.8.2 to 1.8.6 fails"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

**What version of acs-engine?**:
git [commit 8fd4ac4](https://github.com/Azure/acs-engine/commit/8fd4ac4267c29370091d98d80c3046bed517dd8c)

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Run the K8s upgrade steps per [the bottom example here](https://github.com/Azure/acs-engine/tree/master/ex

[2018-01-10 20:36] brunsgaard commented on #2027
@chweidling I will just let you know that you are not alone. My team and I have been batteling this all day with no luck at all. I think @JiangtianLi is looking into this. A fast issue search on DNS shows you that there are major problems with windows DNS and network right now. :(

[2018-01-10 21:00] stuartleeks commented on #2021
I was just thinking about the handling for `--feature-gates` in the `kubeletConfig` with master and agent profiles and want to get your opinions.

As I understand the behaviour there, any value that is specified in the `masterProfile` (as an example) will be used, but if a value is absent from `masterProfile` and present in the `kubernetesConfig/kubeletConfig` then the `kubernetesConfig/kubeletCon

[2018-01-10 22:25] #1828 closed

[2018-01-10 23:08] jackfrancis commented on #2021
- your description of how agent and master override config delivery is implemented is correct
- in terms of where to implement feature-gates, I think from a high level the answer is that we want the following
  - both cluster-wide and master-override use the same implementation (look for `--feature-gates` property inside `kubeletConfig` and do special deserialization)
  - cluster-wide and master-o

[2018-01-10 23:25] jackfrancis commented on #2029
Hi @dtzar! We merged changes this week that moved some properties into a more generic interface.

If you paste the api model that produced those errors I'll try to give you the newer, more generic version. (Btw this breakage was expected and there will be thorough notes in the next release :))

[2018-01-11 00:05] jackfrancis commented on #2025
`v0.11.0` doesn't support `v1.9.n` of Kubernetes. We expect to release `v0.12.0` this week which (as of this writing) supports `v1.9.1`.

I'm going to quickly investiagte the `acs-engine deploy` behavior, which doesn't make sense as you stated (it should fail an api model that declares an unsupported version).

[2018-01-11 00:12] jackfrancis commented on #2025
I can reproduce this error. Succinctly:

`acs-engine deploy` should fail in the same way as `acs-engine generate` when an unsupported version is included in the api model. It's possible this is a symptom of a larger bug that permits validation failures (or skips validation entirely) during the `deploy` execution flow.

Thanks for reporting @lastcoolnameleft !

[2018-01-11 00:47] ashishkulk opened #2035 "Error while scaling agent nodes"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
v0.14.5
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9.5

**What happened**:
There seems to be an issue with scaling the node.

After running the following command to scale the availability set:

[code]

Error Received:

[code

[2018-01-11 02:19] lastcoolnameleft commented on #2025
Phew.  Glad it's not just me and I'm not going crazy.  I "thought" I deployed a 1.9 cluster cluster, and when newer primitives didn't work as expected, I got really confused until I checked the version of the nodes.  Reproduced the error 2x more times, just to make sure.

[2018-01-11 02:33] andyzhangx commented on #2015
One possible solution is use the resource disk which has 100GB to download image, need to find a way to change docker settings?

[2018-01-11 03:37] mirthy commented on #1611
I managed to get this to work the AAD Groups.  All that needs to be added to the apiserver params is --oidc-groups-claim=groups and then on the AAD setup side in the Manifest, setting groupMembershipClaims from null to either "All" or "SecurityGroup" (See Step 3 in https://azure.microsoft.com/en-us/resources/samples/active-directory-dotnet-webapp-groupclaims/)

Then to add the group rbac: kubectl

[2018-01-11 06:22] dtzar commented on #2029
Thanks for the quick response @jackfrancis! Here is my API model:
Would appreciate giving me the newer more generic version which will allow me to upgrade the cluster. :)

[code]