[2018-03-30 23:25] jalberto commented on #2567
I opened a critical case in azure, I just cannot continue havin ga down cluster with no solution, thanks for you help @jackfrancis

I am really upset with acs-engine i hope the same code is not used in aks, or it will be scary to use

[2018-03-30 23:44] jackfrancis commented on #2567
acs-engine comes with no operational guarantees. This is the contract users make w/ this tool. I understand why your experience is upsetting, we take this as valuable feedback that our documentation is not adequately expressing the limits of what will and may not work w/ respect to cluster lifecycle management driven by aca-engine only.

It is precisely these kinds of limitations in acs-engine whi

[2018-03-31 01:48] jalberto commented on #1815
I just deployed a k8s 1.9.6 with customvnet adn azure cni, the cluster is up adn kubcetl works, but there is not route table crated and using `kubectl proxy` I cannot access dashboard

[code]

[2018-04-01 02:10] ewok2030 commented on #2418
FWIW - I had similar trouble from behind a non-transparent proxy on a corporate network. The proxy intercepts traffic and modifies the responses, invalidating the certificate trust between kubectl and apiserver.

Using the ‘—insecure-skip-tls-verify’ flag with kubectl was the workaround.

[2018-04-02 07:21] andyzhangx opened #2573 "Could not connect to Windows pod by port 10250"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
latest master(commit 05ebc78b57ce2ef92a83bcf6b81b3a9b46ce7f0b)
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Could not connect to Windows pod by port 10250 or query pod stats/summary by port 10255, it's a regr

[2018-04-02 07:31] feiskyer commented on #2573
Seems kubelet is not listening at 10250? are there any errors in kubelet logs?

[2018-04-02 07:54] andyzhangx commented on #2573
@feiskyer 10250 & 10255 are all being listened on that windows node
[code]

[2018-04-02 08:06] andyzhangx commented on #2573
I found I even could not ping windows node, windows version is
[code]

[2018-04-02 14:09] JiangtianLi commented on #2573
@andyzhangx Can you curl the aspnet POD?

[2018-04-02 14:49] andyzhangx commented on #2573
@JiangtianLi  I could ping aspnet pod from master, while I could not ping windows node

[2018-04-02 15:04] JiangtianLi commented on #2573
@andyzhangx ping may be blocked on Azure. Can you use telnet or netcat to test connection to node on a specific port?

[2018-04-02 16:38] dtzar commented on #2569
Added some comments to the link above.

[2018-04-02 16:55] jackfrancis commented on #1815
@jalberto did you include a `vnetCidr` value in the `masterProfile` api model that is within the IP space of your subnet (10.192.0.0/10)?

[2018-04-02 17:19] jackfrancis commented on #2567
These are valid criticisms and reflect immature aspects of this project:

- lack of published roadmap
- inconsistent support response
- inconsistent community participation

This project started out as a "let's see what happens when we open source the Azure ARM template conveniences to the OSS community on Azure that is interested in prototyping container orchestrator clusters"; i.e., the intent o

[2018-04-02 17:19] CecileRobertMichon commented on #2565
Closing because this is a duplicate of #1767

[2018-04-02 17:19] #2565 closed

[2018-04-02 18:26] jackfrancis commented on #2563
@lastcoolnameleft Did you run the command described here to attach the route table to your VNET after cluster creation?

https://github.com/Azure/acs-engine/blob/master/docs/custom-vnet.md#post-deployment-attach-cluster-route-table-to-vnet

This is required to make the proper network attachments for kubenet (`"networkPolicy": "none"`) clusters.

[2018-04-02 18:41] #2538 closed

[2018-04-02 18:49] khenidak commented on #2535
Let us label this with `help wanted` @jackfrancis

[2018-04-02 18:52] khenidak commented on #737
we are adding premium LB support for v 1.11 @feiskyer is working on it. Should solve for this.

[2018-04-02 18:53] khenidak commented on #747
we are not planning to add ADE at the moment. not for v1.11 at least

[2018-04-02 18:54] khenidak commented on #2555
I don't think we need separate tests for that. Should be part of `upgrade` and `scale-down` tests.

[2018-04-02 19:12] lastcoolnameleft commented on #2563
@jackfrancis Thanks for the information!  I'll work with the customer to see if this fixes their issue.

[2018-04-02 19:12] jackfrancis opened #2574 "Add docs for ACI connector clientKey val as keyvault"
Once we mature the use-case of using clientKey as keyvault reference, let's update this doc to clarify that option:

https://github.com/Azure/acs-engine/tree/master/examples/addons/aci-connector

[2018-04-02 19:13] jackfrancis commented on #2574
@vglafirov if you could do this extra credit work, great, otherwise this issue as a reminder

[2018-04-02 20:37] CecileRobertMichon commented on #2574
Also need to append `kubernetesACIConnectorClientKey` to the following list: https://github.com/Azure/acs-engine/blob/80c0c83b426caafa644ad0d115c52b6d37209b64/pkg/acsengine/engine.go#L110

[2018-04-02 20:40] CecileRobertMichon commented on #2563
@lastcoolnameleft I was not able to reproduce the issue after deploying the same apimodel, do you know if this is a transient error or if 100% of deployments with that apimodel show these symptoms?

[2018-04-02 21:32] jalberto commented on #1815
yes

On Mon, 2 Apr 2018 at 18:55 Jack Francis <notifications@github.com> wrote:

[2018-04-02 21:37] CecileRobertMichon opened #2576 "Add unit tests"
Currently coverage is 38%. We should add unit tests as much as possible and get closer to 100%. Good places to start:
- https://github.com/Azure/acs-engine/tree/master/pkg/acsengine, for example https://github.com/Azure/acs-engine/blob/master/pkg/acsengine/engine_test.go
- https://github.com/Azure/acs-engine/tree/master/pkg/operations/
- https://github.com/Azure/acs-engine/tree/master/cmd

[2018-04-02 21:38] CecileRobertMichon commented on #2561
@seanknox fyi

[2018-04-02 21:40] jalberto commented on #2567
Thanks for your time and sincerity @jackfrancis I totally understand the complexity of the project but I also expect high quality outcome from a MS driven project. I think main issue is sin this words:

"The intention of acs-engine is to provide tooling for the user to achieve the outcome of a working Kubernetes cluster on Azure."

The meaning of "working Kubernetes cluster on Azure" can mean diff

[2018-04-02 21:52] jim-minter commented on #2540
@jackfrancis I don't understand what you mean by this point.

[2018-04-02 22:13] #2510 closed

[2018-04-02 23:09] jackfrancis commented on #2540
Sorry for the densely packed ambiguousness. :) Let's just call it an implementation detail that we'll iterate over as we move this forward. Not saying much there other than: let's make a clean implementation where intent is clear (i.e., "I'm code that is operable only when I have explicit access to an az context!" or "I'm code that doesn't need az context because ARM takes care of all that for me!

[2018-04-03 10:59] jalberto commented on #2567
@jackfrancis this is another example: #1961

The change is justified, but is a breaking  change, not properly documented and without upgrade path attached.

This change make me waste 3 days trying to figure out why gitlab-runner is not working anymore

[2018-04-03 11:02] jalberto commented on #2200
@zrahui this requires a new deployment. How to fix it without creating a new cluster?

[2018-04-03 11:11] jalberto commented on #2567
@jackfrancis this table is an accurate visualisation of my frustration with acs-engine:

![screenshot from 2018-04-03 13-07-12](https://user-images.githubusercontent.com/99927/38245953-6a94ce8a-3740-11e8-8f07-639cc3ebc9b7.png)

So the only way to "fix" a 1.8.4 cluster is to upgrade at least to 1.8.5 so azure-file works as expected (tha this what I was trying to fix with this upgrade) but if you ju

[2018-04-03 11:30] rrajadevops commented on #120
@jpoon I created the custom acs cluster today. I am looking for how to connect my cluster using kubectl, could you please share the steps how to connect my k8s cluster using kubectl.
Regards,
Raja

[2018-04-03 11:36] rrajadevops commented on #268
@colemickens @dcieslak19973 I created the custom acs cluster today. I am looking for how to connect my cluster using kubectl, could you please share the steps how to connect my k8s cluster using kubectl.
Regards,
Raja

[2018-04-03 17:38] rrajadevops opened #2583 "Unable to create loadbalancer service in custom vnet acs kubernetes"
Hi Team,

I created acs cluster with custom VNET, I can access my cluster without any issue.
When i try to create loadbalancer based service i am getting the below error.

Events:
  Type     Reason                      Age              From                Message
  ----     ------                      ----             ----                -------
  Normal   EnsuringLoadBalancer        1s (x6 over 2

[2018-04-03 17:40] rrajadevops commented on #2456
@drdarshan thanks for the details, this issue can be closed, i can access now

[2018-04-03 19:26] sylus commented on #1603
Hey sorry been following this issue and was curious if there is consensus on how to solve this.

a) The nodes DNS lookups are fixed by the extension (registering the nodes in your private dns)
b) The pods DNS lookups are handled by the configmap for kube-dns (tell k8s dns, used by your containers, to forward to your private dns)

I understand a) but am confused about what I need to do for b). Coul

[2018-04-04 00:05] brusMX opened #2586 "Panic on acs-engine 0.14.6 generate when adding "enableAggregatedAPIs" to propeties"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**:

Release linux AMD 64 - acs-engine-v0.14.6
https://github.com/Azure/acs-engine/releases/download/v0.14.6/acs-engine-v0.14.6-linux-amd64.tar.gz

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Using ubuntu bash

[2018-04-04 00:31] dtzar opened #2587 "Calico cluster fails to deploy on K8s 1.10"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
Tested using a build from commit a4f1ca6fa06b2c355515cfc1706c79c9949a046c (April 2nd)
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Deploy calico kubernetes network policy example with 1.10 orchestrator.  The Kubernetes cluster never gets p

[2018-04-04 05:27] rrajadevops commented on #120
@jpoon @colemickens @mogthesprog @lmickh can anyone please share the steps to expose our custom acs pods in loadbalancer service??

When i try to create LB service i got the below error.

Events:
  Type     Reason                      Age              From                Message
  ----     ------                      ----             ----                -------
  Normal   EnsuringLoadBalancer

[2018-04-04 05:42] brusMX opened #2588 "Windows deployment with k8s 1.10 failed"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: Release linux AMD 64 - acs-engine-v0.14.6
https://github.com/Azure/acs-engine/releases/download/v0.14.6/acs-engine-v0.14.6-linux-amd64.tar.gz

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Kubernetes cluster

[2018-04-04 06:45] brusMX commented on #2588
**UPDATE:** I was able to create the cluster by using kubernetes 1.9.  AKA I didn't know acs-engine-v0.14.6 doesn't support kubernetes 1.10. My next question is, do we validate the kubernetes version that is provided here? Or can I put any number?

[2018-04-04 07:44] jpoon commented on #120
Most likely a bad service principal: https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal

[2018-04-04 09:27] rrajadevops commented on #2583
This is related to service principal issue, i just created new service principal with Azure cli and used that AppID and PASSWD in kubernetes.json

az ad sp create-for-rbac --role="Contributor" --scopes="/subscriptions/e9****15-4**e-4610-b24c-c*******"

[2018-04-04 09:27] #2583 closed

[2018-04-04 09:27] #2456 closed

[2018-04-04 09:53] jalberto commented on #2022
closing even if this is not solve in anyway, but there is a follow up in #2567

[2018-04-04 09:53] #2022 closed

[2018-04-04 10:00] jalberto opened #2589 "Docker version was downgraded in 1.9.x"
**Is this a request for help?**:
YES & BUG REPORT
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.14.5
---

My previous version of the cluster created with older version of acs-engine used docker CE version (dont' remember exactly which version) new cluster created with latest acs-engine version uses docker 1.13.

This is, again, a breaking

[2018-04-04 10:01] jalberto commented on #2589
@jackfrancis can you give me a hand here please?

[2018-04-04 10:14] andyzhangx commented on #2022
The disk attach error is probably due to lack of lock before detach disk, below are all details, I would encourage to use fixed version:

### 1. disk attach error
**Issue details**:

In some corner case(detaching multiple disks on a node simultaneously), when scheduling a pod with azure disk mount from one node to another, there could be lots of disk attach error(no recovery) due to the disk not b

[2018-04-04 13:30] jalberto commented on #2022
thanks @andyzhangx but this problem continue happening in 1.9.6 deployed with 0.14.5, a simple upgrade can take up to 1h to be complete

[2018-04-04 14:12] andyzhangx commented on #2022
@jalberto is it still disk attach error or some other error?

[2018-04-04 14:37] andyzhangx commented on #2022
@jalberto
The new cluster means v1.9.6? Could you paste that error msg again?
And do you have a clean config to repro this issue, I would like to repro it in my env if it's after v1.9.5.

[2018-04-04 14:47] jalberto commented on #2022
yes 1.9.6 deployed with acs 0.14.5

you can check my apimodel in #2567

I cannot paste it now, but the error is the typical "Multi attach error"

[2018-04-04 14:59] andyzhangx commented on #2567
Hi @jalberto, for the azure file fileMode and dirMode issue, there is design change back and forth, I would suggest use azure file mountOptions to set what you want: https://github.com/andyzhangx/demo/blob/master/linux/azurefile/azurefile-mountoptions.md

[2018-04-04 15:03] jalberto commented on #2567
@andyzhangx agree, the problem is you need at least k8s 1.8.5 to use `mountOptions`so when I upgraded my cluster from 1.8.4 to 1.8.x everything breaks

[2018-04-04 15:30] rakeshkulkarni6 opened #2591 "Not able to deploy K8s Cluster with ACS-Engine 14.6 version on azure"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
---
acs-engine v0.14.6

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
kubernetes 1.9.0

**What happened**:
I have deployed K8S cluster using acs-engine v0.14.6 . After cluster deployes I am not able to see any nodes listed. I have checkd docker im

[2018-04-04 16:53] CecileRobertMichon commented on #2588
@brusMX we do validate k8s version. 1.10 support (Linux + Windows) was added in acs-engine 0.14.5. However, Windows is unstable w/ 1.10 (as you witnessed above), as noted in the release notes: `Disclaimer: Windows support for v1.10.0 is for provided for experimentation only at this point, ymmv. When we have a consistent, stable cluster deployment experience we will explicitly note that in a future

[2018-04-04 16:54] CecileRobertMichon commented on #2588
FYI @JiangtianLi

[2018-04-04 17:08] JiangtianLi commented on #2588
@brusMX Were you able to RDP into Windows node? There are a few root causes of failure. If you can RDP to Windows VM, can you get the log under c:\azuredata and kubelet.log under c:\k? If not, then it is due to vm creation (related to vm extension agent that was not properly running).

[2018-04-04 18:11] brusMX commented on #2588
@JiangtianLi What specifically should I be looking for. Here are a couple of log files:

CustomDataSetupScript.log

[code]

[2018-04-04 18:17] brusMX commented on #2588
And also the kubelet.err.log says:

[code]

Ad infinitum

[2018-04-04 21:25] srinathnarayanan opened #2595 "Unable to create Kubernetes cluster using acs-engine"
I tried creating a Kubernetes cluster using acs-engine, but ran into some trouble.

ERRORS:
New-AzureRmResourceGroupDeployment : 11:42:37 AM - Resource Microsoft.ContainerService/containerServices
'containerservice-sdkctl20180404' failed with message '{
  "status": "Failed",
  "error": {
    "code": "ResourceDeploymentFailure",
    "message": "The resource operation completed with terminal provisi

[2018-04-04 21:31] CecileRobertMichon commented on #2591
Hi @rakeshkulkarni6 , what does your apimodel look like?

[2018-04-04 21:35] #2586 closed

[2018-04-04 22:17] CecileRobertMichon commented on #2595
@srinathnarayanan which commands are you using to deploy your cluster? Which part are you using acs-engine for?

[2018-04-04 22:22] jackfrancis opened #2596 "generalize ensure_etcd_ready() in provision scripts"
We should make ensure_etcd_ready() a general ensure_file_exists() func.

[2018-04-04 22:25] srinathnarayanan commented on #2595
I am using Azure Powershell.
I'm using a command similar to :
New-AzureRmResourceGroupDeployment -Name <deployment-name> -ResourceGroupName <resource-group-name> -TemplateUri https://raw.githubusercontent.com/azure/azure-quickstart-templates/master/101-acs-kubernetes/azuredeploy.json

From here : https://azure.microsoft.com/en-us/resources/templates/101-acs-kubernetes/

[2018-04-04 22:36] CecileRobertMichon commented on #2595
@srinathnarayanan which part are you using acs-engine for? Did you use the acs-engine generate or deploy command?

[2018-04-05 00:35] jackfrancis commented on #2588
Could you try w/ `v0.15.0` (just released)? There may be some reinforcements therein for your Windows + k8s 1.10 story:

https://github.com/Azure/acs-engine/blob/master/examples/windows/kubernetes-hybrid.json

[2018-04-05 04:22] kapopken opened #2597 "server misbehaving"
**Is this a request for help?**:
YES
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.15.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.10

**What happened**:
When trying to communicate to pods inside the cluster, I get an error server misbehaving. Simply doing a ping or a curl to validate returns this erro

[2018-04-05 07:08] mwieczorek commented on #2112
@jackfrancis
I've seen #2528 is released (https://github.com/Azure/acs-engine/releases/tag/v0.15.0).
I'll be happy if the second part (--oidc-client-id, --oidc-issuer-url) ships in v0.16.0 :)

[2018-04-05 07:58] fbuser1 commented on #2595
same problem for me
engine: v0.15.0

kubernetes.json:
[code]
acs-engine deploy --subscription-id xxx --resource-group k8s --location westus2 --api-model kubernetes.json

and same error:

[2018-04-05 08:47] martell opened #2598 "grafana not working with new fs changes."
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
---
ISSUE

**What version of acs-engine?**:
---
HEAD at time of posting

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

kubernetes 1.10.0

**What happened**:

The grafana pod has the following error

[code]

[2018-04-05 08:51] martell commented on #2598
seems related https://github.com/runconduit/conduit/pull/646
need to bump grafana version

[2018-04-05 08:56] martell commented on #2598
https://github.com/kubernetes/charts/commit/5bb9765d496044b0e65581e8aa7489835b5e07ca#diff-2afd63ebacfc1dc10cf0ac0ac5a97d63

suggestions welcome, possibly bump the chart to a newer version?

[2018-04-05 09:36] mwieczorek commented on #2598
maybe it's related to https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.9.md#changelog-since-v193 ?

[2018-04-05 11:43] rakeshkulkarni6 commented on #2591
HI @CecileRobertMichon,

I have added  apimodel.json file.

{
  "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes",
      "orchestratorRelease": "1.9",
      "orchestratorVersion": "1.9.0",
      "kubernetesConfig": {
        "kubernetesImageBase": "k8s-gcrio.azureedge.net/",
        "clusterSubnet": "10.246.0.0/16",
        "dnsServiceIP":

[2018-04-05 12:28] rakeshkulkarni6 commented on #2595
i am also getting the same error while deploying kubernetes cluster on azure using acs-engine, i have tried with latest 0.15.0 release as well. please find the error
New-AzureRmResourceGroupDeployment : 5:54:07 PM - Resource Microsoft.Compute/virtualMachines/extensions
'k8s-master-63864159-0/cse0' failed with message '{
  "status": "Failed",
  "error": {
    "code": "ResourceDeploymentFailure",

[2018-04-05 12:31] rakeshkulkarni6 commented on #2591
Hi I have tried with new version acs-engine 0.15.0 to deploy kubernetes cluster on azure.
I have generated arm templates using acs-engine generate <clusterfile> command and deployed using powershell command.

**I am getting below error:**
New-AzureRmResourceGroupDeployment : 5:54:07 PM - Resource Microsoft.Compute/virtualMachines/extensions
'k8s-master-63864159-0/cse0' failed with message '{
  "st

[2018-04-05 12:46] sylr commented on #2150
FYI I set `groupMembershipClaims` from `null` to `7` in the server application manifest and now I have groups in my token (124 of them actually, I don't know if they are all here).

[2018-04-05 13:42] DonMartin76 commented on #1699
Closing this. Haven't seen it for a long while.

[2018-04-05 13:42] #1699 closed

[2018-04-05 14:35] oivindoh commented on #2598
See https://github.com/grafana/grafana-docker/issues/140

[2018-04-05 14:53] dcieslak19973 opened #2599 "Can acs-engine modify an already deployed cluster?"
**Is this a request for help?**: NO

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): QUESTION

---

**What version of acs-engine?**: 0.14.0+

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** Kubernetes

**What happened**: I've used acs-engine to deploy a simple 5-node (1-master) cluster; can I use acs-engine to modify that cluster (say, to add in the Virtual Kube to ta

[2018-04-05 16:29] CecileRobertMichon commented on #2595
Hi, `VMExtensionProvisioningError` can happen for a number of reasons as it happens whenever a VM Custom Script Extension (which includes cluster health validation) fails. Please share
a) the original apimodel used to generate your template using acs-engine (**please remove secrets**) b) logs found on the VM (or one of the VMs) that shows failed cse on the portal deployment
c) the output of `kubec

[2018-04-05 16:34] CecileRobertMichon commented on #2591
@rakeshkulkarni6 please remove all secrets/keys from the apimodel you shared

[2018-04-05 16:42] CecileRobertMichon commented on #349
Etcd TLS is implemented as of v0.12.0

[2018-04-05 16:42] #349 closed

[2018-04-05 16:57] dcieslak19973 commented on #2599
Thanks; if it is better to redeploy a new cluster whenever one can, is there any guidance about how to handle data elements that have been persisted? For a trivial example, suppose I have an Elastic Search instance running in my ACS-Engine k8s cluster and would like to keep a rolling 30 day history. If I drop and recreate the cluster, how do I retain previously saved entries?

[2018-04-05 18:25] srinathnarayanan commented on #2595
1) My API Model:
{
      "apiVersion": "2016-09-30",
      "type": "Microsoft.ContainerService/containerServices",
      "location": "[resourceGroup().location]",
      "name":"[concat('containerservice-',parameters('dnsNamePrefix'))]",
      "properties": {
        "orchestratorProfile": {
          "orchestratorType": "Kubernetes"
        },
        "masterProfile": {
          "count": 1,

[2018-04-05 18:34] jackfrancis commented on #2563
Glad to hear this was fixed, sorry for the manual ugliness, but your courage and perseverance was rewarded!

[2018-04-05 18:46] CecileRobertMichon commented on #2595
@srinathnarayanan is there a reason why you are using `"apiVersion": "2016-09-30"` instead of `vlabs`?

[2018-04-05 18:48] jackfrancis commented on #2589
You can specify a custom version of docker in the `kubernetesConfig` of your api model. E.g.,

[code]

If you want to update the cluster in-place:

[code]

[2018-04-05 18:49] CecileRobertMichon commented on #2591
@rakeshkulkarni6 can you please try deploying with k8s 1.9.6? There are known upstream bugs in 1.9.0

[2018-04-05 19:06] srinathnarayanan commented on #2595
@CecileRobertMichon No. i was just following an existing template. What is the difference between the two?

[2018-04-05 19:33] srinathnarayanan commented on #2595
This is the error I'm getting when I switch to "vlabs" : 'containerservice-sdkctl20180405' failed with message '{
  "error": {
    "code": "NoRegisteredProviderFound",
    "message": "No registered resource provider found for location 'westus2' and API version 'vlabs' for type
'containerServices'. The supported api-versions are '2015-11-01-preview, 2016-03-30, 2016-09-30, 2017-01-31,
2017-07-01'.

[2018-04-05 21:18] #2112 closed

[2018-04-05 22:01] neurot1cal opened #2606 "Unable to scale existing ACS-Engine cluster"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
v0.15.0-rc.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes 1.8.2

**What happened**:

acs-engine failed to scale the node count for my cluster.

**What you expected to happen**:

acs-engine to scale the node count for my cluste

[2018-04-05 22:20] CecileRobertMichon commented on #2606
Hi @neurot1cal, please refer to #2060.

[2018-04-05 22:32] CecileRobertMichon commented on #2595
@srinathnarayanan, after our discussion offline I looked at the logs you sent. Your two core agent's cloud init and custom script extension both look good, it is the VM that failed to create (or at least did not finish on time). This is why the master script extension failed: masters validate that all nodes are ready as part of provisioning. The only thing I can see in your agentpool definition th

[2018-04-05 22:50] CecileRobertMichon commented on #2595
@fbuser1 I just successfully deployed the exact same apimodel (using my own SP) with version 0.15.0... Please share the logs of the VM that failed (you can see which VM extension failed by going to your deployment on the portal) and the output of `kubectl get nodes`

[2018-04-05 23:00] CecileRobertMichon commented on #2595
@srinathnarayanan scratch that, for apiversion "vlabs" the agentPools' DNS Prefix must be empty when using Kubernetes

[2018-04-05 23:09] khaldoune opened #2607 "Regression with acs 0.14.X when using Calico"
**Is this a request for help?**:
YES
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.14.X
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9.x

**What happened**:
Nodes are not ready

**What you expected to happen**:
Nodes to be ready

**How to reproduce it** (as minimally and precisely as possible):

@CecileRo

[2018-04-05 23:10] khaldoune commented on #1806
@CecileRobertMichon @jackfrancis

Provisioning using Azure CNI instead of Calico with acs 0.14.5 works fine.

Provisioning with Calico and a single subnet for both masters and workers fails.

I've also double-checked weither or not the Encryption At Rest has been enabled by default in 0.14.5, it is not.

I've just created a new issue: #2607

Thanks for your help.

[2018-04-05 23:14] CecileRobertMichon commented on #2607
Thank you for opening the issue @khaldoune. I've deployed a Calico cluster successfully (with both version 0.14.5 and 0.15.0) so it's most likely not a general Calico issue, but most likely something else in your apimodel maybe isn't compatible with Calico. Let me try to find out what it is and get back to you. Let me know if you make any progress/discoveries on your side. Merci!

[2018-04-05 23:14] CecileRobertMichon commented on #2607
@dtzar fyi

[2018-04-05 23:42] CecileRobertMichon commented on #2607
I do not. So maybe that'd be a good test: try to deploy a Calico cluster (https://github.com/Azure/acs-engine/blob/master/examples/networkpolicy/kubernetes-calico.json) with your custom dns and let me know what the outcome is.

[2018-04-05 23:45] neurot1cal commented on #2606
Thanks for the prompt response! My search-fu was not good enough. ;)

[2018-04-05 23:53] neurot1cal commented on #2606
@CecileRobertMichon

[code]

[2018-04-05 23:59] CecileRobertMichon commented on #2606
Hmm yeah the apimodel definition for addons changed since v0.9.0 as well... You can look at https://github.com/Azure/acs-engine/blob/master/docs/clusterdefinition.md#addons and adapt your apimodel to follow the new definition. Or you can build a new cluster from scratch if you don't mind starting over or migrating workloads since your cluster is pretty old. Sorry you have to go through this there

[2018-04-06 00:08] neurot1cal commented on #2606
Thanks! This is luckily a POC cluster, testing some theories here. Is there a story or any documentation on migrating PVs between deployments for blue/green upgrades?

Would love to use this model, but we're struggling thinking about moving any persistent data. Would love to partner here to try and create/provide documentation and process if it doesn't exist already.

[2018-04-06 00:44] CecileRobertMichon commented on #2606
There isn't any official acs-engine documentation for migrating PVs that I'm aware of, I know people use different tools such as heptio ark but I think it would definitely be a great addition to have a more formal process in place. @jackfrancis might be able to comment on migrating PVs.

[2018-04-06 00:49] brusMX commented on #2588
Well, I just got frustrated and compiled it from scratch.
I can confirm I have a healthy cluster with this version of acs engine:
[code]

[2018-04-06 00:49] #2588 closed

[2018-04-06 06:52] mwieczorek commented on #2599
@dcieslak19973 maybe you can use [Ark](https://github.com/heptio/ark/blob/master/docs/use-cases.md#cluster-migration) to migrate workloads (with PVs) to new cluster?

[2018-04-06 06:57] pushkar-bitwise commented on #2027
Hi @madhanrm & JiangtianLi , we are facing issue after restart windows node is unreachable, look like it some code goes into loop, network connectivity goes on and off and after sometime around 30 min node is completely down. looks like below code from file https://github.com/Azure/acs-engine/blob/master/parts/k8s/kuberneteswindowssetup.ps1 creating issue

`
 # startup the service
    `$hnsNetwork

[2018-04-06 08:04] rakeshkulkarni6 commented on #2591
Hi @CecileRobertMichon ,

Again its sowing same error, Please find the below error details.
it seeme the extension is not able to provision script to deploy Kubernetes cluster.

 New-AzureRmResourceGroupDeployment : 1:24:27 PM - Resource Microsoft.Compute/virtualMachines/extensions
'k8s-master-63864159-0/cse0' failed with message '{
  "status": "Failed",
  "error": {
    "code": "ResourceDeploymen

[2018-04-06 08:34] jalberto commented on #2589
thanks @jackfrancis

it is possible a previous version of acs-engine installed by default a newer version of docker?

[2018-04-06 09:35] jalberto commented on #2022
@andyzhangx , this is the error:

[code]

32mins and counting :)

[2018-04-06 11:00] mboret opened #2612 "Kubernetes Hybrid Cluster with Custom Vnet - Windows node issue"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**: v0.15

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
I'm not able to create a new hybrid cluster with a custom Vnet with Azure CNI or Kubenet.
In both case the error is:

This appears during the Windows node c

[2018-04-06 11:38] mvelazquezm commented on #2612
I have exactly the same Issue. I´ve tried with ACS Engine 0.12, 0.13, 0.14 and 0.15 And K8S 1.9.3.

I also have same issue (With Azure CNI, the error during the cluster creation) with Linux only cluster, and Azure CNI over custom VNet.

`{
"apiVersion": "vlabs",
 "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes",
      "orchestratorRelease": "1.9",
      "orchestr

[2018-04-06 11:52] andyzhangx commented on #2022
Hi @jalberto, so azure disk has been moved to the right node? `Multi-Attach error for volume` msg is from kubelet on those two nodes, a quick workaround is run `sudo systemctl restart kubelet` on the two nodes.

[2018-04-06 13:15] jalberto commented on #2022
@andyzhangx yes, usually a combination of `kubelet restart` and `az vm update` works, but to reuire manual intervention each time a pod moves is clearly a signal something is wrong

[2018-04-06 14:18] andyzhangx commented on #2022
@jalberto  when scheduling from one node to another, how many disks were attached in one node? I would like to repro this in my env, and you were using `deployment`, right?

[2018-04-06 14:39] aku105 opened #2614 "Provision to specify SANs to add in API server certificate"
**Is this a request for help?**:
NO

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE

---

**What version of acs-engine?**:
0.15.1

---

Provision to define other master SAN(s) in apimodel could be potentially useful for cluster administrators when migrating applications etc. to a new cluster.

For instance, when we need to upgrade a Kubernetes environment, we create a new clus

[2018-04-06 16:43] khaldoune commented on #2607
@CecileRobertMichon @jackfrancis @dtzar

Hi,

I've found the paramater that introduces this regression: **enablePodSecurityPolicy**

Now you/we can start to try to find out how this parameter is incompatible with calico and acs 0.14.x.

Furthermore, I could not find enablePodSecurityPolicy in the cluster-definition documentation: [https://github.com/Azure/acs-engine/blob/master/docs/clusterdefinit

[2018-04-06 16:55] CecileRobertMichon commented on #2607
@khaldoune thanks for catching that! The documentation gap is definitely a miss, I will fix it today. Let's investigate to find out why it is incompatible. For reference here are the two relevant PRs: https://github.com/Azure/acs-engine/pull/2048, https://github.com/Azure/acs-engine/pull/2125

[2018-04-06 16:59] CecileRobertMichon commented on #2607
fyi @pidah who implemented enablePodSecurityPolicy and might have more insight on why it's not compatible with calico

[2018-04-06 17:16] ams0 opened #2616 "Cannot scale a private cluster"
**Is this a request for help?**:

Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue
---

**What version of acs-engine?**:

Version: v0.15.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes 1.10 private cluster with a jumpbox

**What happened**:

Scaling operation fails with:
[code]
Because there are two instances of networkSecurityGroups in the tem

[2018-04-06 17:25] jalberto commented on #2022
this cluster has only 2 PVs so from 0 to 2

On Fri, 6 Apr 2018 at 16:18 Andy Zhang <notifications@github.com> wrote:

[2018-04-06 17:27] CecileRobertMichon commented on #2616
Thanks for reporting @ams0, this is indeed a bug... If you want feel free to open a PR to change https://github.com/Azure/acs-engine/blob/4649c8d41bd37d350b0842cd76f2e7db21d05e43/pkg/acsengine/transform/transform.go#L117 if there is a jumpbox.

[2018-04-06 17:36] khaldoune commented on #2607
@pidah @CecileRobertMichon @jackfrancis

kubectl get psp and kubectl get clusterrole | grep privileged give no results which is very strange.

Also, the folder /etc/cni is still empty, the kubelet complains against it...

@CecileRobertMichon

Are you able to reproduce? This issue does not seems to be related to custom dns anymore.

[2018-04-06 18:35] pidah commented on #2607
I am not sure why this is happening, but I suspect the default restricted policy applied might need tweaking. The nodes are not ready but is kubelet container running on the nodes and do you see anything in the logs ? If the API server is running you might see some clues in its logs too.  @khaldoune @CecileRobertMichon @jackfrancis

[2018-04-06 19:04] CecileRobertMichon opened #2619 "Remove or change distro when OS type is Windows"
Right now, `"distro"` defaults to `Ubuntu` , even when the OS is Windows. The value is not used for Windows but nevertheless we should remove it for Windows as it may cause confusion.

[code]

should become:

[code]

[2018-04-06 19:50] jackfrancis commented on #2589
Possible, but I don't recall that being the case.

[2018-04-06 20:57] #2346 closed

[2018-04-06 21:10] CecileRobertMichon commented on #2619
The docs already describe this behavior but it's not implemented https://github.com/CecileRobertMichon/acs-engine/blob/docs/docs/clusterdefinition.md#agentpoolprofiles

[2018-04-06 21:34] kezzamiti commented on #2607
From what I have understood, the net.d directory can be created by docker if a privileged container tries to mount it.
So in this case, this directory will be created by the calico daemonset, which meens that Calico could not be started. I'll try to kubectl apply the calico manifests once in front of my laptop and update this issue.

@CecileRobertMichon @pidah

[2018-04-06 21:50] pidah commented on #2607
@khaldoune the kubernetes API server (and other control plane components) are deployed as _static_ pods on the master nodes. As long as the API dependencies like docker, etcd are running, the API server will startup on each master node and will respond to kubectl requests. You can ssh into a master node and look at the API server docker container logs; Some other master components docker container

[2018-04-06 21:54] #2564 closed

[2018-04-06 21:59] CecileRobertMichon opened #2624 "Add acs-engine install with fish instructions"
https://github.com/fishworks/fish

[2018-04-06 23:07] pidah commented on #2312
@jackfrancis @JunSun17  Just had a quick look https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/config/file.go#L196
I think the problem is the location of the file; all files in /etc/kubernetes/manifests/ are supposed to be pods it seems and kubelet couldn't parse the audit policy file as its not a pod manifest. I think moving the audit policy to a different location ( or making it

[2018-04-06 23:50] neurot1cal opened #2626 "Unable to submit 'az group deployment' after generating config in acs-engine"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
0.15.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.10

**What happened**:
When submitting for deployment I'm getting the following error;
[code]

**What you expected to happen**:
ARM deployment to be generated

**How to repr

[2018-04-07 00:31] brusMX opened #2627 "Hyper-v containers not working on kubernetes v1.10"
**Is this a request for help?**:

Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Feature request

---

**What version of acs-engine?**:

Version: canary
GitCommit: b143b6d3
GitTreeState: clean

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Deployed a hybrid kubernetes cluster (Win/Linux) Hyper-v enabled, but it won't deploy hyper

[2018-04-07 03:56] rakeshkulkarni6 commented on #2591
I have used vlabs in apiversion and kept dnd prefix empty in agentpoolprofile.still I am getting above error while deploying can you please help I need to setup production cluster using ACS-ENGINE

[2018-04-07 11:41] rakidu commented on #2591
I got similar error when deploying cluster using 14.6 acs-engine version.
"error": {
"code": "ResourceDeploymentFailure",
"message": "The resource operation completed with terminal provisioning state 'Failed'.",
"details": [
{
"code": "VMExtensionProvisioningError",
"message": "VM has reported a failure when processing extension 'cse0'. Error message: "Enable failed: failed to execute

I deleted t

[2018-04-07 13:26] feiskyer commented on #2627
@brusMX Seems feature gates `HyperVContainer=true` is not enabled on kubelet. Please check whether it is included in kubelet params.

[2018-04-07 16:32] seanknox opened #2629 "Using custom images errors"
**Is this a request for help?**:

---
yes
**Is this an ISSUE or FEATURE REQUEST?** (choose one):

---
ISSUE
**What version of acs-engine?**:

---
master
[code]

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Specified a custom VHD image in the API model for agents and one master. The master provisioned but the agents failed to deploy and got this error:

[2018-04-07 20:06] JiangtianLi commented on #2027
@pushkar-bitwise I have a PR here https://github.com/Azure/acs-engine/pull/2532 but haven't fully validated it yet.

[2018-04-07 23:01] kargakis commented on #2629
First, make sure you are including https://github.com/Azure/acs-engine/commit/49e262a2777af473335b51aca1da72fb11f2aafe in your acs-engine build. Second, the issue you are seeing is because the api version of the VM used is old.

[2018-04-07 23:51] seanknox commented on #2629
I don't follow—what does this mean, exactly?

[2018-04-08 00:09] khaldoune commented on #2607
@pidah

Thanks for your answer.

As stated before, kubectl get psp answers no resources.

If you **kubectl apply -f /etc/kubernetes/manifests/pod-security-policy.yaml** and wait about 10 minutes, **the cluster becomes ready** 🥇

I still don't know why this file does not get applied. Is it entended to be applied by the kubelet (using the kubelet --pod-manifest-path param) ?

@CecileRobertMichon @ja

[2018-04-08 00:50] kargakis commented on #2629
The VM is using an old [schema](https://schema.management.azure.com/schemas/2015-08-01/Microsoft.Compute.json#/resourceDefinitions/virtualMachines) that does not support [id in imageReference which is what the template uses to specify a custom image](https://github.com/Azure/acs-engine/blob/d574b1020d751c102dc075410e8e91909ca1c04d/parts/k8s/kubernetesagentresourcesvmas.t#L186). I think your agent

[2018-04-08 12:44] andyzhangx commented on #2022
Hi @jalberto, I tried to repro it on my testing env(v1.9.6), while after around 9min, all 3 pods were scheduled from node#1 to node#2 successfully, here are the detailed steps: https://github.com/andyzhangx/demo/tree/master/linux/azuredisk/attach-stress-test/deployment

I would like to make sure:
1. You controller manager on master is v1.9.6, could you paste:
[code]

2. You controller manager on m

[2018-04-08 18:42] khaldoune commented on #2607
@pidah @CecileRobertMichon @jackfrancis

I think that I have an **explanation**: Starting from 0.14, ensureApiserver has been replaced by ensureK8s that checks for nodes readiness.

Nodes cannot be ready if there is no network installed and pods cannot be created if there is no PSP (since this admission controler is activated).

If you create the PSPs in a failing cluster, it will be unlocked afte

[2018-04-08 22:54] pidah commented on #2607
@khaldoune ah nice catch...agreed – psp needs to be applied immediately after the API server is up, but before node healthchecks. @CecileRobertMichon @jackfrancis

[2018-04-09 09:00] jalberto commented on #2022
thanks @andyzhangx, here you go:

1. `image: "k8s-gcrio.azureedge.net/hyperkube-amd64:v1.9.6"`
2.
[code]

Notice my problems in 1.9.6 are random in both, time lasting and occurence. Still 9mins seems excessive for a mount/umount operation

[2018-04-09 09:01] jalberto commented on #2589
it's interesting because I never setup an specific versino of docker, but yet in previosu cluster I have docker 10.x

[2018-04-09 09:17] markwragg opened #2631 "Can I configure master and agent DNS via acs-engine?"
Hi,

I am using ACS engine to create a Kubernetes cluster which then pulls a container image from a private Artifactory repository. The address of the repository only resolves internally (it is not in public DNS). I have got it to successfully work by SSH'ing to the Master and Agent servers and configure the /etc/hosts file with the address of the repository, but obviously I don't want to have to

[2018-04-09 11:53] markwragg commented on #2631
I'm coming to the conclusion that maybe the VNET i'm deploying in to should be configured to use the DNS servers deployed within that VNET that can then resolve internal DNS names, but i'm still interested to know if there are any alternative solutions to this.

[2018-04-09 12:26] ITler commented on #2152
Solved with newer version of acs-engine

[2018-04-09 12:26] #2152 closed

[2018-04-09 12:40] ITler commented on #2606
Thanks @CecileRobertMichon for mentioning heptio ark.

[2018-04-09 13:57] serbrech commented on #1603
@sylus Adjusting kube-dns is to allow the pods to resolve services that live outside the cluster.
pods run dns resolution through kube-dns (to allow for local resolution via service names).
If you want the kubernetes services to talk to your on-prem services, the kube-dns config map needs to be updated to forward dns resolution queries when they don't match local k8s services.

[2018-04-09 14:26] phillipgibson opened #2632 "Initial SSH key no longer works after upgrade."
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.8.9

**What happened**:
Using acs-engine to upgrade the k8 1.8.9 to 1.9.6 version, the azureuser_rsa SSH key no longer works to access the nodes after the upgrade.

**What you exp

[2018-04-09 14:41] dcieslak19973 commented on #2599
Thanks; I'll take a look at Ark - it sounds promising

[2018-04-09 14:51] sylus commented on #1603
Ah thanks @serbrech makes sense :) was curious as everything was working for you, glad to know just outside services.

[2018-04-09 14:54] andyzhangx commented on #2022
@jalberto thanks for the info, finally I reproed this issue by using StatefulSet, [detailed steps with statefulset](https://github.com/andyzhangx/demo/tree/master/linux/azuredisk/attach-stress-test/statefulset)
The root cause is `node.volumesInUse` is incorrect in my repro, it could be a common k8s issue:
https://github.com/kubernetes/kubernetes/issues/62282

To validate my finding, could you help

[2018-04-09 16:33] jackfrancis commented on #2607
@khaldoune Thanks! I'll have a PR today that we can test for a possible inclusion in a patch release.

[2018-04-09 17:14] igorgatis opened #2634 "Please add support for nameSuffix in cluster definition input file."
nameSuffix has a hash as default value. It would be nice if we could specify it in cluster definition file.

[2018-04-09 17:32] CecileRobertMichon commented on #2632
Hi @phillipgibson, when you first deployed your cluster, was the ssh key part of your apimodel?

[2018-04-09 17:47] CecileRobertMichon commented on #2591
@rakeshkulkarni6 @rakidu I am trying to repro this error. It looks like 14.6 might have introduced a regression causing transient deployment errors (possibly a race condition). In the meantime, if you retry you might get lucky and get a working cluster @rakeshkulkarni6. If you still have a cluster that failed with this error can you please share the content of `/var/log/azure/cluster-provision.log

[2018-04-09 18:10] robsonpeixoto opened #2636 "How to replace a service principal?"
I'd like to invalidate the current Service Principal and create another to use in a running cluster. How to replace this SP?

[2018-04-09 18:39] brusMX commented on #2627
@feiskyer that is a tricky question. By definition in the json file is enabled.
Nevertheless, when I SSH into the master I see that:

1. My kubelet process does not have hyperv as an argument in `features-gates`.
2. `/hyperkube apiserver` does have the flag `--feature-gates=HyperVContainer=true`

What does this mean?

Here is the command I ran to verify this:

[code]

[2018-04-09 19:16] khaldoune commented on #2631
@markwragg
I've faced the same situation with custom DNS. Of corse you should declare it in your VNET but you still declare the VMs in that DNS.

In order to do that, you can do things like that the API model that you can find in the issue #2607.

The source code is here:
[(https://gitlab.com/octo-carrefour-k8s/acs-extensions/raw/master/extensions/setup/v1/setup.sh](https://gitlab.com/octo-carrefo

[2018-04-09 20:17] brusMX commented on #2627
On the windows node, when I see at the kubelet process I see that it doesn't have the `--feature-gates` tag:

[code]

[2018-04-09 20:35] brusMX commented on #2627
@JiangtianLi Any pointers on this?

[2018-04-09 21:34] #2626 closed

[2018-04-09 21:35] neurot1cal commented on #2626
Ended up running `./acs-engine deploy` directly.

[2018-04-09 21:49] jdinard commented on #558
I'm having the same issue as @patrick-motard. Are there any updates to this?

[2018-04-09 23:08] brusMX commented on #2627
**Ok,  so I got it working with a few hacks.**
This is the bug to be corrected to make HyperV containers work out of the box with ACS Engine:

### [BUG] Missing "HyperV" flag on Kubelet.

Kubelet is not being started with the flag `--feature-gates=HyperVContainer=true`** despite having the correct configuration on the cluster json file definition.

[code]

To hack this manually you need to add thi

[2018-04-09 23:10] khaldoune opened #2645 "When docker takes too long to install, ensureK8s fails"
**Is this a request for help?**:
YES
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
BOTH
---

**What version of acs-engine?**:
commit #d5df071
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9.6

**What happened**:
Deployment fails while cluster is healthy

**What you expected to happen**:
Deployment OK

**How to reproduce it** (as minimally and precisel

[2018-04-09 23:14] CecileRobertMichon commented on #2645
@khaldoune we have been seeing a lot of those issues today, #2641 was just merged to ensure we wait long enough for Docker to be installed. This is due mainly to networking errors while running apt-get update in cloud-init (as shown by the log you pasted). Next step is to figure out why those errors are happening and how we can fix/improve it so we don't have to wait an hour for a working cluster.

[2018-04-09 23:32] rrudduck commented on #2636
Unless it's changed since the last cluster we deployed, you can just update the /etc/kubenetes/azure.json file with the updated credentials.

[2018-04-09 23:56] rjtsdl opened #2646 "Need to add EnableRBAC as a flag in v20180331 api model"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Feature Request

---

**What version of acs-engine?**:

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
We don't have a flag now

**What you expected to happen**:
We need a flag

**How to reproduce it** (as minimally and precisely as possible):

**Anything

[2018-04-10 00:41] robsonpeixoto commented on #2636
But the scale-up will use the older SP, right  @rrudduck ?

[2018-04-10 01:57] feiskyer commented on #2627
Another way to set it is  [kubeletConfig](https://github.com/Azure/acs-engine/blob/master/docs/clusterdefinition.md#kubeletconfig)

[2018-04-10 03:56] rrudduck commented on #2636
Before you scale the cluster, modify the apimodel.json file that was created as the output from the initial cluster creation. The new nodes will use the updated values.

[2018-04-10 07:28] serbrech commented on #1603
@sylus about what you wrote above, I believe that's the right approach, until PR #2590 from @axier lands :)

[2018-04-10 08:59] khaldoune commented on #2645
@CecileRobertMichon On the same page for 1 and 2.
2 means that 10 minutes are sometimes not enough to get a response for kubectl cluster-info.
Increase to 15?

[2018-04-10 08:59] jalberto commented on #2022
@andyzhangx

[code]

Which is the time goal for this task? probably should be in the seconds order not minutes?

[2018-04-10 10:31] jalberto opened #2649 "panic: runtime error: index out of range"
@jackfrancis I think this one is for you:

acs-engine 0.15.1

[code]

[2018-04-10 11:28] brusMX commented on #2627
@feiskyer thanks for the input!
Actually, I have tried it. I provisioned  new cluster using the following "hyperv-cluster.json" file:

[code]

And I got excited because I ssh into the master and kubelet was running with the needed hyperv flag.

**Nevertheless, when I RDP into the windows node kubelet doesn't have the hyperV flag:**

[code]

At least now, the only thing to do is to fix the way wind

[2018-04-10 12:51] ITler commented on #2480
@vpatelsj This not relevant for me anymore, as I now use 0.14.4 to deploy k8s 1.9.6

That's why I close this

[2018-04-10 12:51] #2480 closed

[2018-04-10 13:43] andyzhangx commented on #2022
@jalberto from your `node.volumesAttached` and `node.volumesInUse` the status of both two nodes is recovered. The detach or attach disk could cost around 1 min, so for two disks, rescheduling from one node to another should cost about 4 min. The long time waiting could be due to `node.volumesInUse` not updated correctly in kubelet.

[2018-04-10 15:04] ITler commented on #2464
Generally yes, but I don't care anymore, as I can bootstrap 1.9.6 using acs-engine 0.14.4

[2018-04-10 15:56] jdinard commented on #2027
I've installed the patch, and followed the directions from winterTTr, but my pods still can't resolve DNS names. Any more ideas as to why pods can't make any outgoing requests?

A simple C# program can't run, it loses internet every time.
try
			{ using (var client = new System.Net.WebClient()) using (var stream = client.OpenRead("http://www.google.com"))
				{ Console.WriteLine("INTERNET CONNECTI

[2018-04-10 16:47] CecileRobertMichon commented on #2645
By the time `ensureK8s()` runs, everything should be installed so 10 minutes should be plenty enough. The issue we were seeing was `ensureDocker()` running in parallel with https://github.com/Azure/acs-engine/blob/af09bedff53456110935acdcef87ec19be9fedb4/parts/k8s/kubernetesagentcustomdata.yml#L176 which meant that `ensureDocker()` sometimes would timeout before Docker was installed. We increased

[2018-04-10 16:50] CecileRobertMichon commented on #2649
@jalberto is this on a cluster with Windows nodes? Scale isn't supported on Windows yet... See #1972

[2018-04-10 16:51] jackfrancis commented on #2061
@EPinci would you be able to recreate your test against this PR:

https://github.com/Azure/acs-engine/pull/2650

If the "check for all nodes ready" CSE test is flaky in upgrade/scale situations, we should rethink this. The above prototype PR effectively removes that check (the longer term idea is that we would make that check configurable, say, for testing/debugging).

[2018-04-10 17:14] jalberto commented on #2649
@CecileRobertMichon nope, not windows at all

[2018-04-10 19:07] CecileRobertMichon commented on #2649
Alright I will look into it when I get the chance. Please send me your apimodel. Did you run an upgrade on the cluster before scaling?

[2018-04-10 19:10] mingw2358 commented on #2027
I've also followed directions from winterTTr, and I'm having a different kind of problem. It looks like the patch is not compatible with windowsservercore-1709 images.
After installed the patch, my pod (with base image microsoft/dotnet-framework:4.7.1-windowsservercore-1709) failed to pull down the image with the following errors:

 Failed to pull image "xxxxx": rpc error: code = Unknown desc = fa

[2018-04-10 19:47] jdinard commented on #2027
@mingw2358 That looks like a different issue. I was able to apply the patch on a new cluster that was provisioned using the Datacenter-Core-1709-with-Containers-smalldisk image.

I'm occasionally able to do an nslookup www.google.com on pods that have their dns servers manually set to the dns pods, but even then it generally fails.

At the moment DNS resolution is highly unreliable on the pods and

[2018-04-10 20:26] #2645 closed

[2018-04-10 20:26] khaldoune commented on #2645
Thanks @CecileRobertMichon

[2018-04-10 23:15] rjtsdl commented on #2646
Another PR needed to address this :)

[2018-04-11 03:05] feiskyer commented on #2627
So this is a Windows Kubelet config problem.  @JiangtianLi  Could you help to fix this issue?

[2018-04-11 07:08] pontusarfwedson commented on #2061
Just for input, the upgrade func will add "extra" nodes so the total number of nodes a lot of the time differ from the actual desired number of nodes. Do not have any more specifics but I noticed that behaviour running the upgrade (or upgrades) yesterday.

[2018-04-11 08:43] jalberto commented on #2649
No upgrade, just scale.
Judging by the panic I pasted is a deeper problem, a command like this should never throw a panic, but a descriptive error message.

[code]

[2018-04-11 10:55] jalberto commented on #2022
@andyzhangx  this happens too in AKS vanilla cluster 1.9.6 (just deployed)

![screenshot from 2018-04-11 12-54-22](https://user-images.githubusercontent.com/99927/38612638-a6bc201e-3d87-11e8-876a-bc09e2d43ee1.png)

[2018-04-11 11:08] andyzhangx commented on #2022
@jalberto is that volume removed in the node while still in that node's `volumesInUse` list?

[2018-04-11 11:25] andyzhangx commented on #2022
@jalberto pls also paste the `volumesAttached`, `volumesInUse` on the two nodes, I am collecting such info. This could be a k8s common issue. Thanks.

[2018-04-11 11:40] pontusarfwedson commented on #2061
@EPinci What log-file would that output end up in? Looking in `var/log/azure/cluster-provision.log` doesn't give me any of that output.

[2018-04-11 12:14] EPinci commented on #2061
@pontusarfwedson Actually, that was the log file. Probably you're not in case like mine where the node count of the agents changed after the initial deployment and not due to ACS-Engine scaling.

I was able, however, to run your changes and your workaround for the azure provider actually works while waiting for the official one - it complains about reregistration after the first node, but, hey, I

[2018-04-11 13:10] pontusarfwedson commented on #2061
Yeah, I feel we can live with that as well ;) But did you get the long timeouts when running my stuff? Since the agent nodes don't even run `ensureK8s` that cannot be the case for those :)

[2018-04-11 13:41] jalberto commented on #2022
@andyzhangx 2 hours already :)

![screenshot from 2018-04-11 15-39-36](https://user-images.githubusercontent.com/99927/38620373-9b32cec0-3d9e-11e8-8426-a2b3cbe01a87.png)

[code]

[code]

[2018-04-11 14:05] andyzhangx commented on #2022
@jalberto thanks, this is a clear evidence that `pvc-ffa219b5-3d74-11e8-94ea-0a58ac1f1128` is actually attached to the second node, while it's in volumesInUse list in first node. I will keep tracking this issue.
@feiskyer FYI

[2018-04-11 14:15] jalberto commented on #2022
@andyzhangx the `az vm update` trick didn't work, next one is to restart kubelet (ssh into aks is over complex)

[2018-04-11 14:53] jalberto commented on #2022
@andyzhangx `az vm run-command invoke -g foo_westeurope -n aks-nodepool1-22460035-2 --command-id RunShellScript --scripts "sudo systemctl restart kubelet"` didn't work either

[2018-04-11 15:11] jalberto commented on #2022
@andyzhangx if I restart every kubelet I get a new error...

![screenshot from 2018-04-11 17-08-50](https://user-images.githubusercontent.com/99927/38625638-31472436-3dab-11e8-8482-7f1d3b2516a5.png)

This is a brand new cluster, with mostly inexistent load or stress. This kind of problems convince me nor AKS nor acs-engine is ready even for basic usage

[2018-04-11 15:18] jalberto commented on #2022
the only solution that worked is:
- detach volume from portal
- vm update
- delete pod

This seems to me like a very critical issue

[2018-04-11 16:05] EPinci commented on #2560
Should get fixed by #2452 (?)

[2018-04-11 17:33] esheris commented on #2027
Hello,
I have been following this for a while, posted on it a while back also. Just wondering when the azure image that gets deployed will include kb4089848. I have been spinning clusters up and down regularly for the past few weeks and I have to install this kb each time. It is quite time consuming.

[2018-04-11 18:15] jobanputra opened #2657 "Deploy using client-id and client-secret command line switches throws an error"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**:  v0.15.1

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes

**What happened**:
We generate service principle on the fly and are not available to put in the api-model json file. I used the following command:
 `acs-engine deploy -

[2018-04-11 18:24] #2646 closed

[2018-04-11 18:32] JiangtianLi commented on #2027
@esheris Sorry for the delay and inconvenience. I will add kb in acs-engine soon.

[2018-04-11 20:41] CecileRobertMichon commented on #2596
This was done in #2641

[2018-04-11 20:41] #2596 closed

[2018-04-11 21:02] skinny opened #2658 "Starting dev environment with devenv.ps1 fails as of today"
As of today the `devenv.ps1` script started throwing errors about a missing package :

[code]

This makes building the project a lot harder ;-)

I tried this on two systems with clean clones of the github project.

[2018-04-11 21:05] CecileRobertMichon commented on #2658
@JiangtianLi can you take a look at this please?

[2018-04-11 22:40] CecileRobertMichon commented on #2658
@skinny as a workaround in the meantime you can run `make dev` to start a container and then run `make build` etc from there

[2018-04-11 23:02] mingw2358 opened #2659 "Fail to pull down images on windows node"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: v.0.15.1

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** 1.10.0

**What happened**: Failed to pull images with error:
rpc error: code = Unknown desc = failed to register layer: re-exec error: exit status 1: output: remove \\?\C:\ProgramDa

[2018-04-11 23:10] CecileRobertMichon commented on #2657
@jobanputra I tried to repro but the same command works for me (without quotes, using version `0.15.1`)... Here is the relevant code: https://github.com/Azure/acs-engine/blob/c7f5a61618e60f6adea94c9283da456ed38c834c/cmd/root.go#L79

Can you double check that you are passing in valid values for `--client-id` and `--client-secret`?

[2018-04-12 01:47] JiangtianLi commented on #2658
@skinny Thanks for reporting this. Fixed in https://github.com/Azure/acs-engine/pull/2660

[2018-04-12 09:02] jalberto commented on #2649
@CecileRobertMichon any progress? Did you find out why is that panic happening?

[2018-04-12 10:00] pontusarfwedson commented on #2061
And another FYI, tried to use the `scale` functionality on an existing cluster which caused the master nodes to change their IP addresses which messes up a bunch of stuff including etcd .. Currently trying to resolve.

[2018-04-12 10:12] carlpett opened #2662 "acs-engine scale reboots masters and rewrites network config"
**Is this a request for help?**:
Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

**What version of acs-engine?**:
v0.15.1

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9.2

**What happened**:
We issued an `acs-scale` command to add more nodes to our running cluster, since we were getting low on free resources.

After the new nodes were created, the f

[2018-04-12 10:18] aku105 commented on #2516
According to the [readme](https://github.com/Azure/acs-engine/blob/master/examples/addons/aci-connector/README.md), `image` is not a required parameter.
It looks like the defaults for `image` are not being set correctly at: https://github.com/Azure/acs-engine/blob/81a2d990ac8cadc4d408074837f55f49cc7e1457/pkg/acsengine/k8s_versions.go#L195-L229

[2018-04-12 12:09] EPinci commented on #2061
@pontusarfwedson I'm seeing strange things as well, even during upgrades the number of IP addresses allocated per node jumped from 30 to 111 (and then breaking up things).

[2018-04-12 12:14] pontusarfwedson commented on #2061
@EPinci You were not able to perform an upgrade successfully? Have to look into that, just saw that one of our major pods were in `CrashLoopBackoff`.

[2018-04-12 14:07] jalberto commented on #2022
thanks @andyzhangx for this great work, sadly there is not way in acs-engine nor aks to downgrade in a safe way (I don't believe is possible to upgrade in a safe way either though)

[2018-04-12 14:11] jobanputra commented on #2657
You were right. I was using the wrong credentials. However once I get past that I get the following error:
`INFO[0004] Error returned by LoadContainerService: ServicePrincipalProfile must be specified with Orchestrator Kubernetes`

`FATA[0004] error validating deployCmd: Failed to validate the apimodel after populating values: ServicePrincipalProfile must be specified with Orchestrator Kubernetes`

[2018-04-12 15:29] andyzhangx commented on #2022
@jalberto I have rechecked the code logic, looks like v1.10.0 won't have this issue, you may try that version instead.

[2018-04-12 15:30] andyzhangx commented on #2022
Actually I also tried on v1.10.0, pod rescheduling is fast and works well.

[2018-04-12 15:58] CecileRobertMichon commented on #2649
@jalberto not yet, I didn't have time to look at this yesterday. I completely agree with you that we should never throw a panic but rather catch it and return a descriptive error message. #2059 merged a while back and to address the same panic that was reported on a windows cluster, we need to understand why it is happening in your situation and not being caught. In my previous experience, the pan

[2018-04-12 16:10] esheris commented on #2027
Fairly serious question here. What is the full status of this issue? I am hoping to begin a migration into azure in the next few weeks but I can't really migrate with this issue as I need functional internal dns. Even applying the patch and following some recommendations above doesn't consistently resolve the issue.
Does this issue exist in RS1?
Is there a way to deploy an RS1 cluster with the cur

[2018-04-12 16:32] CecileRobertMichon commented on #2657
@jobanputra this looks like a bug. I added it to the backlog. In the meantime, you can get around the issue by pasting your client id and secret in your apimodel as follows: ``` {
  "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes"
    },
    "masterProfile": {
      "count": 1,
      "vmSize": "Standard_D2_v2"
    },
    "agentPoolProfile

[2018-04-12 16:33] amitshowry commented on #2476
I'm using single custom vnet["172.29.0.0/16"], subnet ["172.29.0.0/16"], Deployed ACS Kubernetes cluster  below versions
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes",
      "orchestratorRelease": "1.9",
      "orchestratorVersion": "1.9.4",

Default Namespace : Events
Error creating load balancer (will retry): failed to ensure load balancer for service default/ingress-nginx:

[2018-04-12 16:33] #2658 closed

[2018-04-12 16:53] jobanputra commented on #2657
Unfortunately we generate the service principal at runtime and so this work around does not work for us. But thank you for looking at the issue and helping.

[2018-04-12 17:01] neurot1cal commented on #2649
I have the same experience here trying to scale our clusters. Kubernetes 1.9.2, acs-engine 0.15.1

[2018-04-12 17:02] esheris opened #2665 "Metric Server CrashLoopBackOff on newly deployed clusters"
**Is this a request for help?**:

Help would be nice but really I don't see any other posts about this. My config is super basic.

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

**What version of acs-engine?**:

15.1

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Newly deployed cluster, 1.10.0 (and previous version 1.9.6) metrics-server

[2018-04-12 17:55] 4c74356b41 commented on #2027
@croemmich why do you think 6 months shall suffice? the whole docker on windows journeys is couple years old already. hardly production grade stuff at this point, unfortunately.

[2018-04-12 18:38] CecileRobertMichon commented on #2649
@jalberto @neurot1cal what does `kubectl get nodes` output look like on the cluster you are trying to scale?

[2018-04-12 18:47] croemmich commented on #2027
@4c74356b41 optimism, but you're probably correct sadly.

[2018-04-12 19:18] EPinci opened #2668 "Upgrade results in node with 111 IPs"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** ISSUE

---

**What version of acs-engine?**: v15.1

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** from v1.9.3 to v1.9.6

**What happened**:

I configured the cluster with AzureCNI and ipAddressCount set to 20.
During an upgrade run node get thorn down and rebuilt.
Original node had 20 IPs as exp

[2018-04-12 20:44] beaudryj opened #2670 "Restarting Windows Nodes"
Is this a request for help?:
Yes

Is this an ISSUE or FEATURE REQUEST? (choose one):
ISSUE

What version of acs-engine?:
Latest

Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)
Kubernetes 1.9.3

What happened:
I Shutdown my worker node in the portal to help cut down on daily costs as I am running this for a Dev/test Environment and would like to shutdown workers in evening and start up ag

[2018-04-12 22:17] bobjac commented on #2591
I am seeing a similar issue with version 15.1 of acs-engine and version 1.8.9 of kubernetes.  I am trying to deploy an cluster into an existing vNet.  The vNet has multiple subnets, but I am getting the same error when deploying master & agents to the same subnet or splitting the master & agents into different subnets.

[2018-04-12 22:30] CecileRobertMichon commented on #2670
@JiangtianLi any idea?

[2018-04-12 23:32] esheris commented on #2670
I had experienced this same issue multiple times while doing the same thing. I did find that if I use the "redeploy" option from the azure portal they come back up. I was running 2 windows nodes on the test cluster and at least 1 would need this done each morning.

[2018-04-13 00:14] JiangtianLi commented on #2670
@beaudryj Is there any workload running on the node? Can you get docker service log? When reboot, k8s setup will need to clean up containers and hns network. But if docker daemon fails before that, then the log probably will have some clue.

[2018-04-13 05:13] feiskyer commented on #2476
Kubernetes azure cloud provider doesn't handle multiple subnets well. Let me open an issue to track and fix this issue.

[2018-04-13 08:26] amitshowry commented on #2476
@feiskyer - Thanks, I'm not using multiple subnets here, its one vnet["172.29.0.0/16" Address space], subnet ["172.29.0.0/16"], i'm checking service principle with Cloud team.

[2018-04-13 08:32] jalberto commented on #2649
every node is ready

[2018-04-13 09:17] rncwnd79 commented on #2591
Same here with 15.2 and 3 masters, 3 agents.
In azure portal I get the already documented error message for all 3 masters (cse0, cs1, cse2).

The last lines from `/var/log/azure/cluster-provision.log`:
`++ /usr/local/bin/kubectl get nodes`
`++ grep Ready`
`++ wc -l`
`+ nodes=5`
`+ '[' 5 -eq 6 ']'`
`+ sleep 1`
`+ '[' 1 -ne 0 ']'`
`+ echo 'still waiting for active nodes after 1800 seconds'`
`still w

[2018-04-13 11:51] beaudryj commented on #2670
No, I did not do any of that as the "Serial Connection (Preview)" has been the only way I have been able to get into the nodes. I wasnt even able to spin up a win10 node on the network and WinRM into the node.

[2018-04-13 19:39] jackfrancis commented on #2668
Running a deployment, then a series of upgrades against this api model:

[code]
$ az network vnet show -n k8s-vnet-24809053 -g kubernetes-ukwest-78035 | grep 'networkInterfaces' | wc -l
      94
[code]

[2018-04-13 20:27] jackfrancis commented on #2668
Holding steady after the 1st upgrade (from 1.7.0 to 1.7.12):

[code]

[2018-04-13 20:34] EPinci commented on #2668
Weird I tried this multiple times and always with the same result (even the IP count!).
In my case had 3 masters and 3 nodes and then manually deleted two nodes VM form the portal.

Can you try just deleting one of the two nodes to see if this has an impact: this is exactly my scenario where the original node count get changed outside ACS-Engine (e.g.: autoscaler)?

Do you want me to send you my a

[2018-04-13 20:35] jackfrancis commented on #2668
Let's let my test keep running (there are 12 more upgrades to go). I'm not saying for sure that we can't repro yet. :)

[2018-04-13 22:41] jackfrancis commented on #2668
I take it back, I've been unable to repro. Yeah, please paste in the api model you're seeing this behavior on post-upgrade, and we'll repro using it as exactly as possible. Thanks!

[2018-04-14 13:47] kargakis opened #2680 "openshift: (re)survey gaps against azure ref arch functionality and open issues to cover their (re)implementation"
Moved from https://github.com/kargakis/acs-engine/issues/24

@jim-minter

[2018-04-14 13:49] kargakis opened #2681 "openshift: consider prebaking relevant docker images into golden images"
Or use the azure container registry

Moved from https://github.com/kargakis/acs-engine/issues/29

@jim-minter @kwoodson

[2018-04-14 13:50] kargakis opened #2682 "openshift: start to implement unit tests against certgen"
Moved from https://github.com/kargakis/acs-engine/issues/31

@jim-minter

[2018-04-14 13:51] kargakis opened #2683 "openshift: verify tar file ownerships and permissions and add test coverage"
Moved from https://github.com/kargakis/acs-engine/issues/35

@jim-minter

[2018-04-14 13:53] kargakis opened #2684 "openshift: use separate network security groups"
Moved from https://github.com/kargakis/acs-engine/issues/62

@pweil- @jim-minter

[2018-04-14 13:54] kargakis opened #2685 "openshift: remove references to reg-aws now that 3.9 has shipped"
Moved from https://github.com/kargakis/acs-engine/issues/64

@jim-minter

[2018-04-14 13:55] kargakis opened #2687 "openshift: revisit clusterUsername and clusterPassword in openshiftConfig"
Moved from https://github.com/kargakis/acs-engine/issues/75

@jim-minter

[2018-04-14 13:57] kargakis opened #2688 "openshift: review OpenShift Orchestrator for validation requirements"
Moved from https://github.com/kargakis/acs-engine/issues/76

@pweil- @jim-minter

[2018-04-14 13:58] kargakis opened #2689 "openshift: determine the correct type of storage qos for registry storage"
Moved from https://github.com/kargakis/acs-engine/issues/96

@jim-minter

[2018-04-14 14:00] kargakis opened #2690 "openshift: move parts/k8s/openshiftmasterscript.sh and friends to parts/openshift"
Moved from https://github.com/kargakis/acs-engine/issues/98

@jim-minter

[2018-04-14 14:05] kargakis opened #2691 "openshift: scripts should return failure if they fail"
Moved from https://github.com/kargakis/acs-engine/issues/101

@jim-minter

[2018-04-14 14:05] kargakis opened #2692 "documentation for the openshift orchestrator"
@jackfrancis can be assigned to me

[2018-04-14 14:06] kargakis commented on #2684
@jackfrancis can be assigned to me

[2018-04-16 07:14] htuomola commented on #2591
I also got this, acs-engine 0.15.2, kubernetes 1.9.6 and 1 master, 4 agents.

cluster-provision.log
[code]

Interestingly, if I run `kubectl cluster-info` manually, it hangs after posting the master status (which is shown with FQDN, contrary to the log above which has localhost).
With `kubectl cluster-info dump` I only get:
```Unable to connect to the server: dial tcp <master public IP>:443: i/o t

[2018-04-16 08:42] damaggio commented on #2657
@jobanputra while the bug gets solved, you could script everything and use jq to change the values in the json template file with appropriate client id and secret.

In linux you would do, for example:
jq ".properties.servicePrincipalProfile.clientId = \"${servicePrincipalClientId}\"" template.json > tmp.json && mv tmp.json template.json
and the same for servicePrincipalProfile.secret

Let me know

[2018-04-16 10:26] kargakis commented on #2629
@seanknox did you validate my suggestion? I have opened https://github.com/Azure/acs-engine/pull/2696 to update the example.

[2018-04-16 14:47] seanknox opened #2698 "Feature req: be able to use custom VHD images as source image"
**Is this a request for help?**: NO

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): FEATURE

---

**What version of acs-engine?**: master

---

Feature request: Following on the heels https://github.com/Azure/acs-engine/pull/2513 which allowed using a specific managed image as the source image,

[2018-04-16 15:59] #2629 closed

[2018-04-16 16:04] seanknox commented on #2698
Closing as this is already implemented.

[2018-04-16 17:17] jim-minter opened #2700 "openshift: PR gating"
I'd like to try to guarantee that openshift-related PRs to acs-engine are reviewed and signed off by an openshift team owner in addition to whatever other review/sign-off requirements acs-engine may have.  In the case that one openshift team owner submits a PR, a separate one should review and sign off.

Because of the structure of acs-engine it's difficult to neatly define "openshift-related".  P

[2018-04-16 17:17] jim-minter commented on #2700
@jackfrancis @CecileRobertMichon @pweil- @kargakis thoughts on the above rough idea?

[2018-04-16 17:24] pweil- commented on #2700
+1, a team to tag into PRs would be nice in addition to using the assignment mechanism just for making sure the OpenShift folks who aren't specifically assigned are aware of changes.

[2018-04-16 17:30] CecileRobertMichon commented on #2700
+1. You should also use the orchestrator/openshift label on openshift PRs + issues to identify them in the queue (in addition to tagging the relevant people/team).

[2018-04-16 17:31] jim-minter commented on #2700
And parts/openshift if/when we break out the master.sh & node.sh there

[2018-04-16 19:24] jobanputra commented on #2657
Yes. This is what I ended up doing.

[2018-04-16 19:39] jim-minter commented on #2700
@CecileRobertMichon I don't have the ability to add labels to existing PRs.

[2018-04-16 21:07] jbiel commented on #2027
The latest iteration of our cluster is still experiencing intermittent DNS issues. It doesn't just affect service IPs. The following configuration has been in place for ~4.5 days:

* Kubernetes 1.9.3. We will get this upgraded soon but looking at the changelogs doesn't reveal that any networking issues have been fixed in recent versions.
* Windows Server 2016 RS3 (1709)
* Docker EE preview version

[2018-04-16 22:05] CecileRobertMichon opened #2703 "Add a way to know what version of acs-engine a cluster was built with"
AFAIK, there is currently no way to know what version of acs-engine a cluster was deployed with. It would be useful to add the acs-engine version somewhere in the apimodel and/or the cluster logs for debugging purposes.

[2018-04-16 22:06] CecileRobertMichon commented on #2662
Hi @carlpett, what you're seeing is a side effect of PR #1966 (part of the 0.13.0 release) which was reverted by #2315 in v0.13.1... #1966 changed the default `firstConsecutiveStaticIP` which broke backwards compatibility for all previously built clusters. Reverting to the previous default of `"10.240.255.5"` fixed upgrade and scale for previously built clusters but unfortunately upgrading/scaling

[2018-04-17 06:03] lehtiton commented on #2591
Is there any configuration of which it is possible to generate Kubernetes cluster at the moment. I have tried quite a many orchestratorRelease & orchestratorVersion combinations and getting the same error with all of the trials: "VM has reported a failure when processing extension 'cse0'."

Here is my latest trial:
{
  "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "or

[2018-04-17 06:13] carlpett commented on #2662
Thanks for the explanation @CecileRobertMichon!
We will have some discussions internally if we can rebuild with new clusters, or if we should try to go the tweaking route.

[2018-04-17 12:44] sylus opened #2709 "feat(ext): Add choco extension with param support"
**Is this a request for help?**: Adds a Windows extension example; in this case an extension which installs packages passed as parameters via the Choco package manager. Very similar to how the one that works in DevTestLabs.

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Links to P.R. https://github.com/Azure/acs-engine/pull/2707

---

**What version of acs-engine?**: v0.15.2

---

*

[2018-04-17 13:59] jim-minter opened #2710 "openshift: need to verify bindata.go is up-to-date at commit"
acs-engine CI must verify the generation of pkg/openshift/certgen/templates/bindata.go and reject an incoming PR if the enclosed bindata is wrong.

[2018-04-17 13:59] jim-minter commented on #2710
@kargakis @pweil-

@CecileRobertMichon @jackfrancis we should add this promptly - is that something we can do or must it be done on your side?

[2018-04-17 15:38] kargakis commented on #2700
Btw github already supports a form of our OWNERS file process, albeit it's slightly different in that the CODEOWNERS file needs to exist in certain places inside a repo and it's only used for requesting reviews and not for gating PR merges.

https://help.github.com/articles/about-codeowners/

[2018-04-17 15:49] dcieslak19973 commented on #2692
Is the idea here to add "OpenShift" as another Orchestrator Type like DCOS, Kubernetes, and Swarm?

[2018-04-17 16:03] PatrickLang commented on #2430
Looks like 1.9.6 works

[2018-04-17 16:54] neurot1cal opened #2711 "metrics-server being scheduled on Windows nodes in Kubernetes 1.10"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
v0.15.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.10

**What happened**:
Metrics-server is attempting to be installed on our Windows nodepool, which fails.

**What you expected to happen**:
We expect metrics-server to be s

[2018-04-17 17:54] #2614 closed

[2018-04-17 20:44] #553 closed

[2018-04-18 08:46] ams0 commented on #2340
I have the same problem. It looks like it fails to create/install Etcd:

from _/var/log/azure/cluster-provision.log_:

[code]
the content of _/etc/passwd_
[code]

and there's no _/usr/bin/etcd_ ! It's weird, it says that user etcd exists but there's no trace of it in /etc/passwd.

[2018-04-18 10:51] ams0 commented on #2340
@richardjortega may know why?

[2018-04-18 13:12] rakidu opened #2715 "3 master cluster with internal load balancer timeout issues"
**Is this a request for help?**:
yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
ACS-Engine 15.2
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9.5

**What happened**:
we deployed kubernetes 3 master private cluster. The deployment is successful.
The challenge is the kubectl commands are not working as expe

[2018-04-18 16:49] CecileRobertMichon commented on #2715
Hi @rakidu, please see https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/features.md#private-cluster.

This is expected behavior if you are running `kubectl` commands while ssh'd on the master. It is recommended to `export KUBECONFIG=_output/YOUR_CLUSTER_NAME/kubeconfig/kubeconfig.YOUR_REGION.json` and run `kubectl` commands locally (ie. from a jumpbox in the same VNET or directly on

[2018-04-18 17:45] jim-minter commented on #2710
Plan: update the tests that are triggered by the global makefile to handle this.

[2018-04-18 17:45] jim-minter commented on #2700
cf https://github.com/Azure/acs-engine/issues/2690

[2018-04-18 18:36] CecileRobertMichon commented on #416
fixed via #1854, #1954 and #2618.

[2018-04-18 18:36] #416 closed

[2018-04-18 18:40] #178 closed

[2018-04-18 20:26] CecileRobertMichon commented on #563
@JiangtianLi any update on this?

[2018-04-18 20:35] lehtiton commented on #2476
Anyone got this working?

I have been trying to create a cluster with acs-engine that is deployed to my private vnet (need a data center l2l vpn access) for a long time now and would really appreciate if someone could give me some hints how to get that done. I have just faced an issue after issue. I have tried several versions of acs-engine with several different orchestrator releases and version.

[2018-04-18 20:40] lehtiton commented on #2591
@CecileRobertMichon thanks for your help. I managed finally getting rid of the issue by changing something in the configs (I guess). I have tried so many times with so many different configurations that cannot keep book any more of those. However, I still faced a couple of issues that I commented to another issue https://github.com/Azure/acs-engine/issues/2476 in case you would have any hints how

[2018-04-18 20:55] JiangtianLi commented on #563
@CecileRobertMichon Not yet. Will revisit. Please assign to me.

[2018-04-18 21:58] lehtiton commented on #2476
Updating previous post above so that after creating the service principal again (az ad sp create-for-rbac --role="Contributor"  --scopes="/subscriptions/***") I got rid of the issues 2 and 3. However the  issue 1 with connecting to my pod (from master) still remained.

Here is what I get when calling e.g. "kubectl logs <pod>":
Error from server: Get https://k8s-agentpool1-31111984-0:10250/containe

[2018-04-18 22:04] jackfrancis opened #2720 "k8s image registry changes"
Req's TBD, high level overview of the expected near-term changes to k8s image hosting here:

https://groups.google.com/forum/#!topic/kubernetes-dev/ytjk_rNrTa0

[2018-04-18 22:36] lehtiton commented on #2597
Does anyone know any workaround for this? I am facing this same issue with acs-engine 0.15.1 and orchestration version 1.8.8.

[2018-04-19 05:04] lachie83 opened #2722 "enableEncryptionWithExternalKms feature doesn't work with keyvaultSecretRef"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: master (5509886618191015a477503f862e1cffec62b881)

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** Kubernetes

**What happened**:

Deployment validation breaks if you have a cluster definition with enableEncryptionWithExternalKms and keyva

[2018-04-19 05:06] lachie83 commented on #2722
I believe the issue is here - https://github.com/Azure/acs-engine/blob/master/pkg/acsengine/engine.go#L704

[2018-04-19 05:06] lachie83 commented on #2722
cc @ritazh

[2018-04-19 05:27] ritazh commented on #2722
@lachie83 To use the `enableEncryptionWithExternalKms` feature, you need to add the following to your apimodel, as shown here: https://github.com/Azure/acs-engine/blob/master/examples/kubernetes-config/kubernetes-data-encryption-at-rest-with-external-kms.json

[code]
and
[code]
`objectId` is the objectId of the service principal used to create the key vault in the same resource group as the cluste

[2018-04-19 05:38] ams0 commented on #2340
Looks like etcd service is now run by rkt on ContainerLinux:
[code]

so the whole script at https://github.com/Azure/acs-engine/blob/master/parts/k8s/kubernetescustomscript.sh needs to be modified to reflect that.

[2018-04-19 05:38] ritazh commented on #2722
"vaultID": "",
        "secretName": "",
        "version": ""
      }

I think this snippet you referenced earlier is used if we want to tell acs-engine to retrieve the k8s deployment `servicePrincipalProfile` `secret` parameter from Azure KeyVault instead of providing the secret directly.

[2018-04-19 14:09] amitshowry commented on #2476
@lehtiton - After creating sp, you have to Add "SPN object ID" in IAM role as "Contributor" of target ResourceGroup where Cluster will be deployed

az role assignment create --assignee "Object_ID" --role "Contributor" --scope "/subscriptions/Subscription_ID/resourceGroups/RG_NAME"

[2018-04-19 17:34] lachie83 commented on #2722
Spoke with Rita and clarified the issue. This needs to be reoponed and a code fix made

[2018-04-19 17:36] CecileRobertMichon commented on #2720
Fixed in #2721

[2018-04-19 17:36] #2720 closed

[2018-04-19 17:36] CecileRobertMichon commented on #2234
What's the status of this?

[2018-04-19 17:37] #2246 closed

[2018-04-19 17:48] CecileRobertMichon commented on #1789
this is an ACS issue, not acs-engine. Please open a support request if this is still relevant.

[2018-04-19 17:48] #1789 closed

[2018-04-19 17:49] CecileRobertMichon commented on #1807
@seanknox is working on #2724 FYI

[2018-04-19 17:51] CecileRobertMichon commented on #1800
Can we close this or are we not there yet?

[2018-04-19 17:52] #1279 closed

[2018-04-19 17:53] #1240 closed

[2018-04-19 17:53] CecileRobertMichon commented on #1315
Is this still relevant?

[2018-04-19 17:57] jsturtevant commented on #2665
Confirmed with 15.2:

[code]

[2018-04-19 18:06] jsturtevant commented on #2665
dupe of #2421

[2018-04-19 18:21] sozercan opened #2728 "Deploy from acs-engine doesn't immediately exit if deployment fails"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue
---

**What version of acs-engine?**:
v0.16.0-rc.4

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
When deploying using `./acs-engine deploy _clusters/mycluster.json` it doesn't exit if deployment fails on certain things like GPUs not being available on certain regions, even though deplo

[2018-04-19 18:29] JiangtianLi commented on #1315
@CecileRobertMichon you can close it. We already support minor-minor version of zip.

[2018-04-19 18:36] CecileRobertMichon commented on #1315
Thanks @JiangtianLi

[2018-04-19 18:36] #1315 closed

[2018-04-19 18:36] rite2nikhil opened #2729 "Pod namespace sharing enabled, pause container not reaping zombies for k8s 1.7+ and docker 1.13.1"
Reaping zombies is only done by the pause container if you have PID namespace sharing enabled, and currently it is only available in Kubernetes 1.7+. It is enabled by default if running Kubernetes 1.7 with Docker 1.13.1+ unless disabled with a kubelet flag (--docker-disable-shared-pid=true). This was reverted in Kubernetes 1.8 and now it's disabled by default unless enabled by a kubelet flag (--do

[2018-04-19 18:43] srinathnarayanan opened #2730 "Unable to RDP-SSH to windows machine ina hybrid kubernetes cluster"
I have spun up an hybrid Kubernetes cluster with 2 windows VMs and 2 Linux VMs, with a Master Node running on Linux. I am trying to RDP SSH into the windows machines using putty and followed this walkthrough: https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/windows.md#walkthrough

My Putty configurations:
Session:
   - HostName : Username@publicIP
   - Port : 22

Connection -> SSH -

[2018-04-19 18:47] CecileRobertMichon commented on #2730
@JiangtianLi can you please help @srinathnarayanan to ssh into his windows agent? I tried to help but not sure what is wrong with his config

[2018-04-19 18:51] JiangtianLi commented on #2730
@srinathnarayanan Once you have the ssh connection, next step is to RDP to localhost:3390 in your case.

[2018-04-19 19:07] richardjortega commented on #2340
@ams0 Thanks for tracking it down. Since you're down the path already, did you want to test and submit the PR for it?

[2018-04-19 19:56] srinathnarayanan commented on #2730
Hi @JiangtianLi I'm not sure how to RDP from a linux machine to the windows machine. Should I use XRDP?

[2018-04-19 19:59] JiangtianLi commented on #2730
@srinathnarayanan Are you using PUTTY on Linux?

[2018-04-19 20:08] srinathnarayanan commented on #2730
I installed PUTTY on linux, but am getting a "Gtk-Warning : cannot open display" error

[2018-04-19 20:34] srinathnarayanan commented on #2730
I enabled X11 forwarding and got putty to work on the linux master node, but am unable to connect to the windows agent. What should the new putty configs be?

[2018-04-19 20:38] srinathnarayanan commented on #2730
@JiangtianLi My local machine is windows, and I am using Putty on it

[2018-04-19 20:38] JiangtianLi commented on #2730
@srinathnarayanan To clarify, I was not referring to the master node in k8s cluster. I was referring to the client machine where you run PUTTY and ssh to master node. Is your client machine Linux or Windows?

[2018-04-19 20:38] JiangtianLi commented on #2730
@srinathnarayanan Then you use RDP on your local machine with localhost:3390

[2018-04-19 20:44] srinathnarayanan commented on #2730
Got it. Was able to login now. Thanks for your help! I will close this issue now.

[2018-04-19 20:44] #2730 closed

[2018-04-19 22:10] neurot1cal commented on #2711
I've added a `nodeselector` statement for this on my deployment, but now when my pod is starting up on my linux nodes, I'm getting the following errors - Any ideas? This was a vanilla cluster generated using acs-engine, and my metrics APIs are all broken :(

[code]

[code]

[2018-04-19 23:36] #2729 closed

[2018-04-20 01:41] srinathnarayanan opened #2735 "Failed to pull docker image for windows container in Hybrid Kubernetes cluster"
I am trying to spin up an Hybrid Kubernetes cluster with linux and windows VMs. I have an azure container repository from which I pull 2 images (one each for linux and windows). While the deployment for Linux goes ahead with no issues, the Windows deployments fail. I ran "kubectl describe pod WINDOWS_POD_NAME" and got the following event logs, which had the following failure :

Failed to pull imag

[2018-04-20 17:57] #1041 closed

[2018-04-20 17:58] #1035 closed

[2018-04-20 17:58] #994 closed

[2018-04-20 17:58] #969 closed

[2018-04-20 17:59] #1053 closed

[2018-04-20 17:59] #1105 closed

[2018-04-20 18:01] #1109 closed

[2018-04-20 18:02] #1359 closed

[2018-04-20 18:04] #1320 closed

[2018-04-20 18:04] #1327 closed

[2018-04-20 18:04] #1300 closed

[2018-04-20 18:04] jim-minter commented on #2683
@kwoodson - worth taking a look at?

[2018-04-20 18:04] jim-minter commented on #2682
@kwoodson - worth taking a look at?

[2018-04-20 18:04] jim-minter commented on #2690
@kwoodson - worth taking a look at?

[2018-04-20 18:06] jim-minter commented on #2683
aim is to remove https://github.com/jim-minter/acs-engine/blob/4330d210ec31f2a29812d04c223cf168413f73f0/parts/k8s/openshiftmasterscript.sh#L38-L40

[2018-04-20 18:07] jim-minter commented on #2683
also confirm all key permissions are not group/world read/writable

[2018-04-20 18:41] jim-minter opened #2741 "openshift: pare down and remove certgen.Config struct"
see how much of certgen.Config can be removed to use native acs-engine structs

also see if it's possible to simplify https://github.com/jim-minter/acs-engine/blob/4330d210ec31f2a29812d04c223cf168413f73f0/pkg/acsengine/engine.go#L1748-L1777 ?

[2018-04-20 18:41] jim-minter commented on #2741
@kwoodson - worth taking a look at?

[2018-04-20 18:53] todoesverso opened #2742 "Document on handling acs-engine generated assets"
**Is this a request for help?**:
Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE REQUEST
---

**What version of acs-engine?**:
All.
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
This is just a request for suggestion/help (maybe add documentation) regarding using acs-engine for production.

My question/doubt is:

Once I do

[2018-04-20 19:02] todoesverso commented on #2278
Is there any update on this? Planned?
I would really use such a feature in my production cluster.

[2018-04-20 19:35] #1546 closed

[2018-04-20 19:36] CecileRobertMichon commented on #2014
@htuomola what does your apimodel look like?

[2018-04-20 19:45] EPinci commented on #2668
@jackfrancis Any chance you can give this a go? What do you think about it?

[2018-04-20 21:26] strtdusty opened #2744 "acs-engine re-deployment will break existing k8s service load balancers"
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

**What version of acs-engine?**:

0.15.1

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.10.0

**What happened**:
If a cluster has provisioned a load balancer inside Azure targeting an availability set subsequent deployments (incremental) of the acs-engine ARM template w

[2018-04-20 22:14] strtdusty commented on #2744
FYI, this happens when running acs-engine deploy or az group deployment create

[2018-04-20 23:28] CecileRobertMichon opened #2745 "Add unit tests and e2e tests for k8s 1.11"
Follow up on #2739

[2018-04-20 23:50] #2333 closed

[2018-04-20 23:54] #2124 closed

[2018-04-21 09:41] bailantaotao commented on #2649
i have the same problem, Kubernetes v1.7.9, acs-engine v0.12.5

[2018-04-21 19:06] marty2bell commented on #1806
I got this error yesterday using acs-engine 15.2 with the distro set to coreos.  Removing this from the template and reverting to ubuntu mitigated the issue, but means we can't provision coreOS vms.

Marty

[2018-04-22 14:48] kwoodson commented on #2690
@jim-minter https://github.com/Azure/acs-engine/pull/2746

[2018-04-23 02:43] ams0 opened #2747 "[Feature request]Configurable provisioning scripts"
**Is this a request for help?**:

No, it's a feature request

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Feature request
---

**What version of acs-engine?**:

0.15
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes

**What happened**:

I want to fix an issue (#2340) that requires me to change the provisioning script for the master nodes. As far as I am

[2018-04-23 02:59] ams0 commented on #2462
It doesn't work currently (built acs-engine from master branch):

template:
[code]
error:
[code]

But I think that's not the case anymore for 1.10+. How to remove the check?

[2018-04-23 04:07] sozercan commented on #2462
For vmss on k8s, you'll need to wait until #2620 is merged

[2018-04-23 09:10] kargakis opened #2748 "Ensure failues in openshiftmasterscript are propagated back from acs-engine"
I just had a failed deployment
[code]
We need to ensure these kinds of failures are returned from acs-engine back to the user.

@jim-minter

[2018-04-23 10:30] jalberto commented on #2649
@CecileRobertMichon any progress in last 11days?

[2018-04-23 10:38] rinormaloku opened #2749 "Default Service Account missing"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

**What version of acs-engine?**:
 v0.15.2

api model:
[code]

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.8.4

**What happened**:
Creating a new pod causes the following exception:

Error from server (Forbidden): error when creating "pod.yaml": pods "pod-name" is forbidden: service account default/default w

[2018-04-23 10:45] ralbon commented on #979
Same error. @wbuchwalter is there any specificity for cluster deployed with custom vnet ?

[2018-04-23 10:46] htuomola commented on #2014
@CecileRobertMichon Hi, should've came back to this earlier. In my case the issue was with trying to provide service principal credentials via KeyVault and the KV secret was missing some permissions. As a result, the deployment was "successful" but without dashboard etc. I actually never got the keyvault-based service principal working but that doesn't relate to this..

[2018-04-23 12:22] jim-minter opened #2750 "openshift: IsOpenShift and IsKubernetes"
Under parts/k8s we appear to be using IsOpenShift and !IsKubernetes (and vice-versa) interchangeably.  Surely that doesn't make sense?  Can we decide on one and use it?  My leaning is that OpenShift customisations/modifications of parts/k8s should be flagged by IsOpenShift rather than !IsKubernetes?

[2018-04-23 12:34] jim-minter opened #2751 "LinuxProfile SSH embedded type"
The definition of LinuxProfile in pkg/api / pkg/api/vlabs is:

[code]

This is pretty unnatural and implies ugly type redefinitions in unit tests.  SSH should use a separate non-anonymous type.

[2018-04-23 12:38] jim-minter commented on #2751
@kwoodson you might like to take a look at this one

[2018-04-23 12:54] kargakis commented on #2748
No, it's not. This specfic failure is not intermittent though, do we want to track it here?

[2018-04-23 12:55] kargakis commented on #2750
Agreed, let's stick with IsOpenShift

[2018-04-23 13:11] rinormaloku commented on #2749
Update:
This issue is not present in Kubernetes version 1.8.11

[2018-04-23 14:18] kwoodson commented on #2748
As discussed in our standup today, I believe we can use the image from docker hub.  The code in the image is exactly the same since we are after the ansible roles.

https://hub.docker.com/r/openshift/origin-ansible/

Thoughts?

[2018-04-23 14:54] kargakis commented on #2748
@kwoodson makes sense to me after discussing more in IRC

[2018-04-23 16:02] neurot1cal commented on #2649
@CecileRobertMichon Sorry somehow missed this, here's the output of `kubectl get nodes`;

[code]

[2018-04-23 16:09] jackfrancis commented on #2692
@dcieslak19973 Red Hat is currently in the process of implementing OpenShift on Azure via acs-engine, yes.

[2018-04-23 16:19] kargakis opened #2752 "openshift: ansible service broker api server image fails to get pulled"
[code]
The deployment eventually fails so the tsb api server is never installed.

@jim-minter

[2018-04-23 16:29] ewok2030 commented on #2133
Is #2084 a duplicate of this?

[2018-04-23 16:34] ewok2030 commented on #2132
Is this not already implemented by setting the `EnablePodSecurityPolicy` as completed in #2048 ?

[2018-04-23 17:54] CecileRobertMichon commented on #2568
@neurot1cal is https://github.com/Azure/acs-engine/blob/master/docs/kubernetes-day2-operations.md what you're looking for?

[2018-04-23 17:56] CecileRobertMichon commented on #2624
/cse-sync-week

[2018-04-23 19:40] ams0 opened #2754 "Scaling broken with "Unknown JSON tag subjectAltNames""
**Is this a request for help?**:
yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
issue

---

**What version of acs-engine?**:
0.15
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.8.11

**What happened**:
Trying to scale a 1.8.11 cluster (tried with 1.9 and 1.10, same thing), failed:

[code]

_subjectAltNames_ is in the apimodel.json as _null_.

**Wha

[2018-04-23 19:57] CecileRobertMichon commented on #2754
@ams0 was the cluster deployed and scaled with v0.15.0? Did you add the `subjectAltNames` property or was it automatically added when you generated the apimodel?

[2018-04-23 19:58] ams0 commented on #2754
my bad, I meant to say I built and scale with a build from master branch:

[code]

[2018-04-23 20:06] CecileRobertMichon commented on #2754
@ams0 that's a bug. I think I know what the fix is, let me push a quick PR. Thanks for reporting!

[2018-04-23 20:08] ams0 commented on #2754
Thanks! btw, with binary release works great:

[code]

[2018-04-23 20:13] CecileRobertMichon commented on #2754
Good to hear. The bug is a side effect of #2656 which was merged last week (not yet included in a release). Opened PR #2755 to fix it, running tests on it.

[2018-04-23 20:39] rocketraman commented on #1806
I just upgraded a cluster from 1.7.5 to 1.8.10 via acs-engine 0.15.2 and ran into this issue. The cluster uses Azure CNI and Ubuntu.

The resource group Deployment is still showing the Failure if more details are needed.

Ignoring the error, and resuming the upgrade seems to have worked fine, but the cse0 extension on the master VM is still showing status "Provisioning failed". I don't know what t

[2018-04-23 20:50] wbuchwalter commented on #979
Haven't tried this with custom vnet myself, maybe @jackfrancis would know?

[2018-04-23 22:25] dtzar commented on #2587
Just checked and now with some change merged to master since this issue has resolved the problem.

[2018-04-23 22:25] #2587 closed

[2018-04-23 22:29] CecileRobertMichon commented on #2754
@ams0 did you deploy your cluster and scale from the same commit?

[2018-04-23 22:43] jackfrancis opened #2757 "journald options"
Currently we statically define journald config:

[code]

Let's expose a configuration interface for these (and future) settings.

[2018-04-23 22:48] #2690 closed

[2018-04-23 22:53] #487 closed

[2018-04-23 22:55] #538 closed

[2018-04-23 23:01] #472 closed

[2018-04-23 23:05] #502 closed

[2018-04-23 23:08] CecileRobertMichon commented on #721
`make build` should work.

[2018-04-23 23:08] #721 closed

[2018-04-23 23:09] CecileRobertMichon commented on #718
@jackfrancis any idea if this is still an issue?

[2018-04-23 23:10] jackfrancis commented on #718
Let's assume no based on age and lack of thread count

[2018-04-23 23:11] CecileRobertMichon commented on #713
@jackfrancis we should maybe formalize the release process and include it in the docs like draft does + update https://github.com/Azure/acs-engine/tree/master/docs/roadmap because it doesn't seem very up-to-date.

[2018-04-23 23:11] #718 closed

[2018-04-23 23:42] #1621 closed

[2018-04-23 23:42] #2202 closed

[2018-04-24 00:26] #699 closed

[2018-04-24 00:27] #700 closed

[2018-04-24 00:27] #690 closed

[2018-04-24 00:28] #599 closed

[2018-04-24 00:30] CecileRobertMichon commented on #902
@seanknox can I close this issue?

[2018-04-24 00:30] #873 closed

[2018-04-24 00:32] CecileRobertMichon commented on #847
@JackQuincy any update on this? this looks to be an ACS question. I will close the issue of no objections.

[2018-04-24 00:36] #890 closed

[2018-04-24 00:40] CecileRobertMichon commented on #848
Closing as there seems to be a workaround. Feel free to comment if you think it should stay open.

[2018-04-24 00:43] CecileRobertMichon commented on #676
If someone picks this up during cse sync week we might have to revisit to make sure it is still needed and relevant.

[2018-04-24 00:46] CecileRobertMichon commented on #668
@lachie83 do we still want this? Where does it fit in terms of priority?

[2018-04-24 00:48] #816 closed

[2018-04-24 00:51] #742 closed

[2018-04-24 00:54] #793 closed

[2018-04-24 01:00] CecileRobertMichon commented on #2576
Update: coverage is now 47% (https://codecov.io/gh/Azure/acs-engine). Codecov integration was added in #2719 to help us track coverage in PRs.

[2018-04-24 01:07] CecileRobertMichon commented on #2649
@neurot1cal this looks like a Windows cluster... Scale wasn't supported for windows agent pools last time I checked (TODO: make sure we have documentation that explicitly says this and return a better error message, definitely not a nil panic).

@jalberto I haven’t been able to repro yet, I will make sure this gets prioritized this week.

[2018-04-24 01:29] radhikagupta5 opened #2760 "acs-engine code is using older key for azure-cli install"
In latest master the Docker file is installing latest az-cli using,

RUN apt-get update \
    && apt-get install apt-transport-https \
    && echo "deb [arch=amd64] https://packages.microsoft.com/repos/azure-cli/ wheezy main" > /etc/apt/sources.list.d/azure-cli.list \
    && apt-key adv --keyserver packages.microsoft.com --recv-keys 52E16F86FEE04B979B07E28DB02C46DF417A0893 \
    && apt-get update

[2018-04-24 05:33] BrendanThompson commented on #1806
I am seeing this same issue with the following:

|Application|Version|
|---|---|
|`acs-engine`|v0.16.0|
|`k8s`|1.10|

The cluster is trying to use Ubuntu with Azure CNI

[2018-04-24 07:45] bramvdklinkenberg opened #2761 "Upgrade Helm chart removes ELB + PubIP and expects a specific NSG"
**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: v0.16.0

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes 1.7.7

**What happened**: Upgrade of helm chart stable/ginx-ingress fails because it is expecting a nsg in the specific resource group.

_$ kubectl describe svc nginx-ingress_
Error creating load balancer (will re

[2018-04-24 17:04] PatrickLang commented on #2627
btw - here's my gist with steps to deploy. https://gist.github.com/PatrickLang/2cf4b81c9518e531b828a71e4c430332

Looking forward to `kubeletConfig` making this easier :)

[2018-04-24 17:34] CecileRobertMichon commented on #1037
Closing as #546 was merged.

[2018-04-24 17:34] #1037 closed

[2018-04-24 17:54] CecileRobertMichon commented on #1806
@rocketraman and @BrendanThompson please share the apimodel you used to generate the template/deploy the cluster as well as the exact error message (what was the error code?).

[2018-04-24 17:54] brusMX commented on #2627
Thanks for the input @PatrickLang, good idea just replacing the output script before deployment. I am waiting for @JiantianLi to roll a fix :)

[2018-04-24 18:00] #1015 closed

[2018-04-24 18:02] JiangtianLi commented on #2627
@brusMX Assigned and will work on it. Thanks for reporting.

[2018-04-24 18:06] rocketraman commented on #1806
Here is my API model, with private information elided:

[apimodel.json](https://github.com/Azure/acs-engine/files/1943992/apimodel.json.txt)

Here is the error (operation status was "Conflict", Provisioning state is "Failed"):

[code]

Same exact error on two different clusters.

[2018-04-24 18:17] seanknox commented on #902
Yep!

[2018-04-24 18:17] #902 closed

[2018-04-24 18:27] rocketraman commented on #1806
@CecileRobertMichon I think I understand what happened in my case.

Looking at `/var/log/azure/cluster-provision.log`, it looks like it failed because it couldn't connect to etcd. This is probably because of some customizations I had made to the pre-upgrade cluster due to some other weirdness [1]. This prevented the upgraded cluster etcd from starting up and the cse0 script to fail.

[1] In my pre

[2018-04-24 20:51] ams0 commented on #2754
yes, I always use daily builds of acs-engine. I then delete the cluster, regenerate templates and redeployed with the 0.15 release, and everything went smooth (upgrade included, yey!).

[2018-04-24 21:13] #2403 closed

[2018-04-24 21:15] CecileRobertMichon commented on #2754
I wasn't able to repro the error you were seeing in master, when you get the chance can you try deploying + scaling again from master and let me know if you are still seeing the validation error.

[2018-04-24 23:25] JiangtianLi commented on #563
@JamesEarle Haven't got chance to work on it. Feel free to chime in.

[2018-04-24 23:41] jim-minter commented on #2685
@kargakis please close, fixed by #2759

[2018-04-24 23:49] jim-minter commented on #2748
@kargakis I believe this can be closed now we're on the new subscription and that #2759 is merged?

[2018-04-25 02:34] #2722 closed

[2018-04-25 06:49] #2685 closed

[2018-04-25 06:50] #2748 closed

[2018-04-25 07:52] kargakis commented on #2688
managed disks validation: https://github.com/Azure/acs-engine/pull/2737

[2018-04-25 08:57] DanielWangZhanggui opened #2766 "`vnetCidr` doesn't work properly"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
v0.15.2
---
[code]

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes: v1.10.1

**What happened**:
the Cidr is setting kubernetes service CIDR
[code]

**What you expected to happen**:
The settings should  be applied to `cluster-cidr` or VNe

[2018-04-25 13:08] y325A opened #2767 "Svchost & HNS causing high CPU and memory consumption"
**Is this a request for help?**:
Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue

**What version of acs-engine?**:
0.14.4

**Orchestrator and version**
Kubernetes 1.9.6
Docker 17.06.2-ee-6

**Windows version**
1709, 16299

**What happened**:
svchost.exe running with arguments `-k netsvcs -p -s hns` is using a high amount of memory (879,860 K working set) and frequently spikes to

[2018-04-25 13:53] DonMartin76 opened #2768 "Multiple clusters - dynamic PVCs try to access wrong storage account (of other resource group)"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: 0.16.0

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes 1.9.7

**What happened**: We are provisioning persistent volumes using the `default` storage class, and this worked fairly good in 1.9.6, but there were some issues when p

[2018-04-25 14:39] DonMartin76 commented on #2768
@andyzhangx Pointed me to this: https://github.com/kubernetes/kubernetes/issues/55837 This issue is fixed as of 1.10.0, he says. Keeping this around for reference?

[2018-04-25 14:46] andyzhangx commented on #2768
this bug only exists in blob based VM in v1.8.x and v1.9.x, so if you specify `ManagedDisks` when creating k8s cluster, it won't have this issue.
[code]

[2018-04-25 17:40] serbrech commented on #733
If the goal is to solve the configuration in a generic way, and potentially extend it with other sources later (env, yaml, toml, ...) I would suggest looking at existing libraries managing configuration sources.
one pretty extensive implementation is was built by Containous, to manage Traefik configuration from toml, or commandline.

see [containous/staert](http://github.com/containous/staert)

Ho

[2018-04-25 17:57] #2750 closed

[2018-04-25 18:37] #980 closed

[2018-04-25 18:38] CecileRobertMichon commented on #917
Can we close this issue @jmspring?

[2018-04-25 18:39] jmspring commented on #917
Yes.

On Wed, Apr 25, 2018 at 11:38 AM, Cecile Robert-Michon <
notifications@github.com> wrote:

[2018-04-25 18:46] #917 closed

[2018-04-25 18:48] jackfrancis commented on #2766
Hi @DanielWangZhanggui, I'm not sure I understand the error. The `vnetCidr` value in your `masterProfile` snippet defines the CIDR block of the vnet that the master vm(s) will be placed into. Are you expecting that value to be converted literally to a k8s runtime config? (it's not, and a quick scan of the documentation suggests that the docs don't say that it will be converted to a controller-mana

[2018-04-25 18:49] jackfrancis commented on #2768
Thanks @andyzhangx. @DonMartin76 should we classify this as a known (won't fix) issue w/ 1.8 and 1.9 with non-ManagedDisks vms?

[2018-04-25 18:51] CecileRobertMichon commented on #2766
@DanielWangZhanggui your `vnetCidr` value in masterProfile will be ignored if the apimodel is not specifying a custom VNET (ie. no `vnetSubnetId`).

[2018-04-25 19:01] CecileRobertMichon commented on #2069
@mcops was this issue resolved?

[2018-04-25 19:25] DonMartin76 commented on #2768
@jackfrancis I don't think there's an awful lot you can do about it right now, except for waiting for it to be fixed upstream (I think @andyzhangx already flagged it for cherry picking at least to 1.9). It's documented here then, and the fix with the managed disks is also there. I would otherwise had said it can't really be a "won't fix", as VHD is still the default for acs-engine.

Will managed d

[2018-04-25 20:06] aheumaier commented on #676
Since a device name (/dev/sdc or /dev/nvme) has to be known cloud-init run time - udev doesnt help here

[2018-04-25 21:46] dmorgan-github commented on #2057
Never resolved. We decided to abandon the unmanaged container service. Eventually we abandoned azure itself. Went with AWS.

[2018-04-25 22:26] jackfrancis commented on #2768
@DonMartin76 It's a good question about ManagedDisks being default. The add'l Azure spend is the only thing I'm aware that might be objectionable to folks, would be nice to take a poll about this (does github do polls? 😝 )

[2018-04-25 23:41] #2691 closed

[2018-04-26 00:41] neurot1cal commented on #2568
This talks about how to reduce the number of nodes, either up or down, but doesn’t talk about how to redeploy a node if it ever becomes unhealthy or unresponsive. Seems strange to me that we have such a good set of patterns for auto healing primitives within the cluster, but node scaling, repair and reprovisioning are very manual.

Short of writing my own control loop outside of the cluster, or ho

[2018-04-26 02:43] DanielWangZhanggui commented on #2766
@jackfrancis  @CecileRobertMichon
Thanks for your reply!

Sorry for misunderstanding, I supposed the option `vnetCidr` will be a value of  kubernetes cluster-cidr.

I'll have a try on  vnetSubnetId

Thank you again!
Daniel

[2018-04-26 10:54] fluffy-cakes opened #2779 "ACS-Engine fails to upgrade Kubernetes"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
Version: v0.16.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.8.11

**What happened**:
Used https://github.com/Azure/acs-engine/blob/master/examples/kubernetes.json with acs-engine to generate & deploy kubernetes cluster. Add

[2018-04-26 11:01] paulmackinnon-adv365 commented on #2779
Adding `--debug` doesn't bring up much info either

[code]

[2018-04-26 16:44] jcorioland commented on #733
Right now working on implementing the feature by replacing the values directly in json using json query like library but yes, it makes sense to make it more generic to be able to handle different kind of source.

[2018-04-26 18:28] rguthriemsft commented on #2749
Seems like this is still occuring on a 1.9.7 cluster deployed through ACS engine.  I see this in the logs for add-on manager.  I only see two pods running in kube-system.  Add on manager and api.  What other information would be helpful?

@dtzar

Error from server (NotFound): serviceaccounts "default" not found
WRN: == Error getting default service account, retry in 0.5 second ==

[2018-04-26 18:52] aheumaier commented on #1643
https://github.com/Azure/acs-engine/pull/2774 fixes this issue

[2018-04-26 21:15] CecileRobertMichon commented on #2766
I'll close this issue to keep the queue clean, feel free to re-open if needed.

[2018-04-26 21:15] #2766 closed

[2018-04-26 22:43] #2462 closed

[2018-04-26 22:44] olilanz commented on #2462
Closed as duplicate

[2018-04-26 22:53] maniSbindra opened #2785 "In the test TestExpected in file engine_test.go effectively same function and parameters are used to generate the expected arm template and the generated arm template"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): This is an issue in my opinion

---

**What version of acs-engine?**: Most recent releases including 0.16.0

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes, issue is related to the Go test mentioned

**What happened**:
This in context of the Test **TestExpected** in https:

[2018-04-26 23:00] danigian commented on #2649
I did some tests with the apimodel @jalberto provided and it is working as expected with latest acs-engine version (v0.16.0).

It is also working in hybrid clusters ( only for Linux Agent Pools as scaling Windows Pool is not supported yet #1972 )

@jalberto if you still have problems with latest acs-engine, could you please tell the total number of VMs you have in that resource group?

[2018-04-26 23:29] CecileRobertMichon opened #2788 "Windows profile validation missing when there is at least one windows agentpool"
Repro:
- `acs-engine generate --api-model myapimodel` where `myapimodel` has at least one agentpoolprofile but no `windowsProfile`
- get an ugly error about has secret

We should validate that windowsProfile != nil when there is a windows agentPool and return an error along the lines of "windowsProfile is required when the cluster definition contains Windows agent pool(s)".

[2018-04-26 23:42] CecileRobertMichon opened #2789 "Refactor engine.go"
[engine.go](https://github.com/Azure/acs-engine/blob/master/pkg/acsengine/engine.go) is huge (2780) lines, we should refactor it into multiple files. Potential ways to refactor:

- extract parameters map to a new file
- getTemplateFuncMap should not contain actual functions, only map to functions. Example:
[code]

and define `GetKubeletConfigKeyVals(kc)` somewhere else.

[2018-04-27 03:14] karataliu opened #2790 "Remove deprecated Accelerators feature gateway for k8s"
A deployment of 1.11.0-alpha.1 would fail to start kubelet on agent

[code]

https://github.com/Azure/acs-engine/blob/v0.16.0/pkg/acsengine/defaults-kubelet.go#L109
https://github.com/kubernetes/kubernetes/pull/57384
https://github.com/kubernetes/kubernetes/commit/87dda3375b6155dca7679440321836e8ea0a6871#diff-84e72664a7cc9add01954d3a7b8cbb45L64

[2018-04-27 08:30] karataliu commented on #2790
Related #2545

cc @sozercan  @jackfrancis

[2018-04-27 08:31] carlpett commented on #2509
`kube-proxy` is run as an "addon" in the cluster, this means (to the best of my understanding) that the `kube-addon-manager` will reconcile the running definition with it's on-disk definition in `/etc/kubernetes/addons/kube-proxy-daemonset.yaml` every few minutes.
So, if you need to modify it, you have to change it on disk on all your master nodes.

[2018-04-27 15:29] aku105 opened #2793 "Logs for pods deployed to ACI (via aci-connector) not available"
**Is this a request for help?**:
Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

---

**What version of acs-engine?**:
0.15.2

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
When a pod is deployed to ACI using the aci-connector addon, we can not get it's logs using `kubectl logs`. This is because the ACI connector pod needs

[2018-04-27 17:32] jcorioland opened #2796 "Support --set flag for deploy command"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Feature Request

As describe in issue #733 it would be nice to support the --set flag for the deploy command as well, to be able to override api model json values directly in the CLI:

acs-engine deploy --set \
"masterProfile.count=3,\
agentPoolProfile.count=4,\
windowsProfile.adminPassword=${SOME_ENV_

[2018-04-27 17:46] elizabethhalper commented on #1850
Helpful documentation:
https://github.com/kubernetes/kubernetes/tree/master/cluster/addons
https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/addon-manager/README.md
https://kubernetes.io/docs/concepts/overview/extending/#extensions
https://kubernetes.io/docs/concepts/cluster-administration/addons/

[2018-04-27 17:55] #2258 closed

[2018-04-27 19:07] jackfrancis opened #2799 "Make ManagedDisk default"
Anecdotally, it's rare that folks want to build Kubernetes clusters w/ non-ManagedDisk, let's make it the default as (1) a convenience and (1) an opinionated expression of optimal cluster configuration for most scenarios.

We'll want to scour docs to ensure that we point out that ManagedDisk is the default, and to justify why.

[2018-04-27 19:31] PatrickLang commented on #2659
This is fixed in Docker 17.06.2-ee-9. Install & upgrade instructions here:
https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick-start/quick-start-windows-server#1-install-docker

ACS-Engine will get it automatically the next time the Windows Server image is updated

[2018-04-27 20:10] #2684 closed

[2018-04-27 20:42] sozercan commented on #2790
@jackfrancis i don't believe this applies to acs-engine yet since v1.11 (alphas for now) are not supported yet. Just something to keep in mind going forward, in k8s v1.11.x accelerators feature gate is deprecated (completely removed) so kubelet won't start if accelerators feature gate is specified, #2545 fixes this but needs approval from NVIDIA.

cc @lachie83

[2018-04-27 20:52] jackfrancis commented on #2790
We do actually have 1.11.0-alpha.1 support in acs-engine now so sounds like we should just remove this immediately for all 1.11.n and greater versions.

[2018-04-27 22:02] slack commented on #1930
/cc @JunSun17 @ozdanborne

[2018-04-27 22:28] nikhil-ag opened #2802 "kubectl proxy not working"
**Is this a request for help?**:
No
---
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.16.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes, 1.9.7

**What happened**:
kubectl proxy start successfully, but the dashboard doesn't open in browser. Opening http://127.0.0.1:8001/api/v1/namespaces/kube-system/services/kube

[2018-04-27 23:51] #2710 closed

[2018-04-28 00:05] CecileRobertMichon commented on #2616
As @marrobi pointed out, we also need to figure out how to allow the user to scale a private cluster if there is no jumpbox... The scale command relies on the fqdn to access the cluster and drain the nodes. If the cluster is completely private, how do we drain the nodes?

[2018-04-28 01:41] andyzhangx commented on #2799
@jackfrancis do you mean make managed disk as default storage class? current logic is: it depends on agent pool created, if agent pool is blob basd VM, than default storage class is unmanaged, otherwise it's managed.

[2018-04-28 01:47] karataliu commented on #2790
@jackfrancis I'm testing on master branch. Yes, I think removing it from 1.11.n should be right way to go but also want to make sure this aligns with #2545 .

[2018-04-28 02:39] ewok2030 commented on #2802
According to the [Kubernetes dashboard docs](https://github.com/kubernetes/dashboard/wiki/Accessing-Dashboard---1.7.X-and-above) you should access the dashboard at URL:

‘http://localhost:8001/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/‘

Maybe it was the missing colon? Or maybe try:

‘http://localhost:8001/api/v1/namespaces/kube-system/services/kubernetes-dashboard:/

[2018-04-30 07:55] Ritaja opened #2811 "acs-engine scale does not work"
**Is this a request for help?**:  Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: v0.13.1

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** Kubernetes

**What happened**: A Kubernetes cluster was created with acs-engine (with custom vnet) and when I try to scale the cluster with `acs-engine scale`, the deployment succee

[2018-04-30 09:03] yastij commented on #2175
cc @jackfrancis -  I can confirm this behavior in `northeurope`.

[2018-04-30 13:37] yastij commented on #2362
@jackfrancis - I can reproduce with 1 agentpool.

[code]
as you can see here, we try to update nodes using client-go

https://github.com/Azure/acs-engine/blob/244055e309cbf2732e370260e1340ab147b36325/pkg/operations/cordondrainvm.go#L54-L63

resulting in the following error `resource name may not be empty`.

the error gets to the calling function:

https://github.com/Azure/acs-engine/blob/244055e30

[2018-04-30 20:52] #2711 closed

[2018-04-30 21:03] aminebizid opened #2812 "How to add a new VM to my cluster"
**this is a request for help**:

**What version of acs-engine?**:
**0.16.1**

How to add a new VM to my cluster?

[2018-04-30 21:13] aminebizid commented on #2812
https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/scale.md

[2018-04-30 21:13] #2812 closed

[2018-04-30 21:54] khaldoune commented on #2362
@jackfrancis @CecileRobertMichon
@yastij and I are working on the same project. Thanks for your assistance.
@yastij Is it feasable to work on a forked version and push a pull request?

[2018-04-30 22:19] dd-cedric opened #2815 "acs-engine upgrade fails - Error upgrading Cluster Code="DeploymentFailed" Azure error: Write AvailabilitySets Failed"
**Is this a request for help?**: Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**:
Version: v0.15.2
GitCommit: 2e2fd9a7
GitTreeState: clean

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.6.9

**What happened**:
While running an acs-engine kubernetes upgrade from 1.6.9 to 1.7.16 the upgrade process quits wit

[2018-04-30 22:42] jackfrancis commented on #2799
@andyzhangx thanks, we'll do an audit to make sure that there aren't any VM skus that support managed storage that aren't configured for managed storage by default.

[2018-04-30 22:43] jackfrancis commented on #2768
We're gonna do this here: https://github.com/Azure/acs-engine/issues/2799

@andyzhangx suggests that this is already the case; that if your VM supports managed disk, you'll get it by default. Let me know if you experience otherwise!

[2018-04-30 22:43] #2768 closed

[2018-04-30 23:06] jackfrancis commented on #2175
So this is not a failure of the cordon and drain implementation, but rather in the network plumbing for the newly created VMs? (upgrade works by deleting/creating vms)

[2018-04-30 23:11] #2703 closed

[2018-04-30 23:26] #2420 closed

[2018-04-30 23:44] CecileRobertMichon commented on #2815
@dd-cedric what version of acs-engine was this cluster deployed with? Could you please share your cluster config (apimodel.json) please? Make sure you remove all secrets before sharing.

[2018-05-01 00:11] dd-cedric commented on #2815
Hi!

I think it was version 0.7.0 or 0.8.0 of acs-engine.

[apimodel.txt](https://github.com/Azure/acs-engine/files/1962544/apimodel.txt)

[2018-05-01 01:12] andyzhangx commented on #2799
@jackfrancis I did a PR a few months ago: [change default azure disk storage class for managed disk cluster](https://github.com/Azure/acs-engine/pull/1817) it has what you want.

[2018-05-01 02:10] BrendanThompson opened #2818 "AzureFile Mount fails - putting new line between storage account and domain"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
`v0.16.0`
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9

**What happened**:

When trying to use an Azure File Mount like below, it fails to mount.

[code]

**What you expected to happen**:
One expects the account to mount

*

[2018-05-01 05:53] BrendanThompson commented on #2818
Resolved by [kubernetes #63326](https://github.com/kubernetes/kubernetes/issues/63326)

[2018-05-01 05:53] #2818 closed

[2018-05-01 05:56] yastij commented on #2175
Yes

[2018-05-01 05:58] yastij commented on #2362
I'm at kubeCon, but I can manage to find some time and send a PR. I the mean time I'm fine with backporting the patch in our current version until the release.

[2018-05-01 13:07] gaurav218 opened #2823 "error validating generateCmd: specified api model does not exist"
Can anyone help with following issue while creating k8 acs cluster using acs engine

module.k8s_cluster.null_resource.deploy_acs: Error running command 'acs-engine generate k8s-rendered.json': exit status 1. Output: time="2018-05-01T18:28:54+05:30" level=fatal msg="error validating generateCmd: specified api model does not exist (k8s-rendered.json)"

I debugged and analyzed that error is thrown fr

[2018-05-01 16:27] khenidak opened #2824 "vmss deployment failing"
**What version of acs-engine?**:

Head @ `8d7d7202a2ccb57efacb6a7f937980c147785bb8`

Kubernetes VMSS deployment is failing with
[code]
the api-model i use is
[code]

Masters are deploying ok. but the CRP is failing for VMSS.

@sozercan FYI

[2018-05-01 17:16] CecileRobertMichon commented on #2823
Hi @gaurav218, are you running `acs-engine generate --api-model <PATH_TO_YOUR_APIMODEL>` ?

[2018-05-01 17:19] CecileRobertMichon opened #2826 "Remove deprecated kubelet flags in k8s 1.10/1.11+"
Multiple kubelet flags are now deprecated, they should be removed/set via a config file.

[code]

[2018-05-01 17:39] CecileRobertMichon commented on #2790
FYI @karataliu @sozercan @jackfrancis #2814 removes the accelerators feature gate for >= 1.11

[2018-05-01 17:42] gaurav218 commented on #2823
I am executing it with Terraform with following main.tf file and k8s.json. It fails at line
    command = "acs-engine generate k8s-rendered.json"
Any help will be appreciated.
main.tf
# ACS Engine Config
data "template_file" "acs_engine_config" {
  template = "${file(var.acs_engine_config_file)}"

  vars {
    // general settings
    k8s_version                     = "${var.k8s_version}"
    dns_p

[2018-05-01 17:45] CecileRobertMichon commented on #2823
Did you check that ` k8s-rendered.json` exists? Looks like it's not being created properly and acs-engine can't find the file...

[2018-05-01 17:46] sunnydoll opened #2827 "Pods not get assigned evenly"
**Is this a request for help?**:
Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

**What version of acs-engine?**:
Version: v0.12.3
GitCommit: 030e5dcc

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.7.9

**What happened**:
We are using ACS Engine to host one of our services. We had the issue that on 3/30/18 from 12:00am to 2:00pm we experienced the CPU

[2018-05-01 17:56] gaurav218 commented on #2823
Yes it is not generated, it fails at line
acs-engine generate k8s-rendered.json

[2018-05-01 17:58] CecileRobertMichon commented on #2823
@gaurav218 the generate command takes an existing apimodel json (your cluster config) and outputs an ARM template. The json that you pass in, in this case `k8s-rendered.json` should exist prior to running the `generate` command.

[2018-05-01 17:59] gaurav218 commented on #2823
Now i added blank file at folder location where k8s.json is present and it gives below error
![image](https://user-images.githubusercontent.com/26568744/39485766-6c9022ee-4d97-11e8-99d1-21f48c4b455e.png)

should i fill this json with start and end tags ?

[2018-05-01 18:35] gaurav218 commented on #2823
below command is executed and outputs as shown in screenshot
provisioner "local-exec" {
    command = "echo '${data.template_file.acs_engine_config.rendered}' > k8s-rendered.json"
  }
  depends_on = ["data.template_file.acs_engine_config"]

![image](https://user-images.githubusercontent.com/26568744/39487342-815adf2a-4d9c-11e8-854a-27b581337d2e.png)

fails with same error

[2018-05-01 18:45] CecileRobertMichon commented on #2823
@gaurav218 please check that `k8s-rendered.json` exists and contains your apimodel definition after running `command = "echo '${data.template_file.acs_engine_config.rendered}' > k8s-rendered.json"`, before running `acs-engine generate`. My guess is that ` k8s-rendered.json` isn't created properly.

[2018-05-01 18:48] sozercan commented on #2824
@khenidak can you try with managed disk?

[2018-05-01 18:53] karlmutch opened #2828 "Using k8s 1.9.7+ produces clusters that do work work and have missing kube-system pods"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
Version: v0.16.1
GitCommit: 232907b97
GitTreeState: clean
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
k8s 1.9.7, 1.10.2

**What happened**:
Using base acs-engine results in a cluster where only 2 kube-system pods are ever successfully sc

[2018-05-01 18:57] khenidak commented on #2824
Yes - looks like moving to `managedDisks` as `storageProfile` solved this problem. If we are not planning to support blob disks + VMSS (and we shouldn't) then we should validate against it. @jackfrancis

[2018-05-01 18:58] sozercan commented on #2824
@khenidak i am removing storage accounts from vmss and validating against it. @feiskyer did testing and looks like we can't attach AzureDisks to VMSS using storage accounts.

[2018-05-01 19:04] khenidak opened #2829 "cilium + vmss creates uanessacry route table"
When creating a cilium (CNI) based cluster a route table is created and  `controller-manager` is not configured with `--configure-cloud-routes=false` This causes

1. Route controller is enabled and creates route for each node (not needed for cilium CNI)
2. Cluster scale will be limited by 400 (limits of the route table)

**Action**:
When `cilium` is used then don't create `route-table` resource in

[2018-05-01 20:56] caseywatson commented on #2573
Was this ever resolved? I am facing the same issue.

[2018-05-01 22:04] JiangtianLi commented on #2573
@caseywatson what k8s version and acs-engine you are using? Do you have windows only cluster or hybrid cluster?

[2018-05-01 22:05] CecileRobertMichon opened #2832 "Windows doesn't support pre-release k8s versions"
Deploying a pre-release (ex. 1.11.0-alpha1) k8s version throws the following error:

[code]

For now all pre-release versions are disabled on Windows, we should enable pre-release version parsing and enable future pre-releases for Windows.

[2018-05-01 22:54] jackfrancis commented on #2799
Actually @andyzhangx PR #2833 is what I'm talking about

[2018-05-01 23:37] #2616 closed

[2018-05-02 00:06] #2745 closed

[2018-05-02 01:55] #2683 closed

[2018-05-02 04:02] RajaAyyapusetty opened #2835 "No Outbound connections from Windows containers in Kubernetes cluster"
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

**What version of acs-engine?**:

0.16.0

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.10.1

**What happened**:
I've setup a Kubernetes 1.10.1 cluster with support for Hyper-V isolation using below 2 links:
https://gist.github.com/PatrickLang/2cf4b81c9518e531b828a71e4c

[2018-05-02 04:42] BuairtRi commented on #1972
Just adding my upvote that this is important. My project is about to launch depending on running microservices in a windows kubernetes environment, and I need to be able to scale machines easily.

Is there a work around to add a few machines to the node without the command line?

[2018-05-02 06:04] gaurav218 commented on #2823
thanks, i did a workaround and save k8s-rendered.json file. this step worked fine but failed at later step with following error
![image](https://user-images.githubusercontent.com/26568744/39507682-b4943368-4dfc-11e8-9342-e580f578a8c1.png)

step where it failed
resource "null_resource" "deploy_acs" {
  provisioner "local-exec" {
    command = "az group deployment create --name ${var.cluster_name} -

[2018-05-02 06:07] gaurav218 commented on #842
My code fails at following step itself

resource "null_resource" "deploy_acs" {
  provisioner "local-exec" {
    command = "az group deployment create --name ${var.cluster_name} --resource-group ${var.resource_group_name} --template-file ./$(find _output -name 'azuredeploy.json') --parameters @./$(find _output -name 'azuredeploy.parameters.json')"
   }

   depends_on = ["null_resource.run_acs_engi

[2018-05-02 08:44] devcfgc commented on #2744
It would be really good to have some light on this problem as we are facing the same problem :disappointed:

[2018-05-02 08:58] seanknox opened #2836 "Support Flatcar Linux"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Feature request

---

**What version of acs-engine?**: latest

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** Kubernetes

**Anything else we need to know**: We'd like to support Flatcar Linux, a fork of Container Linux.

[2018-05-02 08:59] seanknox commented on #2836
Adding @blixtra who runs the fork.

[2018-05-02 09:31] elieassi commented on #2744
This issue is blocking us as well :(

[2018-05-02 09:35] gaurav218 opened #2837 "acs engine terraform az group deployment create command fails."
My code fails at following step itself

resource "null_resource" "deploy_acs" {
provisioner "local-exec" {
command = "az group deployment create --name ${var.cluster_name} --resource-group ${var.resource_group_name} --template-file ./$(find _output -name 'azuredeploy.json') --parameters @./$(find _output -name 'azuredeploy.parameters.json')"
}

depends_on = ["null_resource.run_acs_engine"]
}

any

[2018-05-02 10:12] mwieczorek commented on #2099
@jackfrancis @CecileRobertMichon any thoughts on that? Is it possible to add it as a customized config?

[2018-05-02 14:06] praveendhac commented on #2043
I faced the same issue. Docker service is running but cannot run container. My output below.

[pdarshanam@pdarshanam-test-docker ~]$
[pdarshanam@pdarshanam-test-docker ~]$ date; echo -ne "\nRUN CONTAINER\n"; sudo docker run ubuntu; date; echo -ne "\nRUN SYSTEMCTL DOCKER STATUS\n"; sudo systemctl status docker.service; date; echo -ne "\nRunning OSCAP_DOCKER\n"; sudo oscap-docker image ubuntu; date;

[2018-05-02 14:47] adelina-t commented on #2421
I can confirm I see this issue with acs-engine v0.16.1 and k8s 1.10.2 and k8s 1.9.7 . Also happens with v0.16.0 and k8s 1.9.7.

[2018-05-02 14:56] adelina-t commented on #2665
I can confirm I see this issue with acs-engine v0.16.1 and k8s 1.10.2 and k8s 1.9.7 . Also happens with v0.16.0 and k8s 1.9.7.

[2018-05-02 15:34] PatrickLang commented on #2665
@jackfrancis @JiangtianLi - have you been able to check this out?

[2018-05-02 16:28] JiangtianLi commented on #2665
@jsturtevant @adelina-t  Is kube-system metrics-server running on windows node or linux node? From https://github.com/Azure/acs-engine/pull/2727 it is supposed to run only on linux node. Is the cluster windows only and master is not schedulable?

[2018-05-02 18:38] #2657 closed

[2018-05-02 19:09] PatrickLang commented on #2835
This may be fixed by https://github.com/Azure/azure-container-networking/pull/127

[2018-05-02 19:41] jackfrancis opened #2842 "kms systemd service doesn't start after reboot"

[2018-05-02 21:13] #2025 closed

[2018-05-02 21:13] #2491 closed

[2018-05-02 21:50] #563 closed

[2018-05-02 22:01] CecileRobertMichon opened #2844 "Improve UX for generate and deploy commands"
- NetworkPolicy "none" and "azure" deprecated should issue a warning
- Check for other deprecated values
- Return more eloquent feedback on progress/status
- Return time it took to generate/deploy?

Please comment if you have any ideas/suggestions!

[2018-05-02 22:26] #2842 closed

[2018-05-02 22:32] jackfrancis commented on #2828
Hi @karlmutch can you share (without credentials) the original api model used to deploy the cluster? We can try to repro.

[2018-05-02 22:46] #2760 closed

[2018-05-02 22:48] #2829 closed

[2018-05-02 22:50] saiyan86 commented on #2835
#2822 will fix this.

[2018-05-02 22:50] #1930 closed

[2018-05-02 23:02] karlmutch commented on #2828
File below, you'll need to use a region that supports the GPU instances:

{
  "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes",
      "orchestratorRelease": "1.9"
    },
    "masterProfile": {
      "count": 1,
      "dnsPrefix": "",
      "vmSize": "Standard_D2_v2"
    },
    "agentPoolProfiles": [
      {
        "name": "agentpool1",

[2018-05-02 23:09] #733 closed

[2018-05-03 02:05] MirzaSikander opened #2845 "NetworkPlugin CNI: Failed to allocate address: No available addresses"
**Is this a request for help?**:

---Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

---Issue

**What version of acs-engine?**:

--- 0.15.0

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
After 30 pods are assigned to a node, creating additional pods fail since the IP addresses assigned to a node are exhausted
[code]
[code]
[code]

This is

[2018-05-03 06:48] adelina-t commented on #2665
@JiangtianLi

Running on linux node.

Api model used to deploy cluster:

`{
  "apiVersion": "vlabs",
  "location": "eastus",
  "tags": null,
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes",
      "orchestratorRelease": "1.10"
    },
    "masterProfile": {
      "count": 1,
      "dnsPrefix": "random-prefix",
      "vmSize": "Standard_D2s_v3"
    },
    "agentP

[2018-05-03 07:00] adelina-t commented on #2665
K8s 1.10.2 with ACS v.0.6.1 and K8s 1.9.7 with ACS v.0.6.1 have the same exact issue. If you need other logs or info, I can provide them.

[2018-05-03 08:30] wsimmonds commented on #2744
This is a critical issue - effectively if using a load balancer: One is unable to update an ACS-based Kubernetes deployment since all services will stop working.

[2018-05-03 09:58] DanielWangZhanggui opened #2846 "Could ClusterIP be routable in same Azure VNet?"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE REQUEST
---

**What version of acs-engine?**:
v0.15.2
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes: 1.10

**How to reproduce it** (as minimally and precisely as possible):
- Deploy a kubernetes cluster via acs-engine
  - Deploy an Nginx(Service&Deployment ) to th

[2018-05-03 15:55] CecileRobertMichon commented on #2744
Was this working before v0.15.1 for anyone? If so which version?

[2018-05-03 16:54] gaurav218 commented on #752
i am facing this issue where provisioning state is successful but kubernetes is not installed

![image](https://user-images.githubusercontent.com/26568744/39591197-a97dffb6-4f20-11e8-90a5-5a64df23e0aa.png)

deleted resource group multple times and redeployed kubernetes with different versions as well but same result. Any help is appreciated.

[2018-05-03 17:06] gaurav218 opened #2847 "kubernetes provisioning state succeeded but kubernetes is not installed either."
Facing this issue where provisioning state is successful but kubernetes is not installed. version tried is 1.8.11.
acs engine version is 0.16.0.

![image](https://user-images.githubusercontent.com/26568744/39591197-a97dffb6-4f20-11e8-90a5-5a64df23e0aa.png)

deleted resource group multiple times and redeployed kubernetes with different versions as well but same result. Recreated Service principal a

[2018-05-03 17:42] CecileRobertMichon commented on #2744
@strtdusty did you provision a jumpbox along with your cluster? Could you please send me the apimodel you used to deploy the cluster (make sure you remove secrets) so I can try and repro? Thanks!

[2018-05-03 17:44] JackQuincy opened #2848 "Failing to consistently call api server from pods running on master"
**Is this a request for help?**:
---
Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
---
Issue

**What version of acs-engine?**:
---
old cluster probably like 1.12 or so, but I'm pretty sure the issue is current

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
k8s

**What happened**:
my DS pod I'm using to get logs off my pods is failing to call kubernetes. I'm using this

[2018-05-03 17:53] jackfrancis commented on #2828
@wbuchwalter @sozercan Does current GPU support in acs-engine include versions of k8s >= 1.9? Our E2E tests validate 1.8.

[2018-05-03 18:07] jim-minter opened #2850 "default "azure context" (azprofile)"
the azProfile part of the apimodel, used by openshift, should be able to default its contents based on acs-engine command line values & discovered tenantid.

[2018-05-03 18:34] #2799 closed

[2018-05-03 18:54] jackfrancis commented on #2175
@JackQuincy @amanohar Does the above description match current expectations for acs-engine upgrade implementation? Is this a known gap or a novel bug?

[2018-05-03 20:45] jsturtevant commented on #2665
@JiangtianLi I had already updated the pod to schedule it on a linux node, the output from the pod confirms that it is on a linux node and failing:

[code]

and logs from the pod:
[code]

[2018-05-03 21:01] strtdusty commented on #2744
We have a VPN connection into the network so don't need a jump box.  apimodel follows with sections redacted
[code]

[2018-05-03 21:13] CecileRobertMichon opened #2852 "acs-engine orchestrators should error when version doesn't exist"
The acs-engine version command doesn't return unsupported when the provided version is not supported:

[code]

Should return a message similar to unsupported orchestrator for unsupported version:
[code]

Applies to all orchestrators.

[2018-05-03 23:15] jackfrancis commented on #2847
Hi @gaurav218, can you share the original api model json (excluding credentials) that you used to build the cluster?

[2018-05-04 00:00] JamesEarle commented on #2852
@CecileRobertMichon I'd like to try to solve this

[2018-05-04 00:14] #2790 closed

[2018-05-04 01:06] rite2nikhil commented on #2827
We need to understand what is taking high cpu
Also Please share the following info on the busy node
1> Is docker responsive - docker ps
2> see there are zombie processes running - ps -eo pid,ppid,stat | grep  Z | wc -l

[2018-05-04 01:38] karataliu commented on #1936
Follow-up issue: https://github.com/Azure/acs-engine/issues/2114
Fix PR: https://github.com/Azure/acs-engine/pull/2339

Verified from my side, with acs-engine v0.16.0 and k8s v1.10.1, it works well.

[2018-05-04 01:38] #1936 closed

[2018-05-04 04:39] karataliu commented on #2665
It will only fail when agent has windows node.
Root cause is:
Config for 'requestheader-client-ca-file' is applied to staticLinuxAPIServerConfig, which happens on Line#61
https://github.com/Azure/acs-engine/blob/v0.16.2/pkg/acsengine/defaults-apiserver.go#L61

Copy config is at Line#41
https://github.com/Azure/acs-engine/blob/v0.16.2/pkg/acsengine/defaults-apiserver.go#L41

In this case,  the requ

[2018-05-04 05:54] saromba opened #2858 "acs-engine scale: Error: <nil>"
**Is this a request for help?**:yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):ISSUE

---

**What version of acs-engine?**:0.13.1

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** Kubernetes

**What happened**:
I tried to scale up a k8s cluster but I get the following error:

INFO[0000] validating...
INFO[0003] Name suffix: 21147453
INFO[0003] Found no resources w

[2018-05-04 10:08] ionutgrecu-adv365 commented on #2556
It worked after
1. killing the process
2. sudo systemctl restart kubelet
3. sudo systemctl daemon-reload

[2018-05-04 10:08] #2556 closed

[2018-05-04 12:57] mwieczorek commented on #2099
I tried with:
[code]
and it worked (cluster was up and running) (v0.16.1, k8s 1.9.6).
But still kubeconfig and pki folder are left on /var/lib/kubelet

[2018-05-04 14:01] andyzhangx commented on #2099
@mwieczorek It's not safe to put kubelet service config into /mnt, since it's a temp disk, the config could be lost after restart.

[2018-05-04 14:14] mwieczorek commented on #2099
@andyzhangx true
that's why for me setting "--root-dir" is enough ( I just want to get emptyDir on ephemeral/temp drive)

[2018-05-04 16:41] CecileRobertMichon commented on #2858
@saromba are you seeing the same error with the latest version of acs-engine (v0.16.0)? It looks like your trying to scale a Windows node which isn't supported yet (see #1972), but in any case agreed that the error shouldn't be `nil`. @danigian is working on it though so stay put.

[2018-05-04 18:29] jackfrancis commented on #1509
The way we want to do this is to expose a manual override, and then to document to users which regions will support 3 FDs w/ managed disk.

[2018-05-04 18:32] todoesverso commented on #2285
I hit it too :(

[2018-05-04 19:02] jackfrancis commented on #2597
@kapopken @lehtiton This looks like environmental symptoms we've seen intermittently in our test runs over the past couple weeks due to Azure DNS latency. Essentially, a now-patched bug in the DNS implementation caused a delay in VM DNS registrations.

Can you confirm that this follow-up deployments are not subject to this errata?

[2018-05-04 21:53] jackfrancis commented on #2421
This is fixed. #2857 aims to fix this for Windows

[2018-05-04 21:53] #2421 closed

[2018-05-04 22:14] #2665 closed

[2018-05-04 22:21] jackfrancis opened #2863 "re-use auto-generated sp"
I created a cluster using ACS-engine and it provisioned an SP for me, but now I want to re-deploy, but I'm getting the following error:

[code]
nm, I figured it out, the app was already created and the create call errors out.

 I needed to:
[code]
I think perhaps we should check if the app exists and if so just re-use it?

[2018-05-04 22:29] CecileRobertMichon commented on #2844
Related to #2863

[2018-05-05 01:45] PatrickLang opened #2868 "Windows pods fail - netplugin failed"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
Built from master, commit 057b045162a4b9911bf38857e829ae427c820078

with cherry picks from #2822
commit f7959c6ecdb1cc7dba37da451723f114683d9d46
Author: Yongli Chen <yongli.chen@microsoft.com>
Date:   Mon Apr 30 22:23:23 2018 -0700

    Set Windows Azure CNI config

    (cherry picked from commit 36e

[2018-05-05 15:36] saromba commented on #2858
@CecileRobertMichon: With version 0.16.0 the error didn't occur.
INFO[0000] validating...
INFO[0003] Name suffix: 75658474
INFO[0003] Found no resources with type Microsoft.Network/routeTables in the template.  source="scaling command line"
INFO[0003] Starting ARM Deployment. This will take some time...
INFO[0276] Finished ARM Deployment. Succeeded

Thanks for the quick reply.

[2018-05-05 15:36] #2858 closed

[2018-05-06 20:17] croeck opened #2869 "`acs-engine scale` fails: Deployment template validation failed, agent is not defined in the template"
**Is this a request for help?**:

YES

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

---

**What version of acs-engine?**:

Current master.

Version: canary
GitCommit: 13973d0d
GitTreeState: clean

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes

**What happened**:

Scaling the cluster fails:

[code]

Previously, it was setup using the following

[2018-05-07 14:01] kapopken commented on #2597
Sorry everyone for late response. I determined this was due to using a custom DNS server. Once I switched to Azure DNS it worked fine. Closing this.

[2018-05-07 14:01] #2597 closed

[2018-05-07 17:02] hmarcelodn commented on #1977
The same issue happened to our clusters in production suddenly.

Whats the timeline?

[2018-05-07 17:29] khenidak opened #2871 "Kubernetes api-server --etcd-servers is pointing to local host in multi master config"
**Is this a request for help?**:
No

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

**What version of acs-engine?**:
*all*

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes (Multi masters)

**What happened**:
Each api-server is using `--etcd-servers=https://127.0.0.1:2379` instead of `--etcd-servers=https://{master1}:2379,https://{master1}:2379,https://{master

[2018-05-07 17:59] ewok2030 commented on #2757
I'd be willing to give this a shot, but I don't know where to get started.

I can see the need to parameterized the journald configuration in  `parts/k8s/kubernetescustomscript.sh`, but am unsure of:

* Where is the right place to define the config items in `apimoel.json`?
* What kind of config validation is required and where is that done?
* How to get those configuration items into environment v

[2018-05-07 18:46] CecileRobertMichon commented on #2869
@jackfrancis this is the scale bug I mentioned earlier that @danigian reported.

[2018-05-07 20:17] khenidak opened #2872 "Cilium daemon set etcd access is not configured correctly"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
*all*
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
When using `cilium` as CNI, The cilium daemonset is configured use one etcd server instead of all the etcds (in multi master scenario).

@jessfraz @jackfranc

[2018-05-08 03:47] sylus commented on #1603
This also summates my issue:

https://github.com/openshift/origin/issues/17316

[2018-05-08 12:28] mwieczorek opened #2876 "dockerEngineVersion validation - enable newer versions"
**Is this a request for help?**:

---
no
**Is this an ISSUE or FEATURE REQUEST?** (choose one):

---
FEATURE REQUEST
**What version of acs-engine?**:

---
all

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
k8s

**What happened**:

**What you expected to happen**:

**How to reproduce it** (as minimally and precisely as possible):

**Anything else we need to know**:

The newset versio

[2018-05-08 13:18] wbuchwalter commented on #2828
@jackfrancis Should work with anything < 1.11 as far as I know.

[2018-05-08 16:26] sunnydoll commented on #2827
Thank you @rite2nikhil for following up.
1> Docker is still responsive
2> We did not check the zombie processes

We wonder if there are any other people had same issue before. We have not had same issue while using ACS or AKS. And we did not make any deployment before or after the issue

[2018-05-08 16:44] sharmasushant commented on #2868
Let us take a look. @saiyan86

[2018-05-08 19:52] keatz55 opened #2880 "Pods can no longer connect to outbound traffic outside of VNET"
**Is this a request for help?**:
---
Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
---
ISSUE

**What version of acs-engine?**:
---
13.1

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.8

**What happened**:
We have been running our kubernetes cluster successfully for months. However, since last night, our pods can no longer connect to outbound traffic outsid

[2018-05-08 20:40] rncwnd79 opened #2882 "k8s failure while processing extension 'cse1'"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.16.2
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9.7

**What happened**:
Cannot provision cluster with 3 masters, 3 agents.
Deployment failed while processing cse1 (master 1).

**What you expected to happen**:
Cluster bein

[2018-05-08 21:30] jackfrancis commented on #2880
Hi @keatz55, are we assuming that whatever happened at 12:34am MT is environmental? I.e., no acs-engine-originating cluster operations (e.g., upgrade/scale) were performed against the cluster?

[2018-05-08 21:31] saiyan86 commented on #2868
@PatrickLang After k8s fixes https://github.com/kubernetes/kubernetes/issues/60884, #2884 should fix this issue.

[2018-05-08 21:34] jackfrancis commented on #2880
At first glance it appears that kube-dns is unable to connect to the resolvers. Can you try manually establishing a port 53 connection to 168.63.129.16 from one of your master nodes?

[2018-05-08 21:53] sharmasushant commented on #2868
Thanks @saiyan86
@PatrickLang please try to use k8s 1.8.12 that we have tested and works.

[2018-05-08 21:55] jackfrancis commented on #2880
Have you recycling (killing) kube-dns pods? It's possible a transient Azure DNS service failure could hang kube-dns.

[2018-05-08 21:59] dharmeshkakadia commented on #2880
We are facing similar issue from yesterday night as well. We are on 1.9. I have tried deleting the pods and it did not change much.

[2018-05-08 22:25] jackfrancis commented on #2880
@dharmeshkakadia @keatz55 to rule out (or in) any transient docker update, what docker versions are you both running?

[2018-05-08 22:29] keatz55 commented on #2880
@jackfrancis
[code]

[2018-05-08 22:39] keatz55 commented on #2880
I've also tried setting pod dns policies to "Default" to no avail as outlined in the following documentation:
https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/

[2018-05-08 22:41] dtzar commented on #2880
@keatz55 - you keep mentioning you are testing from the master node.  If you SSH into the agent nodes where the pods don't appear to have outbound access - does outbound internet/DNS work?  Have you tried to run shell into a pod on the agent nodes to verify if it is just DNS or all network access?

[2018-05-08 22:52] keatz55 commented on #2880
@dtzar I just tested external requests from the agent nodes and they work. However, not from within the pods.

[2018-05-08 22:58] khenidak commented on #2880
external request? as in `netcat -zv 168.63.129.16 53` from the node that is running the DNS pod is succeeding?

[2018-05-08 23:12] keatz55 commented on #2880
@khenidak I just ran netcat from an agent & master node and within a pod:

**Master Node:**
[code]
**Agent Node:**
[code]
**Pod:**
[code]

[2018-05-08 23:40] shayansarkar opened #2885 "VMSS cluster not being created with acs-engine 0.16.2"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
0.16.2
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
I tried to create a k8s cluster with VMSS and I received an error saying

``` Error returned by LoadContainerService: VirtualMachineScaleSets are not suppo

[2018-05-08 23:40] dtzar commented on #2880
What do you get with this from a pod? `telnet 216.146.38.70 80`

[2018-05-08 23:51] keatz55 commented on #2880
@dtzar Ok. It looks like that worked from within the pod. Here are the responses: (I removed the ips)
**Master Node:**
[code]
**Agent Node:**
[code]
**Pod:**
[code]

[2018-05-09 00:26] dtzar commented on #2880
Ok, so your pods have internet access, but your DNS is broken.

[2018-05-09 00:29] keatz55 commented on #2880
@dtzar Are you sure? Because that is the first external IP we have been able to successfully telnet to within a pod. Other external IPs aren't working. Could this be a NATing issue?

[2018-05-09 00:37] dharmeshkakadia commented on #2880
For me both connections and DNS both are failing.

k8s master :
[code]

Agent:
[code]

pod:
[code]

[2018-05-09 00:40] dharmeshkakadia commented on #2880
[code]

[2018-05-09 00:40] khenidak commented on #2880
I do believe it is a dns pod nat issue. Specifically pod ip should source nat to node. Btw the netcat does not mean failure it just mean reverse lookup failed.

I made a mistake and netcat is missing -u for udp testing, apologies.

What we can confirm is:
- IMDS endpoint is working
- source nat is working because without it you won’t be able to telnet.

Are you running any thing special networking

[2018-05-09 00:41] dtzar commented on #2880
@dharmeshkakadia - you definitely have a different problem. I suggest filing a separate issue with more details on your configuration.
@keatz55 - You could try an `nslookup bing.com 8.8.8.8` from a pod.

[2018-05-09 00:45] slack commented on #2880
@keatz55 Can you confirm that you did see the Pod IP in the third case?

[code]

[2018-05-09 00:47] dharmeshkakadia opened #2886 "skydns: failure to forward request "read udp 32.0.0.40:33616->168.63.129.16:53: i/o timeout"
**Is this a request for help?**:
Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

**What version of acs-engine?**:
Version: v0.14.0
GitCommit: 6ba4622b
GitTreeState: clean

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
[code]

**What happened**:
pods not able to talk to each other.
Kube DNS logs are filled with
[code]

**What you expected to happen**:
Working name

[2018-05-09 00:48] dharmeshkakadia commented on #2880
@dtzar filled a new issue per your suggestion https://github.com/Azure/acs-engine/issues/2886

[2018-05-09 01:02] dtzar commented on #2880
@slack - that should be a public IP address from the cluster if there are any public IP addresses assigned to services on the cluster.  This IP comes from the public website.

[2018-05-09 01:03] jackfrancis commented on #2880
@keatz55 what region is your cluster in?

[2018-05-09 01:07] keatz55 commented on #2880
@jackfrancis We are in southcentral.

@slack The pod returned the public IP of the agent node.

[2018-05-09 01:09] khenidak commented on #2880
agent nodes does not get public ip by default. Can you share how your network is configured?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jace <notifications@github.com>
Sent: Tuesday, May 8, 2018 6:07:46 PM
To: Azure/acs-engine
Cc: Khaled Henidak (Kal); Mention
Subject: Re: [Azure/acs-engine] Pods can no longer connect to outbound traffic outside of VNET (#28

[2018-05-09 01:13] keatz55 commented on #2880
@khenidak We aren't running anything special. We did have a stubDomain, but have since removed.

What is a good way to get my network configuration?

Also, here is a pod config:
[code]

[2018-05-09 01:45] feiskyer commented on #2885
Seems vmss support is not included in v0.16.2, have you tried master build?

[2018-05-09 02:13] shayansarkar commented on #2885
If I build it from master, I get a different error

[code]

But from what I understand, VMSS should be the default k8s option in the current version of acs-engine.  So not sure why I would need to run the master version.  In the availabiliytProfile section of the documentation it says that if you are trying to run k8s 1.10 or later, it should default to a VMSS

https://github.com/Azure/acs-engine/

[2018-05-09 02:19] feiskyer commented on #2885
The commit doesn't seem from master. Could you fetch latest commits and try again?

[2018-05-09 02:32] jackfrancis commented on #2880
@keatz55 there might be some boilerplate here but please try going through this guide:

https://github.com/feiskyer/kubernetes-handbook/blob/master/en/troubleshooting/cluster.md#kube-dnsdashboard-crashloopbackoff

[2018-05-09 05:18] keatz55 commented on #2880
@jackfrancis We've been working through that resource, but haven't had any luck yet. However, we did find a partial workaround. We setup stubDomains utilizing OpenDNS within our kube-dns config map. So far it works for all of our services except domains microsoftonline.com & office.com for some reason.

[2018-05-09 06:04] rncwnd79 commented on #2882
Hi @CecileRobertMichon,
please see the output:
[code]

status = 30

[2018-05-09 06:28] CecileRobertMichon commented on #2882
Status 30 means that the script timed out waiting for nodes : see https://github.com/Azure/acs-engine/blob/master/parts/k8s/kubernetescustomscript.sh. cse1 indicates that master-1 is the one that failed, you'll need to ssh to it and pull the same script there (assuming the one you pasted above was from master-0 as it finished successfully). What is the output of `kubectl get nodes `?

[2018-05-09 10:03] carlpett opened #2887 "Routing setup intermittently failing"
**Is this a request for help?**: Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

**What version of acs-engine?**: 0.12.4

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** Kubernetes 1.9.2

**What happened**: We're seeing pods intermittently not being able to communicate with anything. Other pods, services, the Kubernetes API, the internet. The connections time out.
B

[2018-05-09 11:56] shayansarkar commented on #2885
Oh, my fault.  For some reason when I checked out the master branch with go, it didn't pull the latest.  Not sure how that happened.

Anyways, with the master build, it did generate the template although that behavior seems to be different from what the documentation implies.  It seems like VMSS should be the default for any new cluster.

[2018-05-09 12:30] redahmeid opened #2888 "Unable to pull from ACR when using Clear Containers"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
Built from master
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes - v1.10

**What happened**:
When using Flannel with Clear Containers I am unable to pull images from a private ACR. I get ImagePullBackOff.

I run kubectl describe

[2018-05-09 15:41] jim-minter opened #2889 "vendor and use official kubectl drain code, and use the appropriate version depending on the server version"
At the moment it looks like acs-engine broadly copy/pasted node draining code from https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/drain.go to https://github.com/Azure/acs-engine/blob/master/pkg/operations/cordondrainvm.go .

It may be better to get to the point where we are directly vendoring the upstream kubectl draining code, and ideally once for each major supported kubern

[2018-05-09 15:41] jim-minter commented on #2889
@jackfrancis @CecileRobertMichon @khenidak @pweil- @kargakis @kwoodson

[2018-05-09 15:59] mike10010100 opened #2890 "Unknown JSON tag enableEncryptionWithExternalKms"
**Is this a request for help?**:
Yes.
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
0.16.2-darwin-amd64
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
When trying to generate an output via acs-engine, when including the required pieces for enabling external KMS via Azure Key Vault, the follo

[2018-05-09 16:05] jim-minter opened #2891 "openshift: no easy way to tell cluster web ui URL after deploy"
should probably be an output from the arm template, and perhaps acs-engine should print this to the console too.

[2018-05-09 16:05] jim-minter commented on #2891
@kwoodson low hanging fruit :)

[2018-05-09 16:11] keatz55 commented on #2880
@jackfrancis @dharmeshkakadia @dtzar @khenidak @slack Just wanted to say thank you to you all for helping us with this issue. You all are great.

I also wanted to add our latest. Our DNS is still broken, but we were able to setup temporary workarounds using stubdomains. For our pods that stubDomains didn't work, we were able to change the DNS policy to "ClusterFirstWithHostNet" and communicate w/

[2018-05-09 16:31] rocketraman commented on #2886
I'll pile in here as well: our 1.8.10 dev/test cluster (but not prod cluster) also experienced intermittent DNS failures. Upon investigation, it looked like queries to one of the two DNS pods were timing out. This appears to have started within the last couple of days.

The `kubedns` container logs have many of these:

[code]

The working DNS also has a lot of those but seems to have recovered on

[2018-05-09 16:34] jackfrancis commented on #2880
@keatz55 Thanks for sharing. We continue to investigate any service-level DNS issues.

[2018-05-09 16:40] #2868 closed

[2018-05-09 16:41] jackfrancis commented on #2889
+1

[2018-05-09 16:43] jackfrancis commented on #2890
@ritazh Anything obviously suspicious here? (thx!)

[2018-05-09 16:47] ritazh commented on #2890
I think this is because this feature is not part of any of the releases yet. So to use it now, you have to build from source. HTH

[2018-05-09 16:51] hmarcelodn opened #2892 "ReadinessProbe / LivenessProbe critically failing in the entire cluster"
**Is this a request for help?**:

Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

---

**What version of acs-engine?**:

0.13.1

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

1.6.6

**What happened**:

I have 6 clusters created the past year, recently we updated (in January) the version of acs-engine from 0.5.0 to 0.13.1 and the cluster was working pro

[2018-05-09 17:25] jackfrancis commented on #2890
We're closing in on a v0.17.0 release, stand by! (ETA: next week)

[2018-05-09 17:25] #2890 closed

[2018-05-09 17:35] neurot1cal opened #2893 "Unable to use PrometheusGrafanaK8s extension with latest acs-engine, VMSS and ManagedDisks"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
[code]
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
[code]

**What you expected to happen**:
ARM Deployment Successful

**How to reproduce it** (as minimally and precisely as possible):
[code]

**Anything el

[2018-05-09 17:49] jim-minter opened #2894 "openshift: need to validate VM sizes in api model"
should disallow clearly non-applicable VM sizes
should consider defaulting VM size

see functions such as GetDCOSMasterAllowedSizes

[2018-05-09 18:00] khenidak commented on #2889
I am actually surprised that there is no api-server call to drain and all the logic is done on the client side, racy nonetheless. having said that, the code is not package exported. I am not sure how we can vendor it. But overall I am +1 on the concept.

[2018-05-09 18:04] rocketraman commented on #2880
@jackfrancis  wrote:

This seems to have been the case for my dev-test cluster. Is this a bug in kube-dns? I know that there is a migration happening from SkyDNS to CoreOS DNS, which hopefully will solve some of these issues.

One of my DNS pods fell over and the other did not, but for some reason the service kept sending traffic to the pod that had fallen over, resulting in inconsistent resolutio

[2018-05-09 18:14] oivindoh commented on #2887
Is there any difference using IP instead of DNS names?

[2018-05-09 18:27] carlpett commented on #2887
Nope, and sorry for not mentioning that. DNS fails (since we can't reach 10.0.0.10...) so all tests were on IP addresses.

[2018-05-09 18:31] jim-minter opened #2895 "openshift: infra pods on compute nodes"
looks like registry console and asb pods x2 are being created on compute nodes - shouldn't they be on infra?

[2018-05-09 18:31] jim-minter commented on #2895
@maxamillion ptal

[2018-05-09 18:33] oivindoh commented on #2880
We're seeing a bunch of these in our logs too:

I0507 16:32:01.465141       1 logs.go:41] skydns: failure to forward request "read udp 10.244.1.2:58951->168.63.129.16:53: i/o timeout"
I0507 16:32:01.465193       1 logs.go:41] skydns: failure to forward request "read udp 10.244.1.2:60335->168.63.129.16:53: i/o timeout"
I0507 16:32:01.655107       1 logs.go:41] skydns: failure to forward request "re

[2018-05-09 19:29] gcarrarom opened #2897 "Deploying ACS Engine K8s Cluster with jumpbox will fail with SubnetIsFull Error"
**Is this a request for help?**:
No

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

**What version of acs-engine?**:
0.16.2

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9.7

**What happened**:
When deploying a Kubernetes cluster in a custom Subnet, trying to specify the CIDR of the subnet will fill up the subnet with IPConfigurations.
If Adding a Jumpbo

[2018-05-09 19:34] sozercan commented on #2893
Looks like extension specifically references VMs. Not sure if its designed to work from master but if you specify extension on the master that might workaround the issue.

@ritazh @trstringer

[2018-05-09 20:48] Strandedpirate opened #2899 "Upgrading a k8s cluster created with Azure"
Can the following be used to upgrade a k8s cluster (version 1.7.7) created with Azure using ACS?

https://github.com/Azure/acs-engine/tree/master/examples/k8s-upgrade

[2018-05-09 21:01] CecileRobertMichon commented on #2899
@Strandedpirate short answer is no. The upgrade command uses the original deployment apimodel generated by acs-engine which an ACS deployment would not have.

[2018-05-09 21:15] jim-minter opened #2900 "openshift: prometheus: Unexpected templating type error"
See https://ci.openshift.redhat.com/jenkins/view/All/job/test_pull_request_origin_extended_conformance_azure_39/22/consoleFull

Unexpected templating type error occurred on ({{  __schedulable_nodes_matching_selector['results']['results'][0]['items'] | default([]) | length != 0 }}): object of type 'builtin_function_or_method' has no len()

[2018-05-09 21:16] jim-minter commented on #2900
@maxamillion I think you were looking into this before - I think it's still occurring as a flake - please can you investigate?

[2018-05-09 21:17] jim-minter commented on #2900
Also https://ci.openshift.redhat.com/jenkins/view/All/job/test_branch_origin_extended_conformance_azure_39/12

[2018-05-09 21:25] Strandedpirate commented on #2899
@CecileRobertMichon thanks. This [post](https://github.com/colemickens/azure-kubernetes-status/issues/15) talks about manually upgrading an ACS cluster which we are going to attempt.

Do you know where I can find a definitive list of docker tag versions associated with a specific k8s release to perform this manual upgrade correctly?

For example this is what I think I should use to upgrade to 1.8.

[2018-05-09 21:30] CecileRobertMichon commented on #2899
You can look at https://github.com/Azure/acs-engine/blob/master/pkg/acsengine/k8s_versions.go to see the defaults we use for acs-engine

[2018-05-09 21:47] Strandedpirate commented on #2899
Awesome thanks!

[2018-05-09 21:47] #2899 closed

[2018-05-09 22:14] jackfrancis commented on #2893
@neurot1cal could we isolate which part(s) are conflicting? Do either of these combinations work?

- VMAS + ManagedDisk
- VMSS + StorageAccount

I think we know for sure that VMAS + StorageAccount works, as our previous testing was using an acs-engine where the above were the defaults.

[2018-05-09 22:15] jackfrancis commented on #2892
@hmarcelodn What do kube-dns pod logs say in the kube-system namespace?

[2018-05-09 22:17] ritazh commented on #2893
Looks like this is a regression caused by VMSS since all the extensions are hardcoded to `Microsoft.Compute/virtualMachines/`. We should probably fix that. 😄 Will take a look at this and fix the prometheus extension.

[2018-05-09 22:17] jackfrancis commented on #2887
@carlpett Are you able to deploy a test cluster using k8s 1.9.7 and repro? In particular there were several ILB issues on Azure w/ the early patch releases of 1.9.

[2018-05-09 22:18] jackfrancis commented on #2893
Thanks @ritazh! :)

[2018-05-09 23:10] CecileRobertMichon commented on #2885
@shayansarkar with what apimodel did you notice VMSS not being default?

[2018-05-10 07:44] ArchangelSDY commented on #2886
We experienced basically identical issue in our 1.8 prod clusters in West US 2 and Southeast Asia starting from last weekend. One of the two kube-dns pods failed to get any response from upstream. But health checks passes so it never gets restarted to recover.

Currently we mitigate this by manually restarting problematic pods. I wonder if there is any tuning to kube-dns config to automatically de

[2018-05-10 11:45] kargakis opened #2904 "Stop using kubernetesConfig in openshiftConfig"
After an Openshift generate, the resulting apimodel has `openshiftConfig.kubernetesConfig.networkPlugin` and subsequently `kubernetesConfig.networkPlugin` set to `kubenet` which is a red herring and needs to be cleaned up. In general, we may want to rethink embedding kubernetesConfig...

@jim-minter @kwoodson @pweil-

[2018-05-10 11:54] sam-cogan commented on #2828
I'm also seeing this with 1.9 and 1.10 clusters. I only get the APIServer and controller-manger pods running. Template is below, not doing much special other than mixed windows and linux.
[code]

[2018-05-10 12:12] pschiffe opened #2905 "openshift: improve docs reg. aad integration and service principal"
As a follow up to https://github.com/Azure/acs-engine/pull/2839

[2018-05-10 12:34] kargakis commented on #2904
So far I haven't seen any reason for having it. Unless we actually change this inside OpenShift (unlike), I am in favor of removing.

[2018-05-10 12:42] Navlesh commented on #2897
I am also facing similar bug that SubnetIsFull even we have total of 27 IPs available and without provisioning Jubpbox using ACS engine v0.16.2 and Kubernetes 1.9.7.
I to have updated ACS engine generated templates not to reserve any IP, however it is getting failed.

[2018-05-10 13:29] neurot1cal opened #2906 "Pod unable to attach PV after being deleted (Wait for attach expect device path as a lun number, instead got: /dev/disk/azure/scsi1/lun0 (strconv.Atoi: parsing "/dev/disk/azure/scsi1/lun0": invalid syntax)"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
v.1.15.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Jenkins pod misbehaving, deleted the pod manually which I've done many times before on other clusters. Upon trying to start the pod again under another n

[2018-05-10 13:55] andyzhangx commented on #2906
correct, and this issue is only found in v1.10.0 & v1.10.1, fixed in v1.10.2, details:
https://github.com/andyzhangx/demo/blob/master/issues/azuredisk-issues.md#6-waitforattach-failed-for-azure-disk-parsing-devdiskazurescsi1lun1-invalid-syntax

[2018-05-10 14:06] DaveNW16HD opened #2909 "networkPlugin deploy validation error"
**Is this a request for help?**:
YES
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
BUG
---

**What version of acs-engine?**:
Version: v0.16.2
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
K8S 1.10

**What happened**:

I'm trying to deploy a k8s cluster with networkPlugin set to kubenet
I have a very simple json deployment api model below
`

{
  "apiVersion": "vlab

[2018-05-10 14:28] hmarcelodn commented on #2892
Hi @jackfrancis

This is the only thing I can see from the dashboard right now.

Also, I must mention that I see node lost because of this.

[2018-05-10 15:13] hmarcelodn commented on #2285
Try re-launching the CLI

[2018-05-10 16:04] beaudryj opened #2911 "Windows VM VMSS issues with CNI"
**Is this a request for help?**: Help
---

**What version of acs-engine?**:  master - commit 28eb1d106e17281eab2753464a60ceafa1b85ea1

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
k8s - 1.10.2

**What happened**:
For the most part the Windows VMSS seem to work, the kublet comes up it starts, it even registers with the master as healthy, however it seems as though there is some

[2018-05-10 16:08] beaudryj commented on #2911
Forgot to show pod logs
`
~ $ kubectl describe pods msftdb
Name:         msftdb
Namespace:    default
Node:         28006acs000005/10.240.0.4
Start Time:   Thu, 10 May 2018 11:28:35 -0400
Labels:       name=msftdb
Annotations:  <none>
Status:       Pending
IP:
Containers:
  msftdb:
    Container ID:
    Image:          microsoft/mssql-server-windows-express:1709
    Image ID:
    Port:           1

[2018-05-10 16:09] sam-cogan opened #2912 "Unable to get logs or port-forward with Windows nodes"
**Is this a request for help?**:
Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue

---

**What version of acs-engine?**:

0.16.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
1.8.11

**What happened**:
Multiple freshly deploy clusters all have timeouts when attempting to run kubeclt logs or kubectl port-forward against Windows containers (linux containers

[2018-05-10 16:14] CecileRobertMichon commented on #2897
@Navlesh are you also trying to deploy a private cluster?

[2018-05-10 16:43] #2692 closed

[2018-05-10 17:00] sam-cogan commented on #2912
As is always the case I fixed this 5 minutes after posting. The issue was the firewall on the Windows node was blocking port 10250, allowing this worked.

This begs the question, should the deployment do this?

[2018-05-10 17:35] Navlesh commented on #2897
Yes @CecileRobertMichon, that happens when we have /27 IPs, to avoid this bug, I did increase IPs range to /26 and it's resolved the bug.
I am also facing error when extension is being installed in the VMs, any suggestion? do you have to avoid error during extension installation in the VMs

[2018-05-10 17:39] CecileRobertMichon commented on #2897
@Navlesh can you please clarify what you mean by:

What error are you seeing? What's exact status code?

[2018-05-10 17:44] Navlesh commented on #2897
@CecileRobertMichon, I see following error.
"code": "VMExtensionProvisioningError"
"message": "VM has reported a failure when processing extension 'cse1'. Error message: \"Enable failed: failed to
execute command: command terminated with exit status=20\n[stdout]\n\n[stderr]\n\"."

[2018-05-10 17:47] CecileRobertMichon commented on #2897
Ah this is a different issue. Exit status 20 means that Docker failed to install (see https://github.com/Azure/acs-engine/blob/master/parts/k8s/kubernetescustomscript.sh#L6). This is most likely due to a transient networking failure. Can you please try deploying again? If you still see the error, please open a new issue for this specific deployment error. I would like to keep this one to track the

[2018-05-10 18:02] jim-minter opened #2913 "clean up error handling and logging, e.g. in scale.go"
Scale.go currently has lots of:

[code]

and

[code]

etc.

All of these should probably be:

[code]

as the caller logs out the error and exits 1 anyway.

[2018-05-10 19:12] CecileRobertMichon commented on #2913
Yes +100. I started doing some of this in #2867 but there's still a lot to do...

[2018-05-10 19:14] CecileRobertMichon commented on #2912
@JiangtianLi

[2018-05-10 19:15] CecileRobertMichon commented on #2909
@DaveNW16HD I believe the PR that introduced networkPlugin is not included in v0.16.2 (which only added a new k8s version). It is in master though, and will be in the upcoming v0.17.0.

[2018-05-10 19:16] CecileRobertMichon commented on #2909
If you still want to build from v0.16.2 you can use `"networkPolicy": "none"` as an equivalent to setting networkPlugin to kubenet.

[2018-05-10 19:35] brichins commented on #848
@CecileRobertMichon

Would you consider re-opening this issue?  Unfortunately the workaround of using ImagePullSecrets needs to be done for each namespace.  In our scenario, that means exposing the credentials (via secrets) and patching over a dozen namespaces.  When credentials expire, it means updating each namespace secret too.  Really there should be a better option than over exposing service

[2018-05-10 19:36] CecileRobertMichon commented on #848
Happy to do so :)

[2018-05-10 20:20] croeck opened #2916 "`acs-engine upgrade` fails: RoleAssignmentUpdateNotPermitted"
**Is this a request for help?**:

YES

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

---

**What version of acs-engine?**:

Version: canary
GitCommit: 13973d0
GitTreeState: clean

_This version of the acs-engine was used for creation and attempted upgrade of the cluster._

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes

**What happened**:

Upgra

[2018-05-10 20:41] bigmyx opened #2917 "External LB created, even though `privateCluster` option specified"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
---
ISSUE

**What version of acs-engine?**:
---
v0.16.2

**Input Configuration**

[code]

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
External LB created, even though `privateCluster` option specified

**What you expected to happen**:
The cluster should be completely internal, with no Internet ex

[2018-05-10 20:42] jim-minter opened #2918 "openshift: tracker for etcd timeout issues"

[2018-05-10 20:42] jim-minter commented on #2918
@kargakis @pweil-

[2018-05-10 20:44] jim-minter commented on #2918
https://circleci.com/gh/Azure/acs-engine/25995

[code]

[2018-05-10 22:09] shayansarkar commented on #2885
I just took this VMSS example and added my service principal and cert at the bottom.  Then I ran it with the 0.16.2 version of acs-engine and got the error about VirtualMachineScaleSets are not supported with Kubernetes.  I can generate everything with the master version of acs-engine, but it seemed like the documentation said that 0.16.2 should have worked.

https://github.com/Azure/acs-engine/bl

[2018-05-10 22:35] keatz55 commented on #2880
@jackfrancis @dharmeshkakadia @dtzar @khenidak @slack So what do you think about doing a new deployment with the latest kubedns setup?
https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/dns

Do you think that could potentially resolve what's going on here?

[2018-05-10 22:46] jackfrancis commented on #2880
Do you mean using a newer version? E.g.,

https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/k8s-dns-kube-dns-amd64?gcrImageListsize=50

[2018-05-10 22:47] keatz55 commented on #2880
@jackfrancis Yes, exactly.

[2018-05-10 22:49] jackfrancis commented on #2880
Which ver of kube-dns is your 1.8 cluster running?

[2018-05-10 22:52] keatz55 commented on #2880
@jackfrancis
k8s-gcrio.azureedge.net/k8s-dns-kube-dns-amd64:1.14.8
k8s-gcrio.azureedge.net/k8s-dns-dnsmasq-nanny-amd64:1.14.8
k8s-gcrio.azureedge.net/exechealthz-amd64:1.2

[2018-05-10 22:55] aminebizid opened #2919 "Health probe not set on LB for multi masters"
Version: Canary

Stop 2 of 3 masters and kubectl will get timeouts.
This is because Health prob is not net on InternalLBRuleHTTPS.

[2018-05-10 23:06] ritazh commented on #2893
Reporting back on this issue... because we are using
[code]

we are currently blocked on fixing this issue until this bug is resolved. https://github.com/Azure/vm-scale-sets/issues/26

@feiskyer Do we need to use `Manual`? Can we change to `Automatic`?

[2018-05-10 23:11] sozercan commented on #2893
When I tested `Automatic` upgrade policy, Azure cloud-provider didn't like it. If VMSS is set to `Automatic ` upgradePolicy, it doesn't allow manually upgrading using https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/azure/azure_vmss.go#L664

[2018-05-10 23:33] jackfrancis commented on #2880
@feiskyer @andyzhangx @karataliu Do we have any testing of Azure cloudprovider cluster w/ upgraded versions across the three above packages (and for which k8s versions a newer package ver is appropriate)?

[2018-05-11 00:15] jackfrancis commented on #2377
FYI I have a PR that I'm using to add environmental DNS sanity checks for our E2E cluster deployments:

https://github.com/Azure/acs-engine/pull/2921

Please add any high level wishlist items or concrete coverage requests there to get ahead of these issues going forward. Thanks!

[2018-05-11 00:15] jackfrancis commented on #2892
FYI I have a PR that I'm using to add environmental DNS sanity checks for our E2E cluster deployments:

https://github.com/Azure/acs-engine/pull/2921

Please add any high level wishlist items or concrete coverage requests there to get ahead of these issues going forward. Thanks!

[2018-05-11 00:15] CecileRobertMichon commented on #2917
Hi @bigmyx, thanks for reporting! That sounds like a bug. Let me try to repro. I only get an internal load balancer when I deploy a vanilla private cluster but I'll try using a custom vnet and see if that is causing what you're seeing.

[2018-05-11 00:15] jackfrancis commented on #1977
FYI I have a PR that I'm using to add environmental DNS sanity checks for our E2E cluster deployments:

https://github.com/Azure/acs-engine/pull/2921

Please add any high level wishlist items or concrete coverage requests there to get ahead of these issues going forward. Thanks!

[2018-05-11 01:01] JiangtianLi commented on #2912
@sam-cogan what does `netsh advf show allprofiles` output on windows node?

[2018-05-11 01:03] JiangtianLi commented on #2912
@sam-cogan Also can you check if you are using Azure CNI?

[2018-05-11 01:06] hensilva opened #2922 "Error provisioning Masters: extensions CSEx always failing"
## **ISSUE**
ACS-ENGINE version: 0.16.1
Kubernetes version: 1.9
Azure Region: Brazil South
Number of Masters: **1 or 3**

Description: when deploying I'm invariably getting CSE extension errors on Master nodes and cluster is failing to deploy. Tested with 3 Masters and 1 Masters, similar problem.

Last message from /var/log/azure/cluster-provision.log:

**k8s cluster is not healthy after 600 secon

[2018-05-11 01:25] CecileRobertMichon commented on #2917
Could you check in the _output directory under the folder with your cluster name, there will be an azuredeploy.json file: how many resources are there of type `"type": "Microsoft.Network/loadBalancers"`? Can you send me the definition of those resource(s)?

[2018-05-11 01:58] bigmyx commented on #2917
@CecileRobertMichon, there is no such resource in `azuredeploy.json` file or any other generated files.

[2018-05-11 04:00] DaveNW16HD commented on #2909
Thanks, that worked !

[2018-05-11 04:00] #2909 closed

[2018-05-11 05:50] carlpett commented on #2887
@jackfrancis I don't have a reliable way of triggering this myself, unfortunately. Are there any details about those issues that I can use to try to determine if they are behind this? (Also, what is ILB? :) )

[2018-05-11 11:50] kargakis opened #2924 "ERROR: Parameter 'account_name' must have length less than 24."
[code]
Saw this in https://github.com/Azure/acs-engine/pull/2908. Unclear yet whether it's my PR or something else.

@jim-minter @maxamillion

[2018-05-11 12:09] kichristensen opened #2926 "Extensions not working"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.16.2
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Running the extension examples provided doesn't work

**What you expected to happen**:
It worked

**How to reproduce it** (as minimally and precisely as p

[2018-05-11 13:14] kargakis opened #2927 "openshift: prefix router resources with orchestrator prefix"

[2018-05-11 13:15] kargakis commented on #2700
OWNERS files are in place: https://github.com/Azure/acs-engine/pull/2791

Prow CI setup in https://github.com/Azure/acs-engine/pull/2923

[2018-05-11 13:50] hensilva commented on #1806
I'm facing similar issues today. 1.9 or 1.10 with ACS 0.16.1

[2018-05-11 14:04] cyakimov commented on #2880
We're having this issue too. Everything was working OK the past couple days and suddenly kube-dns started throwing `failure to forward request` errors.

We're running `k8s-gcrio.azureedge.net/k8s-dns-kube-dns-amd64:1.14.8` (ACS-e default). Is there a patch available we can manually apply to the kube-dns deployment?

[2018-05-11 14:16] shayansarkar commented on #2885
I think I'm good with acs-engine master.  I'll close this out.  Thanks for pointing me in the right direction.

[2018-05-11 14:16] #2885 closed

[2018-05-11 15:30] jackfrancis commented on #2887
ILB == Internal Load Balancer

[2018-05-11 15:38] jackfrancis commented on #2880
@cyakimov If you're feeling experimental (and your cluster is non-operable) you could manually:

- `kubectl edit deploy kube-dns-v20 -n kube-system`
- `vi /etc/kubernetes/addons/kube-dns-deployment.yaml`

And replace all the existing `image:` references w/ newer images:

- https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/k8s-dns-kube-dns-amd64?gcrImageListsize=50
- http://gcr.i

[2018-05-11 16:12] bigmyx commented on #2917
Apparently, one of our deployments created an external service resulted in creation of external LB and IP.
Closing this issue.

[2018-05-11 16:12] #2917 closed

[2018-05-11 17:09] jackfrancis opened #2928 "GlusterFS and Ceph for k8s"
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): FEATURE REQUEST

mount.glusterfs and mount.ceph packages as a cluster install option

[2018-05-11 18:59] CecileRobertMichon commented on #2882
you should be able to enable agent forwarding by using `ssh -A` or follow [these instructions](https://github.com/Azure/acs-engine/blob/master/docs/ssh.md#key-management-and-agent-forwarding-with-windows-pageant) if you're using putty. Then you can simply type `ssh k8s-master-73186041-1` once you're on master 0 to jump to master 1 and pull the logs from the same place in master 1.

[2018-05-11 19:30] oriyastyle commented on #2749
Also getting the same error with a 1.9.7 cluster - only the add-on manager and the API server pods are running in kube-system namespace.

[2018-05-11 19:35] carlpett commented on #2887
Ah, right. Thanks!
I'm probably missing something, but how is a load balancer involved here, this seems to affect pod egress traffic, mainly? And were there some good issues for me to check if they were the same?

[2018-05-11 19:38] apeschel opened #2930 "acs-engine docker images not being published"
Docker images for acs-engine should be getting published to https://hub.docker.com/r/microsoft/acs-engine/ but this is not happening. There is only a single image tagged "latest" from 9 months ago, which corresponds to acs-engine 0.8.0.

Please push a 0.16.X image, and ideally set up CI to automatically push images when releases happen.

Thank you

[2018-05-11 20:52] kichristensen commented on #2796
Should this be closed after #2787 was merged?

[2018-05-11 20:57] JackQuincy commented on #2175
my guess is this is an nsg issue. For scale we remove the nsg from the deployments we send to arm. I'm guessing on recreating masters we aren't doing that and that is blocking all traffic from the internet to the load balancer services until k8s recreates them. This is the original [pr](https://github.com/Azure/acs-engine/pull/366) where I fixed it for scale, Seems we might need to pull this out s

[2018-05-11 21:06] kichristensen commented on #1144
Should this not be closed? This is seems to be handled in https://github.com/Azure/acs-engine/blob/9c3a93698bbed804be860b4b57c27c703a3578af/parts/k8s/kuberneteswindowssetup.ps1#L318-L323

[2018-05-11 21:43] CecileRobertMichon commented on #2919
@aminebizid would you like to start a PR to fix it?

[2018-05-11 22:26] ritazh commented on #2926
@kichristensen can you please share how you are adding the extension to your cluster definition? thanks!

[2018-05-11 23:14] kichristensen commented on #2926
This is my config with extensions:

[code]
In the end I get this error:

[code]

[2018-05-12 00:06] jessfraz commented on #2872
hmm i must not have known the right env variable, is there one that holds them all

[2018-05-12 00:07] jessfraz commented on #2872
it just needs to go here: https://github.com/Azure/acs-engine/blob/master/parts/k8s/kubernetesmastercustomdata.yml#L286

[2018-05-12 19:20] maniSbindra opened #2933 "Deploy using client-id and client-secret command line switches throws an error"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: Building against current commit
./bin/acs-engine version. Realised this when trying to fix issue 2728
[code]

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** Kubernetes

**What happened**: same as #2657, I have added comments against PR #27

[2018-05-12 22:02] yastij commented on #2175
@JackQuincy @CecileRobertMichon - I can confirm, this is related to NSGs not being removed before having the deployment being sent to ARM.

[2018-05-13 14:06] croeck commented on #2916
Quick update:

- the issue is related to us applying `"useManagedIdentity": true`
- role assignments apparently do not get deleted when their principal (here: the VM) is deleted
- the new master node that is being created shall get the *contributor* role assignment again. But since this assignment still exists (guid calculation based on the name that did not change), we are getting the error descr

[2018-05-14 02:15] karataliu commented on #2880
@jackfrancis Current cloud provider testing sticks to those fixed versions as specified in acs-engine.

[2018-05-14 05:24] karataliu opened #2936 "IsKubernetesVersionGe does not work for prerelease version"
**Is this a request for help?**:
When deploying a cluster with 1.11.0-alpha.1, the taint on master does not appear.

This is due to IsKubernetesVersionGe uses 'semver' to determine the version, and it assumes '1.11.0-alpha.1 >= 1.6.0' to be false, which is not intended behaviour.

https://github.com/Azure/acs-engine/blame/ad8c1da9b944760c8f9da209aac8c7d0d93eb816/parts/k8s/kubernetesmastercustomdat

[2018-05-14 05:26] karataliu commented on #2936
This is a requirement for running CI on pre-release version. Since for CI testing, we might want a cluster to have same behavior of a production cluster (user pods running on agents)

[2018-05-14 06:07] jcorioland commented on #2796
@kichristensen no, the set flag is just available for the generate command right now, I need to refactor some code to make it available to the deploy command, so I opened this issue to track this work.

[2018-05-14 06:35] saromba opened #2937 "acs-engine 'login'"
**Is this a request for help?**: YES

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: 0.16.0

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** Kubernetes

**What happened**:
I've a jenkins pipeline to scale up/down. It works almost as expected.

`az login --service-principal -u $SP_APPID -p $SP_PASSWORD --tenant $SP_TENANTID