[2018-01-11 06:46] oleborne commented on #1611
How do you obtain the token for kubectl? Are you using AAD device login flow using the following option in kubectl: --auth-provider=azure as describe here:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/plugin/pkg/client/auth/azure/README.md ?

Or did you obtain a token in another way ? (Like a full OAuth flow)

Because I tried exactly what you describe about gro

[2018-01-11 07:04] mirthy commented on #1611
I'm using the --auth-provider=azure on a hand built cluster, so I can manipulate  group claim.  One of the more critical pieces is with the auth-provider=azure piece is the 2 different AAD apps and the one that kubectl uses *has* to be Native.  I got the user/upn claim working first and then I was able to get the group one working.  Let me verify again in the morning to make sure I'm not just mist

[2018-01-11 08:04] oleborne commented on #1611
SUCCESS!

I found what I did wrong: I was modifying the manifest of the CLIENT app registration and not the SERVER app registration. Which is relevant: the purpose is not to add group information in the token targeted at the CLIENT (ie the id_token) but in the token targeted at the SERVER (ie the access_token).

So the process is to edit the manifest of the app registration for the API SERVER and

[2018-01-11 11:54] jalberto commented on #2022
Is this a technical limitation or a non-implemented feature?

Probably 'upgrade' command must check for this commons pitfalls and throw a warning before being the process.

[2018-01-11 12:38] mcwienczek commented on #1475
I have the same problem. Right now the only way I see to fix this is regeneratiion of api-server certificates. Is that an automated way using acs-engine to fix this?

[2018-01-11 13:11] jalberto commented on #2022
Testing if deleting peering make it works, and it does but it takes quite long to upgrade a single master, and even more to the upgrade command to notice deployment has finished as it continues stuck in:

[code]

![screenshot from 2018-01-11 14-08-57](https://user-images.githubusercontent.com/99927/34827008-075f335c-f6d9-11e7-9cad-3763de49e669.png)

Meanwhile because of previous error, now there i

[2018-01-11 13:17] jalberto commented on #2022
as expected now ther is this:

[code]

So now what?

I already opened a cirticual issue in azure support but no one seems to be taking care of this.

[2018-01-11 13:26] ITler commented on #2027
I face an issue which sounds similar. I'm on **AzureCloudGermany**. However, I've troubles with linux-based (Ubuntu, Debian, Alpine) containers when it comes to DNS resolution, but only with **multi-agent cluster**. When only having one k8s agent node, this seems not to be a problem.
Should I open up a separate github issue for that as this refers to Windows containers?

[2018-01-11 14:05] cpunella commented on #2027
Hi,

we are facing the same issue described from @chweidling . We have an hybrid cluster with both linux and windows nodes and only the windows node suffers to this problem.

@ITler yes, it seems that your issue is different... maybe it is better open a new issue ;)

[2018-01-11 16:47] 4c74356b41 commented on #2025
You just need to compile latest code, i deployed 1.9 just today with acs engine.

[2018-01-11 16:48] 4c74356b41 commented on #2027
I can confirm I'm seeing the exact behavior, dns doesnt work on kubernetes containers (if i créate container on the node using docker it Works)

[2018-01-11 17:39] jalberto commented on #2022
so after several retyes every master get updated but any `kubectl` command get a `i/o timeout`

any clue will be welcome

[2018-01-11 17:42] JiangtianLi commented on #2027
@ITler  Is your multi-agent cluster Linux only or hybrid? If it is Linux only, please file a different issue.

[2018-01-11 18:12] jalberto commented on #2022
Dear diary, 3 days since The incident and not I already lost any hope for help. Seems like this place is more isolated every day.
Now seem like upgrade broke CNI (calico) in some way and nor etcd nor k8s services will start

[2018-01-11 18:16] 4c74356b41 commented on #2013
how did you créate hybrid AKS cluster? i dont think its posible yet?

[2018-01-11 18:18] jalberto commented on #1790
@mwieczorek I tried to upgrade (not scale) using 0.11 and got same error (#2022)

[2018-01-11 18:25] jalberto commented on #1621
I think I am having a related issue in #2022

[2018-01-11 18:32] jalberto commented on #2022
more funny stuff:

[code]

[2018-01-11 18:55] brendandburns commented on #2022
Can you do an `ls /usr/bin/etcd`, also can you look at /var/log/cloud-init.log and see if cloud-init is correctly  installing/running?

[2018-01-11 19:02] jalberto commented on #2022
@brendanburns I was investigating etcd when I found is not instaled, so I tried to install ti acs-engine way:

[code]

[code]

lots of fun

[2018-01-11 19:05] stuartleeks commented on #2021
@jackfrancis - as the [PR](#2032 ) stands:

*  it uses the same format for kubelet, agent/master-override and apiserver. Currently I've opted for the `key1=value1,key2=value2` format that works with the `--feature-gates` switch.
* it preserves the behaviour of specifying the `Accelerators=true` feature gate on the agent nodes
* it allows feature gates to be overridden by master or agent profile, w

[2018-01-11 19:13] robinsondotnet commented on #2015
I've got the same error. Have anyone solved?
I am using a image based on microsoft/dotnet-framework:4.7 . This image is around 12GB. I think that it  shouldn't be a problem.

[2018-01-11 19:17] brendandburns commented on #2022
What version of acs-engine are you using?

Thanks

[2018-01-11 19:18] jalberto commented on #2022
@brendanburns 0.11

[2018-01-11 19:39] jalberto commented on #2022
I actually cannot find an official 2.5.2 release:

![screenshot from 2018-01-11 20-38-51](https://user-images.githubusercontent.com/99927/34843714-8bc02b34-f70f-11e7-8559-7ea5fee3aee4.png)

[2018-01-11 20:59] jackfrancis commented on #2022
Hi @jalberto could you try to modify the `/opt/azure/containers/setup-etcd.sh` script to change the assignment of `ETCD_VER` to v2.3.7?

[2018-01-11 21:09] #1611 closed

[2018-01-11 21:12] jalberto commented on #2022
I have doubts, Why not latest 3.x version? (I don't want to mess it more)

[2018-01-11 21:14] jackfrancis commented on #2022
I assume your cluster was running a v2 of etcd before, things are likelier to come back online if you use that version. (It's the latest v2 released, v2.5.2 was a typo that should have been v2.2.5; this was fixed in master a few weeks ago).

[2018-01-11 21:26] chlaterz opened #2043 "Cannot connect to Docker daemon"
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

**What version of acs-engine?**:

Unsure

**What happened**:
Trying to use Docker in an Azure Deep Learning VM.  No Docker commands are working.  The error message I get is:

Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?

**How to reproduce it**

[2018-01-11 21:40] douglaswaights commented on #2013
@4c74356b41 no in AKS its just a linux cluster...but the pods can communicate via external load balancer ip in addition to k8s services, unlike in ACS engine 0.8.0.

[2018-01-11 22:41] jalberto commented on #2022
that worked! thanks!

I am trying to resume the upgrade now

[2018-01-11 22:42] jackfrancis commented on #2022
Thanks for being resilient here. You are contributing to acs-engine-driven upgrades becoming more of a 1st class feature, we appreciate it!

[2018-01-12 03:11] andyzhangx commented on #2015
@JiangtianLi do you know anyway to let docker use resource disk in Windows, I only know how to do it in Linux. Resource disk has 100GB size, it would good place for temp dir.

[2018-01-12 03:13] andyzhangx commented on #2043
could you run `sudo service docker start` and `sudo service docker status`?

[2018-01-12 06:52] Stygy commented on #2015
I've seen that by default the windows VM's are being created with a 30GB C drive where Docker is. I've tried to setup docker with the daemon.json file (adding this line:  **{"graph": "H:\\Images"}**). BTW I had to Initialize/Partition/Format the attached disks because by default I only had the C and D drives. Looks like the OSDiskSizeGB is not working.

After I did this I tried to start a couple o

[2018-01-12 06:57] Stygy commented on #2015
I should also include that I setup a custom VNET for my cluster, that's the only way I found to get into the windows nodes and check what was happening. And I must mention that I went through a big issue with the Dashboard and DNS deployments because the acs-engine deployment was not setting up the Route Table.

[2018-01-12 08:37] 4c74356b41 opened #2045 "No internet on agents\pods, kubernetes 1.9.1"
---
ISSUE
---
**What version of acs-engine?**:
[code]
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9.1, used this template to generate deployment:
[code]
**What happened**:
No internet on agent nodes, no internet on pods

**What you expected to happen**:
Internet on agent nodes, internet on pods

**How to reproduce it** (as minimally and precisely as possible):
bu

[2018-01-12 11:26] ITler opened #2046 "DNS problems from within container on AzureGermanCloud with multi-agent-k8s"
**Is this a request for help?**:
no, bug
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
issue
---

**What version of acs-engine?**:
0.10.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
K8s Server 1.7.9, 1.8.4 kubectl: 1.8.5, 1.9.1

**What happened**:
Deploying a fresh K8s cluster on **AzureGermanCloud** shows DNS issues from within containers. Seems independent to

[2018-01-12 14:58] tesharp opened #2047 "master doesn't work with AAD"
**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

**What version of acs-engine?**: master (pulled today)

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes

**What happened**:

Deploying a new cluster I just got an error:

VM has reported a failure when processing extension 'cse0'. Error message: \\\"Enable failed: failed to execute command: command terminated wi

[2018-01-12 15:35] #1484 closed

[2018-01-12 16:34] Josefczak commented on #2027
Maybe this helps in diagnosing the issue:
I was able to get the pods working by changing the dns entry from ClusterIP to one of the dns pod IPs.
netsh interface ip show config
netsh interface ip set dns "****" static 10.244.0.3

[2018-01-12 18:01] JiangtianLi commented on #2015
/cc @patricklang on configuring windows docker to use a different disk

[2018-01-12 18:13] JiangtianLi commented on #1903
@KaptenMorot For the issue with reboot, we are aware of it and working with Windows team on it. Meanwhile, one mitigation is to restart hns network on Windows, e.g., `Get-HnsNetworks | ? Name -eq l2Bridge | Remove-HnsNetwork `

For the ping issue, I think ping packet is blocked from Azure VM node. I can't ping www.google.com from master node either.

[2018-01-12 19:49] Stygy commented on #2015
Ok, I've solved the disk space issue. I connected to the machine and expanded the C Volume with Diskpart app.
list disk
list volume
select volume 1
extend

Now I only have the Pod sandbox issue. That might be because the VNET setup

![image](https://user-images.githubusercontent.com/6739343/34892557-b495e38a-f7a7-11e7-9115-0b610033f1a0.png)

[2018-01-12 19:57] Stygy commented on #2015
In https://github.com/Azure/acs-engine/blob/master/docs/custom-vnet.md
There must say that if you want to use that in windows nodes is necessary to add the subnet variable in the azuredeploy.json that is expected but not there.

My Linux pods have no issues... only windows ones

[2018-01-12 20:54] PatrickLang commented on #2015
Another solution is to move the container storage to D:, but that's not resilient. That shouldn't be a problem because you can just pull the image again if they're missing.

This requires:

1. Change `data-root` docker daemon config to a path on d:
2. Change `DOCKER_TMPDIR` to a path on d: (needs a fix that's not in Docker EE 17.06 yet https://github.com/moby/moby/pull/35077)
3. Re-pull any images

[2018-01-14 20:55] marty2bell opened #2051 "Master internal load balancer does not utilise health probe - Azure"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: 0.10.0

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
The internal master load balancer has a health probe defined but it is not used on the internal load balancer rule.  If you are querying kubernetes from

[2018-01-15 10:21] mcops opened #2053 "acs-engine 0.12.x release date?"
When will be the next release candidate of ACS-engine, because we highly depend on k8s 1.8.6 on azure to be able to use properly the azurefile storage driver and correct parsing of mount options.

Thanks!

[2018-01-15 14:56] ITler commented on #2046
I close this, as, at the moment, I'm pretty sure that this has something to do with K8s itself, rather than with acs-engine. I would reopen this, if I feel it is appropriate.

Bug reported at kubernetes GitHub repo https://github.com/kubernetes/kubernetes/issues/58290

[2018-01-15 15:33] ITler opened #2054 "Faulty calculation based on firstConsecutiveStaticIP?"
**Is this a request for help?**:
think it is a bug. At least I didn't find documentation stating, that this is desired behavior :)
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
issue
---

**What version of acs-engine?**:
v0.10.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
k8s client: 1.9.1 server 1.8.4

**What happened**:
As I need to restrict IP ranges used for

[2018-01-15 19:59] CecileRobertMichon commented on #2053
Hi @mcops, we expect to release v0.12.0 in the next couple of days, hopefully tomorrow.

[2018-01-15 21:23] tamilmani1989 commented on #2054
@ITler Can you please share your cluster config?

[2018-01-16 07:06] dmorgan-github opened #2057 "Unable to deploy Kubernetes cluster to existing VNet"
**Is this a request for help?**:

YES

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

**What version of acs-engine?**:

HEAD

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes

**What happened**:

Deployment failed. Correlation ID: a35dedad-094c-4897-a311-2857581c00c8. {
  "status": "Failed",
  "error": {
    "code": "ResourceDeploymentFailure",
    "message"

[2018-01-16 07:37] ITler commented on #2054
Sure

[code]

[2018-01-16 09:17] jalberto commented on #2022
@CecileRobertMichon I think this is not closed yet, I am still evaluating if everything is right after upgrade.

I can see problem mounting azure-disk volumes

[2018-01-16 16:54] CecileRobertMichon commented on #2022
@jalberto sorry about that, I thought the issue had been resolved. Re-opening it now.

[2018-01-16 17:28] jalberto commented on #2022
no prob @CecileRobertMichon

So after upgrade my PVs using azure-file (shared volumes using CIFS) are not automatically created anymore (I have an storage class) even if created by hand, then it cannot be mounted becuase a permission problem.

More details in how StorageClass was created: https://github.com/Azure/acs-engine/issues/1506

[2018-01-16 18:33] chlaterz commented on #2043
Running the first comman gives the following:

$ sudo service docker start
Job for docker.service failed because the control process exited with error code. See "systemctl status docker.service" and "journalctl -xe" for details.

As suggested, I then tried the following (note, this gives the same results as ` sudo service docker status`):

$ systemctl status docker.service
● docker.service - Docke

[2018-01-16 19:59] CecileRobertMichon opened #2060 "Breaking changes to scale in v0.12.0"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.12.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

v0.12.0 introduced generic configuration interfaces for Kubernetes cluster deployments for the kubelet, controller-manager, and apiserver run-time components. Some of the previously existing `kubernetesConfig` prope

[2018-01-16 21:11] emondek opened #2061 "K8s upgrade error when using RBAC and AAD"
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

**What version of acs-engine?**:

0.11.0

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes v1.8.2

**What happened**:

1. Used acs-engine v0.11.0 to deploy a K8s v1.8.2 cluster with RBAC enabled
2. The cluster has 3 masters and 3 agents
3. Run the following command to upgrad

[2018-01-16 21:25] CecileRobertMichon commented on #2053
v0.12.0 was released earlier today, closing this issue.

[2018-01-16 21:25] #2053 closed

[2018-01-16 21:56] CecileRobertMichon opened #2062 "Breaking change to upgrade in v0.12.0"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.12.4
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

v0.12.0 introduced generic configuration interfaces for Kubernetes cluster deployments for the kubelet, controller-manager, and apiserver run-time components. Some of the previously existing `kubernetesConfig` prope

[2018-01-16 23:29] itowlson opened #2063 "Scale up deletes subnets"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: Whatever is currently used by the Azure CLI (2.0.23) / REST API

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**:  Kubernetes, default version

**What happened**: When I scaled up the agent pool, it deleted a subnet I had added to the clus

[2018-01-16 23:43] itowlson commented on #2063
Verified that this happens when I provision and scale a cluster at the `acs-engine` level too.

[2018-01-17 00:08] bigmyx opened #2065 "Support for multi-master deployment"
I'd like to follow up on #1710.
Can you please clarify on when to expect a support for HA deployment with a multiple masters?

[2018-01-17 00:54] itowlson commented on #2063
Looks like scaling down just deletes agent VMs, but scaling up redeploys the entire ARM template, including the VNET.  Could `transformer.NormalizeForK8sVMASScaling` remove the VNET declaration?  We would need to remove both the declaration itself and any depends-on statements that referred to it.

Do we see any safety issues with this?

[2018-01-17 01:10] jackfrancis commented on #2063
@JackQuincy can you confirm that this behavior should not occur? (Also, if you suspect/have an opinion that this behavior is a side-effect of the current scale implementation, that would be awesome too!)

[2018-01-17 07:54] andyzhangx commented on #2015
I set Windows OSDisk size as 300GB, while after creating some windows containers like aspnet, it has only 3GB disk space left even I have removed all containers. What I could workaround is clean Temp dir to release 13GB space.
[code]

Is there any way to release the cache data in Windows?

[2018-01-17 08:53] stuartleeks commented on #2021
@jackfrancis can you re-open to track changes to kubernetes components (I forgot to update the PR comment to prevent the issue being auto-closed)!

[2018-01-17 13:10] ITler commented on #2046
I need to reopen that issue, as I finally could figure out a difference with deployed resources by `acs-engine`.

v0.9.3 works with **`AzureGermanCloud`** and **`AzureCloud`**
v0.10.0 works only with **`AzureCloud`**
v0.12.0 works with none of them

So `acs-engine` deployment does not create master `route table` resource anymore.
It looks like that (created with `v0.10.0`@ public `AzureCloud`):

[

[2018-01-17 16:30] jackfrancis commented on #2021
Done.

[2018-01-17 17:29] odauby commented on #2027
Nice catch @Josefczak !
On our side, we also added the DNS suffix to let Windows containers to resolve short service names thanks to these Powershell commands:
[code]

[2018-01-17 17:40] odauby commented on #1903
Just tried with freshly released acs-engine v 0.12.0, same result.
The DNS issue looks quite similar to [this one](https://github.com/Azure/acs-engine/issues/2027), someone proposed to consume the kube-dns pods instead of the kube-dns service, and this works for me with just a couple of Powershell commands within the Windows containers:
[code]

[2018-01-17 17:53] JiangtianLi commented on #1903
@odauby There is currently an issue with service vip on windows node so using POD IP instead of cluster IP is indeed the workaround. We are going to roll out the patch asap.

[2018-01-17 18:07] mcops opened #2069 "acs-engine 0.12 - issues with upgrade"
**currrent deployed azure acs kubernetes release: 1.8.4

**seems  upgrade command is kind of broken, or something changed in the api model, concerning my previous json file (besides several parameters which are not anymore supported) - I do get this error:
(already tried upgrade version 1.8.6, same error)

acs-engine-v0.12.0-windows-amd64>acs-engine.exe upgrade --subscription-id XXXXXX --resource-

[2018-01-17 19:35] bq1756 commented on #2062
I have clusters running production workloads.  Building new clusters and migrating workloads is a lot of work.  Are there plans to support upgrading clusters built with previous versions of acs-engine?

[2018-01-17 19:39] CecileRobertMichon commented on #2069
Hi @mcops, are you trying to upgrade a pre-existing cluster? If so, please see #2062

[2018-01-17 19:46] mcops commented on #2062
oh boy. this is an upgrade-path, ops people like us really get's annoyed.

I understand those technical upgrades concerning TLS, but as bq1756 already mentioned, we do have productive workloads as well and far away that we have everything well defined via helm charts :-(

All I needed was 1.8.6, that finally the azurefile storage class mount options work properly and now I've to re-create a new cl

[2018-01-17 19:58] bq1756 opened #2075 "acs-engine 'upgrade' did not grab new Ubuntu OS image"
**Is this a request for help?**:
yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
issue
---

**What version of acs-engine?**:
v0.11
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.7.2 - 1.8.4

**What happened**:
Deployed a brand new test cluster on k8s 1.7.2.  The node OS images are vulnerable to Meltdown-Spectre.
Manually altered /_output/*.json to "o

[2018-01-17 20:11] rocketraman commented on #1790
@mwieczorek Perhaps my original acs-engine conf will help? Did you try it with subnet overrides like this?

[code]

[2018-01-17 20:22] bq1756 opened #2076 "How to change VM sizes of agents in Azure"
**Is this a request for help?**:
yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
issue
---

**What version of acs-engine?**:
v0.11
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.7.2

**What happened**:
Nothing yet.  I want to replace the Azure VM sizes of my k8s agent nodes from basic D-series to larger Dv3-series on a k8s cluster running production

[2018-01-17 20:24] tamilmani1989 commented on #2054
Thank you for letting us know. We will let you know if we fix this

[2018-01-17 21:03] ducas commented on #2057
I’m having the same issue. Pretty much exact json input and using “the long way” too. I tried specifying orchestratorRelease as “1.9” based on #1806, but no luck.

[2018-01-17 21:42] mpluhar commented on #611
Having the same issue on 1.6.13

``
ubuntu@bastion:~/src$ kubectl -n mgmt describe pvc
Name:           pvc-azuredisk
Namespace:      mgmt
StorageClass:   hdd
Status:         Bound
Volume:         pvc-b39bf0a7-fbc8-11e7-a64f-000d3ae0e28e
Labels:         <none>
Annotations:    pv.kubernetes.io/bind-completed=yes
                pv.kubernetes.io/bound-by-controller=yes
                volume.beta.kub

[2018-01-17 22:51] twittyc opened #2077 "etcd certs deployed as Root user preventing etcd from starting."
**Is this a request for help?**: YES

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: v0.12

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.7.9

**What happened**: etcd certs are being deployed to the masters as user root. etcd is configured to run as user etcd. This prevents etcd from reading the certs and st

[2018-01-18 00:03] CecileRobertMichon commented on #2069
@mcops what version of acs-engine did you build your cluster with? Did you manually change anything in the apimodel before running the upgrade command? I am trying to reproduce your error but I am not able to get the same error.

[2018-01-18 00:14] CecileRobertMichon commented on #2077
Hi @twittyc. Thanks for reporting! I am trying to reproduce what you are describing but etcd is starting correctly for me. What template are you using? What does `systemclt status etcd` show?

[2018-01-18 08:02] shaharyakir opened #2080 "Can't open connection to external server under high load"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: 0.11.0

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kuberenetes 1.7.9

**What happened**:

Let me start by saying that this is a very specific issue, probably much related to my specific configuration, and there is a likelihood that i

[2018-01-18 14:34] okke-formsma commented on #2046
The default provisioning system has changed from 'none' to 'cni'. Also see https://github.com/Azure/acs-engine/tree/master/examples/networkpolicy

Setting your properties.orchestratorProfile.kubernetesConfig.networkPolicy to 'none' will yield a route table resource again.

[2018-01-18 15:02] okke-formsma opened #2082 "0.12; container nameservers not using dnsServiceIP"
ISSUE
---
**What version of acs-engine?**:
Version: v0.12.0
GitCommit: 1d332296
GitTreeState: clean
---
**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
My pods are unable to reach DNS. It seems the wrong nameserver is specified in /etc/resolv.conf.

[code]

I set the api-model configuration dnsServiceIp to 10.48.0.10, but this is not applied to resolv.co

[2018-01-18 16:05] jackfrancis opened #2083 "heapster issues in v0.12.0"
**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: v0.12.0

---

[2018-01-18 16:08] jackfrancis commented on #2083
Example heapster pod logs from a newly deployed cluster:

[code]

[2018-01-18 16:10] pidah opened #2084 "Node Authorization implementation"
**FEATURE REQUEST**

__Node Authorization:__

  The Node authorization admission controller flag is now in master – https://github.com/Azure/acs-engine/pull/1989. However going by the docs here –
 https://kubernetes.io/docs/admin/authorization/node/ there are a few other steps required to complete the implementation. At the moment all nodes created by acs-engine use the same client cert https://gi

[2018-01-18 16:19] davesykeselateral opened #2085 "Adding Route Table to Custom VNET in different Resource Group fails"
**Is this a request for help?**: NO
**Is this an ISSUE or FEATURE REQUEST?**: ISSUE
**What version of acs-engine?**: v0.11.0 cda96312, clean

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.8.4

**What happened**:
I followed the instructions to add the Route Table into the custom VNET, no errors were received, but when running
[code]
Then attempt to open the dashboard at

[2018-01-18 16:27] davesykeselateral commented on #2085
PR is https://github.com/Azure/acs-engine/pull/2086

[2018-01-18 16:41] tesharp commented on #2082
I submitted a pull request to fix this issue yesterday: https://github.com/Azure/acs-engine/pull/2078

[2018-01-18 16:54] tesharp opened #2087 "heapster-nanny not able to start after upgraded to 1.8.1"
**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

**What version of acs-engine?**: HEAD

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes

**What happened**:

heapster-nanny container just ends up in CrashLoop after upgrade to 1.8.1. This is an upstream error in container, filed an PR for fix https://github.com/kubernetes/autoscaler/pull/559.

**What you expecte

[2018-01-18 17:18] duga3 opened #2088 "TenantID becomes mandatory field in AADProfile"
**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: canary

---
**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes 1.9.1

**What happened**:
Deployment of Kubernetes with AAD enabled does not work anymore if the TenantID is not specified manually in the template. If it's not specified the api model, it is written with
`--oidc-is

[2018-01-18 19:21] mcops commented on #2069
coming from 0.10 release.

[2018-01-18 20:32] ghost opened #2094 "How to deploy Windows Server 2016 agents on Kubernetes 1.9 ?"
**Is this a request for help?**:
YES
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE I guess, it looks like a regression since it works for Kubernetes 1.8.x
---

**What version of acs-engine?**:
Version: v0.12.0
GitCommit: 1d332296
GitTreeState: clean
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9.1

**What happened**:
When using this Kubernetes

[2018-01-18 21:10] #2083 closed

[2018-01-18 21:40] jackfrancis commented on #2083
#2091 fixed this bug, which was subsequently included in the `v0.12.1` patch release here:

- https://github.com/Azure/acs-engine/releases/tag/v0.12.1

To manually fix this if you've built a cluster from v0.12.0 and don't want to re-build, update kubelet config on each node to remove the `--read-only-port=0` runtime config setting. This is set in `/etc/default/kubelet`. `sudo systemctl restart kub

[2018-01-18 22:20] CecileRobertMichon commented on #2069
I am still unable to reproduce, how many masters are there in your cluster? Did you change anything in the apimodel.json file before running upgrade?

[2018-01-18 22:37] #2087 closed

[2018-01-18 22:42] JiangtianLi commented on #2094
@odauby Can you verify if you have the following in your azuredeploy.json:
[code]
and if you have agentWindowsVersion in your azuredeploy.parameters.json?

[2018-01-19 00:36] bq1756 commented on #2076
I plan to test the following procedure:
Create an additional node pool, using desired VM size
Migrate workload to new node pool
Figure out a way to delete a node pool in a way that keeps acs-engine working for future scale/upgrade activities

[2018-01-19 01:30] JiangtianLi commented on #2094
@odauby It is a bug in kubelet that gets the incorrect windows kernel version.

@feiskyer @taylorb-microsoft  It seems that https://github.com/kubernetes/kubernetes/pull/55143 doesn't work on windows 10. From https://msdn.microsoft.com/en-us/library/windows/desktop/ms724439(v=vs.85).aspx, GetVersion requires app to be manifested. Applications not manifested for Windows 8.1 or Windows 10 will retur

[2018-01-19 02:21] feiskyer commented on #2094
@JiangtianLi Sorry, didn't notice this problem. Will file a PR to fix this.

[2018-01-19 02:41] andyzhangx opened #2099 "Add customized config: use /mnt (the ephemeral/temp drive) for pod volumes"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE REQUEST
---

**What version of acs-engine?**:

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

**What happened**:
we’re processing large assets (video files of 10GB+ size) in Kubernetes. Running on agent nodes (Azure H8 instances), we have vast amounts of space under /mnt (on

[2018-01-19 03:11] itowlson commented on #1790
https://github.com/Azure/acs-engine/pull/2095 might fix this - it should prevent the scale command from trying to modify the vnet - but I'm not sure...

[2018-01-19 05:20] ducas commented on #1806
I found that I was having this because my nodes (master and agents) were not able to hit the k8s.gcr.io to download kubectl. I discovered this by logging into the master and looking at /var/log/cluster-provision.log, which ended with:

    + echo 'kubernetes did not start'
    kubernetes did not start
    + exit 3

I traced this back to here - https://github.com/Azure/acs-engine/edit/master/parts/

[2018-01-19 07:05] mcops commented on #2069
yes, I'd to adjust apimodel, because several parameters aren't supported. So I'll have a look that I don't have any typo in the json.

[2018-01-19 08:40] snarayanank2 commented on #221
Hi, we're deploying a cluster in a large corporate and this will be very important. Any idea when this will be available?

[2018-01-19 10:09] ITler commented on #2046
Cheers, seem to work ... didn't see that doc.
Thank you

[2018-01-19 10:09] #2046 closed

[2018-01-19 11:58] arindam00 commented on #747
Is encryption support for ACS (Kubernetes) ? Master VM in K8S cluster is encrypted and cluster is not reachable using KUBECTL and Dashboard is also not reachable.

[2018-01-19 13:49] odauby opened #2100 "kube-dns & kubernetes-dashboard pods crashing on Kubernetes 1.9"
**Is this a request for help?**:
NO
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
Version: v0.12.0
GitCommit: 1d332296
GitTreeState: clean

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9

**What happened**:
When deploying hybrid (Linux/Windows) Kubernetes cluster, `kube-dns` and `kubernetes-dashboard` pods

[2018-01-19 14:20] twittyc commented on #2077
Hi @CecileRobertMichon thanks for the reply. It seems it was a botched deployment I haven't been able to reproduce the issue again.

[2018-01-19 14:20] #2077 closed

[2018-01-19 14:31] TimBobkov opened #2101 "Using custom NSG group with custom VNET"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: HEAD

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Now we have working AKS cluster. But we want to create additional HA ACS unmanaged cluster and connect it to VNET of AKS cluster (because there are some s

[2018-01-19 15:14] aku105 opened #2102 "Unable to reference 'etcdPeerCertificates' and 'etcdPeerPrivateKeys' from KeyVault in apimodel.json"
**Is this a request for help?**:
Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

---

**What version of acs-engine?**:
v0.12.1

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
If I reference the etcd peer certs and keys in apimodel.json (at `.properties.certificateProfile.etcdPeerCertificates` and `.properties.certificateProf

[2018-01-19 15:34] andyzhangx commented on #747
Disk encryption is not supported yet. @arindam00 how do you encrypt master VM? By running VM encryption command `az vm encryption enable ...` ? And in your case, you need to ssh into master node, and run "docker ps" to check whether api-server is down.

[2018-01-19 16:41] TimVG opened #2103 "Docker Windows image pull fails on Windows nodes with premium (SSD) storage"
**Is this a request for help?**:
No

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

**What version of acs-engine?**:
v0.12

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9

**What happened**:
Pulling windows docker images fails on windows nodes if they use Managed premium (SSD) disks

With following acs config windows nodes are created with SSD disk:
[cod

[2018-01-19 17:07] #2015 closed

[2018-01-19 21:13] campbelldgunn opened #2107 "acs-engine 0.12.1 scale failing for windows nodes"
**Is this a request for help?**: NO

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: 0.12.1

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9.1

**What happened**:
Trying to scale out Windows nodes in a windows pool from 3 to 5. using the following command:
[code]
It fails with the error below and only have 3

[2018-01-19 22:29] jalberto commented on #2022
I fixed azurefile by deleting adn recreating the StorageClass

Now I got a new problem quite critical:

[code]

This happens each time a pod need to move from one node to another. I checked in azure portal and I can see how the disk move to the correct node correctly, and kubectl says the PVC is bound.

probably related to: #2002

[2018-01-19 22:30] jalberto commented on #2002
I have same error message (#2022) but in my case I can see how the disk move correctly to new node, still pods are unable to mount the disk

[2018-01-19 23:30] CecileRobertMichon commented on #2107
Closing this issue as it is a duplicate of #1972

[2018-01-19 23:30] #2107 closed

[2018-01-19 23:48] yuvipanda opened #2109 "Document how to run pods as non-root now SecurityContextDeny is a default admission controller"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: v0.12

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes

**What happened**:

I tried to install a helm chart (z2jh.jupyter.org) that has been working fine on same k8s version created with older acs-engine versions, and I expected

[2018-01-20 00:32] zqingqing1 commented on #1972
Hi Prathamesh, currently, the scalability for windows haven't implemented yet. So that's the reason why it works well for Linux agent pool. Team are working on supporting this feature. Thanks for pointing the issue out.

[2018-01-20 01:59] yuedai commented on #2076
I think you can kubectl drain a node, change its sku and kubectl uncordon the node back.

[2018-01-20 02:32] andyzhangx commented on #2022
@jalberto You got this error when moving pod with an azure disk (not azure file) to another node, right? This could happen since azure disk detach from a node costs minutes in current k8s version, but wait for a few  minutes should work.

[2018-01-20 02:34] andyzhangx commented on #2002
@jalberto I am quite sure your issue is different from this one, I have replied in https://github.com/Azure/acs-engine/issues/2022

[2018-01-20 11:27] jalberto commented on #2022
@andyzhangx even after 4h still not working

[2018-01-20 11:27] jalberto commented on #2002
maybe you right @andyzhangx but this started with the securit patch release

[2018-01-20 12:18] andyzhangx commented on #2022
@jalberto could you run "kubectl describe po POD-NAME" and paste the output here?

[2018-01-20 12:24] andyzhangx commented on #2022
@jalberto and what's your k8s version? is it managed disk VM or unmanaged disk VM? What's your k8s operations? `kubectl drain POD-NAME`? I would try to repro this issue in my env if possible.

[2018-01-20 14:01] andyzhangx commented on #2022
I have checked the k8s upstream code, it's likely due to incorrect status of volume status, that is the volume is actually removed from one node, while its volume status is not updated, volume still belonging to that node. I tried twice on my env, while It could not be easily reproed since it's due to Meltdown patch as you mentioned. So I would suggest you could follow this guide : [Volume status

[2018-01-20 14:14] andyzhangx commented on #2002
@pauloeliasjr sorry I missed your comments. What's your error? Could you paste again. There is some error not related to this issue.

[2018-01-21 09:09] lirkog86 commented on #1977
same issue occurs in acs-engine v0.12.
i don't see it happening in gcloud k8s deployment with kubenet

[2018-01-21 18:22] IvanovOleg opened #2110 "Unable to delete statefulset in Kubernetes 1.9.1"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.12.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9.1

**What happened**:
Unable to delete statefulset. Error: **no kind "GetOptions" is registered for version "apps/v1"**

**What you expected to happen**:
Delete statefulset u

[2018-01-22 02:48] feiskyer commented on #2110
@IvanovOleg have you also upgraded kubectl?

[2018-01-22 07:00] odauby commented on #2100
Here you are:

[code]
[code]

[code]
[code]
[code]

[2018-01-22 07:15] feiskyer commented on #2100
@odauby From kube-dns logs, 10.0.0.1:443 i/o timeout. This is the kubernetes services used for connecting kube-apiserver.  Could you verify whether it is health? e.g.

- `kubectl get endpoints kubernetes`, and check whether the endpoints is working
- If ok, check connection of `10.0.0.1:443` on the node running kube-dns (get node by `kubectl -n kubesystem get pod -o wide kube-dns-v20-55498dbf49-qm

[2018-01-22 09:08] odauby commented on #2100
Here you are:
[code]
[code]

From the node itself:
[code]

[2018-01-22 10:09] IvanovOleg commented on #2110
@feiskyer no, I forgot. Sorry

[2018-01-22 10:09] #2110 closed

[2018-01-22 11:52] oivindoh commented on #2100
I think I'm affected by the same issue, but I might be muddling this issue a bit because I appear to only get the problem using nonstandard dockerengineversion.

E.g. the following apimodel gives me a working 1 master 1 node k82 1.9.1 ubuntu cluster on ACS-engine 0.12.2 (and .1):

[code]

Whereas the following gives the exact same symptoms mentioned by odauby:

[code]

The apiserver appears fine i

[2018-01-22 14:54] serbrech commented on #1603
Hello, We met this issue today.
Deploying a cluster with version of acs-engine (0.12.1) into an existing Vnet/Subnet :

[code]

Resolution was to _manually_ assign the route table created on the vnet to the default subnet.
Should that happen automatically? What is the status on this issue?

Stephane

[2018-01-22 16:07] oivindoh commented on #2100
Tested stopping the VMs and booting them in order - same result as above when nodes come back to life. Didn't expect this to have any effect, but worth a shot.

Also attempted to deploy unspecified docker version (so 1.12.6) vs specified (still 17.05.*) with networkpolicy explicitly set to "none" instead of the implicit "azure" from above, yielding the same results:

- docker 17.05: kube-dns/dashb

[2018-01-22 16:15] mwieczorek opened #2112 "Enable OIDC options as user-configurable"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE REQUEST
---

**What version of acs-engine?**:
0.12.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

According to https://github.com/Azure/acs-engine/blob/master/docs/clusterdefinition.md
OIDC options (--oidc-username-claim, --oidc-groups-claim, --oidc-client-id, --oi

[2018-01-22 17:52] jackfrancis opened #2114 "HPA Autoscaling in v1.9.n clusters"
Auto-scaling isn't working in our v1.9 clusters using the vanilla demo here:

http://blog.kubernetes.io/2016/07/autoscaling-in-kubernetes.html

At a minimum, it looks like we need metrics service component to make this work in 1.9.

[2018-01-22 20:13] vtiwari227 commented on #1807
Any update on this issue, I think it's a very important feature to add on ACS platform

[2018-01-22 21:16] JunSun17 commented on #2109
@yuvipanda Please refer to this comment (https://github.com/Azure/acs-engine/pull/1989#issuecomment-358526373) as a way to disable SecurityContextDeny setting for now.

I am reading into documents about PSP to see if removing SecurityContextDeny would provide better customer experience. Will update shortly on this. Thanks!

[2018-01-22 23:41] nakahparis opened #2117 "Empty Route Table after deployment"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.12.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes v1.9.1

**What happened**:
I'm trying to deploy a K8S cluster on a custom VNET with networkPolicy set to "none". My cluster is created however, I have several issues:
- Route

[2018-01-23 01:28] fengli858 opened #2119 "nginx-ingress-controller deployment fails in Kubernetes 1.91 / acs-engine v0.12.2"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
0.12.2

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9.1

**What happened**:
nginx-ingress-controller deployment fails in Kubernetes 1.91 / acs-engine v0.12.2
It works in my another k8s cluster created by acs-engine v.0.11.0

[2018-01-23 01:47] feiskyer commented on #2100
@odauby  @oivindoh For docker version >=1.13, docker changes FORWARD to DROP by default. Could you run `iptables -P FORWARD ACCEPT` and check whether kube-dns and dashboard come back?

[2018-01-23 01:53] rocketraman commented on #2002
@andyzhangx I just ran into this problem again as well, despite solving it last week after the security updates with the cordon/drain/reboot process on each node :-(

I have a persistent volume which is showing "unbound" in the portal, and yet Kubernetes keeps reporting a 409 error for it:

[code]

As an experiment I decided to delete the disk entirely. Kubernetes even kept reported a 409 error af

[2018-01-23 02:58] andyzhangx commented on #2002
@rocketraman what's your `VM 'k8s-agentpool1-18117938-4'` status?
It could be the last error long time ago. I think you should first resolve the VM failed state issue, use following command to update the VM status:
[code]

or Powershell solution if VM status is failed:
https://blogs.technet.microsoft.com/mckittrick/azure-vm-stuck-in-failed-state-arm/

[2018-01-23 03:17] andyzhangx commented on #2002
@rocketraman could you use following command to update the VM `k8s-agentpool1-18117938-4` status anyway, sometimes the VM status in azure portal is cheating you.
[code]

[2018-01-23 03:17] feiskyer commented on #2114
@jackfrancis Which components are we missing?

[2018-01-23 03:24] rocketraman commented on #2002
@andyzhangx Ok wow, that worked and solved the issue. Thank you! Is there a way I can identify other VMs that are in this "reporting Running but not running" state?

[2018-01-23 04:32] andyzhangx commented on #2002
@rocketraman There is a command `az vm get-instance-view -g <group> -n <name>`, while I am not sure it could get the error info as I don't have the VM that has issue, and you could `az vm update` all for VMs, it's harmless.

[2018-01-23 07:25] oivindoh commented on #2100
@feiskyer yep, that's it! I added ACCEPT, deleted the pods to make them restart faster, and now they're connecting properly, leaving me with a working cluster. Is this something I can fix via acs-engine while deploying, or will I have to keep doing this manually? I suppose defaulting to ACCEPT isn't the most ideal solution to the problem, but guessing this is a k8s issue more than an acs-engine is

[2018-01-23 08:42] RamonaBunea opened #2121 "What IPs to open up for outbound internet from master VMs?"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.12.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.7.9

**What happened**:
I am trying to deploy a K8s cluster in a custom VNET where the master nodes have a dedicated subnet with an NSG that blocks all outbound internet ac

[2018-01-23 08:50] odauby commented on #2100
@feiskyer Does not help for me: since I did not set any `dockerEngineVersion`,  I end up with docker 1.12.6 for master and Linux nodes, and 17.6.2 for Windows agent.
So, on a Linux agent the default policy for the FOWARD chain in already ACCEPT:

[code]

[2018-01-23 09:10] feiskyer commented on #2100
@oivindoh Kubernetes community has already added FORWARD rules in kube-proxy (https://github.com/kubernetes/kubernetes/pull/52569). We need to figure out why it is not working on Azure.

@odauby While I couldn't repro the problem with docker v1.12. Did recreating kube-dns pod help in your case? e.g.

[code]

[2018-01-23 10:43] odauby commented on #2100
[code]
They get recreated and then Crash loop again
[code]
I also Azure-reallocated the master and azgent nodes, no improvement.

[2018-01-23 12:42] rakidu opened #2122 "kubectl get nodes error connection :443 timeout"
**Is this a request for help?**: yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**:
C:\Ravi>acs-engine version
Version: canary
GitCommit: unset
GitTreeState: unset

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** Kubernetes

**What happened**:
Not able to reach the nodes in the cluster

**What you expected to happen**:

*

[2018-01-23 13:10] gmagniez commented on #1867
Hi,
We faced a similar issue, but when using a subnet for each type of node, one for masters (3 masters) and one other for workers node.
In fact it seems that the deployment try to allocate the 2nd an 3rd masters nic after the first one has allocated its dynamic range, i.e. firstConsecutiveStaticIP: 192.168.0.10, masters will need 0.10, 0.11 and 0.12 but the dynamic pool of the first master has al

[2018-01-23 13:44] rakidu commented on #2122
I deployed acs cluster in azure using ACS-Engine
I logged in to Master and tried to execute "kubectl get nodes" command
error : Unable to connect to the server: dial tcp 52.178.90.205:443: i/o timeout

I downloaded the .kube/config file on to local machine and tried to execute the same command from Azure CLI
Error : Unable to connect to the server: dial tcp 52.178.90.205:443: connectex: A connecti

[2018-01-23 14:17] andyzhangx commented on #611
@mpluhar the logs provided does not have sufficient info, could you follow this [guide](https://github.com/andyzhangx/Demo/tree/master/debug#q-how-to-get-k8s-kubelet-logs-on-linux-agent) to get kubelet logs on `k8s-agentpool1-16123343-0 ` and `k8s-agentpool1-16123343-2` ?  Thanks.

[2018-01-23 16:47] campbelldgunn commented on #1972
@zqingqing1 Does scaling out a windows pool work for `acs` and or `aks`then? Or this is a problem across all 3 CLIs?

[2018-01-23 17:15] jackfrancis commented on #2114
What I've been told anecdotally is that 1.9 requires the metrics server.

https://github.com/kubernetes/metrics

Haven't had time to look into it beyond that yet! Thanks for any time you can put into this!

[2018-01-23 17:54] mcops commented on #2062
unfortunately i re-deployed 2-days ago a new cluster! Too late...

[2018-01-23 17:54] JiangtianLi commented on #1972
@campbelldgunn acs leverages acs-engine package code as library therefore scaling windows pool should have the same issue in acs. aks doesn't support windows node yet.

[2018-01-23 18:11] JunSun17 opened #2123 "Setup a default allow-all Pod Security Policy in Kubernetes API server"
**Is this a request for help?**: No

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Feature

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes

**What you expected to happen**: For security concerns and auditing requirement, we should setup a Pod Security Policy for Kubernetes API server, and users should be able to modify it to apply their customization.

[2018-01-23 18:13] mcops opened #2124 "Latest acs-engine deployed k8s cluster not working"
**acs-egine release**: 0.12.4
**k8s release:** 1.9.1 (exactly same effect with 1.8.7)

- empty resource group
- deploy k8s cluster with custom vnet and managed disks
  (route table is also not created as in previous release. Not sure if this is not anymore needed with the new cni integrations?)
- k8s: 3x agents (DS4v2), 1x master (DS3v2)
-master, agents and all relevant resources are created prope

[2018-01-23 19:34] patrick-motard commented on #1767
It would be _really_ nice if this limitation was specified in the [documentation for custom vnets](https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/features.md#feat-custom-vnet). Would have saved me a lot of time.

[2018-01-23 19:35] nagarjunac opened #2127 "Unable to scale the kubernetes cluster after upgrading the kubernetes version from 1.7.9 to 1.8.2"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
canary
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.8.2

**What happened**:
I have upgraded my kubernetes cluster from version 1.7.9 to 1.8.2 using the "acs-engine upgrade" command. Then I tried to scale my cluster using the

[2018-01-23 19:37] JiangtianLi commented on #1767
@patrick-motard Sorry about that. I will add to documentation.

[2018-01-23 22:17] jamoham opened #2129 "Cluster is misconfigured and does not work if we use enableRbac as false"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
Version: v0.12.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes (default 1.7.9 version)

**What happened**:
If we use `"enableRbac": false`, then the cluster is misconfigured and does not work.
If we remove this line (`"enableRba

[2018-01-23 22:19] JunSun17 commented on #1869
A new Add-on management structure has been implemented. This issue can be closed now.

[2018-01-23 22:19] #1869 closed

[2018-01-23 22:25] JunSun17 opened #2130 "CIS 1.1.6 Ensure that the --insecure-port argument is set to 0"
Is this a request for help?: No

Is this an ISSUE or FEATURE REQUEST? (choose one): Feature

Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm): Kubernetes

What you expected to happen: Adopt CIS 1.1.6 Ensure that the --insecure-port argument is set to 0.

[2018-01-23 22:27] JunSun17 opened #2131 "CIS 1.1.21 Ensure that the --kubelet-certificate-authority argument is set as appropriate"
Is this a request for help?: No

Is this an ISSUE or FEATURE REQUEST? (choose one): Feature

Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm): Kubernetes

What you expected to happen: Adopt CIS 1.1.21 Ensure that the --kubelet-certificate-authority argument is set as appropriate.

Extra work needed to setup TLS between kubelet and api server:   https://kubernetes.io/docs/concepts/architect

[2018-01-23 22:29] JunSun17 opened #2132 "CIS 1.1.24 Ensure that the admission control policy is set to PodSecurityPolicy"
Is this a request for help?: No

Is this an ISSUE or FEATURE REQUEST? (choose one): Feature

Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm): Kubernetes

What you expected to happen: Adopt CIS 1.1.24 Ensure that the admission control policy is set to PodSecurityPolicy.

Extra work needed to create pod security policy:
https://kubernetes.io/docs/admin/admission-controllers/#podsecuritypoli

[2018-01-23 22:30] JunSun17 opened #2133 "CIS 1.1.32 Ensure that the admission control policy is set to NodeRestriction"
Is this a request for help?: No

Is this an ISSUE or FEATURE REQUEST? (choose one): Feature

Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm): Kubernetes

What you expected to happen: Adopt CIS 1.1.32 Ensure that the admission control policy is set to NodeRestriction.

Extra work needed to configure node restriction:   https://kubernetes.io/docs/admin/admission-controllers/#noderestriction

[2018-01-23 22:31] JunSun17 opened #2134 "CIS 1.1.33 Ensure that the --experimental-encryption-provider-config argument is set as appropriate"
Is this a request for help?: No

Is this an ISSUE or FEATURE REQUEST? (choose one): Feature

Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm): Kubernetes

What you expected to happen: Adopt CIS 1.1.33 Ensure that the --experimental-encryption-provider-config argument is set as appropriate.

Extra work needed to configure encryption:   https://kubernetes.io/docs/tasks/administer-cluster/enc

[2018-01-23 22:32] JunSun17 opened #2135 "CIS 1.1.35 Ensure that the admission control policy is set to EventRateLimit"
Is this a request for help?: No

Is this an ISSUE or FEATURE REQUEST? (choose one): Feature

Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm): Kubernetes

What you expected to happen: Adopt CIS 1.1.35 Ensure that the admission control policy is set to EventRateLimit.

Extra work needed to set limit configuration:   https://github.com/staebler/community/blob/   9873b632f4d99b5d99c38c9b15fe2

[2018-01-23 22:55] jsturtevant commented on #1806
I ran into this as well.  It failed when ran in westus2. I changed to eastus and it worked

[2018-01-23 23:21] tamilmani1989 commented on #1867
@gmagniez -with this merge #1966 you are required to specify firstConsecutiveStaticIP at start of subnet giving space for master pod IPs.

If you check the link  https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/features.md#custom-vnet

we would have specified,
"As a result, for the master nodes, enough IP addresses (equal to ipAddressCount) should be available beyond firstConsecutiv

[2018-01-23 23:46] samkreter opened #2136 "Persisting Source IP For Clusters with Multiple Agent Pools"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**:  V0.3

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.6

**What happened**: The annotation (service.beta.kubernetes.io/external-traffic=OnlyLocal) for preserving source IP causes the packets not to be sent if there is more tha

[2018-01-23 23:54] nakahparis commented on #2117
I made a mistake by setting "clusterSubnet": "10.251.30.0/23".
I thought it was the Azure subnet's CIDR.
I've created new cluster, but :I still have empty Route Table

[2018-01-23 23:55] ducas opened #2137 "Pods are not able to list services"
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

**What version of acs-engine?**:

0.12.3

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes

**What happened**:

I have a Kubernetes v1.8 cluster provisioned to a custom VNet. When trying to run external-dns, logs are displaying the following errors:

time="2018-01-23T23:43:

[2018-01-24 03:32] feiskyer commented on #2100
@odauby Seems there is something wrong with Pod networking. As you confirmed above, the node itself could access `https://10.0.0.1:443` while kubedns couldn't.  Have you created other NSGs which may block pod networking potentially?

[2018-01-24 06:51] odauby commented on #2100
@feiskyer no, I did not. This is a vanilla acs-engine deploy:

[code]
Where :
$azureLocation = westeurope
$clusterName = k8s-sl31065

[2018-01-24 07:23] feiskyer commented on #2100
@odauby Could you upgrade to latest acs-engine and try again?

[2018-01-24 07:24] feiskyer commented on #2100
Just noticed kubernetes/kubernetes#52569 only fixes problem for NodePort services, we still need to enable FORWARD.

[2018-01-24 09:01] odauby commented on #2100
@feiskyer just tried with latest acs-engine, no improvement.
[code]
**api-model:**
[code]

**Deployment :**
[code]
where:
$azureLocation is westeurope
$cluster is k8s-sl31075

**Outcome:**
[code]

[2018-01-24 09:28] odauby commented on #2100
Just tried with Kubernetes 1.8 by updating this line in the api-model:
[code]
Same CrashLoopBackOff issue on the kube-dns pods. So it does not seem to be Kubernetes 1.9 related IMHO.

[2018-01-24 09:38] serbrech opened #2140 "cni plugin installation failure on fresh deployment"
**Is this a request for help?**:
NO

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

---

**What version of acs-engine?**:
0.12.4

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
OrchestratorRelease 1.7.9 using azure cni networking

**What happened**:
Deployment was succesfull, no apparent deployment error or warnings. However, when deploying an application, on

[2018-01-24 10:32] serbrech commented on #2122
Most likely the kubernetes system containers are unable to start for some reason.

try to run `sudo journalctl -u kubelet | grep --text autorest` on a master node to see if it's not your service principal missing the necessary rights.

This is described in the [Troubleshooting](https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/troubleshooting.md) doc.

I wish acs-engine could verify

[2018-01-24 12:04] odauby commented on #2100
@feiskyer just noticed that if I remove the Windows machine from my api-model, `kube-dns-v20` is succesful and kube-dns pods don't crash anymore.

Could it be that for some odd reason the `kube-dns-v20` deployment is scheduled on a Windows agent ?
I remember that acs Kubernetes schedules containers by default on Windows agents and that you have to add a node selector to get them scheduled on Linux

[2018-01-24 12:50] feiskyer commented on #2100
Actually I couldn't repro the problem with or without windows nodes.  I have verified api-model from both https://github.com/Azure/acs-engine/issues/2100#issuecomment-360064628 and https://github.com/Azure/acs-engine/issues/2100#issue-289981320.

@odauby have you joined kubernetes slack? If so, I can help to check what's wrong tomorrow.

[2018-01-24 12:51] rakidu commented on #2122
sudo journalctl -u kubelet | grep --text autorest
for above command no output
i executed below command
sudo journalctl -u kubelet

-- Logs begin at Tue 2018-01-16 14:54:47 UTC, end at Wed 2018-01-24 12:05:19 UTC. --
Jan 16 14:53:56 k8s-master-10483458-0 systemd[1]: Stopped Kubelet.
Jan 16 14:53:59 k8s-master-10483458-0 systemd[1]: Starting Kubelet...
Jan 16 14:53:59 k8s-master-10483458-0 bash[6865

[2018-01-24 12:52] rakidu commented on #2122
kubelet.service is down
root@k8s-master-10483458-0:/home/duraki# systemctl status kubelet
● kubelet.service - Kubelet
   Loaded: loaded (/etc/systemd/system/kubelet.service; enabled; vendor preset: enabled)
   Active: inactive (dead) (Result: exit-code) since Wed 2018-01-24 11:33:59 UTC; 32min ago
  Process: 1966 ExecStartPre=/bin/bash /opt/azure/containers/kubelet.sh (code=exited, status=2)

Jan

[2018-01-24 13:05] ghost opened #2141 "Accessing dashboard through 'kubectl proxy' gives error message"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

---

**What version of acs-engine?**:
[code]

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.8.7
Docker 1.12.6
kubectl 1.8.7

**What happened**:
After a freshly deployed Linux-only (master and agent) Kubernetes cluster, accessing `kubernetes-dashboard` with a browser

[2018-01-24 13:24] starkilla2003 opened #2142 "Kubernetes cluster deployment ends in error state with prometheus-grafana"
**Is this a request for help?**:

YES

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

**What version of acs-engine?**:

0.12.4

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes v1.7.9

**What happened**:
I deployed a Kubernetes Cluster from scratch into the Azure Germany environment with the prometheus-grafana extension. The cluster was deployed via the follo

[2018-01-24 16:37] dtzar commented on #2029
Looks like this is covered in #2062.  Although this isn't resolved, I'm going to close it out due to the known problem and workarounds presented there.

[2018-01-24 16:37] #2029 closed

[2018-01-24 16:50] dtzar commented on #2114
I'm guessing it has to do with upstream: https://github.com/kubernetes/kubernetes/issues/47511

[2018-01-24 17:23] #2100 closed

[2018-01-24 17:26] marty2bell opened #2143 "Health Probe from Azure Load balancer causes handshake error"
**Is this a request for help?**: NO

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: v0.10.0

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes 1.6.6

**What happened**:

Azure load balancer uses a TCP based Health Probe on port 443 to check availability of the master nodes within the cluster.  This causes the fol

[2018-01-24 18:39] campbelldgunn commented on #1972
@JiangtianLi Great, thanks.

[2018-01-24 22:26] jsturtevant commented on #963
Is it still necessary to maintain a custom Kubernetes binaries for Windows Fork with the recent release of 1.9 which took care of the networking and volume limitations?

[2018-01-24 22:29] rakidu opened #2146 "Kubernetes custom vnet deployment struck at adding route table"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**:
C:\Users\infyadmin\Downloads>acs-engine version
Version: canary
GitCommit: unset
GitTreeState: unset
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** Kubernetes

**What happened**:
The kubelet service down

**What you expected to happen**:

[2018-01-24 22:45] JiangtianLi commented on #963
@jsturtevant From 1.9, all windows binaries are taken from upstream. For 1.7 and 1.8, we are still maintaining our Azure fork (https://github.com/Azure/kubernetes)

[2018-01-24 22:45] #963 closed

[2018-01-24 23:06] feiskyer commented on #2114
I believe @jackfrancis is referring Horizontal Pod Autoscaler (HPA) while Cluster Autoscaler is aiming to scale the number of nodes (which is under evolving at https://github.com/kubernetes/autoscaler repo and won't need metrics server).

[2018-01-24 23:21] jackfrancis commented on #2114
@feiskyer is right (issue title changed accordingly)

[2018-01-25 00:41] jsturtevant commented on #2094
Is there a workaround for this?

[2018-01-25 01:17] rocketraman opened #2148 "Allow node selectivity when scaling down"
**Is this a request for help?**: NO

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): FEATURE REQUEST

---

**What version of acs-engine?**: 0.11.0 (but same thing on 0.12.x AFAIK)

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** Kubernetes 1.7.5+

---

ACS Engine provides a `scale` command now, which is great. However, the documentation states "Nodes will always be ad

[2018-01-25 01:44] itowlson commented on #2148
Hmm, current acs-engine scaling _does_ go through a path of working out which nodes to delete, then passing those VM IDs to the executioner (https://github.com/Azure/acs-engine/blob/f6713ccc7eb82d50fc6936cc8ac8780bda84c3f3/cmd/scale.go#L235).  So in principle, it might be possible to have a client provide those IDs directly.  _But_ it looks like acs-engine assumes consecutive node numbering, at le

[2018-01-25 01:55] lostllama commented on #2148
We're using AKS, so I'll probably also post this there, but I wanted to add what we're trying to do here since I imagine other people will have a similar use case for ACS.

We operate a niche video website, and our backend tasks include two big components:
- Transcoding: converting video from the upload file format into formats optimized for web, mobile, etc.
- Video analysis: Machine learning bas

[2018-01-25 03:31] JiangtianLi commented on #2094
@jsturtevant The issue only affects the windows kernel version reported by kubelet. Windows node still has the correct OS image and Windows container should be able to run as is. Besides, @feiskyer already has the PR https://github.com/kubernetes/kubernetes/pull/58498.

[2018-01-25 04:21] ducas commented on #2137
FYI - I ended up getting around this by creating a service account and giving it view access to the cluster.

    apiVersion: v1
    kind: ServiceAccount
    metadata:
      name: external-dns
    ---
    apiVersion: rbac.authorization.k8s.io/v1
    kind: RoleBinding
    metadata:
      name: external-dns-view-binding
      namespace: default
    roleRef:
      apiGroup: rbac.authorization.k8s.io

[2018-01-25 05:17] lachie83 opened #2150 "Unable to get AAD groups to work with RBAC"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: master

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** Kubernetes

**What happened**:

Following the documentation added in this commit. I'm unable to get AAD groups to be used as a k8s role binding group. @mirthy would you be able to ass

[2018-01-25 05:23] lachie83 commented on #2150
I see that apiserver has the following flag `--oidc-groups-claim=groups`. Should I see the groups key present in my JWT access token?

[2018-01-25 05:47] lachie83 commented on #2150
@pidah I see you've also done some work on this area and may be able to help

[2018-01-25 07:13] michaelburch opened #2151 "Internal Load Balancer not automatically adding target network IP configurations"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.12.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9.1

**What happened**:
Internal Load Balancer created and associated with availability set but no target network ip configurations
were added. Manually adding them in the p

[2018-01-25 09:59] nakahparis commented on #2117
OK the empty Route Table was because the Service Principal didn't have permissions on the resource group. Everything is OK now

[2018-01-25 09:59] #2117 closed

[2018-01-25 12:45] duga3 commented on #2150
When I configured that first time, I missed this line in the [AAD walkthrough](https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/aad.md)

[2018-01-25 13:22] ITler opened #2152 "K8s agent require reboot after fresh provisioning?"
**Is this a request for help?**:
think, I found an issue
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.12.0 (but applies to prior versions, too)
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
K8s 1.8.4

**What happened**:
When provisioning new cluster on **AzureGermanCloud** based on Ubuntu images (currently 16.04.1 LT

[2018-01-25 14:56] nakahparis commented on #1806
I'm having same issues when deploying to custom VNET on WestEurope using acs-engine 0.12.4 and Kubernetes 1.9.1.
I've backuped all logs from /var/log/azure & /var/log/containers if it can help.

[2018-01-25 15:27] mcwienczek commented on #1397
I think the reason is the same as in acs clusters - components declared at cluster creation are forced and re-created in case someone tried to change them. If you want to change thos components you would need to ssh into master machine and change file manifests manually.

For example: https://github.com/Azure/ACS/issues/55

[2018-01-25 16:56] gardlt opened #2153 "K8s agents entering a NotReady State"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: 0.11.*

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.8.2

**What happened**:
yesterday at some point we have started to notice that agent nodes in two of our clusters started to enter into `NotReady`. We tried tor just rest

[2018-01-25 17:12] jsturtevant commented on #2094
I missed that it was only the reported value.  I was able to confirm the Windows node is the correct OS image.  Thanks for the clarification!

[2018-01-25 17:16] lachie83 commented on #2150
Thanks for your response @duga3

I have confirmed that the manifest for the server application has the following configured `"groupMembershipClaims": "All",` and that I do have the tenant ID present as an argument to the following flag on the api server `--oidc-issuer-url`

One thing that I do notice in the apiserver logs is the following message right before  the RBAC DENY. `I0125 05:50:38.703095

[2018-01-25 17:21] lachie83 commented on #2150
Even turning the logging on the apiserver to v=10 I don't get any more insight as to what call is generating this and even if it's something to worry about `I0125 05:50:38.703095 1 jwt.go:158] Signature error (key 0): crypto/rsa: verification error`

[2018-01-25 17:54] lachie83 commented on #2150
@cosmincojocar. Wondering if you can weigh in here as you wrote Azure plugin

[2018-01-25 18:05] duga3 commented on #2150
@lachie83 I get this JWT error as well, but everything works as expected.

When I first setup AAD manually, I followed the example [there](https://github.com/colemickens/azure-ad-k8s-oidc-example#unknowns). @colemickens experienced the same error JWT, but it still works. Didn't trace it down in the code so far.
Right before the RBAC deny error, there should be a list which groups the user is part

[2018-01-25 18:40] lachie83 commented on #2150
I do not see any logs like that in the apiserver. Can you post a snippet so I can confirm?

Also I have the following flags on the apiserver

[code]

I would also like to the confirm that you only need to set the groupMembershipClaims on the server app (Web App/API)

[2018-01-25 19:00] colemickens commented on #2150
@duga3 AFAIK those messages are totally unrelated, and I was seeing them sporadically even without any OIDC stuff turned on.

[2018-01-25 19:03] CecileRobertMichon commented on #2102
Hi @aku105, thank you for reporting. PR #2155 should fix this issue. I am still testing it to make sure it doesn't introduce any unwanted behavior but I will let you know when it is merged.

[2018-01-25 19:50] pidah commented on #2150
@lachie83 I tried it again today successfully against k8s 1.9.*  The only other thing I did was follow the steps in the troubleshooting section – https://github.com/DigitalInnovation/acs-engine/blob/AADGroupAdminId/docs/kubernetes/aad.md#loginpageerror

[2018-01-25 21:57] lachie83 commented on #2150
Thanks for the response @pidah. Can you confirm if this also works for k8s 1.8 and 1.7? My tests are currently running on k8s 1.8.

Are you building from master? Can you confirm your AAD profile under the properties session in your model?

Are you specifying all of the following?
[code]

I would also like to confirm my expectations here. I would only like to have a group based cluster role binding

[2018-01-25 22:02] odauby opened #2157 "acs-engine should check that provided service principal (if any) has enough rights in the target subscription to create Azure resources"
**Is this a request for help?**:
NO

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

---

**What version of acs-engine?**:
any

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes, but I assume it also applies to DC/OS and Swarm

**What happened**:
While acs-engine is able to deploy Azure resources in the target subscription, it never checks/wa

[2018-01-25 22:03] blacksails commented on #1370
When i try to do the redeploy approach I get some errors:
[code]

[2018-01-25 22:22] pidah commented on #2150
@lachie83 I confirm specifying all 4 flags; we also only need group based CRB; I built from latest master today. I will test 1.7/1.8 tomorrow.

[2018-01-25 22:34] lachie83 commented on #2150
@pidah would you be willing to jump on a video chat to eyeball my setup? I'm lachie83 on k8s slack.

[2018-01-25 22:36] lachie83 commented on #2150
When I take a look at the JWT from the access-token section of kubeconfig I only see the following referencing groups. Can you confirm if you see the following using jwt.io:

[code]

[2018-01-25 22:51] blacksails opened #2158 "DS2_v2 should be used in the examples"
**Is this a request for help?**:

No

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

FEATURE REQUEST

**What version of acs-engine?**:

v0.12.4

I think that the examples should use a vm size that supports the managed-premium storage class. The D2_v2 size used in the examples does not. I had to recreate our cluster after finding out that i couldn't attach premium storage.

[2018-01-25 23:22] MirzaSikander opened #2159 "Nvidia drivers not installed on Standard_NC6s_v2"
**Is this a request for help?**:
yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.12.4
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Deployed a cluster with Standard_NC6s_v2 machines which contain GPUs, but k8s is reporting that the node alpha.kubernetes.io/nvidia-gpu is 0.

SSHing into

[2018-01-26 03:30] bailantaotao opened #2161 "The template deployment is not valid according to the validation procedure"
**Is this a request for help?**:

yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

issue

---

**What version of acs-engine?**:

Version: canary
GitCommit: e251320a
GitTreeState: clean

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernates

**What happened**:

[code]

**What you expected to happen**:

It should print the fully error message.
How do i to use

[2018-01-26 04:58] MirzaSikander commented on #2159
Looked at the code and it seems like the SKU is not supported, but no warning is shown since its not part of the list [here](https://github.com/Azure/acs-engine/blob/3c592ba0ccddba745932c6d10e657639d76a2cfe/pkg/acsengine/engine.go#L1671). Only off by an 's' as Standard_NC6_v2 is part of the list.

[code]

So do we know for sure that there is no agreement for the Standard_NC6s_v2? If not, what is t

[2018-01-26 08:47] cosmincojocar commented on #2150
@lachie83 I remember that AAD will in-line the groups in the JWT only if the user is member of a very few groups, otherwise it will send a URI to a Graph API object.  I guess you have in addition to configure the api server application by adding the **"groupsMembershipClaims": "All"** in the manifest. See the **Groups** section of the [Modern Authentication with Azure Active Directory for Web Appl

[2018-01-26 09:51] nakahparis commented on #2146
There is no Route Table created when using Network Policy "Azure". Pods are obtaining IP's directly from the VNET. If you want a Route Table, you should use Network Policy "none"

[2018-01-26 11:25] carlpett opened #2162 "Race condition in master setup"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
master

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9.2

**What happened**:
Cluster with three masters fails to deploy. Some masters (different number each deploy) fail with

[code]

Looking at the logs in /var/log/azure/clus

[2018-01-26 11:50] carlpett commented on #2162
I posted this in #sig-azure, and this was also seen by @mwieczorek there, who also noted that there was an related error in the cloud-init logs. We also get the same:

[code]

[2018-01-26 13:10] serbrech commented on #2157
I had the same experience, the feedback loop of deploying a cluster is slow, and figuring out what went wrong in that case is not straight forward.

[2018-01-26 14:21] duga3 commented on #2162
The provisioning by cloud-init and VM extensions run in parallel. Relevant for the etcd setup, they perform the following things.
### VM extensions
Runs `provision.sh` which
* Store certificates on the system
* Set ownership to root.

### cloud-init
* Setup etcd (`setup-etcd.sh`)
* Waits 60 seconds for the certificates be become available, after that timeout the script just continues
* Set ownersh

[2018-01-26 15:11] pidah commented on #2150
Hi @lachie83, yes I am happy to jump on a video chat UK time. The following is my access token <redacted>
[code]

I confirmed it working on k8s 1.8.3 . On k8s 1.7.12 the rbac binding was not applied because of the RBAC version ` rbac.authorization.k8s.io/v1`. Once I changed it to ` rbac.authorization.k8s.io/v1beta1` and applied it, kubectl authentication/authorization worked fine.

[2018-01-26 22:36] dtzar commented on #2119
Have you tried using the publicly available helm chart?
Please see this technical article I wrote which works: http://ow.ly/Fqge30i1O0U

[2018-01-26 23:32] fengli858 commented on #2119
@dtzar David, Thank you for your advice! I will learn the Helm and try these publicly available helm chart to deploy the google ingress replication controller again. I will also visit your blog.

[2018-01-27 00:08] dtzar commented on #2119
I trust this will solve your problem, so closing the issue out for now. If it does not, please go ahead and respond back here and I can reopen if need be.

[2018-01-27 00:08] #2119 closed

[2018-01-27 07:59] tomerf commented on #517
You're welcome!
I upgraded my cluster this week and AKS currently support 1.8.X. Are you using acs-engine directly to deploy?

[2018-01-27 17:36] dtzar commented on #517
yes, I'm using ACS-engine to deploy

[2018-01-28 23:07] lastcoolnameleft commented on #1767
I've encountered a similar issue.  It would be helpful if acs-engine would fail prior to the template generation since Custom Vnet + Windows agent nodes is not an accepted configuration at this time.

[2018-01-29 11:39] #2103 closed

[2018-01-29 11:40] TimVG commented on #2103
Can't reproduce this anymore, working as expected with v0.12.0 and v0.12.4

[2018-01-29 15:08] andscho-msft commented on #2161
I ran into this also yesterday, and I was able to find my actual error by using the powershell commandlets.

[code]

[2018-01-29 16:41] wbuchwalter commented on #2159
Yes at the moment. We are working on making it happen though.

[2018-01-29 18:03] jackfrancis commented on #1767
@lastcoolnameleft I agree that's a gap, I've filed this to fix:

https://github.com/Azure/acs-engine/pull/2168

FYI @JiangtianLi

[2018-01-29 21:53] rbankole commented on #2151
i can confirm the same, the ELBS are not adding target network ip configurations. Also using custom vnet via acs-engine v.12

[2018-01-30 00:05] msorby commented on #1806
Just to acknowledge this. I get the exact same thing, custom VNET in West Europe, North Europe works just fine.

[2018-01-30 00:12] msorby opened #2169 "The ability to choose storageAccountType for Managed disks"
**Is this a request for help?**:
No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Feature Request
---

**What version of acs-engine?**:
0.12.4
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:

**What you expected to happen**:
When creating a Kubernetes cluster with managed disks it would be useful to be able to set the storageAccountTy

[2018-01-30 02:35] jamoham commented on #2153
Is this a duplicate of https://github.com/Azure/acs-engine/issues/863?

[2018-01-30 02:36] jamoham commented on #863
I hit this same problem on 1.7.9 version:

[code]

When will the fix be cherry picked into 1.7.x versions?

[2018-01-30 08:11] bailantaotao commented on #2161
Thanks for @andscho-msft

I cannot to use the command `Get-AzureRMLog` on macOS environment.

But i can get the information from `Azure Cloud Shell`  :)

[2018-01-30 08:11] #2161 closed

[2018-01-30 11:54] aku105 commented on #2151
I've run into this issue as well and I can see kube-controller manager spitting out logs for any service created and looks like it could be related to this issue.
[code]

[2018-01-30 14:17] aku105 commented on #2151
Alright, I get a segfault and restart of kube-controller manager when I try to deploy an ILB. Logs below:
[code]

This issue only happens when creating ILB, ELBs doesn't give any such errors and are provisioned properly (as far as I can see).

[2018-01-30 14:51] feiskyer commented on #2151
@aku105 confirmed the bug in azure cloud provider. Will fix and backport to v1.9.

[2018-01-30 18:43] campbelldgunn commented on #2021
@jackfrancis Please when considering `--feature-gates` to include `CoreDNS=true` as I am fighting with addon manager cannot get rid of `Kube-DNS`.

[2018-01-30 18:54] rodrigoffonseca commented on #1806
I got the same error and the problem was the DNS resolution at the VNET. After I fixed my custom DNS servers to resolve internet names everything worked fine.

[2018-01-30 19:54] dtzar commented on #2142
With the 5.x version of the chart being released Jan 23, there is no way this extension will work because prometheus was updated to 2.x and the values file is significantly different (i.e. the configmap values inside the chart).  I don't think this is related to the error you're experiencing... nonetheless I am looking to make this work now.  Tagging these folks for visibility @ritazh @trstringer

[2018-01-31 00:44] sylus commented on #1603
@tesharp I think I am having the exact same problem as you as when I ssh to my master node and check my resolv.conf I get a similar output.

Are you still having this issue on v0.12.4? If so is the register-dns.sh what you are currently leveraging to resolve? Thanks a bunch!

## Resolv.conf

[code]

## Kubectl

kubectl works for nodes + pods, but when I try to attach / port-forward I will get:  lo

[2018-01-31 01:58] feiskyer commented on #2151
Yep, it worked. acs-engine will set primaryAvailabilitySetName in /etc/kubernetes/azure.json, which determines which nodes to add.

[2018-01-31 12:12] ITler opened #2175 "K8s upgrade leads to temporary unreachable services"
**Is this a request for help?**:
---
maybe yes, as I can't believe, that upgrading K8s using acs-engine leads to temporary unavailability (connectivity loss) of deployed applications

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
---
in worst case an issue

**What version of acs-engine?**:
---
v0.12.0, but also seen in v0.10.0

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

[2018-01-31 14:12] AlexandreRzc opened #2176 "K8S require credentials after scaling and resizing vms"
**Is this a request for help?**:
Yes, I'm beginner on ACS and Kubernetes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
Version: v0.5.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Client 1.8.0 and Server 1.8.1

**What happened**:
This morning I scaled the agentpool from 2 VMs  to 5 with the screen "Agent Pool" on the Az

[2018-01-31 14:30] starkilla2003 commented on #2142
Thank you for reply and i am looking forward to the changes. We want to use this option in a customer scenario so this topic is a bit time critical.

[2018-01-31 17:03] UncleTawnos opened #2177 "Duplicate names for storage accounts"
**Is this a request for help?**:
NO
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
master at commit 65d2ed3ad076256a2dc33e3d4f067e3470d21d15
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
KUBERNETES

**What happened**:
validation / deployments fails due to storage account names being already taken
[code]

**What you expect

[2018-01-31 17:10] gardlt commented on #2153
Closing due to dup

[2018-01-31 17:10] #2153 closed

[2018-01-31 17:23] masroorhasan commented on #2094
I'm having a similar problem with the windows kernel deployed with acs-engine. Deployed cluster with Kubernetes orchestrator for version 1.7.

Here is the template I used:
[code]
For both Standard_D2s_v3 and Standard_DS2_v2 I would expect `Windows Server 2016 Datacenter` but its being deployed with `Windows Server Datacenter` which seems to be having trouble windows containers on it.

cc @Jiangtia

[2018-01-31 17:32] khaldoune opened #2178 "Is it possible to configure the etcd cluster to use tls for both peers and clients?"
**Is this a request for help?**:
YES
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
I don't know
---

**What version of acs-engine?**:
0.12.4
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9

**What happened**:
I've got some security requirements about the etcd cluster. The security team requires to make the etcd peer and client communications secure ov

[2018-01-31 18:35] JiangtianLi commented on #2094
@masroorhasan There are two issues here. 1. kubelet on windows reports the incorrect windows version and there is fix in upstream: kubernetes/kubernetes#58498. 2. Windows version actually deploy should be RS3 Windows, a.k.a. 1709. Windows containers has compatibility requirement: https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/version-compatibility so if you hav

[2018-01-31 18:47] masroorhasan commented on #2094
Thanks for the quick response @JiangtianLi. I ran two windows containers to test it out:
1. microsoft/iis:windowsservercore-1709 - this one ended up running fine but no outbound connection from within the container (separate issue). I was looking up #1903 and have tried Resolve-DnsName, Test-NetConnection 10.0.0.10 -Port 80, etc all timing out eventually.

2. An image that derives microsoft/dotnet

[2018-01-31 22:45] JiangtianLi commented on #2094
@masroorhasan For the first point, acs-engine is using RS3 Windows while some regions in ACS still use RS1 Windows. From kernel version (Kernel Version: 10.0 16299 (16299.15.amd64fre.rs3_release.170928-1534), it is 1709 so you need to use container image with 1709 tag.

For the second point, the error is "The operating system of the container does not match the operating system of the host", which

[2018-02-01 02:38] masroorhasan commented on #2094
Thanks @JiangtianLi  - that makes sense. FYI, I switched to using acs-engine version 0.8 and to westus2 region - that seems to use windows server 2016 and resolve the outbound connection as well.

[2018-02-01 15:29] sylus commented on #1603
Is there anything else I can do to help move this issue along? I have a step by step guide deploying on a custom vnet that doesn't have any problems. The moment I have a vnet with custom dns servers though the problem then arises. Will happily assist anyone with debugging this.

[2018-02-01 17:31] tesharp commented on #1603
@sylus Im still using this workaround. Tried deploying a 0.12 cluster without and it failed. Using registerdns.sh as an extension on both master and agent nodes it works fine. Havent found any other solution so far...

[2018-02-01 20:09] rbankole commented on #2027
Josefczak thanks!

[2018-02-01 20:58] trstringer commented on #2142
@starkilla2003 while troubleshooting this issue, it brought me to another problem that I'm currently working through. When that one is resolved (hopefully soon) I should be able to circle back to this specific error.

I just wanted to let you know somebody is working on it!

[2018-02-01 22:02] dtzar commented on #2142
I ran into [this issue](https://github.com/kubernetes/charts/issues/3491) while trying to get the 5.x version of the helm chart to deploy and got stuck there.  I believe if we deploy a fresh 1.9 K8s cluster with RBAC enabled we will hit this same problem since these are the default admission controller values, but haven't had a chance to try yet.

@trstringer - your error might be due to these cha

[2018-02-02 00:03] khaldoune commented on #2178
My fault, I was using the wrong version of the acs engine

[2018-02-02 00:03] #2178 closed

[2018-02-02 00:17] khaldoune opened #2185 "Unable to mount secret volumes for kube-proxy and calico with acs 0.12.5 and k8s 1.9.1 and 1.8"
**Is this a request for help?**:
ISSUE
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.12.5
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9.1

**What happened**:
Try to install k8s using this template:
`{
  "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kuber

[2018-02-02 00:22] ritazh commented on #2142
@dtzar I think that PR is making that chart no longer backward compatible with older version of  prometheus. The parameters should be updated conditionally based on prometheus version.

[2018-02-02 01:17] khaldoune commented on #2185
I can also see these errors:

`Line 72931: E0202 00:52:58.056017       1 leaderelection.go:224] error retrieving resource lock kube-system/kube-controller-manager: Get https://10.110.3.8:443/api/v1/namespaces/kube-system/endpoints/kube-controller-manager: dial tcp 10.110.3.8:443: getsockopt: connection refused`

AND

`Line 72982: time="2018-02-02T00:54:59Z" level=warning msg="Running modprobe ip_v

[2018-02-02 01:35] khaldoune commented on #2185
And some logs from kube-proxy:

time="2018-02-02T01:24:56Z" level=warning msg="Running modprobe ip_vs failed with message: `modprobe: **ERROR: ../libkmod/libkmod.c:586 kmod_search_moddep() could not open moddep file '/lib/modules/4.11.0-1016-azure/modules.dep.bin'\nmodprobe: WARNING: Module ip_vs not found in directory /lib/modules/4.11.0-1016-azure`, error: exit status 1"**
time="2018-02-02T01:24

[2018-02-02 02:38] ashishkulk commented on #2124
Same issue :/

[2018-02-02 05:53] eynet opened #2186 "Custom clusterSubnet unable to access pods [ Error from server: error dialing backend: dial tcp: lookup i/o timeout]"
**What happened ?**

Our goal was to create an internal kubernetes cluster using our Internal VNET with is having express-route connectivity. Our internal VNET resides in a separate ResourceGroup. So deploying such a custom cluster was not possible using ACS or AKS. So we preferred ACS-Engine to bring our own VNET for deploying an internal facing Kubernetes cluster. The maximum IP block which we c

[2018-02-02 10:03] lmiroslaw opened #2188 "Mixed cluster with windows & linux pools"
**Is this a request for help?**: Yes, I need an example how can I deploy a cluster with linux and windows pools in the same cluster for both DCOS and K8s. I did not see any ARM templates where the agent pool template contains OS version. I also did not find any examples how can you spin up a cluster with multiple pools that are different.

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one)

[2018-02-02 14:34] sylus commented on #971
I was curious if there was any progress on this, right now be leverage cloudyn for our billing which is related to tags on various infra, we are unsure how we can get an accurate billing picture for dynamic workloads on k8s. Any guidance would be greatly appreciated!

[2018-02-02 14:40] olilanz commented on #2188
A k8s linux/win hybrid example can be found here: https://github.com/Azure/acs-engine/blob/master/examples/windows/kubernetes-hybrid.json

An example for spcifying the OS version is here: https://github.com/Azure/acs-engine/blob/master/examples/windows/kubernetes-windows-version.json

My experience with hybrid clusters only covers k8s. But I suppose it works the same way for DC/OS.

[2018-02-02 19:55] stephenlawrence opened #2191 "Kubernetes API Server Not Running when AAD present"
**Is this a request for help?**:
No
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
**What version of acs-engine?**:
0.12.5

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
After deployment our Kubernetes API server was not running and `kubectl get pods` would timeout.

**What you expected to happen**:
Everything works

**How to reproduce it

[2018-02-02 23:10] jackfrancis commented on #1806
cse* errors generally are a result of the provisioning process on the host failing. I'd like to keep this ticket open to encourage folks to share (bad) experiences. We're working on (1) improving logging around this and (2) hunting down transient errors (such as lack of DNS access would incur) and try, where appropriate, to introduce add'l resilience.

[2018-02-02 23:16] jackfrancis commented on #2021
@campbelldgunn the `--feature-gates` option is wide open (with a few exceptions): you should be able to specify that key/val pair in your api model when building a cluster.

[2018-02-02 23:22] #2162 closed

[2018-02-02 23:50] dtzar commented on #2158
There are TONS of examples.  Which ones specifically do you think should be changed?

[2018-02-03 00:50] feiskyer commented on #1806
also met same problem in eastus. cse0 timed out and the master VM can't ssh

[2018-02-03 00:52] jackfrancis commented on #1806
Just identified one cause of transient cse errors (DNS availability race condition on cluster provisioning), added some retry resiliency and am hoping that eliminates that symptom. @feiskyer please try to repro using master next week and let me know if you can, thanks!

[2018-02-03 00:54] feiskyer commented on #1806
@jackfrancis sure

[2018-02-03 02:16] esheris commented on #2027
I don't have much to add here. I just came across this after much searching. I have the same timeout issue connecting to 10.0.0.10 using nslookup. While setting the containers dns is a solution, having to muck about with my container entrypoint to work around this issue doesn't seem like the greatest solution. Fortunately we are still in an early testing phase. Is there a bug to track somewhere fo

[2018-02-03 06:20] 4c74356b41 commented on #2027
@esheris I guess you are looking at it

[2018-02-03 22:32] #2191 closed

[2018-02-04 00:11] khaldoune commented on #2185
I have just found that if I remove enableDataEncryptionAtRest from the API Server params, it works. Still need to understand why...

[2018-02-04 00:24] gsacavdm commented on #2069
I'm having the same problem (with the same exact error message) when trying to upgrade a 1.7.9 cluster that was created with acs-engine v12.0.4.

I haven't tinkered with apimodel.json at all. it's the same one that was used to create the cluster 3 days ago.

[2018-02-04 15:32] idanshahar opened #2198 "custom VNET not yet supported with Windows-enabled clusters"
**Is this a request for help?**:

yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

**What version of acs-engine?**:
Version: canary
GitCommit: 7923b960
GitTreeState: clean

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Couldn't generate acs-engine template with windows nodes after pulling the latest master commit

**What you expected

[2018-02-04 23:04] olilanz opened #2199 "VMs with Accelerated Networking"
**Is this a request for help?**:
No.
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Feature
---

**What version of acs-engine?**:
Any. Currently 0.12.5
---

**Description**
Accelerated Networking is now generally available for free on Azure for most VMs. It brings better network performance, reduces jitter, and uses less CPU. For it to work, the NICs need to be created with the Enable

[2018-02-05 03:18] ermontgo commented on #2045
I'm seeing the same issue with both 1.9 and 1.7 kubernetes versions, ACS-Engine version Version: v0.12.1
GitCommit: 93589b42
GitTreeState: clean

[2018-02-05 05:58] zrahui opened #2200 "Cannot exec into a privileged container - glusterfs"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: 0.12.5

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9.1

**What happened**:
Cannot exec into glusterfs pods is preventing the installation of GlusterFS into ACS-Engine enabled cluster. This used to work but i believe #1961

[2018-02-05 06:15] zrahui commented on #2200
FYI: I've managed to remove the DenyEscalatingExec flag from the apiserver yaml to workaround this for now

[2018-02-05 06:39] SeanTurner026 commented on #1299
I'm having an issue with gometalinter --install as well. I'm on mac High Sierra 10.13.2. Running **make bootstrap** gives me the following--

[code]

Here's my path ```export PATH=$HOME/bin:/usr/local/bin:$GOPATH/bin:$PATH```

I also have:

[code]
I also tried editing the makefile to include ```go get -u gopkg.in/alecthomas/gometalinter.v1```, but that didn't help. Please advise. Thank you!

[2018-02-05 07:03] msorby commented on #2169
@andyzhangx I mean for the VM os disk.

[2018-02-05 08:33] blacksails commented on #2158
At least the k8s ones. I don't know much about swarm and dcos' use of premium storage. But k8s comes preconfigured with a premium storage class, which can only be used if the vm supports it.

[2018-02-05 08:37] #2186 closed

[2018-02-05 08:38] eynet commented on #2186
Duplicate of #1603

[2018-02-05 08:44] eynet commented on #1603
@tesharp unable to access https://github.com/tesharp/acs-engine/blob/master/extensions/register-dns/v1/register-dns.sh , Do you have another link ?

[2018-02-05 09:11] JoseAntonioRodriguez commented on #1509
This is not only related to Kubernetes masters. We are also facing this issue when using systems such as Zookeeper or Consul where 3 fault domains would be more convenient to guarantee HA and quorum. Could that setting be configurable instead of hardcoded?

[2018-02-05 09:51] palmerabollo commented on #1509
Agree. With acs-engine it's not possible to deploy any quorum-based with high-availability guarantees. They require more than 2 fault domains. It's a big issue IMO.

[2018-02-05 10:07] ilyalukyanov commented on #1806
@jackfrancis Thanks for pushing the fix. I've tested with the latest master, but unfortunately it didn't help in my case.

I consistently face this issue if networking is set to `azure`. However, even before your fixes I was able to deploy at least several times in a row with networking set to `none` (for some reason networking was extremely unreliable so that's not a solution) and haven't had it

[2018-02-05 11:20] tesharp commented on #1603
@eynet Sorry, I just moved it from master to a separate branch a while ago. Forgot about that.. new link is https://github.com/tesharp/acs-engine/blob/register-dns-extension/extensions/register-dns/v1/register-dns.sh

[2018-02-05 12:28] pidah commented on #2200
@zrahui you can customize/override the admission-controller flags passed to the API server using the `apiServerConfig` option as follows:
[code]

[2018-02-05 16:28] dstrebel opened #2202 "Multi-Master CNI config Not Present On All Masters"
**Is this a request for help?**:

---No

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

---Issue

**What version of acs-engine?**:

---0.12.5

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**: When deploying a template that contains multiple masters the calico CNI config doesen't get written to all master nodes. Ran through it three different time

[2018-02-05 18:05] msorby commented on #1806
I've been testing a lot to day with ace-engine 0.12.5 and I've yet to run into this issue. Last week with 0.12.4 and 0.12.2 I got it all the time. So it seems to be much better 👍

[2018-02-05 18:18] msorby commented on #2100
For anyone looking, #2174 fixes the issue if you use networkPolicy azure.

[2018-02-05 18:28] jackfrancis commented on #1299
Did you try vanilla `go get -u github.com/alecthomas/gometalinter`? (downloading the version'd one will have that version string in the binary filename)

[2018-02-05 18:47] yfried commented on #221
Until this is resolved, can I simply remove a public IP from a cluster after it's created? Will that work?

[2018-02-05 18:51] jackfrancis commented on #1806
@ilyalukyanov This PR also moves the ball forward:

https://github.com/Azure/acs-engine/pull/2196

That is aimed for master today, should reduce further cse flakiness.

[2018-02-05 18:56] jackfrancis commented on #221
No. @lachie83 Could your provide an executive summary to @yfried why it's not that simple to get a private Kubernetes cluster? (Thanks!)

[2018-02-05 20:55] jujaga commented on #2124
I am also encountering the exact same issue.

[2018-02-05 21:35] ermontgo commented on #2045
I also see this issue with ACS-Engine version 0.12.5

[2018-02-05 22:15] SeanTurner026 commented on #1299
I did, still was getting the same error.

[2018-02-06 00:05] saiyan86 commented on #2100
Yes. If you want to use networkPolicy azure, please use #2174 . It should be merged soon.

[2018-02-06 00:59] zrahui commented on #2200
Thanks @pidah that's a more elegant solution 👍

[2018-02-06 00:59] #2200 closed

[2018-02-06 02:21] brobichaud commented on #2027
Oh man, this solution @Josefczak found is what I've been looking for literally for 2 months. :-) I can get this to work if I manually connect to my pods, but am struggling with the dockerfile commands to automate this. Can anyone offer nanoserver dockerfile commands that work? (ie: no powershell required!)

[2018-02-06 02:30] JiangtianLi commented on #2027
@brobichaud You can try netsh, e.g., https://technet.microsoft.com/pt-pt/library/cc731521(v=ws.10).aspx#BKMK_setdnsserver

[2018-02-06 02:40] brobichaud commented on #2027
Yeah I did see that in the thread above but the problem is that it requires the interface name, which appears to be unique to the pod. Surely someone has already automated this in a dockerfile. This is a HUGE fix for a longstanding DNS issue in 1709 for me.

[2018-02-06 06:11] eynet commented on #1603
@tesharp Thank you!

[2018-02-06 12:12] idanshahar opened #2209 "Custom NSG Support"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

If this is a FEATURE REQUEST, please:
- Add the ability to choose an NSG (like custom vnet) in the template, so the cluster could work with an existing NSG.
expecting something like this:
"kubernetesConfig": {
          "CustomNsgId":"/subscriptions/[Subscription Id]/resourceGroups/RG-N

[2018-02-06 12:19] yfried commented on #221
@jackfrancis Thank you.
I've already tried to do that myself and found out it doesn't work.

Do you have an ETA on the title feature? We really need this.

Alternatively, **is** there a way to alter a newly created cluster (no workload yet) such that it's completely isolated from the internet and only accessible via our VPN?

[2018-02-06 12:21] dennis-benzinger-hybris commented on #221
@jackfrancis and @lachie83, I would also be interested in the executive summary mentioned above. Thanks in advance!

[2018-02-06 13:35] pidah commented on #2114
@jackfrancis HPA is failing because k8s 1.8+ require metrics server. Metrics server in turn requires enabling Aggregated API's. I suggest Aggregated API's and metrics server be enabled for k8s 1.8+
I am happy to raise a PR for these if this is ok ?

[2018-02-06 14:57] duedal commented on #1903
Seems related to #2027 and possible #2174

[2018-02-06 15:56] dtzar commented on #2114
Yes please

[2018-02-06 16:43] jackfrancis commented on #2151
@feiskyer Do you have any ideas if your fix is coming in v1.9.3? Thanks for that btw!

[2018-02-06 17:39] esheris commented on #2027
The only solution I can come up with is to modify my containers entrypoint to be a powershell script that runs the above commands then executes what I want to really run, in my case I ended up having some other things I needed to do with my web.config that now I have my docker file like so:
[code]
entrypoint.ps1 essentially looks like this
[code]

[2018-02-06 17:57] brobichaud commented on #2027
@esheris @JiangtianLi I was able to come up with the PowerShell commands for servercore much like you have (though I put them inline in the dockerfile) but when I deploy my pod the DNS server hasn't changed. I suspect a permissions problem in the dockerfile. It's like it runs the commands but they fail to apply. I can still remote into my pod and manually issue the same commands and then my alread

[2018-02-06 18:01] esheris commented on #2027
You can't really do this in the dockerfile directly as the underlying nic of the container will change and you are setting the dns based on it. This is why I had to modify my container entrypoint. you have to set dns when the container starts.

[2018-02-06 18:32] brobichaud commented on #2027
Ahhh, I see. That does explain why it failed to work in my dockerfile. Ugh, your workaround is ingenious but so ugly and feels so hacky. Alas it DOES work, and I thank you @esheris!

A couple of questions maybe you can answer:
1. I see you start your entrypoint with servicemonitor.exe. If I'm running a dotnet core app can I just run my executable or do I also need to somehow use servicemonitor? (i

[2018-02-06 18:42] esheris commented on #2027
I certainly agree that it feels hacky, I expressed similar in my original post
Sorry, my app is a .net4.7 app with some webforms stuff in it so we can't run nano server/.netcore so i'm not really positive on how to answer your questions. I just got the default entrypoint of one of my older images (docker inspect imageguid) and tacked it on to the bottom of my entrypoint script.

I just pulled micr

[2018-02-06 18:46] brobichaud commented on #2027
Unfortunately nanoserver:latest is Server 1607, and I really need Server 1709, which removed PowerShell support. I'll continue iterating on it and post a response here if I come up with a solution for nanoserver 1709.

[2018-02-06 18:54] slack commented on #1977
Should be fixed by #2165. Kubelet restart was overwriting the IPAM database, causing duplicate ip addresses to be assigned to Pods on the host.

Can you provision a new cluster (with master) and validate that you no longer see the failing health/liveness probes?

[2018-02-06 18:57] esheris commented on #2027
You could assume the nic name which should always be the same and set it with netsh that way
[code]

[2018-02-06 19:05] jackfrancis commented on #221
@yfried We're spinning up resources on this right now and hope to have progress this month.

[2018-02-06 19:07] jackfrancis commented on #2114
@pidah change that to 1.9+ and we're good to go :)

[2018-02-06 19:42] brobichaud commented on #2027
I can see if I open a new nanoserver container locally the name is always "Ethernet" but the interface name appears to be dynamic in an ACS k8s pod.

But to prove this even can work with netsh I opened a command prompt in my pod and tried to do it manually, the result is:

Do you know how to elevate a command prompt in a container/pod?

[2018-02-06 20:33] msorby commented on #1806
I've literally deployed 20 times today without issues. Then suddenly the extension error popped up again. For the exact same generated template. This was a template generated with acs-engine 0.12.5.
So there is still some flakiness left ;-)

[2018-02-06 20:48] JunSun17 opened #2212 "Multiple-master cluster upgrade failure"
**Is this a request for help?**:
No

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

**What version of acs-engine?**:
master branch.

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
When upgrading a 3 master node cluster, got the following error:

FATA[0263] Error upgrading cluster: resources.DeploymentsClient#CreateOrUpdate: Failure respon

[2018-02-07 00:13] brobichaud commented on #2027
Argh. Roadblocked here with nanoserver. The elevation issue has prevented me from pursuing the netsh approach. I cannot find anything on how I can elevate to admin in a nanoserver container command prompt.

So then I thought maybe I'd explore the PowerShell Core path with nanoserver since I've got a script that works on servercore. Alas PowerShell Core does not support Set-DnsClientServerAddress.

[2018-02-07 00:33] khaldoune commented on #2202
I confirm

[2018-02-07 01:58] ilyalukyanov commented on #1806
@jackfrancis thanks for prompt fixes! I'll give them a go later this week and will update this thread.

[2018-02-07 02:40] zrahui opened #2222 "Cannot use gluster-kubernetes with ACS"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: 0.12.5

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9.1

**What happened**:
Deploying [gluster-kubernetes](https://github.com/gluster/gluster-kubernetes) into an Azure CNI enabled cluster results in non-functioning DNS.
ku

[2018-02-07 04:37] #1504 closed

[2018-02-07 05:05] feiskyer commented on #2151
@jackfrancis Cherry pick to v1.9 branch has been merged. It will included in v1.9.3

[2018-02-07 05:36] gsacavdm opened #2223 "acs-engine commands talk to Azure APIs fail for Azure Government"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.12.4
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes though should apply to all

**What happened**:
Running any command that leverages the ACS Engine Azure AD multi-tenant application (using the [AcsEngineClientID](https://githu

[2018-02-07 05:38] gsacavdm commented on #2223
@anhowe / @jackfrancis , I can help with this both on acs-engine and with the Azure AD registration for Azure Government.

For the code side of acs-engine, do you guys have a preference on where that per-environment client ID resides?

For the Azure AD application registration, I'll ping you offline.

[2018-02-07 05:52] gsacavdm commented on #2075
+1, I ran acs-engine generate, then modified the _output folder's azuredeploy.parameters.json and ran acs-engine deploy / upgrade / scale and my parameters were ignored.

[2018-02-07 07:07] esheris commented on #2027
Runas is the general command I believe. Not sure what you would run it as though. Perhaps try setting up the entry point script with the netsh commands in it, perhaps being launched out of the main container process will give you perms

________________________________
From: Brett Robichaud <notifications@github.com>
Sent: Tuesday, February 6, 2018 4:13:38 PM
To: Azure/acs-engine
Cc: esheris; Ment

[2018-02-07 11:34] lmiroslaw commented on #2188
Thanks! Will give it a try.

[2018-02-07 11:39] mcwienczek commented on #2054
I am having similar issue. Can someone explain why is this happening?

[2018-02-07 13:12] idanshahar commented on #1806
This is still happening in West Europe.
I'm using acs-engine 0.12.5

[2018-02-07 13:27] djsly commented on #2114
FYI: I don't think the metrics server is a hard requirement, we just finished the integration of HPA with custom metric support. While the metric server will become the defacto server, I think that the support for the new metric API was back ported to heapster.

You can configure `heapster` with the `--api-server` configuration, enable api aggregation on the api-server and finally for custom metri

[2018-02-07 14:00] msorby commented on #2045
Been trying to figure this out, but getting no where.

So I went back tp acs-enging 0.6.0 and Kubernetes 1.6.9, using the same source json and now my windows container have internet access.
So either something happened with acs-enging/kuberentes between then and now, or it's a Windows issu, since kubernetes 1.9.x is using 1709 windows image.

Would love to have this sorted our for Kubernetes 1.9.x

[2018-02-07 14:07] mcwienczek commented on #2122
I am having exactly the same problem with iptables MASQUERADE when deploying acs-engine onto custom VNET. Kubelet won't start:

[code]

[2018-02-07 14:55] jarrpa commented on #2222
I'll note that the only things I can think of that might affect this are that the GlusterFS pods:

1. are privileged
2. use hostNetwork

Here's a direct link to the DaemonSet: https://github.com/gluster/gluster-kubernetes/blob/master/deploy/kube-templates/glusterfs-daemonset.yaml

And here's a list of the ports it uses: https://github.com/gluster/gluster-kubernetes/blob/master/deploy/gk-deploy#L53

[2018-02-07 21:19] brobichaud commented on #2027
A good suggestion @esheris on the idea of running an entrypoint script. Alas I tried and see the same error about elevation being required. Feels like I am so close as I have discovered that the interface index is consistently 30, so if I had permissions I could use this command to set the DNS server:

`netsh interface ip set dns 30 static 10.244.0.3`

As for runas, it does not exist in nanoserver

[2018-02-07 21:25] Jarlotee commented on #1806
Is there a work around to get the partial deployment into a health state?

[2018-02-07 22:24] jackfrancis opened #2227 "Enable calico (networkPolicy) w/ Azure CNI (IPAM)"
Details TBD.

[2018-02-08 00:15] jackfrancis commented on #1806
@idanshahar Are you able to build from master? Much of the work post v0.12 has been identifying transient issues with provision scripts (and dependencies), which is where CSE deployment errors originate.

@Jarlotee Depending on the scenario you could cherry-pick through the provision script `/opt/azure/containers/provision.sh` and manually execute the failed commands, but that would be tedious for

[2018-02-08 01:14] #2102 closed

[2018-02-08 01:17] CecileRobertMichon commented on #2102
@aku105 this should now be fixed in master, please do not hesitate to let me know if you run into any further issues.

[2018-02-08 03:19] khenidak opened #2231 "nit: etcd diskSize is string"
Just a little nit -
https://github.com/Azure/acs-engine/blob/master/pkg/api/types.go#L245

size should be an int not a string

[2018-02-08 04:28] dstrebel opened #2232 "Multi-Master Fails to setup etcd correctly on 3rd master"
**Is this a request for help?**:

---No

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

---Issue

**What version of acs-engine?**:

---0.12.5

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9

**What happened**:
One master failed with etcd error

**What you expected to happen**:
three working masters

**How to reproduce it** (as minimally and precisely as possib

[2018-02-08 07:19] feiskyer commented on #1976
This is not required. We will add instance back and change its format to azure instance ID format.

[2018-02-08 07:19] #1976 closed

[2018-02-08 08:50] yfried commented on #1354
@bigmyx Any update or workaround here? I'm stuck as well

[2018-02-08 10:56] sabbour commented on #221
What's the problem with removing the Public IP after the cluster is created? What are the dependencies?

[2018-02-08 11:06] msorby commented on #2027
This one is of interest  #2230

In the mean time I have this a workaround to find the current IP addresses of kube-dns pods.
I'm running servercore so I can use Set-DnsClientServerAddress.

[2018-02-08 11:36] pidah opened #2234 "go-bindata repo has new owner"
**ISSUE**

---

**What version of acs-engine?**: all

---

The go-bindata creator deleted their @github account and someone else created a new account with the same name. More details reported by @francesc yesterday on twitter –
https://twitter.com/francesc/status/961249107020001280
Some more discussions here: https://github.com/jteeuwen/go-bindata/issues/3
@jackfrancis

[2018-02-08 11:49] yfried commented on #1603
Hi,
I think kubernetes has a way to solve this:
http://blog.kubernetes.io/2017/04/configuring-private-dns-zones-upstream-nameservers-kubernetes.html

[2018-02-08 12:45] 4c74356b41 commented on #2027
just so anyone runs into the same issue, for me the workaround didnt work, unless I added `Start-Sleep 10` (will probably work with less).

[2018-02-08 12:47] tesharp commented on #1603
@yfried That works from inside the pods, but not from the master / nodes themselves. Problem here is that the nodes cannot resolve the master dns names, and opposite. So when nodes are trying to do a dns lookup on k8s-master-xxxx it just fails. Inside the containers / pods this would work, just not on the vm machines.

[2018-02-08 13:04] mcwienczek commented on #2122
Fixed it by adding `"vnetCidr"` parameter to `masterProfile`. Apparently `firstConsecutiveStaticIP` is not enough to setup custom VNET. You also need to specify master CIDR.

[2018-02-08 13:14] serbrech commented on #2122
@mcwienczek are you using `azure` networkPolicy? or are you using `none` (kubenet)?

[2018-02-08 13:22] aku105 commented on #2102
Thanks @CecileRobertMichon, I've tested from master and cluster provisioning works okay now. 👍

[2018-02-08 14:19] mcwienczek commented on #2122
`azure` network policy

[2018-02-08 20:48] pidah commented on #2185
@khaldoune there was a bug fixed for enableDataEncryptionAtRest in master. Can you build from master and try ?

[2018-02-08 21:27] brobichaud commented on #2027
I looked through [#2230](https://github.com/Azure/acs-engine/pull/2230) and it does look interesting but its not clear to me that it addresses this issue. Clearly there are other DNS issues in Windows 1709 itself, but I wonder if the problem we are seeing is in fact Windows or the way k8s is setup with Windows nodes?

This just feels like such a huge roadblocker of an issue that it should be of hi

[2018-02-08 21:35] msorby commented on #2027
Yeah it is a huge blocker. I actually pulled down the pull request and merged in the latest changes from acs-engine\master and built it. Still no DNS resolution from 1709 containers...

[2018-02-08 21:40] JiangtianLi commented on #2027
Sorry of the inconvenience. We are going to rollout patch in Windows for acs-engine to mitigate the DNS issue ASAP. I will update here.

[2018-02-08 21:44] brobichaud commented on #2027
Thank you @JiangtianLi! Do you feel like you have a full grasp of what the DNS issues are? I ask because I've seen a lot of talk about a DNS issue where it works for some short period (15 mins?) and then stops working. The problem we are seeing here is that DNS blatantly does not work from the very start at all in Windows containers on 1709 nodes. I'm just trying to be thorough in making sure you

[2018-02-08 21:47] palmerabollo commented on #2234
We forked acs-engine to use `containous/go-bindata`. The new `jteeuwen/go-bindata` is not trustworthy IMO.

[2018-02-08 21:48] JiangtianLi commented on #2027
@brobichaud 15 min delay in DNS is one issue. Another issue was a regression in Windows update in Jan that affects service vip on Windows node and therefore kube-dns. So there will be two patches that fix the two issues separately.

[2018-02-08 21:50] brobichaud commented on #2027
@JiangtianLi, I am happy to hear you are fully on top of both issues. Thank you! And please do update this issue when we can utilize the fix. :-)

[2018-02-08 22:10] msorby commented on #2027
Thank you for the update @JiangtianLi

[2018-02-08 22:42] Jarlotee commented on #1806
@jackfrancis and anyone else who gets bitten by this.

My issue turned out to be in the SPN password with a % in it!

The password was truncated at the % which caused the subsequent failure.

[2018-02-09 01:09] khaldoune commented on #2185
@pidah
Deployment from master fails:
`{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"Conflict","message":"{\r\n \"status\": \"Failed\",\r\n \"error\": {\r\n \"code\": \"ResourceDeploymentFailure\",\r\n \"message\": \"The resource opera

[2018-02-09 07:20] 4c74356b41 commented on #2027
so this is a separate issue? when this issue is going to be fixed?

[2018-02-09 08:55] annegi commented on #221
The problem with removing the public IP is that the kubernetes API certificates are generated for that particular DNS name so you would not be able to pass the authentication

[2018-02-09 09:37] dennis-benzinger-hybris commented on #221
The certificate also contains some generic `kubernetes*` names. So if you control DNS resolution in your setup ("real" DNS, `/etc/hosts`, ...) you can keep using this certificate with the internal LB.

Is that the only side effect of removing the public load balancer?

[2018-02-09 15:10] mwieczorek commented on #2112
Hi, any thoughts about this? I'm just asking if you would consider such change and eventually PR?

[2018-02-09 17:22] jackfrancis commented on #2234
@JiangtianLi Do you have any thoughts here? Thanks @pidah for filing this!

[2018-02-09 17:25] jackfrancis commented on #1806
Ugh. See https://github.com/Azure/acs-engine/issues/1208

We'll prioritize this in the next release cycle. Thanks for sharing @Jarlotee !

[2018-02-09 17:50] JiangtianLi commented on #2234
@jackfrancis Look like we didn't vendor that. Let's find a reliable fork and vendor it. What do you think?

[2018-02-09 17:51] jackfrancis commented on #2234
Yes, we can investigate "reliable" after we cut the next release.

[2018-02-09 22:15] dtzar commented on #178
I've tested and used this.  You can pass `--runtime-config` and other things when you define your initial API model configuration and see the default values passed in [this document](https://github.com/Azure/acs-engine/blob/master/docs/clusterdefinition.md#feat-apiserver-config).

For instance, this model configuration adds Initilizers support:
[code]

Per @avaranovich it also looks like what you

[2018-02-10 15:17] diwakar-s-maurya commented on #2151
With kubernetes v1.9.3 also, I am still facing this problem.

At the time of writing, the latest acs-engine release version: v0.12.5 does not supporting creating kubernetes 1.9.3 cluster. I built the acs-engine from the master branch commit fe571504.

[code]

When a kubernetes service was created with this `service.beta.kubernetes.io/azure-load-balancer-internal: "true"` annotation, a load balance

[2018-02-10 21:31] diwakar-s-maurya opened #2246 "label for kubernetes component pods is inconsistent"
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

**What version of acs-engine?**:

v0.12.5

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
1.9.1

**What happened**:
The labels assigned to kube-scheduler, kube-controller-manager is `component: kube-scheduler` and `component: kube-controller-manager` respectively. The label for kubel

[2018-02-10 21:56] starkilla2003 opened #2247 "Add master nodes"
**Is this a request for help?**:

yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

maybe FEATURE REQUEST

**What version of acs-engine?**:

all

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
all

**What happened**:
I wanted to ask if there is a way to add master nodes to an existing kubernetes cluster. We have a customer environment we cannot breakt down and redeploy tha

[2018-02-11 00:06] idanshahar commented on #1806
@jackfrancis Yes I can do so, but still need a patch for a customer. when does the next version suppose to be released? BTW there is another issue exists in the master branch... #2198

[2018-02-11 02:06] feiskyer commented on #2151
@diwakar-s-maurya Could you check logs of kube-controller-manger and check whether there is something wrong happened? e.g. by

[code]

[2018-02-11 06:35] diwakar-s-maurya commented on #2151
@feiskyer These are the log. Creating internal load balancer type service does not automatically add target network IP configurations.

**Logs after almost 5 mins of fresh cluster v1.9.3 creation by acs-engine fe57150**
[code]

**After creating a service of type internal load balancer, these new log lines got printed**
[code]

**kuberernetes server and cli version**
[code]

**acs-engine version**

[2018-02-11 11:10] kaluzaaa commented on #2151
It seems that in 1.9.3 it's fixed - https://github.com/kubernetes/kubernetes/pull/59083, https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.9.md#changelog-since-v192

[2018-02-11 11:17] diwakar-s-maurya commented on #2151
@kaluzaaa I also thought so, but it is not working still.
Can someone please confirm that they also hitting this problem too by creating the cluster v1.9.3 using acs-engine? Or point out at what step I might be doing wrong? I have provided the my acs-engine template.json and service.yaml above.

[2018-02-11 13:01] VenkateshSrini opened #2248 "Is it possible to deploy ACS locally on windows 1o"
Is it possible to install AKS locally on my machine and deploy the ACS locally

[2018-02-11 14:59] asubmani commented on #2248
@VenkateshSrini . No. AKS  is a managed Kubernetes service in Azure. You won't be able to install it on a PC.  The same applies to ACS as well. However both of these will be available in Azure Stack (The Operating System for Azure, available for on-prem use). Either way AKS instances will exist in Azure/Azure stack; not on Windows 10.   You can however install the "Kubectl" tools on Windows 10 and

[2018-02-12 06:42] matthewflannery commented on #2027
@JiangtianLi  has there been any update?

@brobichaud  - you can RDP to the Windows host your container is running on, and then `docker exec -it -u Administrator <containername> cmd.exe` and set it

I did this, then executed the above command to set DNS statically for the interface:

`netsh interface ip set dns "vEthernet (237be51c6e481e484b44557ead0d420912f83bd32b21a4038c2ec3ac23e81d21_l2bridge)"

[2018-02-12 07:13] nealabh commented on #863
Still facing the same issue with 1.7.7, can you suggest how to upgrade on Azure Container Service.

[2018-02-12 07:37] 4c74356b41 commented on #2027
btw, sometimes the workaround doesnt work for me either and this happens quite randomly

[2018-02-12 07:54] feiskyer commented on #2151
@diwakar-s-maurya Thanks of reporting the problem. There is another bug for internal load balancers. Will file a PR to fix it.

[2018-02-12 08:12] matthewflannery commented on #2027
I've deployed the cluster using hybrid multiple times and have never had DNS working. I'm in the process of deploying windows only cluster and will let you know.

[2018-02-12 08:25] mwieczorek commented on #2247
hi @starkilla2003
have you tried the [scale command](https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/scale.md) ?

[2018-02-12 09:58] abelsromero opened #2250 "Re-generating deployment files from existing cluster"
**Is this a request for help?**:

Yes

**What version of acs-engine?**:

0.4.0

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kuberntes 1.6.6

**What happened**:

Deployment files generated are not available and need to re-scale cluster.

**What you expected to happen**:

There is a way to generate the deployment files required to keep working with the current clusters.

[2018-02-12 12:02] qmalexander commented on #1972
Hi, @zqingqing1. Is it possible to get this fixed asap?

[2018-02-12 14:10] JiangtianLi commented on #1972
@jackfrancis @CecileRobertMichon on the plan to fix scaling for windows pool.

[2018-02-12 14:14] jalberto commented on #2022
thanks @andyzhangx for your time.
I only was able to "fix" it by rebooting whole node, this doesn't even count as a workaround, is someone in azure side fixing this?

This is critical, as if for whatever reason a pod is re-scheduler it will not get correct state

[2018-02-12 15:40] bramvdklinkenberg opened #2251 "Error from server: error dialing backend: dial tcp: lookup k8s-agentpool on 10.40.1.133:53: server misbehaving"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: v.0.9.4

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes

**What happened**: I deployed a kubernetes cluster with a custom vnet. The cluster has been deployed but when I do a kubectl exec or helm install I get the error:
Error

[2018-02-12 15:50] brobichaud commented on #2027
@matthewflannery to clarify, are you saying that you've deployed multiple hybrid clusters and see no DNS issues on the Windows nodes, but then on a Windows only cluster you do see DNS issues?

If that's so I'd gladly deploy a hybrid with 1 Linux node if I could move forward without hack on the WIndows side. Lemme know if what I'm hearing is right...

[2018-02-12 16:20] brendandburns commented on #863
ACS engine has instructions on how to upgrade here:

https://github.com/Azure/acs-engine/blob/master/examples/k8s-upgrade/README.md

--brendan

________________________________
From: Nealabh <notifications@github.com>
Sent: Sunday, February 11, 2018 11:13:35 PM
To: Azure/acs-engine
Cc: Brendan Burns; Mention
Subject: Re: [Azure/acs-engine] Reason why node is marked as NotReady (#863)

Still facing

[2018-02-12 17:12] jackfrancis commented on #1806
ETA for the next release is this week. Issue #2198 is a long-standing gap for Windows clusters. This won't be addressed in the next release.

[2018-02-12 17:27] CecileRobertMichon commented on #2232
Hi @dstrebel, could you please share what `ls -l /etc/kubernetes/certs` looks like on your cluster? There were several fixes pushed to master to improve the resilience of deployments and specifically to protect against errors like yours. In the meantime, you might want to try deploying again as this is a transient error.

[2018-02-12 17:36] jackfrancis commented on #1972
@qmalexander Current Windows priorities are validating RS3 hotfix patches that affect network behaviors during deployment. This PR brings some of that:

https://github.com/Azure/acs-engine/pull/2230

We aim to further test and validate that known bad behaviors have been addressed.

After that, I'm fine to queue up Windows scaling if @JiangtianLi has cycles.

For emphasis: thank you so much for you

[2018-02-12 17:49] starkilla2003 commented on #2247
@mwieczorek As far as I see the scale command only works for agents and not for masters. Or am I missing something?

[2018-02-12 18:48] jackfrancis commented on #1208
Template files have been refactored. The service principal env var is now under the `provisionScriptParametersCommon` variable in `parts/k8s/kubernetesmastervars.t`.

[2018-02-12 18:59] JiangtianLi commented on #2027
The windows packages has been applied into acs-engine and merged into master HEAD. The service vip issue was verified to be fixed and windows pod can talk to kube-dns now. The caveat with the dns config fix is that it depends on the proper container image which also needs to be patched. Therefore it doesn't work in acs-engine currently and may have random dns not configured error in windows contai

[2018-02-12 19:01] jackfrancis commented on #1208
A prior attempt is https://github.com/Azure/acs-engine/pull/1268

[2018-02-12 19:33] brobichaud commented on #2027
@JiangtianLi that is definitely huge progress. And can you still plan to circle back and update this issue as soon as those updated containers are available?

[2018-02-12 19:46] JiangtianLi commented on #2027
@brobichaud Sure, will do.

[2018-02-12 19:56] bramvdklinkenberg commented on #1603
Have the same issue with kubernetes cluster with a custom vnet created by acs-engine.

Created a cluster with the following:
{
  "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes",
      "kubernetesConfig": {
         "networkPolicy": "azure"
      },
      "orchestratorVersion": "1.7.7"
    },
    "masterProfile": {
      "count": 3,

[2018-02-12 21:34] itowlson opened #2256 "Deployment finished message always includes "Error" element"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: Current HEAD at 12 Feb 2018

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**  Kubernetes

**What happened**:

Ran `acs-engine deploy`.  It succeeded and I got the following message:

`INFO[0545] Finished ARM Deployment (itowlsonacsupgradete

[2018-02-12 21:51] mwieczorek commented on #2247
@starkilla2003 yes. By 'worker nodes' I understand 'agents'. So sorry for misunderstanding

[2018-02-12 21:59] itowlson opened #2258 "acs-engine admits location format that causes failure much later"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: Current master at 12 Feb 2018

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**  Kubernetes

**What happened**:

I created a cluster using `acs-engine deploy --location "Australia Southeast"`.  This worked fine and the cluster was created in

[2018-02-12 22:11] itowlson commented on #2258
It looks like the result of not detecting the error until this point was that the cluster was left in a half-upgraded state, with one master upgraded but the others not upgraded.  I'm not sure what the impact of this would be in a production cluster...

[2018-02-12 22:14] #1208 closed

[2018-02-12 22:38] matthewflannery commented on #2027
@brobichaud  To clarify,

I have deployed hybrid and windows-only clusters. I have never had DNS working within Windows containers.

[2018-02-12 23:32] #2188 closed

[2018-02-13 02:45] andyzhangx commented on #2022
@jalberto so your problem(`Multi-Attach error`) always happen in the rescheduler? could you also provide below info:
1. k8s version
2. your pod config

There is possiblity that in the `Intel CPU Azure update` around 2017.1.5, VM disk status is inconsistent, and workaround is as I suggested in https://github.com/Azure/acs-engine/issues/2002
[code]

If that still does not work, run `sudo systemctl r

[2018-02-13 07:17] qmalexander commented on #1972
Sounds awesome!, @jackfrancis what is the deadline on completing #2230?
Do any one has a suggestion on how to scale in the mean time?
Then the question is. @JiangtianLi  do you have cycles? 😊

[2018-02-13 08:44] bramvdklinkenberg commented on #2251
I also tried putting all hosts in /etc/hosts on all nodes but that doesnt help either.

[2018-02-13 09:20] jalberto commented on #2022
hi @andyzhangx I am on k8s 1.8.4 about pod configuratoin si nto important, as it happens with any pod using a disk.

I already tryed that workaround, but is temporal, it only fixes current inconsistencies, not future one, so each time a pod move to a different node it needs manual intervention to finish causing lot of problems.

[2018-02-13 09:44] starkilla2003 opened #2262 "Scale command fails for AzureGermanCloud with 404 error"
**Is this a request for help?**:
YES

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

**What version of acs-engine?**:
Version: v0.12.5
GitCommit: 9fa6a690
GitTreeState: clean

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
I tried to scale my agent pool from 2 to 3 with the following command:
`acs-engine scale --subscription-id <ID> --res

[2018-02-13 09:55] andyzhangx commented on #2022
@jalberto Are you using deployment or statefulset? Per my experience, deployment with azure disk volumeMounts would have such issue, statefulset would ensure the disk has been removed before starting a new pod.

[2018-02-13 10:06] malonedrakes19 commented on #2022
Im stuck at the setup  mode of my zte982. I can't get passed the email mode

On Feb 13, 2018 4:56 AM, "Andy Zhang" <notifications@github.com> wrote:

[2018-02-13 10:24] bramvdklinkenberg commented on #2251
For me it got solved by adding the cluster nodes to our own dns servers.

[2018-02-13 10:24] #2251 closed

[2018-02-13 10:25] bramvdklinkenberg commented on #1603
I got it to work by adding al cluster nodes to our own (on premise) dns servers

[2018-02-13 12:15] starkilla2003 commented on #2262
Same happens if i use the upgrade parameter.

[2018-02-13 12:33] robsonpeixoto commented on #1806
I got the same problem:

Version:
[code]

API Model:
[code]

[2018-02-13 13:22] starkilla2003 commented on #2262
Ok, i found the flag --azure-env "AZUREGERMANCLOUD" for acs-engine and with this it is working.

[2018-02-13 13:22] #2262 closed

[2018-02-13 14:01] serbrech commented on #1603
@bramvdklinkenberg this is what the register-dns extension from @tesharp does :)

[2018-02-13 16:04] jalberto commented on #2022
@andyzhangx

[code]

This happens _every_ time a pod with a persisten volumen needs to move

[2018-02-13 16:05] jalberto commented on #2002
[code]

[2018-02-13 16:12] jalberto commented on #2022
This one is a Deployment (official traefik chart) but it happens the same with a StaefulSet @andyzhangx

[2018-02-13 16:29] jalberto commented on #2002
@andyzhangx according to azure portal, the disk is mounted in `vm-1` the same one that is failling with the `v update` command

I `rebooted` the node, still same problem.

[2018-02-13 16:43] andyzhangx commented on #2022
@jalberto would you try Powershell solution:
https://blogs.technet.microsoft.com/mckittrick/azure-vm-stuck-in-failed-state-arm/
[code]

[2018-02-13 16:44] andyzhangx commented on #2022
And what's your VM status now? This issue is related to VM status inconsistency, you may file an incident to Azure VM support.

[2018-02-13 16:49] jalberto commented on #2002
@andyzhangx detached the disk manually (in portal) restarted every kubelet, run `vm status` in every node (no errors now), deleted the pod, k8s still complainign with same error

@andyzhangx can you confirm to me if this is marked as a critical problem in azure or I need to phone and open a new ticket?

This is critical and is blocking my production environment

[2018-02-13 16:51] jalberto commented on #2022
@andyzhangx check my comments in #2002 please

This is not a particular problem with my VMs (also created by acs-egine BTW) as I am no t the only one with this problem, also is not frist time as this seems a recurrent problem around here.

[2018-02-13 16:55] jcharlytown opened #2263 "FailedNodeAllocatableEnforcement on cgroups-per-qos false"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
As of now all shipping with PR #1960
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Tested with Kubernetes 1.8.4, 1.8.6, 1.8.7

**What happened**:
Kubelets constantly file events like this:
[code]

**What you expected to happen**:
This warn

[2018-02-13 16:57] jackfrancis commented on #1972
@qmalexander #2230 is in master, look for it in the next release of acs-engine this week.

[2018-02-13 17:00] andyzhangx commented on #2022
@jalberto if you are using Deployment, you are very likely to hit this issue when reschedule a pod with azure disk mount on one VM to another. Would you try statefulset again this time?

[2018-02-13 17:01] jackfrancis commented on #1806
@robsonpeixoto Could you paste the last ten or so lines of `/var/log/azure/cluster-provision.log` and `/var/log/cloud-init-output.log` on the master?

[2018-02-13 17:02] jalberto commented on #2022
@andyzhangx I am using official helm chart, it's using a deployment, I knwo statefulset is better option, but root problem is not deployment vs statefulset is attach/dettach disk inconsistency in azure side.

I have exactly same problem with StatefulSet. To ask me to move a prod LB from official helm chart to custom StatefulSet cannot be a solution for this, not even temporal one.

This happens ev

[2018-02-13 17:11] andyzhangx commented on #2022
One workaround is let that helm chart use azure file, you may change the default storage class as azurefile if your helm chart is using `default` storage class. Move pod with azure disk mount from one node to another node is really not a good solution since attach/detach disk from a VM sometimes costs minutes. Azure file won't have such attach/detach issue.

[2018-02-13 17:21] andyzhangx commented on #2022
@jalberto BTW, what's your helm chart and other config? I may try to repro on my testing env if possible. Thanks.

[2018-02-13 18:04] CecileRobertMichon commented on #2247
@starkilla2003 scale only works for agent nodes. As of today, the only way to add master nodes is to deploy a new cluster.

[2018-02-13 18:49] JunSun17 opened #2265 "Upgrade failed with "OSProvisioningTimedOut" error"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue

**What version of acs-engine?**:
Master branch

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
When upgrade with at least two agent nodes and using the default storage profile (non-managed disks), upgrade will fail and return "OSProvisioningTimedOut" error.

[2018-02-13 19:04] 4c74356b41 commented on #2045
@msorby https://github.com/Azure/acs-engine/issues/2027#issuecomment-365154472

[2018-02-13 19:05] 4c74356b41 commented on #2045
@ermontgo forgot to add you

[2018-02-13 19:09] khaldoune commented on #2263
+1

[2018-02-13 19:23] JunSun17 commented on #2250
Can you use "acs-engine scale" command to re-scale your cluster?

[2018-02-13 19:29] JunSun17 commented on #2248
@asubmani thanks for the detailed explanation.
@VenkateshSrini will close this issue for now, please re-open if you still have further questions.

[2018-02-13 19:29] #2248 closed

[2018-02-13 20:31] jwalker343 commented on #1370
@SaaldjorMike When you deployed the agent-only profile, for the certificate profile:
`    "certificateProfile": {
      "caCertificate": "cert_Ca",
      "caPrivateKey": "cert_Cakey",
      "apiServerCertificate": "cert_Api",
      "apiServerPrivateKey": "cert_apikey",
      "clientCertificate": "cert_client_pem",
      "clientPrivateKey": "cert_client_key",
      "kubeConfigCertificate": "cert_ku

[2018-02-13 20:38] SaaldjorMike commented on #1370
@jwalker343 As far as I recall, they were not base64 encoded last time I tested it. I do remember that all I did was to copy the values directly from the ARM templates that generated and used for my initial deployment.

[2018-02-13 20:42] starkilla2003 commented on #2247
@CecileRobertMichon Will this feature be implemented in the future? We are trying a manual scale up right now. But along the way there are alot of things that can go wrong. Certificates and etcd are the main issue there.

[2018-02-13 21:39] CecileRobertMichon commented on #2247
@starkilla2003 there is no current plan to implement it in the near future. Doing a manual scale up can be tricky, #1710 has some information on things that have been tried previously if that helps. I think the main issue with a manual scale up is that etcd communications are encrypted with TLS so new master nodes would need certs signed by the same ca as the existing ones and would need to be add

[2018-02-13 21:58] jalberto commented on #2022
@andyzhangx thanks for your time.

- chart is using azure disk, to move to azure file meant to lost current data
- this is the chart (but it happens with other charts): https://github.com/kubernetes/charts/tree/master/stable/traefik

[2018-02-14 00:08] JunSun17 commented on #2250
Sorry, I think I misunderstand your question. If you mean the original deployment files in _output folder is gone, right now we do not have a way to regenerate it.

[2018-02-14 00:12] #2212 closed

[2018-02-14 01:00] JunSun17 commented on #2177
Checked the uniqueString reference here: https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-template-functions-string#uniquestring . It seems making sense that we should not allow two different deployments which use the same masterFqdnPrefix + location since master FQDN is in the form of masterFqdnPrefix.location.cloudapp.azure.com (as the entry point for your master node

[2018-02-14 01:14] JunSun17 commented on #2176
Not sure we have the corresponding scaling tests in place to test pod activity. Add the missing_test label for further repo and investigation.

[2018-02-14 01:51] #979 closed

[2018-02-14 01:54] #1059 closed

[2018-02-14 01:56] #1060 closed

[2018-02-14 02:06] CecileRobertMichon commented on #1944
Closing as this is an ACS RP issue.

[2018-02-14 02:06] #1944 closed

[2018-02-14 02:07] #1081 closed

[2018-02-14 02:08] CecileRobertMichon commented on #1151
@jackfrancis can we close this?

[2018-02-14 02:13] CecileRobertMichon commented on #1149
See https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/features.md#network-policy-enforcement-with-calico and https://github.com/Azure/acs-engine/tree/master/examples/networkpolicy#microsoft-azure-container-service-engine---network-policy

[2018-02-14 02:13] #1149 closed

[2018-02-14 02:15] CecileRobertMichon commented on #1090
@JiangtianLi can this issue be closed?

[2018-02-14 02:18] #1135 closed

[2018-02-14 02:19] #1422 closed

[2018-02-14 02:24] CecileRobertMichon opened #2268 "Remove old scale up readme"
**Is this a request for help?**:
NO
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE REQUEST
---

**What version of acs-engine?**:
v0.12.0
---

The instructions found in https://github.com/Azure/acs-engine/blob/master/examples/scale-up/README.md are no longer relevant and should be removed. Instead https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/scale.md should b

[2018-02-14 02:25] CecileRobertMichon commented on #1412
The scale command should be used to scale up/down. Please see https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/scale.md for detailed instructions.

[2018-02-14 02:25] #1412 closed

[2018-02-14 02:25] #1313 closed

[2018-02-14 02:27] #1372 closed

[2018-02-14 02:27] #1436 closed

[2018-02-14 02:28] #1281 closed

[2018-02-14 02:28] #1280 closed

[2018-02-14 02:29] #1178 closed

[2018-02-14 02:34] CecileRobertMichon commented on #1370
@jwalker343 @SaaldjorMike @blacksails @nalthoff the correct way of adding agent nodes is to use the `scale` command. See https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/scale.md for details.

[2018-02-14 03:26] nalthoff commented on #1370
Nice! I didn't know that existed. I think the question is more about size of the nodes, not the number of them, but thanks for the info

[2018-02-14 03:54] JiangtianLi commented on #1090
@CecileRobertMichon yes

[2018-02-14 05:15] akhileshthipparthi opened #2269 "Configurable cluster-domain name"
**Is this a request for help?**:

Request
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Feature
---

**What version of acs-engine?**:

1.9.2
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
1.9.2

**What happened**:

It would be better if the cluster-domain feature is configurable via the cluster-definition file instead. This will help users who like to use custom d

[2018-02-14 07:07] abelsromero commented on #2250
So, I undertand the only option is to create a new cluste from scratch then.
No issue with that, our fault :laughing: , just want to be 100% sure.

[2018-02-14 09:50] AlexandreRzc commented on #2176
Hi
I found out that the kubelet file in /etc/default/  and kubelet.service file in /etc/systemd/system/
were not the same as my previous nodes. I did a manual copy and restarted kubelet and it worked.

If i want those files to be replicated on any new nodes, what should I do ?
And more generally if i want to launch and replicated some actions/scripts on any nodes what should I do ?

[2018-02-14 11:07] bramvdklinkenberg commented on #1603
that script didn't work for me. I don't know if the script is ment for a specific distro?
next to adding the nodes to the dns servers I also had to add a configmap with a stubdomain for our domain name. only adding the nodes to the dns server wasn't enough for me to get it to work.

[2018-02-14 11:11] bramvdklinkenberg commented on #1867
I created a /23 (16.0 and 17.0 )network and set the firstConsecutiveStaticIP to 17.1... worked fine like that. So yes make sure you pick a ip address further down the range but with enough ip addresses left for the masters nodes including the ip's reserved by them.

[2018-02-14 11:11] #1867 closed

[2018-02-14 11:33] yastij commented on #2263
cc @karataliu @feiskyer

[2018-02-14 12:27] Navlesh opened #2271 "RHEL 7.4 or Custom VHD as VM OS"
We do have a customer requirement to implement Azure Container Service, Kubernetes orchestration using RHEL 7.4/latest as VM OS.

I have noticed that acs-engine is currently not supporting RHEL 7.4 to generate ARM templates that can be used to provision ACS services on Azure.

I have also seen similar requests are made to github in the past to provide flexibility to choose any VM's OS.

Please con

[2018-02-14 14:12] andyzhangx commented on #2022
@jalberto Hi, I have tried on my testing env using deployment with azure disk mount, when scheduling a pod from one node to another, there will be around 3mins hitting following error:
[code]
But after 3mins, it will recover and shows mounting successfully on another node.

So for your issue, there is a possible solution to mitigate, that is
1. create new nodes by [acs-engine scale up](https://git

[2018-02-14 15:10] JiangtianLi commented on #2027
@4c74356b41 Rebuilding cluster is not a must but recommended. Otherwise manually patching and updating each windows node is required. Sorry for inconvenience.

[2018-02-14 15:22] cloudify commented on #1892
Just has the same exact issue described here.

@sabbour I tried to provision the role as you describe but got this error:

`cluster-admin.yml`:
[code]

[code]

Here's my Kubernetes version:

[code]

[2018-02-14 15:36] serbrech commented on #1603
That's right, you have 2 pieces to the puzzle. Someone correct me if I'm wrong 😄 :
The DNS for the nodes, and the DNS used from within the pods/containers.
- The nodes DNS lookups are fixed by the extension (registering the nodes in your private dns)
- The pods DNS lookups are handled by the configmap for kube-dns (tell k8s dns, used by your containers, to forward to your private dns)

[2018-02-14 15:41] asubmani commented on #966
@avaranovich were you successfully able to use acs-engine in Azure Stack? If yes, could share your experience?

[2018-02-14 16:47] hmarcelodn opened #2272 "OSProvisioningTimedOut acs-engine Upgrade"
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

**What version of acs-engine?**:

Version: v0.12.5
GitCommit: 9fa6a690
GitTreeState: clean

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Upgrading from 1.6.6 to 1.7.9

**What happened**:

I tried to upgrade my cluster from 1.6.6 to 1.7.9 but the upgrade process always failed in th

[2018-02-14 17:00] jackfrancis commented on #2137
@ducas The majority of users wanted an RBAC story by default, which informed the decision to turn it on by default. You can turn it off by declaring this in your api model under the `kubernetesConfig` object:

`"enableRbac": false`

[2018-02-14 17:00] #2137 closed

[2018-02-14 17:31] jackfrancis commented on #1151
This no longer relevant w/ recent changes to master host static IP assignments.

[2018-02-14 17:31] #1151 closed

[2018-02-14 17:34] #1090 closed

[2018-02-14 17:42] croemmich commented on #2027
@JiangtianLi, is the patch included in windowsservercore/1709_KB4074588? I was able to get DNS working, but still have no outbound internet connection.

[2018-02-14 17:46] msorby commented on #2027
@croemmich Care to share your acs-engine json file? Because I just created a new cluster with ace-engine 0.13.0 and got "Failed to create sandbox" when creating windows container. Same definition I've been using (except I was bold and updated to Kubernetes 1.9.3, from 1.9.1).

[2018-02-14 18:22] CecileRobertMichon opened #2273 "Upgrade should change the apimodel to reflect changes applied to the cluster"
**Is this a request for help?**:
NO
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.12.5
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
When upgrade is run on a cluster the resulting apimodel should have the changes applied by upgrade. For example, if a 1.7.9 cluster is upgraded to 1.8.6, t

[2018-02-14 18:23] croemmich commented on #2027
@msorby Unfortunately I'm not actually running on ACS but having the same networking issues which seem to be related to Windows as a whole and not specifically ACS.

[2018-02-14 18:25] CecileRobertMichon commented on #2272
Hi @hmarcelodn, we are aware of this issue (see #2265) and are working on a solution. In the meantime, you can try re-running the upgrade operation and it should succeed after 1 or 2 retries. Could you please share your apimodel to help us debug the issue?

[2018-02-14 18:32] msorby commented on #2027
@croemmich So it was the usage of Kuberentes 1.9.3 that messed it up.
I have now deployed a hybrid cluster with Kubernetes 1.9.1 using acs-engine 0.13.0.
And I can successfully create a windows container using microsoft/windowsservercore:1709_KB4074588 and do a wget from within that container to an exernal site without any hacks!

[2018-02-14 19:33] CecileRobertMichon commented on #1370
I was referring to

, the agenpool-only model is not meant to add agent pools, the scale command is. In terms of changing the size of a node, your approach @nalthoff

 seems to be the right one.

[2018-02-14 19:50] SaaldjorMike commented on #1370
@CecileRobertMichon It is worth noting that my previous comment about adding a new agentpool and deleting the old one was posted on 26 Sep 2017, whereas the scale command was first merged in 24 Oct 2017 (see https://github.com/Azure/acs-engine/pull/1636). Personally I haven't tried the scale command yet.

I was under the impression that scale command was meant for scaling already-existing agentpoo

[2018-02-14 20:00] jwalker343 commented on #1370
@SaaldjorMike I don't think so, there are 3 distinct methods in this thread:

- Modifying existing agents to a different VM class (i.e. D2_v2 to D3_v2) which should probably be done via the re-deploy method. (this is vertical scaling)

- Adding new agents to an existing agent pool (Horizontal scaling) and should be done via the scale command

- Adding a new agent pool with new set of agents (i.e.

[2018-02-14 20:03] CecileRobertMichon commented on #1370
@SaaldjorMike I had a typo in my comment, I meant "add agent nodes", not "add agent pools" I edited it to reflect that, sorry for the confusion.

[2018-02-14 20:10] jackfrancis commented on #1370
Just to add some thoughts: we always encourage acs-engine experimentation; but caveat emptor w/ respect to agent pool-only re-use patterns. Those libraries are consumed by AKS (managed kubernetes) and then rationalized by higher order code. They were not intended to be used natively w/ existing acs-engine clusters (nor to be used to build novel clusters).

Hope that makes sense. All that being sai

[2018-02-14 20:29] stremmie commented on #2054
I happen to have been looking into how the parameter 'firstConsecutiveStaticIP' is being used in azuredeploy.json.  It is used to create the private IP addresses of the masters.  E.g. if 'firstConsecutiveStaticIP' is 172.29.3.250 and there will be 3 masters then they will assigned 172. .29.3.250, 172.29.3.251 and 172.29.3.252.  the problem is that the IP address for the APIServer IP is calculated

[2018-02-14 21:31] tamilmani1989 commented on #2054
_<"Putting that together gives a APIServer IP of 172.29.3.260 which is an illegal IP address. The error that ITler is therefore as expected based on the azure template that acs-engine produces.">_

You are correct. We have to change this behavior. Instead of blindly adding to last octet, we need to convert to integer and add lboffset.
_<"I am just starting with ACS-Engine myself and would apprecia

[2018-02-14 21:53] CecileRobertMichon commented on #1624
fixed with #2255

[2018-02-14 21:53] #1624 closed

[2018-02-14 21:54] ducas commented on #2137
@jackfrancis yep - I thought that was the case... I just wanted to confirm it was intentional. I'm happy with having RBAC. Thanks!

[2018-02-14 22:02] JunSun17 commented on #2146
@rakidu can you post a detailed log on the issue you saw? It seems something else went wrong on your deployment.

[2018-02-14 23:05] #2269 closed

[2018-02-14 23:14] bq1756 opened #2278 "Add capability to acs-engine to provision and destroy agent pools"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE REQUEST
---

**What version of acs-engine?**:
v0.12.5
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.8+ in my case

**Request**:
As an automation engineer, I want to automatically provision and destroy Kubernetes agent pools using native acs-engine commands.

**Us

[2018-02-14 23:52] jbiel commented on #2027
@JiangtianLi - can you please advise whether or not an updated wincni.exe is needed to fix this and if it will be published publicly at  https://github.com/Microsoft/SDN/tree/master/Kubernetes/windows/cni?

[2018-02-14 23:59] JunSun17 commented on #2143
Did some research on this, and according to current Azure LB documentation, it does not support the ssl protocol as AWS:

https://docs.microsoft.com/en-us/azure/templates/microsoft.network/loadbalancers#ProbePropertiesFormat

So looks we can either open a non-secure port for healthz check (not sure about the security implications) or we will need Azure LB to implement the health probe feature with

[2018-02-15 00:08] JiangtianLi commented on #2027
@jbiel acs-engine already includes an updated wincni.exe built by Windows team.

@madhanrm could you have an answer to publishing wincni.exe at GitHub?

[2018-02-15 00:32] campbelldgunn commented on #2263
I am getting the same issue on an K8s 1.9.2 cluster using acs-engine 0.12.5 engine. In fact over 19K time over 3 days. @yastij @karataliu @feiskyer

[2018-02-15 01:17] jbiel commented on #2027
@jiangtianki thanks. We are not using acs-engine but encountered this bug nonetheless so we appreciate the upstream/public fixes.

[2018-02-15 05:36] 4c74356b41 commented on #2027
[code]

hm, are there dotnet and aspnet images with that fix?

[2018-02-15 08:10] qmalexander commented on #1972
@jackfrancis nice! So is it possible for you to start with this one now?  @JiangtianLi

[2018-02-15 08:53] avaranovich commented on #966
Not really, I do not think it is compatible with Azure Stack.
At the end I was able to create a k8s cluster by using https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/

[2018-02-15 10:47] ITler opened #2282 "0.13.0 masters don't survive reboot"
**Is this a request for help?**: sure, as I can't solve the problem by myself

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): issue

---

**What version of acs-engine?**:
0.13.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
K8s server 1.8.6, 1.8.8

**What happened**:
When bootstrapping a fresh cluster (master and agent scale seem to not matter in this case) on **Az

[2018-02-15 11:01] ITler commented on #2054
I also faced issue when using IPs with lower range D value, i.e. 172.29.3.`10` ... If remembering correctly, masters' IPs interfere with either each other or with agents' IPs. That's why, I went up to *firstConsecutiveStaticIP* = 172.29.3.240

[2018-02-15 11:08] ITler commented on #1412
... which wasn't available in 0.5.0

[2018-02-15 13:11] starkilla2003 commented on #2142
Hello, with acs-engine v0.13.0 the prometheus grafana deployment is working. But i don't get any metrics in the default dashboard. Should i open a seperate issue for that?

[2018-02-15 13:20] idanshahar opened #2283 "v.0.13.0 - Custom VNET not yet supported with Windows-enabled clusters"
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

**What version of acs-engine?**:

v.0.13.0

If this is a ISSUE, please:
The previous version supported a Custom Vnet for Windows-enabled cluster, now somehow the latest version does not support this feature. Is this planned?

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

[2018-02-15 13:29] starkilla2003 commented on #2247
@CecileRobertMichon thank you for making it clearer to me.

[2018-02-15 13:29] #2247 closed

[2018-02-15 13:33] ITler commented on #2282
also for 1.9.3

[2018-02-15 13:49] hmarcelodn commented on #2272
Hi @CecileRobertMichon ,

I tried yesterday re-running and it worked.

I am going to share next my apimodel.json sample.

Thanks a lot.

[2018-02-15 13:49] hmarcelodn commented on #2272
Closed due to #2265

[2018-02-15 13:49] #2272 closed

[2018-02-15 15:04] hmarcelodn opened #2284 "Acs-engine deployment failed with max number of ip addresses reached (using VNET)"
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

**What version of acs-engine?**:

v0.12.5

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes

**What happened**:

I tried to generate a cluster from scratch using acs-engine and placing the vms into a VNET with 2 subnets (agents-subnet and masters-subnet).

( I have more tha

[2018-02-15 15:49] magnock commented on #2100
Yes, indeed, the principle didn't have "Contributor" role on the resource group.
After setting that, all system pods were running without problems.

[2018-02-15 16:32] trstringer commented on #2142
@starkilla2003 there is actually an open PR right now https://github.com/Azure/acs-engine/pull/2274 to switch out the dashboard with a better one that has more support for Prometheus v2 output. Once this gets merged in, you should have a better solution.

[2018-02-15 16:50] hmarcelodn commented on #2283
I dont think its working in Linux either. #2284 I am experiencing that issue. Possible related to limited functionality with the latest versions. I was using v0.12.5 just in case.

[2018-02-15 16:53] hmarcelodn opened #2285 "Acs-Engine Scale is not working (Vm Disk not created)"
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

**What version of acs-engine?**:

0.12.5

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes

**What happened**:

I updated my 1.6.6 cluster into 1.9.1 using acs-engine upgrade command line successfully. After that I tried the acs-engine scale command line and it was failing.

[2018-02-15 17:16] jackfrancis commented on #1972
@qmalexander The RS3 hotfix patches that are in the v0.13.0 release still need testing, and overall our current priority is stability over features (Windows scaling). I know that's a squishy answer, but want to set your expectations according to our near term focus.

Thanks for continuing to inquire!

[2018-02-15 17:17] jackfrancis commented on #2100
Thanks for confirming your fix @magnock FYI v0.13.0 release includes #2174 above.

[2018-02-15 17:38] gsacavdm commented on #2223
Ping.

[2018-02-15 17:41] jackfrancis commented on #2223
@gsacavdm I'm not terribly familiar with this particular surface area in the codebase, so I suggest you scaffold out a prototype PR and we can iterate from there if we are able to identify a more appropriate implementation during the PR process.

Thanks for raising and tackling this!

[2018-02-15 18:14] yuedai opened #2286 "10250 port is not open in Windows RS3 firewall, in azure cni mode"
**Is this a request for help?**:
Help
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
0.13.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
0.13.0

**What happened**:
Provisioned a kubernetes cluster with networkpolicy:azure. "Kubectl exec -it" does not work, reports could not connect to 10250 port of the agent node from pr

[2018-02-15 19:16] akhileshthipparthi commented on #2269
Thank you !!

[2018-02-15 19:19] bq1756 opened #2287 "How can I remove a node pool from a k8s cluster?"
**Is this a request for help?**:
yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
issue
---

**What version of acs-engine?**:
v0.12.5
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.8.4

**What happened**:
I attempted a few ways to remove an agent pool from a running k8s cluster through acs-engine/ARM utilities.  Each method I tried failed.

**What you

[2018-02-15 19:31] jackfrancis commented on #2286
@saiyan86 Does this sound familiar in your testing w/ RS3?

[2018-02-15 19:33] yuedai commented on #2286
Besides... I am keeps on getting this warning in "Services" object:

"Error creating load balancer (will retry): error getting LB for service kube-system/kube-dns: Service(kube-system/kube-dns) - Loadbalancer not found"

Maybe I should open a new issue?

[2018-02-15 20:38] starkilla2003 commented on #2142
@trstringer I saw that PR and deployed the mentioned dashboard, but even with that it is not working.

[2018-02-15 21:07] trstringer commented on #2142
@starkilla2003 what are you seeing in the dashboard? No metrics coming through (all saying "N/A")?

[2018-02-15 21:40] valer-cara opened #2290 "Upgrade 1.7.4 -> 1.8.7 failed. Etcd on master-0 has switched to HTTPS and can't communicate with the older 2 etcd nodes."
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
Version: v0.12.4
GitCommit: 069d9e4

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:

*TL;DR* - etcd switched to using HTTPS and it can't connect to the other 2 older nodes.

Upgrade 1.7.4 to 1.8.7 fails on the

[2018-02-16 00:18] CecileRobertMichon commented on #2290
@valer-cara what version of acs-engine was your cluster built with?

[2018-02-16 00:37] jackfrancis commented on #2284
@hmarcelodn could you try and repro w/ acs-engine v0.13.0?

[2018-02-16 00:42] gsacavdm commented on #2223
@jackfrancis , I submitted a proposal for this as a starting point. I'd love to hear your feedback on it.

[2018-02-16 00:46] jackfrancis commented on #2223
Simple and clean, I like it, thanks again!

[2018-02-16 08:21] valer-cara commented on #2290
@CecileRobertMichon - quite an old one - the machines were created on `28 Aug 2017`, and I believe it was 0.5.0 (maybe this e2643431594bb908cb9ee1019c75389957787a94)

[2018-02-16 13:52] 0x7f opened #2295 "Allow scaling a cluster with custom VM name prefix"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):

FEATURE REQUEST mostly, but a bit of an ISSUE as well ;)

**What version of acs-engine?**:

0.12.5

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes 1.8.7

**What happened**:

We use acs-engine for creating k8s clusters in a fairly large infrastructure. There are two requirements: a) the resources must comply with an e

[2018-02-16 13:54] 0x7f commented on #2295
Btw, was already searching for similar issue, but only found this PR https://github.com/Azure/acs-engine/pull/2000 which is only somewhat related.

[2018-02-16 13:55] Chewie opened #2296 "Enabling PodSecurityPolicy does not enable apparmor on nodes"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.13.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9.3

**What happened**:

Enabling the (not yet documented) flag `KubernetesConfig.EnablePodSecurityPolicy`, along with its required flag `KubernetesConfig.EnableRbac`, effec

[2018-02-16 14:28] hmarcelodn commented on #2284
@jackfrancis I am going to try this today and I will let you know.

Thanks!

[2018-02-16 16:46] khaldoune commented on #2296
+1

[2018-02-16 16:57] valer-cara commented on #2290
Ultimately I've restored the data dir, but it seems etcd is also updated `remote version is too low: remote[91d25258d70ad868]=2.2.5, local=3.2.11`.

[2018-02-16 17:46] hmarcelodn commented on #2284
@jackfrancis I tried what you suggested using v0.13.0 and I am experienced the same issue.

[2018-02-16 17:50] jackfrancis commented on #2284
Thanks @hmarcelodn.

@sharmasushant @tamilmani1989 Is the above experience (30 ip reservations) a standard side-effect of Azure CNI with the api model template he shared?

[2018-02-16 17:56] hmarcelodn commented on #2284
@jackfrancis maybe the network segments I used would be useful:

Address space: 10.1.1.0/24
10.1.1.0/26 (for masters subnet)
10.1.1.64/26 (for nodes)

[2018-02-16 18:26] sharmasushant commented on #2284
@hmarcelodn @jackfrancis @tamilmani1989
30 is the default value for ipAddressCount.
We need one ip per pod from subnet for Vnet connectivity.
If 30 is too high for the scenario, then it can be reduced using ipAddressCount.
Subnet should have enough free ip addresses to be used.

[2018-02-16 18:26] jackfrancis opened #2298 "Generic manifest interface"
The use-case for this is evolving the static audit policy, implemented here:

https://github.com/Azure/acs-engine/pull/2189

What we want is a general "manifest" data model that we implement as a JSON object in the api model that allows custom configuration. Design TBD

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** Kubernetes

[2018-02-16 18:32] jackfrancis commented on #2284
@hmarcelodn Some background: we implemented Azure CNI for container networking recently. Your v0.5.0 cluster uses kubenet. If you're not ready to adopt the benefits/cluster overhead of Azure CNI, you could simply rebuild your cluster and add the following configuration to your `orchestratorProfile` config object:

[code]

Azure CNI will yield optimal network operations, but if that's not worth the

[2018-02-16 18:42] valer-cara commented on #2290
So I managed to downgrade etcd on master-0, recreate the etcd cluster from a backup, set apiserver on master-0 to use the `etcd2` storage backend - the components booted and the cluster's alive once again.

Now I'll neet to upgrade etcd 2.2.5 -> 3, re-enable TLS.

[2018-02-16 19:27] anschoewe opened #2299 "No examples of using an existing Managed Disk with a Persistent Volume Claim"
**Is this a request for help?**:
---
Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
---
Feature Request

**What version of acs-engine?**:
---
I'm using the AKS preview in Azure.  I'm not sure which acs-engine that corresponds to.

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.8.1

**What happened**:
Trying to use an existing Managed Disk, that is pre-filled

[2018-02-16 21:48] IvanovOleg opened #2301 "Failed upgrade from kubernetes 1.9.1 to 1.9.3"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
 v0.13.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

1.9.1 -> 1.9.3
**What happened**:
FATA[0098] Error upgrading cluster: resources.DeploymentsClient#CreateOrUpdate: Failure sending request: StatusCode=200 -- Original Error: Long running

[2018-02-16 22:06] akhileshthipparthi opened #2302 "kubelet —cluster-domain is user-overridable"
**Is this a request for help?**:
Request
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Feature
---

**What version of acs-engine?**:
1.9.2
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes
**What happened**:

It would be better if the cluster-domain feature is configurable via the cluster-definition file instead. This will help users who like to use custom

[2018-02-16 22:06] #2256 closed

[2018-02-16 22:08] IvanovOleg commented on #2301
I've destroyed my cluster because of this issue. It looks like acs-engine is unable to check if ip address is allocated or not and fails each time.

[2018-02-16 22:30] JunSun17 commented on #2301
@IvanovOleg there is a known issue that the second upgrade will introduce problems like this. Just curious, has your cluster already been upgraded before this upgrade?

[2018-02-16 22:33] IvanovOleg commented on #2301
@JunSun17 It's the first upgrade since I've started using Azure network

[2018-02-16 22:37] JunSun17 commented on #2301
@IvanovOleg can you attach your cluster definition here so we can investigate this issue further? Thanks!

[2018-02-16 22:38] CecileRobertMichon commented on #2290
Did you manually edit your apimodel before running the upgrade (the answer should be yes since some of the json properties have changed names since v0.5.0)? Could you please share what your apimodel looked like (how many masters/agents, any optional features turned on, etc.)? I'm trying to repro to see what went wrong. Upgrade to tls should be backward compatible and was tested with v0.11.0 but it

[2018-02-16 22:39] IvanovOleg commented on #2301
[code]

[2018-02-17 00:19] CecileRobertMichon commented on #2232
This should be fixed in v0.13.0 , please feel free to reopen if you encounter the same problem again.

[2018-02-17 00:19] #2232 closed

[2018-02-17 06:28] IvanovOleg commented on #2301
@JunSun17 As far as I remember I used v0.12.2 for the original deployment. I think you should create ~ 30-40 dummy containers before upgrade to allocate a lot of ips.

[2018-02-17 10:08] pidah commented on #2298
just as a suggestion/middleground, would it be useful to have an option to override the audit policy file. For example we have the acs-engine config file as:
[code]
We can implement a generic provider that pulls these files from github (or other sources) during acs-engine deploy time. This might be useful for overriding other files like podsecuritypolicy files, encryption-config file etc or perhap

[2018-02-17 12:11] andyzhangx commented on #2299
@anschoewe Here is the [example](https://github.com/andyzhangx/Demo/tree/master/linux/azuredisk#static-provisioning-for-azure-disk), pls note that managed disk could only be attached to VM with managed os disk, blob based disk could only be attached to VM with blob based os disk.

[2018-02-17 14:23] valer-cara commented on #2290
I dug through the git history in my repo of the output/* files, hope I didn't miss anything, but these should be the edits and the initial .json (I've noticed that `kubeletConfig` change):

[code]

The initial one was:

[code]

The current one is:

[code]

[2018-02-17 14:26] valer-cara commented on #2290
ATM my masters config is:

- master-0: 1.8.7 manually adjusted to run etcd 2.2, no TLS for compat with the rest
- master-1: 1.7.4 default config, etcd 2.2
- master-2: 1.7.4 default config, etcd 2.2

I'll manually upgrade etcd on all machines to 3.2.11 (the one provisioned by the upgrade), set them to use TLS and then just re-run the upgrade. Not sure if i'm missing anything, but I'll jump to it, h

[2018-02-18 13:03] jalberto opened #2307 "GID & mount-options annotations not working"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.11.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
GID & mount-options annotations seems to be ignored by azure

**What you expected to happen**:
By using any combination of this annotations I expect the vol

[2018-02-19 09:47] mtgerb commented on #2301
I run into the same issue, when upgrading kubernetes from 1.8.7 to 1.8.8. Have also used acs-engine v.0.12.2 and upgraded to version v0.13.0 before trying to upgrade the cluster.

[2018-02-19 12:29] robsonpeixoto commented on #1806
@jackfrancis The problem is not happing again. I deleted the `_output` directory to create another cluster and when I try again, the error not happens anymore.

[2018-02-19 12:59] starkilla2003 commented on #2142
@trstringer Do you by chance have an idea what the problem could be? As you said there are no metrics coming through at the moment. We are trying to fix that situation at the moment, but seem to get nowhere.

[2018-02-19 14:39] magnock commented on #2100
Thank you @jackfrancis, I used v0.13.0 and all pods are running good, but we still have the internal windows DNS problem, windows containers can't resolve hostnames and can't access Internet. I've seen some quick fixes :

- using container from this image : microsoft/windowsservercore:1709_KB4074588
or
- by setting DNS client using powershell
$adapter=Get-NetAdapter Set-DnsClientServerAddress -Int

[2018-02-19 14:39] starkilla2003 commented on #2142
Findings so far:

- Prometheus needs a service account, because it has no access to node level scraping
- cadvisor is not running, so all container metrics are not available

Is there any reason that cadvisor is disabled in acs-engine?

[2018-02-19 14:41] trstringer commented on #2142
@starkilla2003 can you please run `kubectl get po` (or `kubectl get po -n <monitoring_namespace>` if you installed the extension in a non-default namespace) and paste the output here?

[2018-02-19 14:57] starkilla2003 commented on #2142
`NAME                                                        READY     STATUS    RESTARTS   AGE
dashboard-grafana-75b87dc654-ltcrb                          1/1       Running   0          4d
monitoring-prometheus-kube-state-metrics-6b7bc5b446-7bpxl   1/1       Running   0          4d
monitoring-prometheus-node-exporter-nprbc                   1/1       Running   0          4d
monitoring-prometheus-

[2018-02-19 14:59] trstringer commented on #2142
Do you still have the `acs-engine deploy` command that you used to deploy this cluster/extension? I'll see if I can repro.

[2018-02-19 15:05] starkilla2003 commented on #2142
I generated the cluster with the following config:

{
  "apiVersion": "vlabs",
  "location": "germanycentral",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes",
	  "orchestratorVersion": "1.8.8",
      "kubernetesConfig": {
        "networkPolicy": "calico",
        "maxPods": 16,
        "gcHighThreshold": 70,
        "gcLowThreshold": 40
      }
    },
    "m

[2018-02-19 15:36] trstringer commented on #2142
[code]

The new dashboard isn't in `Azure/acs-engine/tree/master` yet. This is the PR that is pending merge: https://github.com/Azure/acs-engine/pull/2274

[This is the dashboard](https://grafana.com/dashboards/3119/revisions) that should work (and the PR is basically just that). Try installing that dashboard manually so we could rule that out.

[2018-02-19 15:43] starkilla2003 commented on #2142
@trstringer I already imported that dashboard and I am using the dashboard with the id 3119.

[2018-02-19 15:45] AceHack opened #2308 "Please support IPv6 containers/pods and VMs"
We are migrating from SF where IPv6 support is already there and we take advantage of it, we really need IPv6 support here as well.  Thanks.

[2018-02-19 15:56] trstringer commented on #2142
Can you check and verify the data source is linked up? At this point it might be wise to pop open Prometheus and use that UI to see if there's any data in Prometheus. It's hard to tell right now if the problem is Prometheus not getting data, or Grafana not getting data from Prometheus.

[2018-02-19 16:04] trstringer commented on #2142
1. Connect to the Prometheus instance: `kubectl port-forward <prometheus_server_pod> 9090:9090`
1. Open your browser and navigate to `localhost:9090`
1. In the query explorer type: `node_cpu`
1. View the output

Is there data there?

[2018-02-19 16:12] starkilla2003 commented on #2142
Ok, the metric `node_cpu` came up when we added the serviceaccountname for prometheus_server_pod. That one was missing before that. But all the metrics like `container_cpu_usage_seconds_total` are missing in the prometheus server and are referenced in the dashboard.

[2018-02-19 16:39] hmarcelodn commented on #2284
@jackfrancis @sharmasushant thanks.

I tried that networkPolicy set to none and it worked normally.

It sounds a hard to change thing in my scenario since network segments were planned to increasing in nodes but pods, those network segments I have needs to connect to VPN/ExpressRoute and I wont have the chance to easily change them. It sounds like if I want to move to CNI improvements then I need

[2018-02-19 16:43] fbuser1 opened #2309 "remove me"
remove me

[2018-02-19 19:02] trstringer commented on #2142
1. Run `kubectl get no`
1. ssh into a master node
1. From the master node `curl <agent_node_hostname>:4194/metrics | grep container_cpu`

Does that succeed? And do you get data back?

[2018-02-19 19:43] starkilla2003 commented on #2142
I get a connection refused when i try to curl from a master node to an agent node on that port.

[2018-02-19 19:46] pidah commented on #2263
@jcharlytown We are observing the same issue. According to the docs the  `--cgroups-per-qos` flag needs to be enabled – https://kubernetes.io/docs/tasks/administer-cluster/reserve-compute-resources/#enabling-qos-and-pod-level-cgroups

[2018-02-19 19:46] starkilla2003 commented on #2142
Tell me if i am wrong, but for the c`ontainer_cpu_usage_seconds_total `we would need a `cadvisor` running. But after deploying with acs-engine cadvisor is disabled.

[2018-02-19 19:53] yastij commented on #2263
cc @arnaudmz

[2018-02-19 20:35] starkilla2003 commented on #2142
As far as i can see in the kubelet cAdvisor has the port 0 which means it is disabled in this case.

When trying to curl on an agent node I also get a connection refused.

[2018-02-19 21:12] trstringer commented on #2142
So is cAdvisor running elsewhere in your cluster? If so, the Prometheus config would have to be updated to reflect that. As of now the job that scrapes this data is as follows:

[code]

Did you specifically disable cAdvisor from the kubelet? Or was that just how your cluster was deployed? If the former, was there a reason behind that?

[2018-02-19 21:32] trstringer commented on #2142
I'll have to look into what the default deployment is. In my cluster that was recently deployed, I too didn't change anything and cAdvisor was fully functioning from kubelet to provide these metrics. I'll dig some more tomorrow on what's going on.

[2018-02-19 21:55] #2284 closed

[2018-02-20 05:10] JunSun17 commented on #2301
@IvanovOleg @mtgerb Thanks for reporting this issue. I suspect upgrade with v0.13.0 may introduce this issue if the original deployment is not using v0.13.0. I will do some further testing and update on this issue.

[2018-02-20 08:32] JunSun17 commented on #2282
Checked v0.12.0 kubelet log and it also contains the container network error, so not sure it is the root cause.

Check the api server log and after reboot of v0.13.0 deployment, there are lots of timeout error and it looks the api server is kept restarting, more specifically, an error says:

{"log":" [[hyperkube/v1.8.6 (linux/amd64) kubernetes/6260bb0] 127.0.0.1:39784]\n","stream":"stderr","time":

[2018-02-20 11:48] andyzhangx commented on #2307
While here the point is in the backend, mount process is like this:
[code]
I have tried, gid & uid setting in mount options does not work for ext4

This is not azure specific issue, since all mounting process use same function, gid & uid setting in mount options for all cloud providers does not work in ext3, ext4.

[2018-02-20 11:49] andyzhangx commented on #2307
Use `chown -R N:N /mountPoint` is the only way to make gid, uid setting work now.

[2018-02-20 12:07] fbuser1 commented on #1021
+1

[2018-02-20 14:10] narindergoyal opened #2311 "Inter pod communication"
**Is this a request for help?**:Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):Issue

---

**What version of acs-engine?**:latest

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
We have setup the acs-engine environment and we were working on setting up nginx-ingress-controller on that environment. What is happening that here inter

[2018-02-20 14:58] hmarcelodn commented on #2285
It just failed once. It worked. Closing.

[2018-02-20 14:58] #2285 closed

[2018-02-20 16:44] msorby commented on #2100
@magnock Why do you consider using microsoft/windowsservercore:1709_KB4074588 a quick fix?

[2018-02-20 17:24] #2309 closed

[2018-02-20 18:20] JunSun17 opened #2312 "Audit policy not working"
**Is this a request for help?**:

No

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

**What version of acs-engine?**:

v0.13.0

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes

**What happened**:

Error is reported in kubelet log:

Feb 20 07:22:25 k8s-master-27067430-2 docker[1838]: E0220 07:22:25.311339    1913 file.go:149] Can't process manifest file "/et

[2018-02-20 18:32] #2273 closed

[2018-02-20 18:35] anschoewe commented on #2299
Thanks @andyzhangx .  [This is very helpful](https://raw.githubusercontent.com/andyzhangx/Demo/master/linux/azuredisk/nginx-pod-azuredisk-static-mgrdisk.yaml).  I had tried to use the managed disk resource ID before but it yelled at me saying it expected a .vhd file.  But after adding 'kind: Managed', it was perfectly happy to take the managed disk resource id.  It was also very important to move/

[2018-02-20 18:35] #2299 closed

[2018-02-20 18:48] pidah commented on #2312
@JunSun17 what version of kubernetes is this ?

[2018-02-20 19:08] JunSun17 commented on #2312
@pidah The one I tested is version 1.8.6.

[2018-02-20 19:49] qmalexander opened #2313 "Expose on Linux node don't work "ERR_CONNECTION_TIMED_OUT""
**Is this a request for help?**:
Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

**What version of acs-engine?**:
v0.13.0 also tried with v0.12.5.

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.7.9
Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.4", GitCommit:"9befc2b8928a9426501d3bf62f72849d5cbcd5a3", GitTreeState:"clean", BuildDa

[2018-02-20 20:20] yastij commented on #2296
Cc @jackfrancis @pidah PTAL

[2018-02-20 20:39] #2157 closed

[2018-02-20 20:57] jackfrancis commented on #2284
@hmarcelodn Thanks for sharing your results, and your scenario generally. I think we need more explicit documentation in this area to better assist folks help design out their iaas to accommodate the way Azure CNI-backed clusters will grow.

[2018-02-20 21:11] jackfrancis commented on #2296
@pidah This looks like something we can add pretty easily. Let me know if you don't have cycles to do this. Also, once we have this working, it'd be great to build some functional E2E test behaviors on top of these clusters. Open to suggestions on how to simply, functionally prove out basic symptoms of "working".

[2018-02-20 21:25] CecileRobertMichon commented on #2282
Workaround is to run `sudo systemctl restart etcd` on the master that was rebooted. After that the node should go to ready. Looking into root cause and fix for this.

[2018-02-20 21:26] jackfrancis commented on #2313
@JiangtianLi Is there anything that @qmalexander needs to do in order to make this work using a Windows-backed cluster?

[2018-02-20 22:02] JunSun17 commented on #2301
Yes, there is an issue if the original deployment is not using v0.13.0. v0.13.0 reserves static IPs for master nodes but these IPs might have been taken already by other nodes deployed with an early version. I am investigating on a solution for this.

[2018-02-20 22:08] IvanovOleg commented on #2301
@JunSun17 Thanks! Maybe it's a good idea to have some kind of command line parameter that handles the range of ips as a backup plan for situations like this.

[2018-02-20 22:12] jackfrancis commented on #221
As a starting point, let's build out a configuration feature that does the following:

- builds a cluster without a publically facing load balancer (and as a result no public IP)
- generates kubeconfig artifacts that point to the API server via the internal load balancer IP address
- simple documentation that describes how to make this work in practice (i.e., build your "non-public" cluster, move

[2018-02-21 06:58] mwieczorek commented on #2311
@narindergoyal in case you used custom vnets nad networkPolicy=none/calico  - did you update the subnets with route table? (https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/features.md#feat-custom-vnet)

[2018-02-21 09:52] dennis-benzinger-hybris commented on #221
FWIW, for our use case a flag called `enablePublicIP` in the `kubernetesConfig` object would be sufficient. For backwards compatibility the default would be `true`. This name would match options like e.g. `enableRbac` or `enableAggregatedAPIs`.

[2018-02-21 11:54] pidah commented on #2296
@jackfrancis I am pretty busy atm, so happy for someone else to take this... +1 for tests 👍

[2018-02-21 15:05] UncleTawnos commented on #737
the hard limit i 100, so asking support is good way to start. However I found it useful in some scenarios to have separate LB per agentpool

[2018-02-21 16:20] magnock commented on #2100
@msorby There is some discussion about that on https://github.com/Azure/acs-engine/issues/2027, But it doesn't really help.
If I restart my cluster, I need to check the DNS containers IPS, rebuild windows image with new DNS IPs and then redeploy windows containers :( (OR using env variables)

[2018-02-21 19:11] jackfrancis commented on #2263
PR #2310 aims to fix this

[2018-02-21 19:11] #2263 closed

[2018-02-21 19:25] #1974 closed

[2018-02-21 19:52] vannovv opened #2317 "Have a single microservice (2 pods on different nodes) that is not communicating"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
v0.12.5
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.8.6

**What happened**:
I have a single microservice among 6 other microservices that are Internet facing that is not responding.  The other Internet exposed microservices

[2018-02-21 20:38] qmalexander commented on #2313
I realy need an answer to this asap. :blush:

[2018-02-21 21:02] JiangtianLi commented on #2313
@qmalexander if you only need Linux workload, can you deploy a Linux only cluster? Also, did you specify ostype in workload yaml? Otherwise, Linux workload maybe deployed to windows node or vice versa.

[2018-02-21 21:10] qmalexander commented on #2313
Hi! Yes we need to run with windows nodes. Our nginx-ingress runs on the linux node. And yes the nodeSelector is correct. Like I described above, it works just fine when exposed on windows nodes but not on linux 😢 @JiangtianLi

[2018-02-21 21:13] JiangtianLi commented on #2313
@qmalexander Can you post your helloworld yaml? Or if you try https://github.com/JiangtianLi/Examples/blob/master/linux/basic/nginx.yaml, do you have the same issue?

[2018-02-21 21:14] JiangtianLi commented on #2313
@qmalexander Also can you show the output of
[code]
and kubectl describe the helloworld pod?

[2018-02-22 07:51] qmalexander commented on #2313
Hi @JiangtianLi thank you for your quick reply. I tried with your nginx.yaml. Unfortunately I got the same result when browsing the public ip

--------
`PS D:\kubernetes> kubectl get ev -o json
{
    "apiVersion": "v1",
    "items": [
        {
            "apiVersion": "v1",
            "count": 10,
            "eventTime": null,
            "firstTimestamp": "2018-02-22T06:49:28Z",
            "

[2018-02-22 08:50] jcharlytown commented on #2263
Thanks everyone for fixing this. +1!

[2018-02-22 09:04] fbuser1 commented on #2282
+1

[2018-02-22 09:12] imranq2 commented on #2282
+1

[2018-02-22 11:11] nagarjunac opened #2318 "Set node allocatables while creating a new kubernetes cluster using ACS engine or an existing cluster"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE REQUEST
---

**What version of acs-engine?**:
canary
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)
Kubernetes 1.8.2

**What happened**:

Don't know how to set "system-reserved" and "kube-reserved" flags for kubelet.

[2018-02-22 15:22] JiangtianLi commented on #2313
@qmalexander Can you check what networkpolicy it is in your apimodel (azure.json and azure.parameters.json)? Can you curl the public IP/external IP from master node? Can nginx be reached by POD IP or cluster IP?
Does your cluster has Linux agent node? Can you show the output of `kubectl get no -o wide`?

The error "Could not create route 03b35da0-17a1-11e8-b949-000d3a266b79 10.244.2.0/24 for node

[2018-02-22 16:52] yastij opened #2319 "mount apparmor_parser as volume for kubelet"
when using pod security policy, a volume mount :  `/sbin/apparmor_parser` is missing for kubelet.

This is a show stopper for psp

@jackfrancis @pidah

[2018-02-22 18:06] khaldoune commented on #2319
+1

[2018-02-22 18:42] #2301 closed

[2018-02-22 19:10] jackfrancis commented on #2317
@dtzar Can you validate the calico assumptions above, just to rule that out?

[2018-02-22 19:56] patrick-motard commented on #2283
What version supported custom Vnets? I deployed a hybrid 1.7 cluster a few months back and found that the cluster would provision completely with the exception of the windows nodes. I participated in a few Issues regarding this and requested that the documentation be updated to state this known limitation. It was updated and can be found here. 1.8 and 1.9 were out when that happened. So maybe you

[2018-02-22 20:26] qmalexander commented on #2313
@JiangtianLi

`  "networkPolicy": {
      "value": "none"
    }`

`my-nginx service external ip: It works.
my-nginx service Cluster IP:10.0.165.182:  It works.
my-nginx pod: It works.`

`NAME                        STATUS    ROLES     AGE       VERSION   EXTERNAL-IP   OS-IMAGE                    KERNEL-VERSION   CONTAINER-RUNTIME
71197k8s9000                Ready     <none>    24m       v1.9.1

[2018-02-22 20:34] patrick-motard commented on #558
@JiangtianLi
acs-engine: 0.11.0
nodes: 1709
kubernetes: 1.7.9

Disabling cache in windows container not allowed:
[code]

Deployed "simpleweb.yaml" service following [these instructions](https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/windows.md):

[code]

The service & pod has been up for 21 minutes ([Screenshot](https://screenshots.firefox.com/lo0XI9tMiuwkN1PJ/localhost)).

Not ab

[2018-02-22 21:15] vannovv commented on #2317
Just to make sure I was clear. We are applying this same Calico policy file across 5 different clusters that are all built from the same scripts, so pretty close to identical,and they are all working fine.  For this cluster we updated the ACS Engine and K8S versions and I pulled the vnet out of the K8S resource group and put it into its own resource group to give us more flexibility.

[2018-02-22 22:23] rjtsdl opened #2324 "[Feature] support authentication through EMSI"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Feature
---

**What version of acs-engine?**:
until now
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Azure Identity team had a new feature called explicit MSI (EMSI)
I have an upstream PR (https://github.com/kubernetes/kubernetes/pull/60253) to support

[2018-02-22 22:24] rjtsdl commented on #2324
I started coding and testing with my custom hyperkube image :)

[2018-02-22 22:33] gsacavdm commented on #2223
@jackfrancis , can we reopen this and keep it open until we get the right client id in there? As it stands, even after the PR, this will continue to fail.

[2018-02-22 23:22] idanshahar commented on #2283
@patrick-motard
seems that v0.12.5 support Custom Vnet + Hybrid Cluster (Without CNI)

[2018-02-23 01:38] mcronce commented on #221
For this to be successful, you also need to be able to reach Azure APIs to e.g. attach persistent volumes without reaching out over the public Internet to get to them.

Considering you're sitting in the same data centers, this is not only reasonable but expected, but it's probably something that the Azure product team needs to solve, not that the acs-engine community can really help with.

[2018-02-23 02:46] trstringer commented on #2142
@starkilla2003 I'm proving this out in a particular way. Take a look at PR #2274 and see how that works for you.

That includes a few changes:
- running cAdvisor as a daemonset (instead of relying on kubelet for cAdvisor)
- modifying Prometheus config to look at nodes' cAdvisor metrics

Curious to see how this works for you in a non-prod environment. In my testing just now that looks like a functi

[2018-02-23 04:32] yuedai commented on #2027
@4c74356b41 maybe you can try "docker pull" to refresh the base image before building your windows container.

[2018-02-23 05:24] yuedai commented on #2282
+1

[2018-02-23 05:36] 4c74356b41 commented on #2027
@yuedai wouldnt help unless they updated the images with this fix

[2018-02-23 09:03] serbrech commented on #2157
Awesome!

[2018-02-23 15:16] richardjharding commented on #1806
I'm seeing this consistently with

[code]

Error

[code]
with following versions of k8s and using custom vnet
[code]

[2018-02-23 16:43] jolcese commented on #122
+1. I need SSL offloading

[2018-02-23 16:54] jackfrancis commented on #1806
@richardjharding Thanks very much for sharing. Would you be willing/able to try and repro from the code at this PR?:

https://github.com/Azure/acs-engine/pull/2225

The changes there add some more checks around "is the cluster ready" to account for possible race conditions in parallel operations. I'm not sure we're committed to merging it, as it may add delays to deployment time, but if we get con