[2018-06-15 04:01] sharmasushant commented on #2999
@anujshankar My email is sushant.sharma@microsoft.com
regarding flannel vs azurecni, I don't see anything specific to DNS that azurecni does that would cause the above issue. In the email, can you please also include your subscription Id and your cluster details (region & vmnames) where you are not observing DNS issue and where you are.

[2018-06-15 04:44] bnookala commented on #3266
@CecileRobertMichon @JamesEarle I picked through the setup script and found that if the network plugin is just "azure" (which is the default), it won't add the node labels to the kubelet's arguments, and thus the kubelet is invoked without them. There may also be an issue here regarding mismatched kubelet arguments, but I haven't confirmed that yet.

The resolution to this issue would be to add th

[2018-06-15 04:51] anujshankar commented on #2999
Will send you the details by EOD(GMT +6:30)

[2018-06-15 06:59] anujshankar commented on #2999
@sharmasushant Have sent out a mail to you with the details.

[2018-06-15 08:08] croemmich commented on #3225
This issue has been around for months. Most of the recent conversation in #2027 is in reference. We've had to inmplement several workarounds to get something that resembles stability. The most extreme is a DNS liveness probe we wrote that gets run in every container so they get re-scheduled when DNS fails. We also have alerting with kube-state-metrics and Prometheus to let us know when pods are fa

[2018-06-15 08:55] msornay opened #3283 "getsockopt: connection refused since v0.18.5"
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

**What version of acs-engine?**:

v0.18.5

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes 1.10

**What happened**:

On cluster created with acs-engine v0.18.5, network liveliness probes are flaky and often fail with an error message like : ` dial tcp 10.240.0.38:80: getso

[2018-06-15 18:07] jackfrancis commented on #3283
@sharmasushant @tamilmani1989 Do we have any test data that suggests this change introduced add'l network flakiness?

https://github.com/Azure/acs-engine/commit/77b9e9346c256e6de76a9ed853926b8b2da00460

(That change went in between v0.18.3 and v0.18.5)

[2018-06-15 18:31] SteveCurran commented on #3283
Seeing same issue on 18.5 deployment this morning. Started with Tiller, now getting it on DNS.

[2018-06-15 19:12] jackfrancis commented on #3283
@SteveCurran would you be willing to try the previous version of Azure CNI to see if that addresses your situation?

[code]

On every node (master + agents). And to be extra sure a vm reboot.

That's a lot of extra credit work, but it might give us data that suggests we have a regression in v1.0.6. Thanks!

[2018-06-15 19:14] Navlesh commented on #1806
@CecileRobertMichon I too face #vmextensionprovisioningtimeout error all the time when i have 3 masters.
I am using ACS v0.18.6
following is the sample input file.
{
  "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes",
      "orchestratorRelease": "1.9",
      "kubernetesConfig": {
		"privateCluster": {
          "enabled": true
		}

[2018-06-15 19:23] msornay commented on #3283
@jackfrancis If that can help, the problem is gone after re-creating the exact same cluster with v0.18.3

[2018-06-15 19:41] #3122 closed

[2018-06-15 20:06] bq1756 opened #3288 "acs-engine upgrade failed with IP address conflict"
**Is this a request for help?**:
yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
issue
---

**What version of acs-engine?**:
17.1 and 18.3
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.8.4

**What happened**:
* I modified apimodel.json to comply with acs-engine v12 formatting changes. See https://github.com/Azure/acs-engine/issues/2060.
* I ran *acs

[2018-06-15 20:32] CecileRobertMichon commented on #1806
@Navlesh please take a look at  https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/troubleshooting.md#vmextensionprovisioningerror-or-vmextensionprovisioningtimeout if you haven't already and open a new issue with title "CSE error: exit code <INSERT_YOUR_EXIT_CODE>" and include the following in the description:
- The apimodel json used to deploy the cluster (aka your cluster config).

[2018-06-15 20:32] #1806 closed

[2018-06-15 20:42] CecileRobertMichon commented on #3267
@sozercan thoughts?

[2018-06-15 21:18] SteveCurran commented on #3153
Using 18.5 and still getting same error here is some more information if anyone interested.

2018/06/15 21:00:53 [cni-net] Plugin started.
2018/06/15 21:00:53 [cni-net] Processing ADD command with args {ContainerID:7a894d6ef00392710740166f68ed69650b12b2a0321d23588ee4b479c56c036c Netns:container:a4bcd3f0403d9b4872ddadce6c533e78c723b8dc02f5c963677e81ebe55d660e IfName:eth0 Args:IgnoreUnknown=1;K8S_PO

[2018-06-15 21:31] sharmasushant commented on #3283
@jackfrancis  Connection refused indicates that server is refusing the connection. CNI cannot cause server side to refuse connections. I suspect there is something else that is causing this. Also, I think @msornay did not just revert CNI, the older acs-engine version was used, which means every change in acs-engine is reverted (and not just cni).

I suspect if we revert without investigation, we m

[2018-06-15 21:37] jackfrancis commented on #3283
@sharmasushant Here is the commit history of v0.18.5:

https://github.com/Azure/acs-engine/commits/patch-release-v0.18.5

And from v0.18.3:

https://github.com/Azure/acs-engine/commits/patch-release-v0.18.3

There are 6 commits there, and due to (1) the likelihood that changing the Azure CNI implementation is the cause (there are no other comparable changes to underlying network) and (2) the time

[2018-06-15 21:38] sharmasushant commented on #3283
@msornay Do we know who is expected to be listening on port 80 and if the listener is actually up?

[2018-06-15 21:43] sharmasushant commented on #3283
@sure, you can try to see if reverting cni helps. We can run tests on our side as well. Can you also share starting from what date, you started seeing flakiness in your tests?

[2018-06-15 21:46] jackfrancis commented on #3283
We saw flakiness right after merging. Unfortunately, to confuse things, circleci had an outage on the day this was merged, and was a little flaky itself coming out of that, so I suspect our signalling was a little confused for a while. But as the days progressed the flakiness started to become a pattern. And this customer report nudged us in the direction that a general pattern may be present post

[2018-06-15 21:47] #3283 closed

[2018-06-15 21:48] sharmasushant commented on #3283
@jackfrancis I also see that rpcbind and rpc-statd was started at the same time. May be something else you can take a look at.

[2018-06-15 21:55] jackfrancis commented on #3283
We discussed that possibility as well, but in fact missing rpcbind and rpc-statd were a regression that the change you observed fixes. See this in v0.16.0:

https://github.com/Azure/acs-engine/blob/v0.16.0/parts/k8s/kubernetesagentcustomdata.yml#L187

We did not observe any such network flakiness in that or prior versions so we do not suspect the re-introduction of rpcbind and rpc-statd to be the

[2018-06-15 22:12] #1820 closed

[2018-06-15 22:19] sharmasushant commented on #3153
Here is the problem

Found existing endpoint through hcsshim: &{Id:**_578c6b44-707e-487a-bf6d-f4ef21d55ed9_** Name:a4bcd3f0-eth0 VirtualNetwork:382a044d-ed85-4afd-8439-05d3b7a6b94a

2018/06/15 21:00:53 [net] Attaching ep 578c6b44-707e-487a-bf6d-f4ef21d55ed9 to container 7a894d6ef00392710740166f68ed69650b12b2a0321d23588ee4b479c56c036c
2018/06/15 21:00:53 [cni-net] **Failed to hot attach shared endp

[2018-06-15 22:45] madhanrm commented on #3153
@sharmasushant  This means the container with 578c6b44-707e-487a-bf6d-f4ef21d55ed9 doesn't exist. Can you look into why the request is coming to cni to hot add a nic to a non-existing container

[2018-06-15 23:38] CecileRobertMichon commented on #3269
Should be fixed by https://github.com/Azure/acs-engine/pull/3289

[2018-06-15 23:38] #3269 closed

[2018-06-16 05:08] feiskyer commented on #3267
Overprovisioning can be configured using deployment running pause pods with very low assigned priority which keeps resources that can be used by other pods. If there is not enough resources then pause pods are premmpted and new pods take their place. Next pause pods become unschedulable and force CA to scale up the cluster.

See https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscal

[2018-06-16 10:20] kichristensen commented on #3253
I don't think it is the preferred way, that why the link also contains an note indicating it is a security risk. The preferred way would be probably be to actually login to the the dashboard with a user having access to what's needed

[2018-06-18 16:11] kwoodson commented on #2998
@jim-minter Can we close this issue?

[2018-06-18 16:12] kwoodson commented on #2985
@jim-minter, closing as this https://github.com/Azure/acs-engine/pull/3274 PR merged.

[2018-06-18 16:12] #2985 closed

[2018-06-18 16:39] kargakis opened #3297 "The storage account provisioning state must be 'Succeeded' before executing the operation."
[code]
Saw this in one of my deployments today

@jim-minter @kwoodson
/kind bug

[2018-06-18 17:58] SteveCurran commented on #3153
Additional error information happening today:

2018/06/18 17:00:01 [cni-net] Plugin started.
2018/06/18 17:00:01 [cni-net] Processing ADD command with args {ContainerID:807ca3603191a1609d11bda9d99576270c45fa54d43a843bcb863c5f4be78927 Netns:container:8f95699121ca3d18a053cc3c35bc684e3e049bca42063e58a9aa66641f823971 IfName:eth0 Args:IgnoreUnknown=1;K8S_POD_NAMESPACE=client3;K8S_POD_NAME=cspapps-7d46d

[2018-06-18 18:03] sharmasushant commented on #3153
@madhanrm Looks like the same issue. Where should we look on why k8s is calling CNI for non-existing container. Any logs you need?

HNSEndpointRequest POST response:&{Id:8d16d1a5-7765-47ca-8f41-238b0c302306 Name:8f956991-eth0 VirtualNetwork:656fc1ec-04fa-4406-9beb-727450bf6754 VirtualNetworkName:azure Policies:[[123 32 34 69 120 99 101 112 116 105 111 110 76 105 115 116 34 32 58 32 91 32 34 49 48

[2018-06-18 18:30] kwoodson commented on #2680
I believe we are not doing this work.  Please reopen if I am incorrect.

[2018-06-18 18:30] #2680 closed

[2018-06-18 18:31] kwoodson commented on #2681
@jim-minter @pweil-,

Do we know where we stand on this issue?  Are we still planning on this?

[2018-06-18 18:33] kwoodson commented on #2682
@kargakis @jim-minter,   The tests mentioned in #2780 were specifically around permissions and ownership.   If we could come up with a list of specific tests for the certgen pkg that might help.

[2018-06-18 18:34] pweil- commented on #2681
Not in the plans right now.  Can be a low priority card if we want to clean up the number of issues here.

[2018-06-18 18:35] kwoodson commented on #2687
@kargakis @jim-minter,

Original Issue:

The original card mentioned that AAD integration would satisfy the intentions of this card.  Can we close this now that Jim's work has completed?

[2018-06-18 18:37] kwoodson commented on #2688
vnet validation: #3268

[2018-06-18 18:37] pavelm commented on #2589
does anyone have an example of how to apply a specific version? I've created a cluster with terraform but struggling to get the right ARM template. Is it possible to just apply the docker version configuration?

any help is much appreciated!

[2018-06-18 18:37] kwoodson commented on #2688
@kargakis @jim-minter, are these sufficient or are we looking at adding more validations?  If we could be specific then we can come up with requirements.

[2018-06-18 23:19] #3267 closed

[2018-06-19 08:55] JoseAntonioRodriguez opened #3302 "How to change Service Principal credentials?"
**Is this a request for help?**: YES

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): QUESTION

---

**What version of acs-engine?**: 0.16.2

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes 1.9.7

---

* I've created a Service Principal and then deployed a K8S cluster providing `--client-id` and `--client-secret` to set the Service Principal credentials.
*

[2018-06-19 09:10] msornay commented on #3153
We are also seeing this on Ubuntu 16.04 nodes with kubernetes 1.10, acs-engine v0.18.3

[code]

No more pods can be created.

[2018-06-19 10:46] sharmasushant commented on #3153
@msornay your issue seems to be different. Can you please share files from /var/log/azure*

Cc @tamilmani1989

[2018-06-19 16:59] CecileRobertMichon commented on #3302
I think you might need to update the `aadClientSecret` in `/etc/kubernetes/azure.json`

[2018-06-19 17:22] #3279 closed

[2018-06-19 17:38] CecileRobertMichon commented on #2922
@hensilva any update here? Did you end up solving your issue?

[2018-06-19 17:41] dtzar commented on #2876
@mwieczorek I would LOVE to see the docker engine upgraded to the latest version.  @jackfrancis @CecileRobertMichon do we have more information on what breaks when we jump to the latest version or someone tackling this?
I remember @khenidak asking this question awhile back...

[2018-06-19 17:45] khenidak commented on #2876
There is a push to standardize on containerd due to licenses issues. Stay tuned.

[2018-06-19 18:09] dtzar commented on #1914
Per #2876 it sounds like we may be moving over to containerd, but it would still be good to see the [mirror we use here](https://github.com/Azure/acs-engine/blob/da7b1ee69b0835895d79044e21cb2bc899a3102b/pkg/acsengine/defaults.go#L171) and valid versions be updated to the [latest apt repository](https://docs.docker.com/install/linux/docker-ce/ubuntu/#install-using-the-repository) for those who want

[2018-06-19 19:53] kwoodson opened #3306 "openshift: compute: origin-node fails to start"
After running a normal cluster deploy the compute node never joins the cluster.

[code]

There are no CSR requests from the compute node:
[code]

Logging into the node and looking at the /var/lib/waagent/custom-script/download/0/stderr
[code]

journalctl -u origin-node
[code]

@jim-minter @kargakis @pweil-

[2018-06-19 20:02] kwoodson opened #3307 "openshift: ssh to master fails on deployment"
Upon attempting a cluster deployment, the master is unreachable via ssh.

[code]

Looking at the portal logs from the deployment on master, kwoodsoncluster rg:
[code]

Any ideas here?

@mjudeikis @kargakis @jim-minter @pweil-

[2018-06-19 20:08] pweil- commented on #3306
@ingvagabund this may be similar to the api hangs that you've debugged in the past.  It sits at this log line until it times out with no other output.  A restart (and deallocated) of the VM allowed it to join the cluster successfully with no other changes.

[2018-06-19 20:37] ingvagabund commented on #3306
@pweil so far I have been dealing with Azure API timeout logic. Don't recognize anything familiar in the provided logs. Can you more elaborate on what is going on? Currently, I have a fix for the missing node addresses here [1]. Maybe it is related but we will know once it gets merged and backported to OS

[1] https://github.com/kubernetes/kubernetes/pull/65226

[2018-06-19 20:48] jim-minter commented on #3306
From a node in this state:
[code]

DNS resolution works but outbound IP connectivity appears broken.  Could explain why the Azure API never responds.  Very curious about why a node restart might solve that.

[2018-06-20 00:12] #3219 closed

[2018-06-20 01:13] madhanrm commented on #3153
@sharmasushant  ADD/DEL can happen in non-existing containers, esp when containers are not stable. We should handle this and return error.

[2018-06-20 04:54] rocketraman commented on #1790
I've run this recently on a cluster with an updated acs-engine without any issues. I'm going to go ahead and close it. Thanks!

[2018-06-20 07:23] javierprovecho commented on #3302
Hi @CecileRobertMichon,

Apart from modifying the credentials on each master, it would be also necessary to update `apiModel.json` in the output directory, in case of upgrading K8S through acs-engine cli.

**There isn't an automated way to renew these credentials from acs-engine?**

---

If so, clusters lifecycle would only last until the default expiration of the service principal password, and m

[2018-06-20 08:11] aminebizid opened #3309 "Autoscaler plugin wrong image"
In autoscaler deployment the container image is set to
k8s-gcrio.azureedge.net
instead of
k8s-gcrio.azureedge.net/cluster-autoscaler:v1.2.2

I had to update myself the deployment after cluster install.

[2018-06-20 10:51] kargakis opened #3311 "openshift: avoid creating master.tar.gz when on agentpoolapi mode"
Once https://github.com/Azure/acs-engine/pull/3126 merges, the openshift orchestrator will be able to use the agent pool api. It will still generate a master.tar.gz file, albeit empty. It should not generate that tar at all in that mode.

/kind cleanup

[2018-06-20 10:52] kargakis commented on #3311
/kind chore
/label orchestrator/openshift

[2018-06-20 15:01] sam-cogan commented on #3037
I have just tested and yes this is still an issue with 1803, even when using the 0.18.8 release. No communication can occur between services on Windows Nodes. This includes taking to the cluster DNS, so pods cannot resolve any external resources either.
I'm struggling to see how anyone can be running a cluster using 1803 at this point, as there is no communication outside of pods.

[2018-06-20 15:31] carlpett commented on #2887
This just happened once more (on another 1.10.3 cluster). Opened a support case about it, let me know if you need the log output and can't get it via support.

[2018-06-20 16:36] jackfrancis commented on #2887
@carlpett Could you try installing this daemonset, it has been proven to stabilize ebtables on an Azure CNI-based cluster:

Ref:

https://hub.docker.com/r/containernetworking/networkmonitor/

Do this to install the monitor:

`$ kubectl create -f https://raw.githubusercontent.com/Azure/acs-engine/master/parts/k8s/addons/azure-cni-networkmonitor.yaml`

And then, edit the daemonset to point to the ac

[2018-06-20 17:05] CecileRobertMichon commented on #3309
@aminebizid which k8s version did you deploy with?

@sozercan fyi

[2018-06-20 17:59] kwoodson opened #3313 "openshift: docker and waagent race condition for storage drive"
On startup the waagent process and docker race to format disks:

From chat:
[code]

Mount command:
[code]
docker-storage-setup file
[code]

Jim's first PR to tell waagent to not format the disk.
https://github.com/openshift/openshift-ansible/pull/8875

[2018-06-20 17:59] kwoodson commented on #3313
/assign jim-minter

[2018-06-20 18:00] sharmasushant commented on #2887
@carlpett I looked at your output of ebtables. I see the rules are there for the PODS created on the nodes. The cni network monitor was created in response to an incident where ebtables were getting completely flushed on the node (kernel logs will usually tell you if that is the case).

Is it possible to have access to the machine where the POD is in the state that you have describe in original is

[2018-06-20 18:00] PatrickLang commented on #3037
@daschott - does this match what you're seeing on 0.18.8? I haven't tried that build yet, but since 0.18.7 reverted to azure-cni 1.0.4 I think DNS server settings could be broken again

[2018-06-20 18:18] grenzr commented on #1914
I agree with @dtzar, I think we should still be able to use a newer version of docker if its supported by kubernetes. We could use a different mirror right now, but the validation breaks our ability to use that version.

You'll have to excuse my ignorance a little, I haven't read enough about containerd yet to know whether it is a sufficient drop-in replacement to docker for our needs.
For example

[2018-06-20 18:32] jackfrancis commented on #1914
@khenidak @jessfraz Can you answer @grenzr's question?

[2018-06-20 18:47] kwoodson commented on #3313
[code]

[2018-06-20 19:38] daschott commented on #3037
@PatrickLang I just tried acs-engine 0.18.8 and can confirm that there seems to be at least one DNS-related regression that was introduced. My observations for a vanilla deployment are:
  1. The first pod that is scheduled on a node won't have any network connectivity as @sam-cogan suggested. This was already an issue previously (endpoint is created prematurely before network is created correctly.

[2018-06-20 20:27] sozercan commented on #3309
@aminebizid cluster-autoscaler does not officially supports v1.11 yet: https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler#releases

[2018-06-20 20:29] CecileRobertMichon commented on #3309
We should add a check at https://github.com/Azure/acs-engine/blob/master/pkg/api/vlabs/validate.go#L411 to make sure that the k8s version is supported

[2018-06-20 20:30] sozercan commented on #3309
@CecileRobertMichon agreed 👍

[2018-06-20 20:31] CecileRobertMichon commented on #3309
@sozercan can you take that on?

[2018-06-20 20:38] aminebizid opened #3317 "Access to API Controller in private vnet"
**Is this a request for help?**:
YES
**What version of acs-engine?**:
Latest on master
**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes v1.11.0-beta.2

**Context**
I'm running K8S on a private vnet using a jumpbox.
I created this SVC to give external access to kube-apiserver

[code]

**Issue**
Now when trying kubectl from my laptop, I get this error:
[code]
**Workaround**
I

[2018-06-20 20:51] jessfraz commented on #1914
For example I run a custom vsts-agent container in kubernetes, and I need it to be able to build multi-stage Dockerfiles (only introduced since 17.06) inside the vsts-agent container (ie. docker in docker) .. will /var/run/docker.sock still be present on the host for us to continue leveraging that inside the vsts agent container?

no since docker is not there it will not, but you can use the docke

[2018-06-20 20:51] jessfraz commented on #1914
why not do a `FROM docker:dind.... then add your build tools` and run a custom image...

[2018-06-20 20:52] khenidak opened #3319 "Change Rate Limiting Configuration"
**Is this a request for help?**:
No

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue

**What version of acs-engine?**:
all

Kuberentes v 1.10 introduced different approach to rate limiting. Previously calls were queued waiting for tokens to be availed (Kuberentes own rate limiting is token bucket implementation). This caused calls to be queued for long time and eventually tying CCM do

[2018-06-20 20:54] grenzr commented on #1914
@jessfraz thanks, yeah was thinking the same just now. I will give that a shot.

[2018-06-20 20:54] jessfraz commented on #1914
there are lots of solutions here... you can run docker:dind and share the network namespace with a different container with your build tools and just use the docker daemon in the other container.... you do not need a omnolithic container with your tools either

i see many possible solutions:

1. custom FROM docker:dind which installs your build tools
2. pod with docker:dind in a container sharing

[2018-06-20 20:55] VipinAgarwal commented on #3139
I have the same scenario, I have overlapped CIDR from two VNets which are in two different subscriptions. Now I cannot peer this VNET's..

[2018-06-20 20:58] grenzr commented on #1914
@jessfraz will docker client in the vsts-agent container work with a containerd socket to be able to start the docker:dind image? Or would I base the vsts-agent on docker:dind?

[2018-06-20 21:01] jessfraz commented on #1914
what I would do is in that pod with the vsts agent have another container that is running docker:dind, then in the vsts-agent container if you are shelling out to docker you need the docker tool in there if you are using an api client library you do not... here is an example... https://github.com/genuinetools/contained.af/blob/master/Makefile#L149

[2018-06-20 21:01] jessfraz commented on #1914
dont worry about the containerd socket you do not need it, you just need a dind container...

[2018-06-20 21:02] aminebizid commented on #3309
It just works great on 1.11

[2018-06-20 21:03] jessfraz commented on #1914
the dind container just runs the docker daemon... so you can use any client in another container to communicate with the daemon (containerd not involved at all.)

[2018-06-20 21:03] grenzr commented on #1914
@jessfraz ah .. I only ask as we're helm deploying the vsts-agent with /var/run/docker.sock mounted into the vsts-agent (so its really more like docker _on_ docker than in it) : https://github.com/Azure/helm-vsts-agent/blob/master/templates/vsts-agent.yaml#L53-L56

[2018-06-20 21:04] jessfraz commented on #1914
well its docker running a nested docker, thats where the name comes from, mounting the socket is actually known as a "bind mount" not docker-in-docker

[2018-06-20 21:05] jessfraz commented on #1914
and yeah... that really should not have ever been mounting the host socket......

[2018-06-20 21:38] grenzr commented on #1914
thanks for the feedback :) I'll fix the vsts-agent image and try again with dind.

[2018-06-20 22:01] PatrickLang commented on #3143
We reverted to Azure CNI 1.0.4, so reopening.

[2018-06-20 22:05] CecileRobertMichon commented on #3080
Reopening as the dcos test has been failing almost consistently for the last week.

[2018-06-20 22:06] CecileRobertMichon commented on #3080
Example of a failure:
https://circleci.com/gh/Azure/acs-engine/33410

[2018-06-20 22:42] sozercan commented on #3309
thanks @aminebizid, looks like CA v1.3 was released yesterday that should support k8s v1.11

[2018-06-21 02:43] jim-minter commented on #3306
Currently believe this is related to an incident in Azure, at least in eastus.  Believed mitigated for now, waiting for more detail.

[2018-06-21 07:52] Grigsuv opened #3324 "Cannot find module,node"
Is this a request for help?:
YES

Is this an ISSUE or FEATURE REQUEST? (choose one):
Issue

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9.6

every time when deploying this images getting this error`

module.js:540
    throw err;
     ^
Error: Cannot find module '/app/index.js'
at Function.Module._resolveFilename (module.js:538:15)
at Function.Module._load (module.js:4

[2018-06-21 08:11] javierprovecho opened #3325 "Maximum number of AgentPools in Kubernetes"
**Is this a request for help?**:

No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE
---

**What version of acs-engine?**:

v0.16.2
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes 1.9

**What happened**:

[code]

**What you expected to happen**:

[code]

**How to reproduce it** (as minimally and precisely as possible):

run `acs-engine deploy` using

[2018-06-21 09:01] Grigsuv commented on #3324
just forget this!!I've tagged the same container as new version,pushed and its works!

[2018-06-21 09:01] #3324 closed

[2018-06-21 13:48] serbrech commented on #3325
I started implementing a fix for this in this PR : #2810, but I have been unable to dedicate time to this

[2018-06-21 13:55] gustajz opened #3326 "Defined PodCIDR is not respected in all agents node"
**Is this a request for help?**:
YES
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.18.8
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes v1.10.3
---

**What happened**:
PodCIDR defined in template are not respected in some agents.

JSON template
[code]

[code]

[code]
On another nodes works correctly, see belo

[2018-06-21 15:13] kwoodson commented on #3313
It appears that the recent PR failed when attempting to `mkfs`.

[code]

[2018-06-21 15:14] kwoodson commented on #3313
@jim-minter @kargakis @pweil-

[2018-06-21 15:41] sam-cogan commented on #3037
It does look like an issue with the first pod scheduled on a node, when I schedule subsequent pods they do seem to be able to resolve.

[2018-06-21 15:42] SteveCurran commented on #2027
acs-engine 18.8, this still is an issue. Some containers can reach the kube-dns and some cannot. AKS has moved to GA and still no windows containers support.  Does Kubernetes in Azure actually work. Incredibly frustrating experience for last 6 months trying to convince people this platform will work reliably.

[2018-06-21 18:15] #3313 closed

[2018-06-21 20:09] akhileshthipparthi opened #3331 "Kubernetes orchestrator to have support for docker versions greater than 1.18"
**Is this a request for help?**:
Request
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Feature
---

**What version of acs-engine?**:
v0.18.9
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes

**What happened**:
acs-engine for K8s doesnt have support for latest docker versions.

**What you expected to happen**:

acs-engine for K8s to have support for docker

[2018-06-21 20:13] kwoodson commented on #3221
@kargakis,

I peeked at the issue you referenced.  I'm seeing failures on my PR here: https://circleci.com/gh/Azure/acs-engine/33695

When I run this on a deployed cluster I have no problems:
[code]

Any ideas about what is happening?

[2018-06-21 20:16] kargakis commented on #3221
Correct - it's also fairly rare

[2018-06-21 20:18] kwoodson commented on #3221
I just rebased my PR onto master.  This was reproducible 100% of the time unless it has something to do with my changes.  Mind taking another look? https://github.com/Azure/acs-engine/pull/3229#issuecomment-396858680

[2018-06-21 21:07] addycluri opened #3334 "cluster deploymennt issues using acsengine 0.16.0 & 0.18.0"
**Is this a request for help?**:

--- Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

--- ISSUE

**What version of acs-engine?**:

--- 0.16.0 & 0.18.0

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes,

**What happened**:
Deployment ERROR using acsengine verisons (0.16.0 & 0.18.0):
PS | C:\\Temp\\acs-engine-v0.18.8-1 | 06-20-2018 12:26:27 > az group deployment c

[2018-06-21 21:28] jessfraz commented on #1914
you might need ca-certs?

On Thu, Jun 21, 2018 at 5:25 PM Ryan Grenz <notifications@github.com> wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2018-06-21 21:28] jessfraz commented on #1914
oh i guess the certs are there

On Thu, Jun 21, 2018 at 5:28 PM Jessie Frazelle <me@jessfraz.com> wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2018-06-21 21:29] jessfraz commented on #1914
like this doesnt seem like a "docker problem" its a this version of ssl or
whatever in the container is not working w nuget

On Thu, Jun 21, 2018 at 5:28 PM Jess Frazelle <notifications@github.com>
wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2018-06-21 21:38] #3309 closed

[2018-06-22 00:59] #3151 closed

[2018-06-22 01:00] CecileRobertMichon commented on #3334
Could this be similar to https://github.com/Azure/acs-engine/issues/3151?

[2018-06-22 06:11] javierprovecho commented on #3325
Thanks @serbrech , I searched for this kind of issue before posting but definitely didn't use the correct keywords. I'm going to reference here this issue (#2553) too.

[2018-06-22 07:09] saromba opened #3337 "acs-engine scaling failed with error [segmentation violation code=0x1 addr=0x8 pc=0x11aa9be]"
**Is this a request for help?**:
Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):ISSUE

---

**What version of acs-engine?**:0.18.9

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes (1.9.8)

**What happened**:

[36mINFO[0m[0000] validating...

[36mINFO[0m[0001] Name suffix: %s 15892004
panic: runtime error: invalid memory address or nil pointer dereference
[s

[2018-06-22 07:30] 4c74356b41 commented on #2027
@SteveCurran technically AKS has nothing to do with this (even though it's using ACS engine behind the scenes). But overall yeah. This is a trainwreck. And it's getting worse.

[2018-06-22 15:19] kargakis opened #3338 "dnsPrefix is redundant for openshift on a hosted master deployment"
/kind chore

[2018-06-22 15:27] kargakis commented on #3338
/label orchestrator/openshift

[2018-06-22 15:28] kargakis opened #3339 "ssh key should not be required for a hosted master deployment"
In general, I think the LinuxProfile [requirement](https://github.com/Azure/acs-engine/blob/d70808a7f888c79e9f23601df46db3577223deed/pkg/api/agentPoolOnlyApi/vlabs/types.go#L37) is redundant since no ssh access is granted in CCP machines.

[2018-06-22 16:24] CecileRobertMichon commented on #3331
This is a duplicate of https://github.com/Azure/acs-engine/issues/2876

[2018-06-22 16:24] #3331 closed

[2018-06-22 16:29] CecileRobertMichon commented on #3337
Hi @saromba, could share you cluster configuration json (after removing secrets)? Did you manually change anything in the generated azuredeploy.json before deploying?

[2018-06-22 16:30] CecileRobertMichon commented on #3337
Here's similar issue https://github.com/Azure/acs-engine/issues/2649 that was fixed a while ago in case that helps.

[2018-06-22 16:41] CecileRobertMichon commented on #3256
@sanjinp could please provide more details? Is this a something that should go in docs?

[2018-06-22 17:40] daschott commented on #3225
@croemmich Next time you hit this issue, can you check whether all the kube-dns pods are running on your master? What is number of restarts for the kube-dns pods, if any?

[2018-06-22 21:10] CecileRobertMichon commented on #3339
This was done in https://github.com/Azure/acs-engine/pull/2582 for some api versions, not sure why the change wasn't applied to vlabs… @zqingqing1 @weinong ?

[2018-06-22 21:59] jim-minter commented on #2687
ok, trello'd

[2018-06-22 21:59] #2687 closed

[2018-06-22 22:00] jim-minter commented on #2681
trello'd

[2018-06-22 22:00] #2681 closed

[2018-06-22 22:01] jim-minter commented on #2682
this probably goes away with HCP and the testing should become clearer

[2018-06-22 22:01] #2682 closed

[2018-06-22 22:04] jim-minter commented on #2688
happy to close

[2018-06-22 22:04] #2688 closed

[2018-06-22 23:21] jbiel commented on #3225
@daschott - I work with @croemmich and am the primary maintainer of our Windows Kubernetes cluster.

The kube-dns pods are running on 3 separate Linux nodes (we have a hybrid cluster) and have not experienced issues/restarts. Jobs that get scheduled on the Linux nodes do not experience any DNS/service IP issues. Also this does not just affect DNS, it's all service IP traffic in general (we have ot

[2018-06-24 00:34] datwiz opened #3347 "Node systemd logging not logging to /var/log/journal on initial start-up"
The node system logging facility changes from initial boot vs subsequent OS restart.
Initially raised against AKS https://github.com/Azure/AKS/issues/462

**Background**
Using a fluentd daemonset with the systemd plugin to collect host log messages, such as kubelet log messages.

**version used**
 version used by Azure as of 24-06-2018

**Orchestrator and version**
Kubernetes v1.9.6

**What happen

[2018-06-24 18:15] grenzr commented on #1914
For what its worth I fixed my issue. It was MTU related. I had to change dockerd's --mtu to 1450 in the dind image which adjusted it for me inside my build container.

[2018-06-24 23:03] karlmutch opened #3349 "Missing "enabled" property for addon causes panic"
**Is this a request for help?**:

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
Version: v0.18.8
GitCommit: 71d88da
GitTreeState: clean

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes 1.10

**What happened**:
An empty Azure resource group gets created

acs-engine Panics
[code]
**What you expected to happen**:

k8s style

[2018-06-25 05:27] parsoFish commented on #1221
Are there any updates on this feature

[2018-06-25 05:37] flyboarder commented on #3151
@CecileRobertMichon I was able to confirm the env vars are passed to the generate command correctly, however the ssh key breaks at the end just before the email and drops a few characters, this is again deployed from VSTS

[2018-06-25 06:01] aasier opened #3350 "Enable failed: failed to execute command: command terminated with exit status=80"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.18.8
---

If this is a ISSUE, please:

We are trying to deploy new fresh infrastructure of Kubernetes cluster with VMSS machines, and every time we are getting the following error: (check the logs attached)

"timestampUTC": "2018-06-20T10:50:19Z",
"status": {

[2018-06-25 06:50] saromba commented on #3337
Hi @CecileRobertMichon: Which file do you need? There are many files during the provisioning.
How is it called?

[2018-06-25 09:42] jalberto commented on #1892
Still an Issue in GA

[code]

[2018-06-25 09:52] sam-cogan commented on #2027
It does seem to be getting worse, and inconsistently so. I have a windows init container that works fine calling out to the internet, then the main container it spawns can't resolve anything, it makes no sense.

[2018-06-25 11:18] gitnik commented on #2880
I've just spun a fresh cluster and this is still happening irregularly. What are the suggested fixes?

`ebtables -t nat -L` on the master node:
[code]

[2018-06-25 11:31] sam-cogan opened #3352 "Windows init container results in no DNS reslution"
**Is this a request for help?**: no

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**:
0.18.9
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.10

**What happened**:
When using an init container with a Windows pod it seems that the main container spawned once init is complete, is unable to resolve any DNS queries.

[2018-06-25 11:45] razidare commented on #122
+1 for SSL offloading

[2018-06-25 15:46] flyboarder commented on #3151
@jcorioland Do you have any suggestion for fixing the truncating of the ssh env var?
I have a line in my Dockerfile that prints the env vars, so I know that it is passed to the build correctly. However the ending `== email@example.com` part is being removed from the generated apimodel.

[2018-06-25 15:57] CecileRobertMichon commented on #3350
Are you using a `customSearchDomain`? this error means that setting up a custom search domain failed.

[2018-06-25 15:58] CecileRobertMichon commented on #3349
/assign @sozercan

[2018-06-25 15:59] CecileRobertMichon commented on #3352
/assign @PatrickLang

[2018-06-25 16:27] #3347 closed

[2018-06-25 17:42] flyboarder opened #3355 "Truncated SSH Key"
**Is this a request for help?**:
---
Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
---
Issue

**What version of acs-engine?**:
---
0.18.9

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
SSH Public Key was passed as a cli argument, end of the string is truncated.

**What you expected to happen**:
SSH Key is generated correctly.

**How to re

[2018-06-25 17:44] adichin commented on #3334
@CecileRobertMichon thanks I will take a look at all the details of #3151 and update.

[2018-06-25 17:55] #2969 closed

[2018-06-25 18:03] #3254 closed

[2018-06-25 18:37] CecileRobertMichon commented on #3355
/assign @jcorioland

[2018-06-25 18:38] CecileRobertMichon commented on #3337
@saromba `apimodel.json` but make sure you remove all secrets

[2018-06-25 18:55] sozercan commented on #3349
@karlmutch can you add `"enabled": true,`? this should fix the panic.

Your addons block will look something like this:
[code]

[2018-06-25 19:05] karlmutch commented on #3349
This along with changing the availabilitySet to VirtualMachineScaleSets appears to have fixed the issue.  Many Thanks.

Should the ticket be left open so that if this occurs an error is displayed ?

[2018-06-25 19:09] CecileRobertMichon commented on #3349
Yes, let's fix this by adding validation on "enabled" if the addon config is defined

[2018-06-25 21:28] CecileRobertMichon commented on #3349
https://github.com/Azure/acs-engine/pull/3359 should fix it

[2018-06-25 21:56] CecileRobertMichon commented on #2283
validation was intentionally added in https://github.com/Azure/acs-engine/pull/2168 since support for custom vnets + windows was broken. The check has now been removed but note that custom vnet support for Windows is experimental and there are some known issues.

[2018-06-25 21:56] #2283 closed

[2018-06-25 23:02] #3349 closed

[2018-06-26 00:03] jim-minter opened #3364 "openshift: see if it's possible and beneficial to make default/router service a LoadBalancer"
See https://github.com/Azure/acs-engine/pull/3363 for background

[2018-06-26 00:03] jim-minter commented on #3364
@pweil- @kargakis fyi

[2018-06-26 04:24] adelina-t opened #3366 "Pre Provision Extensions not working on windows nodes"
Using preProvision Extensions will not work on k8s clusters with windows nodes.

Acs-engine version: tested with versions > v.0.18.0

The method here: https://github.com/Azure/acs-engine/blob/f62026030b349eca849969ccd0c60e5ae77457d1/pkg/acsengine/template_generator.go#L553 that is responsible for generating the preprovision extension command never gets called in the templates for windows agents.

[2018-06-26 08:08] bclau opened #3368 "Kubernetes: Cluster IPs are not accessible on new deployments"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: v0.18.9

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** Kubernetes 1.11

**What happened**:

On a newly created Kubernetes deployments, the spawned Windows pods cannot access Cluster IPs. Since the Windows pods are configured to use the Kuber

[2018-06-26 08:28] aasier commented on #3350
Thanks! @CecileRobertMichon for your update.
Tested it again and it works with this extension register-dns.sh
Please, you can close this issue,

Cheers,

[2018-06-26 12:02] raycrawford opened #3369 "Command line arguments not properly handled - equal signs truncated"
**Is this a request for help?**: NO

**Is this an ISSUE or FEATURE REQUEST?** ISSUE

**What version of acs-engine?**: 0.17.1 => 0.18.9 (both specifically tested)

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
ACS-Engine 0.18.9 with Kubernetes

**What happened**:
Secrets were removed from the API file and passed from command line; extract example below:
[code]
[code]

When this was d

[2018-06-26 14:13] CecileRobertMichon commented on #3155
@sam-cogan were able to solve your issue?

[2018-06-26 14:29] flyboarder commented on #3355
@jcorioland no this happened on my local machine as well

[2018-06-26 15:38] PatrickLang commented on #3368
@dineshgovindasamy @daschott - how are the DNS fixes coming? have you synced with azure cni team on this yet?

[2018-06-26 15:45] bclau commented on #3368
The main issue here is the fact that the Kubernetes Cluster IPs are not accessible from the Windows pods. The DNS server not being accessible is a secondary effect of this problem.

[2018-06-26 16:20] daschott commented on #3368
@bclau My observations are:
Only the first pod scheduled for a given node has no connectivity to cluster IPs. Every subsequent pod that you schedule on the node will have service VIP and outbound connectivity, even without reboot (do you also see this?) A root cause has been identified by @dineshgovindasamy for this. I agree that this is separate from the issue where the DNS suffix isn't being set

[2018-06-26 16:59] bclau commented on #3368
I've created a new deployment to test this out. As expected, the 1st pod didn't have cluster IP connectivity. The 2nd one had. The subsequent 8-10 pods did not.

[2018-06-26 17:38] neurot1cal opened #3371 "Mixed OS cluster attempting to schedule components on Windows nodes"
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

**What version of acs-engine?**:

All

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes 1.10.4

**What happened**:

As many of you know, for acs-engine clusters with Linux and Windows nodes, we are in a constant state of whack-a-mole with adding `nodeSelector:` statements e

[2018-06-26 18:56] SteveCurran commented on #3153
This is definitely an azure plugin IP exhaustion issue. I am receiving an the same error "invalid memory address". I made 10 deployments, each deployment created a new public IP address and was assigned to the  windowspool availability set. On the 10th deployment I started receiving this error. The azure load balancer has its IP limit set to 50 so it is not that. The cluster will no longer deploy

[2018-06-26 20:57] sylr commented on #3317
I think you need to add a `subjectAltNames` in your [master profil](https://github.com/Azure/acs-engine/blob/2ce038639d68bd5837a7a924450d1c329fb13951/docs/clusterdefinition.md).

[2018-06-26 21:58] SteveCurran commented on #3153
@sharmasushant that is 30 per node correct, not cluster based on this change #1102.
Is this configurable from the api model?

[2018-06-26 22:09] sharmasushant commented on #3153
@SteveCurran https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/features.md

You need top specify ipAddressCount and --max-pods

[2018-06-26 22:37] #3366 closed

[2018-06-27 07:09] #3317 closed

[2018-06-27 12:22] no-stupid-questions opened #3377 "Pod Will Not Start Because of Unexpected End of JSON Input Error"
**Is this a request for help?**:

---yes

**What version of acs-engine?**:

---
Version: v0.18.3
GitCommit: 77dafcb43
GitTreeState: clean

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
kubernetes 1.10.4

**What happened**:
trying to create a pod on my window 10 v1803 node and I am recieving this pod sandbox error:

Failed create pod sandbox: rpc error: code = Unknown desc = NetworkP

[2018-06-27 14:03] sylus commented on #747
Hey was curious what is the progress of this still planned for v1.11?

Thanks everyone!

[2018-06-27 15:52] stephenlawrence commented on #2035
For scaling dow after a scale up this workaround worked for me:

The main issue was that after `acs-engine scale` failed to scale, and when I manually ran `kubectl delete node XXXX` acs-engine was still seeing my VM because it was not deleted from Azure and acs-engine it basically looking at the output from `az vm list --resource-group MyResourceGroup` which still showed 3 agentpool VM's.

This wo

[2018-06-27 17:39] daschott commented on #3368
@bclau For me, subsequent pods do have cluster IP connectivity. Only the first one scheduled on a node doesn't. Which acs-engine version did you use to create your cluster?

I tested using https://github.com/Microsoft/SDN/blob/master/Kubernetes/WebServer.yaml

[2018-06-27 17:49] daschott commented on #3368
I used acs-engine 0.18.9. This issue with the first pod having no connectivity should be resolved once [this workaround](https://github.com/Azure/azure-container-networking/pull/174/commits) makes its way up to Azure-CNI.

[2018-06-27 17:56] daschott commented on #3368
#3037

[2018-06-27 19:42] flyboarder commented on #3369
Related to #3355

[2018-06-27 19:59] khenidak opened #3378 "acs-engine quick-create ..."
We have talked multiple times with regards to optimized creation process (cc: @jessfraz @jackfrancis @cpuguy83, @CecileRobertMichon ) - The current process is:
1. **Lengthy** : copy api-model,  modify values, do `acs-engine generate` then deploy. Each step is prone to errors (spelling issues, copy/paste etc).
2. The current process is **not optimized the best practices** (turn on MSI, use premium

[2018-06-27 20:18] cpuguy83 commented on #3378
Not sure how I feel about the `--overrides` flag. It's feels a bit too loosey-goosey.
What if it can generate a golden template that users can edit for overrides?

[2018-06-27 20:19] khenidak commented on #3378
I am game not to have overrides at all.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Brian Goff <notifications@github.com>
Sent: Wednesday, June 27, 2018 1:18:20 PM
To: Azure/acs-engine
Cc: Khaled Henidak (Kal); Author
Subject: Re: [Azure/acs-engine] acs-engine quick-create ... (#3378)

Not sure how I feel about the --overrides flag. It's feels a bit too loose

[2018-06-27 20:52] cpuguy83 commented on #3378
How about `acs-engine deploy --with-builtin-model --builtin-model-name v0` where, for now, the new flags are mutually exclusive with `--api-model` and the version flag can be used to deploy a specific version but the default is the latest version.

Alternatively `--api-model` could default to the value of `builtin` (thereby also making it a reserved word). This would still include the model name f

[2018-06-27 22:43] flyboarder opened #3380 "Add Kubernetes ExternalDNS to Addons"
**Is this a request for help?**:
---
No, although direction on how to create an addon would allow me to get a PR started

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
---
Feature Request

**What version of acs-engine?**:
---
master branch

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
kubernetes

**What happened**:
There is no asc-engine based deployment of external DNS se

[2018-06-28 07:29] ccuz opened #3381 "Openshift template fails with "The marketplace resource plan is missing required "name" property.""
**Is this a request for help?**:
no. a call for fix.
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
Version: canary
GitCommit: 91cdfe96
GitTreeState: clean

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Openshift 3.9

**What happened**:
Try to use the template using following step, from a newly created Azure Account.
1. d

[2018-06-28 12:30] kargakis commented on #2982
Even though fetching the activity log has been helpful in debugging other issues, it hasn't helped every time this flake occurs.

[2018-06-28 13:51] sam-cogan commented on #3371
This isn't really an acs-engine issue, it's a Kubernetes one. It doesn't offer the functionality to select a default node.

What I have ended up doing is apply a taint to my windows nodes which prevents any pods being run unless I specify a toleration on them. Yes it does mean I have to add that toleration to my Windows pods, but at least I am only doing it on one OS, and it deals with things like

[2018-06-28 15:19] kargakis commented on #2982
@ritazh @sozercan any idea on debugging this further? What other info would we need out of Azure?

[2018-06-28 16:13] stephenlawrence opened #3383 "Upgrading from 1.10.4 to 1.10.5 with Extensions enabled failed"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
Version: v0.19.0
GitCommit: 312770f4
GitTreeState: clean
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.10.4

**What happened**:
`acs-engine upgrade --subscription-id MYSUBID --deployment-dir configs/_output/MYRGNAME/ --locatio

[2018-06-28 21:37] jackfrancis opened #3385 "coredns for k8s 1.11"
https://kubernetes.io/docs/tasks/administer-cluster/coredns/

[2018-06-28 21:38] jackfrancis commented on #3385
@lachie83 @khenidak @feiskyer FYI, tracking issue to implement coredns in 1.11 (if we wanna be idiomatic I think we work toward making it the default for 1.11)

[2018-06-29 05:06] feiskyer commented on #3385
+1

[2018-06-29 17:47] khenidak commented on #3385
I wouldn't make it the default until we get some milage on it. (I know it sounds the great new thing, but before it make its way to our "default")

[2018-06-29 19:53] CecileRobertMichon commented on #3380
You could look at https://github.com/Azure/acs-engine/pull/3198 for an example PR for adding an addon

[2018-06-29 19:54] CecileRobertMichon commented on #3381
@jim-minter @pweil- @kargakis @kwoodson

[2018-06-30 10:39] theobolo commented on #2002
I'm closing this issue, with Kubernetes 1.10 and the lasts updates there is no more issue about disks on Azure.

Great Thanks to @andyzhangx you did a really good job !

[2018-06-30 12:09] sam-cogan commented on #3155
Not really, I ended up rebuilding the cluster and it went away.

[2018-07-01 06:51] AmitDaniel-wsc opened #3389 "K8S windows - pods are crashing due to CNI panic"
**Is this a request for help?**:
yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
Version: v0.19.0
GitCommit: 312770f4
GitTreeState: clean
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes , v1.10.5

**What happened**:
Created a K8S cluster with 3 masters ( Linux ) and 10 agents ( Windows )
agentWindowsSku = Data

[2018-07-01 07:03] AmitDaniel-wsc commented on #3389
More details :

I can see that the azure-cni-networkmonitor ( Daemon sets ) are failing .
running only on the 3 masters and failing on all of the agents and this is the error :

  ----     ------                 ----                ----                     -------
  Normal   SuccessfulMountVolume  18m                 kubelet, 39662acs000007  MountVolume.SetUp succeeded for volume "log"
  Normal

[2018-07-01 07:18] AmitDaniel-wsc commented on #3389
Couple of new errors i'm getting while trying to start pods :

Error1:

Error2:

[2018-07-01 09:19] idanshahar commented on #3389
Could you please share your API model?

[2018-07-01 13:51] eliko86 commented on #3389
@idanshahar @AmitDaniel-wsc
here is the API model:

{
	"apiVersion": "vlabs",
	"properties": {
		"orchestratorProfile": {
			"orchestratorType": "Kubernetes",
			"orchestratorRelease": "1.10",
      "kubernetesConfig": {
        "networkPlugin": "azure"
      }
		},
		"masterProfile": {
			"count": 3,
			"dnsPrefix": "wsc-k8s-win-consoles",
			"vmSize": "Standard_D4_v3"
		},
		"agentPoolProfiles":

[2018-07-01 19:28] stuartleeks opened #3391 "Add bash completion for acs-engine"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): FEATURE REQUEST

---

**What version of acs-engine?**: master (`bc1a71`)

---

Add bash completion for acs-engine commands and switches to make it easier and more productive to invoke acs-engine

[2018-07-01 21:04] kichristensen opened #3393 "Calico crashes in Kubernetes 1.11"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
0.19
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.11

**What happened**:
The Calico nodes crashes before starting fully

**What you expected to happen**:
The nodes started successfully

**How to reproduce it** (as minimally a

[2018-07-02 00:36] UnwashedMeme opened #3394 "net.ipv4.ip_forward not set"
**Synopsis**
---
I think a side effect of #2973 might be that `net.ipv4.ip_forward` is no longer set on nodes. I think installing the docker package had done that.

**Is this a request for help?**:
---
not unless I've missed something

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
---
ISSUE

**What version of acs-engine?**:
---
`v0.19.0`

**Orchestrator and version (e.g. Kubernetes, DC/OS

[2018-07-02 01:49] feiskyer commented on #3389
The first JSON parsing error is also reported at https://github.com/Azure/acs-engine/issues/3155. @ saiyan86 Do you know why this is happening?

The second panic error is a known issue for Azure CNI plugin (see https://github.com/Azure/azure-container-networking/issues/176). It has been fixed in https://github.com/Azure/azure-container-networking/pull/177, and it may need sometime for its release.

[2018-07-02 08:37] y325A commented on #3389
Hi I opened #3153 with what seems to be the same issues.

If you check the logs on your Windows nodes, I found errors of IP exhaustion coming from the CNI plugin.

[2018-07-02 08:57] jalberto commented on #2002
@theobolo that not accurate: https://github.com/Azure/AKS/issues/477 still happening in 10.3

[2018-07-02 10:04] theobolo commented on #2002
@jalberto Alright, following your case i'm reopening this issue, but i have to say : on a 1.10.2 Kubernetes cluster deployed with the 0.16.2 ACS Engine version, i have 0 problem since 1 month about Mounting and Unmounting disks.

Since you'r on AKS (GA) maybe that the deployement is slightly different, i didn't take a look at it.

I precise that i run more than 150 pods on that Cluster with more t

[2018-07-02 10:29] jalberto commented on #2002
@theobolo I agree! this actually was solved already twice as far I can remember (with hard work by @andyzhangx) , but somehow it made a comeback, and actually that worries me as raises lot of concerns about a safe upgrades

[2018-07-02 10:40] gitphill opened #3395 "CSE exit code 15"
**Is this a request for help?**: YES

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: 0.19.0

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Exit code 15: https://github.com/Azure/acs-engine/blob/v0.19.0/parts/k8s/kubernetescustomscript.sh#L153

**What you expected to happen**:
Exit code 0

*

[2018-07-02 13:14] theobolo commented on #2002
@jalberto @andyzhangx Alright guys i managed to reproduce that issue on my cluster (reminder : 1.10.2 and No AKS just ACS)

I did :

 - helm install stable/grafana (persistence enabled)
 - wait 5 sec and delete the grafana pod
 - the new pod is showing the multi-attach error....

Take a look at this gif ;)

![pv-volumes-bug](https://user-images.githubusercontent.com/7281773/42165764-4d76bdda-7e09-

[2018-07-02 13:35] AmitDaniel-wsc commented on #3389
Hi .
I tried to create new cluster ( acs-engine latest version , K8S 1.10 )
tried with kubenet instead of azure-cni
and i'm getting this error while trying to create iis pod .

visualstudio.com/containernetworking/cni/cni.(*NetworkConfig).GetNetworkInfo(0xc04204c140, 0x29)
	/home/madhanm/repo/gopath/src/visualstudio.com/containernetworking/cni/cni/cni.go:175 +0x70e
visualstudio.com/containernetwor

[2018-07-02 16:07] idanshahar commented on #3389
@AmitDaniel-wsc I tried to reproduce
Please try to use this template with acs-engine v0.19.0
[code]
Could you please share your kuberenetes deployment.yaml and the Dockerfile?

[2018-07-02 16:55] digeler opened #3396 "Acs-engine latest version 0.19.0 fails with kubenet plugin default install"
https://github.com/digeler/scripts/blob/master/acs-engineissue
full error log is here

[2018-07-02 17:11] AmitDaniel-wsc commented on #3389
Hi @idanshahar

I must use the windows-server-core-1709 version
the image version is : "1709.0.20180524" ( I'm fine to use latest or other version ) but 1803 is not good for us.
So i'm not sure what is the different between your template and my template .

what do you mean by kubernetes deployment.yaml and Dockerfile ( Which dockerfile ? )

[2018-07-02 17:36] jackfrancis commented on #2880
@gitnik This:

https://github.com/Azure/acs-engine/issues/2971#issuecomment-391882841

and this:

https://github.com/Azure/acs-engine/issues/2971#issuecomment-397417793

are current workarounds until we have RCA

[2018-07-02 17:40] idanshahar commented on #3389
@AmitDaniel-wsc
Hi, take a look [here](https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/windows.md#choosing-the-windows-server-version) to change it to 1709

The difference between my template to yours is that I removed this: `"imageVersion": "1709.0.20180524"`

[2018-07-02 17:51] sharmasushant commented on #3389
@jackfrancis Can you please see why cni network monitor is starting on windows VMs? It should not be started by default, and specifically not on windows agents (even if requested).

@AmitDaniel-wsc I suspect the error you are seeing is not due to Azrue CNI or wincni. Can you please share logs of Azure CNI from C:\K\azure-vnet* This will tell us the reason of failure.

@madhanrm can you please take

[2018-07-02 18:41] jackfrancis opened #3399 "Distinct version support for create/upgrade/scale"
Currently there is some implementation overloading w/ respect to version support across create, upgrade, and scale operations.

From a high level:

- simplify creation UX by reducing available versions to a reasonable subset (say, the latest 3 patch versions for a given minor release channel)
- retain full historical version "support" for upgrade and scale
  - i.e., if we "remove support for creat

[2018-07-02 19:01] SteveCurran commented on #3153
@sharmasushant Changing --max-pods: 50 makes no difference. Still receiving the above error after reaching 30 pod limit on node. I gradually increase in increments of 5 pods and as soon I as the cluster nears 29-30 pods on any node this error reproduces. There is no disk or memory pressure on any of the nodes. Once this occurs I can no longer deploy anymore pods, not even if I shut down pods and g

[2018-07-02 19:13] sharmasushant commented on #3153
@SteveCurran Please share the following log files from windows agent node where you see the issue : C:\K\azure-vnet*

And the output of below command from the same agent node

curl "http://169.254.169.254/machine/plugins?comp=nmagent&type=getinterfaceinfov1"

[2018-07-02 19:19] #3391 closed

[2018-07-02 20:49] SteveCurran commented on #3153
It looks like the subnet is running out of addresses. Here is the output from azure-vnet.log. Plugin stops and restarts over and over.
2018/07/02 20:37:41 [cni-net] Plugin stopped.
2018/07/02 20:37:46 [cni-net] Plugin azure-vnet version v1.0.4-1-gf0f090e.
2018/07/02 20:37:46 [cni-net] Running on windows
2018/07/02 20:37:46 [net] Network interface: {Index:13 MTU:1500 Name:vEthernet (Ethernet 3) Har

[2018-07-02 23:36] #2312 closed

[2018-07-03 07:22] gmukhigulashvili opened #3403 "Error when using accelerated networking"
**Is this a request for help?**:

Request for Help )))

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

**What version of acs-engine?**:

v0.14.1

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

1.9.

**What happened**:

Found documentation on how to enable accelerated networking in kubernetes with acs engine(https://github.com/Azure/acs-engine/blob/master/examples/kub

[2018-07-03 07:50] gmukhigulashvili commented on #3403
update to new version of acs engine solved the issue. closed

[2018-07-03 07:50] #3403 closed

[2018-07-03 13:08] stephenlawrence commented on #3383
I used v0.19.0 acs-engine to stand up the test cluster.

[2018-07-03 13:39] AmitDaniel-wsc commented on #3389
@sharmasushant
Here is the logs :

`{
        "IPAM": {
                "Version": "v1.0.4-1-gf0f090e",
                "TimeStamp": "2018-07-03T13:34:21.3722638Z",
                "AddressSpaces": {
                        "local": {
                                "Id": "local",
                                "Scope": 0,
                                "Pools": {

[2018-07-03 15:00] adelina-t commented on #3368
@bclau Can you confirm the workaround @daschott is using works for you?

[2018-07-03 15:04] viroos commented on #1892
workaround tested on AKS 1.10.3 in westeurope:

[code]

but lack of this role is a little bit confusing at least. Especially when official Helm doc assumes it exists (https://docs.microsoft.com/en-us/azure/aks/kubernetes-helm)

[2018-07-03 15:08] adelina-t opened #3404 "azure-cni-networkmonitor pods are scheduled on Windows"
**ISSUE**:

---

**What version of acs-engine?**:
 v0.19.0
---

**Kubernetes 1.11.0**

**azure-cni-networkmonitor pods are scheduled on Windows and thus cannot be spawned and get stuck in Creating state**:

[code]

**apimodel file** (as minimally and precisely as possible):

[code]

[2018-07-03 15:10] jalberto commented on #1892
AKS installed via Portal has snot RBAC enabled, the only way to have RBAC enabled is by using azure cli

This information is a bit confusing in documentation.

[2018-07-03 15:19] adelina-t opened #3405 "Unexpected end of JSON input"
**ISSUE** :
---
**What version of acs-engine?**:

Tested with: v0.18.3 trough v0.18.9

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes v1.11.0-beta.1
azure-vnet-cni-windows: v1.0.4

**Pods fail to spawn with the following error*:

https://paste.ubuntu.com/p/pc3FmMzrhS/

**Anything else we need to know**:

This issue can appear on both creation and deletion of a pod. Becaus

[2018-07-03 15:49] PatrickLang commented on #3396
Looking

/assign

[2018-07-03 15:51] PatrickLang commented on #3389
let's use this to track network monitor on windows: https://github.com/Azure/acs-engine/issues/3404

[2018-07-03 15:54] PatrickLang commented on #3389
https://github.com/Azure/acs-engine/issues/3405 is also reporting the json parsing error

[2018-07-03 16:00] PatrickLang commented on #3404
I will add a test case to make sure there's no failed pods after the Windows pod is scheduled

[2018-07-03 16:33] CecileRobertMichon commented on #3395
@gitphill could you please share the full `/var/log/azure/cluster-provision.log` log?

[2018-07-03 16:54] dmlemos opened #3406 "Homebrew formula"
**Is this a request for help?**:
NO

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

Any plans for an [homebrew](https://brew.sh/) formula to install `acs-engine`?

[2018-07-03 18:29] PatrickLang commented on #3396
Can you try:
- Switch to Kubernetes v1.10.5
- Switch to availabilitysets from VMSS

And see if either of those resolve it for you?

[2018-07-03 18:35] jcdoba commented on #1938
It might work but is unreliable.
I have set it up and works for a while then drops.

[2018-07-03 19:31] jackfrancis opened #3408 "Add IPVS support"
Scope/implementation TBD

https://github.com/kubernetes/kubernetes/tree/master/pkg/proxy/ipvs

[2018-07-03 19:32] jackfrancis commented on #3408
@khenidak a placeholder issue to reflect your request for a feature spike on IPVS

[2018-07-03 21:39] dtzar opened #3409 "metrics and kube-dns crashloop"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
0.19.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
kube-dns and metrics server are in a crash loop after "successful" deployment of API model. It seems they are trying to contact the wrong IP for API server.

Logs from kube-dns:
[code]

Logs from m

[2018-07-03 22:02] CecileRobertMichon commented on #3406
We don't currently have a homebrew formula (completely open to adding one though if there's interest), but have you checked out gofish? https://github.com/Azure/acs-engine/blob/master/docs/acsengine.md#install

[2018-07-03 22:47] lastcoolnameleft opened #3412 "Unable to view keys via etcdctl"
After discussing with @CecileRobertMichon, I am opening this ticket.  The issue is that I'm unable to use `etcdctl` to view the etcd keys from inside the ACS-engine cluster.

[code]

When I run: `sudo etcdctl ls` on an acs-master node, it only shows one directory.
[code]

I have proven that `generate-proxy-certs.sh` exists:
[code]

When I try running the curl request raw, I get the same list:
[cod

[2018-07-03 22:52] jackfrancis opened #3413 "nodes with public IP addresses"
To support use-cases like agones:

https://github.com/GoogleCloudPlatform/agones

We need nodes w/ public IP addresses. We should make this a 1st class option.

[2018-07-03 23:07] PatrickLang commented on #3389
@sharmasushant this will prevent the cni network monitor from scheduling on Windows https://github.com/Azure/acs-engine/pull/3407

[2018-07-03 23:12] PatrickLang commented on #3371
#3407 will fix some of the addons that were missing node selectors.

For other workloads, I think you'll have to rely on either adding node selectors or using taints as Sam suggested. I usually go ahead and put the node selector in my helm charts.

[2018-07-03 23:14] PatrickLang commented on #3352
What OS were you using? This should be feasible on Windows Server 1803 but I don't know for sure about 2016 or 1709. There may still be bugs here so if you have a deployment spec you can share that would be helpful

[2018-07-03 23:17] CecileRobertMichon commented on #3213
Closing for now because implementing this would be a violation of our Docker license.

[2018-07-03 23:17] #3213 closed

[2018-07-03 23:19] #2922 closed

[2018-07-04 00:43] apeschel commented on #2930
@CecileRobertMichon

It's been almost two months on this, and it's seriously a 5-10 minute fix. Can someone please upload a newer version of this container?

[2018-07-04 00:43] PatrickLang commented on #3404
Should be fixed by #3407 with test added too

[2018-07-04 02:02] CecileRobertMichon commented on #2930
@apeschel I'll make sure this gets done sometime this week. The issue got lost in the pile of new issues, sorry about that!

[2018-07-04 07:08] mwieczorek commented on #3412
Not sure about that, but maybe try with etcd api v3? F.e.:
[code]

[2018-07-04 08:06] gitphill commented on #3395
@CecileRobertMichon [cluster-provision.log](https://github.com/Azure/acs-engine/files/2162321/cluster-provision.log) thanks

[2018-07-04 10:04] sam-cogan commented on #3352
This is using 1709, I've not been able to try with 1803 due to the ongoing DNS issues with that build

[2018-07-04 10:57] Cherishty commented on #3404
Also experience this issue on acs-engine 0.19.1 +  kubernetes 1.10.5 as well as acs-engine 0.19.0 + kubernetes 1.9.8
Addtionally, maybe result from above issue, after I deploy several pods in this cluster and assign to windows node, they all have NO access to internet

[2018-07-04 13:04] no-stupid-questions opened #3414 "Custom VNet on Kuberbnetes Hybrid Error: "no variabled 'subnet' ""
**Is this a request for help?**:

yes

**What version of acs-engine?**:
Version: v0.18.3
GitCommit: 77dafcb43
GitTreeState: clean

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)v**
v1.10.4

**What happened**:
tryed to deploy my hybrid json file into azure and I get an error from my windows vm saying it can't find the variable 'subnet', but when i try to add it to the json file an error

[2018-07-04 13:42] Dan-Wolfy opened #3415 "VNET address space customization"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE REQUEST
---

**What version of acs-engine?**:
v0.19.1
---

If this is a FEATURE REQUEST, please:
Custom VNet Address Space option,

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
When creating the cluster with kubenet (similair to v8) it setups the vnet to 10.0.0.0/8, orginally through thoug

[2018-07-04 14:38] #2876 closed

[2018-07-04 16:03] Cherishty commented on #3404
@adelina-t @PatrickLang
I use acs-engine v0.18.3 to create a k8s cluster v1.9.8 with WS1803 as worker node,
Obviously this time the **azure-cni-networkmonitor** will not reproduce, but in **pod** environment the container still can NOT access to internet. I find strange that we I try to ping bing.com, it can get the true ip, but will time-out finally
I just use
`acs-engine deploy --subscription-id

[2018-07-04 23:52] dazinator commented on #2161
I hit this area following the getting  started guide for acs and swarm.
when doing `azs create` it looks like it uses a default --agent-vm-size of `Standard_D2_v2` which isn't available for my region `uksouth`. This leads to this error being output with no clue as to what went wrong. Using the azure cloud shell to get the error details helped narrow down the problem. Now I am left with the problem

[2018-07-05 00:19] sharmasushant commented on #3404
@Cherishty please dont use ping (most of the servers block it). Use wget www.bing.com

[2018-07-05 06:54] gsacavdm opened #3416 "acs-engine deploy fails for national clouds (e.g. Azure Government) due to missing AKS.Linux.Billing extension"
**Is this a request for help?**: No
---
**Is this an ISSUE or FEATURE REQUEST?**: Issue
---
**What version of acs-engine?**: v0.19.1
---
**Orchestrator and version**: Kubernetes v1.8

**What happened**: Attempted `acs-engine deploy` to Azure Government (with `--azure-env AzureUSGovernmentCloud`) but it failed with the following error:

**What you expected to happen**: Deployment should complete su

[2018-07-05 08:03] adelina-t commented on #3404
@sharmasushant Tested with wget as well.
`
wget : Unable to connect to the remote server`

Used both DNS name and IP, none work.

[2018-07-05 10:35] dennis-benzinger-hybris commented on #3412
The clusters created by acs-engine still use API version 2: #2559

[2018-07-05 13:04] mwieczorek commented on #3412
I have k8s cluster (acs-engine v0.18.9, k8s 1.10.5) with API v3 (`--storage-backend=etcd3` in apiserver args). I think #2559 is only for using v3 API in acs-engine installation scripts

[2018-07-05 13:22] dennis-benzinger-hybris commented on #3412
Ah, yes. You are right. With `ETCDCTL_API=3" I can view the contents of etcd. But only if I set all the TLS related parameters. Without them I get the not very helpful error message "Error:  context deadline exceeded".

[2018-07-05 13:44] dennis-benzinger-hybris commented on #3412
Only the proxycerts are stored via the version 2 API. The Kubernetes data is stored in v3.

[2018-07-05 14:46] plc402 commented on #1892
You saved my week. :-p
I was struggling to install gitlab on aks 1.10.3, thanks to your trick.
I  discovered also that it was impossible to create a rbac enabled cluster on aks by using terraform,
it's a shame to be obliged to use az client :p

[2018-07-05 14:51] lastcoolnameleft commented on #3412
Ah ha!  Thanks for the clarification.

I hit the same "context deadline exceeded" error, so I had to pass in the cert/key/cacert options as such to get it to work:

[code]

[2018-07-05 14:58] lastcoolnameleft commented on #3412
That said, this addresses my issue, so thanks!

[2018-07-05 14:58] #3412 closed

[2018-07-05 15:04] SilvioPilato opened #3418 "Acs-engine upgrade for a cluster in 2 VNETs"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
This is an issue
---

**What version of acs-engine?**:
v0.19.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9.3

**What happened**:

We built our cluster 4 month ago with acs engine. The cluster is built on 2 VNETs, one for the agents and one for the masters.
On the up

[2018-07-05 15:20] serbrech commented on #3378
Note that we have the --set flag implemented by @jcorioland that might solve your `--override` idea

merged PR : #2787
[--set flag docs](https://github.com/jcorioland/acs-engine/blob/master/docs/kubernetes/deploy.md#step-4-generate-the-templates)

[2018-07-05 15:21] jalberto commented on #1892
you welcome, I wasted one week on it too...

[2018-07-05 17:26] CecileRobertMichon opened #3420 "/proxycerts is using etcd API v2"
We are using etcd v2 for /proxycerts but v3 for everything else. We should change /proxycerts to v3 for consistency.

https://github.com/Azure/acs-engine/blob/master/parts/k8s/kubernetesmastergenerateproxycertscript.sh

https://github.com/Azure/acs-engine/issues/3412

[2018-07-05 19:04] CecileRobertMichon commented on #2930
@apeschel just pushed the image for v0.19.1, let me know if you run into any issues. I'll work on setting up an automated build.

[2018-07-05 19:04] #2930 closed

[2018-07-05 19:09] CecileRobertMichon commented on #3395
Do you have any special vnet configs that would be relevant? Maybe NSG rules, a firewall or custom DNS? I'm not able to repro the error...

[2018-07-05 22:09] PatrickLang opened #3427 "DNS liveness tests are not run if Windows nodes are in the cluster"
A few minor tweaks are needed to run the DNS liveness tests on both Windows & Linux nodes in the same cluster. Right now they're skipped entirely if any Windows nodes are present.

https://github.com/Azure/acs-engine/blob/17b558a92990a9f9e03d3c6bba95e0002789703e/test/e2e/kubernetes/kubernetes_test.go#L67

https://github.com/Azure/acs-engine/blob/17b558a92990a9f9e03d3c6bba95e0002789703e/test/e2e/ku

[2018-07-05 23:11] PatrickLang commented on #3389
Also, bonus points for issue 3389 being a favorite Windows service port!

[2018-07-05 23:22] saiyan86 opened #3432 "Add data path test cases for network policy plugins"
**Is this a request for help?**:

No.

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

FEATURE REQUEST

---

**What version of acs-engine?**:

latest

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes

**What happened**:

Currently we don't have comprehensive data path test cases for k8s network policy plugins.

**What you expected to happen**:

We should h

[2018-07-05 23:22] saiyan86 commented on #3432
/assign @saiyan86

[2018-07-06 05:59] digeler commented on #3389
@Patrick,Francis there is going to be release of cni 1.0.7 today.
Can we make sure this is pushed to acs engine also with the other issues?
Ipam duplicate ip:
https://github.com/Azure/azure-container-networking/pull/188
Panic issue:

https://github.com/Azure/acs-engine/pull/3359

https://github.com/Azure/acs-engine/issues/3404

So we can go ahead with installing the latest version.
Thanks

[2018-07-06 06:35] karataliu commented on #3416
Same failure with AzureChinaCloud environment

[2018-07-06 08:07] Navlesh commented on #2922
@CecileRobertMichon It is failing in Master for me as well
I am using Standard_DS3_v2 VM size for Master (1) and Standard_DS2_v2 for worker (1).
ACS engine v0.19.0 and Kubernetes version 1.10.

2nd (clarification)
What service acs engine use in Azure to deploy cluster, is it Kubernetes services (AKS) or Azure container Service (ACS)?

[2018-07-06 09:15] ralbon commented on #3102
Exact same issue with :
- Acs-engine 16.2
- Kubernetes 1.9.6
- VmSize : Standard_E4s_v3 (Premium_LRS) and Standard_D2_v2 (Standard_LRS)

Hopefully, we can still scale up vertically our nodes (for the moment :) )

Please let me know if you need more information.
@d-matt @ yastij

[2018-07-06 10:37] qmalexander commented on #3377
Well I can confirm that I have the same issue on acs-engine version 19.1 with kubernetes running 1.10.4.

`018/07/06 10:04:27 [net] HNSEndpointRequest POST response:<nil> err:HNS failed with error : Element not found. .
2018/07/06 10:04:27 [net] Failed to create endpoint 1deca641-eth0, err:HNS failed with error : Element not found. .
2018/07/06 10:04:27 [azure-vnet] Failed to create endpoint: HNS

[2018-07-06 11:20] gitphill commented on #3395
Yes looks like we do have a custom DNS configuration.

https://github.com/Azure/acs-engine/blob/master/examples/vnet/kubernetesvnet-customnodesdns.json

Is this the best way to use acs-engine to configure DNS?

[2018-07-06 12:58] sylr commented on #3283
I'm wondering if this could be the source of DNS resolution problems I'm having on a cluster running 1.10.4 and Azure CNI 1.0.6 :

[code]

As show in this tcpdump trace I've a 5 seconds delay as it seems that first DNS query never gets a response. This occurs around once every 5 or 6 calls.

[2018-07-06 14:06] SteveCurran commented on #3153
Ok, the reason were not getting any ip addresses is because the node cannot connect to the dns server 10.0.0.10. Everything runs, I get up to 40 or so pods on the node and all internal dns connectivity is gone. Azure-cni plugin queries the dns server for an ip address and gets a null response. I cannot connect via wget to the dns server from the node either. I tried wget to the individual pod ip a

[2018-07-06 14:14] gitphill commented on #3395
Can I use an Azure DNS zone

[2018-07-06 14:14] #3395 closed

[2018-07-06 14:53] no-stupid-questions opened #3435 "CSE exit code 41"
**Is this a request for help?**:

yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

no

**What version of acs-engine?**:
Version: v0.19.1
GitCommit: f50fe5fe
GitTreeState: clean

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
kubernetes v1.10.5

**What happened**:
deployed a hybrid kubernetes cluster with existing vnet, and the one windows node spun up fin and the cse prov

[2018-07-06 15:47] jackfrancis commented on #3389
@digeler We're testing Azure CNI v1.0.7 robustly, stand by...

[2018-07-06 15:51] jackfrancis commented on #3377
@PatrickLang is this one of the errata we're tracking w/ Azure CNI v1.0.7?

[2018-07-06 15:57] jackfrancis commented on #3283
@sylr We are currently testing v1.0.7 of Azure CNI:

https://github.com/Azure/acs-engine/pull/3433

If possible, it'd be great to see if you can repro the above DNS flakiness on a cluster using that version (check out the above branch, build, deploy a cluster).

Are you able to repro the above symptoms quickly/reliably using a new 1.0.6-backed cluster?

[2018-07-06 16:53] PatrickLang commented on #3377
I think there's a good chance this is fixed in Azure CNI 1.0.7. Let's check back once that's released soon

[2018-07-06 17:20] apeschel commented on #2930
@CecileRobertMichon I appreciate it very much, thank you!

[2018-07-06 17:34] apeschel commented on #2930
@CecileRobertMichon Unfortunately, the Docker image doesn't seem to be correctly formed: it's has a windows binary on a Linux base, and doesn't seem to use the Dockerfile in the repo.

There are instructions on how to build the image in the `releases` directory:

https://github.com/Azure/acs-engine/blob/master/releases/README.Dockerfile.md

Is seems like you're using Windows, based on the Docker i

[2018-07-06 18:53] jackfrancis commented on #3435
@no-stupid-questions Is this error reproducible? Or did you run into transient DNS service flakiness during deployment?

If reproducible, there's probably something pathological in the linuxpool1 subnet network config (or in the way it's being represented in the api model above) that your linux hosts are being created into.

[2018-07-06 18:56] jackfrancis commented on #3418
Hi @SilvioPilato, multiple VNETs is not a "blessed" model. Could you do a smoke test on v0.19.1 and try to re-deploy a new cluster using the multi-VNET model?

Let us know if this works, or if you get the same validation error as above on a new deployment.

@CecileRobertMichon FYI

[2018-07-06 19:08] no-stupid-questions commented on #3435
I have consistently received this error after every deployment, as for the apimodel i got a few shoot in the dark:
Add "osType" : "Linux"
Change "firstConsecutiveStaticIP": "172.31.49.254"  to "firstConsecutiveStaticIP": "172.31.49.230" ?
make all "vmSize": "Standard_D2_v3"

(a side note)
I ssh into my master linux vm and was able to fix the  "sudo: unable to resolve host k8s-linuxpool1-38945190-0

[2018-07-06 20:05] PatrickLang opened #3439 "Reenable AzureFile tests for Windows on K8s 1.11"
Once this is cherry picked & released in v1.11
https://github.com/kubernetes/kubernetes/pull/65893

Remove the skip:
https://github.com/Azure/acs-engine/blob/677ae560214b73112acdb3aece8fe8f3631b6696/test/e2e/kubernetes/kubernetes_test.go#L816

[2018-07-06 22:37] jackfrancis commented on #3389
Azure CNI v1.0.7 has landed in master

[2018-07-06 22:37] #3389 closed

[2018-07-06 22:37] #3350 closed

[2018-07-06 23:06] jackfrancis commented on #3435
Is your VNET providing DNS? What does /etc/resolv.conf say?

[2018-07-06 23:22] jackfrancis opened #3444 "ETCDCTL_API=3"
For convenience, set ETCDCTL_API=3 in bash profile for both root and admin user when etcd is v3.

[2018-07-07 00:01] mnadeau2 commented on #2589
im aslo one of those that followed guidance from https://anthonychu.ca/post/vsts-agent-docker-kubernetes/ and quickly found out that my multi-staged build were failing because of a very old docker runtime (very unexpected considering all the work in the portal around supporting a "first class"
 kubernetes update...). Could you point us to an alternative/preview/something else  solution to quickly

[2018-07-07 02:06] gsacavdm commented on #3416
@jackfrancis , thoughts on this? I noticed you were the one that introduced this extension. Since you are the most familiar with it, how hard would it be to make it optional? I started exploring it (see my PR), not sure how much time/effort it would take me.

[2018-07-07 02:46] andyzhangx commented on #3302
paste my practice about how to update service principal secret in an existing k8s cluster:
[code]

[2018-07-07 17:54] digeler commented on #3396
Thanks Patrick
Looks like issue is fixed with cni 1.0.7
Ill give it a try.

[2018-07-07 19:52] gsacavdm opened #3445 "ARM_CLOUD is not passed down to autoscaler"
**Is this a request for help?**: No
---
**Is this an ISSUE or FEATURE REQUEST?**: Issue
---
**What version of acs-engine?**: v0.19.1
---
**Orchestrator and version**: Kubernetes v1.10

**What happened**: Deployed Kubernetes  v1.10 with autoscaler enabled to Azure Government. The deployment succeeded but the autoscaler pod is stuck in `CrashLoopBackOff` with the following error:

I0707 19:39:33.727

[2018-07-08 07:36] AmitDaniel-wsc commented on #3389
@jackfrancis Please open this issue again .

I created new cluster with the latest version of acs-engine i built ( I verified that i have all the master commits in this version )

and i'm getting the same error with the parsing json :

"Failed create pod sandbox: rpc error: code = Unknown desc = NetworkPlugin cni failed to set up pod "BLABLA" netowrk: netplugin failed but error parsing its diagnos

[2018-07-08 07:40] sharmasushant commented on #3389
@madhanrm
@AmitDaniel-wsc can you please share logs from c:\k\azure-vnet*
Please attach log files here in github and not upload to external site.

[2018-07-08 07:46] AmitDaniel-wsc commented on #3389
Sure .
Attached .

[azure_vnet_logs.txt](https://github.com/Azure/acs-engine/files/2173463/azure_vnet_logs.txt)

[2018-07-08 07:48] sharmasushant commented on #3389
@AmitDaniel-wsc That is the azure-vnet.json file. Can you please attach azure-vnet.log and azure-vnet-ipam.log as well

[2018-07-08 07:49] AmitDaniel-wsc commented on #3389
@sharmasushant This is all the logs combined into one file.

[2018-07-08 08:02] sharmasushant commented on #3389
@AmitDaniel-wsc Are you sure that logs are from same node where you created "BLABLA"? In fact, I do not see any error in the logs that you attached. There are multiple log fiels with .0, .1, and so on. Can you pease attach all of them from the node where OPD creation failed.

I also do not find the logs of second POD prod-wsc-cliprouploader-57878b4f9b-7986z_wsc that you are pasted.

[2018-07-08 08:17] AmitDaniel-wsc commented on #3389
@sharmasushant I created 30 pods so probably one of them was created on this Node . Also i'm not sure that the errors comes from the Nodes or from the master .

Let me know if you want more logs from the master .

[2018-07-08 08:32] sharmasushant commented on #3389
@AmitDaniel-wsc Not from master. To look into the issue, we will need the logs from the node where POD creation failed. I see  that 38 containers successfully got allocated IPs from Azure CNI in the logs that you shared.

[2018-07-08 08:33] AmitDaniel-wsc commented on #3389
@sharmasushant It failed on this node - After couple of mins that deployment finished successfully so i'm not sure what is written to the logs .
The fact is that i'm getting the same error as before .

[2018-07-08 08:44] sharmasushant commented on #3389
@AmitDaniel-wsc Ok, can you please share complete kubelet logs showing the failure with timestamps? Its strange that I don't see any calls in Azure CNI for the containers you are reporting failures for.

@madhanrm Can you please take a look. Is it possible for k8s to not call CNI and assume failure in some code path? Or to think CNI failed even when it successfully finished ADD?

[2018-07-08 09:06] AmitDaniel-wsc commented on #3389
@sharmasushant Kubelet.log is empty .
Kubelet.err.log is attached .
Let me know if you need more info .

[kubelet_error_log.txt](https://github.com/Azure/acs-engine/files/2173539/kubelet_error_log.txt)

[2018-07-08 09:06] grenzr commented on #747
also interested in the progress of ADE - a recent pen test raised medium risk security center issues which included lack of ADE on the acs-engine deployment.

[2018-07-08 09:35] sharmasushant commented on #3389
Ok, from the look of it, it seems like some issue in kubernetes.. take POD prod-wsc-**cliprouploader-57878b4f9b-fntdp** as an example

At time 7:37:34, Azure CNI clearly successfully finished ADD

However, cni in github.com/containernetworking/cni/pkg/invoke/raw_exec.go is failing to unmarshal the json for some reason. The error finally bubbles up to github.com/kubernetes/pkg/kubelet/dockershim/ne

[2018-07-08 09:41] AmitDaniel-wsc commented on #3389
@sharmasushant Ok
So anything i can do ?

[2018-07-08 09:46] sharmasushant commented on #3389
We can post an issue to github.com/containernetworking with the above kubelet logs and the POD I mentioned and ask for their help in understanding why cni.go thinks that ADD has failed.

[2018-07-08 15:00] digeler opened #3447 "releated K8S windows - pods are crashing due to CNI panic #3389"
so now we dont have the panic any more ,but still pods are crashing ,looking at the azure-vnet.log we see the following /:
E0708 14:11:53.813677    4960 cni.go:259] Error adding network: netplugin failed but error parsing its diagnostic message "{\n    \"cniVersion\": \"0.3.0\",\n    \"interfaces\": [\n        {\n            \"name\": \"eth0\"\n        }\n    ],\n    \"dns\": {}\n}{\n    \"code\":

[2018-07-08 21:17] ozdanborne opened #3448 "examples/networkpolicy/kubernetes-calico.json fails to apply"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

---

**What version of acs-engine?**:

latest master

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes

**What happened**:

I tried to create a basic Kubernetes Cluster using calico as a network plugin but the example config fails to apply with the following error:

[c

[2018-07-09 06:52] tariq1890 commented on #1811
I get the same issue when I try deploying with the example kubernetes apimodel json (which has an empty ServicePrincipalProfile). I tried simulating the same request via azure-sdk-for-go and I get the same error. It might be worth asking the SDK team to throw an error that provides for information. Thoughts?

[2018-07-09 07:00] AmitDaniel-wsc commented on #3389
@jackfrancis @sharmasushant Please reopen this ticket .

[2018-07-09 07:34] tariq1890 commented on #1811
This issue might be possibly related https://github.com/Azure/azure-sdk-for-go/issues/1587

[2018-07-09 08:09] neumanndaniel commented on #3409
Having the same issue with **containerd** runtime. Using docker runtime everything works fine.

[2018-07-09 12:14] qmalexander commented on #3377
@jackfrancis I generated and deployed using your fix. Now I get this log:

`2018/07/09 12:04:33 [cni-net] Plugin azure-vnet version v1.0.7.
2018/07/09 12:04:33 [cni-net] Running on windows
2018/07/09 12:04:33 [net] Network interface: {Index:6 MTU:1500 Name:vEthernet (Ethernet 2) HardwareAddr:00:0d:3a:b8:45:a9 Flags:up|broadcast|multicast} with IP addresses: [fe80::4162:c06d:675:cbcc/64 10.240.0.12

[2018-07-09 12:59] no-stupid-questions commented on #3435
sorry for the late reply, here is my /etc/resolv.conf :

root@k8s-master-38945190-0:/etc# more resolv.conf
# Dynamic resolv.conf(5) file for glibc resolver(3) generated by resolvconf(8)
#     DO NOT EDIT THIS FILE BY HAND -- YOUR CHANGES WILL BE OVERWRITTEN
nameserver 172.17.16.11
nameserver 172.17.16.12
search reddog.microsoft.com

[2018-07-09 15:59] PatrickLang commented on #3377
what error are you getting in `kubectl describe pod …` ?

[2018-07-09 17:21] apeschel opened #3451 "acs-engine docker image broken"
@CecileRobertMichon Unfortunately, the currently published Docker image doesn't seem to be correctly formed: it's has a windows binary on a Linux base, and doesn't seem to use the Dockerfile in the repo.

There are instructions on how to build the image in the releases directory:

https://github.com/Azure/acs-engine/blob/master/releases/README.Dockerfile.md

Is seems like you're using Windows, bas

[2018-07-09 17:23] PatrickLang opened #3452 "Windows test/e2e/Kubernetes times out in southeastasia region"
Run `ginkgo -slowSpecThreshold 180 -r -v test/e2e/Kubernetes` on a Windows cluster deployed in `southeastasia` region. They time out consistently.

This is probably an issue with the image pull taking too long. Either the test timeout needs to be extended, or there's an underlying problem with image availability on the CDN in that region.

[code]

[2018-07-09 17:30] PatrickLang commented on #3451
Ah, I see what you mean

[code]

[2018-07-09 17:34] PatrickLang commented on #3451
Unfortunately I can't fix this today, hopefully we can pick it up tomorrow.

[2018-07-09 19:06] qmalexander commented on #3377
@PatrickLang I will get back to you with that.
The issue I have is that the node goes unavailable for a while and the pod gets unreachable.

[2018-07-09 22:13] PatrickLang commented on #3447
Can you share more details like the JSON passed into acs-engine generate (with passwords/keys removed)? I haven't been able to reproduce this problem.

I'm using acs-engine built from master, and haven't seen any problems. Here's what the typical flow looks like for me in `c:\k\azure-vnet.log`

[code]

[2018-07-09 22:16] PatrickLang commented on #3389
Since we've made changes and errors are different, can we use a new issue? Is #3447 the same deployment you're using? It's better for us to track what changes were made per issue, rather than reusing old ones.

[2018-07-09 22:17] PatrickLang commented on #3447
You mention they're crashing - can you share the `kubectl describe` output showing what the sequence was? Do they start and fail after some time, or never start at all?

[2018-07-09 23:33] PatrickLang commented on #3439
Fix merged into v1.11, just waiting on a new release

[2018-07-10 03:32] ashishkulk commented on #3416
Same failure with _AzureGermanCloud_ environment.

[2018-07-10 03:56] JeffreyGarrett commented on #3416
@gsacavdm can you tell us which version of acs-engine billing extensions were added?  We are hoping to downgrade acs-engine as a work around for now.

[2018-07-10 04:11] tariq1890 opened #3454 "Migrate to dep for dependency management"
The developers of glide have recommended that we use dep instead and that they will cease active feature development from now on. Also, most of the other Azure Go repos seem to be using dep as their dependency management tool.

[2018-07-10 05:18] karataliu commented on #3416
@JeffreyGarrett v0.19+ has the the extensions. You can try 0.18*

[2018-07-10 06:00] tariq1890 commented on #1811
As recommended by Joel, I updated the go-autorest dependency and I got a more informative error

`graphrbac.ApplicationsClient#Create: Failure responding to request: StatusCode=400 -- Original Error: autorest/azure: Service returned an error. Status=400 Code="Unknown" Message="Unknown service error" Details=[{"odata.error":{"code":"Request_BadRequest","date":"2018-07-10T05:53:21","message":{"lang"

[2018-07-10 08:30] y325A commented on #3416
@JeffreyGarrett you can alter the azuredeploy.json file and remove the resources if you require the latest version.

[2018-07-10 08:32] gsacavdm commented on #3416
You can also build [my branch where I made this configurable](https://github.com/gsacavdm/acs-engine/tree/aks-extension) and add the following to your apiModel to disable the extension, then you'll be able to run `deploy`, `upgrade`, etc:

[code]

[2018-07-10 16:05] digeler commented on #3447
I redeployed no issues till now.
Am still looking.
Thanks

[2018-07-10 16:38] CecileRobertMichon commented on #2922
@Navlesh what's the exit code you are seeing? Please take a look at https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/troubleshooting.md#vmextensionprovisioningerror-or-vmextensionprovisioningtimeout.

Answer: Neither, acs-engine generates Azure Resource Manager templates (ARM) and uses those to create Azure resources. In fact, ACS and AKS use acs-engine for some tasks (an not the ot

[2018-07-10 16:47] CecileRobertMichon commented on #2930
@apeschel sorry for the delay I was off, I'll fix it today

[2018-07-10 17:31] CecileRobertMichon commented on #3444
related to #3420

[2018-07-10 18:02] CecileRobertMichon commented on #3451
@apeschel just pushed an updated image, please let me know if it works for you. You should be able to run ```PS> $VERSION="0.19.1"
PS> docker pull "microsoft/acs-engine:$VERSION"
PS> docker run -it microsoft/acs-engine:0.19.1````

[2018-07-10 18:04] #3451 closed

[2018-07-10 18:12] apeschel commented on #3451
@CecileRobertMichon Tried it out and can confirm it looks good, thanks for the help!

[2018-07-10 18:13] CecileRobertMichon commented on #3451
Great, I realized I used the wrong Dockerfile the first time...

[2018-07-10 18:33] ozdanborne commented on #3448
ping @jackfrancis

[2018-07-10 20:11] CecileRobertMichon commented on #3435
@no-stupid-questions this error is due to the fact that you are using custom DNS and `acs-mirror.azureedge.net` cannot be resolved. There are a number of resources that need to be accessed during deployment in order to install kubernetes and dependencies.

[2018-07-10 20:24] no-stupid-questions commented on #3435
@CecileRobertMichon What does the default DNS have/do to resolve mirror.azureedge.net that my custom DNS doesn't?
Or how could I find the info needed to compare the two DNS?
If thats not possible, is it possible to deploy the cluster with the default DNS, and then once kubernetes and dependencies are installed change to my custom DNS? (will my cluster still work after the switch?)

sorry I'm not v

[2018-07-10 20:38] CecileRobertMichon commented on #3435
@axier implemented custom search domains in https://github.com/Azure/acs-engine/pull/2590 which be the solution for what you are trying to do, I'd suggest you look into it.

[2018-07-11 01:29] PatrickLang commented on #3447
Alright - I tried to scale a web server up to 40 instances on a single host. Things started failing with about 25 pods running. It seems problems start once IPs are exhausted.

azure-vnet-ipam.log
[code]

azure-vnet.log
[code]

kubelet.err.log
[code]

[2018-07-11 01:39] PatrickLang commented on #3447
@sharmasushant is there any mitigation for the IP address exhaustion available?

cc @dineshgovindasamy @dascott @madhanrm

[2018-07-11 01:57] SteveCurran commented on #3447
@PatrickLang see #3153 same issue since June 4th. Still occurring on 19.1

[2018-07-11 03:47] SteveCurran commented on #3447
@sharmasushant Unfortunately, that is not the problem. When setting the maxpods each VM interface in Azure gets the same number of secondary ipconfigs as the maxpods. The error arises before reaching the max.

[2018-07-11 03:56] sharmasushant commented on #3447
@SteveCurran Are you sure about that? Pods in the kube-system name space, such as kube-dns, tiller-deploy, heapster, metrics-server, kubernetes-dashboard, etc. also get ip-addresses from the ones that you have configured.

[2018-07-11 08:06] santhosh-optit opened #3458 "Installing Docker CE 18.03"
Hi Team,
We have been using ACS engine to create swarm cluster with docker ce 17.06. We would like to update the docker version to 18.03. Can you please help me understand which version of ACS engine I should use? Or if there is a different procedure I should follow. Appreciate the help

[2018-07-11 09:04] santhosh-optit commented on #3458
Thank you for quick response @mwieczorek
We are blocked then. Can we integrate external scripts to acs-engine which install latest docker version? In this case what will happen if I increase the scale set nodes? Will this script be executed while initializing new nodes so that I will get latest docker version?

[2018-07-11 13:45] no-stupid-questions commented on #3435
"customSearchDomain": {
        "name": "vlabs.local",
        "realmUser": "vlabs",
        "realmPassword": "foobar"
}

@axier  @CecileRobertMichon Would "name":  be "name": "reddog.microsoft.com"? And is realmUser and realmPassword existing credentials for the search domain (if this is the case I have no idea what they are), or are these used to create new credentials?

[2018-07-11 14:21] SteveCurran commented on #3447
Yes, I am sure. The master node gets its own VM interface with 50 ip addresses. There should be no reason for ip exhaustion.

[2018-07-11 18:36] #1914 closed

[2018-07-11 18:42] PatrickLang opened #3460 "No remoting available from master to Windows agents"
**Is this an ISSUE or FEATURE REQUEST?** (choose one): Feature request

---

**What version of acs-engine?**: 0.19.2

---

If I SSH into a Linux master node, I can SSH over to Linux agents as well which is helpful for troubleshooting. Today - Windows can use SSH port forwarding for remote desktop, but that doesn't get a command line. Running PowerShell remoting or SSH on Windows would be helpful t

[2018-07-11 20:51] #3445 closed

[2018-07-11 22:15] egernst opened #3463 "add Kata Containers as a valid runtime"
**Is this a request for help?**:

No.

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

This is a FEATURE REQUEST

---

**What version of acs-engine?**:

All of them

---

Would love to s/Clear/Kata for original Clear Containers PR, adding support for Kata Containers (kata-runtime).  Eventually we will want to consider deprecating Clear Containers (cc-runtime).

**How to reproduce it**

[2018-07-12 00:21] BrendanThompson commented on #3102
I am getting something similar:

[code]

Its preventing us from scaling the cluster. Upgrading `k8s` worked perfectly though `acs-engine` though I must say!

[2018-07-12 01:28] ashvindeodhar opened #3466 "Kubernetes deployment failure for custom windows image"
**Is this a request for help?**:
Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

**What version of acs-engine?**:
v0.19.1

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Orchestrator: Kubernetes
Version: 1.8.13

**What happened**:
1. I am trying to deploy k8s cluster with custom image with the example under https://github.com/Azure/acs-engine/blob/master/examples/w

[2018-07-12 08:35] feiskyer commented on #2476
Kubernetes v1.11 adds standard load balancer support. Have someone tried it with multiple subnets?

[2018-07-12 08:38] feiskyer opened #3468 "Allow users to configure standard load balancer for k8s"
Kubernetes v1.11 adds [standard load balancer support](https://github.com/kubernetes/kubernetes/pull/61884). It adds two configs to `/etc/kubernetes/azure.json`:

{
  "loadBalancerSku": "standard",
  "excludeMasterFromStandardLB": true,
}

If loadBalancerSku is not set, it will default to basic (which is same as today).

If excludeMasterFromStandardLB is not set, it will default to true, which mea

[2018-07-12 10:56] carlpett commented on #848
We're in the same situation as brichins, not wanting to manage the secret across many namespaces which are created dynamically, and having our ACR in a different subscription than the clusters. We also do not use the default serviceAccount, so the patching would be even more involved than if we did.

[2018-07-12 11:36] rossedman commented on #848
In our case we wrote a controller that syncs every namespace from a secret store. Not very hard to do with gosdk. This flag is a strange flag because it's the only upstream Kubernetes flag I've seen that is so specific. It's not common on other cloud providers.

[2018-07-12 18:05] CecileRobertMichon commented on #3466
@ashvindeodhar is your image located in the `ashvincluster15` RG with name `windowspool2CustomWindowsImage` and in the same region? I had the same error earlier today but realized my image was in a different region and changing the region of the deployment to the same region fixed it.

[2018-07-12 18:06] egernst commented on #3463
thx @CecileRobertMichon  - I think I'm not part of the "organization", so could not self-assign.

[2018-07-12 18:12] CecileRobertMichon commented on #3458
Hi @santhosh-optit, you may be able to manually workaround this issue by changing a few things in https://github.com/Azure/acs-engine/blob/master/parts/k8s/kubernetescustomscript.sh#L172 and changing the `dockerEngineVersion` param after generating the template... Unfortunately for now we are blocked on this because of license issues.

[2018-07-12 18:45] cpuguy83 commented on #3378
Another thought here:

[code]

As well as a simple

[code]

These could also be flipped to deploy by default and have a flag to output the model that can be consumed by the `deploy` subcommand.

[2018-07-12 18:46] CecileRobertMichon commented on #3448
@ozdanborne Jack is on vacation this week, he'll take a look when he gets back. In the meantime, can you try deploying with kubenet? I think there's a workaround to artificially set the k8s plugin to cni when policy is calico (granted that should be improved, but it should unblock you for now).

[2018-07-12 18:47] carlsoncoder opened #3469 "Network failures relating to liveness/readiness pod restarts on 1709"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
Built from source - pulled latest as of commit 904db6a6f1e9a15c784d760f9e1d4e882c52d5db
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.10

**What happened**:
When setting up kubernetes liveness/readiness checks, then forcing a

[2018-07-12 18:50] CecileRobertMichon commented on #3435
@no-stupid-questions I realized my previous answer might not be relevant... I'll let @axier explain how to configure search domains (maybe it'd be a good idea to add some docs?) but in the meantime can you try switching to Azure DNS?

[2018-07-12 19:16] ashvindeodhar commented on #3466
Hi Cecil, why is the deployment process searching the image in the cluster that I am trying to deploy. The example says it can be a custom link (https://custom/link/to/windows/image.vhd).

I retried again by creating a storage blob under the cluster. ( ashvincluster19 ) and in the same region.
I see different error now with OperationNotAllowed

Deployment failed. Correlation ID: 9424c279-d592-427d

[2018-07-12 20:41] #464 closed

[2018-07-12 20:43] #3416 closed

[2018-07-12 21:18] CecileRobertMichon commented on #3466
Hmm it's unclear where `'/subscriptions/099b416e-89be-463a-967c-ad4bdec5370e/resourceGroups/ashvincluster19/providers/Microsoft.Compute/images/windowspool2CustomWindowsImage'` is coming from... Assuming your windowsProfile in your apimodel looks like: ```    "windowsProfile": {
      "adminUsername": "azureuser",
      "adminPassword": "replacepassword1234$",
      "WindowsImageSourceUrl": "https:

[2018-07-12 21:57] PatrickLang commented on #3469
I'm testing this out on the latest versions:
- acs-engine 0.19.2, used to deploy:
  - Kubernetes v1.11.0
  - azure-cni 1.0.7
  - Windows Server version 1803

Things seem to be working. Do you need to be on 1709 specifically for your app, or would 1803 work? (container & node OS version must match)

I'll try 1709 next

Here's my deployment: https://gist.github.com/PatrickLang/0df013d20d32eb98bc5745

[2018-07-12 22:41] PatrickLang commented on #3396
Can you close issue if it's working for you?

I also added internal tests with kubenet and they're passing. You can use that as an option if you prefer that instead of azure-cni

[2018-07-12 22:44] PatrickLang commented on #3377
Any idea how many pods are running when it happens? Is it > 20?

[2018-07-13 01:06] carlsoncoder commented on #3469
@PatrickLang - I cannot use 1803.  My company isn't upgrading our laptops past 1709 anytime soon, so we're kind of stuck there, since I can't build an 1803 image on my 1709 laptop.  I would be interested to see if it fails for you when you explicitly try version 1709 in your cluster.

I also noticed you have kubernetes version 1.11 and I'm using 1.10.  I can try changing that in my template.json a

[2018-07-13 02:42] caseywatson commented on #3469
@carlsoncoder - are you testing this behind your corporate proxy? May be relevant.

[2018-07-13 15:07] carlsoncoder commented on #3469
@caseywatson @PatrickLang - I narrowed it down.  I had the same issue with 1.11 k8s as with 1.10.  However, when I re-deployed the cluster with 1803 windows nodes and deployed a 1803 container image, everything works just fine.  So this appears to be an issue with windows 1709 build.

[2018-07-13 22:38] PatrickLang commented on #3469
What I'm seeing is that the pod gets a network interface and has proper DNS settings, but can't pass any traffic at all. I can't access the service IP or pod ip for IIS, and the pod can't access any outside IPs including the dns server. I also tried connecting to a specific public IP (resolved from bing.com) and that won't work either.

Here's the steps I followed:
Get https://gist.github.com/Patr

[2018-07-13 22:41] PatrickLang commented on #3469
@dineshgovindasamy @daschott - can you investigate? Is this a known limitation in Windows Server version 1709, or a bug that could be fixed?

[2018-07-13 22:42] PatrickLang commented on #3469
@carlsoncoder if you can confirm that the pod can't reach an outside IP - can you change the title of this from "DNS failure" to 'network failure' ?

[2018-07-15 15:02] sshepel commented on #3015
Same for acs-engine 0.19.2

[2018-07-15 19:45] flyboarder commented on #3369
@jcorioland any update on this? We have been able to do deployments with our key in file, however I'd really like to remove it and use env vars instead.

[2018-07-15 20:57] sam-cogan commented on #2027
Since moving to asc engine release 0.19 and using 1803 images this seems to have improved significantly. DNS is resolving as expected and had stayed that way for some time.

[2018-07-16 00:56] ocdi commented on #3469
I've got a cluster that has been running for a couple weeks. Was about to make it live for production hosting but have been facing some DNS and networking issues.

I'm used ACS-Engine 0.19.0 to upgrade to `1.11.0` and that improved the reliability, however as of this morning am getting network failures on all new created pods. I was having some weird intermittent readiness probes failing from the

[2018-07-16 01:17] BrendanThompson opened #3478 "Scaling a cluster after a kubernetes upgrade"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

FEATURE REQUEST
---

**What version of acs-engine?**:

`v0.19.1`
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes `v1.9.x` -> `v1.11.x`

**What happened**:

When attempting to scale the cluster after performing an upgrade from `v1.9.x` to `v.1.11.x` I get the following error:

[2018-07-16 02:44] SteveCurran commented on #2027
I have moved to 19.3 and still using 1709 and I am seeing much more stability. Still using the DNS addresses to the individual DNS pods. The DNS server seems to get overwhelmed when trying to push many deployments at once. If I push deployments slowly then all is well.

[2018-07-16 03:11] ocdi commented on #2027
@SteveCurran how did you move to 19.3? I have a cluster that I would like to upgrade and I am already running Kubernetes 1.11.0, the upgrade command is a no-op as there is nothing to upgrade. 0.19.2 seems to have some networing changes that I am hoping will solve my current issues but am unsure how to actually do this. I could always drop & re-create a complete new cluster, but that is a lot of wo

[2018-07-16 10:22] kovszilard opened #3479 "kube-dns sidecar container doesn't expose metrics"
**Is this a request for help?**: NO

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: ALL

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** Kubernetes

**What happened**: Running a kubernetes cluster

**What you expected to happen**: kube-dns should expose metrics in Prometheus format as in other cloud providers

**How to rep

[2018-07-16 14:13] SteveCurran commented on #2027
@ocdi I dropped and recreated.

[2018-07-16 17:13] CecileRobertMichon commented on #3463
https://github.com/Azure/acs-engine/pull/3465

[2018-07-16 17:13] #3463 closed

[2018-07-16 21:10] #3094 closed

[2018-07-16 21:32] jackfrancis opened #3481 "nvidia-device-plugin-daemonset pods w/ high memory + CPU"
We're seeing high utilization of `nvidia-device-plugin-daemonset` pods on clusters. We should consider resource constraining the daemonset spec.

Data TBD.

[2018-07-16 21:39] jackfrancis commented on #3448
@CecileRobertMichon, FYI: @ozdanborne is working on integrating calico w/ Azure CNI.

So, yes, in your implementation work, you'll need to evolve the whitelist of allowed combinations, as you describe above. In this case, we want to add a novel inclusion:

[code]

And then of course we'll need to implement a working model of the above. :)

[2018-07-16 21:44] jackfrancis commented on #3481
@lachie83 @sozercan @wbuchwalter Two questions:

1) Can you confirm that we should add resource limits to https://github.com/Azure/acs-engine/blob/master/parts/k8s/addons/kubernetesmasteraddons-nvidia-device-plugin-daemonset.yaml
2) Anyone care to volunteer some recommended limits that we can start testing against?

[2018-07-16 21:46] JeffreyGarrett commented on #971
I agree with @sylus.  Azure has suggested cloudyn for all billing and financial reports.  We have a script to add tags to all existing resources, but this means that we miss the ongoing new tags. We would like to add multiple tags to all resources to the cluster.  Additional benefits of adding different tags based on poolname or other more detailed needs.

[2018-07-16 23:20] #3236 closed

[2018-07-17 04:34] diwakar-s-maurya commented on #2999
It has been over a month with flannel and we have not seen such dns resolution related problem even once.

[2018-07-17 04:42] jackfrancis commented on #2999
@diwakar-s-maurya Thanks for sharing! Would love to hear more anecdotes on real-world flannel experience, positive or negative.

[2018-07-17 06:21] andyzhangx opened #3487 "containerd won't work in Azure China"
**Is this a request for help?**:
Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
latest master branch
---

code:
https://github.com/Azure/acs-engine/blob/1b62476a64e30cceb13c27492dad6f8404225d09/parts/k8s/kubernetescustomscript.sh#L361

we found that https://storage.googleapis.com/cri-containerd-release/cri-containerd-${CRI_CONTAINERD_VE

[2018-07-17 06:52] atomaras commented on #2027
I have the same problem. Cluster is unusable. Used acs-engine 0.19.1, windows server 1803, k8s version 1.11.0-rc.3

[2018-07-17 08:12] ashishkulk opened #3488 "AzureGermanCloud: Error while creating Azure Resources (PVC, LB) -- Confidential Client is not supported in Cross Cloud"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
0.18.9
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.10

**What happened**:
Tried to create pvc.
[code]
PVC is always in _Pending State_
Recieved error : **Confidential Client is not supported in Cross Cloud**
[code]

**What yo

[2018-07-17 09:33] StianOvrevage commented on #3479
We're also hitting this now. It appears that kube-dns on AKS/ACS does not include the sidecar container.

Also of possible interest: https://github.com/kubernetes/dns/blob/master/docs/sidecar/README.md

[2018-07-17 11:09] jcorioland commented on #3369
@flyboarder nope sorry, I did not have time to look in details.

[2018-07-17 15:36] PatrickLang opened #3489 "Windows nodes won't come online with k8s 1.11 and kubenet"
<will add more details, have logs>
The startKubelet.ps1 script needs to get the CIDR, which works on 1.10 but not 1.11

[2018-07-17 16:47] shayansarkar commented on #3415
You should be able to create a VNet with whatever address space you like and then reference it in your acs-engine template.  Then when you generate the ARM templates, it will be using that custom VNet with your configuration.

So the steps would be

1) Create a VNet with whatever address space and subnets you want
2) In the acs-engine template add a "vnetSubnetId" reference in the master and agent

[2018-07-17 18:01] ashishkulk commented on #3488
Fixed by adding `"location": "germanycentral",` to kubernetes.json file.

[code]

[2018-07-17 18:01] #3488 closed

[2018-07-17 18:31] no-stupid-questions opened #3492 "Unable to resolve host on Linux VMs in Hybrid cluster"
**Is this a request for help?**:
yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

issue

**What version of acs-engine?**:
Version: v0.19.1
GitCommit: f50fe5fe
GitTreeState: clean

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.10.5

**What happened**:
Spun up  windows/linux hybrid cluster, and when I ssh into the linux and tried sudo command i recieved this e

[2018-07-17 19:19] idanlevin commented on #2150
any updates on this?

[2018-07-17 19:46] wbuchwalter commented on #3481
@jackfrancis This high utilization happened because their was a mismatch between `nvidia-device-plugin-daemonset` version and k8s version. The plugin kept trying to register the device and failed.
This would not happen with matching version.

If we still want to add limits, we can use the official ones: https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/device-plugins/nvidia-gpu/d

[2018-07-17 19:47] daschott commented on #3143
@beaudryj With acs-engine v0.19.2 onwards, this should work (at least for the default namespace). For non-default namespace, you need to continue to use FQDN.

[2018-07-17 19:49] jackfrancis commented on #3481
Thanks @wbuchwalter!

I think we should adopt those limits, @lachie83 @sozercan, any dissenting opinions there?

[2018-07-17 19:59] sozercan commented on #3481
sgtm! 👍

[2018-07-17 20:13] #3143 closed

[2018-07-17 21:08] chrislangston commented on #543
I'm not sure if this will help anyone else or not, but wanted to share in case it does.  I needed to have  the ability for my docker containers to use the ephemeral/temp drive (/mnt) that is created by default when the Nodes are built out.

Without this, I believe my docker instances where writing to the OsDisk.

I ended up using something like this in my .yaml file:

[code]

[2018-07-17 22:03] #3311 closed

[2018-07-17 22:03] #3338 closed

[2018-07-17 22:48] PatrickLang commented on #2027
This is fixed in acs-engine 0.19.2. If you're still hitting it in that version or later, can you share details? Otherwise, can we close this issue?

[2018-07-17 23:06] ocdi commented on #2027
@PatrickLang This may be a silly question, but how do we upgrade an existing cluster to 0.19.2? I can see how to upgrade if I am changing the kubernetes version, however I used 0.19.1 to upgrade to k8s 1.11.0 already and it is a no-op as I am already at the target version.

[2018-07-17 23:43] #3460 closed

[2018-07-18 03:05] sozercan opened #3499 "OpenShift compute and infra VM fails to provision"
Looks like compute and/or infra vms fails to provision and times out. Master comes up fine. Is this a known issue?

cc @jim-minter @pweil- @kargakis @amanohar

[code]

Error from master CSE:
[code]

API model:
[code]

[2018-07-18 03:58] SteveCurran commented on #2027
@PatrickLang does this require running 1803 on the host and in the container? When using 1709 host and container we still need to use the individual ip addresses of the DNS pods and not 10.0.0.10.

[2018-07-18 05:32] atomaras commented on #2027
@PatrickLang doesn't work. acs-engine v1.19.3, k8s 1.11.0_rc3, server 1803. Windows pods cant access kubedns.

[2018-07-18 08:39] acesyde commented on #737
Any news about this subject ?

[2018-07-18 09:16] feiskyer commented on #737
Standard load balancer has been supported since v1.11.0, but it's not configurable via acs-engine yet. See #3468 for tracking the process.

[2018-07-18 09:48] bclau opened #3500 "apiServerConfig --profiling not configurable"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: v0.19.3

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** Kubernetes v1.11.0

**What happened**:

According to the acs-engine documentation [1], the ``apiServerConfig``'s ``--profiling`` is set by default to ``false`` and it is not user conf

[2018-07-18 11:12] adelina-t commented on #3500
@PatrickLang

[2018-07-18 13:32] bclau opened #3501 "Pod's Source IP address is not preserved when connecting to another pod through a Service Cluster IP"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: v0.19.3

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** Kubernetes v1.11.0

**What happened**:

In Kubernetes, you can create Services with specific Cluster IPs, which can be used to communicate with certain Kubernetes pods (set with a cer

[2018-07-18 13:33] bclau commented on #3501
@PatrickLang

[2018-07-18 14:05] grenzr opened #3502 "CSE failure during deploy because 8.8.8.8 port 53 is blocked in our vnet"
**Is this a request for help?**:

YES

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

**What version of acs-engine?**:

0.19.0

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes 1.11.0 (Azure CNI)

**What happened**:

When deploying acs-engine into a vnet, the CSE fails to complete, because its doing an outbound internet check by testing access to 8.8.8.8 on

[2018-07-18 14:41] PHaigh-tw commented on #3502
It might be better even still to target a comminications check against a URL or server that's used subsequently in the build.   For corporate environments in which we lock down all access except what's required, we would reject an outbound request to www.microsoft.com as it's not required for the script to execute, other than the check.

[2018-07-18 16:35] jackfrancis opened #3503 "Kubernetes 1.11 cluster node lost its InternalIP"
See:

[code]

[2018-07-18 16:36] jackfrancis commented on #3503
`k8s-agentmd-34767551-1` above is an example of what we expect to see, i.e., it has an `InternalIP` value. `k8s-agentmd-34767551-2` is missing an `InternalIP`.

This from a v1.11.0 cluster w/ 3 masters and 2 agent pools, each agent pool of which has 3 nodes.

[2018-07-18 17:12] CecileRobertMichon commented on #3399
If version X and Y are deprecated, should we allow upgrade from version X to version Y? The risk with answering no to that question is that a cluster might be non-upgradable if the user is on version 1.7.7 and 1.7 and 1.8 have been deprecated since they can't make the jump to 1.8... Also makes the implementation more difficult because we would have to distinguish between "version the user is upgra

[2018-07-18 17:18] jackfrancis commented on #3399
Let's punt on answering that question. We'll deprecate 1.7.x for new creates, but we'll plan on keeping 1.8.x "supported" indefinitely so that 1.7 folks can upgrade to 1.8 (and 1.9, etc).

And frankly, once we deprecate 1.8. we can just cut a new version and announce that older clusters still running 1.7 will need to use the older acs-engine version to get to 1.8.

[2018-07-18 17:27] jackfrancis opened #3505 "Kubernetes: AAD + v1.11 clusters"
We have reports that the current AAD implementation does not work w/ 1.11 clusters:

Works on v1.10.5 -
1.	Make sure you have a MSFT user (this is because MSFT has lots of AAD groups)
2.	Create an ACS-Engine cluster using the attached template
3.	Once your cluster is ready, try to run any kubectl command, it will ask for AAD auth with a code
4.	Complete aad authentication
5.	The operation will fai

[2018-07-18 17:50] jsturtevant commented on #2361
Have not seen this issue since version 0.13. Closing for now.

[2018-07-18 17:50] #2361 closed

[2018-07-18 18:14] jackfrancis opened #3506 "create /etc/kubernetes/manifests on worker nodes"
Lots of spurious kubelet messages:

[code]

[2018-07-18 20:11] SuperMarioo commented on #2051
I'm having the same problem , is there a way to manual fix it ?

[2018-07-18 20:32] jackfrancis opened #3507 "CIS benchmark gaps: k8s v1.8 master"
[code]

Showing master failures from `$ ./kube-bench master --version 1.8`:

[code]
- [ ] `[FAIL] 1.1.6 Ensure that the --insecure-port argument is set to 0 (Scored)`
- [ ] `[FAIL] 1.1.12 Ensure that the admission control policy is set to DenyEscalatingExec (Scored)`
- [ ] `[FAIL] 1.1.13 Ensure that the admission control policy is set to SecurityContextDeny (Scored)`
- [ ] `[FAIL] 1.1.21 Ensure th

[2018-07-18 20:37] jackfrancis opened #3508 "CIS benchmark gaps: k8s v1.8 worker"
[code]

Showing master failures from `$ ./kube-bench node --version 1.8`:

[code]
- [ ] `[FAIL] 2.1.1 Ensure that the --allow-privileged argument is set to false (Scored)`
- [ ] `[FAIL] 2.1.5 Ensure that the --read-only-port argument is set to 0 (Scored)`
- [ ] `[FAIL] 2.1.6 Ensure that the --streaming-connection-idle-timeout argument is not set to 0 (Scored)`
- [ ] `[FAIL] 2.1.7 Ensure that the -

[2018-07-18 20:41] jackfrancis commented on #3508
I think the configuration file errors are spurious:

[code]

Perhaps kube-bench/CIS doesn't know where to find the kubelet conf/service files given the way we pave these systems for k8s.

[2018-07-18 21:59] #3481 closed

[2018-07-19 00:54] #2659 closed

[2018-07-19 01:38] JJir opened #3511 "azure-cni-networkmonitor pod stuck in containercreating, FailedMount warning"
**Is this a request for help?**:

No

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

**What version of acs-engine?**:

0.18.3  and 0.19.0 ( think, may have been 19.1)

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Tried on Kubernetes 1.10 and 1.11  (may have been 1.10.5 and 1.11.3)

**What happened**:
Running acs-engine with the supplied kubernetes.json (with kuberne

[2018-07-19 07:11] tariq1890 opened #3513 "Implement parallel unit tests?"
As there are many table driven unit tests, they can be easily parallelized if one were to use the subtests feature of Go 1.7.

Is this something worth working towards? It could possibly shave a few seconds (or even minutes) off of build times if we could parallelize as many as unit tests as possible. This would, however, entail mandating Go 1.7 as the minimum version.

More details in the PR #3512

[2018-07-19 12:00] svollath commented on #3107
As noted [here](https://github.com/Azure/AKS/issues/412), it works for me again in AKS with Kubernetes 1.9.9.
JFYI, here's a more safe way to add "swapaccount=1":

[code]

[2018-07-19 14:14] Navlesh opened #3514 "PODs is not making use of Custom VNet"
PODs is not using the Vnet provided for this rather it is using same VNet that is used for Master and Node purpose
ACS_Engine: V0.19.4
Kubernetes version: 1.10.5
Following is the input template

{
	"apiVersion": "vlabs",
	"properties": {
		"orchestratorProfile": {
			"orchestratorType": "Kubernetes",
			"orchestratorRelease": "1.10",
			"kubernetesConfig": {
				"maxPods":10,
				"ClusterSubnet":

[2018-07-19 16:58] CecileRobertMichon commented on #3513
If we do this it'd be worth changing the Go prereq in https://github.com/Azure/acs-engine/blob/master/docs/developers.md#prerequisites to 1.7

[2018-07-19 17:30] tariq1890 commented on #3513
@CecileRobertMichon Yes. It could be a breaking (I could b wrong here) change for acs-engine users who are using Go 1.6 runtimes. I'd leave it up to you and @jackfrancis to decide on this :).

[2018-07-19 20:12] jackfrancis opened #3516 "Kubernetes E2E scenario: multiple clusters in a single VNET"
We should ensure test coverage for adding > 1 Kubernetes cluster to a common VNET.

[2018-07-19 20:56] jsturtevant commented on #2027
@atomaras could you try with 1.19.5 and 1.11.1?  I was able to successfully do DNS queries from windows and linux pods with those version.

[2018-07-19 20:59] atomaras commented on #2027
@jsturtevant Can I simply use acs-engine upgrade or do I have to recreate the cluster?

[2018-07-19 21:09] jsturtevant commented on #2027
I usually drop and recreate to make sure everything is deployed properly.

[2018-07-19 21:44] PatrickLang commented on #3389
https://github.com/Azure/azure-container-networking/issues/195 is open for this error:
[code]

[2018-07-20 04:52] #3513 closed

[2018-07-20 05:30] ritazh opened #3523 "Add validation for aad-pod-identity addon to ensure only AvailabilitySet is used"

[2018-07-20 07:40] 4c74356b41 commented on #2027
@jsturtevant viable production approach

[2018-07-20 11:36] ocdi commented on #2027
I upgraded an existing cluster from 1.11.0 to 1.11.1 with acs engine 0.19.5 with 1803 and so far so good, the baseline CPU usage has dropped which is nice, from 15-20% constant to maybe 10%. Not sure what about the previous version was using so much CPU but more for containers to run, the better. Haven't observed any DNS issues so far but it's only been an hour. :-)

[2018-07-20 14:38] atomaras commented on #2027
@jsturtevant I recreated the cluster with k8s 1.11.1 and some windows containers work but others aren’t. I don’t know why. Specifically I run a windowsservercore:1803 busybox-style image in default namespace and DNS worked. Then I run my windows jenkins agent image based on dotnet framework 1803 inside jenkins namespace and it didn’t work (same as before).

Some extra observations: 1) aci-networki

[2018-07-20 15:06] econopsteam commented on #3447
Is there any news on this issue? I'm being blocked by the same problem.

[2018-07-20 15:07] BIGPHATTOBY commented on #3447
Is there any update on this issue? Currently also being blocked

[2018-07-20 16:49] jsturtevant commented on #2027
@atomaras I believe the issue your seeing is because you are in a separate namespace with the second pod.  Could exec into the pod in the jenkins namespace and run `ipconfig /all`  and post output here?  Can you connect to other pods when if you use the fully qualified name?

Additionally what happens when you run the jenkins deployment in the defualt namespace?

@ocdi Thanks for the update.  If y

[2018-07-20 16:53] daschott commented on #558
@jdinard @patrick-motard There have been a lot of networking fixes as of acs-engine 0.19.2 and 0.19.3 -- do you still see this issue there?

[2018-07-20 17:21] daschott commented on #3489
I'm wondering if this could be related to the issue I was seeing in 1.11 on-prem? Kubelet wouldn't start the way it did on 1.10 unless I added some flags.

[2018-07-20 17:31] PatrickLang commented on #2027
Yes, there's a problem where only the pod's namespace is added to the DNS suffix resolution list.
https://github.com/kubernetes/kubernetes/issues/65016 mentions this as well. We need a specific fix in azure-cni so I'm checking to make sure a tracking issue is filed there

[2018-07-20 19:17] ritazh commented on #3523
add configurable resource limits and e2e test

[2018-07-20 19:35] atomaras commented on #2027
I narrowed it down to being tied to a specific node. I have 2 windows nodes.
Node **31051k8s9001** works correctly:
![image](https://user-images.githubusercontent.com/3913941/43021613-1e38f150-8c19-11e8-982e-bd2f29bf4c98.png)

but node **31051k8s9000** now fails with:
![image](https://user-images.githubusercontent.com/3913941/43021656-4334326c-8c19-11e8-90b7-2ca68114cfc5.png)

which is most likely

[2018-07-20 20:47] #3454 closed

[2018-07-21 01:06] PatrickLang commented on #3389
Here's the issue I filed to track resolving DNS for other namespaces https://github.com/Azure/azure-container-networking/issues/206

[2018-07-21 01:07] PatrickLang commented on #2027
Here's the issue for the incomplete DNS suffix list: https://github.com/Azure/azure-container-networking/issues/206

[2018-07-21 01:09] PatrickLang commented on #2027
@atomaras - the failure you highlighted above is due to IP address exhaustion "Failed to allocate address: … No available addresses"

The error isn't being handled correctly due to https://github.com/Azure/azure-container-networking/issues/195

[2018-07-21 02:47] atomaras commented on #2027
Thank you @PatrickLang !
I'll be keeping an eye out for these.

[2018-07-23 06:53] saromba commented on #3337
@CecileRobertMichon
Hi, something new here?

Regards,
saromba

[2018-07-23 07:43] BIGPHATTOBY opened #3528 "acs-engine upgrade removed masters and returned varible limit exceeded error."
**Is this a request for help?**:
Yes.
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
Version: v0.20.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Running out of IPs in my vnet returned a nil panic, for better troubleshooting information I initiated an upgrade from 1.10 to 1.11, which resul

[2018-07-23 18:45] dysolution commented on #3015
Same for acs-engine 0.20.0.

[2018-07-23 19:38] jackfrancis commented on #2946
I added a test to enable the current addon, and not all of the resources defined in the addon are running. For example:

[code]
azureuser@k8s-master-16858491-0:~$ kubectl get serviceaccounts -n kube-system | grep 'oms'
omsagent                             1         51m
azureuser@k8s-master-16858491-0:~$ kubectl get clusterroles -n kube-system | grep 'oms'
omsagent-reader

[2018-07-23 19:39] jackfrancis commented on #2946
Here is what the addon looks like on disk:

[code]

[2018-07-23 20:42] daschott commented on #3225
@jbiel @sam-cogan Do you still see this on recent acs-engine deployments? I cannot reproduce this.
Here is what I tried:
acs-engine 0.19.2 on Windows Server, version 1803 and Kubernetes version 1.9.9
Ran two pods for 5 days (and counting) with DNS resolutions every 3 minutes. No errors.

DIY Kubernetes deployment on Windows Server 2019 (Insider) build 17682 and Flannel (host-gw) CNI. Kubernetes ve

[2018-07-23 21:02] rashmichandrashekar commented on #2946
Did you pass in the values for WSID and key under env?

[2018-07-23 21:04] sam-cogan commented on #3225
I have not seen it at all since moving to using 0.19, Kubernetes 1.11 and 1803.

[2018-07-23 22:18] ritazh commented on #3523
/assign @kkmsft

[2018-07-24 05:24] gdbgit opened #3533 "Can not scale up using acs-engine"
**Is this a request for help?**:

---Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

---ISSUE

**What version of acs-engine?**:

---Version: v0.19.1
GitCommit: f50fe5fe
GitTreeState: clean

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes,

 Version: v1.8.3
Git commit:
ec1d7de4456e6a397c7f931f0a2bfc74a6ca2e9c

**What happened**:
When scale up to 17 nodes, the VM

[2018-07-24 06:32] visokoo opened #3534 "kube-dns-v20 deployment"
**Is this a request for help?**:

Yes.

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue.

**What version of acs-engine?**:

v0.14.5 & v0.20.0

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
acs-engine 0.14.5 | k8s 1.9.6
acs-engine 0.20.0 | k8s 1.11.0

**What happened**:
I'm running into an issue that's pretty similar to https://github.com/Azure/acs-engine/issues/2999 wh

[2018-07-24 15:36] jchauncey commented on #3405
@JunSun17 have you seen this error before?

[2018-07-24 15:53] sharmasushant commented on #3405
@jchauncey It might be related to the issue we are discussing with kubernetes cni: https://github.com/containernetworking/cni/issues/571

Can you share logs from C:\K\azure-vnet* to confirm.

[2018-07-24 17:09] sshepel commented on #3062
@CecileRobertMichon  not working in 0.19.2

[2018-07-24 19:13] jklauser opened #3537 "HyperKube image host rate limit causing deployments to fail."
**Is this a request for help?**:

--- YES

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

--- ISSUE

**What version of acs-engine?**:

--- 0.20.0

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.11

**What happened**:
Our deployments have been failing this morning because the default Hyperkube image server in the East US region, https://k8s-gcrio.azureedge.net/v2

[2018-07-24 19:20] praneethr opened #3538 "hyperkube image is not pulled while creating kuberenetes cluster using acs-engine"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.20.0
---

While Creating kubernetes cluster using ACS-Engine, Got Quota Exceeded error while downloading hyperkube..
httpReaderSeeker: failed open: unexpected status code https://k8s-gcrio.azureedge.net/v2/hyperkube-amd64/blobs/sha256:7460c29cea530abb10d39c

[2018-07-24 19:40] #3478 closed

[2018-07-24 20:20] jackfrancis commented on #3538
Was this in eastus?

[2018-07-24 20:30] jackfrancis commented on #3537
Sorry for the fire drill today, folks, the fix is in master and just patched as v0.20.1:

https://github.com/Azure/acs-engine/releases/tag/v0.20.1

tl;dr Putting these image pulls behind a CDN had the unintended side-effect of taking AKS and acs-engine distributed traffic sources and combining them into a few IP addresses, which (in eastus) was inducing 429 responses from gcr.io (which our CDN was

[2018-07-24 20:30] #3537 closed

[2018-07-24 20:30] jackfrancis commented on #3538
See my explanation in #3537. If not eastus, please re-open!

[2018-07-24 20:30] #3538 closed

[2018-07-24 20:33] caseywatson commented on #3537
Thanks, @jackfrancis!

[2018-07-24 20:59] praneethr commented on #3538
Thanks @jackfrancis  for the explanation

[2018-07-24 20:59] kosta709 commented on #3393
experienced the same issue - acs-enging 0.19.5

[2018-07-24 23:01] AnirbanKundu commented on #2464
I was trying to create a K8 cluster using the following command:
`az aks create --name myAKSCluster --resource-group myResourceGroup  --node-count 1 \
    --generate-ssh-keys \
    --service-principal <appId> \
    --client-secret <password>
`
And I keep on getting the  error:
[code]
My app details are as follows:
[code]

Can anyone help ?

Thanks,
Anirban

[2018-07-24 23:20] visokoo commented on #3534
I'm going to be pasting some logs for the 1.14.8 kubedns issue since I have a fresh cluster that's doing the same thing:

**After adding `stubDomain` to point to consul box and `upstreamNameservers` to consul ips:**
[code]

**tcpdump from dnsmasq**
[code]
**tcpdump from kubedns**
[code]

[code]

**tcpdump from dnsmasq**
[code]

**tcpdump from kubedns**
[code]

Even with `upstreamNameserver` set wi

[2018-07-25 01:37] JJir commented on #3511
Sorry, I attached a copy of an updated config file, I have been playing with different OS versions, but at the time it was "windowsSku": "Datacenter-Core-1803-with-Containers-smalldisk"  and my container image was based on "microsoft/dotnet-framework:4.7.2-runtime-20180508-windowsservercore-1803"
The rest of the acs-engine json file and the yaml for deploying were the same.

[2018-07-25 01:44] sharmasushant commented on #3511
azure cni network monitor should not be running on windows nodes @jackfrancis @PatrickLang

[2018-07-25 08:59] sylr commented on #3283
@jackfrancis I've regenerated my cluster with a branch that contains the revert to CNI 1.0.4 and I'm still experiencing the DNS issue.

The only difference I now have between two clusters generated from the same acs-engine commit is `acceleratedNetwork` enabled on the affected cluster.

I'm going to regenerate it again with `acceleratedNetwork` disabled to see if this is the culprit for my issue.

[2018-07-25 10:06] sylr opened #3546 "Enabling Accelerated Networking leads to DNS troubles"
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE
**What version of acs-engine?**: [https://github.com/sylr/acs-engine/tree/v0.19.5+lectra.1](v0.19.5+lectra.1)
**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes

---

**What happened**:

When I enable accelerated networking in my cluster I can observe **random** DNS resolving latencies (5 seconds timeouts) that

[2018-07-25 13:02] eosfor opened #3547 "Question - custom OS image on a custom VNET"
Hello colleagues, i need to use my own corporate OS image stored in the subscription image repo (azure vm image). and i need to provision all of this into custom vnet/subnets. May i ask you to point me out to a proper example template, so i can start from there?

[2018-07-25 14:14] sylr commented on #3546
So I found a solution to this problem.

Putting this into `/etc/resolv.conf` of each pods resolves the problem;

[code]

Which does this according to http://man7.org/linux/man-pages/man5/resolv.conf.5.html :

[code]

But this is really not practical because you need to edit all your deployments to add a new `dnsConfig` section.

After a few hours I managed to fix the issue by editing the deploymen

[2018-07-25 15:49] jackfrancis commented on #3283
Thanks for following up. The current release (v0.20.1), which includes Azure CNI v1.0.7 by default, and accelerated networking enabled by default (for VM SKUs that support accelerated networking) is the current best-known option. Please feel free to experiment w/ accelerated networking disabled, we haven't observed any operational issues as a result of that option.

[2018-07-25 15:54] gitphill opened #3549 "Is there a way to provide hostnames?"
**Is this a request for help?**: YES

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): FEATURE REQUEST (unless there is a way to do this?)

---

**What version of acs-engine?**: 0.20.1

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes

**What happened**: acs-engine generated hostnames for me

**What you expected to happen**: for there to be a way of customis

[2018-07-25 16:08] jackfrancis commented on #3511
@sharmasushant @JJir thank you for reporting, bugfix PR here:

https://github.com/Azure/acs-engine/pull/3550

I'll cherry-pick that into a patch release this week once it merges to master.

[2018-07-25 19:20] jklauser commented on #3537
Thank you!  Clusters are being created again.

[2018-07-25 21:34] jackfrancis commented on #3549
In the api model (cluster configuration JSON file) that you use as input to acs-engine:

The "dnsPrefix" value will help to form the hostname prefix for the master nodes:

https://github.com/Azure/acs-engine/blob/master/examples/kubernetes.json#L9

And for each agent, the agent pool "name" value will do the same:

https://github.com/Azure/acs-engine/blob/master/examples/kubernetes.json#L14

[2018-07-25 21:34] #3549 closed

[2018-07-25 23:11] #3439 closed

[2018-07-25 23:36] jackfrancis commented on #3255
Sorry for the late response here @dcasati! The example api model `kubernetes-cilium.json` is working (say our regular E2E tests) in the latest release of acs-engine. If there any particular bugs/edge-cases please feel free to re-open!

[2018-07-25 23:36] #3255 closed

[2018-07-26 00:22] jackfrancis commented on #3547
Hi @eosfor, this is not really a working scenario in acs-engine at this time, but you could follow this PR:

https://github.com/Azure/acs-engine/pull/3536

That aims to generalize the OS + application layer paving into a custom VHD image. Perhaps there are hints therin?

[2018-07-26 00:22] #3547 closed

[2018-07-26 00:36] visokoo commented on #3534
I initially posted this question on the kubernetes/dns repo and wanted to relay some of the comments here: https://github.com/kubernetes/dns/issues/248

Looks like the upstream/stub domain issue should be resolved if the acs kube-dns-deployment.yaml matched the upstream version of it. Is there any reason why that isn't the case?

[2018-07-26 08:13] eosfor commented on #3547
Hi @jackfrancis, I've found below two options in the documentation. What are they, in this case, if you are saying that this scenario "is not really working"?

[code]

[2018-07-26 09:39] Rickion opened #3557 "Is there a way that acs-engine can generate additional resource into azuredeploy.json?"
**Is this a request for help?**:
YES

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

---

**What version of acs-engine?**:
v0.14.6

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Cannot generate additional resource into azuredeploy.json.

**What you expected to happen**:
A config option as input that acs-engine can use

[2018-07-26 10:09] ansant commented on #3447
Any update on this?

[2018-07-26 15:26] palmerabollo opened #3558 "Executing a custom cloud-init script"
**Is this a request for help?**:
YES

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

---

**What version of acs-engine?**:
0.16.2+

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
I am not able to configure a custom script to be run on every new node in the cluster.

**What you expected to happen**:
I was expecting to h

[2018-07-26 16:37] khenidak opened #3561 "Kubernetes Component Configuration"
This is a place holder/request for moving acs-engine to use `component configuration` instead of `command line flags` for various `control plane including kubelet` components

The details upstream are there
https://github.com/kubernetes/features/issues/115

@jackfrancis @CecileRobertMichon

[2018-07-26 20:00] apeschel opened #3563 "testOutboundConnection fails if Google DNS is blocked."
**Is this a request for help?**:

I can create a quick patch, but review will be needed.

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

---

**What version of acs-engine?**:
Master (v0.20.2)

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes only.

**What happened**:
testOutboundConnection fails if the VNET has been configured to block DNS traffic to

[2018-07-26 20:37] jackfrancis commented on #3534
Hi @visokoo, this is the manifest we're currently using for 1.9 and 1.10 clusters:

https://github.com/Azure/acs-engine/blob/master/parts/k8s/addons/kubernetesmasteraddons-kube-dns-deployment.yaml

Do you see any obvious omissions or anything else fishy that would break your consul configuration? If so we'd love to incorporate changes that help your scenario!

@feiskyer who has worked in this area

[2018-07-26 20:54] jackfrancis commented on #3563
Hi @apeschel, thanks for the feedback.

In fact the test is meant to be a simple "does this cluster have access to the internet" sanity check.

At present, we don't have a reliable cluster deployment implementation that works if "outbound internet access" is not present on the VNET.

I agree that a port 53 connection against google DNS is somewhat clumsy as a stand-in for "the internet", but (1) t

[2018-07-26 20:54] #3563 closed

[2018-07-26 20:58] jackfrancis commented on #3558
Hi @palmerabollo. acs-engine doesn't have a super clean interface to do this, but we do have, shall I say, a functional one. See this example for an "extension" that installs prometheus and grafana.

That example demonstrates running the extension against an agent pool; you can specify in your api model that you want to attach to your master nodes as well (`masterProfile` accepts an `extensions` c

[2018-07-26 20:58] #3558 closed

[2018-07-26 21:00] jackfrancis commented on #3557
@Rickion Can you expand on what a PS DSC extension is?

[2018-07-26 21:02] jackfrancis commented on #3533
@gdbgit could you retry the original scale command? Given that acs-engine doesn't really provide cluster lifecycle/state enforcement, working around transient Azure errata is annoying and difficult in these cases. Generally, a scale/upgrade that fails in the way you describe can be retried a few times. If in fact the root cause issue is temporary Azure service disruption, the upgrade operation (wh

[2018-07-26 21:04] apeschel commented on #3563
@jackfrancis My counter argument would be that while acs engine does not have '... a reliable cluster deployment implementation that works if "outbound internet access" is not present on the VNET.', the access that is required to the internet does not include DNS to Google, and so the test is not reflective of the actual internet access required by the cluster.

Ideally this check should at least

[2018-07-26 21:04] visokoo commented on #3534
@jackfrancis, thanks for responding. The obvious ones that I see missing from that manifest are the ones I listed above under the dnsmasq section:
[code]
Upstream has: https://github.com/kubernetes/kubernetes/blob/753632d85b7639ffadb05eed3e49dbfbbd5360b6/cluster/addons/dns/kube-dns/kube-dns.yaml.base#L170

In the acs manifest, it looks like the change would need to be here: https://github.com/Azur

[2018-07-26 21:05] jackfrancis commented on #3528
@BIGPHATTOBY This is a known limitation of using many nodes in > 1 agentpool (i.e., the number of template variables scales linearly with nodes + pools)

You could try manually removing a nodepool after a cordon/drain, if that is possible given your current workloads, or reducing node count.

Again, this is a undesirable situation, sorry about that. Getting yourself out of it without building a ne

[2018-07-26 21:11] jackfrancis commented on #3563
@apeschel I understand your objection.

The purpose of that test is actually to be a guard against VNETs that have outbound internet access locked down. We are intentionally failing in this way, because we don't want to have to maintain a whitelist matrix of sane destinations, as you point out. Those destinations may be temporarily unavailable (we retry all of the docker image pulls, for example,

[2018-07-26 21:22] jackfrancis commented on #3534
@visokoo Thanks!

See:

https://github.com/Azure/acs-engine/pull/3564

Are you able to build from that PR branch and try a repro? (Or really, you could just `kubectl edit deployment -n kube-system` and manually add that add'l dnsmasq config setting)

Shall I assume that that add'l setting says "when you get an NXDOMAIN response (and perhaps other types of not found results) don't cache it"? Someth

[2018-07-26 21:56] kruthe01 opened #3568 "How to recover from out of sequence node names"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.16.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.10.2

**What happened**:
We have a cluster with two nodepools, one containing multiple cpu-only nodes, and one containing gpu nodes. The gpu nodepool had one node (named xxx

[2018-07-26 21:57] palmerabollo commented on #3558
Thanks @jackfrancis, could you please add the link to the example?

[2018-07-26 21:58] jackfrancis commented on #3558
whoops!

https://github.com/Azure/acs-engine/tree/master/extensions/prometheus-grafana-k8s

[2018-07-26 22:05] apeschel commented on #3563
@jackfrancis Thanks for your time, the explanation is much appreciated, and this choice makes sense to me now.

[2018-07-26 22:06] visokoo commented on #3534
@jackfrancis Sorry I wasn't clear, aside from adding the `--no-negcache` change, line 132 referenced in the `kube-dns-deployment.yaml` also needs to be edited to be `--server=/cluster.local/127.0.0.1#10053` or in the case of the file, it looks like needs to read from this parameter: `<kubernetesKubeletClusterDomain>` so the change would be:
`"--server=/<kubernetesKubeletClusterDomain>/127.0.0.1#10

[2018-07-26 22:13] jackfrancis commented on #3534
👌 PR updated, thanks for testing!

[2018-07-26 22:18] PaulCharlton opened #3571 "not able to deploy ACS templates to firewalled VNET"
**Is this a request for help?**:

This is not a request for help.  PR https://github.com/Azure/acs-engine/pull/3570 filed concurrently

**What version of acs-engine?**:

Commits to Master from June 1 2018 to July 26, 2019

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

tried with
1.8.11 -> 1.10.5

**What happened**:

The tests with `nc -v 8.8.x.x 53` use port 53, which is blocked by

[2018-07-26 23:07] visokoo commented on #3534
@jackfrancis Tested those settings on my cluster and resolution is working as expected.

Thanks for making the change! What's the ETA on this going out in the next release of acs-engine?

[2018-07-26 23:22] jackfrancis commented on #3534
Good to hear! Unfortunately shipping a new cluster w/ those changes (v1.8 at least) seems to have broken some functionality:

https://circleci.com/gh/Azure/acs-engine/37969?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

I'll run against other versions to see if this config has an affinity for certain k8s versions only.

Once we get a non-regressive implementati

[2018-07-27 01:36] visokoo commented on #3534
Thanks for the clarification!

Looks like you fixed the tests? https://circleci.com/gh/Azure/acs-engine/38014 =]

Looking forward to the patch and thanks again!

[2018-07-27 03:54] Rickion commented on #3557
Hi @jackfrancis , it's an extension for a single VM to help users to config. ([More details here](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/dsc-overview))

![image](https://user-images.githubusercontent.com/13317720/43300613-b953d0fa-9192-11e8-9640-c762406b2fd7.png)

And we can use ARM template to add it to a VM like [this](https://docs.microsoft.com/en-us/azure/virtual-ma

[2018-07-27 03:57] jackfrancis commented on #3534
Sorry to be the bearer of bad news, but that test run is against another PR 😝

If you have a chance, test a cluster using your api model config by building from the branch in PR #3564, let me know how that cluster looks!

[2018-07-27 07:21] dani07 opened #3572 "Node auto restart issue"
**Is this a request for help?**:

--- This is a request for help.

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

--- This is an ISSUE

**What version of acs-engine?**:

--- Commits to Master from May 1 2018 to May 15, 2018

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

--- Kubernetes version v1.10.2

**What happened**:

--- A Working node (VMSS) got restarted automaticall

[2018-07-27 13:12] Shuanglu commented on #3533
@jackfrancis I'm the SE looking into this case, so the workaround is to retry the scale operation again? When last time I had remote session with customer, their 1st operation is to scale up to 8 nodes but failed due to platform issue but after that they tried to scale to 16 nodes which returns success however due to the error in 1st operation, 'kubectl get nodes' cannot only find the nodes newly

[2018-07-27 14:11] eosfor opened #3574 "Question: cloud-init"
Hello colleagues, is cloud-init a hard dependency? I mean, it it a strict requirement for it to exist?

[2018-07-27 14:48] eosfor commented on #3547
Hi @jackfrancis, i tested this and it seems to work. I mean if you specify resourceGroup and name it seems picking up a VM image from them. What i'd also add is another parameter, like "SubscriptionID", so an image can be picked up from the different subscription.

[2018-07-27 14:58] eosfor commented on #3571
+1 to this. it is better to use something else, but not DNS for outbound connectivity testing

[2018-07-27 15:53] jackfrancis commented on #3547
Stand by @eosfor, we are working on something that may have utility for you. PR
https://github.com/Azure/acs-engine/pull/3536 is an example of the work we're doing to source from a custom OS image (pre-built w/ application binaries). That implementation could lead to future related feature that sources OS images (including from external RGs/VNETs) as a 1st class feature.

[2018-07-27 16:11] jackfrancis commented on #3534
@visokoo this PR, which includes the introduction of the dnsmasq flags you want to 1.11 kube-dns config, is being tested with the original static config:

https://github.com/Azure/acs-engine/pull/3373

i.e., `cluster.local`

I'll report back with test results. If things check out, I'll probably close #3564 and drive #3373 to completion. Thanks again for hanging in there!

[2018-07-27 16:12] jackfrancis commented on #3533
@Shuanglu it's worth a shot. I'm not sure there is a definitive workaround, but that's the first thing I'd try before moving onto more creative options.

[2018-07-27 16:19] Shuanglu commented on #3533
@jackfrancis but the 2nd operation didn't recreate the nodes newly created in the 1st failed operation which didn't get cse provisioned successfully. Shall we try to remove those nodes created in the 1st operation and retry the 2nd oprration？

[2018-07-27 16:19] huydinhle commented on #2971
@jackfrancis Deploying this deamonset indeed solves our problem with our new pod coming up, and network within the pod didn't get configured correctly ( can't talk to other pods at all, can't query dns name).

However, since this affect our production cluster for the last 2 weeks, can you give me an explanation on why this daemonset help?

Thank you

[2018-07-27 16:23] jackfrancis commented on #2971
@sharmasushant @nisheeth-ms can better explain what the azure CNI monitor daemonset does exactly (and what it doesn't do!)

[2018-07-27 18:13] sukrit007 commented on #2971
I keep running into this issue and lookiong into vnet logs I see:
[code]

Here is output of etables
[code]

[2018-07-27 18:47] lachie83 opened #3576 "Add k8s upstream conformance tests to e2e suite"
**Is this a request for help?**: yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Feature

---

**What version of acs-engine?**: all

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** Kubernetes

**What happened**:

Itegrate sonobuoy k8s conformance tests into e2e suite

**What you expected to happen**:

All k8s versions pass

**How to reproduce it** (as minimally a

[2018-07-27 18:49] sharmasushant commented on #2971
@huydinhle  This is a self healing monitor. It is possible in failure scenarios that CNI was not able to cleanup the state properly. e.g., CNI binary crashes in the middle due to permission/out of memory/ something else. This monitor detects any leftover state and cleans it up. The functionality will be built in the CNI itself in the comin releases. So, the monitor is only temporary and will event

[2018-07-27 23:03] sukrit007 commented on #2971
Even after the patch,  I am seeing occasional issues in DNS logs:

```skydns: failure to forward request "read udp xx.xx.xx.xx:42382->xx.xx.xx.xx:53: i/o timeout"```

[2018-07-27 23:57] jjjordanmsft opened #3580 "Cross-compile from Linux fails"
**Is this a request for help?**:
No

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue

**What version of acs-engine?**:
This seems to have broken in commit `b2724579cef7fcde2bfd2f123f37b9721f36dcae` (tagged `v0.20.1-rc.1`)

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
N/A

**What happened**:
When cross-compiling from `devenv.sh`, I get this error, repeated several

[2018-07-28 15:06] #2999 closed

[2018-07-28 15:06] #3534 closed

[2018-07-30 08:19] karataliu opened #3583 "Kubernetes containerd runtime should cater kubernetesPodInfraContainerSpec flag"
**Is this a request for help?**:
Currently when using containerd runtime, kubernetesPodInfraContainerSpec is ignored. since pod-infra-container-image is for docker runtime only.

Reference:
https://github.com/kubernetes/kubernetes/issues/55676
https://github.com/kubernetes/kubernetes/issues/62388
---

Should also update `sandbox_image` in '/etc/containerd/config.toml'

**Is this an ISSUE or FEATUR

[2018-07-30 12:06] okke-formsma commented on #3102
We are unfortunately running into the same problem. Any workarounds/solutions?

I'm considering deploying a new agentpool when we have to scale up, as that does not run into this issue

[2018-07-30 14:45] dennis-benzinger-hybris commented on #2051
I don't have a cluster at hand to test with so take the following with a grain of salt :-).

1. Open the load balancer in the azure portal
2. Go to "Load balancing rules"
3. See that the rule has no information in the "Health Probe" column.
4. Open the rule
5. Choose the already existing health probe in field "Health probe".
6. Save and wait a minute for the change to apply.

You could also script

[2018-07-30 14:52] SuperMarioo commented on #2051
Thanks , I have fixed ARM Template to include health probe in the rule .

The need to fix it in Acs-engine .

[2018-07-30 20:55] CecileRobertMichon commented on #3337
@saromba no update yet, I wasn't able to repro and then went on vacation. I'll try to give it another look this week. Did you by any chance scale or upgrade your cluster previously? Or was this cluster in its original state when you attempted to scale?

[2018-07-30 21:02] daschott commented on #3225
/assign @PatrickLang

[2018-07-30 21:13] CecileRobertMichon commented on #3062
@sshepel our tests suggest that VMSS is working on the latest acs-engine version, can you give more details regarding what exactly is not working / what error message you are getting / with what apimodel?

[2018-07-30 21:43] CecileRobertMichon commented on #3062
@sshepel this is a separate issue, you are trying to modify an existing cluster using a different  template than it was created with. You should either a) create a new cluster using a dns prefix / name b) use `acs-engine upgrade` or `scale`  if you are trying to change an existing cluster or c) re-deploy using the `az group deployment create` command but without re-generating the template file or

[2018-07-31 09:01] sylr commented on #3546
I've not be abled to fix the issue by tuning the kube-dns pod configuration.

I however have been able to determine that the 5s timeouts occur when the resolutions comes from a kube-dns pod hosted on a different agent that the pod the requests have been forwarded to.

[2018-07-31 21:48] tamilmani1989 opened #3594 "Kube scheduler fail to run in windows cluster sometimes"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.20.3
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes - 1.10

**What happened**:

**What you expected to happen**:

**How to reproduce it** (as minimally and precisely as possible):

**Anything else we need to know**:

[2018-07-31 22:47] tamilmani1989 commented on #3594
also i didn't see kube dns and kube proxy pods running on any node

[2018-08-01 00:07] tamilmani1989 commented on #3594
There is some problem with my serviceprincipal id ..I recreated it and it worked.

[2018-08-01 01:21] JJir opened #3596 "SandboxChanged - Pod sandbox changed, it will be killed and re-created recurring pod won't start"
**Is this a request for help?**:
Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

---

**What version of acs-engine?**:
0.19.1

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
v1.11.0

**What happened**:

Series of events:
Cluster created 11 days ago.
Running single pod  with single container hosting asp.net core 2.1 web server and running additional proces

[2018-08-01 09:51] dennis-benzinger-hybris opened #3599 "No release notes for v0.20.0"
There are no release notes in v0.20.0: https://github.com/Azure/acs-engine/releases/tag/v0.20.0

[2018-08-01 12:36] xukai286 commented on #1919
we need this feature. thank you

[2018-08-01 12:52] feiskyer commented on #1919
We are working on upstream kubernetes for this feature. See https://github.com/kubernetes/features/issues/586.

[2018-08-01 14:29] Shuanglu commented on #3533
@jackfrancis I tried to reproduce the issue recently. I guess the node count was recorded in somewhere. When the 1st scale up operation failed, it created the node VM and node count was increased but  due to cse didn't get executed, the data in k8s didn't change. This makes the following operation like scale down will fail to cordon the failed node and scale up will ignore the failed node. Any ide

[2018-08-01 16:52] vangarp commented on #2956
Hey guys, any workaround for this for k8s 1.8.7? I tried running a daemonset which did called nvidia-modprobe -u -c0, but that does nothing and just exits silently.
ACS engine version we are using is: v0.15.2

[2018-08-01 16:54] CecileRobertMichon commented on #3599
@jackfrancis is working on it, thanks for you patience

[2018-08-01 21:11] jackfrancis opened #3601 "better acceleratedNetworking whitelist"
We have a static whitelist introduced here:

https://github.com/Azure/acs-engine/pull/3600

One way to make this better would be to incorporate az output parsing using this script:

pkg/acsengine/Get-AzureConstants.py

Or, even better, figure out an API we can call to determine up-to-date per-VM support.

[2018-08-02 08:36] sshepel commented on #3062
@CecileRobertMichon I'm sorry, I just want to provide the log error (because it was the same for me) not the command.

I faced with this problem duding executing `az group deployment create` command for updating the cluster... And looks like when cluster was deployed with `"useManagedIdentity": true` and you wan to re-deploy some node pool (for example without `"scaleSetPriority": "Low"`) the role

[2018-08-02 09:17] ams0 commented on #2627
I was trying to do this on 1803, and I got:

[code]

Do you know if Hyper-V is disabled on 1803 by default? I can't get it to work even after I give the powershell command:

[code]
and reboot (hyperv is already installed).

[2018-08-02 12:17] oivindoh commented on #3393
You can resolve this by editing and applying /etc/kubernetes/addons/calico-daemonset.yaml on your masters to remove or comment out the lines starting with `description:`, or wait for #3602 to be included in a future release.

[2018-08-02 14:14] kovszilard commented on #3479
https://github.com/Azure/acs-engine/pull/3373 fixed the issue

[2018-08-02 14:14] #3479 closed

[2018-08-02 15:02] PatrickLang commented on #2627
What vm sku did you use? It's only on some sku like dv3 and ev3. Maybe f but I'm not 100%

[2018-08-02 16:27] karlmutch opened #3603 "GPU Nodes are not provisioned with the nvidia.com/gpu attribute inside the westus2 region"
**Is this a request for help?**:
---
Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
---
Issue

**What version of acs-engine?**:
---
acs-engine version
Version: v0.19.5
GitCommit: c8feb6ce
GitTreeState: clean

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.10

**What happened**:
ND6s machines in one region, westus2, do not have the nvidia.com/gpu resource on

[2018-08-02 16:30] CecileRobertMichon commented on #3574
Hi @eosfor, could you please clarify your question? I'm not sure I understand what you mean. Why would you not want cloud-init? We mostly use it to write files to VMs and run a few commands on boot but would definitely be open to hearing about any alternatives you might be thinking about.

[2018-08-02 16:34] eosfor commented on #3574
Sure, for example because of some corporate policies. Everything which is not corporate-based is prohibited. Say you got an image in the cloud which comes from corporate image repo and the only thing that is different in it compared to the internal image is azure agent. smth like that

[2018-08-02 18:47] ams0 commented on #2627
Interestingly, DS3_v2 didn't work, but Ex_v3 does it. Time to write a blog post about this findings..

[2018-08-02 18:55] #3393 closed

[2018-08-02 23:43] CecileRobertMichon commented on #3466
So it looks like this was actually never implemented from k8s... https://github.com/Azure/acs-engine/pull/2004. I'm working on something in parallel for using custom VHDs with Linux + k8s, it should be easy to add to Windows + k8s as well.

[2018-08-03 00:30] paulbouwer commented on #2627
@ams0 - You will need one of the nested virtualisation VMs (**Dv3 or Ev3**) as per the comment by @PatrickLang. A DS3_v2 is not a nested virtualisation capable VM.

Have a look at [ #3246 - Windows kubelet defaults are mistakenly applied to Linux agents](https://github.com/Azure/acs-engine/issues/3246) - I think there are still issues running this setup currently.

Nested Virtualisation VMs:
- [Ne

[2018-08-03 03:50] sozercan commented on #3190
This should be fixed with #3181 in acs-engine release v0.20.5 and higher. Please re-open if you are still experiencing this issue.

[2018-08-03 03:50] #3190 closed

[2018-08-03 04:12] jackfrancis commented on #3599
+1 to thanks for patience

[2018-08-03 04:12] #3599 closed

[2018-08-03 17:29] ritazh opened #3609 "VMSS support for k8s masters"
This is a prereq for #3453.

[2018-08-05 12:46] galniv1 opened #3615 "azure-cni-networkmonitor and kube-proxy getting the same ip addresses"
**Is this a request for help?**:

---yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

---issue

**What version of acs-engine?**:

---v0.20.2

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
kubernetes

**What happened**:
azure-cni-networkmonitor got the same ip address as kube-proxy

**What you expected to happen**:
both of them having the same ip addresses eliminates the

[2018-08-05 17:36] sharmasushant commented on #3615
This is not brewing. Both of them use host networking. There should not be any issue here. Is there an issue other than both getting same ip? Can you elaborate a bit on what communication you are trying with these pods?

[2018-08-06 01:38] poirot007 commented on #3596
The pod went into an error state soon after it was created.
Events that happened:
1. Cluster was created
2. Single pod with an image based on windows 1709 was created.
3. The container was created successfully and it was running
4. Connected a browser to the external ip
5. Pod restarted.
6. Reason was sandbox changed and it was killed and restarted.
7. Pod restarted twice before going into an erro

[2018-08-06 15:17] kosta709 commented on #1938
yes, it works much slower and unstable with "acceleratedNetworkingEnabled": true than with false
I see it on launching Ceph using https://github.com/rook/rook

also looks like requests to ClusterIP service including dns and kubernetes api have a big latencies

[2018-08-06 16:40] daniloreis-cit opened #3616 "VMSS Instances been Manual Upgrading by Service Principal user, not Administrator user."
**Is this a request for help?**: YES

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**:
Version: v0.18.1
GitCommit: b95304ff4
GitTreeState: clean

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes

**What happened**:

I've create a cluster using the acs-engine changing only the custom vnet configuration, letting the

[2018-08-06 20:48] sharmasushant commented on #2971
by patch, do you mean the cni monitor?
how occasional? Is the issue only in logs, or do you see it surfaced to your application?

[2018-08-07 00:04] poirot007 commented on #3596
The logs I got from the pod are :
[docker.log](https://github.com/Azure/acs-engine/files/2264484/docker.log)
[kubelet.log](https://github.com/Azure/acs-engine/files/2264485/kubelet.log)

[2018-08-07 06:44] birdemily opened #3621 "Can't ensure loadbalance when using vmss"
**Is this a request for help?**:yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):issue

---

**What version of acs-engine?**:V0.20.2

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** Kubernetes v1.10.6

**What happened**:

when I create Loadbalancer on the cluster. It will failed with below error:

Normal   EnsuringLoadBalancer        25m (x18 over 1h)   service-con

[2018-08-07 07:16] poirot007 commented on #3596
I have seen the same problem mentioned in my previous comment. i.e the pod went into an error state soon after it was created.  The logs from the pods are :
[docker.log](https://github.com/Azure/acs-engine/files/2265396/docker.log)
[kubelet.log](https://github.com/Azure/acs-engine/files/2265397/kubelet.log)

[2018-08-07 15:06] UnwashedMeme commented on #3409
I think #3394 is the root cause of this. When using `containerd` as the runtime it doesn't set the sysctl `net.ipv4.ip_forward` without that a bunch of the dependent workloads don't function properly.

docker the package had been doing that, but without that installed (using containerd) it isn't set and things fail

[2018-08-07 15:46] UnwashedMeme opened #3622 "acs-engine upgrade fails with `containerd` runtime"
**Is this a request for help?**:
No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

---

**What version of acs-engine?**:
Version: v0.20.4

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.11.0 -> 1.11.1

**What happened**:
`acs-engine upgrade ...` deployment operation failed, deployment details in Azure reports

That looks like it might be `ERR_K8

[2018-08-07 16:35] CecileRobertMichon commented on #3571
fixed in #3570

[2018-08-07 16:35] #3571 closed

[2018-08-07 19:12] PatrickLang commented on #3596
Can you log into the Windows nodes directly and look for errors in `c:\k\kubelet.err.log` ? Those logs are attached from the Linux node, not the Windows node running the container.

Also - after the failure, what's the free disk space on c:? I'm wondering if the asp.net container logs are filling up the disk and causing failures.

[2018-08-07 19:35] PatrickLang commented on #3246
Finally resuming work on this one :)

[2018-08-07 20:04] weinong opened #3624 "upgrade kube-dns version"
**Is this a request for help?**:

---
https://github.com/Azure/AKS/issues/445
Based on ^^ customer wants to have a newer kube-dns in AKS.

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

---

**What version of acs-engine?**:

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

**What happened**:

**What you expected to happen**:

**How to reproduce it** (as minimally and pre

[2018-08-07 20:57] jamoham opened #3625 "kube-dns pods keep crashing"
**Is this a request for help?**:
YES
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.12.3
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.7.9

**What happened**:
DNS issues in the cluster - `kube-dns` pods keep crashing and need to be explicitly restarted.
Frequency of issue: 1-2 times per week

**What you ex

[2018-08-07 21:13] jackfrancis commented on #3625
@jamoham are you seeing the dnsmasq max concurrency errors exactly during the time that kube-dns is crashing?

[2018-08-07 21:46] poirot007 commented on #3596
Hi Patrick,

When you say log into the windows nodes directly, do you mean remote desktop to the master VM and then get the err.log?  Do you have a set of steps that I can go through to get this log? Thanks for your help.

[2018-08-07 22:29] jamoham commented on #3625
@jackfrancis
We have lost the logs from the crashed pod as we restarted it - so I am unable to confirm that they occur exactly at the time of crash but they occur in the same time range (I will definitely check this the next time the pod crashes)

[2018-08-08 00:25] ryanlovett commented on #2016
I'm having the same problem while deploying [JupyterHub](https://zero-to-jupyterhub.readthedocs.io/en/latest/index.html).

ACS Engine: 0.20.6
Kubernetes: 1.10.6
Azure: westus2

[2018-08-08 04:47] poirot007 commented on #3596
Hi Patrick,
Have managed to get the kubelet.err.log :
[kubelet.err-20180801T001658.151.log](https://github.com/Azure/acs-engine/files/2268940/kubelet.err-20180801T001658.151.log)

The free disk space on c:  12,117,385,216 bytes

[2018-08-08 14:33] joelsjolly commented on #2016
I"m having same problem (external IP is pending), deploying the BookInfo sample (Istio)
ACS Engine v0.18.8
Kubernetes 1.10.3
Azure eastus

[2018-08-08 16:03] UnwashedMeme commented on #3622
I think this might have been related to creating them with acs-engine 0.19.x and upgrading them with 0.20.4. Not sure.

[2018-08-08 16:03] #3622 closed

[2018-08-08 16:30] CecileRobertMichon commented on #1221
This was implemented in #3011

[2018-08-08 16:30] #1221 closed

[2018-08-08 16:32] CecileRobertMichon commented on #1938
https://github.com/Azure/acs-engine/pull/3011

[2018-08-08 16:32] #1938 closed

[2018-08-08 16:32] CecileRobertMichon commented on #2199
https://github.com/Azure/acs-engine/pull/3011

[2018-08-08 16:32] #2199 closed

[2018-08-08 18:29] jsturtevant opened #3632 "Improve Windows node e2e tests for K8"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): FEATURE REQUEST

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

Improve e2e tests for Windows containers.  After talking with @PatrickLang around DNS issues, I did a review of the e2e tests for windows containers and notice a quite a few missing scenarios.  Opening this P

[2018-08-08 18:32] jsturtevant commented on #3632
@PatrickLang could you assign me to this issue

[2018-08-08 20:18] PatrickLang opened #3636 "acs-engine should validate Windows username & password in apimodel to avoid failing a deployment later"
**Is this an ISSUE or FEATURE REQUEST?** (choose one): Feature

---

**What version of acs-engine?**: v0.20.* and earlier

---

Azure has extra requirements on VM password & username. If they're not met - `acs-engine generate` will succeed, but then `az group deploy` will fail after waiting a few minutes. Fail fast!

Windows VM [username](https://docs.microsoft.com/en-us/azure/virtual-machines/win

[2018-08-08 20:34] shanalily commented on #2362
/assign @shanalily

[2018-08-08 20:45] ryanlovett commented on #2016
After some MS folks pointed me at a [virtual-kubelet/LoadBalancer issue](https://github.com/virtual-kubelet/virtual-kubelet/issues/41), I tried modifying our azuredeploy.parameters.json, changing kubernetesACIConnectorSpec from "microsoft/virtual-kubelet" to "microsoft/". After deploying the agents and installing our helm chart, our LoadBalancer was able to get a public IP.

Theoretically this sho

[2018-08-08 21:37] PatrickLang commented on #3130
https://blogs.msdn.microsoft.com/kennethteo/2018/07/26/aks-with-aad/ hmm this shows a binding based on an AAD user. might work with acs-engine

[2018-08-08 22:33] mhyllander opened #3638 "CSE on agent pool node fails when configuring azure-cni-networkmonitor"
**Is this a request for help?**: Maybe

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: v0.19.0 - v0.20.6

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: kubernetes 1.11.0, 1.11.1

**What happened**:
The CSE that configures the agent pool node(s) fails with exit code 4.

**What you expected to happen**:
Cluster deployment

[2018-08-09 05:03] PatrickLang opened #3643 "Windows DNS search suffix list is incomplete"
**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: all

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes

**What happened**:

On Windows, the DNS search suffix list only contains the pod namespace. If a service is exposed in another namespace, it can only be resolved using a FQDN. The default and kube-system namespaces a

[2018-08-09 07:12] poirot007 commented on #3596
I have tried reproducing the scenario and again the pod went into an error state. The logs are :
[logsFromPod_9-8-18.zip](https://github.com/Azure/acs-engine/files/2273132/logsFromPod_9-8-18.zip)

[2018-08-09 13:33] sylr commented on #3546
https://github.com/Azure/azure-container-networking/issues/222

@jackfrancis @CecileRobertMichon  As you are in house could you ask the "right" people about that ?

[2018-08-09 15:49] CecileRobertMichon commented on #3546
@sylr thanks for reporting we are currently investigating with the accelerated networking team

[2018-08-09 15:50] jackfrancis commented on #3546
Thanks very much for doing some root cause correlation here, will report back!

[2018-08-09 17:29] karlmutch opened #3645 "GPU instances provisioned in the eastus region never move from the FailedScheduling state and remain unavailable"
**Is this a request for help?**:
---
Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
---
Issue

**What version of acs-engine?**:
---
acs-engine version
Version: v0.19.5
GitCommit: c8feb6ce
GitTreeState: clean

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.10

**What happened**:
ND6s machines in one region, eastus, have the nvidia.com/gpu resource on their k8

[2018-08-10 02:05] poirot007 commented on #3596
I tried reproducing the scenario on a VM with better spec (Standard_DS3_V2) and again ran into the same problem.

[2018-08-10 08:46] poirot007 commented on #3596
Have tried the same scenario with the following configurations :
ACS Engine version : Acs-Engine 0.20.7
VM : DS3_V2
OSDisk Size : 2TB

Status : When I executed the same scenario, the pod restarted and the client wasn't able to display the graphics. The pod went into an error state after 6 restarts.

![image](https://user-images.githubusercontent.com/42057935/43947111-8dd10c34-9cca-11e8-9b98-c79d74

[2018-08-10 16:18] neurot1cal opened #3654 "Unable to pull images from ACR: Error response from daemon: Get https://foo.azurecr.io/v2/platform/identity-user/manifests/master-07eeda3: unauthorized: authentication required"
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

**What version of acs-engine?**:

v0.19.5

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes 1.11.1

**What happened**:

When pulling images that we can successfully push in our Jenkins pipeline, we're getting the following error;

[code]

We are able to push this image from

[2018-08-10 16:31] SteveCurran opened #3655 "Kubelet unexpectedly shutting down on windows nodes"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
19.5
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.11

**What happened**:
Periodic stopping of kubelet on windows nodes. Kubelet stops posting node status. Kuberenet
es starts draining and restarting pods on other nodes going

[2018-08-10 18:18] jt55401 commented on #2845
This was happening to me as well and adding ip-configs seems to have helped so far.
Is there an easier way to add lots of ip-configs to a nic?

I ended up just calling this over and over again, increment my name by one each time, but it was slow...

```az network nic ip-config create -g XXX --nic-name YYY --name ipconfig37```

[2018-08-10 18:44] navicore commented on #3015
getting this on 0.20.7 for a config that works in 0.18.8

I've paired the config down as far as I can go to get it under the 256 in 0.18.  but 0.20.7 generates 261 variables with the same script.  had to roll back to 0.18 for now.

[2018-08-10 18:45] jackfrancis commented on #3015
@navicore https://github.com/Azure/acs-engine/pull/3649 will fix things

[2018-08-10 20:42] #1509 closed

[2018-08-10 23:26] jackfrancis commented on #3528
Fixed with #3649

[2018-08-10 23:26] #3528 closed

[2018-08-10 23:39] jackfrancis commented on #2393
Fixed with #3649

[2018-08-10 23:39] #2393 closed

[2018-08-10 23:39] jackfrancis commented on #3325
Fixed with #3649

[2018-08-10 23:39] #3325 closed

[2018-08-11 04:08] #3246 closed

[2018-08-12 02:48] andyzhangx commented on #3654
## pull image error after granting sp access to azure acr
**Fix**
 - PR [fix acr could not be listed in sp issue](https://github.com/kubernetes/kubernetes/pull/66429)

| k8s version | fixed version |
| ---- | ---- |
| v1.7 | no fix |
| v1.8 | no fix |
| v1.9 | in cherry-pick |
| v1.10 | 1.10.7 |
| v1.11 | 1.11.2 |
| v1.12 | 1.12.0 |

**workaround**
 - wait for at most 2 hours, let service principa

[2018-08-13 11:52] lunarfs commented on #543
So the issue with the above solution is that /mnt might not point to the ephermal disk when the container starts.  The ephermal disk is handled by waagent and for instance when you are moved to a new physical node during reboot or maintenance of the underlaying hardware, you will be assigned new ephermal space, waagent does partition creation and formating of this new space, processes that all tak

[2018-08-13 13:04] SuperMarioo opened #3662 "Unable to remove heapster ,dns addson from deployment"
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

**What version of acs-engine?**:

16.1

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 10.2

**What happened**:
I'm trying to remove heapster and dns .

**What you expected to happen**:

Heapster and dns should not get deployed .

**How to reproduce it** (as minimally and

[2018-08-13 17:18] CecileRobertMichon opened #3663 "Missing VM tags results in failed kubernetes upgrade and scale"
Upgrade and scale should not rely on VM tags to determine k8s version during upgrade as those could easily be removed or modified.

https://github.com/Azure/acs-engine/blob/master/pkg/operations/kubernetesupgrade/upgradecluster.go#L200

https://github.com/Azure/acs-engine/blob/master/cmd/scale.go#L225

[2018-08-13 17:38] CecileRobertMichon commented on #3636
Where to do this: https://github.com/Azure/acs-engine/blob/master/pkg/api/vlabs/validate.go#L828

[2018-08-13 20:31] CecileRobertMichon commented on #3662
Hi @SuperMarioo, this is by design. The heapster and kube-dns are required for cluster health and functionality and cannot currently be removed. For a list of currently supported configurable addons see https://github.com/Azure/acs-engine/blob/master/docs/clusterdefinition.md#addons.

[2018-08-13 20:31] #3662 closed

[2018-08-13 20:45] CecileRobertMichon commented on #3638
@mhyllander thanks for reporting! Could you please share the last few lines from /var/log/azure/cluster-provision.log?

[2018-08-13 20:48] CecileRobertMichon commented on #3645
Related to https://github.com/Azure/acs-engine/issues/3603

[2018-08-13 20:53] CecileRobertMichon commented on #3574
@eosfor I would say that today, cloud-init is a dependency in acs-engine and is required for cluster deployments.

[2018-08-13 20:53] #3574 closed

[2018-08-13 20:58] CecileRobertMichon commented on #3557
See https://github.com/Azure/acs-engine/blob/master/docs/extensions.md

[2018-08-13 21:02] CecileRobertMichon commented on #3502
Duplicate of https://github.com/Azure/acs-engine/issues/3563, fixed with https://github.com/Azure/acs-engine/pull/3570

[2018-08-13 21:02] #3502 closed

[2018-08-13 21:03] no-stupid-questions opened #3666 "acs-engine deploy is missing kube-proxy on windows node"
**Is this a request for help?**:

yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

issue
**What version of acs-engine?**:

Version: v0.20.8
GitCommit: 5d847c195
GitTreeState: clean

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
kubernetes v1.10.6

**What happened**:
Deployed a hybrid  cluster of 3 linux nodes and one windows node into a custom Vnet. The deployment procce

[2018-08-13 21:04] #3458 closed

[2018-08-13 21:37] CecileRobertMichon commented on #3645
@karlmutch looks like this was fixed in [0.20.0](https://github.com/Azure/acs-engine/releases/tag/v0.20.0)

[2018-08-13 21:37] #3645 closed

[2018-08-13 21:39] CecileRobertMichon commented on #3603
This was fixed in [0.20.0](https://github.com/Azure/acs-engine/releases/tag/v0.20.0)

[2018-08-13 21:39] #3603 closed

[2018-08-13 22:00] jasonshortphd commented on #3596
@PatrickLang any theory on things they can keep trying?
@poirot007 any way to build a smaller in scope sample to repro the issue?  Trying different containers, or different apps on the container?

[2018-08-13 22:17] PatrickLang commented on #3596
I do see some network failures that weren't handled correctly. ACS-Engine 0.20.9 fixes some known errors and also fixes error handling https://github.com/Azure/acs-engine/pull/3667. It should be out later today. It would be worth redeploying with that release as the next step in the investigations.

The other thing I'm doing is adding some more logs to my [log collection tool](https://github.com/p

[2018-08-14 00:04] poirot007 commented on #3596
@jasonshortphd
As suggested by @paulbouwer and @PatrickLang  , I will test the following 2 sets of configurations and then update the status of this issue :
**Configuration 1 :**
ACS Engine (0.20.9)
VM : DS3V2
OSDiskSize : 1023GB
Windows 1709 Image

**Configuration 2**
ACS Engine (0.20.9)
VM : DS3V2
OSDiskSize : 1023GB
Windows 1803 Image

[2018-08-14 01:07] PatrickLang commented on #3447
This fix is available in ACS-Engine now:
https://github.com/Azure/acs-engine/releases/tag/v0.20.9

If you hit a problem on the new version - can you open a new issue with logs?

Thanks!

[2018-08-14 01:07] #3447 closed

[2018-08-14 01:07] PatrickLang commented on #3153
This fix is available in ACS-Engine now:
https://github.com/Azure/acs-engine/releases/tag/v0.20.9

If you hit a problem on the new version - can you open a new issue with logs?

Thanks!

[2018-08-14 01:07] #3153 closed

[2018-08-14 03:36] Rickion commented on #3557
I have read this article before. But it seems too complicated for my scenario. So I wrote my own python script to insert resources into azuredeploy.json. Easy for me.

Closing this since having no more requests.

[2018-08-14 03:36] #3557 closed

[2018-08-14 04:09] poirot007 commented on #3596
Tested with the following configuration :
Configuration 1 :
ACS Engine (0.20.9)
VM : DS3V2
OSDiskSize : 1023GB
Windows 1709 Image

When I connected 1 client, the pod restarted and went into an error state and then immediately recovered. I then connected a few more clients and the pod again went into an error state and then recovered.
Screenshot :
![image](https://user-images.githubusercontent.com/

[2018-08-14 04:31] poirot007 commented on #3596
Tested with the following configuration :
Configuration 1 :
ACS Engine (0.20.9)
VM : DS3V2
OSDiskSize : 1023GB
Windows 1803 base Image with our latest code changes.
The pods have been running without any issue for the last 1 hour.

[2018-08-14 12:15] mhyllander commented on #3638
@CecileRobertMichon I've reproduced the error, using acs-engine v0.20.7.

The final lines of /var/log/azure/cluster-provision.log on the agent pool node are:

[code]

[code]

[code]

[code]

[code]

As you see the sed command is trying to modify /etc/kubernetes/addons/azure-cni-networkmonitor.yaml, but the /etc/kubernetes/addons/ directory doesn't exist on the agent pool node.

I think the problem

[2018-08-14 13:06] mhyllander commented on #3638
I have a question as well: is there a reason why azure-cni-networkmonitor is deployed as a DaemonSet on worker nodes only? Why isn't it running on the master nodes as well, since I assume they too have network configuration that might need cleaning up?

[2018-08-14 15:55] PatrickLang commented on #3174
@ritazh - these are probably needed for Linux conformance too. Can you take a look?

[2018-08-14 15:56] PatrickLang commented on #3500
@ritazh - this one also probably impacts Linux conformance tests

[2018-08-14 15:58] PatrickLang commented on #3500
there's no way to enable this in the apimodel - should fix this sooner rather than later

[2018-08-14 15:58] CecileRobertMichon commented on #3638
@jackfrancis this might be a bug from https://github.com/Azure/acs-engine/pull/3198

[2018-08-14 16:51] neurot1cal opened #3669 "Unable to upgrade acs-engine Kubernetes cluster from 1.11.1 > 1.11.2 using v0.20.9; 'The number of template variables limit exceeded. Limit: '256' and actual: '259'."
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

**What version of acs-engine?**:

v0.20.9

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes 1.11.1 > 1.11.2

**What happened**:

When attempting to upgrade the cluster using `acs-engine upgrade`, the deployment fails upgrading master-0;

[code]

**What you expected to happe

[2018-08-14 16:52] neurot1cal commented on #3654
@andyzhangx Tried to upgrade cluster from 1.11.1 > 1.11.2; https://github.com/Azure/acs-engine/issues/3669

[2018-08-14 17:27] neurot1cal opened #3670 "Unable to upgrade acs-engine Kubernetes cluster from 1.11.1 > 1.11.2 using v0.20.9; Subnet GatewaySubnet is in use and cannot be deleted."
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

**What version of acs-engine?**:

master (36aa21cb)

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes 1.11.2

**What happened**:

When attempting to `acs-engine upgrade` the upgrade errors out because of the existance of a Gateway Subnet. This subnet is required for a VPN G

[2018-08-14 17:50] PatrickLang commented on #3666
kube-proxy is run on the host, and won't show up in `docker ps` or `kubectl get pod` output for Windows nodes.

[2018-08-14 17:51] CecileRobertMichon commented on #3669
#3649 fixes this

[2018-08-14 17:51] #3669 closed

[2018-08-14 20:16] jackfrancis commented on #3638
@mhyllander It's definitely a bug that there's a reference to the addons directory in the agent kubelet.sh

[2018-08-14 20:31] jackfrancis commented on #3638
@mhyllander In theory, you're right that the value of that daemonset is applicable on master nodes, but by default acs-engine-built clusters don't ship w/ schedulable masters. Will address as well.

[2018-08-14 23:44] neurot1cal commented on #2989
@andyzhangx Do you know how long we can expect a normal PV mount to take? Just spun up a branc new 1.11.2 cluster using latest acs-engine and the pod never comes up because the pod has unbound PersistentVolumeClaims;

[code]

Any ideas?

[2018-08-15 00:03] lachie83 commented on #2956
The current mitigation is to add the module and restart kubelet.

[code]

[2018-08-15 00:15] vangarp commented on #2956
Thanks will give it a try!

[2018-08-15 00:48] andyzhangx commented on #2989
@neurot1cal The disk mount time cost is expected to complete within 1 min, while your case is the PVC disk creation costs a lot of time. You may run "kubectl describe PVC jenkins" to get more details.

[2018-08-15 03:29] karataliu opened #3677 "EnableEncryptionWithExternalKms does not support sovereign cloud"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

**What version of acs-engine?**:
v0.20.3

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
k8s 1.11

**What happened**:
Error reported:
failed to get vault, error: failed to get vault, error: keyvault.VaultsClient#Get: Failure responding to request: StatusCode=404 -- Original Error: autorest/azure: Service returned an error.

[2018-08-15 14:53] neurot1cal commented on #2989
@andyzhangx seems to be fine;

[code]

[2018-08-15 16:11] ritazh commented on #3677
@karataliu To clarify, what is the value of `"cloud":""` in your azure.json. For example, in mine it is set to `"cloud":"AzurePublicCloud"`

[2018-08-15 17:06] #3615 closed

[2018-08-15 17:07] #3666 closed

[2018-08-15 17:10] #3487 closed

[2018-08-15 18:52] ankurchoubeymsft opened #3678 "Support AcceleratedNetworkingEnabled for Windows-based Agent pools"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: latest (0.20.9)

---

As part of accelerated networking support (PR https://github.com/Azure/acs-engine/pull/3011), enableAcceleratedNetworking setting does not take any effect if the agent pool is of osType=Windows. It seems that the files kuberneteswinagen

[2018-08-15 22:56] ritazh opened #3681 "kube-scheduler is never created using k8s 1.12 and vmss"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

**What version of acs-engine?**:
master commit 1ade2f3

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
k8s 1.12

**What happened**:
Created a new cluster with acs-engine master 1ade2f3 using k8s 1.12 and VMSS resulting in a cluster that does not have kube-scheduler. `docker ps -a` does not show kube-scheduler container eve

[2018-08-16 01:58] karataliu commented on #3677
In azure.json we have correct value set there, tested with
"cloud":"AzureChinaCloud".
The cluster functions well except for the external kms part

[2018-08-16 06:45] feiskyer commented on #3681
azure cloud provider hits rate limits for instance metadata. And it seems this is not clear documented.

Filed https://github.com/kubernetes/kubernetes/pull/67478 in upstream to reduce this.

[2018-08-16 11:44] sylr commented on #3546
@jackfrancis @CecileRobertMichon Any word from the accelerated networking team ? Did they confirm that it does bypass the routing tables ?

[2018-08-16 13:16] aheumaier commented on #1919
@feiskyer Is this still valid ? or merged now ?

[2018-08-16 13:31] feiskyer commented on #1919
@aheumaier yep, k8s part has been merge now. #3453 is working on acs-engine part.

[2018-08-16 18:27] CecileRobertMichon opened #3689 "Automate process of pushing new acs-engine releases to"
We should add a VSTS pipeline (or other CI) to automate building and pushing the new acs-engine version images to https://hub.docker.com/r/microsoft/acs-engine/tags/.

Instructions for updating the Docker image:

-  https://github.com/Azure/acs-engine/blob/master/releases/README.Dockerfile.md

- Push to https://hub.docker.com/r/microsoft/acs-engine/tags/

On Windows:
[code]

[2018-08-16 18:29] CecileRobertMichon commented on #510
Closing as we are no longer running kubelet inside a container.

[2018-08-16 18:29] #510 closed

[2018-08-16 18:30] #492 closed

[2018-08-16 18:31] #986 closed

[2018-08-16 18:46] #3080 closed

[2018-08-16 19:08] Mozanrath opened #3690 "Windows Containers have no outbound connectivity"
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

**What version of acs-engine?**:

Version: v0.20.7
GitCommit: da4127d0
GitTreeState: clean

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes

I created a cluster with windows nodes using the below template

[code]

**What happened**:

Template successfully created, but any

[2018-08-16 19:11] CecileRobertMichon commented on #3690
This is a duplicate of #3280

[2018-08-16 19:33] PatrickLang opened #3692 "Deploy Windows Server 1803 hotfix for HNS"
This is a tracking issue to deploy a fix for a network stability issue, Windows bug 18560834. There have been some cases where a Windows Server version 1803 node can go down if a very large number of outbound connections are made.

[2018-08-16 19:51] PatrickLang commented on #3692
https://github.com/Azure/acs-engine/pull/2957 - this is the hotfix install code that was used before

[2018-08-16 21:30] EriksonBahr commented on #737
Seems like it was fixed in the #3468 but I still don't see it in the [az acs create](https://docs.microsoft.com/en-us/cli/azure/acs?view=azure-cli-latest#az-acs-create) command.

Was someone able to benefit from the fix?

[2018-08-16 21:43] mboersma opened #3694 "Create regression test for GPU support after reboots"
Refs #2956, #3688.

We've had issues (in AKS' usage of acs-engine) where GPU support disappears after a node is rebooted. Once this is fixed, let's add a regression test w/ rebooting to prevent a regression.

[2018-08-16 23:04] #2362 closed

[2018-08-16 23:55] #3638 closed

[2018-08-17 02:32] #2047 closed

[2018-08-17 07:57] kosta709 opened #3697 "Scale fails with 'The resource 'Microsoft.Compute/virtualMachines/18456k8s9000' is not defined in the template"
**Is this a request for help?**:
YES
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.20.9
tried on v0.19.5, v0.20.5
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.10.5

**What happened**:
Executing acs-engine scale on AvailabilitySet pool returns error resources.DeploymentsClient#CreateOrUpdate: Failure send