[2018-08-17 17:50] PatrickLang commented on #3225
Closing, seems to be ok for last few weeks. If you hit this again, please open a new issue

[2018-08-17 17:50] #3225 closed

[2018-08-17 17:52] PatrickLang commented on #3405
The last issue I'm aware of for this error is https://github.com/Azure/azure-container-networking/issues/232

[2018-08-17 17:56] CecileRobertMichon commented on #3690
Closing to avoid duplicates

[2018-08-17 17:56] #3690 closed

[2018-08-17 19:50] PatrickLang commented on #3692
Work is happening here https://github.com/PatrickLang/acs-engine/tree/patricklang-3692 and I'm finishing up tests on it

[2018-08-17 21:55] lachie83 commented on #2956
Fix - https://github.com/Azure/acs-engine/pull/3688

[2018-08-17 21:56] jackfrancis commented on #2956
Thanks again @lachie83!

[2018-08-17 21:56] #2956 closed

[2018-08-17 22:49] CecileRobertMichon commented on #3697
Hey @kosta709 did you by any chance modify the resources in the azuredeploy.json template generated by acs-engine? Can you please check that `k8s-dind1-62727722-0` does or doesn't exist in the template (either in your _output/ directory or on the portal)?

[2018-08-17 23:10] tariq1890 opened #3702 "Add dep check to CI/CD cycle"
Per the latest go-dev docker image, we are using the latest release of dep which includes the check feature.

dep check essentially ensures that vendor directories, source imports, and the toml files are in sync. It works fast and it is much better than calling dep ensure and performing a diff.

Possible scenarios when this could be useful

I) When a developer adds a new dependency but forgets to

[2018-08-18 06:12] kosta709 commented on #3697
Hey @CecileRobertMichon ,
I did not modify azuredeploy.json , the instance exists in Azure, _output/... directory exists , k8s was deployed successfully and works normally ,
`az vm show -g az-test-1-dind-k8s-sa -n k8s-dind1-62727722-0` also works
Only scale does not work
I found note https://github.com/Azure/acs-engine/tree/master/examples/scale-up , still have not tried it yet. Is this the only w

[2018-08-20 05:55] saromba commented on #3337
Hi @CecileRobertMichon,

we fixed that ourselves, scaling is now possible again...
See that "vmTags stuff" -> Cmd/scale.go_

    ndexToVM := make(map[int]string)
    if sc.agentPool.IsAvailabilitySets() {
       for vmsListPage, err := sc.client.ListVirtualMachines(ctx, sc.resourceGroupName);     vmsListPage.NotDone(); err = vmsListPage.Next() {
      if err != nil {
         return errors.Wrap(er

[2018-08-20 08:16] idanlevin commented on #3505
@jackfrancis any update on this? anyone working on it?

[2018-08-20 09:42] GobinathPandurangan opened #3705 "Deployment to custom vnet - Windows, Kubernetes"
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

**What version of acs-engine?**:

Version: v0.20.9
GitCommit: e0b6d2a5e
GitTreeState: clean

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:

Using the following json.

{
  "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orch

[2018-08-20 16:01] CecileRobertMichon commented on #3697
@kosta709 https://github.com/Azure/acs-engine/tree/master/examples/scale-up is not relevant anymore, it was a way to perform manual scale before `acs-engine scale` was implemented. It will be removed in https://github.com/Azure/acs-engine/pull/3701/. `acs-engine scale` is the official way to scale up (and down) and acs-engine cluster (both availability set and VMSS are supported). What version of

[2018-08-20 16:04] CecileRobertMichon commented on #3337
Hi @saromba, I'm glad to hear that you are unblocked. Was the root cause that the VM tags were missing? How can we fix this so that others don't run into the same issue?

[2018-08-20 16:27] CecileRobertMichon commented on #3705
Hi @GobinathPandurangan, please note that custom vnet with Windows support is not complete at this time and there are a few known issues (https://github.com/Azure/acs-engine/issues/1767, https://github.com/Azure/acs-engine/issues/3280).

That being said the error that you are seeing is happening on the Linux master so not related. This error likely 1) is a flake meaning that `nc -v www.google.com

[2018-08-20 17:08] #3155 closed

[2018-08-20 17:08] cpuguy83 commented on #1153
These look like cumulative numbers. Reading logs allocates a new byte slice for each log line so I would expect these figures to be high.

[2018-08-20 17:43] GobinathPandurangan commented on #3705
Thanks @CecileRobertMichon

I tried it 5 times over the past 2 days, with changing the configs a bit, but everytime ran into the same issue. After this issue, able to get into master and do both nc -v www.google.com 443 and nc -v www.1688.com 443 successfully.

Not sure if the line - from handler.log
event="migrate to mrseq" error="Can't find out seqnum from /var/lib/waagent/Microsoft.Azure.Extens

[2018-08-20 17:45] UnwashedMeme commented on #3503
This seems similar to #2388.  I don't think it's related to Azure-CNI; I'm seeing the same with cilium as the cni plugin.

Another piece I'm seeing is that the kubelet of the node that _does_ have its `InternalIP`  has the log message `Using Node Hostname from cloudprovider: "k8s-main-40037667-vmss000000"` repeated regularly, the one missing `InternalIP` _that log message went missing_.

[code]
It

[2018-08-20 17:53] CecileRobertMichon commented on #3705
@GobinathPandurangan you can check `var/log/azure/cluster-provision.log` on the vm for logs of the custom script.

https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/troubleshooting.md#vmextensionprovisioningerror-or-vmextensionprovisioningtimeout

[2018-08-20 18:57] kosta709 commented on #3697
i see it on clusters deployed by v0.19.5 , v0.20.5
tried also to run `acs-engine scale` using latest v0.20.9 on those clusters

[2018-08-20 19:55] jsturtevant opened #3707 "Windows pod restarts during e2e tests - SandboxChanged"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

---

**What version of acs-engine?**:

---
master branch

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kuberentes

**What happened**:
While adding additional tests for the #3632, for long lived dns check for [pods like existing test](https://github.com/Azure/acs-engine/blob/dd7d0fc62927fe

[2018-08-20 19:57] jsturtevant commented on #3707
Trying on a second fresh cluster resulted in the following events which adds the rpc error:

[code]

[2018-08-20 20:37] #3681 closed

[2018-08-20 20:37] #3677 closed

[2018-08-20 20:48] javierprovecho commented on #3413
I'm interested in this feature, to support external traffic ingress into kafka clusters deployed in k8s so to not create a load balancer service for each pod.

[2018-08-20 21:33] #3355 closed

[2018-08-20 21:33] #3369 closed

[2018-08-21 09:46] fabiendibot opened #3712 "NTP configuration on kubernetes VM"
Hello !
Sorry for my poor english...

**Is this a request for help?**:

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:

---

If this is a ISSUE, please:
On our k8s cluster only masters are NTP synchronized. It causes crashes on service like authentication when we deploy on our nodes because they're not time synced.
if we change NTP config on both

[2018-08-21 17:12] jackfrancis opened #3715 "Audit resource limits on all k8s resources"
Ensure that all k8s resources delivered by acs-engine have concrete resource limits defined.

[2018-08-21 17:30] jackfrancis commented on #3505
Hi @idanlevin, no updates at this time, I'm not aware that this has traction atm.

Sorry for the bad news :(

[2018-08-21 18:51] PatrickLang commented on #2892
Is this happening on newer releases? This seems stale

[2018-08-21 20:14] #3692 closed

[2018-08-21 22:26] jsturtevant commented on #3707
@PatrickLang Have you seen these errors before?  I pulled them out of the print out above.
[code]

[code]

[2018-08-22 06:31] chux0519 commented on #2802
@Netdoc41 thanks, it helps

[2018-08-22 07:06] andyzhangx commented on #2989
@mrdfuse Following config will take disk mount a lot more time Since gid & uid is mounted as 0(root) by default, if set as non-root(e.g. 1000), k8s will use chown/chmod to change all dir/files under that disk, this is a time consuming job, whch would make mount device very slow, in this issue: [Timeout expired waiting for volumes to attach](https://github.com/kubernetes/kubernetes/issues/67014#iss

[2018-08-22 08:13] kosta709 commented on #3697
Hello, this issue becomes urgent for us - we cannot scale production
Did someone try to scale availability set pools?

[2018-08-22 09:57] mrdfuse commented on #2989
Ok that's interesting to know! We have the same problem on mounts without that config though, we just learned to live with it now.

[2018-08-22 15:30] neurot1cal commented on #3697
Did you run `acs-engine generate`? Or are you using the `_output` from the
previous generate?

On Wed, Aug 22, 2018 at 1:23 AM kosta709 <notifications@github.com> wrote:

[2018-08-22 16:46] PatrickLang commented on #3707
Yeah - CNI v1.11 had some error output fixes. There's still one more remaining.

I saw this on another cluster but haven't got to the bottom of it. One thing I noticed is that there's a check after the pods are running to get the IP. Sometimes that fails if there's another CNI task running at the same time. When that happens, the wrong error is still returned https://github.com/Azure/azure-contain

[2018-08-22 16:51] PatrickLang commented on #2627
I should have this fixed by end of week now that #3246 is out of the way. I have a branch where I'm refactoring and cleaning up the kubelet parameters - https://github.com/patricklang/acs-engine/tree/patricklang-2627

[2018-08-22 16:51] PatrickLang commented on #3707
Right now I'm working on https://github.com/patricklang/acs-engine/tree/patricklang-2627 which involves refactoring the kubelet parameters. Can you open a new issue on the deprecated flags? I should be able to address it once that's done

[2018-08-22 16:55] PatrickLang commented on #3707
Also - I updated the script in https://www.github.com/patricklang/logslurp to include more Windows-specific logs. When I saw those errors on "Error adding network"... there were containers that were created but returned a non-zero exitcode. That could be expected if they're creating the pause container just to create the network namespace but I would need to get someone with Windows source access

[2018-08-22 17:22] rodrigoffonseca opened #3726 "kubernetes-dashboard not running - crashloopbackoff error"
**Is this a request for help?**:
YES
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
acs-engine version
Version: canary
GitCommit: unset
GitTreeState: unset
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.11.2

**What happened**:
The Kubernetes-Dashboard and other pods (DNS and Metrics) are not running after dep

[2018-08-22 21:02] CecileRobertMichon commented on #3726
@rodrigoffonseca which version of acs-engine was this with?

[2018-08-22 21:05] PatrickLang commented on #3404
The network monitor pods aren't scheduled in recent versions, closing. If you have other network issues - please file new issues. Thanks!

[2018-08-22 21:05] #3404 closed

[2018-08-22 21:10] PatrickLang commented on #3037
We have a Windows hotfix available for this available now, and it will be included by default in a future cumulative update for Windows. If you need to work around it near term, ask Windows support to give you the fix and reference this. Unfortunately I can't redistribute it publicly.

[2018-08-22 21:12] PatrickLang commented on #3501
@daschott - can you add this to your list? We need a Windows dev to investigate since this is a VFP or NAT issue

[2018-08-22 21:31] jsturtevant commented on #3707
Went through the `c:\k\azure-vnet.log` files and found the following errors.  The error output is continually dump this error over and over:

[code]

This looks related to: https://github.com/Azure/azure-container-networking/issues/235

[2018-08-22 21:32] daschott commented on #3037
@PatrickLang I believe this is in reference to an older issue
@sam-cogan Can you confirm that your issue is resolved on recent acs-engine versions? It should be fixed on 0.19.3+.

[2018-08-22 22:36] daschott commented on #3501
Yes, I'm tracking this one

[2018-08-22 23:02] CecileRobertMichon opened #3729 "install health-monitor and node-problem-detector on all VMs"
install as daemons on all VMs:
- https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/health-monitor.sh
- https://github.com/kubernetes/node-problem-detector

[2018-08-22 23:28] neurot1cal commented on #3729
Ooooooo :)

[2018-08-22 23:58] CecileRobertMichon commented on #3726
I was able to repro with acs-engine master and with the latest release. I am investigating which part of the cluster configuration is causing this as we are not seeing this in any of our end to end tests.

[2018-08-23 01:05] ashvindeodhar commented on #2057
@CecileRobertMichon Is there any workaround / solution for this? I am hitting this issue:

        "code": "VMExtensionProvisioningError",
        "message": "VM has reported a failure when processing extension 'cse-master-0'. Error message: \"Enable failed: failed to execute command: command terminated with exit status=4\n[stdout]\n\n[stderr]\n\"."

[2018-08-23 01:08] CecileRobertMichon commented on #2057
@ashvindeodhar a lot has changed since this issue was opened. Could please follow the steps in https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/troubleshooting.md#vmextensionprovisioningerror-or-vmextensionprovisioningtimeout and open a new issue? I'll close this one.

[2018-08-23 01:08] #2057 closed

[2018-08-23 01:18] #2122 closed

[2018-08-23 01:25] CecileRobertMichon commented on #3726
@rodrigoffonseca did you follow the post deployment instructions outlined in the [custom vnet docs](https://github.com/Azure/acs-engine/blob/master/docs/custom-vnet.md#post-deployment-attach-cluster-route-table-to-vnet)?

[2018-08-23 06:44] ashvindeodhar opened #3730 "Deployment fails with error Bad argument `MASQUERADE' when VnetCIDR is not present in the apimodel"
**Is this a request for help?**:
Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue

**What version of acs-engine?**:
v0.20.6

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
k8s

**What happened**:
I am trying to deploy a k8s Linux cluster in existing vnet subnet but I get an error
VM has reported a failure when processing extension 'cse-master-0'

I referred https://g

[2018-08-23 06:45] ashvindeodhar commented on #2057
@CecileRobertMichon - opened a new issue: https://github.com/Azure/acs-engine/issues/3730

[2018-08-23 11:08] karataliu commented on #2826
'--cadvisor-port' removed in 1.13.0-alpha.0 now, kubelet won't start.

[code]

[2018-08-23 16:43] PatrickLang opened #3731 "Doc: http ingress routing with mixed clusters"
Make these steps work on acs-engine and publish it.

Create a Hybrid Kubernetes Linux/Windows Cluster in 7 Easy Steps
https://anthonychu.ca/post/hybrid-kubernetes-linux-windows-cluster-easy-steps/

acs-k8s-multi-agent-pool-demo/azuredeploy.json
https://github.com/anthonychu/acs-k8s-multi-agent-pool-demo/blob/master/azuredeploy.json

[2018-08-23 16:47] CecileRobertMichon commented on #3730
@ashvindeodhar did you attach the kubelet journalctl log? I can only see the cluster-provision log and your apimodel json.

Are you able to reproduce the issue 100% of the time with this cluster definition? Ie. did you get several failed deployments with the same error

[2018-08-23 19:05] ashvindeodhar commented on #3730
[cluster-provision.log](https://github.com/Azure/acs-engine/files/2315802/cluster-provision.log)
[log1.log](https://github.com/Azure/acs-engine/files/2315803/log1.log)
[log2.log](https://github.com/Azure/acs-engine/files/2315804/log2.log)

@CecileRobertMichon Attaching the missing logs here. I can repro this 100% of the time and have tried multiple regions as well. No luck.

[2018-08-23 19:13] CecileRobertMichon commented on #3730
Thanks @ashvindeodhar. The error is `Bad argument `MASQUERADE'`, let me try to repro.

[2018-08-23 21:06] ashvindeodhar commented on #3730
@CecileRobertMichon Thanks!! including vNetCidr in k8s apimodel json fixed this problem.

[2018-08-23 21:10] CecileRobertMichon commented on #3730
@ashvindeodhar good to hear :) I will still follow up with this issue this seems like a bug as vnetCidr shouldn't be required

[2018-08-23 21:35] ashvindeodhar commented on #3730
sounds good. Thanks for your help and following it up further.

[2018-08-23 21:51] PatrickLang commented on #3731
Similar instructions with acs-engine here: https://medium.com/cooking-with-azure/windows-containers-in-kubernetes-with-acs-engine-in-azure-615cf2531dac

[2018-08-23 21:58] ashishkulk opened #3733 "Nginx Ingress does not work after setting `externalTrafficPolicy: Local`"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
0.18.9
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.10.5

**What happened**:
Installed nginx-ingress with helm chart.
Trying to get sourceIP of client by setting `externalTrafficPolicy: Local`.
Once set; all the routing stops.

[2018-08-23 22:08] juan-lee commented on #3729
Let's limit the scope of this issue to the health-monitor. node-problem-detector is easy enough for folks to install on their own.

[2018-08-23 23:02] jackfrancis commented on #3506
@tariq1890 Could you look into doing this in the next week?

[2018-08-23 23:13] tariq1890 commented on #3506
Sure!

[2018-08-24 11:21] grenzr opened #3737 "Is Custom Search Domain functionality broken?"
**Is this a request for help?**:

YES

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

**What version of acs-engine?**:

v0.20.9

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes 1.11.2

**What happened**:

We have a custom vnet k8s installation. The vnet uses a non-standard DNS server (corporate Active Directory), so we need to make use of CSD functionality

[2018-08-24 14:07] carlpett opened #3738 "ARM RateLimit: LoadBalancer services stay in pending for cluster build with 0.21"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: v0.21.0

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.11.2

**What happened**:
Created new cluster with acs-engine 0.21, installed nginx-ingress, created LoadBalancer service. External-IP stays `<pending>`. Controller manag

[2018-08-24 14:48] jstoja opened #3739 "VMExtensionProvisioningError with cse-master-0/1/2"
**What version of acs-engine?**:

[code]

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
[code]

**What you expected to happen**:
No error

**How to reproduce it** (as minimally and precisely as possible):
[code]

**Anything else we need to know**:
`kubernetes.json`
[code]

[2018-08-24 16:09] mboersma opened #3740 "No help string for --api-model argument"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

---

**What version of acs-engine?**:

master

---

**How to reproduce it** (as minimally and precisely as possible):

Get help for the generate command and notice that `--api-model` has no documentation string.

[code]

[2018-08-24 16:49] CecileRobertMichon commented on #3739
Hi @jstoja please take a look at https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/troubleshooting.md#vmextensionprovisioningerror-or-vmextensionprovisioningtimeout for some debugging steps for VM extension errors.

Could you please check `/var/log/azure/cluster-provision.log`, `sudo journalctl -u kubelet` and the output of `kubectl get nodes`? I suspect that something in your apimod

[2018-08-24 16:50] CecileRobertMichon commented on #3726
any updates?

[2018-08-24 16:53] CecileRobertMichon commented on #3737
Hi @grenzr, thanks for reporting. @axier implemented the custom search domains feature and may have some input here. Otherwise, feel free to start a PR to fix it and we'll go from there.

[2018-08-24 17:36] PatrickLang commented on #3731
Closed - merged

[2018-08-24 17:36] #3731 closed

[2018-08-24 23:09] ashishkulk commented on #3738
@carlpett you might have some luck creating a static IP first.

`az network public-ip create -g $RGNAME  -n $NAME  --dns-name  $DNSNAME --allocation-method static -o json | jq -r .publicIp.ipAddress`

and install nginx-ingress with that IpAddress.

`helm install stable/nginx-ingress  --set controller.service.loadBalancerIP=$IP_YOU_JUST_GOT`

[2018-08-25 03:04] kairok commented on #3130
Run  kubectl create clusterrolebinding kubernetes-dashboard --clusterrole=cluster-admin --serviceaccount=kube-system:kubernetes-dashboard
Everything worked for me.

[2018-08-25 11:07] kosta709 commented on #3697
using _output from previous generate

[2018-08-26 07:16] DanielWangZhanggui opened #3746 "Would orchestratorType "openshift" support in Azure China?"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

---

**What version of acs-engine?**:

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
openshift

**What happened**:
Can't set the RHEL image reference

**What you expected to happen**:
provide some options to set the image refereance & rhn user information

**How to reproduce it** (as

[2018-08-26 11:09] andyzhangx commented on #3746
as I know, RHEL image is not available in Azure china, that's a big dependency

[2018-08-27 06:10] carlpett commented on #3738
As an update, the rate limit "recovered" after 2,5 hours and the IP was assigned. Are there any major changes with regards to how ARM APIs are used in this release?

[2018-08-27 09:33] palmerabollo commented on #3413
I'm interested as well. The use case is also exposing a Kafka cluster to the Internet.

[2018-08-27 16:52] jackfrancis commented on #3712
@fabiendibot What configuration are you seeing that fixes this? We're not aware of any ntpd configuration delta between masters and nodes.

[2018-08-27 17:51] #3506 closed

[2018-08-27 18:11] PatrickLang opened #3747 "Enable authorization on Windows kubelet API"
**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: all

---

Kubernetes added HTTPS and webhook-based authorization to the kubelet API https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet-authentication-authorization/ . This has been implemented for Linux nodes in ACS-Engine, but not Windows yet.

Linux has the right options set

[2018-08-27 18:46] tariq1890 opened #3748 "Deployment directory should default to _output on no input when using the scale command"
Right now, the deployment directory is mandatory. Since the deploy and generate create "_output" by default, scale can point to the same.

[2018-08-27 18:49] #3748 closed

[2018-08-27 21:36] CecileRobertMichon commented on #3738
@carlpett AFAIK there weren't any changes with regards to how ARM APIs are used in this release but would be worth double checking. Have you tried getting another load balancer IP assigned since then? It's possible there was some unusual slowness when you tried.

[2018-08-27 21:46] CecileRobertMichon commented on #3738
Also possible that your subscription is getting throttled by ARM.

[2018-08-28 01:02] PatrickLang commented on #937
This fix was rolled out into the Windows Server 2016 with Containers image a long time ago. Closing

[2018-08-28 01:02] #937 closed

[2018-08-28 01:03] PatrickLang commented on #558
No new responses here - closing. If you hit this problem on a newer deployment, please open a new issue.

[2018-08-28 01:03] #558 closed

[2018-08-28 05:59] carlpett commented on #3738
@CecileRobertMichon I just tried repeating the process and set up a new cluster and then created a LoadBalancer. Same thing again. So it appears that deploying a new cluster does, and potentially also queues up, a very large number of API calls? I'll see how long time it takes before it works this time.
I have an open support case as well, 218082418859322001, where we checked that the subscription

[2018-08-28 06:02] carlpett commented on #3738
Looking at the 0.21.1 release notes, it seems interesting that it took 2,5 hours before I was assigned an IP and seeing #3741. So there are potentially thing being retried for up to 2,5 hours before being aborted?

[2018-08-28 07:29] advishnuprasad commented on #2845
Facing the same issue. However, I don't have 30 pods in my node.

[2018-08-28 12:22] zhiweiv opened #3754 "Unable to create Load balancer service in Azure Government"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.21.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.11.2

**What happened**:
I got below error in kubectl describe service after created a Load balancer service:

  Warning  CreatingLoadBalancerFailed  19s (x4 over 54s)  serv

[2018-08-28 18:49] jackfrancis commented on #3712
Can you paste the `apt-get` libs you installed, and an example of the configuration? We can consider testing/adding this

[2018-08-28 21:32] daschott commented on #3501
Is this issue blocking Kubernetes conformance?

[2018-08-28 21:40] brobichaud commented on #1680
To circle back around on this I now have a Windows v1803 cluster deployed using ACS-Engine v0.20.9 and am no longer seeing any DNS issues with deployed pods. This issue can be closed.

[2018-08-28 22:14] tariq1890 commented on #3730
Reopening for further investigation.

[2018-08-28 22:26] CecileRobertMichon commented on #3738
@carlpett did you confirm that 0.20.0 did not experience the same symptoms this week? I realize that you said that it worked for you last week but I just want to make sure that this isn't time sensitive.

[2018-08-28 22:33] tariq1890 commented on #3726
Closed due to inactivity. Feel free to re-open if the issue reprises.

[2018-08-28 22:33] #3726 closed

[2018-08-28 22:42] tariq1890 commented on #3625
Hey, @jamoham were you able to replicate this issue again? Any reason why you are not using the latest version of acs-engine?

[2018-08-28 22:52] tariq1890 commented on #3572
Hey @dani07 , How often do you face this issue? Also, if you could provide the apimodel.json, that would be extremely helpful

[2018-08-28 22:58] CecileRobertMichon commented on #3568
Hi @kruthe01 could you try with the latest acs-engine version? https://github.com/Azure/acs-engine/pull/3644 might help your case. You could try scaling down to the number of nodes left and then scaling up again.

[2018-08-29 06:17] jamoham commented on #3625
@tariq1890
We keep hitting this issue occasionally and we have to keep restarting the kube-dns pods.

We had set this cluster up around 9 months ago and that is why we have used the older acs-engine version.

[2018-08-29 08:55] andyzhangx commented on #3754
can you use provide controller manager logs on master node, you could run following command:
[code]

[2018-08-29 09:03] andyzhangx commented on #3754
another point, so your resource group is under subscription `290a3166-xxxx-xxxx-xxxx-d22e8cf95f8b`? could you also paste your `/etc/kubernetes/azure.json` on master node? you may remove some secret info before pasting. If create load balancer does not work, I guess other function which requires creating azure resource will not work either, you may try create a pod with azure disk either to check:

[2018-08-29 09:16] GobinathPandurangan commented on #3705
Thanks @CecileRobertMichon, you are right I see "nc -v 8.8.8.8 53" and  "nc -v 8.8.4.4 53" which is failing inside.  But I don't see this problem when I don't use the custom VNet.

[2018-08-29 15:25] fabiendibot opened #3762 "CSE error: exit code 30 during upgrade"
**Is this a request for help?**:

yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

**What version of acs-engine?**:

[code]

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.11.0

**What happened**:

We tried this command to upgrade our cluster from 1.11.0 to 1.11.1.

[code]

and we got this error message
[code]

Following our apimodel.json
[code]

clust

[2018-08-29 16:09] kruthe01 commented on #3568
Hi @CecileRobertMichon, thanks for the reply. Currently, we have one node running in our gpu agent pool, with a node name ending in -3. The apimodel.json file for the cluster currently has "count: 1" for the gpu agent pool. Is there anything I should do to the cluster or the apimodel.json file before trying this? Or should I simply download the latest acs-engine executable and scale down/up using

[2018-08-29 16:26] CecileRobertMichon commented on #3705
Can you check that your vnet doesn't have any NSG or firewall preventing outbound internet access?

[2018-08-29 16:35] CecileRobertMichon commented on #3568
You should try scaling up to 3 nodes then scaling back down to 1. That should help with the indexes. After that, try to upgrade to make sure everything is okay. Note that this is NOT an officially supported scenario, just suggesting something that might help your situation. If this a production cluster, I would suggest building a second cluster and trying to reproduce the state you are at now and

[2018-08-29 17:07] CecileRobertMichon commented on #3738
@carlpett we started seeing this on multiple subscriptions in our own test and are investigating with ARM. Will keep you updated.

[2018-08-29 20:52] huydinhle commented on #2200
@jalberto  you can only change it on the master nodes at `/etc/kubenetes/manifest`

[2018-08-30 01:53] ashish-amarnath opened #3766 "Building ACS Engine from Source fails"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**:  Building at commit for https://github.com/Azure/acs-engine/pull/3759

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

**What happened**:
Following instructions at https://github.com/Azure/acs-engine/blob/master/docs/acsengine.md#docker-de

[2018-08-30 01:55] ashish-amarnath commented on #3766
The root cause for this is that in the Dockerfile,
`make bootstrap`  layer is before the layer adding the source to the container image.

[2018-08-30 06:56] feiskyer commented on #3738
Hi, @carlpett @CecileRobertMichon

Have you enabled `cloudProviderRatelimit` and set `cloudProviderRateLimitQPS` and `cloudProviderRateLimitBucket`? If those limits are too small, then there’s possible to hit the rate limit even though ARM/NRP fulfilled the requests.

[2018-08-30 07:27] zhiweiv commented on #3754
Hi @andyzhangx I got same error on create pvc. The subscription id and resource group are correct and matched.
Here are some information new:
https://github.com/zhiweiv/apcs/blob/master/app.png
https://github.com/zhiweiv/apcs/blob/master/role.png
https://github.com/zhiweiv/apcs/blob/master/resgroup.png
https://github.com/zhiweiv/apcs/blob/master/azure.json
https://github.com/zhiweiv/apcs/blob/mast

[2018-08-30 07:41] andyzhangx commented on #3754
How do you deploy acs-engine on usgov? field `cloud` in config `azure.json` is not correct , it should be `AzureUSGovernmentCloud`

[2018-08-30 07:41] andyzhangx commented on #3754
anyway, you could change that filed to `AzureUSGovernmentCloud` and restart master node to have a try

[2018-08-30 07:47] zhiweiv commented on #3754
In azure.json, it is "cloud":"AzurePublicCloud", I think it should be USGovernmentCloud. You can see the code in function EnvironmentFromName,
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/azure/auth/azure_auth.go
https://github.com/Azure/go-autorest/blob/master/autorest/azure/environments.go

But I have not found any setting to set it while generating the templa

[2018-08-30 07:52] andyzhangx commented on #3754
it may be a bug in acs-engine, I have tried on azure china, only location is needed to set in acs-engine template. Right now could you try edit it manually on master node, and reboot master node to check whether it works or not?

[2018-08-30 08:47] zhiweiv commented on #3754
I figured it out just now, last time I followed the steps in the walkthrough guide: acs-engine generate then az group deployment. There is not param to sepcify cloud type there.

I found a guide for government here:
https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-k8
This time I use acs-engine deploy directly and set --azure-env AzureUSGovernmentCloud, it works now.

[2018-08-30 09:03] #3754 closed

[2018-08-30 09:05] DanielWangZhanggui commented on #3746
Yeah, there's a partner provide a RHEL image in Azure China, then we can register rhn via using our own redhat account number.
like we can input redhat account name in this [page](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/openshift-container-platform)

[2018-08-30 09:07] andyzhangx commented on #3746
@jackfrancis @CecileRobertMichon do you know what's status of Redhat image support on acs-engine? If it could supports global azure, I think we could enable that on azure china too.

[2018-08-30 09:26] zhiweiv commented on #3754
Hi @andyzhangx
Is it better to use acs-engine deploy instead of acs-engine generate/az group deployment?
Is it better to update the walkthrough guide and link the gov guide there?
https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/windows.md

[2018-08-30 11:10] zhiweiv commented on #3754
I found location field in your demo: https://github.com/andyzhangx/demo/blob/master/acs-engine/mooncake/kubernetes-1.7.9.json#L3
But seems it is not documented in clusterdefinition guide: https://github.com/Azure/acs-engine/blob/master/docs/clusterdefinition.md

[2018-08-30 13:11] GobinathPandurangan commented on #3705
I don't see anything preventing it. Anyway, I'm abandoning the custom vNet for now as I have an alternate.
Thanks for your time. I would revisit it after 2-3 weeks.

[2018-08-30 13:11] #3705 closed

[2018-08-30 16:11] jackfrancis commented on #3746
All OpenShift development is being moved to managed service implementation.

[2018-08-30 16:12] kosta709 commented on #3697
hi, any progress here?

[2018-08-30 18:48] carlsoncoder commented on #3670
I am also running into this same issue when attempting to upgrade my cluster from v1.10.6 to 1.11.2, using acs-engine built from source as of commit 1ade2f387a770697ed196d1d254456cac87499b5.  I received the following error message in "acs-engine upgrade" output:

**FATAL[0314] Error upgrading cluster: Code="DeploymentFailed" Message="At least one resource deployment operation failed. Please list d

[2018-08-30 19:38] tariq1890 opened #3770 "Dockerfile needs to be updated"
The Dockerfile needs to be updated. Currently, we run docker environments using deis/go-dev image through Makefile. (check https://github.com/Azure/acs-engine/blob/8592e491e203bdf941a92b9383ebb35fa5de4a5b/Makefile#L44).

The Dockerfile needs to reflect the process followed here.

[2018-08-30 20:46] #1919 closed

[2018-08-30 21:33] ritazh opened #3773 "UseManagedIdentity validations and e2e tests"
User assigned msi feature was added to k8s v1.12.0-alpha.1. Let's make sure we only support this feature here for k8s version 1.12+

cc @kkmsft

[2018-08-30 21:35] ritazh commented on #1919
Note: https://github.com/Azure/acs-engine/pull/3453 adds zones support for agents. We will add zones support for masters in a different PR.

[2018-08-30 22:53] PatrickLang commented on #3266
From my testing of #3753

[code]

[2018-08-30 23:25] #2627 closed

[2018-08-30 23:54] PatrickLang commented on #3266
Fixed, will be in next release :)

[2018-08-30 23:54] #3266 closed

[2018-08-30 23:55] PatrickLang commented on #3747
Fixed :)

[2018-08-30 23:55] #3747 closed

[2018-08-31 00:46] #3432 closed

[2018-08-31 01:16] PatrickLang commented on #3057
Are you still having any problems? If not, can we close this issue?

[2018-08-31 01:41] SeanTurner026 commented on #3057
You can close it, thank you.

[2018-08-31 12:00] serbrech commented on #3663
Any suggestion on how to identify VMs to upgrade without relying on tags? Should it rely on VM names instead?

[2018-08-31 12:53] serbrech opened #3776 "Missing acs-engine deploy e2e test"
e2e tests always set the cluster up using `acs-engine generate`, followed by a `az deployment create` on the generated arm template. https://github.com/Azure/acs-engine/blob/708c688ba25c89fbf605428d46739ee39c44cfc8/test/e2e/runner/cli_provisioner.go#L133

Q: Should all functional tests be run on both `generate` and `deploy` setup?

- [ ] add Deploy cmd to [cli.go](https://github.com/Azure/acs-engi

[2018-08-31 13:47] grenzr commented on #3737
I've started work on the above fixes.. PR will be on the way soon.

[2018-08-31 16:15] tariq1890 commented on #3770
We are asking for the Dockerfile to be changed. Right now, we are essentially running the deis/go-dev containers with parameters to containerize acs-engine (check make dev in the Makefile)

That docker run command can be converted into an equivalent Dockerfile.

[2018-08-31 16:28] tariq1890 commented on #3580
This should be fixed once #3770 is closed

[2018-08-31 18:08] mboersma commented on #3740
This is a comment to test GitHub notifications--please ignore.

[2018-08-31 18:15] mboersma commented on #3740
This is another comment to test GitHub notifications--please ignore.

[2018-08-31 22:50] CecileRobertMichon commented on #3737
/assign @grenzr

[2018-08-31 23:16] #3729 closed

[2018-08-31 23:28] neurot1cal commented on #3729
@juan-lee Would it make sense to have this be one of the optional extensions that can be installed at cluster provisioning?

[2018-08-31 23:30] jackfrancis commented on #3729
@neurot1cal are you suggesting you want an opt-out option?

[2018-08-31 23:31] neurot1cal commented on #3729
@jackfrancis sorry, I meant the `node-problem-detector` that is out of scope now. makes sense to not install it by default, but could be something someone selects to opt-into installing via extensions, like with prometheus, etc. just a thought ;)

[2018-08-31 23:33] jackfrancis opened #3783 "configurable node-problem-detector"
See:

https://github.com/kubernetes/node-problem-detector

[2018-08-31 23:33] jackfrancis commented on #3729
@neurot1cal Got it. Filed this:

https://github.com/Azure/acs-engine/issues/3783

[2018-08-31 23:39] tariq1890 commented on #3689
This will be dependent on #3770.

[2018-09-01 09:29] stieler-it commented on #3503
We probably experience a similar issue with missing `InternalIP ` and `ExternalIP ` entries for 2 of 5 nodes in an environment with OpenStack cloud provider.

[code]

It worked a week ago, so the addresses have been lost on the way.

[2018-09-03 05:29] carlpett opened #3785 "Removing node pool triggered simultaneous reboot of other pool"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: 0.21.0

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**:
Kubernetes 1.11.2

**What happened**:
First added a new node pool "agentpool0" last week. After a few days of everything running well, I today removed the original pool "agentpool1".

[2018-09-03 05:52] carlpett opened #3786 "Only first created node pool can accept external traffic"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: 0.21.0

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.11.2

**What happened**:
Replaced a node pool with a new one with larger VMs (see #3785 for context). Upon shutting down the old pool, all LoadBalancer services stopped b

[2018-09-03 08:47] y325A commented on #3692
@PatrickLang Do you know where I can get this update that fixes the network stability issue? I am getting lots of compute issues when a multiple pods restart at the same time.

[2018-09-03 08:49] junpark12 opened #3787 "Connecting to Windows nodes"
Hi I try to connect my windows node in ACS.
To create acs clsuter i followed the following document.

https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/windows.md#create-a-resource-group-and-service-principal

Then followed commands below.
https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/troubleshooting.md#connecting-to-windows-nodes

I'm confused with the following co

[2018-09-03 09:09] junpark12 commented on #3787
If i run following command from my windows 10 machine then i can access my windows node.
ssh -f azureuser@xxxxxxx -L 5500:windowsnodename:3389 -N

[2018-09-03 09:09] #3787 closed

[2018-09-03 09:13] junpark12 opened #3788 "where's container service in my resource group?"
Hi.
I followed the following document.
https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/windows.md

Everything is good. but when i access my resource group, there is no container service.
Is this deployment different from "az acs create" ?
Please give me some explanation.
Thanks.

[2018-09-03 10:45] wenboyang214 commented on #1701
` ./acs-engine scale --subscription-id ** \
    --resource-group wb-sa-k8s-cluster  --location chinaeast2 \
    --deployment-dir _output/wb-kubernetes --new-node-count 3 \
    --node-pool agentpool1 --master-FQDN ***.chinaeast2.cloudapp.chinacloudapi.cn \
    --azure-env AZURECHINACLOUD`` `

`WARN[0000] To sign in, use a web browser to open the page https://microsoft.com/deviceloginchina and enter

[2018-09-03 10:59] wenboyang214 opened #3789 "Is acs-engine scale available in Azure China Cloud"
**Is this a request for help?**:

Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Features Question
---

**What version of acs-engine?**:
v0.21.1-Linux
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9.0

**What happened**:
acs-engine scale nodes count failed in Azure China.
`
./acs-engine scale --subscription-id ** \
    --resource-group wb-sa-k8s-cl

[2018-09-03 13:46] andyzhangx commented on #1701
@jackfrancis @CecileRobertMichon any thoughts?

[2018-09-04 01:47] junpark12 commented on #3788
Thank you for the clarification.

[2018-09-04 01:47] #3788 closed

[2018-09-04 02:09] wenboyang214 commented on #3789
I have successfully solved this.

![image](https://user-images.githubusercontent.com/18303105/45006051-97b26a00-b029-11e8-9fb8-36a0cc7c8840.png)

when early using --auth-method device(by default) i encounter above issue. but when using --auth-method client_secret it works well.

**below is my command:**
./acs-engine scale --subscription-id 57a67c5e-a*** \
  --azure-env azureChinaCloud \
  --client

[2018-09-04 02:16] #3789 closed

[2018-09-04 02:16] wenboyang214 commented on #3789
Close it.

[2018-09-04 07:05] andyzhangx commented on #1701
@wenboyang214 you may run following cli command again before run "./acs-engine scale"
[code]
Original session may be expired.

[2018-09-04 08:33] wenboyang214 commented on #1701
@andyzhangx
I have tried the way you referred but when run **./acs-engine scale**  still force to login ignoring the above two commands.

there seems 3 methods to get access:
**1.device(default: promote to login with a short code) [alway not recognize even the endpoint is deviceloginchina] (i wanna to know anyone success using device login method in Mooncake?)
2.client_secret
3.client_certificate*

[2018-09-04 12:56] #2761 closed

[2018-09-04 16:08] jackfrancis commented on #3503
@feiskyer @andyzhangx Just curious: is this a symptom we're tracking in some fashion? Have you heard about it? Thanks!

[2018-09-04 16:13] jackfrancis commented on #3503
Also @weinong notes that these symptoms have been periodically observed in AKS. We will look for patterns.

[2018-09-04 16:57] grenzr commented on #3737
pre-PR work in progress: https://github.com/grenzr/acs-engine/commits/search_domain_improvements

I currently still have an issue where the kubelet service does not appear to be doing the sed lines to substitute the placeholders for all the search domain params. I can see in the controlctl logs its attempting to run realm without the substitutions done:

[code]

Any help to progress this would be

[2018-09-04 20:31] ryanlovett commented on #3337
@CecileRobertMichon Based on @saromba's comment, I cheched our VM tags and found both poolName and resourceNameSuffix present.

[2018-09-04 20:35] CecileRobertMichon commented on #3337
@ryanlovett can you please share your apimodel and exact steps you took so I can try and repro?

[2018-09-04 20:37] ryanlovett commented on #3337
We had manually added a non-cluster VM to the resource group and this VM did not have those tags. I just manually added them and acs-engine hasn't crashed yet.

I think scale.go should check for whether the poolName and resourceNameSuffix tags exist before trying to reference them. I know nothing about go, otherwise I'd create a PR.

[2018-09-04 20:43] CecileRobertMichon commented on #3663
@serbrech I think for now even a simple check to make sure those tags exist before dereferencing them would help so that we can return a meaningful error ("expected tags "..." and "..." on VM "..." but no tags were found" or something like that) instead of panicking would be better.

[2018-09-04 20:44] CecileRobertMichon commented on #3337
@ryanlovett agreed, we have an issue tracking this problem at https://github.com/Azure/acs-engine/issues/3663. I will close this one.

[2018-09-04 20:44] #3337 closed

[2018-09-04 20:49] ryanlovett commented on #3337
Great, thanks!

[2018-09-04 21:15] PatrickLang opened #3791 "Windows nodes not working with kubenet plugin"
I forgot to test using `kubenet` plugin for Windows nodes before merging #3753 which broke it. Will check in a fix shortly.

ApiModel.json

[code]

[2018-09-05 02:48] feiskyer commented on #3503
No, didn't notice the issue before. Let me have a check what's possibly wrong.

[2018-09-05 10:11] y325A opened #3798 "Windows Node UNEXPECTED_KERNEL_MODE_TRAP vfpext.sys"
**Is this a request for help?**:
Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue

---

**What version of acs-engine?**:
0.21.1

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
K8s 1.10.7
Windows Server 2016 17134

**What happened**:
Blue screen of death OS crash when scheduling a large number of pods simultaneously.
[code]

**How to reproduce it** (as minim

[2018-09-05 15:30] tariq1890 commented on #3770
Yes. Right now, the only way to spin up a working and a good docker
container is via Makefile. Some of the acs-engine users have already
attempted to create containers from our outdated Dockerfile and are running
into issues. It would be nice to have a Dockerfile which reflects exactly
what make dev is doing. The docker run command flags used have Dockerfile
primitive equivalents. That's what I ha

[2018-09-05 17:26] PatrickLang commented on #3798
This is fixed in an update that's not part of the VM yet. You can work around it using this in your apimodel:

[code]

[2018-09-05 17:30] PatrickLang commented on #3798
If that doesn't work - please open a support ticket and they can provide a private patch.

cc @daschott

[2018-09-05 20:16] mboersma commented on #3624
Kubernetes 1.11 and later clusters created with acs-engine or AKS will have version 1.14.10 of kub

[2018-09-05 21:01] weinong opened #3803 "AzureClient is not mockable"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Feature Request
---

**What version of acs-engine?**:
Any
---

The way that `AzureClient` is configured is using the environment name. This
prevents us from mocking the ARM endpoint. RP would really need some mockability here to provide testings with ARM especially around Azure Go SDK compatibility.

*

[2018-09-05 21:02] #3803 closed

[2018-09-05 21:12] #3791 closed

[2018-09-05 23:13] CecileRobertMichon commented on #2407
@vpatelsj did you make any progress on this?

[2018-09-05 23:38] CecileRobertMichon commented on #3697
@kosta709 I was able to reproduce your error. I was at a conference last week but will work on finding root cause. I suspect this is a bug with not handling a non-default pool name.

[2018-09-06 00:09] jackfrancis opened #3806 "Validate Managed Disk"
It seems that our managed disk implementation doesn't include encryption at REST. In addition, the standard docs suggest we're on an old API version.

The scope of this is to document any gaps in our current Managed Disk implementation.

See:

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/managed-disks-overview

[2018-09-06 00:42] CecileRobertMichon opened #3807 "Make orchestrators command Windows-aware"
Currently the orchestrators command returns the list of valid Kubernetes versions for Linux only which is not always equal to the list of valid Kubernetes versions for a cluster with Windows nodes. We should add an option to return the versions for Windows clusters such as:
[code]

[2018-09-06 01:26] CecileRobertMichon commented on #3697
So this is *not* related to the pool name. Same thing happens with the same template using "agentpool1" as the name. I suspect there is a bug with how VM offset is handled for scale from 1 to 2. @kosta709 can you please try to scale to a higher number (3 or 4) then scale down if needed?

[2018-09-06 16:45] CecileRobertMichon commented on #3697
I was able to scale from 1 to 2 nodes with this apimodel:
[code]
Something about your apimodel is causing an edge case and failing. Still investigating.

[2018-09-06 20:32] neurot1cal commented on #3670
@jackfrancis Is this intended behavior?

[2018-09-06 21:11] PatrickLang commented on #2627
Windows Server version 1709 pods seem to work ok on 1803, but 2016 is broken.

2 bugs:
https://github.com/kubernetes/kubernetes/issues/68374
https://github.com/kubernetes/kubernetes/issues/68375

[2018-09-06 21:27] coreywagehoft commented on #3697
I am having the same issue as @kosta709 when using acs-engine scale @CecileRobertMichon.  Here is my apimodel:

[code]

[2018-09-06 22:32] PatrickLang commented on #3692
@y325A Open a ticket with MS support and ask for the fix to Windows bug 18560834. It will be in a future update (estimate - late October)

[2018-09-06 22:34] daschott commented on #3692
@y325A Are you seeing problems when multiple containers in a pod are restarting, or multiple pods at the same time (belonging to a service or node.)

What compute problems are you seeing?

[2018-09-06 23:46] CecileRobertMichon commented on #3697
@coreywagehoft can you please share your scale command?

[2018-09-07 00:29] seanknox opened #3811 "Feature Request: Enable configuration of kube-proxy"
**Is this an ISSUE or FEATURE REQUEST?** (choose one): FEATURE REQUEST

---
As a Kubernetes user, I would like to be able to further configure the kube-proxy `DaemonSet`. As an example, I need to set a toleration on kube-proxy so it runs on tainted nodes.

[2018-09-07 01:31] coreywagehoft commented on #3697
Sure thing @CecileRobertMichon here is what I am running to scale

[code]

[2018-09-07 16:01] jianzj opened #3812 "Generate Templates with `acs-engine` with location `chinaeast2` failed"
**Is this a request for help?**:

Yeah, actually there is one workaround for this, but that will also block a lot of people when they want to try ACS-Engine in new region in China and will get failed with unclear msg and waste a lot of time.
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

This is an ISSUE
---

**What version of acs-engine?**:

All the version, including the current ve

[2018-09-09 02:47] andyzhangx commented on #3812
@jianzj where is the doc? `crproxy.trafficmanager.net:6000` should be changed to `gcr.akscn.io` since `crproxy.trafficmanager.net` is located in west us, and image download is slow.

[2018-09-09 13:52] AgelM opened #3822 "When using custom VM Images (UseAgentCustomImage, UseMasterCustomImage), it should possible to provide the subscription ID."
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE REQUEST
---

**What version of acs-engine?**:
v0.21.2
---

Having the ability to use custom VM images provides more possibilities to enhance the cluster.
The current solution requires to use a Custom Image from the same subscription as where the cluster is to be deployed.
[code]
It should be pos

[2018-09-10 03:13] jianzj commented on #3812
@andyzhangx  gcr.akscn.io is not available for China since Google is not. while crproxy.trafficmanager.net:6000 works well.

[2018-09-10 06:10] andyzhangx commented on #3812
`gcr.akscn.io` is available now, you could find detailed steps here:
https://github.com/andyzhangx/demo/tree/master/acs-engine/mooncake

It uses acs-engine v0.21.2 and works well in chinaeast2 and chinanorth2.
@jianzj could you provide you doc link? I think it should be updated, some steps in that doc is not necessary now.

[2018-09-10 06:28] andyzhangx commented on #3754
@zhiweiv back to your question, I think use "acs-engine generate/az group deployment" is better, since after  `acs-engine generate`, you could check generated config files.

[2018-09-10 16:26] ashishkulk commented on #3806
It seems that Managed disks are encrypted by REST by default.

[code]
Managed disks already has SSE enabled by default. (which is good enough for compliances)
It does not have ADE enabled. Is that what this issue is referring to?

Source : https://azure.microsoft.com/en-us/blog/azure-managed-disks-sse/
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/managed-disks-overview

[2018-09-10 16:41] navicore opened #3824 "generate uses self-signed certs despite certificateProfile properties"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: v0.21.2

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**  Kubernetes

**What happened**:

Deploying into an existing vnet with "certificateProfile" set for the first time to use keyvault.  The cluster deploys in perfect working order excep

[2018-09-10 19:25] vannovv opened #3827 "Can't reach newly built ACS Engine clusters dashboard"
**Is this a request for help?**
getting cluster up
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
Version: v0.12.5
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Have been having issues since the outage last week with in southcentralus region an existing Kubernetes cluster that we have had up

[2018-09-10 19:47] jackfrancis commented on #3827
Hi @vannovv, do require a kubernetes v1.6.6 cluster? We're many minor releases ahead of v0.12.5 at this point, if you're able to use a more modern version of k8s.

[2018-09-10 19:54] vannovv commented on #3827
Well we were in the process of upgrading our clusters to v1.8.6 cluster and the cluster that is not longer working was the last v1.6.6 cluster so I guess I can update acs engine.  Which version should I go to given that my other clusters are v1.8.6?

[2018-09-10 19:57] jackfrancis commented on #3827
I recommend using the latest (v0.21.2) and installing v1.8.15 (the latest k8s 1.8 version). There will be no functional differences between 1.8.6 and 1.8.15, just bug fixes and better Azure cloudprovider integration with the k8s API.

Good luck!, sorry for the fire drill. :(

[2018-09-10 19:59] vannovv commented on #3827
But if I want to keep the cluster version the same as my other environments will v0.21.2 support v1.8.6?

[2018-09-10 20:01] jackfrancis commented on #3827
yes

`"orchestratorVersion": "1.8.6"` in the `"kubernetesConfig"` config object in your api model.

[2018-09-10 20:29] vannovv commented on #3827
ok I have updated the acs-engine code on my management server and will build out a new cluster to test.

[2018-09-10 20:59] vannovv commented on #3827
I am now getting this when trying to deploy:
`FATA[0002] failed to load apimodel: Output directory already exists and forceOverwrite flag is not set: ./uat/cu`

I assumed it was talking about the directory created in the _output directory for the specific environment I am trying to deploy.  I removed that directory and am still getting it.  What directory is it talking about the _output?  If so th

[2018-09-10 21:32] jackfrancis commented on #3827
Can you paste the entire output (including the command)? Please redact private configuration values, of course!

[2018-09-10 21:37] vannovv commented on #3827
DEBU[0000] Resolving tenantID for subscriptionID: xxxxxx
DEBU[0000] Attempting to load token from cache. path="/home/xxxx/.acsengine/cache/286cd6bd-cda4-4b0c-9199-fb68b86a2e8f_76e0feec-6b7f-41f0-81a7-b1b944520261.token.json"
DEBU[0000] Saved token to cache. path="/home/xxxxx/.acsengine/cache/286cd6bd-cda4-4b0c-9199-fb68b86a2e8f_76e0feec-6b7f-41f0-81a7-b1b944520261.token.json"
DEBU[0002] Already re

[2018-09-10 23:11] jackfrancis commented on #3827
what command did you use?

[2018-09-11 00:27] vannovv commented on #3827
`kubectl get pods -n kube-system`
kube-proxy-2ctpn                                1/1       Running   0          13m
kube-proxy-8bz57                                1/1       Running   0          13m
kube-proxy-95vlr                                1/1       Running   0          13m
kube-proxy-cnl6m                                1/1       Running   0          13m
kube-proxy-dvnqq

[2018-09-11 00:30] vannovv commented on #3827
Is there some place I can send the api model file instead of posting here?

[2018-09-11 00:30] jackfrancis commented on #3827
Very cursory scan, they look healthy. Anything else unhealthy in kube-system?

[2018-09-11 00:31] vannovv commented on #3827
No everything looks good:

kubectl --kubeconfig=kubeconfig.centralus.json get pods -n kube-system
NAME                                            READY     STATUS    RESTARTS   AGE
calico-node-8cw8x                               2/2       Running   0          18m
calico-node-8qsd9                               2/2       Running   0          19m
calico-node-cfp6l                               2/2

[2018-09-11 00:35] jackfrancis commented on #3827
The only part of the api model we're interested in for troubleshooting is the non-private stuff, the values under `orchestratorProfile`, `masterProfile`, and `agentPoolProfiles`. Just omit the stuff we don't want you to share publicly.

[2018-09-11 00:48] vannovv commented on #3827
{
  "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes",
      "orchestratorRelease": "1.8",
      "orchestratorVersion": "1.8.6",
      "kubernetesConfig": {
        "kubernetesImageBase": "k8s.gcr.io/",
        "clusterSubnet": "10.244.0.0/16",
        "dnsServiceIP": "10.0.0.10",
        "serviceCidr": "10.0.0.0/16",
        "networkPolic

[2018-09-11 06:50] serbrech commented on #3824
Hi @navicore, sorry about the confusion, the `certificateProfile` json values should be the _content_ of the certificates. as an example, running the generate command without specifying them, we get the following :

[code]

[2018-09-11 07:45] liuchang1437 opened #3831 "Pods get stuck in `ContainerCreating` on the cluster with Windows nodes of Datacenter 2016"
**Is this a request for help?**:
yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.21.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes, 1.10

**What happened**:
I created a kubernetes cluster with a specific windows version (2016-Datacenter-with-Containers) using following config file.
[code]
When I try to c

[2018-09-11 08:43] andyzhangx commented on #3831
I would suggest use windows 1803 wihch has better container support, you could remove following config in `windowsProfile`:
[code]

and use container which has `1803` keyword.

[2018-09-11 13:55] andyzhangx commented on #3831
@PatrickLang repository `kubletwin/pause` does not exist in docker hub, do you know where it is now?

Below is the error:
`failed pulling image "kubletwin/pause": Error response from daemon: repository kubletwin/pause not found: does not exist or no pull access`

[2018-09-11 14:47] CecileRobertMichon commented on #3822
Hi @AgelM, I don't think it is possible to use images created in one subscription to create VMs in another subscription with Azure. acs-engine is limited to what Azure can do so I don't think it would be possible to implement the feature you describe above. You can use the Azure explorer to copy images from one subscription to another.

[2018-09-11 14:51] CecileRobertMichon commented on #3824
It is also possible to reference a keyvault parameter. See https://github.com/Azure/acs-engine/tree/master/examples/keyvault-params for more details. In your case @navicore, acs-engine is re-creating certs because you did not provide the `caPrivateKey` which is needed to use self-signed certs.

[2018-09-11 14:54] CecileRobertMichon commented on #3827
Hi @vannovv, did you follow the post-deployment custom vnet steps outlined in https://github.com/Azure/acs-engine/blob/master/docs/custom-vnet.md#post-deployment-attach-cluster-route-table-to-vnet? It looks like your cluster route table is not attached to your vnet.

[2018-09-11 14:59] AgelM commented on #3822
Thank you  @CecileRobertMichon for the speedy reply, it actually is possible. The only constraint is that the image resourceGroup has to be in the same region as the resourceGroup where you want to deploy your cluster.

Once your servicePrincipal has read accesses to the other subscription you can use any image from this last provide the region for the deployment is the same as for the image resou

[2018-09-11 15:01] vannovv commented on #3827
The master route table shows attached to my other subnets in the portal.  I have commands in my script to do this.  If the routes were not there how would the kubectl commands make it to the master nodes from my remote workstation?

[2018-09-11 15:01] CecileRobertMichon commented on #3822
I did not know that, thanks @AgelM! In that case, let's implement it :)

[2018-09-11 15:13] CecileRobertMichon commented on #3827
@vannovv your issue looked similar to https://github.com/Azure/acs-engine/issues/941 so I thought the route table might be the issue. Did you verify that your service principal has the correct permissions?

[2018-09-11 15:14] #1012 closed

[2018-09-11 15:16] vannovv commented on #3827
It's the same service principle I have been using for a year to build out clusters with ACS Engine.  I will look and see if I can figure out how to verify permissions.

[2018-09-11 15:17] #2377 closed

[2018-09-11 16:55] vannovv commented on #3827
I do an `acs-engine generate `command and point to a file like this:

{ "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes",
      "orchestratorVersion": "1.8.6",
      "kubernetesConfig": {
        "networkPolicy": "calico"
      }
    },
    "masterProfile": {
      "count": $MASTERNODECOUNT$,
      "dnsPrefix": "$TIER$$REGION$$APP$k8s$VER

[2018-09-11 17:16] jackfrancis commented on #3811
Let's do this in the following way:

- modify the `KubernetesAddon` type struct (under both `pkg/api` and `pkg/api/vlabs`) to include a new property: `Data`
- `Data` will be a string type that is a base64-encoded yaml representation of the entire manifest definition that will be laid down on disk (say, in Sean's example, `/etc/kubernetes/addons/kube-proxy-daemonset.yaml`)
- the UX is as follows:

[2018-09-11 20:46] CecileRobertMichon commented on #3697
Not yet @coreywagehoft, I haven't been able to revisit this. I will try to investigate further this week.

[2018-09-11 20:51] navicore commented on #3824
setting `caPrivateKey` causes it to not gen self-signed so I'll close this.

i'm still struggling to get it to use key vault but I'll open a new issue if that continues to be trouble.

thanks for quick help!

[2018-09-11 20:51] #3824 closed

[2018-09-11 22:48] jackfrancis commented on #3827
@vannovv thanks very much, I can repro the same symptom. However, I can also repro on acs-engine v0.15.2 as well.

You mention:

What process did you perform a few days prior to the outage? (That would be roughly two weeks ago by my estimate.)

[2018-09-12 13:04] SychevIgor commented on #3130
It's not working on AKS as well.
@kairok  thank you for a fix!!!

[2018-09-12 14:02] vannovv commented on #3827
@jackfrancis I used the process process as I have been using.

[2018-09-12 15:29] BIGPHATTOBY opened #3833 "Unable to deploy multiple node-pools"
**Is this a request for help?**:
help.
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:

v0.21.2
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kube

**What happened**:
Deploying a cluster with ```az group deployment``` with a template generated from acs-engine:
[code]
The deployment is succesful but looks very wrong, both o

[2018-09-12 15:54] kkmsft commented on #3773
Adding two more issues to be covered in this bug:
- Validation for the empty user assigned identity
- Add e2e test flow

[2018-09-12 16:00] joshua-vandenhoek opened #3834 "acs-engine scale fails with Unknown JSON tag tillerMemoryRequests"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.9.0, 0.10.0, 0.12.4, 0.21.2
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.8.2

**What happened**:
I am trying to use acs-enging scale to add worker nodes to an existing cluster. When I use the command with all the proper inf

[2018-09-12 17:13] tariq1890 commented on #3834
Tiller config is now a part of addons per our latest schema.

Could you try configuring tiller like this in your apimodel.json?

[code]

[2018-09-12 17:17] joshua-vandenhoek commented on #3834
Awesome, I will give that a shot and let you know the results. Thanks!

[2018-09-12 17:18] CecileRobertMichon commented on #3833
@BIGPHATTOBY do you see the missing windows VMs in the Azure portal?

[2018-09-12 17:20] jackfrancis commented on #3827
@vannovv understood. We need to figure out when/how acs-engine changed and unintentionally broke your process.

So, to clarify: you successfully built a 1.6.6 cluster using v0.12.5 recently? And you are no longer able to do that?

[2018-09-12 17:21] CecileRobertMichon opened #3835 "Update default apiversion"
Current default apiversion used in ARM templates is `2016-03-30`. We should update it to a more recent version. `2018-04-01` is already used for VMs with accelerated networking enabled (default is true so most VMs).

[2018-09-12 17:49] jackfrancis commented on #3827
You were successfully doing so? And then suddenly something changed environmentally that broke dashboard?

Running the scripts as you shared against a consistent version of acs-engine should not suddenly stop working. (though it's certainly possible that acs-engine since v0.12.5 has unintentionally introduced breaking changes to your workflow)

[2018-09-12 18:01] vannovv commented on #3827
Yes everything was working then after the region failure it did not.  I see the same behavior now after following your recommendation to upgrade ACS engine to v0.21.2.

[2018-09-12 19:05] joshua-vandenhoek commented on #3834
@CecileRobertMichon Thank you for your direction on the matter. Your workaround allowed me to scale my cluster! You can mark the issue as closed. Thank you again for your help!

[2018-09-12 19:07] tariq1890 commented on #3834
Glad it worked :).

[2018-09-12 19:07] #3834 closed

[2018-09-12 19:15] joshua-vandenhoek opened #3837 "error when trying to use imageReference block for worker nodes with acs-engine scale"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
0.21.2
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.8.2

**What happened**:
Some worker nodes in my cluster have the OS distro "Debian 8 (Jessie)". I used an "imageReference" block like so:

[code]
But now it tells me the fol

[2018-09-12 20:17] CecileRobertMichon commented on #3837
@joshua-vandenhoek what acs-engine version was your cluster created with? If you cluster is not too old you should be able to see the version in the VM tags

[2018-09-12 20:26] joshua-vandenhoek commented on #3837
Funny enough, I used that post yesterday. This is what was returned:

[code]

Obviously, this is an older version of acs-engine, but unfortunately I was not able to discern the version from the above command....

[2018-09-12 20:31] CecileRobertMichon commented on #3837
@joshua-vandenhoek do you have anything preventing you from building a new cluster and migrating workloads? Typically, acs-engine releases after 0.12.0 are backwards compatible. Unfortunately, I cannot say the same of earlier versions. Using a newer version will also allow you to get new features and k8s versions.

[2018-09-12 20:37] joshua-vandenhoek commented on #3837
@CecileRobertMichon So moving to a new version is something that is on our roadmap, but for the time being we just need to scale this cluster up to handle some larger workloads for now. I know this is a strange case that would be solved by just using newer tech but I am kind of stuck with this for right now. Is there any way to tell the current configuration to use the same debian image that the o

[2018-09-12 20:40] jackfrancis opened #3839 "nvidia drivers fail start on 1.9 clusters w/ AKS 0.13.0 VHD"
Let's build a 1.9 N-Series cluster and see what's going on at /var/log/azure/cluster-provision.log

[2018-09-12 20:41] CecileRobertMichon commented on #3837
@joshua-vandenhoek what are you exact steps to scale with Ubuntu vs with Debian (resulting in the above error)? Are you using the `acs-engine scale` command?

[2018-09-12 20:48] joshua-vandenhoek commented on #3837
Yes, I did use the acs-engine scale command. The only difference between the two attempts was the way that I was specifying the apimodel.json. I have been unsuccessful in using a debian image thus far, but using the syntax of "distro": "ubuntu" allowed me to create the new nodes. Issue being, those nodes cause the above error if pods get scheduled to them. The command I used to scale the cluster (

[2018-09-12 20:52] CecileRobertMichon commented on #3837
The apimodel you provide to the scale command should be the one used to deploy the cluster, not a new one that you just generated. You should not be modifying it manually at any point during scale (except for backcompat workarounds). Was imageReference present in your original apimodel?

[2018-09-12 20:53] joshua-vandenhoek commented on #3837
It was not, this was my attempt to try and shoe-horn the existing setup into scaling up the new nodes

[2018-09-12 21:00] joshua-vandenhoek commented on #3837
That is a very good question. I was provided with files from my manager from Dec 11 (the output of the acs-engine deploy/generate) when the cluster was apparently created. Looking through those files, I didn't see one mention of debian anywhere in there. The only clue I have is that debian is the OS on the only working worker node in the cluster, whereas the apimodel.json file I ws provided with h

[2018-09-12 21:46] vpatelsj commented on #2407
@CecileRobertMichon thanks for reminder, somehow fell off my tracking list somehow. I owe it to the community. Should get a PR by end of the week.

[2018-09-12 22:29] CecileRobertMichon commented on #3697
In @kosta709's case I believe I have root caused the issue to a bug with `useManagedIdentity` which is causing the managed identity extension to reference the wrong VM. Your problem seems to be different @coreywagehoft since you do not have `useManagedIdentity` set to true.

[2018-09-12 22:31] BIGPHATTOBY commented on #3833
Yes the missing VMSS and it's virtual machines are present in the resource group.

[2018-09-12 23:07] coreywagehoft commented on #3697
@CecileRobertMichon I will try it out tomorrow without `useManagedIdentity` as well.  See if I get the same error.

[2018-09-13 00:05] daschott commented on #3368
@bclau are you still seeing this issue?

[2018-09-13 03:32] andyzhangx commented on #3831
Hi @liuchang1437 would you try to build `kubletwin/pause` on Windows Server 2016 manually?
I think you should change `microsoft/nanoserver-insider` to `microsoft/nanoserver:ltsc2016`  according to
https://github.com/Azure/acs-engine/blob/e366849ff3610e2e6fb8eb11b2267264d87172b6/parts/k8s/kuberneteswindowssetup.ps1#L246-L262

I could not find `microsoft/nanoserver-insider` from https://hub.docker.c

[2018-09-13 04:09] liuchang1437 commented on #3831
@andyzhangx Thanks for your reply. It seems that the tag ltsc2016 has been changed to [sac2016](https://hub.docker.com/r/microsoft/nanoserver/tags/) (semi annual channel?). I built it successfully on Windows Server 2016 nodes. However, the pod still cannot run correctly with following errro message:
[code]

[2018-09-13 04:48] andyzhangx commented on #3831
there could be issue in azure-cni with 2016, would you remote desktop to node `40488k8s9001`
and run 1) "start powershell"  2) "notepad c:\k\kubeletstart.ps1", change `network-plugin` value to `kubenet`
[code]
And then run
[code]

**Another option is:**
 you may assign `networkPlugin` as `kubenet` in the cluster set up , here is the cluster definition link: https://github.com/Azure/acs-engine/blob

[2018-09-13 07:49] liuchang1437 commented on #3831
I change `network-plugin` to `kubenet` for all nodes in the cluster (including the master). But all the nodes become `NotReady` since the change.
[code]
[code]

I also tried to set `networkPlugin` in the cluster set up. The `kubectl get nodes` can only list the master, but no the other two windows nodes.

[2018-09-13 08:12] andyzhangx commented on #3831
@PatrickLang Do you have any thoughts how to configure `networkPlugin` in windows 2016? Some customers still need 2016...

[2018-09-13 16:34] DeadZen commented on #1892
3 days...

[2018-09-13 18:18] CecileRobertMichon commented on #3839
[code]

[2018-09-13 19:48] CecileRobertMichon commented on #3833
@PatrickLang is this something you've seen before / a known issue?

[2018-09-13 19:55] CecileRobertMichon commented on #3837
It's possible that at some point in time the default OS distro image was set to Debian and your cluster was built during that time. In my opinion there are a few paths forward for you:
1) build a new cluster with a newer version (I strongly recommend this)
2) try to find the version that the cluster was build with and scale from that version

That being said, I would also try to look into the erro

[2018-09-13 20:05] joshua-vandenhoek commented on #3837
Hello @CecileRobertMichon ,

I believe you are correct. In working with this issue it has become apparent that the discrepancy between the OS versions shouldn't matter (in fact, kubectl describe of the node says that the OS is debian, but when you ssh to the node and look at it's OS, it lists it as Ubuntu. weird.)

With that being said, I am going to try and find the magic version that this cluste

[2018-09-13 21:27] CecileRobertMichon commented on #3762
@fabiendibot did you attempt to re-run upgrade? It's possible that is a transient failure. Otherwise, did you do anything interesting to your cluster since deployment? Any manual changes in the apimodel or on the portal?

[2018-09-13 21:36] CecileRobertMichon commented on #3737
@grenzr could you please open a WIP (work in progress) PR and describe the problem you're having and I or someone in the community can try to help

[2018-09-13 21:52] joshua-vandenhoek commented on #3837
Alright, through a series of tests I managed to determine that the version is MOST LIKELY 0.9.3. With the files in the state they were when I got them, it actually ran and got to `Starting ARM Deployment (RESOURCE GROUP). This will take some time...`. It did fail with the following message though:
[code]
I looked in the Azure portal and looked at what the specific error was, and this was the outpu

[2018-09-13 22:35] lastcoolnameleft opened #3846 "Unable to route to services inside cluster"
Hello,

I am encountering the following issue when installing a brand-new ACS-engine cluster.  Services of type=clusterIP *ARE* accessible from the master/agent nodes.  However, they *ARE NOT* accessible to containers inside the cluster.

I have verified that the ACS-engine deployment was successful with no CSE errors and there were no errors in `/var/log/cloud-init-output.log` or `/var/log/azure/

[2018-09-14 01:50] lastcoolnameleft commented on #3846
FYI, this setup works if you use two different subnets for the master and agent pools; however, fails if they are the same.

[2018-09-14 03:07] feiskyer opened #3847 "Update azure-cloud-provider rolebinding"
**Is this a request for help?**:

A placeholder for updating cluster role azure-cloud-provider and binding. This is required for https://github.com/kubernetes/kubernetes/pull/68212.

[code]

[2018-09-14 07:48] carlpett commented on #3786
Hi @CecileRobertMichon,
Thanks for responding. Yes, currently we are a bit stuck with this cluster and would appreciate some guidance on how to get it back into a consistent state.
We currently need to keep the original pool around although acs-engine and the generated ARM templates are no longer "aware" of it, in order for the load balancer to work.

How do we change the templates so the load bal

[2018-09-14 13:45] pidah commented on #2298
@jackfrancis hi, following up my comment in February,  I just want to find out if there is a way now to override yaml files applied on a cluster e.g Pod Security Policy yaml ? Thanks 😇

[2018-09-14 14:01] jt55401 commented on #2845
@advishnuprasad - I opened a support ticket with Microsoft, and was advised to upgrade the CNI plugin to a new version - you might want to try the same.

https://github.com/Azure/azure-container-networking/releases/tag/v1.0.11

The install instructions work for an upgrade too - however, it's advised that after install, you fully restart the node (not just restart kubelet, as the instructions seem

[2018-09-14 17:03] campbelldgunn commented on #3037
@PatrickLang Have we confirmed that this issue has been resolved in a recent acs-engine. If so, can we confirm what version of acs-engine? thanks.

[2018-09-14 17:11] PatrickLang commented on #3833
It's not something I've tried yet. Based on other issues, it looks like VirtualMachineScaleSets haven't been fully tested on Windows agent pools.

[2018-09-14 20:42] #3811 closed

[2018-09-14 23:35] jackfrancis opened #3850 "move ARM template outputs into data model"
Move these ARM template output properties into the data model so that we can get access to them without having to submit an operation to ARM:

[code]

[2018-09-14 23:53] PatrickLang opened #3851 "Cleanup Windows installations"
This is list to track what needs to be done to make Windows work better with upstream builds.

First Step - support upstream binaries
- [x] Add new parameter `$global:KubeBinariesReleaseUrl` to parts\k8s\kuberneteswindowssetup.ps1 to download [node binaries] #4008 (https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.11.md#node-binaries-1) and [client binaries](https://github.com/kuber

[2018-09-15 00:04] PatrickLang opened #3852 "Switch Windows Kubernetes nodes to Docker EE 18.03 from 17.06"
Docker EE 18.03 is available. It's needed for symlinks to work on Windows Server version 1803 and later. We should switch from Docker EE 17.06 to 18.03 for Kubernetes deployments.

This should also be configurable with the **dockerEngineVersion** cluster definition parameter, but it doesn't work on Windows. It would be best to implement that, and default to 18.03 for Windows only

See past issue #

[2018-09-15 00:12] PatrickLang commented on #3852
Here's how to see installed version

[code]

available versions

[code]

Upgrade

[code]

[code]

[2018-09-15 08:35] sharmasushant commented on #3546
@fabiendibot @jackfrancis  I am not sure that this is related to accelerated networking, and as per below discussions is a known issue and can happen even on non-accelnet VMs

https://github.com/kubernetes/kubernetes/issues/56903

https://www.weave.works/blog/racy-conntrack-and-dns-lookup-timeouts

Out of few resolutions, one was to use tcp for DNS queries by specifying `options use-vc` in resolv.

[2018-09-16 15:46] #3057 closed

[2018-09-17 12:28] ffd2subroutine opened #3856 "How to SSH to worker nodes deployed as VMSS through the master"
**Is this a request for help?**:
yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.21.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
If worker nodes are deployed as AvailabilitySet (each worker node gets ip something like 10.240.0.X) then I can use master as bastion to ssh to worker nod

[2018-09-17 13:15] ffd2subroutine commented on #3856
Sorry, I figured it out, I'm closing this.

[2018-09-17 13:15] #3856 closed

[2018-09-17 19:33] wbuchwalter commented on #3621
I am seeing the same issue on a cluster with only Linux agents.

Created a cluster with acs-engine `v0.21.2`, deployed some workload on it, including a service of type `LoadBalancer`. Everything worked as expected.

I then scaled some of the pools, and I am now seeing the error mentioned above. Also creation of new services now fail as well with:
[code]

[2018-09-17 20:39] wbuchwalter opened #3858 "Scaling a pool to 0 agents breaks LoadBalancer-type services"
**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
* acs-engine v0.21.2
* Kubernetes v1.10.7
* Deployed a cluster with 3 agent pools and 3 masters.

**What happened**:

Scaling one of the agent pools to 0 breaks all services of type `LoadBalancer` (don't know about other types of services) created or updated after the scaling operation.

For example, creating a new service with type `Loa

[2018-09-17 22:16] jackfrancis commented on #3839
[code]

[2018-09-17 22:20] jackfrancis commented on #3839
Hopped onto a failed host, succeded on retry:

[code]

[2018-09-17 23:40] #3839 closed

[2018-09-18 01:39] feiskyer commented on #3858
Right. The case is not handled within cloud provider. Let me fix this after k8s code freeze.

[2018-09-18 06:58] feiskyer commented on #3858
Filed https://github.com/kubernetes/kubernetes/pull/68775 to fix this.

[2018-09-18 07:54] rocketraman commented on #3762
@CecileRobertMichon  I got a CSE 30 today as well, upgrading a 1.8.10 cluster to 1.9.10 using acs-engine v0.21.2.

On investigation, I noted that the api server was not responding, and checking the logs of the apiserver container, I saw that it failed to start with the error that `/etc/kubernetes/manifests/audit-policy.yaml` was not found.

After manually creating this file with the content from h

[2018-09-18 08:41] aluncoppack commented on #1919
@ritazh, this is fantastic to hear. Do you have a link to the master PR?

[2018-09-18 14:06] vannovv commented on #3827
@jackfrancis Sorry for the delay in response.  I have been traveling.  We were in the process of upgrading (actually building new clusters and moving) our clusters from 1.6.6 to 1.8.6 which is time consuming to coordinate.  We are not opposed at looking at a replacement to Calico but would like to finish our upgrades first.  If we change over we would need to test and run up through our envionment

[2018-09-18 16:50] ritazh commented on #1919
@aluncoppack AZ for master PR: #3864

[2018-09-18 16:51] #3847 closed

[2018-09-18 17:14] #3697 closed

[2018-09-18 17:44] pidah commented on #2298
@jackfrancis super ! Thanks 👍🏿

[2018-09-18 20:46] CecileRobertMichon opened #3865 "Bump default k8s version"
Current default for Linux is 1.8, we should bump it to a more recent minor version.

[2018-09-18 20:47] CecileRobertMichon opened #3866 "Bump etcd version"
Default etcd version is outdated, let's bump it to a newer version.

[2018-09-18 21:33] CecileRobertMichon commented on #3636
https://github.com/Azure/acs-engine/pull/3854 enforces password validation

[2018-09-19 11:00] ahsannaseem commented on #2418
havin g same issue but getting this

`kubectl --insecure-skip-tls-verify="true" get pods
error: the server doesn't have a resource type "pods"`

[2018-09-19 21:37] lastcoolnameleft opened #3873 "Issue running v0.22.0 for Azure Gov"
Hello,

I encountered an issue when I tried deploying an acs-engine cluster on Azure Gov cloud using v0.22.0; however, the issue does not exist in v0.21.2.

[code]

I then replaced acs-engine v0.22.0 with v0.21.2 and it worked without issue:
[code]

[2018-09-19 21:38] CecileRobertMichon commented on #3873
@lastcoolnameleft thanks for reporting, fix is on its way!

[2018-09-19 22:03] ocdi opened #3875 "Regular crashing of Windows host nodes due to BSOD / BugCheck"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: v0.20.9

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.11.2

**What happened**:
It seems that Windows is restarting unexpectedly, especially when there is a lot of churn in running containers. I am unsure if this is the VM i

[2018-09-19 22:11] nikolajbrinch opened #3876 "Metrics-server not functioning on v0.22.0"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

---

**What version of acs-engine?**:

v0.22.0

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

K8s 0.11.3

**What happened**:

Metrics server is missing a certificate
[code]
**What you expected to happen**:

Metrics server runnung

**How to reproduce it** (as minimally and prec

[2018-09-20 00:07] #3873 closed

[2018-09-20 00:53] CecileRobertMichon commented on #3873
@lastcoolnameleft can you please try again with 0.22.1 and let us know if you run into any issues?

[2018-09-20 02:05] jhowardmsft commented on #3377
I suspect this is fixed by https://github.com/Azure/azure-container-networking/pull/247

[2018-09-20 09:15] BarAluf opened #3880 "kubernetes dashboard doesn't reachable"
**Is this a request for help?**:

yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

**What version of acs-engine?**:

**v0.21.2**

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

**What happened**:

Kubernetes dashboard is not reachable, using **"kubectl --namespace=kube-system port-forward svc/kubernetes-dashboard ..."** forwarding command. it happens in any browser.
In a

[2018-09-20 15:09] tariq1890 commented on #2407
Closed via #3854

[2018-09-20 15:09] #2407 closed

[2018-09-20 16:20] lastcoolnameleft commented on #3873
I just verified that this works!  Thanks for the speedy fix:

[code]

[2018-09-20 16:20] lastcoolnameleft commented on #3873
Is there an ETA for when the AKS image will be available in non-public clouds?

[2018-09-20 16:51] CecileRobertMichon commented on #3875
@PatrickLang

[2018-09-20 18:29] davidmatson opened #3883 "Unknown JSON tag windowsVersion"
Acconding to the [docs](https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/windows-details.md), windowsVersion is supported in the windowsProfile section, but when trying it with v0.22.0 (git commit 3e5ca5dde), I get the following error:
[code]

apimodel snippet:
[code]

[2018-09-20 18:35] davidmatson commented on #3883
The [sample](https://github.com/Azure/acs-engine/blob/master/examples/windows/kubernetes-windows-version.json) shows using imageVersion instead. Looks like a discrepancy between docs and sample/implementation. Using the property name "imageVersion" appears to work fine currently.

[2018-09-20 20:06] CecileRobertMichon commented on #3883
@davidmatson this is a gap in the docs, would you like to open a PR to fix it?

[2018-09-20 20:58] davidmatson commented on #3883
Would updating the implementation to use windowsVersion be better? That would keep it consistent with the naming of the other related properties.

[2018-09-20 21:00] davidmatson commented on #3883
(Or change all the others to imagePublisher, imageOffer, imageSku)

[2018-09-20 21:00] CecileRobertMichon commented on #3883
I agree that it would be but it would be a more complex change because we would need to ensure backward compatibility to upgrade and scale clusters that were deployed using the current property naming.

[2018-09-21 02:49] ocdi commented on #3875
just an update, I opened a support request to Azure support and sent the crash dumps to them. They have acknowledged and engineers are investigating internally. I'm not sure if case numbers are sensitive but can share to anyone if you want to see it.

[2018-09-21 06:58] andyzhangx opened #3888 "Make kubelet & docker service restart automatically when it crashes on Windows"
**Is this a request for help?**:
FEATURE REQUEST
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

---

**What version of acs-engine?**:
v0.21.2
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
I found kubelet on Windows crashes due to OOM, while after that kubelet won't restart automatcially even there is memory later (while on Linux node

[2018-09-21 07:48] feiskyer commented on #3888
+1

[2018-09-21 08:51] tonyschollum commented on #3875
I have had the exact same issue today. Azure support looked into it for me as the VM wouldn't come back online. Basically after the crash I ended up with two NIC's with the same mac address but different IPs. Once sorted out the node is back however pods no longer work on it. I am getting the below:

Failed create pod sandbox: rpc error: code = Unknown desc = [failed to set up sandbox container "a

[2018-09-21 08:56] tonyschollum commented on #3798
Hi @PatrickLang ,

I have had the same issue today. To apply your suggestion above do I need to completely delete the cluster and deploy a new one or is there some other process to this?

Thanks for your help

[2018-09-21 10:12] adelina-t commented on #3888
kubelet and kubeproxy are registered via nssm.exe and as far as I can see are already configured to restart automatically.

[2018-09-21 16:35] jackfrancis commented on #3827
Great news. Having your service principal expire at the same time as a major regional outage is :(

Sometimes the gods like to see us suffer.

Thanks for the detailed write-up, we should definitely have a better way of updating sps on pre-existing clusters!

[2018-09-21 16:35] #3827 closed

[2018-09-21 17:37] CecileRobertMichon commented on #3738
fixed in https://github.com/Azure/acs-engine/pull/3774

[2018-09-21 17:37] #3738 closed

[2018-09-21 18:04] daschott commented on #3798
@tonyschollum you need to open a support ticket with Microsoft/Azure, else there should be a public KB coming out soon (no earlier than mid-November unfortunately.) Will loop back here once it is posted.

Either option does not require you to delete your cluster. You will be required to install an update and reboot each one of your nodes however. If you have a new cluster you are trying to create,

[2018-09-21 19:49] PatrickLang commented on #3888
Hmm, I logged into a node and didn't see a `FailureActions` registry value on the kubelet service:

[code]

I ran `sc.exe failure "kubelet" actions= restart/60000/restart/60000/restart/60000 reset= 86400` to set it, and now I see that in the registry.

[code]

[2018-09-21 19:50] PatrickLang commented on #3888
`sc.exe failure "kubelet" actions= restart/60000/restart/60000/restart/60000 reset= 86400` means
restart after 60000ms (1 minute) for the first, second, and third failures. Reset the counter after 86400 seconds (1 day)

[2018-09-21 20:02] PatrickLang commented on #3798
If you have a fix from Microsoft support, you can follow the steps here to get access to your existing nodes with Remote Desktop. Then you can post the fix in a storage account, download and install it on the Windows nodes

https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/troubleshooting.md#connecting-to-windows-nodes

Using the Windows patching extension is definitely easier for ne

[2018-09-24 16:54] davidmatson opened #3897 "Make creating a service principal and granting contributor rights a better experience"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
[code]
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.11.2

**What happened**:
kubectl create secret failed

**What you expected to happen**:
kubectl create secret should succeed

**How to reproduce it** (as minimally and precis

[2018-09-25 08:09] andyzhangx commented on #3888
@PatrickLang set `FailureActions` is not enough, I also found `kubeproxy` and `docker` is not running after OOM happens, shall we set same `FailureActions` for `kubeproxy` and `docker`? And how could I get original `FailureActions` of `docker`, it's already set while I found docker is not started when it hit OOM, see below info:

[code]

[2018-09-25 15:17] ghelyar commented on #3831
I have the same problem but just wanted to add that my reason for needing `2016-Datacenter-with-Containers` is to dodge this issue: https://github.com/docker/for-win/issues/1288

I want to make calls using oauth, so I need the time on the container to be accurate, but it seems it's been broken in windows containers since 1709. Using `microsoft/dotnet-framework:4.7.2-runtime-windowsservercore-ltsc2

[2018-09-25 16:51] CecileRobertMichon commented on #3876
@nikolajbrinch were you able to verify that the same thing works on 0.21.2?

[2018-09-25 17:03] ritazh commented on #3897
@davidmatson The service principal here is used by the Kubernetes Azure cloud provider to create Azure resources required by the cluster, for example, disks for volumes, loadbalancers for services, access keys from key vault, etc.

When using acs-engine to create a new cluster on Azure, we expect the user to [create a service principal with Contributor role to the subscription or Contributor role

[2018-09-25 17:27] jackfrancis opened #3902 "GPU jobs on k8s 1.9 clusters not being scheduled"
[code]

[2018-09-25 17:46] davidmatson commented on #3897
Sounds great. Thanks, @ritazh.

[2018-09-25 18:18] jackfrancis commented on #3880
Are you able to access this from a different browser?

[2018-09-25 19:48] tariq1890 commented on #3850
Closing since #3877 has been merged

[2018-09-25 19:48] #3850 closed

[2018-09-25 20:37] jackfrancis opened #3903 "Enable over-provisioning for VMSS clusters"
https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-design-overview

https://docs.microsoft.com/en-us/rest/api/compute/virtualmachinescalesets/createorupdate

[2018-09-25 20:52] jackfrancis commented on #3902
@wbuchwalter @lachie83 FYI. This is not a regression in code, but something environmental that is now preventing `nvidia-smi` from working. See this job that we use for E2E tests:

https://github.com/Azure/acs-engine/blob/master/test/e2e/kubernetes/workloads/nvidia-smi.yaml

Should we invest time in troubleshooting this, or simply remove official support for GPU in 1.9 and below?

[2018-09-26 06:54] ankitsingh11 commented on #2591
@CecileRobertMichon I am trying to create cluster using acs-engine v0.16.0 in **China East2** which is a new region but there are lot of errors while running the custom execution script in the master VM. Have changed lot of configurations and the registry Url, able to fetch the images in the master VM but still the provisioning fails with an exit code 30.

+ echo 'k8s cluster is not healthy after

[2018-09-26 08:14] BarAluf commented on #3880
no

[2018-09-26 10:55] pidah opened #3906 "Customize Kubernetes Manifest YAML files"
FEATURE REQUEST

#3840 added functionality to customize Addon YAML files. We have a requirement to customize the pod security yaml which is part of kubernetesManifestSettingsInit https://github.com/Azure/acs-engine/blob/master/pkg/acsengine/artifacts.go#L239-L272
We would like this functionality extended to kubernetesManifestSettingsInit

@tariq1890

[2018-09-26 16:33] CecileRobertMichon commented on #2591
@ankitsingh11 please refer to https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/troubleshooting.md#vmextensionprovisioningerror-or-vmextensionprovisioningtimeout for a guide on troubleshooting these issues and open a new issue if you still need help. I will close this one for now as it is outdated.

[2018-09-26 16:33] #2591 closed

[2018-09-26 18:05] CecileRobertMichon commented on #3833
Confirmed this is specific to vmss

[2018-09-26 22:56] CecileRobertMichon commented on #3875
This seems related to https://github.com/Azure/azure-container-networking/issues/242 (also https://github.com/Azure/azure-container-networking/issues/232 for the error logging problem). @ocdi do you see anything similar in the kubelet logs?

[2018-09-26 23:02] sharmasushant commented on #3875
@tonyschollum this is not related to windows crashing with BSOD. Can you please open a separate issue for this and attach c:\k\azure-vnet.log.* files

[2018-09-26 23:35] jackfrancis opened #3910 "add zip package to VHD image"
`apt-get install zip` should do the trick

[2018-09-27 06:32] ocdi commented on #3875
@CecileRobertMichon annoyingly I killed the nodes that were affected. I have a single node left running from that cluster and am trying to trigger a BSOD by killing containers and having it restart them (that did seem to be related / trigger it). The windows containers are ASP.NET apps on full framework so I would be surprised if there was any particular traffic causing it, but it does seem with l

[2018-09-27 16:27] #3910 closed

[2018-09-27 18:38] CecileRobertMichon opened #3914 "Publish and use the AKS Base Image for sovereign clouds"
https://github.com/Azure/acs-engine/blob/master/pkg/acsengine/defaults.go#L172
https://github.com/Azure/acs-engine/blob/master/pkg/acsengine/defaults.go#L189
https://github.com/Azure/acs-engine/blob/master/pkg/acsengine/defaults.go#L231

[2018-09-28 09:47] vinodhbasavani commented on #2886
I am also experiencing the same issue. and my cluster was on aws with calico networking. It was created using kops and version running is 1.8.8. Any fixes for this?

[2018-09-28 10:17] tonyschollum opened #3920 "Failed create pod sandbox - Azure CNI v 1.0.11 - windows vm scale sets"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: v0.22.2 & v0.21.2

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.11.3

**What happened**:
When deploying pods the following error displays (this is limited to the windows nodes)
This happens with all deployments after initia

[2018-09-28 21:10] dasbraja opened #3923 "TLS and Certificate management with Third Party CA signed certificate without CA private key"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
Kubernetes v1.8.15
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

**What happened**:

**What you expected to happen**:

**How to reproduce it** (as minimally and precisely as possible):

**Anything else we need to know**:

[2018-09-28 21:15] dasbraja commented on #3923
here is kube-controller-manager.yaml file used ca private key.

azureuser@k8s-master-17765722-0:/etc/kubernetes/manifests$ more kube-controller-manager.yaml
apiVersion: "v1"
kind: "Pod"
metadata:
  name: "kube-controller-manager"
  namespace: "kube-system"
  labels:
    tier: control-plane
    component: kube-controller-manager
spec:
  hostNetwork: true
  containers:
    - name: "kube-controller-m

[2018-09-28 21:27] tonyschollum commented on #3920
Overnight one of the nodes has now started presenting this issue. It appears the node is crashing. Attached is the system errors log and an updated azure-vnet.log.

I will open the crashing issue with Azure but would still be good to get to the bottom of the CNI issue.

[azure-vnet2.log](https://github.com/Azure/acs-engine/files/2429787/azure-vnet2.log)
[system-error-logs.txt](https://github.com/A

[2018-09-29 00:18] #3038 closed

[2018-09-30 07:56] Mikerr1111 opened #3926 "Snap package support (Feature Request)"
I was thinking the setup and install process for Ubuntu and other Linux distros could be improved by having a [Snap package](https://snapcraft.io/) version.

[Creating a Snap](https://tutorials.ubuntu.com/tutorial/create-your-first-snap#0)

[Building Snaps with Go](https://docs.snapcraft.io/build-snaps/go)

[Linux distros with Snap support](https://docs.snapcraft.io/core/install)
![snap](https://u

[2018-09-30 22:04] tonyschollum commented on #3920
Another update to azure-vnet log.

Unfortunately now neither of the nodes can schedule pods.
[azure-vnet3.log](https://github.com/Azure/acs-engine/files/2432112/azure-vnet3.log)

[2018-10-01 09:28] rcarmo commented on #3037
I'm also tracking this in a recent deployment. Can we have more info on whether updated Windows images already include a fix, or any mitigation approaches we can use to (for instance) tailor ACS-engine to pick out stable OS images?

[2018-10-01 18:01] tamilmani1989 commented on #3920
@tonyschollum we are looking at the issue. We will investigate and get back to you.

[2018-10-01 21:48] LostinCloud opened #3930 "kube-dns intermittent crashloop and pods are not able access internet"
**Is this a request for help?**:
Help
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
0.20.9
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
"orchestratorRelease": "1.10",
"orchestratorVersion": "1.10.6",
 Ubuntu :16.04
 ACS Engine:0.20.9
**What happened**:
 Intermittent crash loop on kube-dns and pods are not talking to int

[2018-10-02 03:36] #3883 closed

[2018-10-02 04:48] davidmatson opened #3931 "CSE error: exit code 99 - GPG error KEYEXPIRED"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
[code]
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.11.2

**What happened**:
Deployment failed with exit code 99

**What you expected to happen**:
Deployment to succeed

**How to reproduce it** (as minimally and precisely as p

[2018-10-02 04:50] davidmatson commented on #3931
KEYEXPIRED 1538166745 corresponds to a Unix timestamp of 2018-09-28T20:32Z.

[2018-10-02 06:13] ocdi commented on #3875
I heard back from support this morning. Apparently the fix will be in the upcoming windows release (ie the one after 1809), and the team are looking at back-porting the fix to earlier Windows releases. How and when that will end up on my cluster, I have no idea. For now I am running static windows servers and not using containers. I suspect we could close this now.

[2018-10-02 06:13] #3875 closed

[2018-10-02 06:57] uzd opened #3932 "Can not create private cluster with VMSS masters"
**Is this a request for help?**:

Help

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

**What version of acs-engine?**:

Version: canary
GitCommit: e89eb97
GitTreeState: dirty

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes

**What happened**:
I tried to deploy a private cluster with master's availability profile set to VirtualMachineScaleSets but it faile

[2018-10-02 11:35] nikolajbrinch opened #3933 "Cluster provisioning fails due to invalid nvidia keys, during apt-get update in the cse for agents and master"
**Is this a request for help?**:
yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.22.2
---
kubernetes.json
[code]
**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

**What happened**:
Command output:
[code]
/var/log/azure/cluster-provisioning.log
[code]

**What you expected to happen**:

A new cluster should be built

**How to

[2018-10-02 15:15] nikolajbrinch commented on #3933
Ok here is a work around tested and verified:

Deploy using ARM templates (by using acs-engine generate first, and using az group deployment create), and pass an extra parameters file with the content (corresponding to the above kubernetes.json):

[code]

[2018-10-02 15:49] dstrebel commented on #3930
Can you pull and post the logs from the kube-dns pod `kubectl logs kube-dns -n kube-system`?

[2018-10-02 16:05] CecileRobertMichon commented on #3933
@nikolajbrinch thanks for reporting. What do you mean by "Currently acs-engine uses by default an old image: 16.04.201804050"? acs-engine in fact uses `16.04.201809120` as default https://github.com/Azure/acs-engine/blob/master/pkg/acsengine/defaults.go#L77. However, starting with acs-engine 0.22.0, we use a custom distro called "aks" to pre-install software, which is based on Ubuntu 16.04 "latest

[2018-10-02 16:10] CecileRobertMichon commented on #3932
@uzd VMSS master implementation is still in progress, the private cluster feature is not yet supported.

[2018-10-02 16:10] #3932 closed

[2018-10-02 16:13] grenzr commented on #3933
does the aks 0.16.0 image version resolve the key problem?
https://github.com/Azure/acs-engine/pull/3913

[2018-10-02 16:14] CecileRobertMichon commented on #3931
@davidmatson see https://github.com/Azure/acs-engine/issues/3933 for more details and a workaround. Can you please share your apimodel (with secrets redacted)?

[2018-10-02 16:27] CecileRobertMichon commented on #3933
@grenzr good call it most likely does as our tests are not seeing the same error (running from the master branch). Also, as @davidmatson pointed out in the expiration points to unit timestamp `2018-09-28T20:32:25+00:00.` We will release with the new image soon, in the meantime you can try either a) building from master b) specifying "distro": "ubuntu" as I described above or c) manually change the

[2018-10-02 16:29] CecileRobertMichon commented on #3931
closing to keep the discussion thread centralized in #3933

[2018-10-02 16:29] #3931 closed

[2018-10-02 16:57] daschott opened #3935 "Switch acs-engine to use CoreDNS instead of kube-DNS"
**Is this a request for help?**:

No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Feature request

---

**What version of acs-engine?**:

All current versions

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes

**What happened**:
Kubernetes conformance tests:
[Fail] [sig-network] DNS [It] should provide DNS for services  [Conformance]
[Fail] [sig-networ

[2018-10-02 17:19] grenzr commented on #3933
confirmed - using `distro: 'ubuntu'` in masterProfile and agentProfile gets you a working cluster.

[2018-10-02 17:29] CecileRobertMichon commented on #3932
https://github.com/Azure/acs-engine/pull/3936

[2018-10-02 17:42] davidmatson commented on #3933
Also confirming that I was able to get a working cluster by switching osImageVersion to 0.16.0 in azuredeploy.parameters.json. (Just had to switch from acs-engine deploy to acs-engine generate to have the option to tweak this value.)

[2018-10-02 17:45] CecileRobertMichon commented on #3933
Great thanks @davidmatson and @grenzr. Patch release is on its way.

[2018-10-02 17:58] jackfrancis commented on #3933
Fixed here: https://github.com/Azure/acs-engine/releases/tag/v0.22.3

[2018-10-02 17:58] #3933 closed

[2018-10-02 18:02] davidmatson opened #3937 "Feature Request: aks based on ubuntu 18.04.1"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Feature Request
---

When I SSH into a cluster deployed by acs-engine with the default distro, it says:

[code]

Are there any plans to upgrade the default distro (aks?) to a newer version of ubuntu?
Would using the newer version of ubuntu have prevented #3931 / #3933?

[2018-10-02 18:37] nikolajbrinch commented on #3933
@CecileRobertMichon I mean using acs-engine 0.22.3
[code]

and generating templates, the following is in my azuredeploy.json

[code]

and I was of the impression that azuredeploy.json states the defaulValues for the current acs-engine version. That would be nice though, so I wouldn't have to go to the code...
Even better if this was documented somewhere.

[2018-10-02 18:42] nikolajbrinch commented on #3933
@CecileRobertMichon on the docker version thing. The reason for actually deploying this cluster again, was that I crashed the API server, and decided to just rebuild the cluster (it is a test cluster).
So the whole build process was a repeat of an earlier built - also using docker 17.05.
So it was running for days, until I wiped the Resource Group and ran my script again.

BTW: The Troubleshooting

[2018-10-02 20:28] CecileRobertMichon commented on #3933
@nikolajbrinch my initial intuition about the newer docker version was wrong, the problem was definitely that the nvidia key used in the 0.15.0 VHD image was expired. The only way that your docker version was affecting that is that because that version is not preinstalled on our AKS curated image it was being pulled at deployment which included running an apt-get update and that was causing the nv

[2018-10-02 21:04] jackfrancis commented on #3930
@LostinCloud did the provided cluster config ever work on a prior cluster? Lack of pod networking usually speaks to either network config pathology or service principals not having access to get NICs from Azure API.

[2018-10-02 21:40] nikolajbrinch commented on #3933
@CecileRobertMichon Thank you for clarifying everything and making a quick fix. Tested with a small cluster provisioning and it works fine now (0.22.3).

We use the newer docker version, as it support multistage builds, and other newer stuff. Our Jenkins servers run on this and does the images builds, and we like using multistage builds and setting ownership and group during copy :-)

[2018-10-02 22:12] LostinCloud commented on #3930
@dstrebel  Please find the attached kube dns logs. I have attached kube-dns , dns configuration and jenkins pod issue(unable to talk to internet)
[kubedns.log](https://github.com/Azure/acs-engine/files/2439892/kubedns.log)

[2018-10-02 22:27] LostinCloud commented on #3930
@jackfrancis - No.I am building k8s cluster with this config.unfortunately, its failing now. I have seen below warnings in kube dns side car logs.Apart from logs are cleans and kube-dns has crash loops too.

 Regarding service principals - service principal is configured to network(vnet) and k8s resource groups in the Access control blade.Do i need to perform any other steps? Please let me know.

[2018-10-02 22:38] PatrickLang commented on #3935
Here's the KEP recommending CoreDNS as default for v1.11
https://github.com/kubernetes/community/blob/master/keps/sig-network/0012-20180518-coredns-default-proposal.md

[2018-10-03 05:32] Sachin-kl commented on #1949
I am facing problems deploying a hybrid cluster in custom vnet.

Error: The template parameter 'masterSubnet' is not found.
acs-engine version: v0.21.2
k8s version: 1.11

Any idea when support for "Hybrid Cluster with Custom Vnet" will be added?

[2018-10-03 14:18] kosta709 opened #3941 "Cannot create data disks with custom images"
**Is this a request for help?**:
yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.22.2
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
kubernetes

**What happened**:
running acs-engine v0.22.2 with "diskSizesGB: [1023, 1023]" in cluster definition creates vm without datadisks
resulting azuredeploy.json does not contain

[2018-10-03 15:02] CecileRobertMichon commented on #3941
@kosta709 this is a regression introduced by adding the custom AKS distro. I will work on a fix, in the meantime you can specify `"distro": "ubuntu"` in your apimodel in the agent profile to opt out of the AKS distro and things will work as they used to.

[2018-10-03 15:15] Luis-Angel-Ramher commented on #2418
Hi, i have a similar problem when writing
[code]
It show the following
[code]
Then i execute
[code]
But when performing
[code]
I get this
[code]
Can someone help me, I do it from the windows cmd.

Thank you

[2018-10-03 15:38] CecileRobertMichon commented on #3941
@kosta709 please disregard my previous comment, the AKS distro is not what is causing the issue. Still investigating to find root cause.

[2018-10-03 15:49] CecileRobertMichon commented on #3937
@davidmatson we do have plans to move to 18.04 in the near future.

However, the version of Ubuntu would not have prevented #3931 / #3933 that was due to an Nvidia key expiring after it was already baked in the VHD.

[2018-10-03 16:15] kosta709 commented on #3941
ok, thanks, waiting

[2018-10-03 17:04] davidmatson commented on #3937
Sounds good. Thanks, @CecileRobertMichon.

[2018-10-03 17:43] kosta709 commented on #3941
Cecile, maybe it happens because of custom image i use?
acs-engine/parts/k8s/kubernetesagentresourcesvmas.t

        "storageProfile": {
          {{if not (UseAgentCustomImage .)}}
          {{GetDataDisks .}}
          {{end}}
previously i did not use custom image for this pool

[2018-10-03 18:18] CecileRobertMichon commented on #3941
@kosta709 that's correct, I had missed that in your apimodel. This is by design I believe so not an actual regression. Are you okay with closing this issue at this point?

[2018-10-03 18:28] CecileRobertMichon commented on #3935
https://github.com/Azure/acs-engine/issues/3385

[2018-10-03 18:35] kosta709 commented on #3941
but what is the reason of disabling data disks for custom image?
after my manual edit of azuredeploy.json cluster was deployed sucessful with datadisks

[2018-10-03 18:45] CecileRobertMichon commented on #3941
I'm not sure why this was originally designed this way, to be honest. If you want to start a PR to remove that artificial constraint we'll be happy to run testing on it and make sure it doesn't regress any behavior.

[2018-10-03 18:53] kosta709 commented on #3941
ok, great!
Thank you
i'm ok to closing this issue

[2018-10-03 19:37] #3941 closed

[2018-10-03 22:14] jackfrancis opened #3945 "HPA fails after upgrade"
Noticing a consistent pattern of E2E failures to use horizontal pod autoscaler after a cluster upgrade. Symptom is broad, doesn't seem to be isolated to particular k8s version upgrade paths (i.e., broken from 1.8 to 1.9 and from 1.11. to 1.12)

[2018-10-04 13:53] pidah commented on #3906
Hi @tariq1890, sorry to chase, have you had cycles to look at this ? thanks o/

[2018-10-04 19:18] tariq1890 commented on #3906
@pidah I haven't had the time to devote cycles for this unfortunately :(. Feel free to send in a PR (with tests if possible) our way and we'd be more than happy to review for you :)

[2018-10-04 20:09] jackfrancis opened #3955 "1.12 cloudprovider AAD flake"
Saw this on one of three master in an E2E run against 1.12.0:

[code]

[2018-10-04 20:10] jackfrancis commented on #3955
[code]

[2018-10-04 20:12] tariq1890 commented on #3955
Could this be related to #3919 ?

[2018-10-04 20:33] pidah commented on #3906
Thanks @tariq1890 ! Will try and do that next week.

[2018-10-05 15:52] Mahesh-MSFT opened #3958 "MySQL connectivity between pods"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: Latest

---

My customer using acs-engine is facing an issue with MySQL pod connectivity. Below are details -

[code]
[code]
[code]

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** : Kubernetes

**What happened**:  Customer is unable to connect

[2018-10-05 16:03] mitchellmaler commented on #3503
@stieler-it After messing around with Openstack I think I found a workaround. If you have the configdrive feature enabled in your openstack cluster you can then provision the nodes with that enabled and setup the cloud-config to only search using configdrive. This will then bypass the metadata api lookup which is what is failing. I am still letting my cluster run a few days but so far the internal

[2018-10-05 19:04] jackfrancis opened #3960 "VMSS masters - external connectivity"
A vanilla VMAS master gets a public IP + DNS record (for the "1st" master vm). This isn't the case for VMSS master scenarios.

Just a tracking issue to figure out what we want to do here.

[2018-10-05 19:06] CecileRobertMichon opened #3961 "11 GB of packer and rootfs in /home after deployment"
Some k8s pre-pulled images are not being cleaned up properly starting in acs-engine 0.22.0.

[code]

[2018-10-05 19:24] jackfrancis opened #3962 "Windows test flake: no unready or crashing pods"
This seems like a bad test:

[code]

[2018-10-05 20:19] #3678 closed

[2018-10-05 20:42] #3961 closed

[2018-10-06 00:47] #2619 closed

[2018-10-06 12:53] Mahesh-MSFT commented on #3958
Thanks @khenidak. Yes. It is kubenet. Anything specific to look for in controller manager logs?

[2018-10-06 21:58] nikolajbrinch commented on #3933
@d-demirci Yes that would be ideal, but that is not up to the user, but up to the maintainer. The CSE is failing at provisioning, nothing I can do, as far as I know?

[2018-10-08 17:12] jackfrancis opened #3976 "conformance tests fail on 1.12 clusters"
There are some new test behaviors in 1.12 vs 1.11 for validating that all nodes are schuedulable.

Here is the 1.12 test:

https://github.com/kubernetes/kubernetes/blob/v1.12.0/test/e2e/framework/util.go#L2651

Here is the test as it was in 1.11:

https://github.com/kubernetes/kubernetes/blob/v1.11.0/test/e2e/framework/util.go#L2624

The OR condition below is new compared to 1.11:

`if !isNodeSche

[2018-10-08 20:10] #3865 closed

[2018-10-08 23:07] huydinhle commented on #1870
This feature is a very nice to have. Do we have an estimate on when in the future we will look into this? I would love to be able to help because it's one of the features we need at our shop

[2018-10-08 23:31] lachie83 commented on #3976
The code has started looking for the following node label `node-role.kubernetes.io/master: ""` on the masters before it can continue. This is new code that was introduced in 1.12.

[2018-10-08 23:31] CecileRobertMichon commented on #1870
@huydinhle I don't believe anyone is looking at this now, if you'd like to start a PR to enable this we'll be happy to offer guidance/reviews/feedback

[2018-10-08 23:44] huydinhle commented on #1870
yes, I would love to be assigned to work on this. @CecileRobertMichon. Will start looking into the code but please send any references or help that you can think of.
Thank you

[2018-10-09 01:11] billpratt opened #3979 "Request: Make it more obvious what k8s features/plugins are enabled by default"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE REQUEST
---

**What version of acs-engine?**:
Version: v0.22.3
GitCommit: ae61d3bfa
GitTreeState: clean
---

@kkmsft and I recently debugged an [issue on aad-pod-identity](https://github.com/Azure/aad-pod-identity/issues/98) where aad-pod-identity was not working when deploying a acs-engine k8s cl

[2018-10-09 17:39] #3976 closed

[2018-10-09 17:44] CecileRobertMichon commented on #1870
for masters VMAS: https://github.com/Azure/acs-engine/blob/api-versions/parts/k8s/kubernetesmasterresources.t#L87
for masters VMSS: https://github.com/Azure/acs-engine/blob/api-versions/parts/k8s/kubernetesmasterresourcesvmss.t#L80

One way you could do this is modify the template function `GetSecurityRules` that is already being used for DCOS and adapt it for Kubernetes (assuming you're intereste

[2018-10-09 20:15] jackfrancis commented on #3958
@Mahesh-MSFT any updates from the customer?

[2018-10-09 21:05] CecileRobertMichon opened #3984 "Generate proxy certs script small issues"
https://github.com/Azure/acs-engine/blob/master/parts/k8s/kubernetesmastergenerateproxycertscript.sh

Run by default on master nodes when `ENABLE_AGGREGATED_APIS` is True (default for k8s 1.9+).

1) Keys are sometimes generated as part of the script and I've noticed sometimes get printed in `/var/log/cluster-provision.log`. We should be redacting secrets in the logs.

Example output:

[code]

(whe

[2018-10-09 22:10] davidmatson opened #3985 "Support specifying Tiller version just like orchestratorVersion, dockerEngineVersion"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE REQUEST
---

**What version of acs-engine?**:
[code]
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.11.3

**What happened**:
An older version of Helm (2.8.1) was automatically installed.

**What you expected to happen**:
A newer Helm version (ex., 2.11.0) can be s

[2018-10-10 04:17] Mahesh-MSFT commented on #3958
@jackfrancis This issue is resolved after correcting NSG rules. Closing this issue now.

[2018-10-10 04:17] #3958 closed

[2018-10-10 07:56] kosta709 opened #3986 "incluster api calls to kubernetes.default.svc from master nodes failes on multimaster deployments"
**Is this a request for help?**:
yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.22.2
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
on k8s multimaster installation - "masterProfile": {"count": 3, ...}
a pod scheduled to master nodes gets sporadic errors on accessing kubernetes.default.

[2018-10-10 15:55] grenzr commented on #3985
helm is a client to tiller which probably runs in your Kubernetes cluster unless you purposely chose to remove it.

Have a look again at https://github.com/Azure/acs-engine/blob/master/docs/clusterdefinition.md and search for tiller.

The version of tiller needs to match the version of helm you're using, although to be fair a simple `helm init --wait --upgrade` will upgrade whatever version of til

[2018-10-10 16:59] davidmatson commented on #3985
Thanks - I see the "image": "myDockerHubUser/tiller:v3.0.0-alpha" part - is there a way I can just request a different version of the official tiller without customizing anything else? A tillerVersion property would be great.

[2018-10-10 21:48] kosta709 commented on #3986
no, not a private cluster
api model:
[code]

[2018-10-11 08:53] zhiweiv commented on #3920
I got same issue twice, restart node does not work, I have to rebuild k8s cluster.
Any update?

[2018-10-11 10:34] grenzr commented on #1914
if anyone is interested, I have a PR open to the helm-vsts-agent repo to handle additional containers, volumes and env vars, so that I can neatly add a DIND sidecar to the vsts-agent deployment: https://github.com/Azure/helm-vsts-agent/pull/7

[2018-10-11 17:51] #3405 closed

[2018-10-11 17:56] CecileRobertMichon commented on #3985
I think what you want is already possible, see: https://github.com/Azure/acs-engine/blob/api-versions/docs/clusterdefinition.md#L124. You can use the `image` field to customize the Tiller version.

[2018-10-11 17:59] davidmatson commented on #3985
For other components, there's a nice syntax for customizing just the version part without needing to know anything else like repository name. Would that be possible to do for tillerVersion as well?

[2018-10-11 18:13] CecileRobertMichon commented on #3985
Tiller is a Kubernetes addon so it's a bit different from other components like Kubernetes itself or Etcd. For those, we maintain a mirror with those binaries and a curated list of version and download the requested version during acs-engine provisioning. For addons, we include the image spec in the addon yaml that gets deployed to your cluster (https://github.com/Azure/acs-engine/blob/api-version

[2018-10-11 18:52] davidmatson commented on #3985
I see. Let me see if I undestand the minimum syntax required to specify a different tiller version:

[code]

Or is that not quite sufficient? (Does the container name and/or other addon/container properties need to be specified as well even if they're not being changed?)

[2018-10-11 18:53] davidmatson commented on #3985
(and for some reason I'm getting a 404 of the GitHub blob links above)

[2018-10-11 18:55] CecileRobertMichon commented on #3985
Yes, that should be sufficient.

I've fixed the links, sorry about that.

[2018-10-11 18:56] davidmatson commented on #3985
Sounds good; thanks!

[2018-10-11 18:56] #3985 closed

[2018-10-11 19:45] jackfrancis commented on #3986
Hi @kosta709, I've added your suggested validation to our E2E fleet here:

https://github.com/Azure/acs-engine/pull/3996

I'll run it against a calico cluster.

[2018-10-11 21:16] #556 closed

[2018-10-11 21:54] jackfrancis commented on #3986
this behavior confirmed on multi-master clusters

[2018-10-11 23:40] amrmahdi commented on #1788
I just tried resizing the master from the portal. The labels were updated. Cluster created using acs-engine 0.22 using kubernetes 1.10.8.

[2018-10-12 07:19] ccit-spence commented on #3130
This only happened to me when RBAC was enabled.  Below fixed it

[2018-10-12 15:09] nikolajbrinch opened #4000 "CSE error: exit code 30"
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

**What version of acs-engine?**:

0.22.3 & 0.23.0

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes 1.11.3 & 1.12.1

**What happened**:

Cluster provisioning with the following kubernetes.json

[code]

**What you expected to happen**:

Cluster should provision ok.

**How to

[2018-10-12 15:34] nikolajbrinch commented on #4000
Ok, it seems that the without the API server definitions for OIDC the cluster will provision. Will the deployment process check for the issuer? The issuer will not be available until after the deployment, as it will be deployed to Kuberetes (CoreOS Dex).
Is it possible to have the API server not check the issuer?

[2018-10-12 16:37] PatrickLang opened #4001 "Windows nodes may go into NotReady state after reboot"
**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: (master as of 10/11/2018)

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes v1.12.0

**What happened**:

After installing a Windows patch, the node went unavailable.

**What you expected to happen**:

Node should come back up

**How to reproduce it** (as minimally and pr

[2018-10-12 18:04] PatrickLang commented on #3636
resolved in #3854

[2018-10-12 18:04] #3636 closed

[2018-10-12 18:12] PatrickLang commented on #4001
This is probably the same as #2670

[2018-10-12 21:33] #3835 closed

[2018-10-12 21:43] MarcPow opened #4003 "apiVersionCompute missing from generated templates"
**Is this a request for help?**: Yes.

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: 0.23.0

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

N/A

**What happened**:

Newly Generated templates that are generated from
https://raw.githubusercontent.com/Azure/acs-engine/master/examples/windows/kubernetes.json
are not deploya

[2018-10-12 21:46] CecileRobertMichon commented on #4003
@MarcPow can you try again with [v0.23.1](https://github.com/Azure/acs-engine/releases/tag/v0.23.1)?

[2018-10-12 22:05] PatrickLang opened #4006 "Add ContainerD support for Windows"
Windows Server 2019 will work with both ContainerD and Docker. We need to be able to choose which runtime to use (CRI-ContainerD or dockershim), and where to install it from so we can do Kubernetes conformance tests with ContainerD

The epic tracking Windows setup cleanup is #3851, be sure to check this off the list when this item is done.

Should also add parameter validation on `containerRuntime

[2018-10-12 22:10] PatrickLang opened #4007 "Make Azure CNI URL configurable"

[2018-10-12 22:10] PatrickLang opened #4008 "Make Kubernetes node binary URL configurable"
Today, testing a Kubernetes release requires doing a new build of ACS-Engine. We need to be able to test fixes from Windows Server, ContainerD / Docker, Kubernetes, and Azure-CNI together to improve Kubernetes conformance test results. If we have to rebuild acs-engine, then we cannot move fast enough.

The epic tracking Windows setup cleanup is #3851, be sure to check this off the list when this i

[2018-10-12 22:13] MarcPow commented on #4003
Great!  Fixed by https://github.com/Azure/acs-engine/pull/3909.

[2018-10-12 22:13] #4003 closed

[2018-10-12 22:51] nikolajbrinch opened #4009 "Support for Standard & Standard SSD managed disks"
**Is this a request for help?**:

No

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

FEATURE REQUEST

**What version of acs-engine?**:

0.23.0

Could we please get the option of specifying the type of managed disk for a cluster. Rigth now Premium is chosen, and I would like to be able to choose between Standard and Standard SSD for my masters-pool and agents-pools.

**Orchestrator and ver

[2018-10-12 23:19] MarcPow opened #4011 "ACS-Engine 0.23.1 deploys clusters with non-functional CoreDns"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: 0.23.1

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes 1.12.1

**What happened**:

Events:
  Type     Reason          Age                 From                   Message
  ----     ------          ----                ----

[2018-10-12 23:31] MarcPow commented on #4011
I have a cluster with one Linux master and 3 Windows agents.

The issue is that my coredns happened to get scheduled on one of the Windows boxes (instead of the Linux master).  As such, it got stuck there temporarily.

[2018-10-12 23:42] PatrickLang opened #4013 "Adjust Windows pagefile to avoid kubelet failures"
@xandyzhangx ran into an issue where once some pods were scheduled, the kubelet & docker instances were up to 2GB+ and pagefile was exhausted.

We need an investigation to figure out what the right pagefile size is to avoid crashing the kubelet.

Also see #3999

[2018-10-12 23:43] jackfrancis commented on #4011
@MarcPow can you build from source on PR #4014?

If not, we'll test it out and report back.

[2018-10-12 23:43] MarcPow commented on #4011
To your request -

{
    "apiVersion":  "vlabs",
    "properties":  {
                       "orchestratorProfile":  {
                                                   "orchestratorType":  "Kubernetes",
                                                   "orchestratorRelease":  "1.12"
                                               },
                       "masterProfile":  {

[2018-10-13 00:52] MarcPow commented on #4011
At the moment, I don't have the ability to build from source.

So instead, I pulled down the current deployment/coredns yaml, updated it with a node-selector, and re-applied.  It seems to work like a charm:

Volumes:
  config-volume:
    Type:      ConfigMap (a volume populated by a ConfigMap)
    Name:      coredns
    Optional:  false
  coredns-token-6pzrg:
    Type:        Secret (a volume popu

[2018-10-13 01:03] MarcPow commented on #4011
Update:  My manual update isn't stable.  Something is removing my node selector, but I assume that's automation around the deployment under ACS that I don't fully understand, being a newbie and all.  But I'm reasonably convinced that when applied, the node selector works appropriately.

[2018-10-13 17:40] #4011 closed

[2018-10-13 19:56] mhyllander opened #4016 "cluster-autoscaler (addon) fails after startup"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**:
Version: v0.23.1
GitCommit: 94d7cf6fb
GitTreeState: clean

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
kubernetes 1.12.1

**What happened**:
I deployed a simple cluster with one master and one worker in a VMSS (an apimodel I have used

[2018-10-14 21:36] tonyschollum opened #4025 "VMSS - Backend pool unassociated for LoadBalancer deployed with NGINX"
**Is this a request for help?**: yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Feature Request

---

**What version of acs-engine?**: v0.22.4

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** Kubernetes 1.11.3

**What happened**:
I'm not sure if this is specific to acs-engine however:

I am using VMSS. When installing NGINX via Helm using a nodeSelector to targe

[2018-10-15 13:27] kosta709 commented on #3986
Hi @jackfrancis ,
Thanks
the liveness probe test you are adding will fail in ~ 1/3 of calls  (in case of 3 masters), because it goes though internal LB and will fail only if selected backend will be the same node of where kubectl is running

Can you please provide a manual workaround  (iptables commands for 4443 to 443 redirection) before publish a release

[2018-10-15 16:38] sylus opened #4027 "Can't provision Hybrid cluster issues with cse provisioning"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Bug

---

**What version of acs-engine?**: v0.23.1

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes 1.11.3

**What happened**:

Running the following:

[code]

Where the initial cluster spec is:

[code]

The error I get is:

[code]

**What you expected to happen**: The cl

[2018-10-15 16:39] sylus commented on #4027
I checked the logs on my cse-agent-0 node and think my problem is related to the following:

[code]

[2018-10-15 17:07] sylus commented on #4027
Also the first error I get is:

[code]

But I manually add the managedSubNet variable. I am a bit confused as was told the CI tests were green for hybrid cluster.

Not really sure what I am doing wrong.

[2018-10-15 17:46] MarcPow opened #4029 "Feature Request: Support Docker CE 18.03"
**Is this a request for help?**:

No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Feature Request
---

**What version of acs-engine?**:

0.23.1
---

    "dockerEngineVersion": {
      "allowedValues": [
        "17.05.*",
        "17.04.*",
        "17.03.*",
        "1.13.*",
        "1.12.*",
        "1.11.*"
      ],
      "metadata": {
        "description": "The docker engine

[2018-10-15 17:49] CecileRobertMichon commented on #4029
Sadly, because of unresolved license limitations we are currently unable to move to new Docker CE versions (see https://github.com/Azure/AKS/issues/63 for context). There has been a push to move to Moby instead, you can track the effort at https://github.com/Azure/acs-engine/pull/3896

[2018-10-15 18:06] #4029 closed

[2018-10-15 18:51] kkmsft opened #4034 "ManagedIdentity api version incorrect"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Bug
---

**What version of acs-engine?**:
---
HEAD of the tree.

The ManagedIdentity api version has been replaced with the apiVersionCompute, instead of "2015-08-31-PREVIEW". Looks like a regression.  PR has been raised #4032  for this issue to be fixed and will include the e2e test, which should catch

[2018-10-15 19:41] kichristensen opened #4035 "No networks found in /etc/cni/net.d"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.23.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.12.1

**What happened**:
I deployed a new cluster with VMSS, but when I run `kubectl get nodes` both the master and agent is stuck in NotReady

[code]

Looking at the logs o

[2018-10-15 21:29] sylus commented on #4027
So it seems to be working except for the master subnet variable when I remove storing my values in key vault. Have to assume is something wrong with my configuration.

Sorry for the noise!

[2018-10-15 23:36] jackfrancis commented on #3986
Hi @kosta709, thanks for your patience. Sorry for the initial misdirection, but in fact this is a known limitation of the current Kubernetes + Azure implementation.

Really, the only way to unblock yourself here is to ensure that pods needing to contact `kubernetes.default.svc` are scheduled on nodes (and not masters). Is that not feasible in your scenario?

@lachie83 @khenidak @feiskyer @andyzhan

[2018-10-16 03:06] feiskyer commented on #3986
Just noticed that kubernetes endpoints are set to ILB's IP address. Are there any reasons to do so?

So another workaround is replacing the endpoints with three master's IP, then they will be load balanced via kube-proxy.

[2018-10-16 03:14] feiskyer opened #4037 "The resource type 'roleAssignments' could not be found in the namespace 'Microsoft.Authorization' for api version '2018-06-01'"
**Is this a request for help?**: help

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: v0.23.1

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** kubernetes

**What happened**: failed to deploy new clusters with error:

[code]

The api-version is updated from https://github.com/Azure/acs-engine/pull/3909. Maybe we should reve

[2018-10-16 06:13] tariq1890 commented on #4027
We are currently working on fixing this issue. Thanks for reporting @sylus

[2018-10-16 13:57] markusdresch commented on #220
i got the very same issue on AKS - FullDisruption crashes nodes:

[code]

[2018-10-16 15:46] PatrickLang commented on #4001
Can you make both fixes @feiskyer or @andyzhangx ? Add the failure restart timeout, and the service dependency for kubelet

[2018-10-16 16:04] kichristensen commented on #4035
I forgot to write that I've got Calico enabled

[2018-10-16 16:49] CecileRobertMichon commented on #4035
Did your deployment return success? What do you see in `/var/log/azure/cluster-provision.sh`?

[2018-10-16 17:20] brobichaud opened #4046 "K8s Windows 1803 pod creation fails with "HNS failed with error : Element not found""
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
22.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
I have a cluster w/ k8s 10.8.1 running Windows v1803 nodes. All was well for 6 days with a dozen of my pods deployed, then suddenly I start seeing the error

[2018-10-16 17:45] sharmasushant commented on #4046
@madhanrm @dineshgovindasamy Guys, could it be related to docker 1.13 as well?

[2018-10-16 17:46] jackfrancis opened #4047 "moby + Azure CNI"
Getting inconsistent HPA results from moby + Azure CNI clusters.

[code]

[2018-10-16 17:47] jackfrancis commented on #4047
@cpuguy83 @ksaur @khenidak  FYI, we can troubleshoot this here

[2018-10-16 17:47] sharmasushant commented on #4047
@jackfrancis  Let me know if you want us to take a look at something from Azure CNI side.

[2018-10-16 17:52] madhanrm commented on #4046
Please collect the logs using https://github.com/Microsoft/SDN/blob/master/Kubernetes/windows/debug/collectlogs.ps1
Also provide c:\k\azure-vnet.log

I suspect this to be the out of sync issue - ie Azure CNI going out of sync with HNS.

[2018-10-16 18:10] PatrickLang commented on #4029
Docker EE-basic 18.03 is available for all licensed Windows Server customers. I'm tracking this upgrade in #3852

Linux users would need their own Docker EE license.

[2018-10-16 18:36] brobichaud commented on #4046
OK, ran the diagnostics and gathered azure-vnet.log on one of the affected nodes. They are attached.
[diags.zip](https://github.com/Azure/acs-engine/files/2484472/diags.zip)
[azure-vnet.log](https://github.com/Azure/acs-engine/files/2484473/azure-vnet.log)

[2018-10-16 18:41] brobichaud commented on #4046
BTW, on the sig-windows slack channel someone else has seen the same problem. He said the following:

I haven't tried that as I don't know how to reset the HNS network.

[2018-10-16 18:42] cpuguy83 commented on #4047
This is an odd error, because metrics are working, I can see them in `/apis/metrics.k8s.io/v1beta1/nodes` and `/apis/metrics.k8s.io/v1beta1/pods`.... although it is saying that cpu usage is 0.

[code]

But these metrics (cpu and mem) are collected from the same endpoint on the kubelet... if it wasn't able to collect one then it wouldn't be able to collect the other...

Meanwhile, the kubelet is re

[2018-10-16 18:57] cpuguy83 commented on #4047
Also now these events are gone for some reason.

[2018-10-16 19:01] madhanrm commented on #4046
@sharmasushant can you add code in Azure CNI, to check if the network exists, before creating an endpoint. If not, can you re-create the network.

On host restart or Kubelet restart kubeletstart.ps1 would attempt to cleanup the HNS Network and remove the json files. If the json files stick around, then azure cni might think that the network is available, and might try creating an endpoint using it

[2018-10-16 19:16] madhanrm commented on #4046
I don't see the error described in this issue in azure-vnet.log

From the diag logs.
The network named azure is missing & hence endpoint creation fails. The azure-vnet.json would confirm, if you see an entry for network.

Name Type     ID                                   AddressPrefix
---- ----     --                                   -------------
ext  L2Bridge 24a89481-38bb-4bf2-b6c0-52fdd00197

[2018-10-16 19:17] sharmasushant commented on #4046
@madhanrm
Is this what happened here? Or is this comment about general goodness?

@saiyan86 can you please take up this change? Lets check for network existence while creating an endpoint.

@madhanrm please understand that this adds overhead to endpoint creation, and we would like to avoid this.
Should we track the issue where you cleanup HNS but not able to remove the state as a bug?

[2018-10-16 19:20] brobichaud commented on #4046
If needed I can repro the problem on this node by removing the taint.

Separately, is there a way I can manually fix this problem so I can repair my cluster?

[2018-10-16 19:21] madhanrm commented on #4046
Try to stop Kubelet service, see if any azure-vnet.json file exist, if yes, delete them, and then start the Kubelet service

[2018-10-16 19:36] madhanrm commented on #4046
Stop-Service Kubelet -Force

<del azure-vnet.json file, if exist>

Start-Service kubelet

[2018-10-16 19:43] brobichaud commented on #4046
OK, that let me stop and start the kubelet. But after doing that I am now seeing this error when I try to schedule a pod:

[2018-10-16 20:33] madhanrm commented on #4046
Can you try deleting below 2 files, while stopping kubelet

<del azure-vnet.json file, if exist>
<del azure-vnet-ipam.json file, if exist>

[2018-10-16 20:48] madhanrm commented on #4046
Please delete the lock files as well.

[2018-10-16 21:12] brobichaud commented on #4046
Ahhh, that did the trick nicely. Thank you so much for saving my cluster. :-)

Is there anything I have done to trigger this? I'm wondering why others have not seen it.

And more importantly, is there anything I can do to avoid this? I know how to fix it now, but it's surely a pain.

[2018-10-16 23:05] jackfrancis opened #4051 "E2E: ensure daemonsets are scheduled to masters and agents, when appropriate"
Ensure that the following daemonsets are scheduled to both master and agent nodes:

- `azure-cni-networkmonitor`
- `azure-ip-masq-agent`
- `kube-proxy`

(There are others)

[2018-10-16 23:06] CecileRobertMichon commented on #4037
fixed in https://github.com/Azure/acs-engine/pull/4048

[2018-10-16 23:06] #4037 closed

[2018-10-16 23:07] CecileRobertMichon commented on #4034
fixed in https://github.com/Azure/acs-engine/pull/4048

[2018-10-16 23:07] #4034 closed

[2018-10-16 23:36] jackfrancis opened #4052 "CSE: Don't block on cleanup operations"
These operations take on the order of 10-20 seconds:

[code]

Let's do these asynchronously and not serially as part of CSE.

[2018-10-16 23:45] PatrickLang opened #4053 "Update Windows setup to create pause container for Windows Server 2019"
https://github.com/Azure/acs-engine/blob/17aa20ed646116e408521e667036875ef2dabd2f/parts/k8s/windowskubeletfunc.ps1#L138 needs to be updated to work with 2019 / 1809

[2018-10-16 23:45] andyzhangx commented on #4001
I will take a look at this issue

[2018-10-16 23:46] PatrickLang commented on #4013
/assign @andyzhangx

[2018-10-17 07:51] kichristensen commented on #4035
Yes the deployment succeeded
![image](https://user-images.githubusercontent.com/2461567/47070325-3b7a6280-d1f1-11e8-823a-db50c7b693b1.png)

The cluster-provision.log looks like this:

[code]

[2018-10-17 08:18] tonyschollum opened #4055 "cluster-autoscaler add-on not setting the correct name for windows nodes in deployment"
**Is this a request for help?**: no

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**:  v0.22.4

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.11.3

**What happened**:
cluster-autoscaler deployment is created using this naming convention for the windows nodes "k8s-windowspool1-42243342-vmss" however the actual

[2018-10-17 08:19] tonyschollum commented on #4046
@madhanrm you are a life saver!!!

[2018-10-17 09:20] tonyschollum commented on #3920
Hi @zhiweiv ,

You could also try the following steps (from https://github.com/Azure/acs-engine/issues/4046):
- Remote into each windows node
- Stop the kubelet service: Stop-Service Kubelet -Force
- Delete c:\k\azure-vnet.json file: del azure-vnet.json
- Delete c:\k\azure-vnet-ipam.json file: azure-vnet-ipam.json
- Start the kubelet service: Start-Service Kubelet -Force

Whilst not a fix this sho

[2018-10-17 12:28] zhiweiv commented on #3920
Thanks @tonyschollum
The old cluster is already deleted, after a few days in new cluster, one Windows node crashed again, I added my comment on  #4046.

Seems k8s Windows is far from productin use. :(

[2018-10-17 16:39] #4052 closed

[2018-10-17 17:59] madhanrm commented on #4046
@zhiweiv  can you also provide the kubelet.err.log ?

[2018-10-17 18:24] pjbgf opened #4060 "k8s with VMSS for master leads to Error: invalid character ']' looking for beginning of value"
**Is this a request for help?**:
Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue

**What version of acs-engine?**:
v0.23.0, v0.23.1 and v0.v24.0

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.12.1

**What happened**:
Error message as per below:
[code]

**What you expected to happen**:
Either a successful deployment or generation of ARM templates.

**Ho

[2018-10-17 18:40] #4027 closed

[2018-10-18 01:43] haoxin opened #4063 "ip-masq-agent daemonset does not work in AzureChinaCloud"
**Is this a request for help?**:

request
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE
---

**What version of acs-engine?**:
0.23.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes
**What happened**:
can't pull ip-masq-agent image

**What you expected to happen**:

**How to reproduce it** (as minimally and precisely as possible):

**Anything else

[2018-10-18 03:00] andyzhangx commented on #4063
would you ssh to master node, and then run following:
 - modify addon config
[code]

change `gcr.io/google-containers/ip-masq-agent-amd64:v2.0.0` to `gcr.akscn.io/google-containers/ip-masq-agent-amd64:v2.0.0`, and then wait for a few minutes to take effect.

 - delete all `azure-ip-masq` pods search by `kubectl get po -n kube-system -o wide | grep masq`, e.g.
` kubectl delete po azure-ip-masq-agen

[2018-10-18 04:04] zhiweiv commented on #4046
Hi @madhanrm

I am unable to connect to the problematic Windows node after reboot, seems same issue with #4001
I decide to keep watching other Windows nodes, if issue occur again, I will paste new information here.

Thanks

[2018-10-18 05:31] MirzaSikander opened #4064 "CSE error: exit code 84"
**Is this a request for help?**: yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): issue

---

**What version of acs-engine?**:
Version: v0.23.1
GitCommit: 94d7cf6fb
GitTreeState: clean

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
kubernetes v1.10.8

**What happened**:
Deployment failed.

Here is the error
[code]
The VMSS deployment had a status of `Conflict`
!

[2018-10-18 07:46] keyoke opened #4065 "k8s Cluster upgrade fails with Jumpbox"
**Is this a request for help?**: yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: 0.23.0

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.11.3

**What happened**:
Upgrade to 1.12.1 fails with the following results

**What you expected to happen**: Upgrade should succeed

**How to reproduce it** (as minimall

[2018-10-18 09:46] keyoke commented on #4065
If I look at the resulting ARM Template which is generated by the upgrade functionality I see that its missing the jumpbox NIC definition below

 {
      "apiVersion": "[variables('apiVersionDefault')]",
      "dependsOn": [
        "[concat('Microsoft.Network/publicIpAddresses/', variables('jumpboxPublicIpAddressName'))]",
        "[concat('Microsoft.Network/networkSecurityGroups/', variables('ju

[2018-10-18 09:58] keyoke commented on #4065
Should the Jumpbox be included or excluded during the upgrade process?

[2018-10-18 12:18] oivindoh commented on #4035
I think maybe the title of this issue could be changed to "calico doesn't work with k8s 1.12.1)"

[code]

The above input to acs-engine results in a fully working cluster on 1.11, but 1.12 results in:

[code]

No node ever get ready due to this:

[code]

Poor calico ds never starts with 0 desired:

[code]

Provisioning log:

[code]

[2018-10-18 12:19] oivindoh commented on #4035
I think maybe the title of this issue could be changed to "calico doesn't work with k8s 1.12.1)"

[code]

The above input to acs-engine results in a fully working cluster on 1.11, but 1.12 results in:

[code]

No node ever get ready due to this:

[code]

Poor calico ds never starts with 0 desired:

[code]

Provisioning log:

[code]

[2018-10-18 13:54] mhyllander commented on #4016
I tested this again with acs-engine v0.24.0 and now it cluster-autoscaler starts as it should.

Version: v0.24.0
GitCommit: b56f3dfa3
GitTreeState: clean

[2018-10-18 13:54] #4016 closed

[2018-10-18 14:48] YitzchakLF opened #4066 "can't deploy kubernetes 1.12"
**Is this a request for help?**:
Yes
---

**What version of acs-engine?**:
v0.23.0
v0.23.1
v0.24.0
---

**What happened**:
Using the above 3 versions of acs-engine, I tried to generate the necessary templates for a cluster with kubernetes version 1.12

**Template used:**
https://github.com/Azure/acs-engine/blob/master/examples/kubernetes-releases/kubernetes1.12.json (with DNS filled in)

**command

[2018-10-18 20:25] MarcPow opened #4069 "Flannel + Windows results in NotReady master"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue
---

**What version of acs-engine?**:

0.23.1
---

Unschedulable:      false
Conditions:
  Type                 Status  LastHeartbeatTime                 LastTransitionTime                Reason                       Message
  ----                 ------  -----------------                 ------------------                ------

[2018-10-18 21:31] panaji opened #4070 "Scale should recycle index instead of incrementing "highestUsedIndex""
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.22.2
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes v1.11.3

**What happened**:
We are using cluster-autoscaler to automatically add/remove nodes. When adding new nodes, acs-engine determines the the node name's index by incre

[2018-10-18 21:46] amrmahdi opened #4071 "keyvault-flexvolume is enabled by default although the documentation states that it is not."
**Is this a request for help?**:

No

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

**What version of acs-engine?**:

0.24

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
keyvault-flexvolume add on is enabled by default , although the [documentation](https://github.com/Azure/acs-engine/blob/master/docs/clusterdefinition.md#addons) says

[2018-10-18 21:55] ritazh commented on #4071
Thanks for reporting this @amrmahdi! The doc needs to be updated to reflect that it should be enabled by default. Will open a PR to address this.

[2018-10-18 21:57] ritazh commented on #4060
Thanks for reporting this @pjbgf! Will take a look at this and get back to you.

[2018-10-18 21:57] amrmahdi commented on #4071
Thanks! Any side effect from disabling it on a cluster ?

[2018-10-18 22:04] ritazh commented on #4071
@amrmahdi

This keyvault flexvolume along with the blobfuse and the smb flexvolmes were added by default to make it easier for users to use them OOTB. But if you don't think you will ever use this feature, then disabling it in the apimodel shouldn't have any side effect. If you need them later, you can always deploy them on your own.

[2018-10-18 22:28] CecileRobertMichon commented on #4066
@YitzchakLF can you make sure you're using acs-engine version you think you're using? `acs-engine version`

Kubernetes 1.6 is deprecated in all 3 versions you mentioned and the list of available version is reduced to only 2 patches per minor version. I am also unable to repro.

[2018-10-19 02:47] MarcPow commented on #4066
Agreed - acs-engine 0.23.1 definitely works for me with 1.12.

[2018-10-19 03:19] #4071 closed

[2018-10-19 04:47] MirzaSikander commented on #4064
The funny thing is that I can't tell which VM failed because all of them are reporting `provisioning success` for the `vmssCSE`

[2018-10-19 07:11] oivindoh commented on #4066
Also unable to reproduce using acs-engine 0.24.0

[2018-10-19 07:37] chreichert opened #4078 "k8s cluster upgrade fails with template error"
**Is this a request for help?**:
yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.24.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.10.7

**What happened**:
When trying to upgrade Cluster to 1.10.9 the following error is thrown:

This unfortunately happens after the Master node was already deleted.

**Wh

[2018-10-19 08:32] arwkmd commented on #3102
Almost six months have passed since the issue. Are there any plans related to this error?

[2018-10-19 10:05] keyoke commented on #4035
I had the same issue deploying 1.12.1, what seemed to fix it for me was the following suggestion https://github.com/kubernetes/kubernetes/issues/48798#issuecomment-427454190
now my nodes are all in a ready state.

[2018-10-19 10:50] zhiweiv commented on #4046
I built a new cluster, issue occurred again.
1 There were 9 pods running in a Windows node,
2 I deleted 6 pods, created 6 pods again, all actions were done one by one in a short time.
3 All pods became error soon,
4 This time the Windows node became Not Ready, and not accessable now, I can't ping to the Windows node ip from master node, so I am unable to collect logs.

It is very like the reproduc

[2018-10-19 12:18] kichristensen commented on #4035
@keyoke And you are deploying with Calico?

[2018-10-19 12:30] keyoke commented on #4035
@kichristensen - yes

[2018-10-19 16:38] tariq1890 commented on #4078
@chreichert Thanks for reporting. This is indeed a regression that we need to fix.

[2018-10-19 18:34] amrmahdi opened #4080 "kubernetesDashboard azuredeploy.parameters are not auto-generated when the template has disabled add-ons"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
0.24
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
1.10.8

**What happened**:

acs-engine generate does not generate the kubernetesDashboard parameters in the azuredeploy.parameters.json when the acs template has disabled add-on.

**What yo

[2018-10-19 19:07] PatrickLang commented on #3852
This is blocked on https://github.com/kubernetes/kubernetes/issues/69996

[2018-10-19 21:34] ritazh commented on #4060
@pjbgf after some investigation we have found 3 things in this issue that need to be fixed:
1. the template generation error you see is resulted from when both `enableEncryptionWithExternalKms` and `useManagedIdentity` are enabled and master is vmss. An earlier PR caused a regression. but the issue should be fixed via #4082
2. `"--max-pods": "250"` will cause an issue with vmss instance private ip

[2018-10-19 21:38] ritazh opened #4083 "VMAS master EncryptionWithExternalKms is missing userassignedidentity"
**Is this a request for help?**:
no
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

---

**What version of acs-engine?**:

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

**What happened**:

**What you expected to happen**:

**How to reproduce it** (as minimally and precisely as possible):

**Anything else we need to know**:

[2018-10-19 21:58] tariq1890 commented on #4080
Thanks for reporting the issue @amrmahdi . We are currently fixing this. #4084

[2018-10-19 22:34] weinong opened #4086 "AKS nodes have unused NSG rules"
**Is this a request for help?**:
AKS agent nodes do not need ssh nor kube-api ports.
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

---

**What version of acs-engine?**:

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

**What happened**:

**What you expected to happen**:

**How to reproduce it** (as minimally and precisely as possible):

**Anything else we need to

[2018-10-21 06:41] YitzchakLF commented on #4066
MarcPow,
can yo post your acs-engine template?
Are you using the "deploy" command or "generate"?

[2018-10-21 07:29] #4066 closed

[2018-10-22 16:14] #4078 closed

[2018-10-22 16:53] #3888 closed

[2018-10-22 20:31] PatrickLang commented on #4007
Here's example downloads that we want to make work:
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.12.md#downloads-for-v1121

[2018-10-22 22:15] amrmahdi commented on #4080
@tariq1890 when is it expected to be released ?

[2018-10-22 22:18] #4083 closed

[2018-10-22 22:38] ritazh commented on #4060
2 and 3 have not been fixed yet.

[2018-10-23 00:39] amrmahdi commented on #4080
@tariq1890 I don't see a link to the downloadable binaries.

[2018-10-23 01:02] tariq1890 commented on #4080
@amrmahdi Please check now :)

[2018-10-23 15:59] #4086 closed

[2018-10-23 16:00] CecileRobertMichon commented on #4080
@tariq1890 can this be closed now?

[2018-10-23 16:05] CecileRobertMichon commented on #4065
@keyoke this sounds like a bug. I believe upgrade removes the NICs for the template for upgrade but does not remove the jumpbox. We might need to remove the jumpbox compute resource as well, or not remove the NIC for the jumpbox. If you want to look into opening a PR for the fix, I can provide guidance as needed.

[2018-10-23 16:09] CecileRobertMichon commented on #4064
Hi @MirzaSikander, it looks like the extension failed with exit code `84` which means that the NVIDIA driver failed to start for your GPU node (see https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/troubleshooting.md#vmextensionprovisioningerror-or-vmextensionprovisioningtimeout). Are you able to retry? This could be a transient error.

[2018-10-23 16:17] tariq1890 commented on #4080
Yes.

[2018-10-23 16:17] #4080 closed

[2018-10-23 19:06] #4035 closed

[2018-10-23 20:43] PatrickLang commented on #4013
Here's how to query the current allocation and max used. I added it to my log collection script:
https://github.com/PatrickLang/logslurp/commit/f310e200ef54c754f07db3ec853a4a1a5dfc84c3

[2018-10-23 21:02] pidah opened #4102 "Deploying custom addon yaml file doesn't work with base64 data"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue

---

**What version of acs-engine?**:

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.10 & 1.11

**What happened**:

I built a cluster with the following config:

{
  "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes",
      "orchestratorRelease":

[2018-10-23 21:03] pidah commented on #4102
@tariq1890

[2018-10-23 21:44] dfad1ripe commented on #4035
I had this issue too.
If /etc/cni/net.d exists on at least one of nodes in a cluster, you may run `sudo mkdir -p /etc/cni/net.d` on other nodes, reboot them and wait ~5 min. To speed up the process, you may copy the contents of this directory from Ready node to NotReady nodes. Then nodes get ready.

[2018-10-23 22:12] apeschel commented on #2845
Having only 30 IPs per node is really bad. It's worse than a 30 pods per node limit.

Job pods stick around for a while and hold onto their IPs. By default, a Job resource keeps around 3 job pods, for a total of around 4 IPs in use per job resource by default. This means you are limited to 7 job resources per node for your Kubernetes cluster. This design decision effectively makes Job resources un

[2018-10-23 22:36] tariq1890 commented on #4102
@pidah Thanks for raising this issue. I'll be opening a PR to fix this. You might have to change #3906 based on that. Sorry for any inconvenience that ensues.

[2018-10-23 23:14] pidah commented on #4102
Thanks !

[2018-10-23 23:41] MirzaSikander commented on #4064
@CecileRobertMichon Yes you are right.
I have uploaded the cluster-provision.log from one of the VMs that failed.
[cluster-provision.log](https://github.com/Azure/acs-engine/files/2508414/cluster-provision.log)

How should I retry this?

[2018-10-23 23:46] CecileRobertMichon commented on #4064
@MirzaSikander thanks for the logs. We are aware of transient failures with GPU and are looking into improving stability. For now, please delete your cluster/rg and retry the deployment operation (same way you deployed the first time).

[2018-10-24 00:00] MirzaSikander commented on #4064
Oh I can't delete it as the other nodes are being used. Is there a way to manually fix these 2 nodes?

[2018-10-24 00:00] saiyan86 opened #4105 "Make Linux Azure CNI URL configurable"
**Is this a request for help?**:
---
No

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
---
Feature Request

**What version of acs-engine?**:
---
v0.24.1

---

**What happened**:
Adapted from issue #4007:
Today, testing an Azure CNI release requires doing a new build of ACS-Engine. We need to be able to test fixes from Linux, ContainerD / Docker, and Azure-CNI together to improve Kubernete

[2018-10-24 00:03] PatrickLang opened #4106 "Set DNS search suffix list in pause container"
**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: master as of 10/23/2018

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** v1.12.1

**What happened**:

Windows containers do not get the full DNS search suffix list set today, just the one for their immediate namespace.

One step that may be needed is updating the `kubeletwin/pause` cont

[2018-10-24 00:51] daschott commented on #4106
@nagiesek @dineshgovindasamy this is to track programming the DNS suffix search list correctly in RS4.

[2018-10-24 00:55] PatrickLang opened #4108 "Add a Windows agent pool flag to enable or disable Windows Update"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Feature request needed for conformance testing

---

**What version of acs-engine?**: all

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
kubernetes

**What happened**:

Windows test passes are scheduled with a specific patch + hotfix level that are deployed using the [windows-patches](https://github.com/Azure/acs-engine/tre

[2018-10-24 02:14] MirzaSikander commented on #4064
I removed those 2 nodes and did a scale up command but the new nodes still failed. What is the solution to this problem?

[2018-10-24 06:00] MirzaSikander commented on #4064
Just for giggles, I scaled up to twice as many nodes (previously 20 to 40) and 14 of the new nodes failed for the same reason. This does seem to be a transient issue **but** it definitely needs to be addressed as the failure rate is much higher. Is there a bug for this?

[2018-10-24 14:05] mboersma opened #4110 "Add e2e upgrade test for missing tags"
#4100 changed Kubernetes cluster upgrade behavior so that if a user deletes the VM or VMSS tags acs-engine added for bookkeeping, the upgrade can still proceed (in some cases). This needs an E2E test to cover that behavior.

[2018-10-24 14:05] mboersma opened #4111 "Add e2e scale test for missing tags"
#4100 changed Kubernetes cluster upgrade behavior so that if a user deletes the VM or VMSS tags acs-engine added for bookkeeping, the scale can still proceed (in some cases). This needs an E2E test to cover that behavior.

[2018-10-24 17:05] jackfrancis commented on #4064
@MirzaSikander Can you paste `/var/log/azure/cluster-provision.log` from another one of the failed nodes starting from the 1st attempt? It seems to be complaining that from dpkg's perspective the driver is already installed. I wonder if at some point there in fact was a successful driver installation, but we got a spurious non-zero exit code.

Also, the changes in this PR, run overnight, have not

[2018-10-24 18:04] MirzaSikander commented on #4064
Here is another log.
[cluster-provision.log](https://github.com/Azure/acs-engine/files/2511741/cluster-provision.log)

[2018-10-24 21:26] denniszielke opened #4115 "Create option to deactivate Unattended-Upgrade"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE REQUEST
---

**What version of acs-engine?**:
All
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
By default all vms are set to use automatic updates. https://help.ubuntu.com/lts/serverguide/automatic-updates.html.en
We would like to have an optio

[2018-10-24 23:00] #4064 closed

[2018-10-24 23:34] jsturtevant opened #4118 "Windows failed to create kubelet: failed to get docker version"
**Is this a request for help?**:
no
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
issue
---

**What version of acs-engine?**:
any using windows server 1803 image
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
deployed 1803 windows container images.  Windows nodes never join cluster.  get the error as described here: https://github.com

[2018-10-24 23:50] ritazh commented on #4070
Looks like this is the issue: https://github.com/Azure/acs-engine/blob/v0.19.2/parts/agentparams.t#L2

In `v0.19.2` we used to have limits to what is allowed for agent pool count `"{{.Name}}Count"`. In later versions, we removed this limit. https://github.com/Azure/acs-engine/blob/master/parts/agentparams.t#L1-L7

[2018-10-25 03:45] ryanhartje opened #4124 "Pull request template has broken link"
**Is this a request for help?**:
Nope
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
master branch at least
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
n/a

**What happened**:
The PR template has a broken link to the pull request best practices.

**What you expected to happen**:
That link should point to:
https://github

[2018-10-25 05:08] ryanhartje commented on #3984
Hi,

I walked through the script to find where it would be outputting the contents of the cert, and pushed a change to stop that.

I'm new to this project however, so I'm not sure what environment this is supposed to run in. Could you point me in the right direction for testing this change so I can see where the etcd peers are having a hiccup?

Thanks in advance for any help.

[2018-10-25 09:05] zhiweiv commented on #4118
Today I created a new k8s cluster due to the old one crashed #4046, but the Windows nodes didn't appear in "kubectl get nodes", although the Windows VM were created in Azure.

Do we have workaround? It is a blocking issue, because we are unable to run any workloads in k8s now.

Thanks

[2018-10-25 16:07] jsturtevant commented on #4118
The PR linked above fixes it.  Hoping to get that merged soon.  As a stop gap, if you remote into each machine and set the docker version manually to  17.06.2-ee-16: https://github.com/Azure/acs-engine/issues/3852#issuecomment-421514851

[2018-10-25 16:51] tariq1890 commented on #3984
Hi @ryanhartje . Thanks for the PR. A good way to validate would be to check the provision source log in the Artifacts tab of  CircleCI and see if they have been redacted. You can check the CircleCI build logs for other PRs for comparison. ( You would be able to see the generated etcd proxy certs in those logs)

[2018-10-25 17:29] #3500 closed

[2018-10-25 17:30] #3984 closed

[2018-10-25 18:12] weinong commented on #3503
https://github.com/kubernetes/kubernetes/issues/70246

[2018-10-25 18:33] ryanhartje commented on #3866
Can this be closed? Seems the PR above has updated etcd as far as makes sense per Jack's comment in said PR.

[2018-10-25 18:34] #3866 closed

[2018-10-25 18:37] #4118 closed

[2018-10-25 18:51] ryanhartje commented on #3444
I have some questions for completeness regarding this issue.

I see etcd environment information coming from an `/opt/azure/containers/setup-etcd.sh` but I don't see that script in this repo. Where can I find that? Can/Should I append `1iETCDCTL_API=3` as I see in https://github.com/Azure/acs-engine/blob/master/parts/k8s/kubernetesmastercustomdata.yml#L471-L481

Is there something I should be usin

[2018-10-25 18:55] ryanhartje commented on #3444
Also, is this the last task to resolve #2559 ? If so this PR should close
#2559
#3420
#3444

[2018-10-25 19:47] jackfrancis commented on #3444
I don't think we've done the other work, right @CecileRobertMichon ?

[2018-10-25 20:09] abelgana opened #4126 "Can we increase the timeout for docker pull?"
**Is this a request for help?**:
Yes,
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
Version: v0.24.1
GitCommit: 1ff11132
GitTreeState: clean
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes.

**What happened**:
the docker pull timed out:

`+ retrycmd_if_failure 100 1 60 docker pull crproxy.trafficmanager.net:6000

[2018-10-25 21:19] amrmahdi opened #4129 "How to create clusters with modified add-ons configurations"
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

None

**What version of acs-engine?**:

0.24.1

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.10.8

**What happened**:

I have a couple of questions regarding add-ons:
1- When creating a new cluster, what is the recommended way to increase the replicas count for an an add-on (

[2018-10-26 10:56] zhiweiv commented on #4118
@PatrickLang @jsturtevant
0.24.2 still does not work, could you please take a look again?

The latest kublet.err.log:
I1026 10:55:57.715279   96948 server.go:408] Version: v1.12.1
E1026 10:55:58.464121   96948 server.go:731] Kubelet needs to run as uid `0`. It is being run as -1
W1026 10:55:58.464121   96948 server.go:741] setting OOM scores is unsupported in this build
I1026 10:55:58.464121   969

[2018-10-26 11:10] zhiweiv commented on #4118
Seems this PR is not included in 0.24.2?

[2018-10-26 13:33] kosta709 commented on #3986
@jackfrancis , we need kube api calls from master because our app needs to call Azure api and only master has enough perrmissions through msi. I dont want to pass additional azure secrets or roles to nodes.

@feiskyer, great idea, thanks, will try.  Currently i just set retries

[2018-10-26 13:56] abelgana commented on #4126
another issue I see:

[code]

It's good to have timeout but I think the time should be increased.

[2018-10-26 13:56] andyzhangx commented on #4126
pls use `gcr.azk8s.cn/google_containers/hyperkube-amd64:v1.8.4` to pull the image on Mooncake, the original server `crproxy.trafficmanager.net` is located in US which is slow to download image.
https://github.com/andyzhangx/demo/tree/master/acs-engine/mooncake#tips

Just let me know if you have such image downloading issue in Azure china, I am the right person to fix this kind of issues.

[2018-10-26 14:06] andyzhangx commented on #4126
BTW, I have switched to use `gcr.akscn.io` (alias of `gcr.azk8s.cn`) in v0.24.1, how would you use `crproxy.trafficmanager.net`? Are you modifying the gcr address by yourself? You could follow this guide to generate template:
https://github.com/andyzhangx/demo/tree/master/acs-engine/mooncake
The key point is specify `location` as (`chinaeast`, `chinanorth`, `chinaeast2`, `chinanorth2`) in cluster

[2018-10-26 14:11] abelgana commented on #4126
do you have a slack channel?

I just don't like the timeouts since they are not incremented. I took me almost an hour to deploy acs

`k8s-ahxzy1-20181026125409-3078 | Succeeded | 10/26/2018, 9:51:37 AM | 57 minutes 1 second | Related events`

The following is the log:

root@k8s-master-26816603-0:~# cat /var/log/azure/cluster-provision.log
++ date
++ hostname
+ echo Fri Oct 26 12:56:28 UTC 2018,k8s

[2018-10-26 14:40] jsturtevant commented on #4118
I don't beleive it is, as 0.24.2 was a patch release.  The change is in master so next release should be avaliable or you can build from master.

[2018-10-26 14:41] andyzhangx commented on #4126
good catch!
@jackfrancis where do you put `https://acs-mirror.azureedge.net/cni/cni-plugins-amd64-v0.7.1.tgz`? It's too slow in Azure China, could you use an  storage account in azure china to host files under site `acs-mirror.azureedge.net`?

[2018-10-26 14:43] andyzhangx commented on #4126
@abelgana slack channel:
You could join slack: `https://kubernetes.slack.com` and it's under #sig-azure, my slack id is `andyzhang`

[2018-10-26 14:52] abelgana commented on #4126
thanks for your support. This is what I see:

[code]

The azuredeploy.parameters.json file is generated. Do you have somewhere to store this content?

[2018-10-26 15:10] andyzhangx commented on #4126
@abelgana Currently it's no. I think we should set up a blob storage account in azure china to store those files.

[2018-10-26 15:58] jackfrancis commented on #4126
Hi @andyzhangx, we manually maintain that CDN URL by uploading new releases from these origins:

- https://github.com/containernetworking/plugins/releases
- https://github.com/Azure/azure-container-networking/releases

Feel free to setup your own China mirrors and we can update the code to source from there if we're in a mooncake context!

[2018-10-26 16:15] chrissound commented on #1892
Many thanks @viroos your solution solves my possible unrelated issue as well. Have a great weekend!

[2018-10-26 16:28] jackfrancis commented on #3986
@kosta709 thank you for enduring, please share your implementation of @feiskyer's suggestion if you find it to be a better solution

[2018-10-26 17:00] jackfrancis commented on #4126
@abelgana PR #4104 will increase image pull timeout to 20 mins

[2018-10-26 18:34] cpuguy83 opened #4132 "Use azure k8s builds"
We are now hosting kubernetes on MCR/Azure storage and should use these instead of the ones from gcr.

The hypercube images are available at `mcr.microsoft.com/k8s/core/hyperkube-amd64`

The list of tags currently available is:

|tags|
| -- |
| v1.8.15-azure-c2bd642 |
| v1.8.14-azure-9d72faf |
| v1.9.11-azure-1bfeeb6 |
| v1.11.2-azure-bb9ffb1 |
| v1.10.9-azure-e6ab4ee |
| v1.11.3-azure-a452946 |
|

[2018-10-26 19:01] #3906 closed

[2018-10-26 21:06] CecileRobertMichon commented on #3444
No we haven't as far as I know. Some `etcdctl` commands such as `etcdctl cluster-health` will become incompatible with v3.

[2018-10-27 00:09] PatrickLang commented on #4118
As a temporary workaround, you can also deploy the previous Windows image by setting `imageVersion` like this. It will work with existing acs-engine releases including 0.24.2.

[code]

[2018-10-28 08:43] sabbour commented on #1892
One thing to note, it is a recommended best-practice **NOT** to grant `cluster-admin` role to Tiller.

The better thing to do would be to create a Role/RoleBinding per namespace and initialize Tiller to use that, as per documentation here: https://github.com/helm/helm/blob/master/docs/rbac.md#example-deploy-tiller-in-a-namespace-restricted-to-deploying-resources-only-in-that-namespace

[2018-10-28 13:49] chreichert opened #4135 "Heapster keeps restarting every minute in newly deployed k8s cluster"
**Is this a request for help?**:
yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.24.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.10.9

**What happened**:
In a newly deployed k8s cluster the heapster component is is being redeployed every minute or so.

**What you expected to happen**:
Heapster running

[2018-10-28 18:21] omerlh opened #4136 "How can I add agent pool to an existing pool?"
**Is this a request for help?**:

--- Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

--- Feature Request/Question

**What version of acs-engine?**:

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes 1.8
**What happened**:
We have a running Kubernetes cluster, and we're experiencing issues with scaling due to Azure allocation limitation. The cluster has one

[2018-10-28 18:34] omerlh commented on #4136
I find #621, I will try and update if I have further questions

[2018-10-28 21:55] PacoGuy commented on #4135
Same issue with acs-engine 0.24.2 and Kubernetes 1.10.8

Is there any way that we can please get better regression testing before changes are made to the system.
It is becoming nearly impossible to deploy new clusters between this heapster issue, kube-dns failures (7 restarts upon deployment before it stabilizes) and random failures to deploy cse-agents.

[2018-10-29 06:01] rocketraman opened #4138 "Enable AllowVolumeExpansion in default storage classes"
**Is this a request for help?**: NO

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): FEATURE REQUEST

---

**What version of acs-engine?**: 0.24.2

---

The default Azure storage classes do not set `allowVolumeExpansion` to true, as described at https://kubernetes.io/docs/concepts/storage/persistent-volumes/#expanding-persistent-volumes-claims. Is there a reason for this, and if not, c

[2018-10-29 06:02] andyzhangx commented on #4063
hi @jackfrancis, I found some addons are using `gcr.io` which is not accessable on Azure china, is there any way to replace that with `gcr.azk8s.cn` in acs-engine code level. Currently I am asking user to edit config file on master node which is not a friendly way.

https://github.com/Azure/acs-engine/blob/62f119b5f82c1037e8cd511edc676032ebf6e7cd/parts/k8s/addons/ip-masq-agent.yaml#L30
https://git

[2018-10-29 06:02] rocketraman commented on #4136
There was a recent discussion about this in Slack, and the general consensus seemed to be this is not supported. I recently ran into the same issue and ended up creating a new cluster and migrating everything to it. With my new cluster, I created multiple pools with different sizes of VMs to allow for flexibility in scaling.

[2018-10-29 06:06] rocketraman opened #4139 "rsyslogd on master not working"
**Is this a request for help?**: NO

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: 0.24.2

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes 1.12.1

**What happened**:

The rsyslogd daemon on the master node created by acs-engine  does not work. It is failing with the error:

[code]

There is no output to `/var/

[2018-10-29 06:14] andyzhangx commented on #4138
It depends on k8s version, from k8s v1.11.0, azure file & disk supports `allowVolumeExpansion`. So it's v1.10.0, it will get failure if using `allowVolumeExpansion` in azure disk storage class.

[2018-10-29 07:10] zhiweiv commented on #4118
The workaround works,

Thanks

[2018-10-29 07:53] rocketraman commented on #4138
Yes, so my expectation would be that acsengine would definite the storage class with or without that flag, depending on the k8s version.

[2018-10-29 15:02] omerlh commented on #4136
We tried that today, it worked on a fresh new cluster but when we tried it out on our production cluster it destroyed it and the cluster becomes unusable. Writing here as another warning to potential users who might want to try it out :)

[2018-10-29 15:02] #4136 closed

[2018-10-29 17:08] khenidak commented on #3986
@jackfrancis do we correctly set advertise as in api server arguments? should point to internal LB ip..

[2018-10-29 19:24] sylus opened #4140 "ACS Engine won't provision extensions properly since v0.23.0"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: v0.24.2

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes 1.12.x

**What happened**: The cluster failed to provision extensions for the master node and sometimes agent nodes.

**What you expected to happen**: The cluster to be f

[2018-10-29 19:29] sylus commented on #4140
@CecileRobertMichon sorry am in the midst of doing that now, unfortunately since the extension doesn't provision the master node I won't be able to get logs as I can't log on to the master node but I'll share what logs I can ^_^

[2018-10-29 19:30] CecileRobertMichon commented on #4140
Even if the extension failed you should still be able to log onto the master VM

[2018-10-29 19:31] sylus commented on #4140
Here is the cluster definition I am generating off of:

[code]

[2018-10-29 20:13] sylus commented on #4140
[code]

[2018-10-29 20:29] CecileRobertMichon commented on #4140
Were you able to ssh into the VM? If so, can you grab the kubelet logs (`sudo journalctl -u kubelet`)?

[2018-10-29 20:46] sylus commented on #4140
Having issues connecting with VM, will need to debug our network setup more, but as soon as do that will paste the output of the logs. Thanks so much for your help @CecileRobertMichon . Your amazing :)

[2018-10-29 22:00] apeschel commented on #2845
@sharmasushant I've upgraded to 1.0.12 and it seems more stable, thank you.

[2018-10-30 01:18] pjbgf commented on #4060
@ritazh what exactly is the problem with the VMSS instance private IP assignment? Do you mind giving me a bit of the context, or point me to some link about the issue?

[2018-10-30 02:57] karataliu opened #4143 "cloudProviderRatelimitBucket not set in parameter file output when 'cloudProviderRateLimit' set to false"
input:
[code]

Deployment:
[code]

[2018-10-30 08:34] GLink commented on #4118
Should pinning the image be the norm, not just a workaround? This issue would also have happened on scale operations on working clusters, right?

[2018-10-30 14:34] sylus commented on #3508
Just updating the results from 1.11.

# Master

[code]

# Agent

[code]

[2018-10-30 14:45] sylus commented on #3507
Just updating the results from 1.11.

# Master

[code]

[2018-10-30 16:10] ritazh commented on #4060
@pjbgf

for 2, there is a bug/limitation in the way `--max-pods` is used to derive the private ip assignment of each instance in the VMSS instance. This information is used for cert generation and configs for etcd.
https://github.com/Azure/acs-engine/blob/master/pkg/api/defaults.go#L360
https://github.com/Azure/acs-engine/blob/master/parts/k8s/kubernetesmastercustomdatavmss.yml#L487-L498

for 3, p

[2018-10-30 17:29] #3174 closed

[2018-10-30 20:49] #4126 closed

[2018-10-30 21:57] jackfrancis commented on #3986
@khenidak yes

[2018-10-30 23:06] PatrickLang commented on #4106
pinging @nagiesek @dineshgovindasamy - any updates? I'm tracking this as conformance blocking. We need to know if the change is in the pause container, or if we need a new issue in Kubernetes/Kubernetes instead.

[2018-10-30 23:36] JunSun17 opened #4148 "Add test for feature ip-masq-agent #3916"
Add test for feature ip-masq-agent #3916, the test should verify:

1. When a non-default VNET (10.0.0.0/8) is used, the correct VNET should now be applied to masq rules.
2. the rest part of masq rule should be the same as before. i.e. before the above PR lands.

The command that can be used to check iptable is: sudo iptables -t nat -L -v. However, some masq rule in the iptable is now moved due to

[2018-10-31 11:35] omerlh opened #4149 "Deployment failed due to invalid customdata"
**Is this a request for help?**: YES

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: latest:
[code]

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.11

**What happened**:
Tried to deploy new cluster. Deployment failed with the following error:
[code]

**What you expected to happen**:
Successful deployment

**

[2018-10-31 17:59] omerlh opened #4152 "Enable firewall protection on KMS KeyVault"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Feature Request

---

**What version of acs-engine?**:
[code]
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.11

**What happened**:
I deployed a new cluster and specific in the API model `"enableEncryptionWithExternalKms": true`. KeyVault created as expected, but without

[2018-10-31 18:11] neurot1cal commented on #3935
I know that CoreDNS is the default now as of `0.23` - When does this become officially "Stable" / "GA"? :) Whats the criteria for that? Seems pretty solid so far, are we tracking any known issues? I'm mostly concerned about Windows nodes at this point. @CecileRobertMichon  @PatrickLang

[2018-10-31 20:25] rafaelrliscano opened #4153 "metrics-server CrashLoopBackOff"
**

**Is this a request for help?**:
I need help to configure a basic CPU HPA on k8s v1.12
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
kubectl version
Client Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.1", GitCommit:"4ed3216f3ec431b140b1d899130a69fc67167

[2018-10-31 20:47] omerlh commented on #4152
Also, is the key created on KeyVault can be of type HSM?

[2018-10-31 21:33] #4008 closed

[2018-10-31 22:12] ganga1980 opened #4155 "Custom tags on acs-engine resources are lost after the upgrade"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.24.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes

**What happened**:

 Custom tags attached to k8s master nodes are lost after upgrading the acs-engine cluster (from 1.10.9 to 1.11.2 ), but where as acs-engine tags are in tac

[2018-11-01 03:36] sylus commented on #4140
And this was a fortigate issue 🤦‍♂️

Thanks for your time :)

[2018-11-01 03:36] #4140 closed

[2018-11-01 10:57] omerlh opened #4158 "Enable AAD login for masters and agents"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Feature request

---

**What version of acs-engine?**:
Latest
---

Azure recently released [AAD login](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/login-using-aad) for Linux VMs. I would like to enable it on both masters and agents provisioned by ACS engine, simply by specifying it in

[2018-11-01 16:09] PatrickLang commented on #4118
Docker version is pinned now in 0.24.3, but you can set it it the API model if you want a different version.

[2018-11-01 17:57] jackfrancis opened #4160 "Validate pre-pulled image effects on VHD-backed clusters."
We are pre-pulling k8s component images (e.g., kube-proxy), let's validate that when we bring up the k8s runtime that those pre-pulled images aren't being re-downloaded by k8s.

[2018-11-01 18:05] jackfrancis opened #4161 "Rationalize fault domains implementation for managed disk"

[2018-11-01 19:00] CecileRobertMichon commented on #4160
On a VM built from VHD image:

[2018-11-01 20:24] jackfrancis opened #4163 "Validate that upgrading to new clusters gets new defaults enforcement"
For example:

A 1.8 k8s cluster will not have metric-server addon by default. When that cluster is upgraded to 1.9, it should have.

[2018-11-01 21:22] jackfrancis commented on #4161
@mboersma can we summarize this work as:

- ensure that if a region supports 3 FDs that we implement managed disk w/ 3 FDs?

@seanmck FYI

[2018-11-01 22:12] mboersma commented on #4161
@jackfrancis that's most of it, but another driver for this change was that users can't create acs-engine clusters in canary regions at all, since they support only 1 FD and we're currently hard-coded at 2.

[2018-11-01 22:52] jackfrancis opened #4165 "Convert heapster to type Addon"
The heapster addon implementation is old and doesn't actually use the addons interface

[2018-11-02 00:11] ritazh commented on #4152
@omerlh thanks for the feedback.

This makes sense. I will add this as a default to acs-engine.

Currently we only support creation of a standard sku key vault for this feature. To create HSM-protected keys, you will need to use the Premium service tier: https://docs.microsoft.com/en-us/azure/key-vault/key-vault-get-started#HSM

I will create an issue to track this issue on https://github.com/Azur

[2018-11-02 03:48] bjd145 opened #4168 "Custom Script Extension Error Code 14 - failed to start etcd - highly-available key value store"
**Is this a request for help?**
Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

**What version of acs-engine?**:
acs-engine version
Version: v0.24.3
GitCommit: ad007b644
GitTreeState: clean

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.12.1

**What happened**:
Master VMSS scale fails with the custom script extension throwing an error 14.
[code]

**Wh

[2018-11-02 16:00] jackfrancis commented on #4168
@bjd145 How many repros have you experienced? This *seems* like a systemd edge case, though we'd love to discover root cause and deal with it better.

[2018-11-02 18:13] jackfrancis commented on #4153
Hi @rafaelrliscano, we test HPA w/ every E2E test, so we do have a working implementation for 1.12.1. Could you share the apimodel.json of the cluster (remove creds) and we can attempt to repro.

[2018-11-02 19:17] sylus commented on #558
Hitting this problem on a new deployment, will file a new issue.

[2018-11-02 21:53] dhselman opened #4170 "ACS-Engine Update Model Functionality"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Feature Request
---

**What version of acs-engine?**:
0.24.3+
---

If there is a change in the apimodel.json, currently, the only method of implementing the updated model is to run acs-engine upgrade on the version of Kubernetes, which poses a limitation in that 1) users may have compatibility issues/he

[2018-11-02 21:56] jackfrancis opened #4171 "host blobfuse and smb addons on mcr"
Let's publish these somewhere standard, instead of in a personal image repo namespace.

`andyzhangx/blobfuse-flexvol-installer`
`andyzhangx/smb-flexvol-installer`

keyvault-flexvolume is hosted here, for example:

`mcr.microsoft.com/k8s/flexvolume/keyvault-flexvolume:v0.0.5`

[2018-11-02 21:56] jackfrancis commented on #4171
@andyzhangx FYI

[2018-11-03 11:27] danielepolencic opened #4175 "Using ACS-engine with a preexisting VMSS"
This is a request for clarification.

I'd like to provision node pools for my Kubernetes cluster before I create it.
Ideally, I'd like to create a few VMSS with Terraform and then use ACS-engine to generate the templates to create a Kubernetes cluster using the newly created agent pools.

As far as I understand, agent pools in a k8s cluster can only be created by ACS-engine. There isn't a way to p

[2018-11-03 14:32] bjd145 commented on #4168
I've run the configuration at least 5-7 times and it has happened every time.  I tried last night with only having one AZ and 3 nodes for the master and I had the same error.

[2018-11-03 19:43] omerlh commented on #4152
Thanks :) Should I as a customer should worry about key rolling? What do you recommend?

[2018-11-04 20:58] ritazh commented on #4152
@omerlh
From https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/#providers
[KMS is]

From https://github.com/Azure/kubernetes-kms

You can also follow this issue: https://github.com/Azure/kubernetes-kms/issues/8

[2018-11-05 02:15] DanielWangZhanggui opened #4179 "does acs-engine support azure stack in adfs scenario?"
**Is this a request for help?**:
- yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
- issue
---

**What version of acs-engine?**:
- 0.21.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
- kubernetes

**What happened**:
- Seems like acs-engine just supports aad service principle,  in adfs scenario, service principle doesn't provide "secret" instead providing certi

[2018-11-05 06:05] omerlh commented on #4152
Thank you!

[2018-11-05 08:58] andyzhangx commented on #4171
working on this now

[2018-11-05 11:10] andyzhangx commented on #4179
Cert is supported in upstream kubernetes. To use it, aadClientCertPath and aadClientCertPassword should be set in cloud provider config. (See https://github.com/kubernetes/cloud-provider-azure/blob/master/docs/cloud-provider-config.md#auth-config).

But it is not supported yet in acs-engine. @jackfrancis  Do you have plans to support this?

[2018-11-05 17:32] daschott commented on #4106
@PatrickLang Even after programming SearchList correctly, it appears as though dig isn't honoring it. (though Resolve-dnsname & curl works correctly). We need to double-check that this isn't related to https://github.com/kubernetes/kubernetes/issues/70189

[2018-11-05 18:16] jackfrancis commented on #4179
@andyzhangx No plans. @khenidak Is this on our near-term feature roadmap?

[2018-11-05 18:18] jackfrancis commented on #4175
This isn't possible, and probably isn't something that will happen anytime soon.

Can you clarify the fine-tuning you wish to do? The current architecture of acs-engine sort of suggests that enforcement would arrive in the initial ARM template that acs-engine prepares.

[2018-11-05 19:39] jackfrancis commented on #4168
@ritazh @kkmsft Do we have known-working test scenarios for the above cluster config?

[2018-11-05 20:22] ritazh commented on #4168
Thanks for reporting this @bjd145
Will try to reproduce this on our end.

One issue I see is you have specified
`"firstConsecutiveStaticIP": "192.168.15.10"` in your apimodel and the log is showing `listening for peers on https://192.168.21.4:2380` as it is expecting the first master node to have `192.168.21.4`. I'm guessing your vnetcidr for master subnet starts with `192.168.21.0`.

From https:/

[2018-11-05 21:32] danielepolencic commented on #4175
TL;DR: I'd like to configure my infrastructure without ACS-engine getting in the way.

I'd like to configure a VMSS/VMAS in a private vnet and provision a load balancer on top. That's already doable with vanilla Azure. With the VMSS provisioned, I'd like to attach it to a Kubernetes cluster.
I'd like to repeat the previous action for all the node pools that I wish to attach to a cluster.

The adva

[2018-11-05 21:34] amrmahdi opened #4182 "Allow VMSS pools of size 0"
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

**What version of acs-engine?**:

0.24.2

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

1.10.8

**What happened**:

Can not create an agent pool of size 0. Although I can scale a vmss to 0.

```WARNING:STDOUT: FATA[0000] error loading API model in generateCmd: error parsing the api

[2018-11-05 23:59] fredderf204 opened #4184 "Windows Agent Pool Nodes error"
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

**What version of acs-engine?**:

v0.24.2

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

K8s 1.12.1

**What happened**:

When creating a cluster that has 1 Windows Agent Pool using VMSS, Agent Pool Nodes are not showing up when running the kubectl get nodes command

**What you expe

[2018-11-06 00:01] fredderf204 commented on #4184
Cluster Definition file below;
[code]

[2018-11-06 00:36] amanohar opened #4186 "Update ACS Engine to use Kubernetes 1.11 client"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Feature request
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What you expected to happen**:
Update ACS Engine to use Kubernetes 1.11 client

[2018-11-06 02:40] tariq1890 commented on #4186
acs-engine will support api interactions with k8s 1.11. This has been fulfilled with the introduction of this PR, https://github.com/Azure/acs-engine/pull/4157 .

The support matrix can be seen here https://github.com/kubernetes/client-go/

[2018-11-06 02:40] #4186 closed

[2018-11-06 02:52] sylus opened #4188 "DNS resolution issues on CoreDNS + Windows 1803"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: v0.24.2

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes v1.12.1

**What happened**: When deploying my hybrid Linux / Windows cluster pods on my Windows nodes are unable to communicate by their svc names. I can query them howev

[2018-11-06 02:58] sylus commented on #4188
Core DNS + Kube Proxy

[code]

[2018-11-06 06:34] andyzhangx commented on #4063
@haoxin already fixed by https://github.com/Azure/acs-engine/pull/4190

[2018-11-06 10:33] andyzhangx commented on #4184
duplicated to https://github.com/kubernetes/kubernetes/issues/69996

[2018-11-06 12:30] rameezk commented on #2971
We are also starting to see a couple of "Temporary failure in name resolution" issues popping up when trying to resolve external hosts. This is bubbling up to our applications.

I can confirm that we are using @jackfrancis recommendation at https://github.com/Azure/acs-engine/issues/2971#issuecomment-397417793

[2018-11-06 16:27] #4063 closed

[2018-11-06 16:34] sylus commented on #4188
@CecileRobertMichon

[2018-11-06 17:36] sylus commented on #4188
I have also tried the following fix to no avail:

[code]

[2018-11-06 17:51] sylus commented on #4188
[code]

[2018-11-06 18:26] ashishkulk opened #4192 "Question: Revoke/Rotate Kubernetes Certificates"
Hi all,
I was wondering if anyone can guide me to documentation/steps on how to rotate/revoke kubernetes certificates?
Lets say a team member who created the acs-engine cluster leaves company. He/She would have had previously access to the certs below. How do I rotate them?

[code]

[2018-11-06 18:43] PatrickLang commented on #4188
your screenshot shows a successful DNS lookup but failed ping. Can you access services over TCP/UDP?

[2018-11-06 21:54] daschott commented on #4188
This is using Azure CNI version 1.0.12 I presume.
1. Does `resolve-dnsname kubernetes` work?
2. Does service access (via IP) work?