[2018-02-23 17:04] patrick-motard commented on #2283
@idanshahar oooh awesome! I will try that out.

[2018-02-23 18:02] richardjharding commented on #1806
sure I'll give that a go over the next couple of days or so and report back

[2018-02-23 18:04] richardjharding commented on #1806
@jackfrancis  I should have checked - is that change compatible with the 0.13 release? - I need the AAD admin group object id that was added in that release

[2018-02-23 18:05] jackfrancis commented on #1806
@richardjharding yep

[2018-02-23 18:13] alexquintero commented on #2035
I have this same issue, but only when scaling down.

[2018-02-23 19:25] starkilla2003 commented on #2142
@trstringer Thank you for your time looking at this topic. To use your changes do i need to use rootUrl  https://raw.githubusercontent.com/trstringer/acs-engine/grafana-k8s-dashboard/ or is there anything else? Will test this over the weekend and will let you know my findings.

[2018-02-23 19:32] trstringer commented on #2142
@starkilla2003 sorry, I should've given you that info up front :disappointed:

Set your `extensionParameters` to this:

[code]

[2018-02-23 20:38] #2282 closed

[2018-02-23 22:36] CecileRobertMichon opened #2331 "Orchestrator version should accept "v" in validation and remove it"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE REQUEST
---

**What version of acs-engine?**:
v0.13.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
All?

`orchestratorVersion` should allow version strings in format `"vx.x.x` in both `generate` and `deploy` validation flows. The v should be removed from the `orchestratorVersi

[2018-02-24 11:41] andrehe001 opened #2333 "Name labe missing when creating cluster wiuth acs-engine"
hi all, I've created a hybrid cluster with 1 linux and 1 windows node with the acs template in the samples/windows folder. What I do not see is a name for the cluster which I need to run az acs kubernetes get-credentials --name clustername --resource-group hybrid-xxx --ssh-key-file C:\path\myPrivateKey_rsa.

Anyone know, if I can add a cluster name after the installation or what I have to change i

[2018-02-24 21:54] IvanovOleg opened #2334 "Resource limits don't work"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.13.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9.3

**What happened**:
Resource limits don't work. Capacity values are equal to allocatable values. Node is full of pods with limits, but all resources are available.

**What

[2018-02-24 22:05] IvanovOleg commented on #2334
btw is it possible to set a custom [kubernetes extended resource](https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#extended-resources) in the cluster definition? I faced the issue with attaching a lot of managed disk to one node: `Failure responding to request: StatusCode=409 -- Original Error: autorest/azure: Service returned an error. Status=409 Code="Operati

[2018-02-25 00:49] odauby commented on #2157
Thanks!

[2018-02-25 02:07] jt55401 commented on #2124
same here.

[2018-02-25 02:50] jt55401 commented on #2122
Thank you. Saved my night. I was going crazy trying to figure that one out.

[2018-02-25 03:42] andyzhangx commented on #1918
@sblyk  finally I fixed this issue, I wrote a doc describe details about this issue:
https://github.com/andyzhangx/Demo/blob/master/issues/README.md#2-disk-unavailable-after-attachdetach-a-data-disk-on-a-node

**Fix or workaround**:
 - add `cachingmode: None` in azure disk storage class(default is `ReadWrite`), e.g.
[code]

 - PR [fix device name change issue for azure disk](https://github.com/kub

[2018-02-25 04:13] andyzhangx commented on #2002
Update this thread:
Recently I fixed a race condition issue which could cause `Multi-Attach` disk error, the fix has been merged into v1.10, I am trying to cherry-pick this fix to other k8s version, you could find details about this issue here:
https://github.com/andyzhangx/Demo/blob/master/issues/README.md#1-multi-attach-disk-error

[2018-02-25 11:58] andyzhangx commented on #1364
Hi @jalberto  your issue is expected, `/dev/sdc` will first mount to `/var/lib/kubelet/plugins/kubernetes.io/azure-disk/mounts/b960592259` and then k8s would "bind mount" to `/var/lib/kubelet/pods/19c5b607-b5ae-11e7-924b-000c3a2c338b/volumes/kubernetes.io~azure-disk/pvc-60e500d8-b5ad-11e7-924b-000c3a2c338b`, it's not a issue.

[2018-02-25 21:18] khaldoune commented on #2185
@pidah: I will retry in the next release. Do you have an approximative release date?

[2018-02-25 23:08] Chewie commented on #2296
Analysis of the problem with @yastij showed that the problem wasn't the enabling of apparmor, but the missing mount of apparmor_parser in the kubelet that triggered this message.

Closing this issue in favor of #2319

[2018-02-25 23:08] #2296 closed

[2018-02-26 07:19] imranq2 commented on #2151
I ended up writing a powershell function to fix the internal load balancer.  Here it is in case someone is interested:
`
# --------
function global:FixLoadBalancers($resourceGroup) {
    # hacks here to get around bugs in the acs-engine loadbalancer code
    Write-Host "Checking if load balancers are setup correctly for resourceGroup: $resourceGroup"
    # 1. assign the nics to the loadbalancer

[2018-02-26 07:33] imranq2 commented on #2333
you usually pass the cluster name with the -n parameters to az group deployment.  e.g.,
az group deployment create `
    --template-file "$acsoutputfolder\azuredeploy.json" `
    --resource-group $AKS_PERS_RESOURCE_GROUP -n $AKS_CLUSTER_NAME `
    --parameters "$acsoutputfolder\azuredeploy.parameters.json" `
    --verbose

[2018-02-26 07:38] imranq2 commented on #2124
not sure if it applies here but you can issue "systemctl restart etcd" on the master.  This works around a known bug: https://github.com/Azure/acs-engine/issues/2282

[2018-02-26 09:49] yastij opened #2336 "expose kube-schedulerConfig"
We are currently facing an acs-engine limition. Kube-scheduler is not user-configurable, we can't configure it in our kubernetes.json

the use case would be tipically configure --address, scheduler-policy etc..

cc @jackfrancis @pidah

[2018-02-26 10:35] qmalexander commented on #2313
@JiangtianLi Hi again, Hope you had a good weekend!
I made some more experiments. I tried creating one more cluster under another subscription and with service principal credentials that I know works. Got the exakt same result. Running `kubectl get ev` I still see `CreatingLoadBalancerFailed`.

Are you able to reproduce the problem? @jackfrancis @JiangtianLi

[2018-02-26 10:51] IvanovOleg opened #2337 "Is it possible to recover a restarted master node?"
**Is this a request for help?**:
HELP
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.13.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9.3

**What happened**:

Master node VM has been restarted

**What you expected to happen**:

Kubernetes cluster survives restart of the master node

**How to reproduce it

[2018-02-26 11:29] richardjharding commented on #1806
@jackfrancis  - I built and tested #2225 - it ran for a lot longer but came back the same error I'm afraid

[code]

[2018-02-26 12:33] mblaschke commented on #2151
Can confirm the bug for v1.9.3
Public LB is getting updated, internal LB is not updated.

[2018-02-26 15:39] Dienemy opened #2338 "There is no connention to Internal Load Balancer via VPN"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: v0.13.0

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes

**What happened**:

There is no connection to ILB from outside of VNet.
We have configured VTI tunnels from our network to Azure VNet and we can not access created ILB f

[2018-02-26 15:56] EPinci commented on #1806
Same in here, getting:
`        "code": "VMExtensionProvisioningError",
        "message": "VM has reported a failure when processing extension 'cse0'. Error message: \"Enable failed: failed to execute command: command terminated with exit status=3\n[stdout]\n\n[stderr]\n\"."`
trying to deploy on WestEU. Any workaround?

[2018-02-26 16:17] SteveCurran commented on #558
This issue has become incredibly frustrating. I am using ACS 1.7.7 and can only occasionally resolve a remote URL even with dns caching turned off. This is preventing us from moving forward with ACS.

[2018-02-26 17:44] CecileRobertMichon commented on #2337
Hi @IvanovOleg, there is a bug in v0.13.0 where the master nodes don't reboot properly (see #2282). A fix has been merged to master (#2329). In the meantime, you can run `systemctl enable etcd.service` and `systemctl restart etcd` on the master node after reboot.

[2018-02-26 17:44] JiangtianLi commented on #558
@SteveCurran Sorry for the inconvenience. There is some update in another thread: https://github.com/Azure/acs-engine/issues/2027. With the next Windows/docker image update, it will mitigate DNS issue in most scenarios.

[2018-02-26 17:53] CecileRobertMichon commented on #2124
If anyone is still running into this issue or a similar issue, please share `/var/log/cloud-init-output.log` and `/var/log/azure/cluster-provision.log` with me so I can help you debug the issue. There were a number of deployment transient errors that were fixed with v0.13.0 so if possible you can also try to deploy a new cluster.

[2018-02-26 18:07] patrick-motard commented on #558
@SteveCurran I was able to overcome this issue in a _new_ cluster using the following:

acs-engine: 0.13.0
kubernetes: 1.8.4

A couple things I learned when trying to update my cluster using [these instructions](https://github.com/Azure/acs-engine/tree/master/examples/k8s-upgrade): When i tried updating the 1.7/0.11.0 cluster to 1.8.4 using 0.13.0, it failed almost immidiately, so the update proce

[2018-02-26 18:21] IvanovOleg commented on #2337
It works! Thanks!

[2018-02-26 18:21] #2337 closed

[2018-02-26 18:23] JiangtianLi commented on #2313
@qmalexander can you run
[code]
to see if your SP has role assignment?

[2018-02-26 18:27] IvanovOleg opened #2340 "Unable to deploy coreos based kubernetes cluster"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.13.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9.3

**What happened**:
[code]

**What you expected to happen**:
Successful deployment

**How to reproduce it** (as minimally and precisely as possible):
[code]

**Anything el

[2018-02-26 18:59] qmalexander commented on #2313
@JiangtianLi of course here you go:

![image](https://user-images.githubusercontent.com/3501508/36689191-057cac70-1b2f-11e8-9f03-b1f5e2140ea7.png)

![image](https://user-images.githubusercontent.com/3501508/36689239-23a64aee-1b2f-11e8-85c6-abd1dcb91313.png)

[2018-02-26 19:13] JiangtianLi commented on #2313
@qmalexander Just wonder, with the same SP, were you able to create a Linux only cluster of the same version and didn't see those issues? `CreatingLoadBalancerFailed` looks to me like either permission or quota issue with Azure. Just want to narrow down if it is due to windows cluster.

[2018-02-26 19:27] #2334 closed

[2018-02-26 19:29] qmalexander commented on #2313
@JiangtianLi seams that you are right. I get the same issue when creating a cluster with only master and one linux agent. The thing is that I use my msdn enterprise subscription.  Do you have any suggestions what I should do?

[2018-02-26 19:37] IvanovOleg opened #2341 "Kubernetes extended resource in the cluster definition"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE REQUEST
---

**What version of acs-engine?**:
v0.13.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9.3

**What happened**:
`Failure responding to request: StatusCode=409 -- Original Error: autorest/azure: Service returned an error. Status=409 Code="OperationNotAll

[2018-02-26 19:44] JiangtianLi commented on #2313
@qmalexander Try delete some clusters not used under that sub? From azure portal, do you see any deployment failure/logs in the cluster? That might help to find the root cause.

[2018-02-26 20:07] qmalexander commented on #2313
@JiangtianLi Right now I have only my one test cluster running.
![image](https://user-images.githubusercontent.com/3501508/36692242-de01e7ce-1b37-11e8-8275-057a5da36ca9.png)

![image](https://user-images.githubusercontent.com/3501508/36692528-9dae9824-1b38-11e8-870d-957166e2dd63.png)

[2018-02-26 21:17] qmalexander commented on #2313
@JiangtianLi so. I found the issue. The problem is that when exposing in kubernetes the azure loadbalancer uses the wrong Availability set (In my case it is using the availability set of my windows nodes). If I add the Linux availability set (where my nginx pod is running) and change the Load balancing rules to point to it.

**Now I'm able to browse my nginx application** 👍

[2018-02-26 22:55] JiangtianLi commented on #2313
@qmalexander Normally there is only one loadbalancer  created in acs-engine cluster, prefixed with k8s-master-lb. Is there any other step or config you add to the cluster? Is there any other workload you have run before the nginx workload?

[2018-02-26 23:46] dougmacqueen commented on #2057
Try adding vnetCidr into the masterProfile section with your master subnet cidr. From memory i had a similar issue and found that the subnet was used in the provisioning scripts and was required.

[2018-02-27 01:03] #2198 closed

[2018-02-27 01:15] idanshahar opened #2343 "Can't deploy Windows Container to Hybrid Cluster with "none" network policy"
**Is this a request for help?**:

YES

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

**What version of acs-engine?**:

v0.13.0, v0.12.5, v0.11.0 (all of them)

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
After deploying a hybrid cluster, I tried to deploy IIS pod.
The container stuck on ContainerCreating status.
[code]

The Windows A

[2018-02-27 01:30] #2317 closed

[2018-02-27 01:50] CecileRobertMichon commented on #2333
If you used the deploy command to create your cluster (`bin/acs-engine deploy`) your cluster name is the dns-prefix string you used.

[2018-02-27 01:52] feiskyer commented on #2151
@mblaschke The cherry-pick PR https://github.com/kubernetes/kubernetes/pull/59754 has been merged. It should be included in v1.9.4.

[2018-02-27 07:24] andyzhangx commented on #2343
@idanshahar  pls use `microsoft/iis:windowsservercore-1709` image, `microsoft/iis:1709` is incorrect.
[code]

[2018-02-27 07:58] bramvdklinkenberg opened #2345 "acs-engine scale: Unknown JSON tag nonMasqueradeCidr"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**:  Version: v0.13.0

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes

**What happened**: I tried to scale up|down a k8s cluster but I get the error:
INFO[0000] validating...
INFO[0002] Error returned by LoadContainerService: Unkn

[2018-02-27 08:06] idanshahar commented on #2343
@andyzhangx
I tried with several images (also microsoft/iis:windowsservercore-1709), still the same...

[2018-02-27 08:14] andyzhangx commented on #2343
could you run `docker pull microsoft/iis:windowsservercore-1709` on Windows agent and paste result?

[2018-02-27 08:18] idanshahar commented on #2343
@andyzhangx
docker pull is working, even docker run.
The issue is to run the windows container using Kubernetes.
As I mentioned before, the kubelet container is always restarting. After a few seconds, the container stopped and exited, and then a new kubeletwin container is creating.

[2018-02-27 08:20] andyzhangx commented on #2343
What's your k8s version? And could you collect the `kubelet.err.log` from that windows agent? you could follow by: https://github.com/andyzhangx/Demo/tree/master/debug#q-how-to-get-k8s-kubelet-logs-on-windows-agent

[2018-02-27 08:32] andyzhangx commented on #2343
And also you could try this basic pod config to narrow down the issue:
https://github.com/andyzhangx/Demo/tree/master/windows/basic

[2018-02-27 09:57] qmalexander commented on #2313
Okay @JiangtianLi  just to summarize. Because azure load-balancer have a limit of only **one** `AvailabilitySet `for the Back-end pool, the order of `agentPoolProfiles `get very important.
So, in my case I had the `windowspool `as the first pool in my `agentPoolProfiles`. When exposing my pod running on the Linux node, the loadbalancer created by k8s (in azure) choose the `AvailabilitySet `of the

[2018-02-27 10:12] 0x6d6178 opened #2346 "maxPods configuration parameter not honoured"
**Is this a request for help?**:
---
Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
---
Issue

**What version of acs-engine?**:
---
0.13.0

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
The 'maxPods' configuration setting is not honoured in generated Azure Resource Manager and apimodel templates. The default value of 110 pods is still used

[2018-02-27 11:08] maxhov opened #2347 "masterEndpointDNSNamePrefix hard coded inside azuredeploy.json after generating templates"
**Is this a request for help?**:
---
Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
---
Issue / Feature somewhere inbetween

**What version of acs-engine?**:
---
0.13.0

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
In the resulting Azure Resource Manager template, generated by acs-engine, the name of the cluster is hardcoded inside the AR

[2018-02-27 13:13] idanshahar commented on #2343
@andyzhangx seems like networking issue. Somehow, although I chose networkPolicy:none it's using CNI plugin.
[code]

[2018-02-27 13:22] andyzhangx commented on #2343
@idanshahar where did you get these logs? It does not look like logs from `c:\k\kubelet.err.log` on windows node. According to your error info, it's from `kubelet, 35352k8s9010`

[2018-02-27 13:25] idanshahar commented on #2343
@andyzhangx That's right. these logs from c:\k\kubelet.err.log inside the Windows Agent.

[2018-02-27 13:52] andyzhangx commented on #2343
@idanshahar check https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/features.md#kubenet-networking-custom-vnet
It's a little complex if you specify `networkPolicy:none`
I think you could set as following to narrow down issue:
[code]

[2018-02-27 14:04] idanshahar commented on #2343
@andyzhangx I can't use CNI for Windows for the simple reason that CNI for Windows + Custom Vnet is not supported yet.
For now, we need to continue use Kubenet.
I don't understand why these errors even exist in the log file, I didn't installed CNI manually. Seems that somehow acs-engine install the CNI plugin even though I chose `networkPolicy:none`

[2018-02-27 14:08] andyzhangx commented on #2343
@JiangtianLi

[2018-02-27 16:38] #221 closed

[2018-02-27 16:58] #2331 closed

[2018-02-27 17:13] trstringer commented on #2142
@starkilla2003 have you had a chance to play with this? Has it worked for you?

[2018-02-27 17:26] JiangtianLi commented on #2343
@idanshahar Regardless of networkPolicy, RS3 windows is using windows cni (https://github.com/Microsoft/SDN/tree/master/Kubernetes/windows/cni). Can you use kubectl describe on the POD that failed to start? Also can you share the output of `kubectl get ev`?

what version of k8s are you using? Does this workload work https://github.com/JiangtianLi/Examples/blob/master/windows/basic/simpleweb.yaml?

[2018-02-27 17:29] starkilla2003 commented on #2142
@trstringer Sorry, did not have the chance to test it yet. Will do that in a couple of hours and let you know if it works!

[2018-02-27 17:36] idanshahar commented on #2343
@JiangtianLi
I tried with k8s 1.9.1 and 1.8.4 as well.
The current cluster is in version 1.8.4
The simpleweb.yaml doesn't work too.

Kubectl get ev output:
` 16h          199       35352k8s9010.151708d9ca73f2c0                     Node                     Warning   ImageGCFailed           kubelet, 35352k8s9010   rpc error: code = Unknown desc = not implemented
10s         16h          8259      no

[2018-02-27 18:09] starkilla2003 commented on #2142
@trstringer I tried it with the extensionProfile you provided but no cadvisor gets deployed. Are you sure the syntax in that is correct? And still there are no metrics available in the dashboard.

[2018-02-27 18:10] JunSun17 commented on #2336
this looks to be similar to work you have done for api-server, etc. @jackfrancis

I think another temporary solution is you can modify the deployed file /etc/kubernetes/manifests/kube-scheduler.yaml, and restart kube-scheduler pods.

[2018-02-27 18:11] starkilla2003 commented on #2142
@trstringer i noticed that the kube-state-metrics are now working right away.

[2018-02-27 18:16] JiangtianLi commented on #2313
@qmalexander It looks like acs-engine set `primaryAvailabilitySetName` in https://github.com/Azure/acs-engine/blob/master/parts/k8s/kubernetesmastervars.t#L270. We'll look into if it causes problem with the order of agentpools.

[2018-02-27 18:30] JiangtianLi commented on #2343
@idanshahar Was your windows windows rebooted after the first POD was created? Can you try
[code]
on your windows node to see it fixes the issue?
Also if you `docker ps` on windows node, is there any kubeletwin pending?

[2018-02-27 19:14] CecileRobertMichon commented on #2345
Hi @bramvdklinkenberg, please see issue #2060 which explains how to workaround this issue.

[2018-02-27 19:18] skinny opened #2349 "Cluster fails to become 'ready' when existing servicePrincipal is used"
**Is this a request for help?**:
no
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.13
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9.3

**What happened**:
After deploying a new cluster with prepopulated ClientId & Secret in the apimodel.json and networkPolicy 'calico' neither master or agents became `Ready

[2018-02-27 19:41] #2345 closed

[2018-02-27 19:46] CecileRobertMichon commented on #2349
Closing as this a duplicate of #2157 which was fixed with #2297.

[2018-02-27 19:58] skinny commented on #2349
I also tried this with a build from source (with this change included) and that doesn't seem to fix my issue describe here. The check here https://github.com/vvvrrooomm/acs-engine/blob/5672ee4692daa9cad376c98cdefccdc3d1f80d68/cmd/deploy.go#L205 will prevent this code from executing when you have provided client+secret in your apimodel.json

I might be missing something here (golang is not my main

[2018-02-27 20:20] mwieczorek commented on #2112
@CecileRobertMichon @jackfrancis sorry to bother you directly, but could you please take a look and write what do you think?

[2018-02-27 20:49] khenidak commented on #2338
Hello @Dienemy can you access nodes on your VPN?  can you try deploying a pod using `host network` then try to access pod IP on VPN?

[2018-02-27 21:38] jbiel commented on #1903
@JiangtianLi - we are (intermittently) running into the issue where our Windows containers cannot communicate with service IPs. This issue can occur on a fresh node that didn't previously have an HNS interface created. Do you have any more information on the patch that you referenced on your Jan 17th comment? Thanks.

Our environment:
* Windows 1709 (fully updated)
* Kubernetes 1.9.3
* L3/ToR rout

[2018-02-27 21:43] JiangtianLi commented on #1903
@jbiel Can you use https://github.com/Microsoft/SDN/blob/master/Kubernetes/windows/hns.psm1 to run
[code]
on windows node and `resolve-dnsname www.bing.com` on windows container and share the output?

[2018-02-27 21:47] giorgited commented on #2076
I think this is a duplicate of #1370

[2018-02-27 21:55] CecileRobertMichon commented on #2349
@skinny you are right I jumped to conclusions too quickly... Looking at it again #2297 only handles the case where the ServicePrincipleProfile is empty so it doesn't check permissions of the existing SP. #2157 was also about checking for permissions and #2297 only partially addressed it.

[2018-02-27 22:04] yastij commented on #2336
that is what we are doing right now with ansible. However, we are trying to close these gaps.

[2018-02-27 23:49] ewok2030 commented on #2287
I have a use case where this capability would be appreciated.

Thanks for sharing your test methods..I was about to try those.

[2018-02-28 04:02] dtzar commented on #2317
Calico does natively have the capabilities to restrict in or outbound connections to the pods.  This is highlighted in this tutorial: https://docs.projectcalico.org/v3.0/getting-started/kubernetes/tutorials/advanced-policy  which is also linked to from [our readme](https://github.com/Azure/acs-engine/tree/master/examples/networkpolicy#post-installation).

There are a number of different ways to tr

[2018-02-28 04:19] trstringer commented on #2142
@starkilla2003 syntax should be correct. Can you provide your api-model? I'll try to repro with your exact config.

[2018-02-28 07:08] nikparmar opened #2355 "Error while Scaling down Agent Nodes in Kubernetes"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:

We have an ACS cluster with 3 agent Nodes and from the portal I scaled it upto 10 Nodes it worked but when I did a scale down to 1 Again.
Got this error:
Failed

[2018-02-28 08:42] starkilla2003 commented on #2142
@trstringer I filtered the keys and certificates in this:

{
  "apiVersion": "vlabs",
  "location": "germanycentral",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes",
      "orchestratorRelease": "1.7",
      "orchestratorVersion": "1.7.9",
      "kubernetesConfig": {
        "kubernetesImageBase": "k8s-gcrio.azureedge.net/",
        "clusterSubnet": "10.240.0

[2018-02-28 12:18] roycornelissen commented on #558
@patrick-motard did you manage to mitigate the issue with a 1.8.4 cluster? I'm running a 1.8.8 cluster now, and one of my pods seems to have internet access (I'm using Azure AD amongst others), but another pod still cannot resolve the host name, so the problem isn't going away.

I have the same issues you have, I have to rely on an Azure admin in my company to the cluster according to my acs-engin

[2018-02-28 13:10] Dienemy commented on #2338
Hello. @khenidak . Yes we can access to our nodes in this VNet.
As example:
1. I have access to kube master via VPN:

[code]

2. I have access to POD via VPN:
[code]

[2018-02-28 13:15] ITler commented on #2152
Why is nobody reacting here? Do you need more information?

Initial bootstrap machines start with Kernel `4.4.0-59-generic`, after reboot, the current Kernel is loaded  (today it is `4.4.0-116-generic`)

[2018-02-28 13:33] idanshahar commented on #2343
@JiangtianLi
Since I run this command, still the same problem.
The kubletwin/pause container on the Windows agent is always restarting.
The first reboot was after I run the command you asked for.

[2018-02-28 15:24] bq1756 commented on #2076
This ticket is a partial duplicate of #1370.  The workaround described in #1370 is limited.  With this approach, I cannot use my desired VM size.  I am limited to which VM sizes I can use based on the VM size that is currently running in the agent pool.
The approach described here in #2076 should enables me to create an entirely new agent pool so I can use any size VM I desire.  The problem with t

[2018-02-28 15:25] bq1756 commented on #2076
This issue is covered by #1370 and #2278.

[2018-02-28 15:25] #2076 closed

[2018-02-28 16:32] AceHack commented on #1936
Any update?

[2018-02-28 18:00] JunSun17 commented on #2355
@nikparmar Which version of acs-engine are you using?

[2018-02-28 18:02] trstringer commented on #2142
@starkilla2003 we were able to reproduce the same issue with acs-engine v0.12.4 but using the latest version of acs-engine v0.13.0 this was working.

Please use acs-engine v0.13.0 and retry this deployment.

[2018-02-28 18:13] JunSun17 commented on #2347
@0x6d6178 I checked a case and do not see the problem you mentioned. In my case, the --cluster-name is set to be the "dnsPrefix" in "masterProfile". Can you change this field in your model and regenerate/check the new azuredeploy.json?

[2018-02-28 18:39] soccerGB opened #2358 "DC/OS deployment (with Windows agent) failure, a regression caused a new unnecessary preprovision requirement introduced by " commit e7b78cedb9b4346c0d1ec50dba102d59abc5e21""
**Is this an ISSUE or FEATURE REQUEST?** (choose one):

This is a regression issue report

**What version of acs-engine?**:

Any acs-engine built with commit e7b78cedb9b4346c0d1ec50dba102d59abc5e21f has this issue.

<!--
If this is a ISSUE, please:
  - Fill in as much of the template below as you can.  If you leave out
    information, we can't help you as well.

**Orchestrator and version (e.g. K

[2018-02-28 18:40] #2358 closed

[2018-02-28 18:45] soccerGB opened #2359 "DC/OS deployment (with Windows agent) failure, a regression caused a new unnecessary preprovision requirement introduced by " commit e7b78cedb9b4346c0d1ec50dba102d59abc5e21""
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

--- This is a issue report

**What version of acs-engine?**:

--- Any acs-engine built with the following commit has this regression issue

https://github.com/Azure/acs-engine/pull/2228

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
DC/OS 1.10 (Windows)

**What happened**:

If a Windows DC

[2018-02-28 18:51] 0x6d6178 commented on #2347
@JunSun17 Thanks for getting back. Indeed, the dnsPrefix is used in the --cluster-name, but the value is hard coded. This means that for every change of the dnsPrefix, the complete ARM template needs to be regenerated via acs-engine. Wouldn't it be better to reference the value of the dnsPrefix in the --cluster-name argument with a parameter/variable?

[2018-02-28 18:57] patrick-motard commented on #558
@roycornelissen after working on this issue today some more, I am still having this bug. On 1.7 I was not able to communicat with the internal k8s DNS from inside a windows container in the cluster. On 1.8.4 I can now resolve service DNS from within a windows container. **I still cannot access the internet nor any ips within the vnet (outside of the cluster).**

[2018-02-28 19:01] patrick-motard commented on #558
Also @JiangtianLi, this issue does not seem to be the same as the 15 min race condition bug. My containers have been deployed for hours and are exhibiting this behavior.

[2018-02-28 19:04] patrick-motard commented on #558
@skinny 's dns flushing quick fix does not fix this issue for me either.

[2018-02-28 19:15] patrick-motard commented on #1680
Also having this issue. You'd think the documentation would in clude in big red flashing text "WINDOWS CONTAINERS CAN'T COMMUNICATE OUTSIDE OF THE CLUSTER". Even a brief mention of it in the known limitations would suffice.

[2018-02-28 19:22] starkilla2003 commented on #2142
I uses v0.13.0 to provision that cluster yesterday.

[2018-02-28 19:26] JunSun17 commented on #2347
@0x6d6178 I guess what you said probably can be done but is not a priority for acs-engine. The goal of acs-engine is to provide a tool that generate ARM templates based on user's cluster definition. Users can choose to directly adjust the generated ARM templates and apply their logic, but I guess it should not be the intended way to use acs-engine.

[2018-02-28 19:57] 0x6d6178 commented on #2347
I understand what you are saying. However, I think it is strange that for some acs-engine cluster definition parameters, the resulting ARM template refers to them via the azuredeploy.parameters.json file and that other cluster definition parameters are being hard coded inside the azuredeply.json. This inconsistency makes debugging hard and reusability of the generated ARM templates low.

[2018-02-28 20:28] #2319 closed

[2018-02-28 20:57] jsturtevant opened #2361 "Hybrid cluster external IP does not route to service"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
---
ISSUE

**What version of acs-engine?**:
---
Version: v0.12.4
GitCommit: 069d9e4
GitTreeState: clean

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
kuberentes 1.9.1

**What happened**:
Created a hybrid cluster with 1 master, 1 linux node, 2 windows nodes.  Deployed a nginx to the linux n

[2018-02-28 21:30] JunSun17 opened #2362 "Scaling does not work on upgraded clusters with multiple agent nodes"
**Is this a request for help?**:

No

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

**What version of acs-engine?**:

v0.12.0, the earlier version might have the same problem

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes

**What happened**:

First upgrade a cluster with 3 agent nodes. When scale up or down, got the following errors:

[code]

[code]

**W

[2018-02-28 22:05] 4ux-nbIx commented on #1680
+1
I've spent days deploying different clusters, trying different windowsservercore:1709 base images and digging this repo issues. Nothing helped. I'd rather concentrate on something else and wait for the issue to be resolved...

[2018-02-28 22:09] UncleTawnos commented on #2177
yeah, quick fail would be cool, as large cluster tends to deploy very long time and still you can end with storage name someone else in Azure uses (as they're unique worldwide)

[2018-02-28 22:09] #2177 closed

[2018-03-01 01:58] sblyk commented on #1918
@andyzhangx Thank you!I tested it yesterday.
add cachingmode: None in azure disk storage class
now it works well

[2018-03-01 07:49] andyzhangx commented on #1918
@sblyk would you close this issue then?

[2018-03-01 08:51] 4c74356b41 commented on #2027
@JiangtianLi is this working already? can we recreate the cluster?

[2018-03-01 08:57] kiddouk commented on #2250
I am myself in the process of having to do the exact same. Mostly because we inherit from a cluster created by `az acs`. So far, this is rather painful. anyone has any good advice on the necessary steps?

So far I see the following:
1) re create the cluster definition out of `az acs show`
2) connect on the master node and retrieve the apiServerkeys, root ca and client certs
3) run acs-engine gener

[2018-03-01 08:57] 4c74356b41 commented on #2027
@msorby where have you got that image from? are they being published somewhere, can you provide a link? thanks.

[2018-03-01 12:41] starkilla2003 commented on #2142
Just to clarify i use the following steps:
1. I generate the templates with acs-engine
2. I deploy the generated templates with the Azure CLI

I don't use the deployment capability of acs-engine directly. I was using v0.13.0 with generating the templates and that did not work as expected.

[2018-03-01 13:13] #1918 closed

[2018-03-01 13:35] sylr opened #2367 "Allow custom resource name prefixes"
Hi,

Currently acs-engine generates name prefixes like this :

[code]

Which ends up having resources named :

  - k8s-master-89789797-0
  - k8s-master-lb-89789797-0
  - ...

This is fine when you are managing **1 cluster** but as soon as you have at least 2 **it becomes a nightmare** as you are absolutely not able to tell to which cluster your resource belongs to by looking at its name.

This can

[2018-03-01 14:10] abelsromero commented on #2250
We tried generating from the deployment files from Azure Portal but we were not able to get it working.
So, we ended up creating a new cluster. We struggled a bit to be able to connect to to the same vnet, but we got it running now.
If you succed, first, _kudos to you! _, then please do share it to help others.

[2018-03-01 17:50] JiangtianLi commented on #2027
@4c74356b41 Feb Windows update/docker image is already out so it should fix DNS configure issue. I will update here after I confirm in a windows cluster from my side.

[2018-03-01 18:04] JunSun17 commented on #2347
I did a search and "dnsPrefix" also shows up in apimodel.json, which will be used for upgrade and scale operations. So it looks to me it does not help much to parameterize "dnsPrefix" since it will cause in-consistency between apimodel.json and azuredeply.json. Basically it is not a parameter for tuning. If you really want to give it a try, you can manually change them to a desired value and see i

[2018-03-01 18:11] 4c74356b41 commented on #2027
@JiangtianLi do you know if\when MS releases the new image for Windows hosts (in Azure)? I've checked today and the latest image for 1709 is in december.

[2018-03-01 18:17] shubheksha commented on #2258
For this one, I believe a check needs to be added here to ensure that the location name has no spaces: https://github.com/Azure/acs-engine/blob/master/cmd/scale.go#L99?
@CecileRobertMichon

[2018-03-01 18:20] msorby commented on #2027
@4c74356b41 using acs-engine 0.13.0, it has the hotfix for the windows host. Then I use this microsoft/windowsservercore:1709_KB4074588 docker image for my core container.

So no need to look for images in Azure, acs-eninge 0.13.0 patches the host.

[2018-03-01 18:38] patrick-motard commented on #1680
I'm able to curl IPs that exist outside of the cluster, but I cannot curl DNS of servers within the same vnet. I'm going to try with a 1.9.1 cluster.

[2018-03-01 18:56] patrick-motard commented on #2027
I also was able to get internal DNS working using acs-engine 0.13.0 and k8s 1.8.4. But I'm not able to get _external_ DNS working -_-

[2018-03-01 18:58] JiangtianLi commented on #2027
@patrick-motard what DNS server is the container using? what is output of `ipconfig /all` inside container?

[2018-03-01 19:10] patrick-motard commented on #2027
@JiangtianLi
[code]

[2018-03-01 19:12] JiangtianLi opened #2368 "Support custom windows image in kubernetes"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Feature
---

**What version of acs-engine?**:
post 0.13
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

**What happened**:
DC/OS has supported custom windows image. It would be good to apply to kubernetes as well.

**What you expected to happen**:

**How to reproduce it** (as minimall

[2018-03-01 19:13] patrick-motard commented on #2027
I have a windows server within the same subnet with called "my-sql-server". From the windows node i can curl the sql server using `curl my-sql-server` and get a 200 response. From inside the container on the node i cannot.

[2018-03-01 20:16] shubheksha commented on #2258
@CecileRobertMichon, I believe we can pass in the `location` in the expected format (all lowercase, no spaces) here: https://github.com/Azure/acs-engine/blob/master/cmd/upgrade.go#L199?

[2018-03-01 20:21] shubheksha commented on #2346
Hi, are you still running into this issue? I tried reproducing it, however, it behaves correctly for me. The value of `maxPods` is 300 in all the json files generated.

[2018-03-01 21:39] 0x6d6178 commented on #2346
Hi, thanks for getting back. Yes I am still experiencing this issue. When I generate a new ARM template with the above specified config, the --max-pods parameters inside the azuredeploy.json are still set to 110.

[2018-03-01 21:48] 0x6d6178 commented on #2347
I tried and it works. It is possible to change the hard coded value within the azuredeploy.json with a parameter (parameters() function) or variable (variables() function). Instead of hard coding the value of the cluster name inside the ARM template, parametrising it allows better re-use of the template as only one dnsprefix can be used at a time.

[2018-03-01 22:23] CecileRobertMichon commented on #2258
@shubheksha I think this is the function we want https://github.com/Azure/acs-engine/blob/ec456b1637e1bd94bde0255e881f336a81bbc4ac/pkg/api/convertertoapi.go#L23
Somehow it's being applied for deployments but not upgrade (and I suspect not scale either) so you can probably re-use it.

[2018-03-01 23:36] ams0 commented on #2027
Got it to work today, using acs-engine (commit ba48383a, I build it daily [here](https://hub.docker.com/r/ams0/acs-engine-light-autobuild/)). What got me really confused is that ping doesn't work from within the container, but Invoke-Webrequest does:

[code]

Notably, I'm pulling microsoft/windowsservercore:1709 image.

[2018-03-02 00:04] bq1756 opened #2371 "Bad formatting of kube config file with RBAC and AAD profile in template"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue (or I'm doing something wrong)
---

**What version of acs-engine?**:
v13
v12.5
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
k8s 1.9.2 (1.8.4 also)

**What happened**:
I added 'enableRbac' and an AAD profile to my acsengine-template.json file, then deployed a new cluster.

Res

[2018-03-02 03:10] gsacavdm commented on #2223
Fixed!

[2018-03-02 03:10] #2223 closed

[2018-03-02 03:21] gsacavdm opened #2372 "Obscure error when subscription-id is not provided"
---
**Is this an ISSUE or FEATURE REQUEST?**: Issue
---
**What version of acs-engine?**: v0.13.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes

**What happened**: Running `acs-engine deploy --api-model apimodel.json --location westus2` results in the following error:
[code]

**What you expected to happen**: It should indicate that the subscription ID is missing.

**

[2018-03-02 03:25] gsacavdm opened #2374 "acs-engine deploy fails for Azure US Government due to bad Ubuntu image"
---
**Is this an ISSUE or FEATURE REQUEST?**: Issue
---
**What version of acs-engine?**: v0.13.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes

**What happened**: Running `acs-engine deploy --api-model apimodel.json --location usgovvirginia --azure-env AzureUSGovernmentCloud` results in the following deployment error:
[code]

**What you expected to happen**: A valid

[2018-03-02 06:13] #2374 closed

[2018-03-02 06:18] rakidu opened #2377 "Kubernetes DNS Issue"
**Is this a request for help?**:
yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
12.04
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
DNS issue with in the kubernetes cluster.
the pod ips are not resolving from the master. we are getting time out error.
we are trying to ssh in to a pod fro

[2018-03-02 08:06] gsacavdm opened #2380 "acs-engine deploy fails for Azure US Government due to template parameters for AzurePublicCloud"
---
**Is this an ISSUE or FEATURE REQUEST?**: Issue
---
**What version of acs-engine?**: v0.13.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes

**What happened**: Running `acs-engine deploy --api-model apimodel.json --location usgovvirginia --azure-env AzureUSGovernmentCloud` results in a deployment that does not have the appropriate template parameters for AzureUSG

[2018-03-02 12:09] jcharlytown commented on #2263
I just checked the latest release - it seems this fix is not included. Is there any specific reason?

[2018-03-02 12:41] marty2bell opened #2382 "running apt-get upgrade breaks cluster when using 0.13.0"
**Is this a request for help?**: YES

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: 0.13.0

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes

**What happened**:

Deployed new cluster using the 0.13.0 engine, as part of the housekeeping, ran a sudo apt-get update followed by upgrade on the master node at which p

[2018-03-02 12:46] yastij commented on #2263
cc @jackfrancis

[2018-03-02 13:54] SilvioPilato opened #2383 "enablePrivateCluster flag failing"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.13.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes v1.7.7

**What happened**:
We tried to deploy the following json template on a custom vnet with acs-engine, but running acs-engine deploy on it returned the following error:

[2018-03-02 14:24] ffd2subroutine opened #2384 "v0.13 Kubernetes doesn't see Windows agent node in a hybrid cluster"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.13.0, v0.13.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Kubernetes doesn't see Windows agent node even though VM is deployed successfully.
[code]

**What you expected to happen**:
To see Windows node i

[2018-03-02 15:58] #2372 closed

[2018-03-02 16:38] trstringer commented on #2142
We were able to reproduce this behavior with a 1.7 k8s cluster. Please try this with a newer version (1.9+).

[2018-03-02 16:46] cpunella commented on #2027
Hi,

I've just deployed a cluster with acs-engine 0.13.1 and using microsoft/windowsservercore:1709_KB4074588 as base image for my containers but external dns resolution doesn't work.

IpConfig /all result is the same as @patrick-motard

[2018-03-02 17:04] JiangtianLi commented on #2027
@patrick-motard @cpunella what is output of `resolve-dnsname www.bing.com` inside the container?

[2018-03-02 17:35] patrick-motard commented on #2027
[code]

[2018-03-02 17:36] patrick-motard commented on #2027
[code]

[2018-03-02 17:38] masroorhasan commented on #1160
Getting the same error with `go get github.com/Azure/acs-engine` on windows.

[2018-03-02 17:38] 4c74356b41 commented on #2027
@JiangtianLi I can confirm it works for me, but if I dont add `start-sleep 5` to my init script sometimes it crashes.

[2018-03-02 17:38] patrick-motard commented on #2027
Both google and bing work. Can't hit a server in the same vnet though. I have a server called 'my-server'. I can curl it and get a 200 back from the node itself but not from the container on the node.

[code]

[2018-03-02 17:43] patrick-motard commented on #2027
Okay.. I'm a little confused. After some testing I am seeing something different than i thought i saw the other day. I cannot curl the server in the vnet from linux containers, nor linux nodes, nor windows nodes. I could have sworn i could the other day.  I'm not going to be able to look at this again until monday.

[2018-03-02 17:47] bq1756 commented on #2371
I rebuilt the cluster.  This time I excluded **"enableRbac": true** from the JSON template.  This change results in a nicely formatted kube config file, snippet below:
`  user:
    auth-provider:
      config:
        access-token: ***************
        apiserver-id: ************
        client-id: ************
        expires-in: "3599"
        expires-on: "1520015987"
        refresh-token: **

[2018-03-02 17:50] starkilla2003 commented on #2142
@trstringer Can confirm:
- 1.7 not working
- 1.8 not working
- 1.9 working

Our production cluster is at 1.8 and we cannot upgrade in the near future. Would it be possible to make that work in 1.8? Apart from that i see the cadvisors and i am getting the metrics. Thank you for your help so far!

[2018-03-02 19:12] cpunella commented on #2027
`PS C:\app> resolve-dnsname www.bing.com
resolve-dnsname : www.bing.com : This operation returned because the timeout period expired
At line:1 char:1
+ resolve-dnsname www.bing.com
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : OperationTimeout: (www.bing.com:String) [Resolve-DnsName], Win32Exception
    + FullyQualifiedErrorId : ERROR_TIMEOUT,Microsoft.DnsClient.Commands.ResolveDnsN

[2018-03-02 21:36] #2371 closed

[2018-03-02 21:44] todoesverso opened #2385 "Upgrade from 1.7.9 to 1.9.3"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
Version: v0.13.1
GitCommit: 797dd91
GitTreeState: clean

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
k8s 1.7.9 upgraded to 1.8.8

**What happened**:
I had _1.7.9_ deployed from a clean acs-engine deploy using the _example/kubernetes.json

[2018-03-02 22:27] CecileRobertMichon commented on #2385
@todoesverso this is a known issue that was fixed with #2306. Right now the issue is fixed in master but the fix was not included in a release yet. Are you able to build from master?

[2018-03-02 22:29] CecileRobertMichon commented on #2384
@JiangtianLi do you know what's happening here?

[2018-03-02 22:35] CecileRobertMichon commented on #2383
Hi @SilvioPilato, the `"enablePrivateCluster"` tag was recently merged into acs-engine master and has not been included in a release yet. If you want to play with the feature before the next release you can [build from the master branch.](https://github.com/Azure/acs-engine/blob/master/docs/acsengine.md#build-acs-engine-from-source)

[2018-03-02 22:35] #2383 closed

[2018-03-02 22:48] JiangtianLi commented on #2384
@CecileRobertMichon It is likely kubelet is not starting on windows node.
@ffd2subroutine Can you RDP to windows node and check if kubelet service is running, `sc query kubelet` and check logs under C:\AzureData and C:\k?

[2018-03-03 17:44] rocketraman commented on #1790
@itowlson Looks like your latest changes on that pull handle the upgrade path too -- I think that makes it pretty likely this issue will be fixed as a result of that.

[2018-03-03 21:31] dbalaouras commented on #722
I had the exact issue and managed to restore the nodes by updating `/etc/kubenetes/azure.json`.
Still, I am getting similar errors as @annegi :-(

Any luck with this anyone?

[code]

[2018-03-04 14:26] 4c74356b41 commented on #737
is this going anywhere? this is pretty ridiculous if you ask me.

[2018-03-04 15:27] 4c74356b41 commented on #2027
I'm seeing a really weird behavior, where some of the pods consistently fail to resolve dns, while others work.

[2018-03-04 15:36] 4c74356b41 commented on #2361
this is due to the fact that it creates a load balancer attached to the windows nodes. I dont think this is a bug, in a sense that it just always picks windows nodes by default. it has no ability to know where you want your load balancer unless you specify it with the `service.beta.kubernetes.io/azure-load-balancer-mode`.

[2018-03-04 20:25] idanshahar commented on #2343
@JiangtianLi
Do you have any idea why is that happening?

[2018-03-04 22:46] JiangtianLi commented on #2343
@idanshahar I will try on my side with k8s 1.8.4 and acs-engine 0.13 to repro. I will update here. Meanwhile I wonder if you saw similar error `docker: failed to register layer: re-exec error: ` from container logs as in https://github.com/Azure/ACS/issues/88?

[2018-03-05 00:25] JiangtianLi commented on #2343
@idanshahar  With k8s 1.8.4 and acs-engine 0.13, windows container (https://raw.githubusercontent.com/JiangtianLi/Examples/master/windows/basic/simpleweb.yaml) comes up fine. Can you collect kubletwin/pause container logs and restart dockerd with -D to see why kubletwin/pause container failed to start?

[2018-03-05 07:43] Satya-26 opened #2386 "nslookup can't resolve 'kubernetes.default'"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: 13.0

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** Kubernetes

**What happened**: nslookup can't resolve 'kubernetes.default'

**What you expected to happen**:  Able to resolve kubernetes.default. below is the expected output:
$ kubectl

[2018-03-05 09:49] IvanovOleg opened #2387 "acs-engine deploy command adds auto-sufix even if it is not specified"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.13.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9.3

**What happened**:
I've deployed a brand new kubernetes cluster without --auto-suffix argument, but suffix has been added to the resource names.

**What you expected to h

[2018-03-05 11:54] 4c74356b41 commented on #2027
I take it back. networking is extremely unreliable at startup.

[2018-03-05 12:11] 4c74356b41 commented on #2027
Ok, more findings, acs 0.13.1 doesnt install 2018-02 Cumulative Update for Windows 10 Version 1709 for x64-based Systems (KB4074588) to the windows nodes. wtf?

[2018-03-05 12:13] qmalexander commented on #2361
Hi @jsturtevant! I had the exact same problem [https://github.com/Azure/acs-engine/issues/2313]. The solution is to have the "linuxpool2" before "windowspool2" in "agentPoolProfiles". The down side is that you now can't expose the windows nodes..

[2018-03-05 12:16] 4c74356b41 commented on #2361
@qmalexander  you can. you just need to use `service.beta.kubernetes.io/azure-load-balancer-mode` to specify to which av set to attach the lb.

[2018-03-05 12:17] #2313 closed

[2018-03-05 12:32] 4c74356b41 commented on #2013
@douglaswaights because they are not windows :)

[2018-03-05 13:03] ITler commented on #2386
As a kind hint, I would suggest to provide more information here, as it is very hard for the people to help without knowing what you really bootstrapped.
Which Azure cloud do you work with? How does the acs-config JSON look like (remove sensitive data before posting)?

[2018-03-05 13:22] ITler commented on #2362
interesting... with `0.12.0` I am able to scale. I run on AzureGermanCloud facing many issues I can't explain.
However when *upgrading* the cluster, I've seen the numbering issue as well...
After a debug session with Microsoft, they found an issue on their side as the numbering issue causes me to not be able to remove the resource group which contained the cluster. I needed to manually delete the

[2018-03-05 14:12] ITler opened #2388 "Kubernetes does not recognize nodes internal ip"
**Is this a request for help?**:
no
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.12.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
K8s 1.8.6

**What happened**:
Kubernetes (sometimes at least one master, sometimes at least one agent) is not able to determine its own Internal IP address (at least it is not shown when

[2018-03-05 14:27] kiddouk commented on #2142
We are seeing that *exact* same issue on our side at the moment. We also need 1.8 release.

[2018-03-05 14:27] ITler commented on #2175
Am I the only one with that issue? Does upgrading Kubernetes with that approach usually work?

[2018-03-05 14:57] MassimoSporchia opened #2389 "enablePrivateCluster not recognized"
**Is this a request for help?**:

NO

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

**What version of acs-engine?**:

Version: v0.13.1
GitCommit: 797dd91
GitTreeState: clean

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Not important

**What happened**:

While trying to generate a Kubernetes Cluster, I tried adding the "ensurePrivateCluster" as explained here: htt

[2018-03-05 15:50] ffd2subroutine commented on #2384
`sc query kubelet` gives me:
[code]
C:\k\kubelet.err.log
[code]
C:\k\kubelet.log
[code]

C:\AzureData\CustomDataSetupScript.log
[code]

[2018-03-05 16:12] karlmutch commented on #2159
Any news on the status of the licensing issues with Nvidia around the newer cards?

[2018-03-05 16:49] CecileRobertMichon commented on #2389
Hi @MassimoSporchia, the "enablePrivateCluster" tag was recently merged into acs-engine master and has not been included in a release yet. If you want to play with the feature before the next release you can [build from the master branch](https://github.com/Azure/acs-engine/blob/master/docs/acsengine.md#build-acs-engine-from-source).

[2018-03-05 16:49] #2389 closed

[2018-03-05 18:03] trstringer commented on #2142
@starkilla2003 @kiddouk I have found the root cause of the problem in 1.8. I should have a fix pushed to my fork soon.

Thanks!

[2018-03-05 18:28] todoesverso commented on #2385
It did worked although I still see 1.7.9 in some files, is that correct:

 `acs-engine-test$ grep -r 1.7.9 *
_output/victor-acs-tests-5a9d5ec6/azuredeploy.parameters.json:      "value": "k8s-gcrio.azureedge.net/hyperkube-amd64:v1.7.9"
_output/victor-acs-tests-5a9d5ec6/azuredeploy.json:    "orchestratorNameVersionTag": "Kubernetes:1.7.9",
acs-engine-test$ grep -r 1.8.8 *
_output/victor-acs-tests-5a

[2018-03-05 20:40] shubheksha commented on #2346
@CecileRobertMichon - any ideas about what we can do here? Can you reproduce this?

[2018-03-05 21:13] jackfrancis commented on #2231
While there are some advantages to not having to do type conversion for integer comparison (and other math operations), the ARM spec accepts this value as a string:

https://github.com/Azure/acs-engine/blob/master/parts/k8s/kubernetesmasterresources.t#L510

Additionally, there is overhead to changing this type spec w/ respect to upgrade/scale.

[2018-03-05 21:13] #2231 closed

[2018-03-05 21:56] UncleTawnos opened #2392 "K8s in Azure breaks internal LB if only one service uses ILB annotation"
**Is this a request for help?**:
NO
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
master-latest (cd92d6949c66be875f5708eafb371a04666181fe)
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
I have deployed fresh cluster (GitVersion:"v1.9.3", GitCommit:"d2835416544f298c919e2ead3be3d0864b52323b) u

[2018-03-05 22:28] #2380 closed

[2018-03-05 23:16] jackfrancis commented on #1806
@EPinci which version of acs-engine did you deploy with?

[2018-03-05 23:17] MassimoSporchia commented on #2389
@CecileRobertMichon Oouch, thanks, must have missed that!

[2018-03-05 23:20] jackfrancis commented on #2263
@jcharlytown @yastij Are you able to build from master to deploy clusters? If there is an overwhelming desire for a patch release we can include this fix in such a release this week.

[2018-03-05 23:31] jackfrancis commented on #2387
I don't see this PR introducing the behavior you describe, can you look over:

https://github.com/Azure/acs-engine/pull/2239

To be clear about your bug, is the suffix you're seeing in the form of `4af9f070`? E.g.:

https://play.golang.org/p/WdOLWpaOClO

[2018-03-05 23:37] jackfrancis commented on #2386
Are you doing this from within a running pod (e.g., busybox)? I'm not able to repro on a 1.9 cluster:

[code]

[2018-03-05 23:40] jackfrancis commented on #2382
Hi @marty2bell we identified a regression in v0.13.0 (and released v0.13.1 w/ the fix) that didn't startup etcd on restart. Is this the root cause? If so, you can do one of the following:

1) build a new cluster (if that's an option) w/ v0.13.1
2) patch the existing cluster by running `sudo systemctl enable etcd` on all master and agent nodes

[2018-03-05 23:41] jackfrancis commented on #2377
@rakidu could you paste the original api model used to build this cluster? Also, pasting the commands you're using to connect to the pod IPs would be helpful. Thanks!

[2018-03-05 23:44] jackfrancis commented on #2388
Can you paste a `kubectl get pods -n kube-system` with output of a pod w/ missing IP address?

[2018-03-05 23:46] jackfrancis commented on #2392
Can you paste the original api model (scrubbed of creds) that you used to build the cluster? Thanks!

[2018-03-05 23:52] jackfrancis commented on #2336
@yastij I'll aim to get to this this week, please bug me next week if you don't hear any status. :)

[2018-03-05 23:58] UncleTawnos commented on #2392
[code]

as "nonMasqueradeCidr" results Unknown JSON tag nonMasqueradeCidr I had to "fix" it in azuredeploy.json and azuredeploy.parametes.json manualy

[2018-03-06 00:05] samkreter opened #2393 "Template Variable Limit Exceeded"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: v1.9.4.3

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes

**What happened**: Trying to deploy a cluster but we are hitting the max parameter limit found by the error
` {"error":{"code":"InvalidTemplate","message":"Deployment t

[2018-03-06 00:33] marty2bell commented on #2382
That's great thanks.  I'll patch for now and upgrade the engine for new builds.....

Cheers

Marty

[2018-03-06 00:33] #2382 closed

[2018-03-06 00:43] rjtsdl opened #2395 "Remove Kubernetes 1.5.x support"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: all

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kuberentes 1.5.x

**What happened**:
Kuberentes 1.5.x is old. We should regularly deprecate old release.

**What you expected to happen**:
Kubernetes 1.5.x is absent in acs-engine anywher

[2018-03-06 01:13] CecileRobertMichon commented on #2385
As long as your `apimodel.json` file has the up-to-date version, I believe you should be able to perform successive upgrades. The `azuredeploy.parameters.json` and `azuredeploy,json` files were used for your original deployment.

[2018-03-06 01:13] #2385 closed

[2018-03-06 01:15] CecileRobertMichon commented on #2393
Hi @samkreter! What does your apimodel look like? Which version of acs-engine are your using? ` v1.9.4.3` doesn't exist the latest release is [v0.13.1](https://github.com/Azure/acs-engine/releases/tag/v0.13.1)

[2018-03-06 01:17] trstringer commented on #2142
This issue should be fixed now in my fork reflected in https://github.com/Azure/acs-engine/pull/2274. In my tests, a Kubernetes cluster versioned 1.8 or 1.9 both succeed.

Let me know if this fixes it for you. Thanks!

[2018-03-06 01:29] samkreter commented on #2393
Hey! Sorry wrong versioning. The ACS-engine version is 0.9.4. Below is the api model.
[apimodel.txt](https://github.com/Azure/acs-engine/files/1783197/apimodel.txt)

[2018-03-06 07:31] IvanovOleg commented on #2387
k8s-agentpool1-**30347309**-0
I was talking about this random number. Can I get rid of it?

[2018-03-06 07:50] ITler commented on #2388
Hello @jackfrancis , thanks for having a look here.

[code]
Maybe a `describe` of a non-ip pod might also help:
[code]

[2018-03-06 08:08] ITler commented on #2175
/germanycloud

[2018-03-06 08:10] qmalexander commented on #2027
Is there a way to get the internal traffic to work? I run:  acs-engine v0.13.1 and Kubernetes 1.9.1. The external traffic works.

[2018-03-06 08:32] jcharlytown commented on #2263
@jackfrancis, I can build from master, yes. I was just wondering why that was in general. To understand the procedures here might come in handy in the future as we are currently evaluating what tool chain to use to manage our clusters. Can you comment on why this was not included?

[2018-03-06 09:14] yastij commented on #2263
@jackfrancis - would be really nice, thanks !

[2018-03-06 09:15] yastij commented on #2336
Sure, thanks !!

[2018-03-06 10:12] ffd2subroutine commented on #2384
Also noticed that docker daemon wasn't running on windows node, probably stopped after setup was complete and after reboot.

[2018-03-06 10:23] ITler commented on #2388
No, both pods are not mentioned once. I searched whole journalctl output, not only the last few lines, that the above mentioned command will bring up

[2018-03-06 10:35] ffd2subroutine commented on #2384
Restarted kubelet and kubletproxy and now I can see windows node in the list
[code]
but now it's in NotReady state and I can't even RDP to it anymore.

[2018-03-06 10:52] ITler commented on #2388
I searched whole journal using `journalctl -u kubelet -f -l -n 200000`. I've got a mass of errors in ouput but nothing directly stating the kube-proxy pod

[2018-03-06 11:02] robsonpeixoto commented on #1141
Any recommendation about the VM Size?

[2018-03-06 11:07] ffd2subroutine commented on #2384
Restarted windows VM and now it seems working
[code]

but that's not a user friendly workflow if I have to do all of that myself:)

[2018-03-06 13:23] msorby commented on #2027
Right, is I thought that I had had it working. acs-engine 0.13.0 and K8i 1.9.3, using this image as basis for my container microsoft/windowsservercore:1709_KB4074588.
But I'm experiencing the same as @4c74356b41, it's just not reliable.
It was working for a bit, but then it stoped and after that it's a no go.
This is for external resources.

[2018-03-06 13:44] 4c74356b41 commented on #2027
@msorby my containers lose internet after node reboot :) tested on 3 clusters built from scratch ;)

[2018-03-06 14:04] feiskyer commented on #2384
`invalid capacity 0 on image filesystem` is known problem for v1.9, it will be fixed in v1.10

[2018-03-06 14:18] feiskyer commented on #2388
@ITler Are there any logs like `Cannot get host IP `?

[2018-03-06 14:36] ITler commented on #2388
@feiskyer  Again I went throught all the output from `journalctl -u kubelet -f -l -n 200000 `.. I searched for the message you propsed, however I don't see a message like this.
We just now recognized, that kube-dns-pods are complaining... I'll have a look into this. Maybe this reveals some helpful information and symptoms

[2018-03-06 14:47] ITler commented on #2388
Please notice, that I use

    kubernetesConfig": {
        "networkPolicy": "none"
    }

as I have troubles with AzureCNI like this: #2046

[2018-03-06 14:58] ITler commented on #2388
Seems the `kube-dns-v20` pods are stuck on `Error syncing pod`.

logs look like this:

[code]

I think this is only a symptom due to the missing IP problem

[2018-03-06 17:02] akasper-connyun commented on #220
I have also seen this recently for region europe west. Shortly after, one of the nodes was marked as unresponsive resulting in a cascade of pod killing and reshuffeling, which ended up being really bad for our services...

[2018-03-06 17:20] jsturtevant commented on #2361
@4c74356b41 I thought the same thing, that because the load balancer picks the windows nodes it is not working but when I upgraded to version 0.13 I saw that the load balancer is pointed at the windows nodes but traffic still gets routed to the linux node.  In other words, if you use version 0.13 of ace-engine to generate your template, and the same files above everything works, even though the lo

[2018-03-06 17:57] CecileRobertMichon commented on #2393
Ok so ARM has template limits and the size of  your cluster (number of agent pools) is making it go over. A few questions: any reason you're using v0.9.4 and not the most recent (v0.13.1)? Do you need to have the agent nodes separated into 11 pools? Looks like several of them have the same properties.

[2018-03-06 18:01] CecileRobertMichon commented on #2393
You might be able to get around this by changing your template a bit to condense things like this: [apimodel (1).txt](https://github.com/Azure/acs-engine/files/1786093/apimodel.1.txt). Note that I removed the firstConsecutiveIP since it's being ignored because you're not using a custom VNET and the windows profile because you don't have any windows pools.

[2018-03-06 18:05] qmalexander commented on #2027
@JiangtianLi any ideas? :blush:

[2018-03-06 18:14] 4c74356b41 commented on #2361
@jsturtevant welp, i have a hybrid cluster right in front of me, with 4 different load balancers (2 internal\2 external) and routing works fine.

[2018-03-06 18:15] JiangtianLi commented on #2027
@4c74356b41 Regarding issue with reboot, there is a PR to fix it: https://github.com/Azure/acs-engine/pull/2378. acs-engine doesn't choose windows version, it always uses the latest from Azure.
@qmalexander For internal traffic, does kube-dns and `nslookup kubernetes` on your end? Does internal traffic on linux node?

[2018-03-06 18:16] JiangtianLi commented on #2027
@madhanrm In case those issues are known from Windows team.

[2018-03-06 18:18] 4c74356b41 commented on #2027
@JiangtianLi  so should I install that kb on agent nodes or not? I thought you said the feb update is required for cluster endpoints to work?

[2018-03-06 18:24] JiangtianLi commented on #2027
@4c74356b41 You should not need to manually install anything. acs-engine already patch package in case Feb update is not out. With Feb update, there is no action for you too. What is version on your windows node? `reg query "HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion" /v BuildLab`

[2018-03-06 18:29] 4c74356b41 commented on #2027
@JiangtianLi
`16299.rs3_release.170928-1534`

do you know if it is possible to just delete windows nodes only and redeploy same definition into the same resource group (but built from the pr you mentioned)? or will it crap out? Also, should I use cni or not? I'm asking in terms of stability only. which is more stable at the moment? because for me both do not really work (without that PR at least)

[2018-03-06 18:29] msorby commented on #2027
@4c74356b41 I lost external dns resolution without node rebooting. But once it's gone it's gone for all pods created.

[2018-03-06 18:34] JiangtianLi commented on #2027
@4c74356b41 Azure CNI is not default in networkpolicy and it is also beta stage. If you have any issue with Azure CNI, please report with any detailed repro steps and I will loop in Azure Networking folks.

[2018-03-06 18:36] JiangtianLi commented on #2027
@msorby What is `ipconfig /all` in your container? Can you reach kube-dns from container? Is it external name (www.bing.com) doesn't work or internal name (kubernetes or other k8s service) too?

[2018-03-06 18:44] 4c74356b41 commented on #2027
[code]
I cant resolve anything.
[code]
Get-NSHNetwork | xxx | Remove-HNSNetwork do not help.

[2018-03-06 18:53] JiangtianLi commented on #2027
@4c74356b41 It appears your kube-dns is not reachable. Can get kube-dns's status and logs? Does DNS query work from linux node?

[2018-03-06 18:57] 4c74356b41 commented on #2027
@JiangtianLi  yes, resolution works from linux node\containers.
[code]

how to get kube-dns status? here's the logs from kubedns:
[code]

nothing valuable able before that

[2018-03-06 19:02] JiangtianLi commented on #2027
@4c74356b41  `kubectl get po -n kube-system -o wide`

[2018-03-06 19:03] 4c74356b41 commented on #2027
@JiangtianLi ah, that status. all running.
[code]

[2018-03-06 19:03] JiangtianLi commented on #2027
@4c74356b41 Also what is `kubectl get no -o wide` output?

[2018-03-06 19:04] 4c74356b41 commented on #2027
why is kube dns not on master nodes?

[code]

one windows node is shutdown by me to save costs (since its not working anyway).

[2018-03-06 19:16] 4c74356b41 commented on #2027
agent node:
[code]

container:
[code]

[2018-03-06 19:17] JiangtianLi commented on #2027
@4c74356b41 Sorry, updated the commands. Can you retry?

[2018-03-06 19:20] 4c74356b41 commented on #2027
@JiangtianLi  updated.

[2018-03-06 19:23] JiangtianLi commented on #2027
@4c74356b41 Can you use https://github.com/Microsoft/SDN/blob/master/Kubernetes/windows/hns.psm1 to run
[code]
on windows node? Is kube-proxy running on windows node?
`sc query kubeproxy`

[2018-03-06 19:29] 4c74356b41 commented on #2027
endpoints: https://paste.ee/p/gqMaE
policy lists: https://paste.ee/p/rUJFn

[code]

but `sc query kubeproxy` returns nothing

[2018-03-06 19:29] mingw2358 commented on #2027
I'm also seeing the same issue as @4c74356b41 on my newly provisioned hybrid cluster with windows containers only. No internal or external dns resolution. I have similar outputs from @JiangtianLi 's command as @4c74356b41.

[2018-03-06 19:42] JiangtianLi commented on #2027
@4c74356b41 Looks like the patch is effective. Did DNS work in that container before and stopped working or it is a new container never having DNS working?
If you don't need that pod, can you try (with https://github.com/Microsoft/SDN/blob/master/Kubernetes/windows/hns.psm1)
[code]
and create a new POD?
If the POD was working before but stopped working (without node rebooting), then I'll need to l

[2018-03-06 19:57] 4c74356b41 commented on #2027
does deleting this pod and deployment creating a new one in its place count as a new pod? i've had both situations. pods losing dns and pods not having dns from the get go. but not sure i've seen pods losing internet without node rebooting.

[2018-03-06 19:58] jackfrancis commented on #2392
@UncleTawnos btw you can configure kubelet `--non-masquerade-cidr` setting explicitly now in your api model. Example usage is:

[code]

Also see https://github.com/Azure/acs-engine/blob/master/docs/clusterdefinition.md#kubeletconfig

[2018-03-06 20:01] jackfrancis commented on #2392
@lachie83 Does the described scenario sound like expected kubernetes behavior? I.e., the ILB is deleted/created when there's only one service behind it, but updates in place when more than one service is behind it.

[2018-03-06 20:01] JiangtianLi commented on #2027
@4c74356b41 Pod created after deleting is also what I meant by "new pod". If the POD is running and DNS stops working, then that is something new.

[2018-03-06 20:05] msorby commented on #2027
@4c74356b41 I'm seeing this today. Had a pod with dns working, then all of a sudden it stopped working. Without the node rebooting.
Killing the pod so it creates a new did not help. Then on one recreation of the pod it's started to work again. No idea why.

@JiangtianLi I'm pretty sure I'm seeing the pattern where it just stop working, but I'm not 100% sure if it was after deleing a pod and it got

[2018-03-06 20:07] JiangtianLi commented on #2027
@msorby Thanks for reporting. I'll report to networking team.

[2018-03-06 20:08] trstringer commented on #2142
@starkilla2003 @kiddouk let me know if this is fixed on your end and I'll work to get this merged in.

[2018-03-06 20:15] jackfrancis commented on #2387
There is no way to get rid of that at the moment, it's there to ensure uniqueness across multiple deployments. This is not the `--auto-suffix`, which is an additional element of (optional) uniqueness.

[2018-03-06 20:15] #2387 closed

[2018-03-06 20:18] jackfrancis commented on #2263
We generate a patch release when there is a wide-impacting fix that we want to encourage folks to opt into. This is why it's important to vote when you want to see something sooner than the next minor release. So if there's a v0.13.2, we'll include this in it. :)

Additionally in the future we plan to patch release when a new Kubernetes release is published to make it easier to deploy new clusters

[2018-03-06 20:21] jackfrancis commented on #2388
@ITler Can you kill the two kube-proxy pods with <nil> IPs? And then kubectl logs against one of them as is recreated.

[2018-03-06 20:37] #2395 closed

[2018-03-06 21:32] ITler commented on #2388
@jackfrancis I already did `kubectl delete pod ...` a few times on last Wednesday or Thursday, so it does not recover. However this is the log

[code]
So there is an error.
As a diff: one of the kube-proxy pods running on master that has an IP and does not show the iptables-restore error
[code]

[2018-03-06 21:43] yastij commented on #2263
SGTM

[2018-03-06 22:25] plasne opened #2399 "agentpublicosImageSKU isn't used"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.13.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
DC/OS

**What happened**:
I specified the following after the azuredeploy.parameters.json was generated:
"agentprivateosImageSKU": "17.10"
"agentprivateosImageVersion":  "17.10.201802220

[2018-03-06 22:27] Sennahoi opened #2400 "Can't use azureFile in Germany Cloud Central"
**Is this a request for help?**:
Maybe.
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE.
---

**What version of acs-engine?**:
0.13.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.7.9

**What happened**:

Using the following template

[code]

I try to setup a pod with a storage account with this file
[code]

When I start the pod, I get the followi

[2018-03-07 00:00] jackfrancis commented on #2388
@ITler Thanks very much; as you say, let's focus on the `Failed to execute iptables-restore for nat` error. @lachie83 Does that resemble any failure behavior you're familiar with?

[2018-03-07 02:31] JiangtianLi opened #2403 "Support vmss in kubernetes deployment"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Feature
---

**What version of acs-engine?**:

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

**What happened**:
Kubernetes currently only supports availability set in agent pool.

**What you expected to happen**:
Support vmss in kubernetes agent pool.

**How to reproduce it** (as mini

[2018-03-07 02:31] JiangtianLi commented on #2403
@feiskyer

[2018-03-07 02:41] feiskyer commented on #2403
vmss support will be added in kubernetes v1.10. To support vmss, acs-engine should ensure

- master nodes are still running in AvailabilitySet
- agent nodes are running in ScaleSet

And `/etc/kubernetes/azure.json` should be changed for both master and agent nodes:

[code]

[2018-03-07 06:08] karataliu opened #2404 "k8s 1.10 support note: Use kube-addon-manager-amd64:8.5+ image for addonmanager"
To keep a note here for k8s 1.10 support.

Current addonmanager image used by k8s 1.9 does not suit k8s 1.10
[code]
The behavior is addon-manager won't start.
For example, with single mater note, the master won't treat it self as leader, thus does not start working:
[code]

Root cause is identity naming rule change introduced by:
https://github.com/kubernetes/kubernetes/pull/58302
https://github.c

[2018-03-07 07:51] JiangtianLi commented on #2027
/cc @madhanrm

[2018-03-07 08:17] feiskyer commented on #2392
same with https://github.com/Azure/acs-engine/issues/2151#issuecomment-368718505, the fix should be included in next release (v1.9.4)

[2018-03-07 10:32] theobolo commented on #2002
For the moment i can say that since January it's stable with a cluster on 1.8.5 Kubernetes version. Didn't have any other mount/umount problems...

[2018-03-07 10:52] kiddouk commented on #2142
We ended up switching to 1.9.1 in the end so we couldn't test this patch.
cheers,

[2018-03-07 11:14] starkilla2003 commented on #2142
I will test it this evening. Sorry for the delay. Will document my findings here then!

[2018-03-07 11:28] EPinci commented on #1806
@jackfrancis I used 0.13.0 but in my case this was a weird network routing issue (couldn't get the nodes to the repo to pull the components from).

[2018-03-07 17:11] jackfrancis commented on #2404
Thanks for tracking this requirement @karataliu !

[2018-03-07 17:44] jackfrancis commented on #2399
Hi @plasne, we don't currently support that OS image SKU. If you are experimenting by modifying the acs-engine generate values, make sure you replace all 16.04 references with the appropriate 17.10 replacements, and that the region/account you're building in has access to those SKUs.

I'm going to close this as there is no support at this time for 17.10

[2018-03-07 17:44] #2399 closed

[2018-03-07 17:57] CecileRobertMichon commented on #2346
@0x6d6178 are you talking about the `maxPods` property in `kubernetesConfig` or the `--max-pods` flag in `kubeletConfig`? If you want to set the `max-pods` flag in kubeletConfig you need to so like [this](https://github.com/Azure/acs-engine/blob/master/docs/clusterdefinition.md#kubeletconfig)

[2018-03-07 18:06] bnookala opened #2407 "Enforce windows password complexity requirements in acs-engine client."
**Is this a request for help?**:

No

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Feature Request

**What version of acs-engine?**:

Any

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes, but possibly all orchestrators that support Windows nodes. Any version.

**What happened**:

Deployed a Windows/Linux hybrid cluster, resource group ARM template deployment fai

[2018-03-07 18:13] CecileRobertMichon commented on #2407
@shubheksha this might be a good issue to look at if you're interested

[2018-03-07 18:28] plasne commented on #2399
I probably could have stated this better, but I realize that 17.10 doesn't work, the issue is that the parameters show 3 variables for SKU and 3 variables for version, but they aren't used, only 1 is, which is confusing.

[2018-03-07 18:31] lachie83 opened #2408 "Support different Container runtimes"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): FEATURE

---

**What version of acs-engine?**: Master

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** Kubernetes

**What happened**:

Kicking off the discussion to make the Container runtime pluggable. Currently only looking to move from Docker engine to Docker ee/ce and nvidia-docke

[2018-03-07 18:33] lachie83 commented on #2408
cc @jackfrancis

[2018-03-07 19:36] timkock commented on #2403
What is weird is that the [kubernetes/autoscaler](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/azure) documentation references `VMSS` enabled kubernetes clusters... am I missing something or is this the edge or are they referring to some sort of managed cluster that runs vmss 😜

[2018-03-07 19:40] shubheksha commented on #2258
I didn't see `NormalizeAzureRegion` being called in any of those files. However, all three of them use [this](https://github.com/Azure/acs-engine/blob/master/pkg/acsengine/engine.go#L289) method, so can we apply it here instead?

[2018-03-07 20:57] SteveCurran commented on #2027
Created new cluster today using acs-engine 0.13.1 kubenetes 1.9.1, all containers microsoft/windowsservercore:1709_KB4074588.  No internal DNS resolution.

[2018-03-07 22:12] CecileRobertMichon commented on #2408
#1945 by @jessfraz added support for clear containers as runtime

[2018-03-07 22:16] lachie83 commented on #2408
Fantastic! Will use that as reference for building the other PRs.

[2018-03-08 13:26] ravibarkhani commented on #1806
Hello,

I am getting same error, tried in both north ans south UK location. With one master and one agent it works fine, but when I choose 3 master and 3 agent it start failing extensions to agents are perfectly installed. Deploying in custom VNET with azure provided DNS. I checked from master node it is able to connect to internet(nslookup docker.io gives me proper response). In my case I am usin

[2018-03-08 14:46] hmarcelodn opened #2411 "acs-engine upgrade error VM has reported a failure when processing extension 'cse0'"
**Is this a request for help?**:
YES
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.13.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.6.6

**What happened**:
I upgraded a 1.6.6 k8s cluster to 1.7.9 using the latests version of acs-engine. The deployment failed and I retried the execution as specified in t

[2018-03-08 19:05] jackfrancis commented on #1806
Thanks for reporting @ravibarkhani, that error should not occur on a more recent build of acs-engine. (We've introduced lots of I/O-dependent retries + race condition resiliency during cluster deployment since v0.12.5)

[2018-03-08 19:06] starkilla2003 commented on #2142
Can confirm 1.8.8 is working now! Thank you for your work and time @trstringer

[2018-03-08 19:38] jackfrancis commented on #2411
@hmarcelodn could you share the original api model you used to deploy using v0.5.0? I can try to repro.

[2018-03-08 19:42] hmarcelodn commented on #2411
@jackfrancis Here it is. I modified this removing the old tags before executing.

[code]

[2018-03-08 19:45] hmarcelodn commented on #2411
[code]

[2018-03-08 19:47] hmarcelodn commented on #2411
@jackfrancis this is the format of the original. I removed a few tags that are not compatible with the new acs-engine anymore.

[code]

[2018-03-08 19:50] trstringer commented on #2142
That's really great to hear!! Thanks for looping back on this.

[2018-03-08 19:56] mrosterm commented on #556
Can this be closed?

[2018-03-08 20:25] ravibarkhani commented on #1806
With the version 13.1 extension deployment timed is timed out after 1 hour 30 min. I am running k*s versiion 1.8 and version 1.8.7. Once will try with new version of k8s and share the details.

[2018-03-08 20:29] starkilla2003 commented on #2142
One suggestion from my side would be just to move the monitoring stuff to a seperate namespace, but since my initial complaint is fixed now i will close this issue! Again thank you a lot for your effort!

[2018-03-08 20:29] #2142 closed

[2018-03-08 20:59] jackfrancis commented on #2411
Thanks @hmarcelodn, I'm not able to easily repro for tooling reasons (our E2E tooling has changed a lot since v0.5.0). Could you tail the final 10 lines from `/var/log/azure/cluster-provision.log`. Generally speaking, it's not surprising that an upgrade operation from a recent version of acs-engine is broken for v0.5.0. We're still stabilizing upgrade, and until that time support across versions i

[2018-03-08 21:15] jackfrancis commented on #2400
@Sennahoi Are you able to confirm @karataliu's fix by building a 1.7.13 cluster?

[2018-03-08 21:34] Sennahoi commented on #2400
Sorry for not responding. I switched to 1.8.x and the problem was gone. Thanks for your help!

[2018-03-08 21:34] #2400 closed

[2018-03-08 21:40] jackfrancis commented on #1603
@tesharp We could add some post-deployment enforcement: "if user brought his/her own dnsServiceIP value then run `nsupdate` to register the nodes w/ resolver(s)".

I'd be happy to start experimenting along those lines with something resembling the script you shared.

[2018-03-08 23:55] trstringer commented on #2142
That's actually an option! The format of `extensionParameters` is `<non_default_namespace>;<prometheus_chart_values_url>;<cadvisor_daemonset_config_url>`. So if you wanted a non-default namespace you could set the `extensionParameters` to just `"monitoring"`, or whatever you'd like to call it.

Thanks for the input! And I appreciate you raising this issue, it lead to the fix. :smile: :tada:

[2018-03-09 09:24] tesharp commented on #1603
@jackfrancis Correct me if I'm wrong, but isn't the dnsServiceIP (kubernetesConfig.DNSServiceIP) the internal IP address of dns service in cluster? In this case it is more a master / node configuration and not kubernetes configuration, so maybe shouldn't be in kubernetesConfig at all?

Having it as a port-deployment step would be very nice. I could have created a PR as well, but didn't like this w

[2018-03-09 14:28] Youkoulayley opened #2417 "LoadBalancer not found for service ClusterIP"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.13.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9.3

**What happened**:
The services clusterIP doesn't work.

**What you expected to happen**:
I want them to work :smiley:

**How to reproduce it** (as minimally and precis

[2018-03-09 15:03] Jarlotee opened #2418 "Not able to connect with kubectl X509 unknown authority"
**Is this a request for help?**: Yes
---
**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue
---
**What version of acs-engine?**: 0.13.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
Following the [kubernetes guide](https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/deploy.md#deploy), after adding the `kubeconfig,centralus.js

[2018-03-09 16:26] Youkoulayley commented on #2417
Sorry, duplicate of #2151

[2018-03-09 16:26] #2417 closed

[2018-03-09 17:00] PatrickLang opened #2419 "Remove NSSM and use kubelet.exe and kube-proxy --service flags instead"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue - Kubernetes 1.10 won't need NSSM as a service wrapper for the kubelet or kube-proxy any more. See https://github.com/kubernetes/kubernetes/pull/60144

The new flow would need to update setup windows script to register service as `kubelet.exe --service ...` using sc.exe or PowerShell new-service cmdlet

**What version of acs-engine?**:
v

[2018-03-09 17:05] PatrickLang opened #2420 "Support custom URLs for Windows node binaries"
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Feature Request
---

**What version of acs-engine?**:
v0.13.1
---

We'd like to be able to test daily builds using ACS-engine. Ideally this would take in a URL to a ZIP file containing kubelet.exe, kube-proxy.exe and wincni.exe. These will be put into the custom windows image that's deployed as the cluster is built out.

This is intended to su

[2018-03-09 17:09] PatrickLang commented on #2420
here's the code that downloads and extracts the ZIP
https://github.com/Azure/acs-engine/blob/c51a01644ca71996a6cbcbf0d6178c8b01d79c03/parts/k8s/kuberneteswindowssetup.ps1#L117

[2018-03-09 17:09] PatrickLang commented on #2420
wincni is separated already:
https://github.com/Azure/acs-engine/blob/c51a01644ca71996a6cbcbf0d6178c8b01d79c03/parts/k8s/kuberneteswindowssetup.ps1#L139

[2018-03-09 17:11] PatrickLang commented on #2419
This isn't blocking - feel free to assign to me. Would be a good exercise as I ramp up on acs-engine

[2018-03-09 17:14] #2404 closed

[2018-03-09 17:14] jackfrancis opened #2421 "metrics-server failing on 1.10"
Current support for 1.10 clusters (delivered w/ PR #2413) does not deliver a working metrics-server:

metrics-server pod is failing with the following error:

`F0309 04:15:59.001244 1 heapster.go:97] Could not create the API server: cluster doesn't provide requestheader-client-ca-file`

FYI @pidah @feiskyer if either of you have cycles to play around w/ 1.10 beta clusters :)

[2018-03-09 17:29] campbelldgunn commented on #658
@andyzhangx I am getting the above errors on a 1.8.2 cluster.

[2018-03-09 17:29] robsonpeixoto opened #2422 "Is production ready?"
It the ACS-ENGINE production ready?
How are using?
What's the recommended Kubernetes version?

Thanks

[2018-03-09 17:56] jackfrancis commented on #2421
Ah, of course, I should be able to fix that today, thanks!

[2018-03-09 18:02] sylus opened #2424 "api version mismatch after portal adjustment of NSG"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**: v0.12.4

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes

**What happened**:

We deployed a cluster successfully via acs-engine + az group deployment. During the operation of the cluster some of our operations teams has manuall

[2018-03-09 18:04] mattpetrick opened #2425 "Dashboard Service Account Role"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: v0.13.0

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

K8S v1.9.3

**What happened**:

dashboard service account running in cluster-admin role by default.

https://github.com/Azure/acs-engine/blob/afbf71b97cb7e14518d67708f79efa757c32bcbb

[2018-03-09 18:19] jackfrancis commented on #2422
Hi @robsonpeixoto. acs-engine can build a variety of Kubernetes clusters on Azure. Depending on which Kubernetes runtime configuration and version each customer defines as "production ready" will answer your question! We currently support the most recently published patch release of 1.7 (`v1.7.13`), 1.8 (`v1.8.8`), and 1.9 (`v1.9.3`) (and soon 1.10).

Speaking very generally I'd recommend 1.8.8 at

[2018-03-09 22:15] sylus commented on #2424
Here is the output of the error with some credentials removed.

[code]

[2018-03-10 03:11] andyzhangx commented on #658
@duedal  @campbelldgunn sorry I was wrong, it was fixed in v1.8.6
You could find details about this issue here: https://github.com/andyzhangx/demo/tree/master/windows/cadvisor
Anyway, it's a cadvisor warning issue, not a blocking issue.

[2018-03-11 10:30] feiskyer commented on #2421
@pidah is right, metrics-server requires following configs:

[code]

[2018-03-12 07:40] qmalexander commented on #2027
@JiangtianLi any status on this?

[2018-03-12 08:30] ITler commented on #2388
@jackfrancis @lachie83 Any ideas here? I've seen, there are some open issues around iptables-restore, but none of them pointing out an issue in `line 7`. Interpreting the error could point to a coding problem of iptables (feels unlikely) or a specific rule number 7 can't be restored?

[2018-03-12 09:58] serbrech commented on #1603
@tesharp That makes a cascading priority between cluster-wide config and pool specific config... it complicates and already busy api.
What about creating a VM profile separately, and provide a way to reference it in each pool to reuse the configuration?

[2018-03-12 09:59] robsonpeixoto commented on #2422
"production ready" IMHO is:

- stable
- easy to update
- update without downtime
- easy to add/remove node pool
- good and stable PV and PVC
- good authorization/authentication support
- ingress or internal load balancer working well

Are there big players using acs-engine?

[2018-03-12 10:05] adelina-t opened #2430 "Heapster nanny container fails to start with Kubernetes 1.9.3"
**ISSUE**:

---

**v0.13.1**:

---

**Kubernetes 1.9.3**

**What happened**:

Cluster deployed with Kubernetes 1.9.3 has failed heapster pod.

[code]

**How to reproduce it** (as minimally and precisely as possible):

Deploy basic cluster from template with orchestrator Kubernetes 1.9.3

**Anything else we need to know**:

Logs from inside the heapster nanny pod:

[code]

[2018-03-12 10:16] sylr commented on #2367
/assign @anhowe

[2018-03-12 10:59] 4c74356b41 commented on #2027
@qmalexander deploy from the pr @JiangtianLi mentioned and it appears working

[2018-03-12 11:31] tesharp commented on #1603
@serbrech So if I understand you correct it could be something like this:
[code]

Just included http proxy and distro as example of what configuration could be useful for a vmProfile setting. This kind of setup would be good to me. Just don't want to have to repeat all these settings for every agent pool / master pool as they should be cluster wide.

[2018-03-12 13:14] robsonpeixoto opened #2431 "Kubernetes 1.8.8 not working"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**:  v0.13.1

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes 1.8.8

**What happened**:

Master not working

**What you expected to happen**:

kubectl version should show the kubernetes version and most exists a process listen the p

[2018-03-12 14:00] robsonpeixoto commented on #2431
I try it again, but the acs-engine for some reason created the 1.9.0 k8s cluster.

[2018-03-12 15:50] JiangtianLi commented on #2027
@qmalexander If your issue is that internal DNS not working, can you follow the steps below and let me know the results?
1. `kubectl get po --all-namespaces` to find the POD IP of kube-dns
2. inside windows container, `Resolve-DnsName www.bing.com`
3. inside windows container, `ipconfig /all`
4. inside windows container, `Test-NetConnection 10.0.0.10 -Port 53`
5. inside windows container, `Test-Ne

[2018-03-12 15:56] hmarcelodn opened #2434 "Unknown JSON tag privateCluster"
**Is this a request for help?**:
YES
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.13.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
I tried to generate my cluster in privateCluster mode enabled but it trows the following exception:

**What you expected to happen**:
Generate the cluster

[2018-03-12 15:59] hmarcelodn commented on #2422
@robsonpeixoto we have a large application ready in production. We started from acs-engine 0.5.0 using k8s 1.6.6. It worked fine so far and you got lot of customization like custom vnet, number of master nodes. I had issues upgrading and scaling so far, so we usually works on a labs environment for testing new versions and if it worked we move ahead.

[2018-03-12 16:02] hmarcelodn commented on #2411
@jackfrancis thanks. I did it in my experimental environment so there is no urgency on that. I will probably try to upgrade my cluster by recreating in a new version using my terraform module I created. I assume the upgrade is going to work so far using a new fresh version. I want to try upgrade/scale my cluster. If it happens I can go to production maybe.

[2018-03-12 16:26] CecileRobertMichon commented on #2434
@hmarcelodn the private cluster feature is in the master branch but not 0.13.1, it should be part of the upcoming 0.14.0 release. In the meantime you can build from source if that's an option for you. See #2389

[2018-03-12 16:44] hmarcelodn commented on #2434
@CecileRobertMichon thanks a lot for the information. Thats a very nice feature. Closing.

[2018-03-12 16:44] #2434 closed

[2018-03-12 18:18] mingw2358 opened #2438 "RBAC for service principal in k8s"
**Is this a request for help?**: Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Feature request

---

**What version of acs-engine?**: latest

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)** Kubernets

**What happened**:   I'm using RBAC in the cluster to authenticate AAD user. I'd like to assign a service principal to a role that has limited permissions in the

[2018-03-13 00:47] roycornelissen commented on #2027
Really annoying problem... I have deployed a 1.9.3 cluster with acs-engine 0.13.1 this morning. On one Windows node, external DNS works, but on the other node, pods just cannot resolve any external addresses. Internal DNS doesn't work at all... Is the root cause for this known and being addressed?

Any tips for which version of K8s and which version of acs-engine actually works?

[2018-03-13 00:49] ufminhas opened #2445 "Print a more descriptive error message when using acs-engine to create K8s cluster with a minor release"
**Is this a request for help?**:

No

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

**What version of acs-engine?**:

0.13.1

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
When using:

"apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes",
      "orchestratorRelease": "1.8.4"
    }

[2018-03-13 01:00] JiangtianLi commented on #2027
@roycornelissen There is a known issue with DNS after windows node reboots and we are working on a fix https://github.com/Azure/acs-engine/pull/2378. Can you use the steps in this thread to mitigate? Pasted here:

[code]

[2018-03-13 02:44] ufminhas opened #2446 "kuberneteswindowssetup.ps1 does not wait for Docker service to be up, and hence fails"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.13.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
acs-engine/parts/k8s/kuberneteswindowssetup.ps1 does not wait for Docker service to be up and hence fails to finish the setup (e.g., kubletwin/pause is not

[2018-03-13 05:28] roycornelissen commented on #2027
@JiangtianLi Thanks! This seems to fix the external DNS issue at least. Internal DNS is still not working properly, but for now I'm happy if at least external DNS is working.

[2018-03-13 05:43] 4c74356b41 commented on #2027
@roycornelissen if your internal dns isnt working something is wrong with the cluster most likely. check if kube-dns is running. check your route tables. check if k8s got permissions to Azure.

[2018-03-13 08:01] qmalexander commented on #2027
@JiangtianLi I got it working with your fix. Thanx!

I created a simple ps1 script.
 [https://github.com/qmalexander/awn/blob/master/acs_fix_external_communication.ps1](https://github.com/qmalexander/awn/blob/master/acs_fix_external_communication.ps1)

Now go ahead and run:

[2018-03-13 08:48] feiskyer commented on #2430
@adelina-t Which image version are you using with heapster-nanny? e.g. you could get by

[code]

[2018-03-13 09:55] ravibarkhani commented on #749
If the acs-engine deploy command crashes is there any way we can say in definition file that rollback the deployment (delete all created resources).

[2018-03-13 11:22] adelina-t commented on #2430
@feiskyer Seems like it's: k8s-gcrio.azureedge.net/addon-resizer:1.8.1

Full pod spec:

[code]

[2018-03-13 14:24] UncleTawnos commented on #1948
@jackfrancis @JackQuincy any updates on this issue. It's stil happening with master-latest and 1.8. I will confirm tomorrow it it happens with 1.9

[2018-03-13 14:30] oivindoh commented on #2422
1.9.4 is finally out now, so just missing in acs-engine.

Unfortunately for those of us using azuredisk PVs, https://github.com/kubernetes/kubernetes/pull/60183 doesn't appear to have made it into the release (present in 1.8.9 though)

[2018-03-13 15:59] roycornelissen commented on #2027
@qmalexander Very useful script, thanks for sharing!

@4c74356b41 kube-dns is running, and the SP the cluster runs under is Owner of the resource group. Just deployed a cluster fresh out of the box. Internal DNS on Linux nodes works fine, but not on Windows. This is not hugely blocking for me though, just a little inconvenient. I'm really happy I got the external DNS working again. I'll check my r

[2018-03-13 16:23] jackfrancis opened #2454 "hyperkube image bearer token error"
Errors during deployment:

`Mar 13 15:19:00 k8s-master-22984635-0 docker[6947]: /usr/bin/docker: error pulling image configuration: unauthorized: Requested repository does not match bearer token resource: hyperkube-amd64.`

[2018-03-13 16:25] jackfrancis commented on #2454
The full logs for this symptom:

[code]

[2018-03-13 16:48] sylus commented on #2424
Okay updating my cluster version to v1.9.3 seems to have resolved this issue.

[2018-03-13 16:48] #2424 closed

[2018-03-13 16:51] rrajadevops opened #2456 "Unable to access my loadbalncer"
Hi Team,

I am using AKS cluster to run my python application which is running on 5000 port. i just run that pod using below command.

kubectl run python-app --replicas=1 --labels="run=python-app" --image=rajadevops/python  --port=5000

After my pod started, i created service using below command,

kubectl expose rs python-app-d96f4bbc8 --type="LoadBalancer" --name="python-service"

C:\Users\Raja>k

[2018-03-13 17:16] qmalexander commented on #2027
@roycornelissen I noticed that I had to add svc.cluster.local if I where to use the dns internal for my service call.

[2018-03-13 17:31] rrajadevops commented on #2456
Now I am able to access my loadbalncer on port 5000, I am trying to use port forwards using yaml file, but it is not working..

**My Deployment yaml:**

apiVersion: apps/v1beta1
kind: Deployment
metadata:
 name: python-flask
 namespace: ge-dashboard-dev
 labels:
  app: python-flask
spec:
 replicas: 1
 selector:
  matchLabels:
   app: python
 template:
     metadata:
      labels:
       app: pytho

[2018-03-13 18:43] patrick-motard commented on #2422
@robsonpeixoto , I can share with you my teams experience so far.

My team is using 1.8.4 right now. We are doing a proof of concept with a multi-container application (4 windows containers, 1 linux). We are using a hybrid cluster.

We have run into a few roadblocks that if we can't solve, we won't be able to continue with acs-engine, and potentially kubernetes.

acs-engine 0.13.0 & k8s v1.8.4:

1

[2018-03-13 18:52] roycornelissen commented on #2027
Fix doesn't seem completely consistent... I still had some pods with random DNS issues. Now rebooted both Windows nodes, applied the fix and redeployed my pods and it works for now...

[2018-03-13 18:59] roycornelissen commented on #2027
@qmalexander works for resolving services that run on Linux nodes, but not for my service that runs on a Windows node... Just noticed that using the cluster IP, it also won't work. Unable to connect to remote server.

[2018-03-13 19:33] qmalexander commented on #2027
@roycornelissen strange.. What base image are you using for the docker containers?

[2018-03-13 20:26] ams0 opened #2459 "prometheus-grafana extension doesn't get executed"
**Is this a request for help?**:

YES

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

---

**What version of acs-engine?**:

Version: canary
GitCommit: bfc6b0ed
GitTreeState: clean

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes

**What happened**:

Deployed acs-engine cluster with prometheus-grafana extension

**What you expected to happen**:

S

[2018-03-13 20:55] ams0 opened #2460 "Grafana dashboards empty"
**Is this a request for help?**:

YES

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

---

**What version of acs-engine?**:

Version: canary
GitCommit: bfc6b0ed
GitTreeState: clean

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes 1.9

**What happened**:

Deploying (manually, see #2459 ) the prometheus-grafana extension deploys a dashboard (https:/

[2018-03-13 21:03] roycornelissen commented on #2027
@qmalexander I have a combination of different images:

microsoft/windowsservercore:1709
microsoft/aspnet:4.7.1-windowsservercore-1709
microsoft/dotnet-framework:4.7.1-windowsservercore-1709

Currently, the latter 2 are running in my cluster.

[2018-03-13 21:35] qmalexander commented on #2027
@roycornelissen try with
windowsservercore/1709_KB4074588

[2018-03-13 21:52] #2151 closed

[2018-03-13 21:52] #2392 closed

[2018-03-13 22:12] olilanz opened #2462 "availabilityProfile: what to use?"
**Is this a request for help?**:

Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

---

**What version of acs-engine?**:

0.13.1 (or any)

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes (or any)

**What happened**:

When deploying a Kubernetes cluster, I use availabilityProfile:AvailabilitySet. That works well. But the documentation puzzles me

[2018-03-14 00:26] CecileRobertMichon commented on #2462
@olilanz from what I know, this isn't relevant for k8s 1.10+. Before k8s 1.10, you can use VMSS if you are not planning to use PVC/PV based on azure disks (see https://docs.microsoft.com/en-us/azure/aks/azure-disks-dynamic-pv). If you are, it is better to use AvailabilitySet. @khenidak might have a better explanation.

[2018-03-14 05:09] birdemily commented on #1412
@CecileRobertMichon can't scale windows node, "index error". Still have this issue.

[2018-03-14 05:14] birdemily commented on #979
@wbuchwalter Hi, I tried , but always got below error. The acs-engine version is 0.13.1
Deployment failed. Correlation ID: 08d74499-6a48-4426-bee8-52a00e4c9184. {
  "error": {
    "code": "PropertyChangeNotAllowed",
    "target": "customData",
    "message": "Changing property 'customData' is not allowed."
  }
}

[2018-03-14 06:30] bailantaotao opened #2463 "Not found any kubernetes containers on master vm"
**Is this a request for help?**:
yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
issus
---

**What version of acs-engine?**:
Version: v0.12.5
GitCommit: 9fa6a690
GitTreeState: clean
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
kubernetes: 1.7.9

**What happened**:
Not found any kubernetes containers on master vm.

[code]

**What you expected to happen**:
Mandat

[2018-03-14 08:14] pushkar-bitwise commented on #1949
Hi @jwalker343 , we are facing similar issue, are you able to find root cause or solution for same.

[2018-03-14 10:15] ITler opened #2464 "Can't deploy K8s 1.9.x on AzureGermanCloud"
**Is this a request for help?**:
somehow yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
issue
---

**What version of acs-engine?**:
0.13.1, 0.14.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
K8s 1.9.3, 1.9.4, 1.9.6

**What happened**:
Can't bootstrap a new cluster at all on **AzureGermanCloud** with newest K8s and acs-engine release. Error during ARM deployme

[2018-03-14 11:26] robsonpeixoto commented on #2431
I founded the problem:
`"orchestratorRelease": "1.8.8"` must be `"orchestratorVersion": "1.8.8"`

[2018-03-14 11:26] #2431 closed

[2018-03-14 11:29] andyzhangx commented on #2463
pls run `docker ps -a` to get kubelet logs first:
[code]

If kubelet container is dead and you could not get any logs, try
[code]

[2018-03-14 12:14] valer-cara commented on #2285
Just hit it too. A re-run doesn't help. Still investigating..

[2018-03-14 12:27] feiskyer commented on #2430
@adelina-t Current config only applies to add-resizer v1.7, e.g. replace image with `k8s-gcrio.azureedge.net/addon-resizer:1.8.1`.

Or if addon-resizer 1.8.1 is required,

[code]

[2018-03-14 12:29] feiskyer commented on #2430
@jackfrancis I see addon-resizer version has been rolled back in #2090. You can refer above manifests to fix addon-resizer:1.8.1

[2018-03-14 13:57] ITler commented on #2422
If you go to an Azure Custom Cloud (like AzureGermanCloud), I would recommend a lot of testing and having clusters run for a long time before relying for production use-case. We have serious problems, which we often can't explain as we didn't see them on other cloud providers. However, from our perspective it is often hard to say, if the issues come from acs-engine, kubernetes, the AzureGermanClou

[2018-03-14 14:14] ITler opened #2465 "Kubelet 1.8.8 not starting after cluster deployment in AzureGermanCloud"
**Is this a request for help?**:
somehow yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
issue
---

**What version of acs-engine?**:
0.13.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
K8s 1.8.8

**What happened**:
ARM Deployment of new cluster on **AzureGermanCloud** works, however `kubelet` service on master refuses to start

    $ service kubelet status

[2018-03-14 15:09] ITler commented on #2465
This is caused by using AzureCNI.
When changing back to Kubenet, kubelet starts. (tested once)

[2018-03-14 16:43] zhech2 commented on #2027
I am using acs-engine to deploy 1.9.1 of kubernetes as described in this thread and am seeing errors with any service I deploy as follows:

Error creating load balancer (will retry): error getting LB for service default/kubernetes: Service(default/kubernetes) - Loadbalancer not found

This example is of the kubernetes service but all are the same.

Is anyone else running into this issue?

[2018-03-14 16:52] jackfrancis commented on #2430
@feiskyer I interpret your comments as a suggestion to add a new version of this spec to pair w/ addon-resizer v1.8.1:

https://github.com/Azure/acs-engine/blob/master/parts/k8s/addons/kubernetesmasteraddons-heapster-deployment.yaml

Which versions of Kubernetes do you recommend that we deliver a modified heapster addon spec + addon-resizer v1.1.8 with?

Thanks so much!

[2018-03-14 16:57] bailantaotao commented on #2463
@andyzhangx
it looks like the kubelet is dead, because i got the following logs
[code]

So i use the restart command `sudo systemctl restart kubelet`
**it works.**

[code]

[code]

but `node2` is missing...

[2018-03-14 17:37] jackfrancis commented on #2422
Thanks everyone for all the thoughts here. To address @robsonpeixoto's line items:

- stable
  - acs-engine itself is both stable (certain tried-and-true cluster configurations will deploy successfully consistently) and unstable (by design acs-engine encourages experimentation and tinkering, so there is plenty of edge-case surface area, especially when using the bits that are nearest HEAD for Kube

[2018-03-14 18:59] CecileRobertMichon commented on #2389
https://github.com/Azure/acs-engine/releases/tag/v0.14.0 was just released with this feature

[2018-03-14 18:59] CecileRobertMichon commented on #2383
https://github.com/Azure/acs-engine/releases/tag/v0.14.0 was just released with this feature

[2018-03-14 18:59] CecileRobertMichon commented on #2434
https://github.com/Azure/acs-engine/releases/tag/v0.14.0 was just released with this feature

[2018-03-14 23:31] dharmeshkakadia opened #2473 "GPUs not present with acs kubernetes Standard_ND24s agents"
**Is this a request for help?**:

Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

---

**What version of acs-engine?**:

acs-engine version
Version: v0.13.0
GitCommit: 4d00356a
GitTreeState: clean

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:

Kubernetes nodes does not have GPUs when provisioned with Standard_ND24s agents

[2018-03-15 02:08] feiskyer commented on #2430
@jackfrancis Yep, I support we add addon-resizer:v1.8.1 with kubernetes v1.9.x and above versions. Addons in Kubernetes repo are also using resizer v1.8.1 from v1.9.x

[2018-03-15 02:08] khenidak commented on #737
Update:
**pre 1.9** - kubernetes can only utilize the primary Availability Set LB. Even if the cluster has more availability sets (each availability -set gets load balancer).

**1.9++** - kubernetes can utilize all the load balancers (from all `availability-sets`) in the cluster. The behavior is described here https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/azure/a

[2018-03-15 02:40] feiskyer commented on #2027
This is a misleading message, which could be omit safely.

[2018-03-15 03:11] andyzhangx commented on #2463
@bailantaotao then you may ssh to `k8s-memory-10545142-2` to `sudo systemctl restart kubelet` and then get kubelet logs, you could follow by: https://github.com/andyzhangx/Demo/tree/master/debug#q-how-to-get-k8s-kubelet-logs-on-linux-agent

[2018-03-15 05:01] 4c74356b41 commented on #2027
`This example is of the kubernetes service but all are the same.` - if they all are failing with the same message check sp credentials\permissions. but this one doesnt matter indeed.

[2018-03-15 05:02] 4c74356b41 commented on #737
yeah, this is cool, but its pointless. I cant assign ip to another load balancer if I need it on this load balancer.

[2018-03-15 05:20] khenidak commented on #737
Not sure I understand. You can choose the load balancer in which the ip should be assigned to or you can do “auto”. Can you share the use case?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: 4c74356b41 <notifications@github.com>
Sent: Wednesday, March 14, 2018 10:02:05 PM
To: Azure/acs-engine
Cc: Khaled Henidak (Kal); Comment
Subject: Re: [Azure/acs-engine] Azur

[2018-03-15 05:52] dharmeshkakadia commented on #2473
This is fixed with using 0.14 version acs-engine.

[2018-03-15 05:52] #2473 closed

[2018-03-15 06:34] 4c74356b41 commented on #737
yes, i need 11 ips on the load balancer.

[2018-03-15 07:03] UncleTawnos commented on #737
@4c74356b41 there is a limit of "public IPs per load balancer" in Azure. The limit is 10. You should go to portal, check "Activity Log" of resource group your cluster is deployed to and you will notice an error. Just write to support and they will easily increase the limit to 20, 30 or even 100 if required.

Hope that solves your problem as it has nothing to to with ACS-e - it's just azure design.

[2018-03-15 10:28] stefanstranger opened #2474 "ACS-engine private cluster jumpbox fails to install"
Request for help
---

ISSUE
---

**What version of acs-engine?**:
Version: v0.14.0
---

I'm trying to deploy an ACS with Kubernetes private Cluster but when I configure to also deploy a jumpbox the ARM Template Test Deployment fails with errors around missing variables:

- vnetID
- vmSizesMap

I've the following Cluster Definition regarding internal ip addresses and jumpbox configuration:

"kubern

[2018-03-15 10:48] jimfim commented on #2027
Hey Folks,
I'm experiencing this issue on  a newly created 1.9.3 hybrid cluster.

On the windows node I ran the script posted by @qmalexander
This is the output

[code]

After running the above, I created a new **microsoft/windowsservercore:1709_KB4088776**
pod on the cluster
To test the connection i spun up an elastic search pod behind a service "search" exposing port 9200
the service ip : 10.0.9

[2018-03-15 11:21] Novitoll commented on #2127
+1 What is the resolution for this?

[2018-03-15 12:41] mrdfuse opened #2475 "How to benefit from a newer version of acs-engine on an existing cluster?"
**Is this a request for help?**:

Yes

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

QUESTION

**What version of acs-engine?**:

0.13.1

I'm sorry if this is not the right place but I don't find any other place to ask questions:
I have a cluster running created with acs-engine version 0.13.1. I noticed a newer version of acs-engine is now available, with a lot of bugfixes in it. How can

[2018-03-15 13:27] roycornelissen commented on #2027
@4c74356b41 what should the proper permissions for the SP be? In my case it's Owner in the RG where the cluster exists, but I am indeed also seeing those "cannot create LoadBalancer" warnings.

[2018-03-15 13:53] ITler commented on #2464
I've learned from a MS technican, that this message does not necessarily mean, that the kubernetes wasn't deployed correctly and this could be seen more as a cosmetical problem.. I couldn't verify that, as I couldn't have a look at it.
However as the ARM deployment itself ends with failed state, there are not *Outputs* generated, which we need for documentation reasons and further automation purpo

[2018-03-15 13:57] todoesverso commented on #2389
@CecileRobertMichon
I am still seen this in 0.14.0 :(

[code]

[2018-03-15 14:22] 4c74356b41 commented on #2027
Contributor is fine.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Roy Cornelissen <notifications@github.com>
Sent: Thursday, March 15, 2018 4:27:35 PM
To: Azure/acs-engine
Cc: 4c74356b41; Mention
Subject: Re: [Azure/acs-engine] The cluster-internal DNS server cannot be used from Windows containers (#2027)

@4c74356b41<https:

[2018-03-15 14:25] roycornelissen commented on #2027
@4c74356b41 OK thanks.

@JiangtianLi  Unfortunately the fix is not persistent... A pod that was running fine yesterday has now lost DNS again (with no changes, restarts or redeployments) :(

[2018-03-15 15:57] yfernando commented on #2403
@feiskyer Could I check if it is going to support *cross-zone* ScaletSets when you mentioned "agent nodes are running in ScaleSet"

[2018-03-15 15:58] #1792 closed

[2018-03-15 16:55] todoesverso opened #2476 "Internal LoadBalancer not working with multiple subnets"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
master
[code]
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
[code]

**What happened**:
[code]

**What you expected to happen**:
Curl returning the nginx welcome page.

**How to reproduce it** (as minimally and precisely as possible):
With

[2018-03-15 17:31] CecileRobertMichon commented on #2389
Note that the apimodel definition slightly changed to
[code]
see [docs](https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/features.md#private-cluster) for more details.

[2018-03-15 17:35] ITler commented on #2388
reproduced minutes ago in germanycentral

- Machines bootstrapped getting kernel 4.4.0.59-generic
- after reboot having kernel 4.4.0.116-generic
- k8s nodes don't have internal IP (see above)
- kube-proxy pods running on agent nodes don't have IP

[2018-03-15 17:43] CecileRobertMichon commented on #2474
@stefanstranger thank you for reporting! That is indeed a bug in the implementation which makes the jumpbox incompatible with a custom vnet. I will have a PR to fix it soon, I'll report back here when it's out.

[2018-03-15 17:49] jackfrancis commented on #2475
Hi @mrdfuse,

There are two types of bugfixes that you'll see in acs-engine as releases progress forward (e.g., from `v0.13.1` to `v0.14.0`:

1. improvements to reliability of cluster deployments, especially improving the breadth of the "types" of cluster configurations that are able to be reliably deployed
2. absorption of upstream Kubernetes fixes, especially w/ respect to the availability of ne

[2018-03-15 18:00] jackfrancis commented on #2476
Hi @todoesverso,

We have test coverage on ILB that passing for `v1.9.4` clusters. See here:

https://github.com/Azure/acs-engine/blob/master/test/e2e/kubernetes/kubernetes_test.go#L262

using this resource definition:

https://github.com/Azure/acs-engine/blob/master/test/e2e/kubernetes/workloads/ingress-nginx-ilb.yaml

What's different between the above test implementation and what you're encount

[2018-03-15 18:02] jackfrancis commented on #2465
Hi @ITler,

A quick scan of your api model suggests there is a missing `vnetCidr` property in the `masterProfile` object. See the example provided here:

https://github.com/Azure/acs-engine/blob/master/examples/vnet/kubernetesvnet-azure-cni.json

This applies if you wish to use Azure CNI.

[2018-03-15 18:03] todoesverso commented on #2476
I am using a private cluster with this config, not sure if that is where it is coming:

[code]

[2018-03-15 18:05] ITler commented on #2465
Hello @jackfrancis,

thanks for replying... will give it a try

[2018-03-15 18:22] todoesverso commented on #2476
The same test fails to me:

`
$ kubectl run --image library/nginx:latest default --labels=app=ingress-nginx
deployment "default" created
$ cat a.yml
apiVersion: v1
kind: Service
metadata:
  name: ingress-nginx
  annotations:
    service.beta.kubernetes.io/azure-load-balancer-internal: "true"
spec:
  type: LoadBalancer
  ports:
  - name: http
    port: 80
    targetPort: 80
    protocol: TCP
  - na

[2018-03-15 19:11] JerryJoyce commented on #2151
I just provisioned v 1.9.4 and I have this issue

~/r/j/cluster-manifests   master *…  kubectl describe svc kube-dns -n kube-system                                                             1078ms  Thu Mar 15 12:09:17 2018
Name:              kube-dns
Namespace:         kube-system
Labels:            k8s-app=kube-dns
                   kubernetes.io/cluster-service=true
                   kub

[2018-03-15 19:14] IvanovOleg opened #2478 "acs-engine deploys kubernetes 1.7.9 instead of 1.9.4"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.14.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9.4

**What happened**:
Kubernetes 1.7.9 has been installed

**What you expected to happen**:
Kubernetes 1.9.4 has been installed

**How to reproduce it** (as minimally and pr

[2018-03-15 19:19] ITler commented on #2465
Well, it seems to work. I obviously didn't see the wood for the trees. Thank you very much. I close the issue, nevertheless will do some more testing, before relying on the setup. Currently it looks like we need to use K8s 1.9.x having the feature to set dns label to public ip addresses. You recently stated, that you wouldn't use 1.9.x, yet. Hope this will change soon. Again thank you for effort.

[2018-03-15 19:19] #2465 closed

[2018-03-15 21:32] #2474 closed

[2018-03-15 22:11] khaldoune commented on #2476
@CecileRobertMichon

[2018-03-15 23:52] zhech2 commented on #2027
I am having the same issue with DNS.  It seems completely random if a deployment will work or not.

[2018-03-16 00:06] jackfrancis commented on #2478
Thanks for reporting @IvanovOleg, we're trying to repro.

[2018-03-16 00:31] jackfrancis commented on #2478
Haven't been able to repro on two tries, could you try deploying again using the `"orchestratorVersion": "1.9.4"` configuration?

[2018-03-16 02:42] feiskyer commented on #2151
@JerryJoyce Since this is a ClusterIP service, the warning message could be omit safely. We will remove this warning in future releases.

[2018-03-16 03:53] #2454 closed

[2018-03-16 07:02] feiskyer commented on #2403
@yfernando It should support this, but I haven't validated it yet.

[2018-03-16 08:10] IvanovOleg commented on #2478
False alarm, sorry! It was my fault.

[2018-03-16 08:10] #2478 closed

[2018-03-16 13:51] ITler opened #2480 "K8s cluster deployment with more than one master fails on AzureGermanCloud"
**Is this a request for help?**:
no
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
issue
---

**What version of acs-engine?**:
0.13.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
K8s 1.8.8

**What happened**:
Almost there.
However, deployment of K8s cluster with **more than one master node** (count: 3) on AzureGermanCloud fails. No problem with single master clust

[2018-03-16 13:55] ITler commented on #2480
I will give it a try with 0.14.0, as I've seen, that there is a merge request that seems to address this. Will report back

[2018-03-16 16:08] CecileRobertMichon commented on #2476
I'll try to repro this today and get back to you

[2018-03-16 16:24] JiangtianLi commented on #2027
/cc @madhanrm

Update for the random DNS issue, we have root caused the issue:
The outbound connection would be broken ONLY when a single container POD is created and then deleted on this node (ie no other pod exists on this node).
The outbound connection would automatically restore if a new policy is pushed to kubeproxy on this node, which can happen under any one of following conditions
•

[2018-03-16 16:59] jackfrancis commented on #2151
@feiskyer is there an upstream issue/PR to address this behavior?

[2018-03-16 17:12] jackfrancis commented on #2151
@feiskyer We are seeing additional symptoms that suggest that non-cloudprovider services are being processed via cloudprovider and being sent to Azure API. We're seeing Azure cloudprovider backoff entries in the logs which are generated from responses from Azure API.

The reason this would be bad is that add'l, unnecessary requests to Azure API count against per-subscription network quota. A large

[2018-03-16 17:13] bailantaotao commented on #2463
@andyzhangx  it's more helpful for me, thanks!

[2018-03-16 17:13] #2463 closed

[2018-03-16 18:25] CecileRobertMichon commented on #2459
@trstringer @ritazh might be able to help here

[2018-03-16 19:29] todoesverso commented on #2476
I was able to workaround the issue by having a single subnet in my vnet instead a subnet for each agent pool.

[2018-03-16 21:08] JiangtianLi opened #2481 "Add retry for downloading external resources in kuberneteswindowssetup.ps1"
**Is this a request for help?**:

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

**What happened**:

**What you expected to happen**:
Add retry for downloading external resources in kuberneteswindowssetup.ps1 to make it resilient to failure.

**How to reproduce it** (as mini

[2018-03-16 21:27] CecileRobertMichon commented on #2476
@todoesverso can I close this issue? Or is the multiple subnet scenario something you would expect to work? If so has it worked in the past? Is this a private cluster specific issue or does the same apply to clusters with public IPs?

[2018-03-16 23:43] CecileRobertMichon commented on #2474
The fix was just released in [v0.14.1](https://github.com/Azure/acs-engine/releases/tag/v0.14.1), please let me know if you run into any other issues!

[2018-03-16 23:54] jackfrancis commented on #2481
Here are some examples how we do this for Linux clusters:

https://github.com/Azure/acs-engine/blob/master/parts/k8s/kubernetesmastercustomdata.yml#L364
https://github.com/Azure/acs-engine/blob/master/parts/k8s/kubernetesmastercustomscript.sh#L512

[2018-03-17 02:31] MirzaSikander commented on #2377
I am also seeing dns issues with a newer cluster I deployed. The dns pods have the status `CrashLoopBackOff`

[code]
Here are the details of one of the pods:
[code]
ACS-Engine version:
[code]
Cluster spec:
[code]

[2018-03-17 03:16] MirzaSikander commented on #2377
Seeing the same error for another cluster I deployed.

[2018-03-17 12:01] trstringer commented on #2459
@ams0 it looks like in your api model you are missing `name`, `version`, and `rootURL` in your extension profile. From my understanding of the way extensions work for acs-engine, the root url is a hard requirement. From the gist, your extension profile has no identifying information for the actual extension to use.

I'll let @ritazh comment further on the requirements for an extension profile.

[2018-03-17 12:04] trstringer commented on #2460
Let's get https://github.com/Azure/acs-engine/issues/2459 figured out, and then if this is still a problem we can troubleshoot further. I'd be surprised if these issues (and solutions) aren't related.

For what it's worth, we recently moved to a decoupled cAdvisor from kubelet. A quick check would be to see if the cAdvisor daemon set has been deployed. You should be able to curl metrics from it. T

[2018-03-17 12:26] roycornelissen commented on #2027
@JiangtianLi After a clean start of the nodes, applying the hns script workaround and deploying a "placeholder" pod as a deamon set, it looks like I indeed have DNS restored on both Windows nodes with each new pod.

Small addition: it seems that this deamonset pod must be the _first one deployed on the node_, only after that do other pods have external DNS. My dummy pods still don't have DNS, but

[2018-03-17 14:52] todoesverso commented on #2476
I would expect multiple subnets to work, just because ace-engine allows you to build one, I mean, any combination of supported features should work right? Otherwise if there are any restrictions it would be helpful they are documented. I just tried it with a private cluster.
I guess with the proper documentation the issue can be closed.

[2018-03-17 18:32] ams0 commented on #2459
My bad indeed. But now that I add the extensionProfile, template generation fails with:

[code]

Looks like it can't access the CA store and can't verify Github identity.

[2018-03-17 19:34] ams0 commented on #2460
Indeed, running the script properly through the extension profile loaded the dashboard correctly. Thanks!

[2018-03-17 19:34] #2460 closed

[2018-03-17 19:35] ams0 commented on #2459
My bad, using the extensionProfiles section fixed it. Thanks all

[2018-03-17 19:35] #2459 closed

[2018-03-17 21:21] trstringer commented on #2459
@ams0 awesome!! Glad it fixed it.

[2018-03-18 00:14] feiskyer commented on #2151
PR https://github.com/kubernetes/kubernetes/pull/61260 is for removing this warning for 1.9  release.

The check is required because a service may be changed from LoadBalancer to ClusterIP. Cloud provider should ensure ALB cleaned up in this case.  In v1.10, caches for LB/NSG/RouteTable/VMSS/VM have been added, which could help to reduce such API calls.

[2018-03-18 09:49] feiskyer commented on #2377
@rakidu @MirzaSikander Please refer [here](https://github.com/feiskyer/kubernetes-handbook/blob/master/en/troubleshooting/cluster.md#kube-dnsdashboard-crashloopbackoff) to troubleshoot such problem. Let me know if the problem still exists after that.

[2018-03-19 08:44] noose commented on #1603
@tesharp I can't use your extensions:
[code]

[code]

[code]

[2018-03-19 12:37] y325A commented on #2027
Sorry to be another person in this thread with problems! I can use the cluster DNS server through its Pod IP, but not through its service IP.

I have deployed a new cluster this morning using ACS 0.14.1 and K8s 1.9.4

I have tried the reset HNS script above and have spun up multiple Pods as @JiangtianLi mentioned above.

Here are my results from nslookup inside the pods:

[code]

I get the same re

[2018-03-19 15:51] zhech2 commented on #2027
@JiangtianLi DNS is still not working for me as well.
Here is how I have setup my cluster:
1. Installed kubernetes 1.9.1
2. Switched all base containers to microsoft/windowsservercore:1709_KB407458
3. Restarted all nodes
4. Performed hns fix to all nodes
5. Deployed dummy pods using DaemonSet after restarting kubelet and kubeproxy

Result:
Internal DNS and external DNS are very random if/when it w

[2018-03-19 16:49] jackfrancis commented on #2151
@feiskyer I don't think your PR addresses these issues:

https://github.com/kubernetes/kubernetes/issues/61100
https://github.com/kubernetes/kubernetes/issues/60528

[2018-03-19 17:01] jbiel commented on #2027
Can someone from the Microsoft/Azure team please comment on the recommendation of using `microsoft/windowsservercore:1709_KB4074588` as the base image for containers? This keeps popping up and my understanding is that the current `microsoft/windowsservercore:1709` tag has that KB patch so it shouldn't be necessary to use the KB-specific tag.

[2018-03-19 17:34] sheigel commented on #2317
@dtzar would you point some resource for troubleshooting network policies?

[2018-03-19 18:10] PatrickLang commented on #2027
:1709 is sort of like latest. Each time a new cumulative update is released, :1709 is tagged to the newest update

1709_kb??????? is a durable tag if you want to manually choose when to update your container

[2018-03-19 19:15] jbiel commented on #2027
@PatrickLang - yes, understood. My question is whether or not the current `1709` tag has KB4074588 (released February 13, 2018) included. I'm assuming it does since the latest build was 6 days ago and it was built ~1 month after KB4074588 was released. We're struggling with intermittent DNS/service IP issues on containers running the current `1709` tag so I'm trying to make sure our environment is

[2018-03-19 21:17] PatrickLang commented on #2027
You can also see the Windows reversion numbers in `docker history`

[code]

Those are continually increasing, and all updates are cumulative. This page has a decoder ring to go from revision to KB: https://support.microsoft.com/en-us/help/4043454

[2018-03-19 21:35] khaldoune commented on #1806
@jackfrancis @yastij @jcorioland
I'm getting the same error with acs **0.14**, NorthEurope, kubernetes 1.9.3 and kubernetes 1.9.4.
I'll send the logs from /var/log/cloud-init-output.log once I have access to the VMs.

[2018-03-19 21:36] khaldoune commented on #2476
@jackfrancis @@jcorioland

[2018-03-19 21:37] khaldoune commented on #2362
@jackfrancis @@jcorioland

[2018-03-19 22:00] PatrickLang commented on #2027
also - `docker inspect windowsservercore:1709` has an OsVersion property

[2018-03-19 22:41] forrestcoward commented on #2403
I'm a bit confused, and sorry if this is a silly question, but are there changes that need to happen in ACS-Engine to support VMSS, or is this simply waiting for Kubernetes 1.10?

I want to run the [Kubernetes autoscaler](https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler/cloudprovider/azure) on a VMSS cluster created ACS-Engine and I'm trying to figure out what configuration

[2018-03-19 23:07] idanshahar commented on #1806
@khaldoune
can you share your API model?

[2018-03-19 23:20] khaldoune commented on #1806
@idanshahar
Here you go:
`{
  "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes",
      "orchestratorRelease": "1.9",
      "orchestratorVersion": "1.9.4",
      "kubernetesConfig": {
        "kubernetesImageBase": "k8s-gcrio.azureedge.net/",
        "clusterSubnet": "10.10.0.0/16",
        "dnsServiceIP": "192.168.1.10",
        "serviceCi

[2018-03-19 23:21] jackfrancis commented on #2476
@todoesverso Our notion of "supported features" is squishy right now (it more or less correlates to regular E2E test coverage, which will tell us when scenarios that we expect to work stop working).

The current state of acs-engine encourages folks to experiment, and not always by building 1st class features with strict test coverage; which means that it is possible to produce a cluster configurat

[2018-03-19 23:23] jackfrancis commented on #2362
This is a known functionality gap.

[2018-03-20 00:34] bnookala opened #2491 "More verbosity when missing required arguments"
**Is this a request for help?**:

No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

Issue

---

**What version of acs-engine?**:

v.0.13.1 (darwin-amd64)

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes

**What happened**:

Tried to deploy a cluster:

[code]

**What you expected to happen**:

The 404 error above is not descriptive and masks the fact tha

[2018-03-20 01:24] forrestcoward commented on #2403
Ah okay. Nevermind. I tried to target VMSS but got:

[code]

[2018-03-20 03:02] feiskyer commented on #2403
@forrestcoward We are waiting both. @JiangtianLi will work on acs-engine part and kubernetes v1.10 will be released in next few days.

[2018-03-20 03:06] feiskyer commented on #2151
@jackfrancis This is working as expected. See @brendandburns's comments [here](https://github.com/kubernetes/kubernetes/issues/61100#issuecomment-374402523).

[2018-03-20 13:13] yastij commented on #2336
cc @jackfrancis

[2018-03-20 15:16] todoesverso commented on #2476
@jackfrancis I understand completly. Unfortunatly I cannot say this is a regression. I am unsing a single subnet now and things are working. I guess this can be closed and in the case I really need multiple subnets I can re open it. Regards, Victor

[2018-03-20 16:35] Dan-Wolfy opened #2496 "Route Table missing"
ISSUE
v14 and v13.1 Doesn't create a Route table and instead spams every IP of the node into the VNet while v8 doesn't and create the route table as expected.

{
  "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes",
      "orchestratorVersion": "1.8.2"
    },
    "masterProfile": {
      "count": 1,
      "vmSize": "Standard_A2"
    },

[2018-03-20 16:46] Dan-Wolfy commented on #2496
#2146 Trying this network policy set to none

[2018-03-20 16:54] jackfrancis commented on #2476
Thanks @todoesverso

[2018-03-20 17:02] Dan-Wolfy commented on #2496
Confirmed, setting the below fixed this as per v8 behavior

"kubernetesConfig": {
  "networkPolicy": "none"
}

[2018-03-20 17:02] #2496 closed

[2018-03-20 17:21] mrdfuse commented on #2475
@jackfrancis totally clear, thanks so much for the detailed explanation!!

[2018-03-20 17:21] #2475 closed

[2018-03-20 19:42] qmalexander commented on #2027
@JiangtianLi I have done all that you suggest. After a redeploy + script + deamonset the pods have internal and external communication.  But after a while it suddenly stops and now there is no communication.... If i run the hns script and redeploy my pods. All works fine again...

@JiangtianLi are you aware of this? Will the fix your working on solve this to? Eta?

[2018-03-20 20:00] JiangtianLi commented on #2027
@qmalexander I've forwarded your issue to the team.

[2018-03-20 21:45] JiangtianLi commented on #2027
@qmalexander if possible, can you follow:
[code]
And share c:\server.etl somewhere?

[2018-03-21 00:15] akhileshthipparthi commented on #2302
This was fixed .

[2018-03-21 00:15] #2302 closed

[2018-03-21 01:33] #1449 closed

[2018-03-21 12:13] khaldoune commented on #1806
@idanshahar Did you manage to reproduce this bug?
This problem does not occures with acs 0.13, it's a regression (@jackfrancis ) from my point of view.
Cc @yastij cc @jcorioland

[2018-03-21 12:14] ITler commented on #2464
Nevertheless, a bootstrapped 1.9.3 cluster@AzureGermanCloud is unhealthy (reproducable), but as I've seen, I'm not the only one having problems. I hopefully can provide more details next week.

[2018-03-21 13:32] roycornelissen commented on #2027
Is there an ETA for a resolution of these DNS issues? It's getting quite painful to do our current project. DNS or no DNS is like a lottery :(

[2018-03-21 14:11] SteveCurran commented on #2027
@roycornelissen I moved ahead with my project by continuing to use the workaround for setting the dns addresses in the start up of my windows nodes. Version 1.9 fixed the periodic external DNS issues caused by a race condition, but you still have to use the workaround. I just pass in both internal addresses to the pod as arguments. DNS is working consistently on the pods.

`$adapter=get-netadapter

[2018-03-21 16:51] dcieslak19973 opened #2504 "Unable to access on-prem resources over Express Route"
**Is this a request for help?**:
Help
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**:
0.13
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.8.7

**What happened**:
Containers running on the cluster via Pods are unable to access on-prem services (e.g. a database). The agent nodes ARE able to reach these on-prem s

[2018-03-21 18:47] khaldoune commented on #1806
@jackfrancis yes absolutely, if you revert just the acs binaries to 0.13 and the kubernetes version to 1.9.3 (acs 0.13 does not support k8s 1.9.4), in the apimodel that I have provided, this issue will not occures.
How can I help?

[2018-03-21 19:24] idanshahar commented on #1806
@khaldoune Not yet.
First, let's identify if the "cse" error came from the master or the agents.
To do so, go to your cluster resource group -> deployments, look for your Kubernetes deployment name and click on it, you can find there the stage that it failed on.

[2018-03-21 22:07] khaldoune commented on #1806
@idanshahar cc @jackfrancis
The error occures on all masters.

[2018-03-21 22:09] idanshahar commented on #1806
@khaldoune
Can you ssh to the master and check if kubelet is running?
if kubelet isn't running, try run kubelet and past the output here.

[2018-03-21 22:22] khaldoune commented on #1806
@idanshahar
`$ sudo systemctl status kubelet
● kubelet.service - Kubelet
   Loaded: loaded (/etc/systemd/system/kubelet.service; enabled; vendor preset: enabled)
   Active: active (running) since Mon 2018-03-19 17:55:01 UTC; 2 days ago
 Main PID: 7373 (docker)
    Tasks: 8
   Memory: 6.4M
      CPU: 11.357s
   CGroup: /system.slice/kubelet.service
           └─7373 /usr/bin/docker run --net=host -

[2018-03-21 22:27] khaldoune commented on #1806
@idanshahar
`journalctl -u kubelet
Hint: You are currently not seeing messages from other users and the system.
      Users in the 'systemd-journal' group can see all messages. Pass -q to
      turn off this notice.
-- No entries --
`

[2018-03-21 22:30] idanshahar commented on #1806
@khaldoune
'journalctl -u kubelet' will output the kubelet logs.
Try run this too and upload the output.
Cc @jackfrancis

[2018-03-21 22:33] khaldoune commented on #1806
@idanshahar
`k8s@k8s-master-35332392-0:~$ docker ps | grep kubelet

k8s@k8s-master-35332392-0:~$
`

The service status is active but it seems like there is no kubelet container running.

`sudo systemctl restart kubelet`
`$ sudo systemctl status kubelet
● kubelet.service - Kubelet
   Loaded: loaded (/etc/systemd/system/kubelet.service; enabled; vendor preset: enabled)
   Active: active (running) si

[2018-03-21 22:34] khaldoune commented on #1806
`k8s@k8s-master-35332392-0:~$ journalctl -u kubelet
Hint: You are currently not seeing messages from other users and the system.
      Users in the 'systemd-journal' group can see all messages. Pass -q to
      turn off this notice.
-- No entries --
k8s@k8s-master-35332392-0:~$
`

[2018-03-21 23:55] idanshahar commented on #1806
@khaldoune
can you run "journalctl -u kubelet" on the master and upload the output?

[2018-03-22 00:41] drdarshan commented on #2456
Hello @rrajadevops, here is a simple example on AKS that I _think_ does what you need: it sets up a pod that's listening on port 5000 and a load balancer that directs traffic on 8080 to it. Could you please let me know what error you are seeing so I can try and reproduce it?

Run this to create a Python HTTP server on 5000
[code]
Run this to expose this via a public endpoint on 8080:
[code]

Get t

[2018-03-22 02:04] zhech2 commented on #2027
@JiangtianLi When I run the pod it will randomly come up with DNS, no network connectivity at all or no DNS and can still connect to other servers.

I am willing to get a capture for you.  Would I run the startpacketcapture.cmd on one of the nodes and start a pod until it has a problem and then send server.etl to you?

Also, we are willing to give you access to our test cluster if that will help.

[2018-03-22 02:07] zhech2 commented on #2027
@SteveCurran Thanks for your workaround.  It seems to work 90% of the time whereas before it was working more like 10% of the time.  Out of curiosity how many pods are you running?  We are running around 30.

[2018-03-22 03:34] j03wang opened #2507 "No unmanaged Azure storage classes"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: 0.14.2 (and probably versions prior)

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes 1.9.5

**What happened**:
[Unmanaged Azure storage classes](https://github.com/Azure/acs-engine/blob/master/parts/k8s/addons/kubernetesmastera

[2018-03-22 03:37] j03wang opened #2508 "metrics-server missing nodeSelector"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: 0.14.2

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.9.5

**What happened**:
The metrics-server addon deployment is missing a nodeSelector to only run on linux nodes; it tries to run on Windows hosts sometimes in a hybrid cl

[2018-03-22 03:39] j03wang commented on #2446
I can confirm this has happened to me in the last two clean deployments.

[2018-03-22 04:25] priyakantpatel commented on #446
Same issue, can somebody please advise me how to "GET the LB and PUT the exact JSON back"?
k8s is not getting IP and saying pending. When I see the Azure resource, I see multiple entries for static IP's.

[2018-03-22 05:19] davidchua opened #2509 "Modifying toleration on Kube-Proxy Daemonset reverts back to default"
**Is this a request for help?** : Yes

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): Issue

---

**What version of acs-engine?**:

➜  acs git:(master) ✗ acs-engine version
Version: v0.11.0
GitCommit: cda96312
GitTreeState: clean
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

Kubernetes
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.3", GitComm

[2018-03-22 06:07] JiangtianLi commented on #2027
@zhech2 Yes, we want to capture the trace when the issue happens. The size of trace may be huge if you run for a long time though. Thank you for reporting the issue to help us investigate. I'll also loop back with the team.

[2018-03-22 09:03] fbuser1 commented on #1021
+1

[2018-03-22 09:03] fbuser1 commented on #1021
+1

[2018-03-22 09:40] michalschott commented on #1906
Bump

[2018-03-22 10:15] zwindler opened #2510 "High etcd 2.2.5 IO writes and CPU IOwait on really small Kubernetes cluster (3 nodes)"
**ISSUE/HELP**

**Orchestrator Kubernetes 1.7.10 and etcd 2.2.5**

**What happened**:
We have a few really small Kubernetes clusters hosted on azure virtual machines (IaaS) and deployed with acs-engine.
The SSD storage hosting etcdDisk is providing 500 IOPS and a throughput limit of 100 MB/sec which seemed to be more than enough for this really small cluster.

On all clusters, we are recording a r

[2018-03-22 10:24] khaldoune commented on #1806
@idanshahar
Please see my last post. journalctl responds "No entries"

[2018-03-22 13:51] BIGPHATTOBY opened #2511 "Error deploying < 4 Windows nodes fails - sometimes"
**Is this a request for help?**:
Yes please.
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.14.4
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes, 1.9.1 - 6

**What happened**:
When trying to create a deployment with 8 windows nodes a linux node (hybrid cluster) it fails.
Same config but with 4 window nodes get

[2018-03-22 14:43] SteveCurran commented on #2027
@zhech2 I am just running two nodes.

[2018-03-22 16:34] madhanrm commented on #2027
@zhech2 First I would like to know the state of the system.
Can you copy the folder https://github.com/Microsoft/SDN/tree/master/Kubernetes/windows/debug and execute "powershell collectlogs.ps1" on one of the problematic host and pass me the link to those files?
You can also get a packet capture on that host, by running a  simple Test-Connection or nslookup inside the container, when POD is in bad

[2018-03-22 17:50] CecileRobertMichon commented on #1806
@khaldoune try `sudo journalctl -u kubelet`

[2018-03-22 18:10] 4c74356b41 commented on #2027
@j03wang  I can confirm metrics-server bug. it targets windows nodes. @JiangtianLi

[2018-03-22 18:29] JiangtianLi commented on #2027
@4c74356b41 Please file an issue about metrics-server bug. Thanks.

[2018-03-22 22:13] forrestcoward opened #2516 "Kubernetes ACI connector InvalidImageName"
Hey everyone,

I'm trying to use ACS-Engine to deploy a Kubernetes cluster with the ACI connector enabled. I'm following the instruction here: https://github.com/Azure/acs-engine/tree/master/examples/addons/aci-connector

I've added the following to my linux template where the values get filled out before submission to the resource manager:

[code]

My cluster starts and is running correctly excep

[2018-03-22 22:15] hmarcelodn commented on #2338
I am also experiencing issues with ILB, I changed from acs-engine 0.5.0 using k8s 1.6.6 to 1.9.3 and it just stop working.

Any ideas?

[2018-03-22 22:19] #2336 closed

[2018-03-22 22:21] hmarcelodn opened #2517 "ILB is not working after deploying K8S 1.9.3"
**Is this a request for help?**:
YES

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.13.1
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
1.9.3

**What happened**:

We regenerated the cluster in order to upgrade our acs-engine + Kubernetes versions and deployed the NGINX with a ILB service and we loose connection from a p

[2018-03-22 22:27] khaldoune commented on #1806
@CecileRobertMichon @idanshahar
Thanks.
Here you go.
[kubelet-master.zip](https://github.com/Azure/acs-engine/files/1839468/kubelet-master.zip)

[2018-03-22 22:31] hmarcelodn commented on #2476
@jackfrancis I am facing the same issue right now and it was working on 1.6.6 with multiple subnets.

Is there any workaround on this? Do you know why it just stop working?

Thanks.

[2018-03-22 22:38] CecileRobertMichon commented on #2476
@hmarcelodn are you using private clusters as well? or is this a regular cluster with public IPs?

[2018-03-22 22:40] hmarcelodn commented on #2476
I am using a regular cluster this time, it was working before with 1.6.6.

[2018-03-22 22:59] jackfrancis commented on #2476
Has anyone tried a multiple subnet scenario + ILB workloads + v1.9.6 of k8s? (you'll need acs-engine `v0.14.4` to deploy `v1.9.6`)

[2018-03-23 00:20] jackfrancis commented on #2517
There are known ILB issues with v1.9.3, this has been fixed in v1.9.6 (acs-engine v0.14.4)

[2018-03-23 00:25] jackfrancis commented on #2510
Hi @zwindler, we have an open PR that aims to address why this may happen:

https://github.com/Azure/acs-engine/pull/2435

Also, a more recent version of acs-engine will build you a cluster with newer versions of both Kubernetes and etcd. Are you able to migrate to a fresh cluster? If not, if you provide your initial api-model, and the version of acs-engine you used to deploy your existing cluster

[2018-03-23 00:32] MirzaSikander commented on #2377
I saw this problem again when I deployed a new cluster today.

Thanks @feiskyer for providing that link.

One thing I noticed right away was that the route table for the cluster is empty.

![image](https://user-images.githubusercontent.com/2823474/37800346-bc61091e-2ddf-11e8-9158-71041e597802.png)

This obviously seems like a bug to me. The acs-deployment deployment finished with no errors.

[2018-03-23 00:39] JiangtianLi commented on #2511
Windows deployment failure has a few different root causes, e.g., windows vm not reachable, windows vm extension not running. If `kubectl get no` shows windows node but it is not ready, then it is acs-engine provisioning script error. I plan to add more resiliency to acs-engine provisioning script, e.g., retry in downloading external dependent binaries.

[2018-03-23 01:12] feiskyer commented on #2377
@MirzaSikander There may be some authorization issues with provided servicePrincipal. Could you check what errors reported at kube-controller-manager logs? .e.g.

[code]

[2018-03-23 08:16] duedal commented on #2511
Any tips for resolving deployment errors with a bit of manual help? We are seeing nodes "not ready" on almost every deployment with more than a few nodes.
Ie. where does ACS-Engine log errors to, how to go about rerunning acs-engine provisioning?

[2018-03-23 08:25] zwindler commented on #2510
Thanks for the answer.

I have seen the PR which will give more IOPS to the disk but as the SSD are not at the maximum IOPS limit, I'm not 100% sure this is the issue here. I'll give it a try nonetheless because if this is just it, this would be convenient.

I'm not sure what you mean by "initial api-model" because I'm not the one who deployed the cluster in the first place. Those clusters are in

[2018-03-23 09:37] khaldoune commented on #1806
@jackfrancis

[2018-03-23 11:04] andyzhangx commented on #2507
@j03wang if `kind` field is not specified, it's unmanaged azure disk storage class, also called blob based disk
[code]

[2018-03-23 12:13] arwkmd commented on #1948
acs-engine in version 0.14.4 works

[2018-03-23 12:13] #1948 closed

[2018-03-23 13:10] khaldoune commented on #2362
@jackfrancis This is a very important feature for production ready clusters. As you can guess, not all workloads that will be deployed on kubernetes will have the same requirements.
Is it possible to provide more details about this issue? This is something that happens only on upgraded clusters? Is it planned to fix this issue?
Thanks
Cc @jcorioland

[2018-03-23 13:10] j03wang commented on #2507
But it doesn't distinguish between standard and premium?

[2018-03-23 13:25] andyzhangx commented on #2507
The above default storage class is using Standard_LRS by default, if you want to use Premium_LRS, you should create a new storage class.

[2018-03-23 13:32] j03wang commented on #2507
Given that the default VM disk type is unmanaged, I feel like it's a bit confusing to only include the managed storage classes (standard and premium) without any indicator of how to use premium unmanaged. Further, the file I linked to must be either incorrectly named (it has unmanaged in the name) or is not needed.

[2018-03-23 14:13] andyzhangx commented on #2507
@j03wang design is like following:
1) if current agent pool is unmanaged VM disk based, then acs-engine will use `kubernetesmasteraddons-unmanaged-azure-storage-classes.yaml` to create all built-in classes, default is unmanaged
2) if current agent pool is managed VM disk based, then acs-enginewill use `kubernetesmasteraddons-managed-azure-storage-classes.yaml` to create all built-in classes, defau

[2018-03-23 17:42] j03wang commented on #2507
But if the agent pool is unmanaged VM disk based, why are the managed-standard and managed-premium storage classes even created (as they are in kubernetesmasteraddons-unmanaged-azure-storage-classes.yaml), seeing as neither can be used with the unmanaged VMs.

[2018-03-23 19:02] madhanrm commented on #2027
Any one having DNS or Service ViP Access issues, please collect the logs and pass it us, so that we can evaluate if there are any new issues being hit.

copy the folder https://github.com/Microsoft/SDN/tree/master/Kubernetes/windows/debug and execute "powershell collectlogs.ps1"

[2018-03-23 21:46] MirzaSikander commented on #2377
@feiskyer You were spot on! It was authorization issues. When I looked at the Access control list for the resource group created by acs-engine, it did not contain the service principal I had provided in the cluster spec.

I used the command `az ad sp create-for-rbac --skip-assignment` to create the service principal. I created another one just to be sure but it did not work with that one as well.

[2018-03-23 22:04] MirzaSikander commented on #2377
According to [this](https://github.com/Azure/acs-engine/blob/master/docs/serviceprincipal.md), I need to use the command `az ad sp create-for-rbac --role="Contributor" --scopes="/subscriptions/${SUBSCRIPTION_ID}"`

I will try it with that and update once the cluster is deployed.

[2018-03-23 23:00] MirzaSikander commented on #2377
It works. Thanks @feiskyer for all your insight.

I wonder if there is a way to detect this during deployment and alert the user that there is something wrong with the service principal.

[2018-03-24 06:29] vpatelsj commented on #2516
Seems like your containers configuration is missing the image parameter.

"containers": [
                {
                  "name": "aci-connector",
                  **"image": "microsoft/aci-connector-k8s:latest"**,
                  "cpuRequests": "50m",
                  "memoryRequests": "150Mi",
                  "cpuLimits": "50m",
                  "memoryLimits": "150Mi"

[2018-03-24 06:45] vpatelsj commented on #2504
With little info about your setup I am wondering if you checked your nsg rules to see if the appropriate ports are opened for accessing the database services etc.

[2018-03-24 06:48] vpatelsj commented on #2480
Regarding the cse2 extension failure, we can check the logs of your custom script extension execution from the master/agent nodes vm? they should be located at /var/log/azure/blah blah folder.

[2018-03-24 06:51] vpatelsj commented on #2464
Are you ok with sharing VM logs? I'll be happy to take a look at the failure and diagnose.

[2018-03-24 09:34] MirzaSikander commented on #346
Do you know which version of ACS-engine this is fixed in? I am running into the exact same issue.

[2018-03-24 09:40] MirzaSikander commented on #2511
`kubectl get no` shows all windows node to be ready, but in the portal, the deployment has the status failed, with the exact same error mentioned at the start of the post. Is the cluster in working condition?

[2018-03-24 12:17] pushkar-bitwise commented on #2027
Hi @madhanrm please find link to log file
https://pushkardebugdata.blob.core.windows.net/debugdata/archive.zip

[2018-03-24 15:32] dcieslak19973 commented on #2504
Thanks. I should have mentioned that I set up an ANY/ANY rule on the affected NSG.

I’m not great with networking, but my gut feeling is that the Route Table may be the problem

My company does have an NDA in place with Microsoft and I could make arrangements for a Microsoft employee to screen share

[2018-03-24 18:08] sharmasushant commented on #2504
@dcieslak19973 Please use networkpolicy as azure. This will give your PODs ip addresses from vnet address space, and pods should be able to reach on-prem.

[2018-03-24 19:51] vpatelsj commented on #2445
/assign vpatelsj

[2018-03-24 21:26] idanshahar commented on #1806
@khaldoune
First, I suggest you to deploy a simpler api model.
Can you go over your api model and remove unnecessary configurations?

`Mar 22 22:22:23 k8s-master-35332392-0 docker[36510]: I0322 22:22:23.305226   36534 kubelet_node_status.go:497] Using Node Hostname from cloudprovider: "k8s-master-35332392-0"
Mar 22 22:22:28 k8s-master-35332392-0 docker[36510]: W0322 22:22:28.104981   36534 cni.go:

[2018-03-25 07:39] MirzaSikander commented on #1972
`Version: v0.13.1` still has this issue.

[2018-03-25 21:31] ewok2030 opened #2523 "keyvault-params example in README is invalid"
**Is this a request for help?**: No
---
**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE
---
**What version of acs-engine?**: Current
---

The `README` and example `kubernetes.json` at [examples/keyvault-params](https://github.com/Azure/acs-engine/tree/master/examples/keyvault-params) is missing the field `caPrivateKey` which in my experience causes the `acs-engine generate` function t

[2018-03-26 14:34] lastcoolnameleft commented on #747
If I understand correctly, SSE is already available, but ADE is not available yet in acs-engine, but is possible.  via: https://github.com/kubernetes/kubernetes/issues/57070#issuecomment-354244873 Is that accurate?

If so, is there an ETA for this?

[2018-03-26 14:54] sylr opened #2527 "Custom user defined apiserver args overriden"
https://github.com/Azure/acs-engine/blob/08ac0e253c9a7835a1182cc373c69c8ebd022be9/pkg/acsengine/defaults-apiserver.go#L121-L131

Why is there a orchestratorProfile.kubernetesConfig.apiServerConfig section if we can't use it ?

I need to override the default value of --oidc-username-claim to "upn" but this code won't let me.

[2018-03-26 16:19] #2445 closed

[2018-03-26 17:11] khaldoune commented on #1806
@idanshahar Honestly I don't see what I can remove from my cluster definition, everything was working on 0.13, everything but the internal LB that has been fixed on k8s 1.9.6...
How can we enable more logs? @jackfrancis @CecileRobertMichon
How to go further

[2018-03-26 17:15] madhanrm commented on #2027
@pushkar-bitwise  In you setup, I don't see any policy lists configured by kubeproxy for the remote services (like DNS). Only 2 Policy lists exists, which points to the service deployed locally. So DNS wouldn't work until they are programmed properly.

This is a known issue, where remote endpoint creation fails & policies cannot be created for remote services (like DNS). You can verify this by doi

[2018-03-26 17:18] madhanrm commented on #2027
@JiangtianLi is there a separate issue for the remote endpoint creation? If not can we create one and add steps on how to recover from that.

The current github issue page has multiple issues and it would confuse folks looking into this thread.

[2018-03-26 17:29] pushkar-bitwise commented on #2027
Thanks @madhanrm for your help, @JiangtianLi  Please help how to get update on azure VM, also it there any way to create it manually.

[2018-03-26 17:40] pushkar-bitwise commented on #2027
@madhanrm I just executed command you suggested below are the details

PS C:\data> Get-HnsEndpoint | Select IsRemoteEndpoint, Id, IpAddress

IsRemoteEndpoint ID                                   IPAddress
---------------- --                                   ---------
                 6ea68d9b-d6ca-41e3-bcd4-d4958b9bf4b0 10.244.3.220
                 0b2595e8-c833-4486-bf4b-0d7f69aaefb7 10.244.3.9

[2018-03-26 17:43] vpatelsj commented on #2407
/assign @vpatelsj.  Taking up on this due to no activity.

[2018-03-26 17:54] JiangtianLi commented on #2027
@pushkar-bitwise Can you use `Get-HotFix` on your windows node to see if you have KB4089848? If not, can you run windows update and manually install that KB? I am tracking to see when Azure VM will have that update.

[2018-03-26 17:55] dcieslak19973 opened #2529 "networkPolicy=Azure and Existing VNET outside of Resource Group failing"
**Is this a request for help?**: HELP

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one): ISSUE

---

**What version of acs-engine?**: 0.14.4

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**: Kubernetes 1.9.6

**What happened**: Provisioning a Kubernetes 1.9.6 cluster with "bring-your-own-VNET" using Azure Networking fails; the Custom Script extension running on Master (

[2018-03-26 17:57] pushkar-bitwise commented on #2027
I can see below details , can you please guide me how to install it manually

[code]

[2018-03-26 18:09] #2523 closed

[2018-03-26 19:07] #2527 closed

[2018-03-26 19:08] #2507 closed

[2018-03-26 19:30] pushkar-bitwise commented on #2027
@JiangtianLi installed KB , but still not internal DNS not working

[2018-03-26 19:43] madhanrm commented on #2027
@pushkar-bitwise Can you collect the traces again and pass it to us?

[2018-03-26 20:32] sylr commented on #2529
You should look in one of those file: https://github.com/Azure/acs-engine/blob/4649c8d41bd37d350b0842cd76f2e7db21d05e43/test/e2e/runner/cli_provisioner.go#L222-L223

[2018-03-26 21:08] dcieslak19973 commented on #2529
So far it looks like it thinks the k8s cluster isn't working after 600 seconds and fails. It appears to me to be because the k8s master node cannot get any kubectl commands to work. This appears to me to be because it can't seem to get a route to the public IP address of the kubernetes cluster.

I'm going to try setting the privateCluster option to see if that helps. I seem to remember that being

[2018-03-26 21:29] dcieslak19973 commented on #2529
When I run `kubectl cluster-info dump` I get `The connection to the server x.y.z.10:443 was refused - did you specify the right host or port?` The IP address is the correct IP address of the (single) master node. Any ideas?

[2018-03-26 21:38] sylr commented on #2529
Thhe kubernetes master does not seem to have started up correctly, you should look into the kubernetes log files.

[2018-03-26 22:00] jackfrancis commented on #1806
Thanks @idanshahar for helping with this thread! @khaldoune Let's do this to repro. CSE errors are a result of deployment errors, so I assume you're able to continue trying to deploy a cluster until we fix this.

So, above you pasted the api model JSON file that was generated _from_ acs-engine. Could you paste contents of the api model JSON that you inputted `into` acs-engine? (e.g., `acs-engine g

[2018-03-26 22:02] dcieslak19973 commented on #2529
`● kubelet.service - Kubelet
   Loaded: loaded (/etc/systemd/system/kubelet.service; enabled; vendor preset: enabled)
   Active: inactive (dead) (Result: exit-code) since Mon 2018-03-26 21:57:53 UTC; 4s ago
  Process: 7521 ExecStartPre=/bin/bash /opt/azure/containers/kubelet.sh (code=exited, status=2)

Mar 26 21:57:53 k8s-master-17778578-0 systemd[1]: kubelet.service: Unit entered failed state.
Ma

[2018-03-26 22:17] khaldoune commented on #1806
@idanshahar Many thanks too
@jackfrancis Thanks for your help, and here we go:

As a temporary workaround, I've made some changes to 0.13 in order to add support for k8s 1.9.6 (I need this version to fix the ILB issue), I will be able to test it tomorrow.

Here is the cluster definition:

`{
  "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernet

[2018-03-26 22:20] CecileRobertMichon commented on #1806
@khaldoune I was able to repro just now. The deployment fails because all the nodes (masters + agents)  are `NotReady`. Trying to find the cause. I will keep you posted.

[2018-03-26 22:26] sharmasushant commented on #2529
@dcieslak19973
You can follow the example here: https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/features.md#feat-custom-vnet

You have to specify the vnetCidr which is missing in your config it seems like.

[2018-03-26 22:35] khaldoune commented on #1806
@CecileRobertMichon Good news thanks.
I will send cluster-provision and cloud-init-output logs as soon as I have access to these VMs.

[2018-03-26 22:38] CecileRobertMichon commented on #1806
@khaldoune I think I have the cause. There seems to be a regression with Calico. I'm trying to find out which commit introduced the regression. In the meantime, if it's an option for you, the same apimodel will work if you remove the line `"networkPolicy": "calico", `.

[2018-03-26 22:45] khaldoune commented on #1806
@CecileRobertMichon I've already tried to go from 0.14.0 and replace calico 0.7 with 0.1 (I've updated the tgz url), the provisioning had failed.

I've also seen something strange in calico's manifest: cniversion:0.1 instead of 0.7, changing it to 0.7 did not change anything.

I hope it helps.

[2018-03-26 22:49] CecileRobertMichon commented on #1806
+@dtzar who is working on a PR to upgrade Calico (#2521 ) and might be able to provide insight on the above.

[2018-03-26 23:06] CecileRobertMichon commented on #1806
To clarify, the regression is not a general calico regression as deployments using `"networkPolicy": "calico"` in our regression tests are succeeding, but rather a regression with this particular apimodel, most likely involving another custom property that became incompatible with calico in v0.14.0.

[2018-03-26 23:06] dtzar commented on #2317
These two calico troubleshooting links are helpful along with general ubunutu networking skills like `iptables` ;)
https://docs.projectcalico.org/v3.0/usage/troubleshooting/
https://docs.projectcalico.org/v3.0/getting-started/kubernetes/troubleshooting

[2018-03-26 23:26] pushkar-bitwise commented on #2027
Thanks @madhanrm  and @JiangtianLi, now DNS issue is resolved, i forgot to restart server, after restart everything working properly.

Thanks for your help.

[2018-03-26 23:41] dtzar commented on #1806
The version of calico in the master branch being deployed is quite old 2.6.3 [See releases](https://github.com/projectcalico/calico/releases).  Could you check to see if the latest version in my PR referenced above resolves your problem?

As mentioned - the script extension will fail if the nodes are not ready.  The `calico-node` daemonset needs to be operational in order for the scripts to finish

[2018-03-26 23:46] CecileRobertMichon commented on #1806
Thanks @dtzar! @khaldoune can you try changing the value of "clusterSubnet" to match the value of "vnetCidr"?

[2018-03-27 00:08] dtzar commented on #1806
To clarify and record, `clusterSubnet` translates into `kubeClusterCidr` in [engine.go Line](https://github.com/Azure/acs-engine/blob/549d57231ec4fc7663e354d948f7c1481fcdde05/pkg/acsengine/engine.go#L649) 649 :)

[2018-03-27 00:15] dtzar commented on #1806
@khaldoune It would be good to understand what's going on with your network topology/configuration.  Per your above configuration, I see:
"dnsServiceIP": "192.168.1.10"
"serviceCidr": "192.168.1.0/24"
"clusterSubnet": "10.10.0.0/16"
Master - "vnetCidr": "198.18.184.0/22"

[2018-03-27 03:37] dtzar commented on #2202
I just deployed a new cluster using my PR #2521 using 3 master nodes with 1.9 and all three master nodes have identical files under the `/etc/cni/net.d` directory, specifically the `10-calico.conflist` is I believe what you're referring to.  Please feel free to check out the PR and let me know if still see the same issue, otherwise I will assume the PR fixes whatever this problem is.

[2018-03-27 08:03] roycornelissen commented on #2027
@madhanrm I've captured traces on both of my Windows Nodes, you can find them here:

https://kditridentstorage.blob.core.windows.net/assessments-public/Archive.zip

Is there already a separate issue for the remote endpoints? I realise this issue is being mixed with both internal and external DNS problems. The external DNS issues keeps coming back for me.

@pushkar-bitwise did you just install the

[2018-03-27 08:47] pushkar-bitwise commented on #2027
@roycornelissen i just installed kb4089848 using below command and rebooted the VM

[code]

[2018-03-27 09:12] winterTTr commented on #2027
Thanks for the help from @JiangtianLi, so currently, my windows node is working, so just share what I have done, hope this can help someone, I am using the kubernetes 1.9 and acs-engine latest.

1. Remote to the windows node, and Install the KB40089848 in the windows node

[code]
    This need to restart you vm.
2. Create whatever pod, and deploy this pod on the windows node with a daemonset, whic

[2018-03-27 12:02] dcieslak19973 commented on #2529
Thanks @sharmasushant. I was missing the vnetCidr in my acs-engine file.

[2018-03-27 12:02] #2529 closed

[2018-03-27 12:31] jessfraz opened #2535 "[feature]: improve usability as a dev tool"
I spin up a lot of clusters for testing and I realize this is not really the use case of acs-engine, but I do think it is a valid one.

I would love a `delete/rm` command, right now i have bash scripts that do this, but if I could stay in the same tool that would be even more awesome.

I would love to be able to pass an ssh-key to `deploy` so i don't have to edit the config in the repo, then make

[2018-03-27 12:32] jessfraz commented on #2535
Oh and list should show the master ip in a table like so, so i dont have to look it up in the portal.

[code]

[2018-03-27 12:35] jessfraz commented on #2535
Oh and I'd love a command that takes that deployments kubeconfig and adds it to my local one :)

So four things:

- [ ] delete/rm
- [ ] --ssh-key on deploy
- [ ] list with ip of master
- [ ] command to move kubeconfig locally

[2018-03-27 13:34] jessfraz commented on #2535
I wrote a wrapper bash script that does all these things: https://github.com/jessfraz/dotfiles/blob/master/bin/acsengine

[code]

[2018-03-27 14:36] mh101010 commented on #2027
I'm having the same problem with Azure ACS kubernetes (using Windows server 2016 as a node).

I've tried installing the proposed KB, but it errors with "the update is not applicable to your computer". Also, tried running the hns script, but Get-HNSNetwork isn't recognized.

Isn't there an official Microsoft solution for this issue?

[2018-03-27 15:13] robsonpeixoto commented on #2476
Is not working here.

[code]

My service and deployment definition:
[code]

[2018-03-27 15:36] #2504 closed

[2018-03-27 15:37] dcieslak19973 commented on #2504
#2529 closes this.

[2018-03-27 16:28] jackfrancis opened #2538 "Nvidia GPU support broken in master"
Placeholder ticket for now, // TODO: investigation

Our E2E tests are showing us that building a cluster w/ `Standard_NC6` agent nodes are not able to schedule a pod for `nvidia-smi`.

@wbuchwalter FYI. If you're able to build from master and deploy a new cluster, it'd be awesome if you could try to repro!

[2018-03-27 16:42] JiangtianLi commented on #2027
@mh101010 what region did you install ACS? Just to confirm your Windows node is Windows Server 2016 (RS1), not 1709 (RS3)?

[2018-03-27 16:43] mh101010 commented on #2027
@JiangtianLi East US

[2018-03-27 17:28] mwieczorek commented on #2112
Trying to gain attention once again :)
@jackfrancis @CecileRobertMichon

[2018-03-27 17:54] jackfrancis commented on #2112
Thanks for your patience, @mwieczorek, this PR (merged) actually addressed some of the above properties:

https://github.com/Azure/acs-engine/commit/975170552e5442b8702831d0d7fedbd3078f3a02

I'd be happy to move over the remaining. What are your thoughts on the current state of these properties in master?

[2018-03-27 18:20] jim-minter opened #2540 "API model for "azure context""
It would be useful to have a single standard place in the acs-engine API model to contain the cluster "azure context" (e.g. tenant id, subscription id, resource group and location).

Having these values defined up front includes the following advantages:
- these data can be statically templated into cluster configuration files, e.g. azure.conf, up front on the client side rather than as a dynamic

[2018-03-27 18:20] jim-minter commented on #2540
@jackfrancis @pweil- @kargakis ptal

[2018-03-27 19:19] pweil- commented on #2540
/cc @khenidak

[2018-03-27 19:37] rahulbasmanghi commented on #2061
Same issue while trying to work with Acs-engine v1.8.9->1.8.10 upgrade

[2018-03-27 19:43] khenidak commented on #2540
I understand why we need this in the model. I'm however concerned with:
1. Asking the user to provide an information we get from somewhere else (Arm template?). I think today we drive these as env vars into a custom script extension.
2. Handling the cases where the user provide `resource-group:Gx location:Lx` and during deploy he deploy to `resource-group:Gy location:Ly`

[2018-03-27 20:16] mwieczorek commented on #2112
@jackfrancis
I haven't seen #2528 yet. Great, so I need just two more: --oidc-client-id, --oidc-issuer-url.

[2018-03-27 21:00] jackfrancis commented on #2540
Thanks @jim-minter for scaffolding this design proposal. My thoughts:

- Basic interface spec proposal (novel struct under `Properties`) looks good
- roger on your defined order of configuration precedence:
  1. CLI context args
  2. api model
  3. inherited code-enforced defaults (probably not applicable for these properties in particular as they are all context-hungry)
- We want to ensure that t

[2018-03-27 21:06] khenidak commented on #2535
`acs-engine create --resource-group {RG} --master-count {N} --agent-count {N} --ssh-key--value {PATH} --kubernetes-version {VER}`

Driven from a a golden apimodel where we have a minimal set of overridable arguments. Everything else is according to this api-model.

*or*

`acs-engine create --base-model {PATH} --resource-group {RG} --master-count {N} --agent-count {N} --ssh-key--value {PATH} --kube

[2018-03-27 22:00] yakman2020 commented on #2535
acs engine supports both k8s and dcos. Presumably there would be  some parameterisation to reflect that?

[2018-03-28 07:42] richardjharding opened #2548 "Failed to ensure load balancer - failed to ensure host in pool"
**Is this a request for help?**:

YES

**Is this an ISSUE or FEATURE REQUEST?** (choose one):

ISSUE

**What version of acs-engine?**:

---

Kubernetes v1.8.2

**What happened**:

A number of services had been deployed (via Helm charts) annotated to provision services as internal load balancers

We then hit a limit of 10 ips - this was increased as a result of azure service request

some time late

[2018-03-28 07:59] bailantaotao opened #2549 "About PodSecurityPolicy mode"
**Is this a request for help?**:
yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
issue
---

**What version of acs-engine?**:
v0.12.5, v0.14.5
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

      "orchestratorType": "Kubernetes",
      "orchestratorVersion": "1.7.9",

**What happened**:

Not found any pods in `namespace: kube-system`
[code]

Connect to tiller ser

[2018-03-28 09:53] khaldoune commented on #2202
@dtzar As a workarround, you can disable Encryption At REST.

[2018-03-28 10:29] Dienemy commented on #2338
@hmarcelodn hello.
The issue was version of Kubenertes.
I have update Kubernetes to 1.9.6 and it has gone.

[2018-03-28 10:29] #2338 closed

[2018-03-28 11:38] kargakis opened #2550 "Consolidate defaulting in a single place"
There are two different places defaulting happens today during a `generate` or `deploy` flow:
* during conversion in [`convertVLabsProperties`](https://github.com/Azure/acs-engine/blob/00947a60402a74d5150ae5b208f069eae73ae45a/pkg/api/convertertoapi.go#L354) (see setVlabsKubernetesDefaults)
* during defaulting in [SetPropertiesDefaults](https://github.com/Azure/acs-engine/blob/00947a60402a74d5150ae

[2018-03-28 15:47] Dienemy commented on #2287
Hello, I have the same issue, we are going to use different agent pools for different apps, and if we remove app, agent pool must be removed also.
Is there any ETA for this issue?

[2018-03-28 16:03] #1248 closed

[2018-03-28 17:33] khaldoune commented on #1806
Hi,

Thanks all for your assistance, I was out of the office yesterday...

@CecileRobertMichon , we need Calico because we are using it for project/namespaces/network isolation.

@dtzar : I had workarround the issue 2202 by disabling the Encryption at Rest.

If my understanding is good, whe should have clusterSubnet=kubeClusterCidr=clusterSubnet= PODs CIDR.

From a design point of view, the pods's

[2018-03-28 17:46] wbuchwalter commented on #2538
@jackfrancis Not exactly sure what is happening here...
On the agent, journalctl reports:
[code]

But if I manually do `curl -fLS https://us.download.nvidia.com/tesla/390.30/NVIDIA-Linux-x86_64-390.30.run` from the node, it works fine.
Have you ever seen a similar issue?

[2018-03-28 18:04] jackfrancis opened #2551 "tests to ensure that --enable-debugging-handlers is false on k8s clusters"
We want to verify --enable-debugging-handlers is what we think it is.

[2018-03-28 18:06] jackfrancis commented on #2538
Thanks for doing that R&D, I'll look into that! (possibly something flaky about that `retry_if_failure` convenience func)

[2018-03-28 18:31] khaldoune commented on #1806
@CecileRobertMichon @dtzar

The provisioning with PR2521 has failed.

$ acs-engine version
Version: canary
GitCommit: ae4590a
GitTreeState: clean

Here are logs (provision, cloud init, cloud init output):
[azurelogs.zip](https://github.com/Azure/acs-engine/files/1857198/azurelogs.zip)

Thanks

[2018-03-28 18:33] ewok2030 commented on #2287
I found this in the docs recently: [docs/kubernetes-day2-operations.md](https://github.com/Azure/acs-engine/blob/master/docs/kubernetes-day2-operations.md)

There is a section for how to remove node pools, which is labeled `tested`. It recommends draining the nodes first, which wasn't mentioned in @bq1756 's methods. Maybe someone can give it a test?

[2018-03-28 18:39] CecileRobertMichon opened #2553 "Group agent variables into an object variable"
**Is this a request for help?**:
NO
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE REQUEST
---

**What version of acs-engine?**:
v0.14.5
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
ALL

**What happened**:
Currently, each agentpool has it's own set of variables defined as follows:

**What you expected to happen**:

**How to reproduce it** (as minimally and

[2018-03-28 18:47] CecileRobertMichon commented on #2553
FYI @samkreter @yangl900

[2018-03-28 19:38] kargakis opened #2554 "acs-engine should print template outputs at exit"
Moving from https://github.com/kargakis/acs-engine/issues/34

@jim-minter

[2018-03-28 20:08] jackfrancis opened #2555 "add E2E/upgrade test to validate stateful sets resiliency"
We want to validate that a cluster w/ an active "running disks" workload (e.g., a StatefulSet) survives upgrade.

@khenidak FYI

[2018-03-28 21:25] 0x6d6178 commented on #2347
Any updates on this? Also noticed that the 'serverAppId' and 'clientAppId' are hard coded into the azuredeploy.json file that results from acs-engine. It would be nice if all Kubernetes configuration parameters in the apimodel.json are exposed via the azuredeploy.parameters.json file, instead of being hard coded into the azuredeploy.json file.

[2018-03-28 21:34] jackfrancis commented on #2549
The idiomatic way to do this at present is to add the following property to you `kubernetesConfig` object:

`"enablePodSecurityPolicy": "true"`

You should also omit the manual `PodSecurityPolicy` from your `----admission-control` config as well. Please re-open if you're still stuck using the above guidance!

[2018-03-28 21:34] #2549 closed

[2018-03-28 21:42] jackfrancis commented on #2535
May I add an item to this aspirational playground?

- Persistent user context config, i.e., `~/.acs-engine/config.json` or somesuch

[2018-03-28 22:05] JunSun17 commented on #2347
@0x6d6178 As I mentioned above, "dnsPrefix" is also used in apimodel.json.

When you do the initial deployment, you only need azuredeply.json (+parameters file). But when you do upgrade or scaling, you will need both apimodel.json and azuredeply.json, and "dnsPrefix" needs to be the same in both files for the operation to work.

That is my guess why "dnsPrefix" is not parameterized but instead har

[2018-03-28 23:18] madhanrm commented on #2027
@roycornelissen
Can you copy the folder https://github.com/Microsoft/SDN/tree/master/Kubernetes/windows/debug and execute "powershell collectlogs.ps1"

I would like to look at the system state first before looking at the traces.

[2018-03-29 02:35] ashishkulk commented on #2035
I can correlate with @alexquintero . It only happens while scaling down the cluster.

[code]

[2018-03-29 07:25] richardjharding commented on #2548
this turned out to be as a result of an OMS agent vm extension being in a failed state on one of the agent nodes - once this extension was removed the services and internal load balancer configurations were completed successfully

[2018-03-29 07:25] #2548 closed

[2018-03-29 07:35] Dienemy commented on #2287
@ewok2030 it may work because of you manually remove nodes from kub cluster and manually remove them from Azure portal.
But I did not find any ways to remove agent pools using acs-engine automatically.

[2018-03-29 13:38] ionutgrecu-adv365 opened #2556 "ACS Engine Kubernetes AAD integration - fails to login"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.14.4
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes v1.8.10

**What happened**:
I tried to integrate AAD with an ACS-Engine Kubernetes cluster.

**What you expected to happen**:
Authenticate to my Kubernetes cluster using the

[2018-03-29 14:29] jbiel commented on #2027
@JiangtianLi - I am attempting to build a new Windows node image (I'd like to try KB4089848 to see if it fixes our issues) and have been using `KB123456` and `KB999999` (outside of acs-engine.) Now those patches fail to install because they're expired. Are those patches still needed? I see they're still specified in `./parts/k8s/kuberneteswindowssetup.ps1`. Thanks.

[code]

[2018-03-29 15:58] khaldoune commented on #1806
@jackfrancis @CecileRobertMichon @dtzar

The deployment fails even with the acs **0.14.5** and with a routable cidr for PODs (in the vnet address space):

vnet_prefix: 198.18.184.0/21
vnet_master_subnet: 198.18.190.0/24
vnet_worker_subnet: 198.18.189.0/24
vnet_master_first_ip: 198.18.190.50
k8s_pod_cidr: 198.18.184.0/22
k8s_service_cidr: 198.18.188.0/23
k8s_dns_service: 198.18.188.10

Here is the

[2018-03-29 16:30] ewok2030 commented on #2425
This was identified during a security review we did recently. As a workaround, we are proposing disabling the addon when we run ACS-Engine against the `apimodel.json` and writing our own dashboard manifest using the least privileges necessary. It will have to be deployed manually or via a CI/CD pipeline.

We'll be using the ACS-Engine's example at [parts/k8s/addons/kubernetesmasteraddons-kubernete

[2018-03-29 16:31] CecileRobertMichon opened #2559 "Move to etcdctl API v3"
We have been using etcd v3 as default since #1934. etcd v3 introduced a new API (https://coreos.com/blog/migrating-applications-etcd-v3.html). acs-engine still builds cluster with the v2 API. In order to enable the v3 API, we need to add the env var ETCDCTL_API=3 (https://github.com/coreos/etcd/tree/master/etcdctl). With this change we will need to make sure current commands that are used in acs-e

[2018-03-29 16:37] EPinci opened #2560 "Unable to upgrade/scale AAD integrated clusters"
**Is this a request for help?** Yes

---

**Is this an ISSUE or FEATURE REQUEST?**: This is an ISSUE.

---

**What version of acs-engine?**: v0.14.4

**Orchestrator and version**: Kubernetes v1.9.3

---

**What happened**:
Run acs-engine to upgrade a Kubernetes v1.9.3 cluster to v1.9.6.
Upgrade starts but errors out with:

[code]

Rerunning the upgrade results in the same error leaving cluster par

[2018-03-29 17:41] anujshankar commented on #2035
I have this same issue, but only when scaling down.

[2018-03-29 18:35] khaldoune commented on #1806
@jackfrancis @idanshahar @CecileRobertMichon @dtzar

My /etc/cni is empty. Where/When its content gets created by acs-engine?

Thanks.

[2018-03-29 23:32] CecileRobertMichon commented on #1806
@khaldoune /etc/cni should contain net.d:
https://github.com/Azure/acs-engine/blob/b38a17074e24af2af53f8649a001eaabc1575dc2/parts/k8s/kubernetesmastercustomscript.sh#L229
https://github.com/Azure/acs-engine/blob/b38a17074e24af2af53f8649a001eaabc1575dc2/parts/k8s/addons/kubernetesmasteraddons-calico-daemonset.yaml#L212
Since you were able to deploy the same api model with two vnets in v13.1 and see

[2018-03-30 02:22] andyzhangx opened #2561 "Add doc for azure.json"
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/azure/azure.go#L56-L113

[code]

**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
FEATURE
---

**What version of acs-engine?**:

---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**

**What happened**:

**What you expected to happen**:

**How to reproduce it*

[2018-03-30 02:32] MirzaSikander opened #2562 "Kubelet is unable to garbage collect on windows node."
**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE

**What version of acs-engine?**:
[code]

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
On windows node, Kubelet is not garbage collecting images even though the gc-threshold are set in the cluster spec.

[code]

Here are the error logs from kubelet on the node.

Logs for kubelet:
[code]

Mac

[2018-03-30 03:06] feiskyer commented on #2562
This is fixed in kubernetes v1.10

[2018-03-30 03:13] lastcoolnameleft opened #2563 "Kube-dns issue when specifying custom vnet + kubenet + k8s 1.8 + acs-engine v0.14.5 + 2 agent pools"
**Is this a request for help?**:  No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):  ISSUE

---

**What version of acs-engine?**: acs-engine 0.14.5

---
K8S 1.8

**What happened**:
I discovered if I created a service with 2 endpoints, and then ssh’ed to an agent node, curling to the service IP endpoint only worked 50% of the time.  (i.e. when the service routed the request to the sam

[2018-03-30 05:41] andyzhangx commented on #2561
I could only find "official" doc on RedHat OpenShift: https://docs.openshift.com/container-platform/3.6/install_config/configuring_azure.html

[2018-03-30 07:12] syeditron commented on #2061
I am trying to upgrade from orchestration version 1.8.2 to 1.9.4 with RBAC enabled and it seems to fail with the same error message No Auth Provider found for name "azure"

[2018-03-30 08:36] Drupi opened #2564 "[Azure] VirtualMachineScaleSets and Kubernetes 1.10"
**Is this a request for help?**:
No
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Issue
---

**What version of acs-engine?**:
v0.14.5
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes (v 1.10)

**What happened**:
During the generate of api-model from Kubernetes.json  I get following message:

INFO[0000] Error returned by LoadContainerService: VirtualMachine

[2018-03-30 08:50] feiskyer commented on #2564
#2403 is aiming to add this.

cc @JiangtianLi

[2018-03-30 09:18] NillsF opened #2565 "Windows Kubernetes with custom vnet not deploying - wrong variable name"
**Is this a request for help?**: No

---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
v0.14.5
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes

**What happened**:
When deploying a Windows Kubernetes cluster with custom VNET, the generated template fails to create the worker VMs. This is due to a wrong variable in th

[2018-03-30 15:39] jalberto commented on #1790
This still happening in 0.14.5 during uprade.

It this being worked on?

[2018-03-30 15:40] jalberto commented on #1950
1.8.10 is already in 0.14.5

[2018-03-30 16:03] jalberto opened #2567 "Upgrade process for kubernets is not working (acs-engine not ready for production workload)"
**Is this a request for help?**:
YES & a BUG REPORT
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
ISSUE
---

**What version of acs-engine?**:
0.14.5
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
kubernetes 1.8.4 to 1.8.10

**What happened**:
run `upgrade command following #2062 have lots of troubles:
- the process failed 16 times, it finally was successful on 17
-

[2018-03-30 16:16] jalberto commented on #2567
maybe related:
- #2124
- #2062

[2018-03-30 16:18] jalberto commented on #2567
Is it possible to run manually cloud-init to recreate what is missing?

[2018-03-30 16:33] jalberto commented on #2567
some etcd logs:

[code]

[2018-03-30 17:25] neurot1cal opened #2568 "Request for documentation: Redeployment of nodes without upgrading Kubernetes"
**Is this a request for help?**:
Yes
---

**Is this an ISSUE or FEATURE REQUEST?** (choose one):
Feature Request
---

**What version of acs-engine?**:
v0.9.0
---

**Orchestrator and version (e.g. Kubernetes, DC/OS, Swarm)**
Kubernetes 1.8.2

**What happened**:
Nothing (Yet)

**What you expected to happen**:
I expect that when running `./acs-engine deploy` with the same data from the _output folder

[2018-03-30 17:29] jackfrancis opened #2569 "Refine Istio example"
See @billpratt's remarks here:

https://github.com/Azure/acs-engine/commit/054035e2b11ea4dafe389ef5f5b4b1c4d2a4dee8#commitcomment-28337282

[2018-03-30 17:54] jackfrancis opened #2570 "Run kubelet as a daemon not in a container"
Details TBD

@feiskyer @lachie83 @slack FYI

[2018-03-30 17:55] jackfrancis commented on #1950
@mcops please re-open if you have trouble upgrading your cluster to >= v1.8.5 in a more recent version of acs-engine.

[2018-03-30 17:55] #1950 closed

[2018-03-30 18:18] jalberto commented on #1950
@jackfrancis can you help me with #2567 ?

[2018-03-30 18:19] jalberto commented on #2567
so I change any reference to "2.5.2" to "2.3.7" in my `_output` dir, and try to upgrade to k8s 1.9, and surprise, etcd 2.5.2 still trying to be installed in master

[2018-03-30 18:20] jackfrancis commented on #2567
Hi @jalberto thanks for your courage. What's the first thing we can look at?

[2018-03-30 18:27] jalberto commented on #2567
@jackfrancis thanks for your time

IMHO:
1. don't mark a VM as "upgraded" is any component is not 100% working (so we can repeat the command until working)
2. find why acs-engine insist in installing 2.5.2 (that version doesn't exist, latest in 2.x serito mitigate 1)es is 2.3.7)
3. figure out how a "reset" can be forced in a node even if it's already upgraded (

[2018-03-30 18:31] jackfrancis commented on #2567
#1 and #3 sound like longer-term improvements to the upgrade implementation, so thanks for your patience while those are not in place (and the burden remains on the user to reconcile cluster state).

Let's figure out why the `2.5.2` etcd bug is still present, that was fixed a while ago. What does "etcd 2.5.2 still trying to be installed in master" mean exactly?

[2018-03-30 18:36] jalberto commented on #2567
when running the upgrade command in a working cluster with etcd 2.3.7 new acs-engine crates the file `/opt/azure/containers/setup-etcd.sh` with this content:

[code]

clearly the curl command faills to fetch that version, but the script continues running to end so acs-engine it was successful.

@jackfrancis is there a way to run a commadn in master to recreate the initial provisioning commands? (p

[2018-03-30 18:44] jalberto commented on #2567
BTW point 1 can be achived just existing of any script if there is any error, at least that will stop the process

[2018-03-30 18:47] jackfrancis commented on #2567
There is no way to recreate an original provisioning, no. The only semi-notion of cluster "state" (quotations intentional) lives in the api model on the client side, which as you've discovered is only a fractional representation of the actual cluster, especially w/ respect to the original api model representation vs a newer version of acs-engine.

The `ETCD_VER=v2.5.2` derives from the value of `e

[2018-03-30 19:01] jalberto commented on #2567
@jackfrancis this can be related: https://github.com/kubernetes/kubernetes/issues/54918
I am using calico and no fiel is being created in `etc/cni` how can I install manually?

[2018-03-30 19:03] jalberto commented on #2567
@jackfrancis I understand it should come from there, but _before_ I run upgrade, I edited my `_output/foo/apimodel.json` to fix etcd version.

an suggestion? my cluster is down for so many hours now

[2018-03-30 19:17] jalberto commented on #2567
@jackfrancis more context:

[code]

[2018-03-30 19:46] jackfrancis commented on #2567
All of this suggests an api model that is not able to be easily reconcilable with current versions of acs-engine. (Of course this is not idea, just a reflection of the current limitations of what acs-engine does reliably.)

Are you able to build a new cluster and install your workloads on it?

[2018-03-30 19:47] jalberto commented on #2567
@jackfrancis only if I am able to move the data from the PVs to the new cluster

[2018-03-30 19:58] jalberto commented on #2567
@jackfrancis this is my `apimodel.json`
[code]

[2018-03-30 20:13] jalberto commented on #2567
@jackfrancis I generated a new `apimodel.json` with latest acs-engine but not significant change in structure:
- it  uses etcd3
- it enabled metrics

So seems not a problem related to my cluster configuration

[2018-03-30 20:24] jackfrancis opened #2572 "Adopt standard --admission-controller patterns"
See here:

https://kubernetes.io/docs/admin/admission-controllers/#is-there-a-recommended-set-of-admission-controllers-to-use

[2018-03-30 20:30] jalberto commented on #2567
more logs (cloud init output)

[code]

[2018-03-30 20:55] jalberto commented on #2567
@jackfrancis I achieved to upgrade to 1.9.6 with correct etc 2.3.7 but still not working, as no cni config found and the errors in previous comment..
is the script or the cloud-init config stored in the VM? I will liek to just run it manually

[2018-03-30 20:56] jackfrancis commented on #2567
I ran an ad hoc test against your api model (acs-engine:v0.14.5) and couldn't get a working cluster:

[code]

[2018-03-30 21:00] jackfrancis commented on #2567
About manually setting up calico.

make sure `KUBELET_NETWORK_PLUGIN=cni` in `/etc/default/kubelet`

make sure `DOCKER_OPTS= --volume=/etc/cni/:/etc/cni:ro --volume=/opt/cni/:/opt/cni:ro` in `/etc/default/kubelet`

Calico does not currently work w/ CNI, so your kubelet runtime config should be `--network-plugin=kubenet`

[2018-03-30 21:05] jalberto commented on #2567
ar least you have connectivity :)

must I change calico for azure?

`KUBELET_NETOWRK_PLUGIN` was not in `/etc/default/kubelet` I added it, but this flag is there ` --network-plugin=cni`

the volume flags are present, but host `/etc/cni` is empty

[2018-03-30 21:07] jackfrancis commented on #2567
If you're using Calico for k8s networkPolicy you have to use kubenet for IPAM. So change to `--network-plugin=kubenet`

[2018-03-30 21:21] jalberto commented on #2567
@jackfrancis already changed, and rebooted  the VM, nothing new.

in other hand, I cannot create a new cluster becasue there is a lack of VMs in westeu, already tried 3 sizes

[2018-03-30 21:50] jalberto commented on #2567
@jackfrancis I mind to remove calico if it solves the issue

[2018-03-30 21:53] jackfrancis commented on #2567
Here is the provision script we run, for reference, if you want to try replaying things manually:

https://github.com/Azure/acs-engine/blob/master/parts/k8s/kubernetesmastercustomscript.sh

(also in `/opt/azure/containers/provision.sh`)

The `configNetworkPolicy` is where the various network options are applied on the host.

[2018-03-30 21:54] #2425 closed

[2018-03-30 22:54] jalberto commented on #2567
@jackfrancis

[code]

returns nothing, and thst just the beginning of the script

[2018-03-30 23:17] jalberto commented on #2567
every key in `/etc/kubernetes/azure.json` is empty so looks liek somethign in provision step is not working