[2016-10-11 07:00] colemickens opened #9 "acstgen: Service Principal Client Secret should be a securestring"

[2016-10-11 14:47] #9 closed, assigned to nobody

[2016-10-12 01:44] colemickens opened #10 "acstgen: kubernetes: template: masteroutputs.t:6: function "RequiresFakeAgentOutput" not defined"
After rebasing on `Azure/master` I had two problems doing a Kubernetes generation/deployment:
1. I had to add "isStateful" to the agentpool definitions to avoid this error:

[code]
2. After fixing that, I get:

[code]

[2016-10-12 05:01] #10 closed, assigned to nobody

[2016-10-12 05:24] colemickens opened #11 "acstgen: kubernetes: master AvailabilitySet lacks unique identifier"
![sketch](https://cloud.githubusercontent.com/assets/327028/19298320/7461a33a-9001-11e6-8ba9-bd50f640e489.png)

[2016-10-12 19:34] colemickens opened #13 "acstgen: kubernetes template should deploy addons"

[2016-10-12 19:37] colemickens opened #14 "acstgen: kubernetes: set primaryAvailabilitySet"
Ref: https://github.com/kubernetes/kubernetes/pull/34526

Need to output this field in the `azure.json` file that is written out via CustomScriptExtension.

@anhowe: I'll need your advice on how to do this. Should we just assume that the first availability set is the one we want loadbalanced? Should we require the user to specify the `primaryAvailabilitySet` to point at a specific agentpool as a f

[2016-10-13 03:24] colemickens opened #16 "acstgen: split into own repo"
Will make it easier for contributions, CI, issue tracking, etc.

[2016-10-13 04:53] colemickens opened #18 "acstgen: consider: replace base64/gzip trick with proper inlining in ARM template"
I'm not a huge fan of the b64+gzip trick we're using to shove the addons and customscript into the cloudconfig file.

Unfortunately, the alternative is raising the string expression limit in ARM again (not sure if they're willing). Also requires then figuring out how to do the indentation correctly into the YAML file, since the contents of the file would need to be inserted, with each line having

[2016-10-13 06:20] colemickens opened #19 "acstgen: kubernetes: consider switching to `kubeadm`"
Filing this for ongoing and future discussion/consideration.

This could dramatically reduce the amount of code we maintain to deploy Kubernetes.

Advantages:
- removing 90+% of the yaml we have in the repo for Kubernetes (cloud-config, certs, etc)
- not having to worry about drift between upstream addons and our addon yamls

Disadvantages:
- no HA option in kubeadm (if it even matters)
- no easy

[2016-10-14 17:26] #13 closed, assigned to colemickens

[2016-10-19 23:16] #16 closed, assigned to nobody

[2016-10-20 01:27] colemickens opened #26 "Renamed project doesn't build"
The go import paths were not updated. Will send a PR shortly.

[2016-10-20 02:34] #26 closed, assigned to nobody

[2016-10-20 02:35] colemickens opened #28 "Kubernetes Deployment Failed"
Log here: https://gist.github.com/8a8aa97bb2ecb20f99dc567dc763ca3c

Leaving this for investigation later. The IaaS resources seemed to all be deployed...

[2016-10-20 05:10] colemickens opened #30 "kubernetes: mount /var/log instead of /var/log/containers"
See: https://github.com/kubernetes/kubernetes-anywhere/pull/258

[2016-10-20 05:10] #28 closed, assigned to nobody

[2016-10-20 05:16] colemickens opened #31 "kubernetes: reconcile volume mounts with kubernetes-anywhere"
We need to update the mounts for kubelet for acsengine. It's missing `/dev` causing disk attachment to fail.

[2016-10-20 17:48] #30 closed, assigned to nobody

[2016-10-20 17:48] #31 closed, assigned to nobody

[2016-10-26 18:15] anhowe opened #48 "Use DCOS custom from DCOS source"
Currently custom data is embedded in the project, this task suggests pulling from https://github.com/dcos/dcos

[2016-10-26 18:17] anhowe opened #49 "Fix flow in templates"
fix flow in templates so there is not so much jumping between the logic in the templates and the go code

[2016-10-26 18:19] anhowe opened #50 "Add MustCompile to init functions"
Use MustCompile in an init function. Removes the need to compile the regex every time and removes the need for error checking.

[2016-10-26 22:30] colemickens opened #52 "Think about vendoring"
We now have external dependencies in this project.

We should strongly considering vendoring them into the repo.

This re-presents the problem of this repo being used as both a package and a standalone CLI.

Generally you want to vendor for binaries, but not vendor for packages. We may want to revisit splitting the CLI part out of this into a separate tool.

[2016-10-27 01:26] amanohar opened #53 "Update acs-engine to take in an optional string of length 8 to create resource names"
If the caller of acs-engine does not specify an optional string, ACS engine will generate one to create unique resource names. This will also be used by ACS RP to follow its own resource naming format.

[2016-10-27 18:54] colemickens opened #55 "Produce releases exist"

[2016-10-31 06:02] #14 closed, assigned to colemickens

[2016-10-31 16:01] evillgenius75 opened #59 "Service Principal Check before Template Generation"
It would be beneficial to add a check routine into the acs-engine that will validate the Service Principal prior to generating the templates. This will reduce issue as template will build out successfully even in SP is incorrect.

[2016-11-03 05:06] colemickens opened #67 "Still being bitten by the docker socket bug"
RE: https://github.com/docker/docker/issues/23793

Just hit this on one of my deployments:

[code]

Obviously `kubelet` didn't come up either.

[2016-11-04 01:34] #67 closed, assigned to nobody

[2016-11-07 19:36] vlesierse opened #79 "Allow custom script execution when provisioning nodes"
For my use case I would like to create a single ARM template which deploys an ACS cluster (DC/OS orchestrator) and some additional services directly provisioned on top of Marathon.

I've tried to add an Custom Script Extension to the Mesos master. This works although there is no way to resolve the VM's resource name due to generated 8 HEX string to make the resources unique.
Issue #53 would solve

[2016-11-07 19:43] anhowe commented on #79
Will it solve your case, if you writing your code in parts/dcosprovision.sh?  This runs on both Master and Agent.

[2016-11-07 21:58] vlesierse commented on #79
That will work for sure. Any guidance of how to determine if it's currently running on a master or agent? In my case I would like to only run it once on the first master node (curl a Marathon app in json format)

[2016-11-08 09:44] codablock opened #81 "Kubernetes: Open questions regarding HA, cluster scaling, cluster upgrades and distro/security upgrades"
I took a fast look onto the acs-engine and the generated RG templates. First thing: Thumbs up for supporting Kubernetes :) Now I got some open questions. I hope this is the right place to ask them.

1. How is HA with Kubernetes handled in ACS/acs-engine? All the docs speak about a single Kubernetes master and from what I understand from kubernetesmastercustomdata.yml, only a single non-HA master i

[2016-11-08 22:20] jcrowthe opened #83 "CoreOS with DC/OS"
The DC/OS template currently generates Ubuntu virtual machines. This is currently not standard in DC/OS. This request is to modify the virtual machine OS to support CoreOS as well as Ubuntu.

As I can see, this will require modification of the cloud-config.yaml file that is parsed into the customData fields found in the template.

[2016-11-08 23:09] colemickens commented on #83
Is this something you can contribute?

[2016-11-09 04:26] windswordsgd opened #84 "ACS engine on Linux installation issue"
I tried to install ACS engine on a Linux which had docker installed already with the document below,
https://github.com/Azure/acs-engine/blob/master/docs/acsengine.md
*********************************
Linux
For Linux, ensure Docker is installed, and follow the developer instructions at https://github.com/Azure/acs-engine#development-docker to build and use the ACS Engine.
*************************

[2016-11-09 05:16] colemickens commented on #84
That script is exactly where the docs says it is after you clone the
repository. I'm just not sure what part of it is confusing.

1. clone the repo
2. Run `scripts/devenv.sh`
3. Run `make`

Please give details on where you're getting stuck or confused. Thanks.

On Nov 8, 2016 8:26 PM, "windswordsgd" <notifications@github.com> wrote:

[2016-11-09 05:34] windswordsgd commented on #84
Hi Cole,

From the document https://github.com/Azure/acs-engine/blob/master/docs/acsengine.md,  I find the installation guide for Linux.

Linux
For Linux, ensure Docker is installed, and follow the developer instructions at https://github.com/Azure/acs-engine#development-docker to build and use the ACS Engine.

Once I click the link https://github.com/Azure/acs-engine#development-docker,   it re-d

[2016-11-09 10:33] colemickens commented on #84
Okay, I can update the docs to add `Clone this repo first so you can build or develop on it`.

[2016-11-09 16:17] jcrowthe commented on #83
@rgardler @colemickens I have done what I can already, and have narrowed the issue down to the cloud-config file, which is currently specific to Ubuntu. After this file is created for CoreOS, the last step is to change the Azure VM OS type, which is trivial.

It comes down to this cloud-config file which is extremely specific to Ubuntu right now, and I need someone with more experience to assist.

[2016-11-09 18:52] anhowe commented on #83
Generally our pattern is to use CustomData to deliver the files, and then use a CSE (custom script extension for the provisioning).  With Ubuntu, we were able to skip the CSE since customData was the cloud init.  I'm not familiar with how customData gets transformed in CoreOS on Azure, but if it is only used for transfer of payload, you will need to add the CSE.  My recommendation here would be to

[2016-11-10 20:10] jcrowthe commented on #83
@anhowe Thanks for pointing this out as a something to look into. I have confirmed that the customData field executes properly on CoreOS without needing any extra CSE script. Process for validation is to slightly modify acs-engine to create CoreOS VMs instead of Ubuntu VMs, and see if the customData field gets executed. The process:

1. Modify `parts/dcosmastervars.t` to boot CoreOS Stable instead

[2016-11-10 21:03] anhowe commented on #83
Due to prioritization, we are not able to add support for alternative OS's at this time.  You may be able to  reach out to the DCOS and associated communication channels to see if anyone can volunteer to do this.

For this PR to be accepted, it should have the following requirements:
1. work with 1, 3, and 5 masters for DCOS
2. agents and masters reliably start, and work under all scenarios suppor

[2016-11-14 23:42] ahmetalpbalkan opened #92 "Missing parameter in parameters.json error with azure-cli v0.10.5"
README says:

I have v0.10.5, however the `examples/kubernetes.json` template output I got does not have `"nameSuffix"` parameter in `_output/Kubernetes-*/azuredeploy.parameters.json` file and therefore it fails with error:

[code]

[2016-11-14 23:50] colemickens commented on #92
`nameSuffix` should have a default value in `azuredeploy.json` and thus is not required in the `azuredeploy.parameters.json` file.

Can you check and see if that's the case?

[2016-11-14 23:53] ahmetalpbalkan commented on #92
@colemickens it does have a value in `azuredeploy.json`, but the node-based CLI requires the value to be declared in parameters.json anyway I think. I've seen this happening before in other projects, so I think it's by-design behavior.

[2016-11-14 23:53] colemickens commented on #92
What would be the point of having default values in the template then?

[2016-11-14 23:55] ahmetalpbalkan opened #93 "Offer binaries in releases tab"
A fairly easy thing to do in via Travis-CI. [[example](https://github.com/Azure/azure-extensions-cli/blob/42a13c77a73ac87b253d421d6043836f6a5a629a/.travis.yml#L14-L25)]

This would make installation experience a ton easier.

update: Related: #55.

[2016-11-15 04:08] anhowe commented on #92
If there is a default value, it is not required in the parameters.  The powershell behavior should be the standard here, so please submit a bug to CLI team.  Also, why are you using 0.10.5 since the readme says only use 0.10.0, as anything > 0.10.0 can create broken deployments.

[2016-11-15 04:10] colemickens commented on #92
I thought we fixed this so the docs were less ambiguous? I already filed a bug on xplat-cli. I'll send a PR to cleanup the language about what version of xplat-cli to use.

[2016-11-15 10:04] #92 closed

[2016-11-15 11:21] iMelnik opened #96 "Support for AzureGerman/Custom Clouds"
Hi,
Trying to run ACS on AzureGermanCloud and found some missing parts:

- [/parts/kubernetesmastercustomscript.sh#L53](https://github.com/Azure/acs-engine/blob/master/parts/kubernetesmastercustomscript.sh#L53) lacks `"cloud": "${CLOUD_NAME}"`, essential to get kubelet working
- generated certificates do not have custom domains like cloudapp.microsoftazure.de
- generated ubuntu version is no longe

[2016-11-15 15:27] timfpark opened #97 "Create service principal instructions do not work"
I'm trying to create a service principal using the instructions on

https://github.com/timfpark/acs-engine/blob/master/docs/serviceprincipal.md

and are running into a number of difficulties with both the Azure CLI and the xplat Azure CLI.

With the Azure CLI, the following happens when I attempt to create a principal:

[code]

While on the xplat CLI, something similar happens with both the one st

[2016-11-15 16:08] timfpark commented on #97
I am not sure if this was an eventually consistent issue or not but reissuing the last command as:

[code]

made it complete successfully.

[2016-11-15 16:09] #97 closed

[2016-11-15 23:46] mogthesprog opened #99 "Question: Kubernetes and a custom VNET"
Hi Guys,

Great to see this open sourced (and in go)! I'm looking at using this package to deploy production kubernetes clusters, however the inability to deploy to a custom VNET in another resource group is a bit of a problem for us. I was wondering why this isn't possible? is it a constraint inherited from the resources deployed by the generated template, or a feature that needs adding in code?

[2016-11-15 23:49] colemickens commented on #99
There's actually an example cluster definition that enables it: https://github.com/Azure/acs-engine/blob/master/examples/vnet/kubernetesvnet.json

However, I've not tested it and I've heard there might be a problem with it. If you want to give it a shot we can troubleshoot it if the cluster's not working at the end.

[2016-11-16 01:40] colemickens opened #100 "k8s: label constraints on addons"
Before we can support clusters with both linux and windows nodes, we need to have os label constraints on the addons.

[2016-11-16 02:03] mogthesprog commented on #99
Thanks for the speedy response!

Your response made me go back and have another look - **it works!**

So the reason i'd given up so easily was going off the warning on [this](https://github.com/Azure/acs-engine/blob/master/examples/vnet/README.md) page. I got an error, complaining that the resource (VNET) couldn't be found, even thought the IDs were correct, even though looking at the IDs, they we

[2016-11-16 02:08] colemickens commented on #99
Can you please run some containers and make sure they start properly and let me know?

And docs PRs are hugely appreciated. We should get some sort of roadmap up for features we want to build. I'll make a note and try to add something soon.

[2016-11-16 02:10] mogthesprog commented on #99
Yeah sure, i'll double check and post back here. Reopening...

[2016-11-16 03:07] mogthesprog commented on #99
Yep, all seems to work.

I first deployed to one of our dev environments, which has a locked down vnet/subnets, that failed. I then created a temporary vnet to test this out with no custom NSG rules, all was good. :) Ran a few pods fine.

Would you guy be interested in http_proxy support? I may spend some time tomorrow looking at how to add proxy support here. Looking at the templates, some script

[2016-11-16 03:09] colemickens commented on #99
Is `http_proxy` meaning something that `docker` knows about to be able to `pull` through a restrictive firewall?

I don't think we have any need for it, but I think it's something we would consider merging, depending on the size of the change, how much it would take to support it, etc.

In the current kubernetes configuration, there is a single master that has etcd running as a systemd unit.

[2016-11-16 03:13] rgardler commented on #99
+1000 for docs patches :-)

---
Twitter: @rgardler

________________________________
From: Cole Mickens <notifications@github.com>
Sent: Tuesday, November 15, 2016 6:08:14 PM
To: Azure/acs-engine
Subject: Re: [Azure/acs-engine] Question: Kubernetes and a custom VNET (#99)

Can you please run some containers and make sure they start properly and let me know?

And docs PRs are hugely appreciated. We

[2016-11-16 03:21] mogthesprog commented on #99
Yeah as in proxy support for clusters that have to run in locked down networks, the same way we run our cluster on premise today. I wouldn't be surprised if we aren't the only ones interested in that support.

Thanks for the etcd notes. I only asked since on premise we run an etcd instance on each master (3 node masters) which runs in containers managed by the kubelet, so docker on those nodes hav

[2016-11-16 03:22] mogthesprog commented on #99
Will make a PR for docs tomorrow. :)

[2016-11-16 07:38] VincentLiu028 opened #102 "Can't list the acs created by commandline"
I use the xplatform cli 0.10.0, I followed the readme docuement and created acs cluster with docker swarm sucessfully with below command
$ azure group deployment create \
    --name="<DEPLOYMENT NAME>" \
    --resource-group="<RESOURCE_GROUP_NAME>" \
    --template-file="./_output/<INSTANCE>/azuredeploy.json" \
    --parameters-file="./_output/<INSTANCE>/azuredeploy.parameters.json
The problem is

[2016-11-16 08:37] tudvari opened #103 "Generated SSL certs issues"
Hi Guys,

I would like to ask a little help. I tried to provision a Kubernetes cluster with the acs-engine CLI tool. The tool siad provision is successfully ended.
[code]
[code]

I found the tons of the followed lines in a log of the hyperkube docker container:
[code]
If I try this request, I got this error:
[code]

Could you help me, what is wrong with my setup?
Thanks in advance.

[2016-11-16 08:42] rgardler commented on #103
Did you perform step 9 in the walkthrough at https://github.com/Azure/acs-engine/blob/master/docs/kubernetes.md?

[2016-11-16 08:43] rgardler commented on #103
Oh sorry, yes you did since I completely misread your error - sorry for the noise

[2016-11-16 08:50] tudvari commented on #103
No problem, I need your help :)

[2016-11-16 10:12] tudvari commented on #103
It seems to be, I found a partially solution: Dashboard stands on pending state. The problem was, my Service Principal doesn't have enough right to modify resources in Azure. After that the principal has more right, the pending services are started.

[2016-11-16 20:28] colemickens commented on #103
The curl error is expected, the CA here is self-signed, not a trusted public CA, so you'll need to tell curl about the CA we use. Additionally, the apiserver is protected with client cert auth, so you'd need to also tell curl about the client cert/key to use.

But I'm assuming that curl was just a debug tool to figure out the state of the apiserver... So, if you've got it running, can we close thi

[2016-11-16 20:35] tudvari commented on #103
Sure! We can close this issue, it seems to be working now. Thanks for your help.

[2016-11-16 20:35] #103 closed

[2016-11-16 20:48] colemickens commented on #102
Hi @VincentLiu028,

This is expected. "ACS-Engine" is a more IaaS-based solution. In this case, you are just creating raw Azure resources, so there's no actual "Container Service" object created.

[2016-11-16 22:42] colemickens opened #105 "k8s: windows: instance name differs from computer name, breaking things"
Let's consider a Windows node, as it were deployed by Anthony's Windows branch: https://github.com/Azure/acs-engine/tree/anhowe-wink8s.

## k8s-windowspool2-250945250

This node is identified in Azure by `k8s-windowspool2-250945250`.

This node has a hostname of `25094acs0901` (aka, the MachineName in Windows is `25094acs0901`)

The `kubelet` is overriding the hostname so that the apiserver identi

[2016-11-16 22:42] colemickens commented on #105
cc: @anhowe this is why logs and remote exec into a container doesn't work in Windows. It's possible this affects other things (though very likely it does not affect kube-proxy or the Service network).

[2016-11-16 22:46] JonathanFraser commented on #18
I was playing around doing something similar in cloud-formation and very quickly hit the 64K userdata limit.

[2016-11-16 22:56] colemickens commented on #18
There's three different issues I see here:

1. We shouldn't  have so many helper functions that purely serve to do string munging, base64 and gzip. We should have helper funtions injected into the template context so that someone can do `{{ .SomeField | b64 | gzip }}`. A large amount of boiler plate template functions could be purged.

2. There is an upper-bound of 64K on userdata. I don't think a

[2016-11-16 23:03] colemickens commented on #105
Actually, looks like we might get lucky and avoid this problem on 1.5: https://github.com/kubernetes/kubernetes/pull/33718

`v1.5.0-alpha.1` is broken in a different way for Azure right now, but when there's a new alpha cut, we should consider moving the Windows branch over to it. I also have a `hyperkube-amd64` container on my docker hub that was cut from master if someone wants to test this and

[2016-11-17 02:55] VincentLiu028 commented on #102
Got it. Thanks for the information.

[2016-11-17 02:55] #102 closed

[2016-11-18 02:08] OJDUDE opened #107 "Documentation missing details for region(s) generated kubconfig folder"
I managed to deploy a Kubernetes cluster successfully from the first time. It was actually great. I just noticed that the acs-engine created a kubconfig folder with server configuration for each supported region. I did not see the files   anywhere referenced in your docs on how to use. Can you please point to the docs that provide more details what to use these files for?

[2016-11-18 02:09] OJDUDE opened #108 "Documenation missing details on scale up\down scenarions"
In the documentation, there was a reference on how to use the API JSON file to scale up \ down the deployment. I did not see further details. How can I add \ remove nodes to an existing agents, master or add \ remove new agent pools?

[2016-11-18 07:19] canthefason opened #109 "Kubernetes vm scale up problem"
When I try to scale up the VM instances on Kubernetes via Container service,  it does not allow me to create a new node and returns the error below. Besides, it messes with my cluster, and it does not  allow me to reach to apiserver anymore.

[code]

[2016-11-18 16:07] canthefason commented on #109
I am still investigating this issue. To be more specific, after this scale up request, I can still reach the apiserver via the insecure port. It looks like a problem in network level. I will keep updating with my findings.

[2016-11-18 20:06] canthefason commented on #109
yes, it is definitely related to the VM types. When I try to create my cluster from the UI, it sets the agent VM value as Standard_DS1. It works fine for initial creation, but it does not work at all when it comes to scaling up the agents.

Then I tried to create my cluster with azure-cli. Initially, I set Standard_DS1 as the VM value, and it did not get validated. Later on, I picked the same VM v

[2016-11-18 20:11] colemickens commented on #109
Are you using ACS-Engine, or are you using the actual Container Service and trying to scale it via a PUT?

[2016-11-18 20:27] canthefason commented on #109
In the beginning, I used UI. But now I am using ACS-Engine.

There is one last thing I realized that might be helpful for you: I followed [these steps](https://github.com/Azure/acs-engine/blob/master/docs/acsengine.md) to generate necessary templates. After that, I checked azuredeploy.json, and I even did not see Standard_DS1 under "agentpool1VMSize.allowedValues".

[2016-11-18 22:29] colemickens commented on #109
cc: @anhowe for the question about the list of VM sizes.

Scaling in ACS itself is not yet supported, and in fact I believe we will soon be blocking updates until we implement scale up/scale down for Kubernetes.

With ACS-Engine, you can use the outputed "apimodel.json" file, change the desired values, and then re-deploy the template. There is an issue (#108) to document this process which we will

[2016-11-19 01:38] colemickens commented on #99
Reopening this, I've had multiple reports that things aren't actually working right. Another person reported the same issue, the cluster might appear to be okay, but containers aren't actually getting scheduled. There was also an assertion that the route table wasn't getting updated as expected.

[2016-11-19 14:53] mogthesprog commented on #99
No worries, yeah so i had a strange issue whereby the agent VMs weren't
being created properly - complaining that the storage account didn't exist.
So i thought there may have been a `dependson` statement missing from the
VMAS but that wasn't the issue. Still not sure what is casuing it but it's
intermittent. For the moment i'm putting it down to DNS updates in
repeatedly creating/destroying stora

[2016-11-19 16:29] kingliantop opened #112 "dcos cluster deployed fail in Azure China"
Hi guys,
I used acs-engine to generate acs template and deploy to China, while at the last step, it showed the following information:

info:    Resource 'dcos-agentpublic-nsg-31045692' of type 'Microsoft.Network/networkSecurityGroups' provisioning status is Succeeded
info:    Resource 'dcos-agentprivate-nsg-31045692' of type 'Microsoft.Network/networkSecurityGroups' provisioning status is Succeede

[2016-11-20 12:52] digeler opened #113 "Acs-engine container is not compiled to use ./acs engine"
using docker file  with build command ,does not generate the executable.
you have to compile manually

[2016-11-20 16:08] kingliantop commented on #112
It seems the default mirror issues, how can I download everything from https://dcosio.azureedge.net/dcos/testing? It seems that I can't access that directly. I want to make a mirror in China. Thanks a lot!

[2016-11-21 08:35] resouer opened #114 "Remove out hard coded image url"
Since `gcr.io` is not reachable from China mainland, I noticed all `acs-engine` guides in China are suggesting users to replace `gcr.io` in both code and configuration files to something else, and, what's worse, **re-compile** acs-engine to make this work.

This is very bad experience.

If we can not solve the URL problem, we can try to remove all image URLs in code at least, for example: https://

[2016-11-21 09:41] kingliantop commented on #112
Deployed successfully using my mirror, open another case to see how we can using customized URL besides manually change that.

[2016-11-21 09:41] #112 closed

[2016-11-21 09:51] kingliantop opened #115 "Can't change default DCOS package download URL"
Hi,

I used acs-engine  to generate dcos ARM json file, the default package download address as following:

https://dcosio.azureedge.net/dcos/testing/bootstrap/${BOOTSTRAP_ID}.bootstrap.tar.xz
https://az837203.vo.msecnd.net/dcos-deps/docker-engine_1.11.2-0~xenial_amd64.deb
https://az837203.vo.msecnd.net/dcos-deps/ipset_6.29-1_amd64.deb
https://az837203.vo.msecnd.net/dcos-deps/libltdl7_2.4.6-0.1_am

[2016-11-21 20:15] colemickens commented on #114
That's just the default value. If you look at the output, you'll see that `kubernetesHyperkubeSpec` can easily be changed before you perform the deployment.

I actually use this regularly to test private builds of hyperkube that are pushed to a `docker.io` registry rather than a `gcr.io` registry, for example.

[2016-11-21 20:22] colemickens commented on #113
It's a development environment container, not a build container. What you've described is expected and desired behavior. The docs encourage you to do call `make` after entering the container which is all that is needed to build it.

[2016-11-21 20:22] #113 closed

[2016-11-22 01:39] resouer commented on #114
Good to know it's configurable. @colemickens can you make sure there're no `gcr.io` hard coded in the code? Then I can close this issue.

[2016-11-22 01:57] colemickens commented on #114
Actually, no, that's not the only place it needs to be configured. It also needs to be replaced in any of the manifests where we are pulling containers for addons.

We don't have a great way of making this adjustable right now. For right now, it'd be very easy for you to maintain a fork that has the relevant mirrors you need. We can look at how we might support making this adjustable in the addon

[2016-11-22 02:08] resouer commented on #114
Thanks! Closed.

[2016-11-22 02:08] #114 closed

[2016-11-22 20:08] jpoon opened #116 "[kubernetes] systemctl stop kubelet.service"
Unable to stop kubelet.service via systemctl on k8s master node.

[code]

Should be a fairly easy fix if you name the docker image when starting:
https://github.com/Azure/acs-engine/blob/master/parts/kubernetesmastercustomdata.yml#L323

[2016-11-22 22:58] josibake opened #117 "nameSuffix parameter missing from azuredeploy.parameters.json file"
The `nameSuffix` field is missing from the azuredeploy.parameters.json file following template generation. It is in the azuredeploy.json file and causes the following error when following the documentation:

[code]

The error is solved by manually adding the `nameSuffix` field to the azuredeploy.parameters.json file.

[2016-11-22 23:17] colemickens commented on #117
It's not really required and that issue is fixed in newer versions of the
legacy CLI.

Unfortunately, new versions of the legacy CLI have a different issue. I
recommend you try the new Python based Azure CLI:
https://GitHub.com/Azure/azure-cli

[2016-11-23 01:07] colemickens commented on #116
That sounds like the right fix to me as well. Patches welcome.

[2016-11-23 16:10] josibake commented on #117
Makes sense. I'll give the azure-cli a shot. If anything, having this noted in the issues will hopefully save somebody some headache.

[2016-11-24 11:30] jpoon opened #120 "[kubernetes] unable to create cluster with custom vnet"
**What happened**:

Creating a k8s cluster using an existing vnet, the cluster is unable to create routes in the Azure Route table, and is therefore unable to schedule any pods.

**How to reproduce it**:

1) Create a custom vnet
2) Configure the template and deploy

When the cluster is up, the nodes report as ready:

[code]

Wtih *NetworkUnavailable* message of **RouteController failed tocreate a

[2016-11-24 11:31] jpoon commented on #120
cc @colemickens can provide private keys to help debug, but it should be fairly easy to get a repro

[2016-11-24 11:36] colemickens commented on #120
Problem is here: https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/azure/azure_routes.go#L90

[2016-11-24 11:42] colemickens commented on #120
We got straight to the route table that is listed in the config file, but we also check the subnet to see if it's properly configured.

Options:
1. Skip the subnet check
2. Take a special `vnetResourceGroup` that can override. (Can you reference a vnet in a different sub? If so, also need `vnetSubscrpitionId)
3. Start versioning the config with a nested struct, or two-pass decode, and then start u

[2016-11-24 11:44] colemickens commented on #120
This presents another question though, where *does* the route table live. Need to find out if the route table for the subnet in the existing vnet can live in both resource groups, only one, etc. If it can live in the existing-vnet's resource group, then we need to support the full identifier string for the `routeTable` field anyway...

[2016-11-25 01:06] wangtt03 commented on #115
Hi, kingliantop
after changing the dcosprovision.sh, you need to run `go-bindata` command to generate the template.go file under the pkg/acsengine folder. then you can re-compile the acsegine and generate new azuredeploy.json.

[2016-11-28 06:33] kingliantop commented on #115
@wangtt03
Yes, I used go-bindata with following steps:
1. Install go-bindata
2. update parts/dcosprovish.sh
3. delete pkg/acsengine/templates.go
4. generate new templates.go file:
~/gopath/bin/go-bindata -o templates.go ../../parts/.
5. then when I go back to acs-engine home to build new acs-engine with go build, I saw the following
errors:
~/gopath/src/github.com/Azure/acs-engine$ go build
acs-en

[2016-11-28 13:01] mogthesprog commented on #120
Just came back here to report the same issue (finally got around to looking at it from #99, sorry for the delay). My two cents would be that full Resource IDs feels like it would be the azure idiomatic way of declaring resources, makes me wonder if point 3 of yours makes more sense here?

[2016-11-28 14:17] erikrs opened #122 "Azure Application Gateway support / SSL termination"
Hi,

I want to deploy Kubernetes on Azure and wanted SSL termination at load balancer level (typical as ingress object in Kubernetes).

As of now, only Azure Load Balancers (L4) are provisioned by acs. Is there a roadmap for supporting Application gateways ?

In the mean time, what is my best option to implement SSL offloading ? Eg. could I put an Application gateway in front of the loadbalancers

[2016-11-28 17:32] kim0 commented on #122
As a user, I'm hitting this exact need right now. I didn't try it yet, but my understanding is that I could/should be deploying nginx ingress-controller, with kube-lego to do the letsencrypt dance and get me certificates. The nginx ingress-controller would be exposed as a regular k8s service, through the Azure-LB.

If someone has more insight/workaround, or working yaml files, it would be great to

[2016-11-28 17:41] kim0 opened #123 "[kubernetes] k8s cluster starts working after nodes are restarted"
I created a sp through `az ad sp create-for-rbac --role contributor --scopes /subscriptions/xxx-yyy-zzz`, then I deployed a k8s cluster through the portal UI. After the boxes were up, I ssh'ed into master node and:

[code]

but `az login` was working fine with my sp account! Confused, I tried restarting the k8s api server using `docker restart foo`, and suddenly the k8s api server was responding.

[2016-11-28 17:45] kim0 opened #124 "[kubernetes] admin-user should be member of group docker"
In the startup scripts somewhere, perhaps this should be executed
`usermod -a -G docker $ADMIN_USER`

[2016-11-29 07:29] wangtt03 commented on #115
you need to run the go-bindata command like this:
go-bindata -o template.go -pkg acsengine -prefix ../../parts ../../parts

[2016-11-29 07:30] wangtt03 commented on #115
@kingliantop
you need to run the go-bindata command like this:
go-bindata -o template.go -pkg acsengine -prefix ../../parts ../../parts

[2016-11-29 20:29] colemickens commented on #122
\+ @JargoonPard to comment on the status of `azure-ingress-controller`.

[2016-11-30 07:08] jpoon commented on #120
Thanks @colemickens. Would it not be easiest to modify the `azure.json` that the ACS-engine generates and puts on the master node?

I think this is what you meant by option 3. As deploying Kubernetes under a custom VNET never worked, there would be no need to start versioning this config......yet.

[2016-11-30 07:10] colemickens commented on #120
@jpoon How would that help anything? The problem is that the code assumes that all resources are in the same resource group specified in the config file.

[2016-11-30 07:14] jpoon commented on #120
In our case, everything is under the same resource group. Are there situations where people would deploy a VNET under a separate resource group?

[2016-11-30 07:15] colemickens commented on #120
I had assumed as much, but I don't actually know that as a solid fact. Is that something you would have data on?

@rgardler or @sauryadas for customers who want to deploy clusters (particularly Kubernetes) into existing vnets... are they generally putting the cluster into the existing resource group, or are the existing vnet and new cluster typically in different resource groups?

[2016-11-30 08:26] jpoon commented on #120
As *custom vnets don't work at all*, would it be reasonable to do a quick fix to support things in the same RG? This is a blocking issue with one of the partners I'm working with.

[2016-11-30 17:58] colemickens opened #127 "Output directory should be named by dns-prefix rather than random numbers"
This has two benefits:

1. We would warn if the user is generating a template with a dnsPrefix that already exists. Means they're probably going to have a conflict at deploy-time, and/or they forgot to update the dns prefix in the model to be different for their next cluster.

2. It's a lot more intuitive. I still don't like the fact that we expose this randomly generated number to  users in the f

[2016-11-30 18:33] colemickens opened #129 "Kubernetes should have an HA mode with multiple masters"
Issue to track the addition of HA to Kubernetes in ACS-Engine.

Depending on where `kubeadm` is at whenever we get to this, we may want to adopt it to minimize our maintenance burden.

[2016-11-30 19:15] anhowe commented on #127
yes, this sounds good, let's do this.

[2016-11-30 20:55] raanand-home opened #132 "dcos example seems broken"
I am pretty new here
following the instruction and for some reason the template failed.
{
  "error": {
    "code": "PropertyChangeNotAllowed",
    "target": "customData",
    "message": "Changing property 'customData' is not allowed."
  }
}

attached template files
[ocdc.zip](https://github.com/Azure/acs-engine/files/622946/ocdc.zip)
azure portal errors
![image](https://cloud.githubusercontent.com

[2016-11-30 21:07] colemickens commented on #132
Please provide more details about what you did. It looks like you deployed a cluster and then tried to change it and redeploy? Is that the case? If so, please describe exactly what steps you took.

[2016-11-30 21:20] colemickens commented on #120
Due to the fact that the apimodel takes vnetSubnetID as the full identifier string (which I agree with), it means that for this "quick fix" we need two template functions - one to extract the vnet name, and another to extract the subnet name.

So that in the template we can write `{{ subnetNameFromId .VnetSubnetID }}` (very pseudocode-y).

PRs are very welcome, I'm not going to be able to get to t

[2016-11-30 21:20] colemickens commented on #116
Reopening since this change was reverted.

[2016-12-01 05:37] colemickens commented on #123
How much time elapsed between the SP creation and the reboot?

Also, I know it's a weird question, but what timezone did you execute the SP creation command in?

[2016-12-01 06:00] colemickens commented on #117
Closing this. Feel free to reopen if you're not unblocked.

[2016-12-01 06:00] #117 closed

[2016-12-01 09:52] kim0 commented on #123
@colemickens .. Let me answer the second question first. I executed sp creation commands, on my laptop in UTC+2 TZ!

For the first question, it's not entirely clear to me. I created the SP using the new python `az` cli. Then, I submitted the k8s deployment through the azure portal. I guess it took like 5 mins to deploy. After that, I ssh'ed into master. It and all agents were not working `kubectl

[2016-12-02 11:06] janpavtel opened #133 "Allow to parametrize ephemeral disk layout for dcos nodes."
Hi
it would be helpfully if `acs-engine` would allow to parametrize ephemeral disk layout for `dcos`. Currently we can manually change values inside the file [dcoscustomdata184.t]( https://github.com/Azure/acs-engine/blob/master/parts/dcoscustomdata184.t)
[code]
and next rebuild project and generate deploy templates. But we will end up with all nodes with the same layout. One of the disk (ephemera

[2016-12-06 15:02] kingliantop commented on #115
@wangtt03 It works! Thanks so much!

[2016-12-06 15:02] #115 closed

[2016-12-08 09:27] VincentLiu028 opened #136 "Docker Swarm: can't see agent nodes with docker node ls after deployment"
Seems ACS still use the standalone way to install and configure Docker swarm. Since installed docker on host is already 1.12, can we change to integrated swarm mode which is recommended by Docker? So we could use docker service create command etc

[2016-12-08 13:27] dcieslak19973 opened #137 "Managed disks should mount to /dcos/volumn[0-3]"
On agents created with one or more Managed Disks.

Also, the agent should be able to see these disks and offer them as resources to Mesos

[2016-12-09 01:28] slack opened #139 "label k8s nodes with agent pool and custom labels"
It would be great if nodes were labeled with the agent pool (and any other metadata that makes sense).

[2016-12-09 17:02] kim0 commented on #123
Rebooted remaining nodes, and they came up in `ready` state

[2016-12-12 09:20] oshalygin opened #140 "Service Principal docs aren't consistent with the cli"
![image](https://cloud.githubusercontent.com/assets/7675942/21093905/28b46246-c009-11e6-982b-889dd6324e7d.png)

the actual output is `appId`, `name`, `password`, `tenant`

[2016-12-12 19:27] jcrowthe opened #143 "Master Network Security Group goes unused in DC/OS"
In the output DC/OS template, the master network security group goes unused, as it is never actually associated with the master subnet. The following is the code snippet (in context) that attaches the master NSG to the master subnet:

[code]

Specifically, this section:
[code]

This has been verified in the current template output of DC/OS.

[2016-12-13 18:14] colemickens opened #145 "Master Profile supports StorageProfile?"
Does the master profile section allow the user to specify the storage type?

cc: @anhowe @khenidak

[2016-12-13 18:17] khenidak commented on #145
no https://github.com/Azure/acs-engine/blob/master/pkg/api/vlabs/types.go#L115

[2016-12-15 01:43] anhowe commented on #143
Thanks for the bug report.  We have identified the bug and we will fix in new year.  In the meantime there is no security issue since the master LB provides an implicit locked down NSG.

[2016-12-15 07:47] jcorioland opened #148 "Docker Swarm deployment in an existing VNET with a DNS server fails"
When using ACS Engine to deploy a Docker Swarm cluster in an existing VNET that also contains a DNS server, the deployment fails.

The error occurs when executing the configure-swarm-cluster.sh. The master hostname could not be resolved:

[code]
Thanks

[2016-12-16 09:31] kaubry commented on #109
Any estimation by when we can expect scaling functionality on Azure ?
In the meantime, is there any documentation on how to add nodes manually ?
Do you know if this will need to redeploy the cluster or if the already created cluster can be "upgraded" to support new functionalities ?

[2016-12-16 09:40] colemickens commented on #109
@kaubry In the reply just above yours I described how acs-engine can be used to scale up/down.

You don't have to redeploy, but upgrading Kubernetes versions is currently a manual process. You can read a bit about that here. https://github.com/colemickens/azure-kubernetes-status/issues/15 We should document this in this acs-engine repo soon.

CC: @rgardler for timelines on scaling / upgrades. Not

[2016-12-16 10:26] kaubry commented on #109
@colemickens Thanks you for you quick reply. I manage to make everything work (upscale and upgrading Kubernetes version) but for scaling down, acs-engine doesn't seems to handle it. I need to manually remove the created VM and the corresponding network interface. Is it the right way to proceed or am I missing something ?

[2016-12-16 10:47] colemickens commented on #109
@kaubry You are correct.

[2016-12-20 06:44] VincentLiu028 opened #150 "What's the registry solution for regions ACR not available?"
It needs registry service for using ACS on Azure. ACR seems a good solution. But it's in preview in limited region. What's the recommended way for regions that ACR are not available like Mooncake?

[2016-12-20 07:46] colemickens commented on #150
I'd suggest posting this question on https://github.com/Azure/acr

[2016-12-20 07:46] #150 closed

[2016-12-22 02:34] politician opened #154 "Question: Does the Kubernetes networking model use an overlay network (Weave, Flannel)?"
What is the current networking model for Kubernetes on Azure?  Previous attempts involved using Weave or Flannel to create an overlay network were found to significantly affect performance due to limitations of Azure networking.

In particular,
1. Are pod IP addresses assigned from an overlay network?
1. Is the pod overlay network using GRE/VXLAN or is that still prohibited?
2. If the overlay netw

[2016-12-22 03:23] colemickens commented on #154
Weave hasn't been used for some time. `azkube` used `flannel` and `kubernetes-anywhere` and `acs-engine` both use native Azure networking - the same way it works in GCE/AWS.

1, There is no overlay. The IPs are allocated from a subnet assigned to each node by apiserevr.

2. n/a

3. n/a

4. That's what we use now, but it's all automated because the `cloudprovider` implementation for Azure does it f

[2016-12-22 07:24] politician commented on #154
That's ideal.  Thanks for the update!

[2016-12-22 07:24] #154 closed

[2016-12-26 12:17] vishal-biyani opened #155 "Kubernetes Credentials retrieval from API after cluster creation"
I am not sure if this should go here or at [REST API specs](https://github.com/Azure/azure-rest-api-specs) but I am filing one for discussion if someone has encountered same issue earlier.

After setting up the Kubernetes cluster by calling ACS APIs the only way that is documented to access Kubernetes API seems to be to retrieve the ```kubeconfig``` and then connect with API using certs or interac

[2016-12-26 12:37] colemickens commented on #155
Yes, we plan to make a way of retrieving credentials through the API
instead of SCPing it from the master.

But why do you want something besides the KUBECONFIG file? Every Kubernetes
client I've seen accepts that file. If you look inside you'll find the
constituent pieces - the root CA public key, the client cert/key, etc.

Just trying to understand exactly what you're asking for.

On Dec 26, 201

[2016-12-26 12:50] vishal-biyani commented on #155
@colemickens Thanks for quick response. Let's assume a use case of spinning up a new cluster and deploy an app right after that using Kubrnetes API let's say via Jenkins. I can SCP the Kubeconfig and use it but that's slightly more complex than an API call. Also in some cases I don't want to use kubectl and prefer API only.

[2016-12-27 06:41] vishal-biyani commented on #155
@colemickens Is there any timeline or rough plan about when this could get implemented?

[2016-12-27 13:13] tombuildsstuff opened #156 "Feature Request: Mesos Support"
:wave: Hello

Are there any plans to add support for Mesos to Azure Container Service (ACS)? Whilst DCOS builds upon the same foundation - we find that Mesos fits our needs better over DCOS.

I'm not 100% sure where I should be requesting this - but here seems to be the most sensible place?

Presumably this would also make it possible to create ACS instances paid for via Azure Credits too? Right n

[2016-12-27 16:03] colemickens commented on #156
cc: @rgardler

On Dec 27, 2016 5:13 AM, "Tom Harvey" <notifications@github.com> wrote:

[2016-12-27 18:54] olostan commented on #123
@kim0 How you get api server restarted? I've ssh-ed to master, tried to do same as you, but:
[code]

[2016-12-27 19:05] colemickens commented on #123
@olostan Your SP is very likely misconfigured. Please check the troubleshooting steps here: https://github.com/Azure/acs-engine/blob/master/docs/kubernetes.md#troubleshooting

[2016-12-27 19:40] olostan commented on #123
@colemickens wow... thnx. That helps - seems I really have
[code]

[2016-12-27 19:42] colemickens commented on #123
@olostan If you used `az acs create`, you are correct, you shouldn't be experiencing this issue.

Can you please detail the exact command you ran (possibly looking through your shell history) and also paste the **full** output from `az --version`? Thanks!

(We might end up moving this over to https://github.com/Azure/azure-cli ...)

[2016-12-27 20:51] olostan commented on #123
Created https://github.com/Azure/azure-cli/issues/1620
@colemickens if you have any ideas how I can manually add authorisation rights please share! thnx

[2017-01-03 19:00] JargoonPard commented on #122
Sorry for the late response. I would suggest using the NGINX ingress controller at this point as @kim0 suggests.

[2017-01-03 20:25] xtophs opened #157 "broken link / missing Windows container walkthrough"
The page at: https://github.com/Azure/acs-engine/tree/master/examples

references the Windows Container walkthrough which used to be at https://github.com/Azure/acs-engine/blob/master/examples/windows.

The location is no longer valid.

[2017-01-05 01:32] rgardler commented on #156
We do not currently plan to offer Apache Mesos without the DC/OS bits. However, if you want to edit the scripts so they only install Mesos then we would consider adding it as an option within ACS Engine.

I don't follow your point about Azure Credits. ACS is not a charged for service beyond the underlying resources (VMs, Storage etc.) which are charged in exactly the same way as any other. You sho

[2017-01-05 10:42] vishal-biyani opened #159 "Feature request: Better API authentication mechanism"
Currently, the way authentication works in ACS requires you to copy the kubeconfig file and then talk using certs. This is not the cleanest way IMHO and there should be a better API driven way of working doing authentication. I think we have enough examples already and I will talk about two alternatives that I can think of:

1) The Azure service principal itself as a way to authenticate - this is

[2017-01-06 23:42] timbrand commented on #109
Also, don't forget to download the OS disk of the agent. Otherwise you'll get a "TargetDiskBlobAlreadyExists" error when scaling up again.

[2017-01-06 23:43] colemickens commented on #109
Thanks @timbrand , we need to document this process and that's a great point to include.

[2017-01-06 23:57] colemickens commented on #159
@vishal-biyani We've been thinking about this a bit...

In general, I think that `kubeconfig` is the standard, right way to talk to the cluster. Even in scenarios where a bearer token is used, it would likely be presented in the form of a `kubeconfig` file as this is the standard for all Kubernetes-related applications and libraries that I've seen.

(If you disagree with this assessment, I'm curio

[2017-01-07 18:42] rguthriemsft opened #163 "Doc update (Kubernetes): Step 6: Key Management and Agent Forwarding with Windows Pageant"
The documentation for ssh keygen shows a screenshot of putty with port 2200, but the templates generated use port 22.  Request that step 6 documentation and screenshot be updated to reflect what template is using.

https://github.com/Azure/acs-engine/blob/master/docs/ssh.md#ssh-key-generation

[2017-01-09 19:46] xtophs commented on #137
My PR (https://github.com/Azure/acs-engine/pull/80) mount the disks. Waiting for approval

[2017-01-09 22:01] ams0 opened #165 "Failed to compile"
Following https://github.com/Azure/acs-engine/blob/master/docs/acsengine.md on macOS (Sierra, Go 1.7.3).

[code]

editing validate.go like this:

[code]

fixed it and compilation succeeded.

[2017-01-09 22:02] raveeram commented on #165
Thanks, a PR with the fix is out and I'll be checking in shortly.

[2017-01-09 22:20] #165 closed

[2017-01-10 14:13] yevhenvolchenko opened #167 "kubernetes-dashboard pod does not start after k8s: v1.4.6 -> v1.5.1 update"
After  v1.4.6 -> v1.5.1 update [https://github.com/Azure/acs-engine/commit/88236dfe19eccdeb4e3f58827a68c0e09c97a5d8](url) kubernetes-dashboard pods do not start.

[code]

[code]

[code]

[2017-01-10 18:03] avaranovich opened #168 "AzureFile fails to mount"
I cannot make AzureFile mount to work for pod.
If I ssh into a master, and try to mount a local folder
`sudo mount -t cifs //accname.file.core.windows.net/test ./test -o vers=3.0,username=accname,password=base64pwd,dir_mode=0777,file_mode=0777`
it works.

Hovewer, if I try to follow this example
https://github.com/kubernetes/kubernetes/blob/master/examples/volumes/azure_file/README.md

I am gettin

[2017-01-10 18:08] colemickens commented on #168
Can you please post your yaml file?

[2017-01-10 18:17] avaranovich commented on #168
[code]

azure.yaml

[code]

[2017-01-10 18:22] colemickens commented on #168
The password in the initial post looks garbled. Can you confirm it's correct in your yaml?

[2017-01-10 18:22] colemickens commented on #168
Seems like error 32 is an authentication issue as well.

[2017-01-10 18:23] avaranovich commented on #168
in yaml file it is just a base64 format -- a key copied from the Azure Portal.

[2017-01-10 18:24] colemickens commented on #168
The key you copied from portal was `52�Ԋx��~k�I�&����e�F={�:j���� �Jp�$����d��p^�g�ے�吞L���LKE�/�` ?

[2017-01-10 18:25] colemickens commented on #168
You need to base64 encode it again, I'm guessing is the step you missed.

[2017-01-10 18:40] avaranovich commented on #168
This was the missing step indeed. I got a wrong impression, that the key is already base64 encoded, since the kubernetes validation did not complained.

[2017-01-10 18:40] #168 closed

[2017-01-10 18:43] colemickens commented on #168
Glad to hear it's working! Cheers!

[2017-01-10 19:09] #167 closed

[2017-01-10 20:16] colemickens commented on #120
I have a branch here that might fix this issue for deployments into a single RG. I don't have an easy way of testing it. Is anyone here willing to give it a shot? https://github.com/colemickens/acs-engine/tree/colemickens-pr-fix-custom-vnet

[2017-01-10 22:39] lmickh commented on #120
@colemickens I tested the branch is with a config very similar to the custom vnet example.  New single RG, new vnet, and so on. Basically just changed the vnet and RG names.  The result after applying the templates was the same as before.  Both vnetName and subnetName are fully qualified in `/etc/kubernetes/azure.json`.  Not sure why that is the case.

[2017-01-10 22:47] colemickens commented on #120
I think I fixed it. Could I get you to pull, rebuild and try again? Thanks so much.

[2017-01-10 23:08] AlexGrs opened #175 "Kubernetes - Cluster do not start"
After deploying a cluster using acs-engine (following fix for kubernetes dashboard), the cluster do not start anymore after deploy. I'm on commit `c67286684e9cfa78d189afb392d9d2479eb92724`.

[code]

[2017-01-10 23:09] AlexGrs commented on #163
I would also add that in the deployment output of azure container service, the output says you must connect to master using 2200 port instead of 22 port.

[2017-01-10 23:09] colemickens commented on #175
Your service principal is likely wrong. Please check the troubleshooting steps: https://github.com/Azure/acs-engine/blob/master/docs/kubernetes.md#misconfigured-service-principal

[2017-01-10 23:15] lmickh commented on #120
No dice.  Error on the deployment:
[code]

[2017-01-10 23:36] AlexGrs commented on #175
It's strange. I tried again using the procedure https://github.com/Azure/acs-engine/blob/master/docs/serviceprincipal.md and used the client_id and secret generated. Still my new cluster still have issue.

`Jan 10 23:35:11 k8s-master-40256100-0 docker[5299]: E0110 23:35:11.849237    5750 kubelet_node_status.go:70] Unable to construct api.Node object for kubelet: failed to get external ID from clou

[2017-01-11 06:11] yangl900 commented on #139
+1. I would like labels e.g. VM SKU, and if possible, custom labels specified from apimodel.

[2017-01-11 06:17] yangl900 opened #176 "Feature ask: allow secret reference from KeyVault"
Today the apimodel contains all the secrets inline, so does the generated ARM template parameter files. ARM natively supports KeyVault reference as parameter.

E.g. my parameter files that I can checkin to repo looks like:

[code]

ARM will retrieve the secret safely on deployment time, as user I don't need touch the secrets at all.

It will be nice if acs-engine can:
1) on generating secrets, sup

[2017-01-11 06:28] yangl900 opened #177 "Remove service principal credential from k8s agent node"
Today by default we leave the SPN credential on k8s agent node. It seems not necessary (or I missed any scenario). The SPN has pretty powerful permission in control plane. For a better security model, i think we should only have the master node be able to get the SPN token.

[2017-01-11 06:38] colemickens commented on #177
Kubelet uses it for self-labeling/identification today, but it could use a read-only SP for that. In order to do that though, we'd have to have two service principals which would be a change from the current api model.

I think instead we should try to support this via MSI so that mess can be hidden from you. Is that reasonable? To aim for just having it have read access?

[2017-01-11 07:12] yangl900 commented on #177
Probably need understand more about self-labeling, can master do that instead? from my own testing, if I remote the SPN it doesn't seem have a functionality impact.

MSI could be much better, and I think kubelet should not assume the MSI has permission to read the node itself from control plane. if it lacks such permission, it's probably not the end of the world. we should let everything else cont

[2017-01-11 07:43] colemickens commented on #177
Your other issue, about labeling with the SKU... if you had a SPN and the cloud-provider/config on, then your nodes would've have gotten region/sku/fault-domain labels automatically.

Well, in the case of MSI, we could choose to give it just read-only permissions. I guess users could modify the template to remove it if they wanted, but I think this is behavior we want to have.

Long term, these th

[2017-01-11 07:45] colemickens commented on #175
Please also ensure you're in the correct subscription in the CLI and also that your azure-cli is up-to-date. Early versions had bugs that would cause the credentials to not activate for hours depending on your timezone or might not have assigned permissions to the SP by default.

[2017-01-11 07:49] colemickens commented on #163
Can you show me an example @AlexGrs ? I can't see where we'd be outputting that for ACS or ACS-Engine.

[2017-01-11 08:27] colemickens commented on #120
Okay, I pushed another iteration up, let me know if you try it (thanks for guinea-pigging it, I really appreciate it).

[2017-01-11 09:40] AlexGrs commented on #175
@colemickens : it was probably an outdated version of azure cli. i tried it again this morning and it works flawlessly.

[2017-01-11 09:46] colemickens commented on #175
Great to hear!

[2017-01-11 09:46] #175 closed

[2017-01-11 13:45] avaranovich opened #178 "Enable new APIs"
To be able to run chron jobs, it is required to have batch/v2alpha1 enabled on the API server
http://kubernetes.io/docs/user-guide/cron-jobs/

would be good to have it enabled on ACS as well, or have a guide how to do enable it manually.

[2017-01-11 14:38] josibake commented on #178
+1

[2017-01-11 16:40] lmickh commented on #120
Hmm something went wrong again.   Both the masters and agents looks like this now:
[code]

[2017-01-11 18:01] AlexGrs opened #179 "[Kubernetes] External IP not set"
I created a service with kubectl on a cluster deployed with acs-engine:

[code]

But when I list the external IP it's still blocked on `<none>`

[code]

Is there something I should change in this configuration ?

[2017-01-11 18:04] AlexGrs commented on #179
My bad I made a mistake in my deployment process. It created a service but with the wrong type.

[2017-01-11 18:04] #179 closed

[2017-01-11 19:49] rgardler commented on #81
I'm sorry nobody responded to this, looks like it slipped through the net. Your questions may no longer be important to you, but for the archives I will answer and close the issue, please feel to reopen if you have follow up questions.

1) K8s support is in preview and only supports a single master. This will change to match the other orchestrators soon.

2) Similarly scaling in K8s is not current

[2017-01-11 19:49] #81 closed

[2017-01-11 19:51] rgardler commented on #96
I'm sorry we did not respond to this in a timely way. Azure German Cloud is not currently supported. Though it is on the roadmap as you can imagine.

Your report is very helpful, thank you. We accept patches too if you try the above  fixes and find they work.

[2017-01-11 19:55] rgardler commented on #136
Docker Swarm Mode is not currently supported. You can expect to see this included the future .

[2017-01-11 19:55] #136 closed

[2017-01-11 22:19] #140 closed

[2017-01-12 00:14] colemickens commented on #120
@lmickh ha, off by one. Just pushed another one if you want to try.

[2017-01-12 00:39] colemickens commented on #178
I don't think ACS is going to be enabling alpha-level features.

You can edit the templates here in ACS-Engine and easily add this ([in the code, here](https://github.com/Azure/acs-engine/blob/master/parts/kubernetesmastercustomdata.yml#L96)). In the future we can look at adding this into the apimodel as well so that you wouldn't have to make the templates changes manually.

[2017-01-12 02:01] colemickens commented on #148
Hi @jcorioland.

It looks like that check was for a platform issue that has since been resolved. Would you be willing to remove this line so that the deployment skips the likely-unneeded network validation? https://github.com/Azure/acs-engine/blob/master/parts/configure-swarm-cluster.sh#L99

[2017-01-12 10:39] avaranovich commented on #178
enabling some king of OOB experimental mode flag would be a good idea to have the latest kubernetes bits on ACS.

[2017-01-12 12:46] alxlchnr opened #180 "k8s: Make kubeClusterCidr, kubeServiceCidr, kubeDnsServiceIp configurable for custom VNet"
In case you want to deploy a kubernetes cluster in an existing VNet which has a different address space than the default (10.0.0.0/8) you also want to adjust the hardcoded values for kubeClusterCidr, kubeServiceCidr, kubeDnsServiceIp. Currently the only way to achieve this is to deploy the templates and change the relevant files on the created master and agent vms. But you may still face problems.

[2017-01-12 17:28] lmickh commented on #120
@colemickens I'm not seeing a new commit on that branch.

[2017-01-12 19:18] colemickens commented on #120
I force pushed.

On Jan 12, 2017 9:28 AM, "Lucas Harms" <notifications@github.com> wrote:

[2017-01-12 21:02] colemickens commented on #120
Sorry @lmickh apparently I commit --amended last night, but forgot to push. I've just pushed the change up now...

[2017-01-13 14:21] julienlau commented on #133
+1
+1 handle mesos disks of type MOUNT

I was force to add something like this to use mesos disk of type MOUNT for statefull service

bootcmd:
- bash -c "if [ ! -f /var/lib/sdb-gpt ];then echo DCOS-5890;parted -s /dev/sdb mklabel
  gpt;touch /var/lib/sdb-gpt;fi"
- bash -c "if [ ! -f /var/lib/sdc-gpt ];then echo DCOS-5890;parted -s /dev/sdc mklabel
  gpt;touch /var/lib/sdc-gpt;fi"
- bash -c "if [ !

[2017-01-13 14:25] julienlau opened #182 "[dcos] zookeeper error jna missing on master nodes"
HI,
The jna library seems to be missing from the ubuntu image used for the master nodes.
Zookeeper seems to work, but always show the error messages below.
Would it be please possible to include jna in the ubuntu image used for DCOS ?
Thanks and regards,
JL

Fri Jan 13 12:42:33 UTC 2017 ERROR Cleanup Task: at java.lang.ClassLoader.defineClass1(Native Method)
Fri Jan 13 12:42:33 UTC 2017 ERROR Clea

[2017-01-13 18:43] colemickens commented on #182
You're saying DCOS's ZK requires side-loading other Java classes into the environment?

What Ubuntu package provides those classes? Why does this change need to be made in ACS rather than in how DCOS packages/ships ZK?

[2017-01-15 16:02] avaranovich commented on #178
I applied the following change https://gist.github.com/avaranovich/c1f944343b98e7627d0265b85ca641f1#file-kubernetesmastercustomdata-yml-L111
after re-building the necessary artifacts with ./acs-engine examples/kubernetes.classic.json
I deployed the template with Azure CLI 2.0.

Now, if I try to deploy a job
https://gist.github.com/avaranovich/c3a5784d08bb7aca42991e27f48314ab

I am still getting
`e

[2017-01-15 20:05] josibake commented on #178
@colemickens I can second what Andrei just described. Changing the template did not appear to change anything.

[2017-01-15 21:31] colemickens commented on #178
You have to rebuild the binary when you change template parts.

On Jan 15, 2017 12:05 PM, "Josiah Baker" <notifications@github.com> wrote:

[2017-01-16 06:24] avaranovich commented on #178
After changing the part, I did "go build" to re-build acs-engine, then re-generated the templates. Did I miss some steps? I understand, the content of the parts gets embedded as binary custom data into the templates, but I was not sure what are the excact steps to get custom data updated.

[2017-01-16 13:35] avaranovich opened #184 "Unable ssh into an agent node"
After I ssh into a master node using FQDN, I am trying to ssh into the agent node from the master node

None of the users work
`azureuser@k8s-master-36439165-0:~$ ssh azureuser@k8s-agent-36439165-0
Permission denied (publickey).
`

`azureuser@k8s-master-36439165-0:~$ ssh root@k8s-agent-36439165-0
Permission denied (publickey).`

[2017-01-16 17:38] lmickh commented on #120
Latest one worked.  The short names are listed in azure.json properly and all hosts were able to create routes.

[2017-01-16 18:00] khenidak opened #185 "Kubernetes/Agents: Create /etc/kubernetes/manifests directory"
There are too many logs like this one:

Unable to read config path "/etc/kubernetes/manifests": path does not exist, ignoring

can be solved if /etc/kubernetes/manifests was created by default on all agents.

[2017-01-16 18:24] khenidak opened #186 "Kubernetes - Run the scheduler with correct KUBE_MAX_PD_VOLS Env Variable"
The scheduler defaults/falls back to _16_ as maximum allowed PD per agent.
Check: https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithmprovider/defaults/defaults.go#L39
and
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithmprovider/defaults/defaults.go#L208

This means clusters running with bigger VMs (e.g. Standard_DS14_v2 accepts 32

[2017-01-16 18:25] khenidak commented on #184
You need to copy your private key into the master before you can ssh from the master to any of the agents. Once copied use
ssh -i {PATH-TO-YOUR-PRIVATE-KEY} {USER}@{AGENT-NODE-NAME}

[2017-01-16 20:07] avaranovich commented on #184
thanks that did the trick!

[2017-01-18 04:30] colemickens commented on #178
Sorry @avaranovich I meant to reply much earlier.

Yes, you can run `make` or run the regeneration first and the build second, but `make` is easiest.

[2017-01-18 09:31] avaranovich opened #190 "Documentation: how to enable custom firewall rules for Kubernetes PODs."
I am running a POD, from which I need to make a connection to FTP server.

Simple test from the running container

[code]

I don't need to expose this POD as a public service, but I need to be able to access **Internet** resources.

If I look at the consolidated security rule table, I see only a number of IP ranges are authorized for outbound

![grafik](https://cloud.githubusercontent.com/assets/9

[2017-01-18 10:24] colemickens commented on #190
I just executed the following with a cluster I have up:

[code]

[code]

Seems to be working for me. Not sure about the screenshot, but I'm guessing that Azure just exposes the blocks of the IP space that are actually "the Internet" for that outbound rule. It shouldn't block any normal Internet traffic.

[2017-01-18 16:19] avaranovich commented on #190
Once I explicitely enabled an FTP to any destination as an outbound rule in the NSG, it worked.

![grafik](https://cloud.githubusercontent.com/assets/963035/22072267/14f470aa-dda2-11e6-8e2a-258d740b5594.png)

somehow my destination was blocked by Azure default set up. Not sure how this is related to ACS, but from the regular VM it worked w/o any issues.

[2017-01-18 17:09] colemickens commented on #190
Does the destination IP really not fall in one of the ranges already supplied by the default Outgoing Internet traffic rule?

[2017-01-18 17:24] colemickens commented on #190
If you're willing, can you email me the IP/hostname of the target server (colemick@microsoft.com) and I can ask around to see if this is expected or not?

[2017-01-18 17:34] AlexGrs opened #192 "Changing node when mounting an Azure disk is taking forever"
I have a pod with a persistent volume claim attached to it. After a first initialization, I tried to delete the pod to check how the system was going to behave.

The pod was indeed rescheduled on an other node. But I had to wait 15 to 20 minutes before my pod is finally up.

During this period, I had multiple errors like:

[code]

[code]

The disk is already formatted and is only 10Gi. I modified

[2017-01-18 17:38] colemickens commented on #192
It can still hit a timeout edge case due to it giving up on the attach operation until a later retry but it shouldn't take 20 minutes, nno.

I was using builds over the weekend with the lazyinit patch and this patch (https://github.com/kubernetes/kubernetes/pull/38865) and a PVC and a dynamic volume was created and attached in less than 5 minutes.

[2017-01-18 17:48] AlexGrs commented on #192
Well it's quite strange. It seems I hit this issue quite regularly.

I wanted to use this for our database, but if the database pod is reschedule on an other node, it means we will have 5 to 15 minutes of downtime each time it happens. Or it will need a failover.

Do you have any reco ?

[2017-01-18 21:10] AlexGrs commented on #192
You mentionned you used patch by @codablock ([kubernetes/kubernetes#38865](https://github.com/kubernetes/kubernetes/pull/38865)) but also the lazyinitpatch: are you talking about two different patch or are they the same ?

PS: Great they merged the pull request for mkfs.ext4 in master. Can't wait to have it in a release `1.5.3`

[2017-01-18 21:20] AlexGrs commented on #184
Usually copying your private_key on the server is not a so great idea. Just enable Agent Forwarding and when you connect to your master with ssh, you will be able to ssh to agent without copying your keys explicitely.

`ssh -A user@master` and then on master: `ssh user@agent1`

Hope it helps !

[2017-01-18 21:21] colemickens commented on #192
I was getting confused with this patch which is not yet merged: https://github.com/kubernetes/kubernetes/pull/40066

Please note, all three (including this one, also related to Azure disks: https://github.com/kubernetes/kubernetes/pull/40030) will need to be cherry-picked to ensure they're in 1.5.3.

[2017-01-18 21:58] codablock commented on #192
@AlexGrs There are still other issues which negatively affect attach/detach of disks, but it's hard to nail them down and figure out how to reproduce these. Do you see the delay of 20 minutes every time?

When this happens again, can you check which node the POD is rescheduled to and manually watch how long it takes till Azure Portal shows the disks being attached and detached? Also, can you check

[2017-01-18 22:45] colemickens commented on #192
A better source of truth is to look at resources.azure.com and then find the VM and look at the VM itself and compare against the instanceView. Usually in these "bad" cases, the VM model and the instance view diverge and is an indicator/source of the underlying problem...

Basically, more data is needed to develop a better heuristic and to give to the right folks in Azure to improve this scenario.

[2017-01-19 05:33] jmspring commented on #192
In talking with Kal today, he mentioned querying the specific state of the disk resource today in place of the instance view.  I have not looked at his approach closely, but trust him.

For me, on detach, the vm state and the instance view we're *required* to be sure.

It's possible checking the direct disk resource state is beneficial too.

-j

Sent from my iThingy

[2017-01-19 08:35] HorizonXP opened #193 "ACS pods not able to reach network/DNS/Internet"
I've been trying to resolve this issue all day today to no avail.

I've had a Kubernetes ACS cluster running fine for the last few days, when I ran into errors today after performing host system updates. I destroyed and recreated the cluster at least 5 times today, using the Azure CLI, acs-engine, and the portal, and all of them have the same issue. It manifests with kube-dns not coming up, and th

[2017-01-19 08:52] codablock commented on #192
At step 2, did you also observe the dmesg and /dev/sd* on agent-1? Did it appear at the same time?

[2017-01-19 09:03] AlexGrs commented on #192
I did it again, agent-1 to agent-0

It takes again 7 minutes to mount disk from one machine to the other (exactly the same time). As soon I see the signal in dmesg logs, the new disk is there in `/dev/sdc`

**Agent-1: Unmount**
[code]

**Agent-0: +7 minutes**
[code]

[2017-01-19 09:40] avaranovich commented on #184
thanks guys, in fact it still did not allow to ssh as root on agent, there seems to be check saying I should be using my user, and not root.

[2017-01-19 09:48] colemickens commented on #184
Please post full error messages.

It may well be telling you not to SSH as root. I'm sure that's disabled.

Anyhow, this works, I've been using it all evening:

[code]

You can also use SSH Agent Forwarding, but I don't run that setup and can't advise on it right no.

[2017-01-19 12:28] Rurouni commented on #193
Same started happening to me today, all clusters created with `az acs create` are not working with kube-dns pods constantly crashing. Yesterday same scripts were working

[2017-01-19 14:06] AlexGrs opened #194 "Impossible to create a LoadBalancer"
I have the following error message:

[code]

My services definition is the following:

[code]

Any idea what could be the cause ?

[2017-01-19 15:02] phimar commented on #193
Same for me here as well. Created a fresh ACS via the portal and the kube-dns container are crashing constantly.

[2017-01-19 15:14] HorizonXP commented on #193
Yikes. I've pointed Azure support to this thread. Hope it can be resolved soon since it's affecting our production workload.

[2017-01-19 15:14] AlexGrs commented on #193
Same thing here. Something is broken. All my new clusters are failing with DNS crash.

[2017-01-19 15:33] AlexGrs commented on #194
Could it be related to #193 ? It was working perfectly before this.

[2017-01-19 15:40] codablock commented on #192
@AlexGrs can you test with https://github.com/kubernetes/kubernetes/pull/40148?

[2017-01-19 15:46] codablock commented on #192
Ah, and in your last tests, was https://github.com/kubernetes/kubernetes/pull/40066 already included or not?

[2017-01-19 15:50] AlexGrs commented on #192
I will test as soon as #193 and #194 are fixed. I deleted mu last cluster and I can't manage to create a new one due to those issues.

[2017-01-19 21:27] HorizonXP commented on #193
Excerpt from Azure support:

"It was nice talking to you on the phone today.  As per our conversation, we have confirmed that our build deployment is causing the issue.  We have a fix, but the new deployment has not been pushed out yet.  We are forecasting to have the new build pushed out late this evening.  Because of the deployment process, we are not able to give you an exact time that you will

[2017-01-19 21:28] RossWilliams commented on #193
I can confirm replicating this prior to PR #196 being merged. This no longer replicates on master.

[2017-01-19 21:31] HorizonXP commented on #193
So is the solution to redeploy using acs-engine from master?

[2017-01-19 21:32] RossWilliams commented on #193
Sorry, you would need to wait for #196 to be merged. It has a WIP note on it though, not ready.

[2017-01-19 21:58] colemickens commented on #193
Please see this issue for details about an ongoing issue with the Azure Container Service: [Azure/ACS #3 - Kubernetes Clusters Broken after Deployment or Unattended Upgrades](https://github.com/Azure/ACS/issues/3).

Additionally, we plan to use that repo (https://github.com/Azure/ACS) to handle these sorts of events in the future. Please consider subscribing so that you are notified in the future.

[2017-01-19 21:58] #193 closed

[2017-01-19 22:00] colemickens commented on #190
I'm going to close this since I can't repro and no one else has ever reported related issues. Please provide additional details requested if you think there's still an issue.

[2017-01-19 22:10] #190 closed

[2017-01-19 22:38] #194 closed

[2017-01-20 19:35] JonathanFraser opened #199 "request: acs-engine support for AxM_v2 skus"
currently the acs-engine does not recognize or support these skus, it should.

[2017-01-20 19:51] JonathanFraser opened #200 "kube-dns and kubernetes-dashboard fail to come up"
These may be seperate issues but its difficult to tell. I spin up a vanilla cluster in westus2 with [file](https://gist.github.com/JonathanFraser/e367a485b81deab0084e3e40a31ca1e5).

cluster comes up and api is accessible, however both the dashboard and kube-dns pods are in a crashloopbackoff. the kube-dns pod is listing some [errors](https://gist.github.com/JonathanFraser/ee7863e734e51d72f211f3c7a

[2017-01-20 20:37] JonathanFraser commented on #200
Some further debugging seems to point to the same issue, that neither the dashboard or the dns can access the kubernetes service. The kubedns container seems to start, however it lists the api as nil and then fails to forward the dns requests.
[code]

[2017-01-20 21:50] colemickens commented on #199
cc: @anhowe

[2017-01-20 21:52] colemickens commented on #200
Please pull the latest ACS-Engine. It includes a fix for this issue. See more details here: https://github.com/Azure/ACS/issues/3

[2017-01-20 23:50] JonathanFraser commented on #200
I have pulled and rebuilt with the latest version. However, both the master and agent nodes are brought up with docker 1.13.0

[2017-01-21 00:00] JonathanFraser commented on #200
looking into the template on the azure portal itself I can see that the variable for both the master and agent has a variable:
   `"dockerEngineVersion": "1.12.*"`
so it appears that the installation script is for some reason ignoring the version

[2017-01-21 00:07] amanohar opened #201 "Improve StorageAccountClassic validation"
Validation should block StorageAccountClassic in one or more agent pools if the master doesn’t have  "storageProfile": "StorageAccountClassic".

I specified: "storageProfile": "StorageAccountClassic" only in agent pool profile and not master profile.

This resulted in a template where a var: "_storageAccountBaseName_" is generated but never used. Although I do see “_storageAccountBase**Classic**Na

[2017-01-21 00:20] colemickens commented on #200
I'm afraid I can't reproduce this. On HEAD of `master` with git commit: 7cd3e7f7d17c59e6fe4b014e61688bba3df92cfa

[code]

[2017-01-21 00:22] colemickens commented on #200
To help any further, I'd need you to send me these files from the master and at least one node:

* `/var/log/cloud-init.log`
* `/var/log/cloud-init-output.log`
* `/var/lib/cloud/instance/user-data.txt`
* `/var/lib/cloud/instance/cloud-config.txt`

[2017-01-21 00:34] JonathanFraser commented on #200
I think the following are probably relavent:
cloud-init-output.log (on master)
[code]

while the file: /etc/apt/preferences.d/docker.pref
[code]

so it appears the pin line is correctly written to apt preferences but the docker-engine install jumps to 1.13.0 anyway

[2017-01-21 00:41] JonathanFraser commented on #200
there appears to be a discrepency between the hold lines in cloud-config and user-data.txt
cloud-config.txt:
[code]

while user-data.txt
[code]

checking the ubuntu reference it looks like the individual entries should be on seperate lines but the actual pin file is all on one line. I suspect there is a new line escaping issue here.

[2017-01-21 00:43] colemickens commented on #200
I really need all of the files mentioned, please. Like I said, we're not
seeing this anywhere else so I need to figure out why yours is different.

On Fri, Jan 20, 2017 at 4:34 PM, Jonathan Fraser <notifications@github.com>
wrote:

[2017-01-21 00:46] colemickens commented on #200
Also, how exactly are you deploying the template afterward?

On Fri, Jan 20, 2017 at 4:43 PM, Cole Mickens <cole.mickens@gmail.com>
wrote:

[2017-01-21 00:47] JonathanFraser commented on #200
`azure group deployement create`

[2017-01-21 00:54] colemickens commented on #200
What version? `azure --version`?

I'm pretty sure you're being bitten by a bug in the CLI actually. The docs should have instructed you to either downgrade it to a working version, or use the new `az` cli. I strongly recommend the latter.

[2017-01-21 00:56] JonathanFraser commented on #200
the version is 0.10.7, though how would a this be a cli bug?

[2017-01-21 00:59] colemickens commented on #200
The CLI doesn't escape the JSON payload correctly. The newlines are rendered as literals and so when they're placed on box, they're incorrect. -- The apt preference file is supposed to be three lines, not one.

Please downgrade `azure` or switch to `az`.

[2017-01-21 01:01] colemickens commented on #200
(For whatever reason the CLI parses the JSON to ensure it's correctly formatted, but they submit the output of that process, rather than the original body. There's a bug in that process that causes escape literals in javascript to be processed incorrectly. Basically, the file on disk and the file submitted to the Azure API have more differences than just whitespace -- which is the bug).

I'm tryin

[2017-01-21 01:02] JonathanFraser commented on #200
that would explain the behaviour, I'll make the appropriate script changes and redeploy

[2017-01-21 01:07] colemickens commented on #200
It does appear the parser shipped in `0.10.8` is changed, so you might be able to do a minor (not really a bugfix release the way they're doing versioning). Might be less disruptive than changing to `az`. (But please note, I haven't personally tested `0.10.8`.)

[2017-01-21 01:23] JonathanFraser commented on #200
although one could argue that those echos should be a write_file instead of a run command as file write happen first anyway. moreover cloud init supports version pinning a file directly as well as install addition repos so most of those commands could be handled in native cloud init.

[2017-01-21 01:40] colemickens commented on #200
Good points. If you wanted to file issues for that, or better yet, send PRs, we would take them under consideration.

Let me know if you were unblocked and we can close this one out at least. Thanks!

[2017-01-21 01:51] JonathanFraser commented on #200
Looks like that was it, cutting over the the python client fixed the problem.

[2017-01-21 01:51] #200 closed

[2017-01-21 02:01] colemickens commented on #200
Glad to hear it. Thanks for the patience and quick back and forth while troubleshooting. Cheers.

[2017-01-23 11:31] codablock commented on #194
I have the same issue at the moment. Downgrading to docker 1.12 does not help. Also, from the error messages it does not look related. There seems to be an API incompatibility introduced in the last days.

@AlexGrs Can you reopen this issue?

[2017-01-23 12:10] codablock commented on #194
This seems to be introduced with a cherry pick into 1.5.2: https://github.com/kubernetes/kubernetes/pull/38943

It updated the azure-sdk-for-go library which in turn introduced constraints validation to Azure API calls. It looks like the updating of security groups fails here as it reuses a json object from a previous GET, which has the Subnets and Interfaces properties set.

Not sure how to fix t

[2017-01-23 13:00] codablock commented on #194
Just want to confirm that setting NetworkInterfaces and Subnets to nil does work. I can create a PR if it can be confirmed that this fix is ok.

[2017-01-23 14:31] AlexGrs commented on #192
I wanted to try @colemickens steps provided:

- clone kubernetes
- `export REGISTRY=docker.io/colemickens`
- `export VERSION=some-version`
- `./hack/dev-push-hyperkube.sh`

But for an unknown reason it failed:

[code]

[2017-01-23 20:09] colemickens commented on #192
Please file a separate issue on the kubernetes repo for that issue. (But it looks like it's something on your system if `link` is being killed. Do you have sufficient ram, etc?)

[2017-01-23 20:12] colemickens commented on #194
@codablock I don't see that PR in 1.5.1 tree though... Did you manually switch to 1.5.2? ACS-Engine hasn't been bumped to 1.5.2 yet ([PR in progress...](https://github.com/Azure/acs-engine/pull/189))

[2017-01-23 20:18] codablock commented on #194
@colemickens I don't use ACS engine but [kargo](https://github.com/kubernetes-incubator/kargo/).

As @AlexGrs issue looked exactly the same as mine, I assumed you were also on 1.5.2 with ACS engine. Or maybe he uses a custom build version as we suggested to him due to the volume fixes?

[2017-01-23 20:19] colemickens commented on #194
@AlexGrs Can you please chime in on what the issue was, why you closed it, etc? Thanks.

[2017-01-23 20:48] colemickens commented on #120
I'd missed your reply, @lmickh. Thanks very much for dogfooding for me and confirming.

[2017-01-23 21:26] yangl900 opened #203 "Feature ask: able to reuse generated CA cert in api model"
it would be really great if we can reuse CA cert / KubeCtl cert specified in apimodel.js to generate new cluster. This allows user to run multiple clusters with same CA.

[2017-01-23 22:11] anhowe commented on #49
let's do this on an opportunistic basis and if this demonstrates pain.  Closing for now

[2017-01-23 22:11] #49 closed

[2017-01-23 22:12] anhowe commented on #50
let's fix if this becomes a perf bottleneck

[2017-01-23 22:12] #50 closed

[2017-01-23 22:13] anhowe commented on #52
Let's keep learning best practice.

[2017-01-23 22:13] #52 closed

[2017-01-23 22:14] #53 closed

[2017-01-23 22:31] anhowe commented on #55
this will be good to have once we get Jenkins testing in place

[2017-01-23 22:33] anhowe commented on #59
This is hard to do from ACS-Engine since the binary is not logged in like the cli.

We have a plan to go away from SP, so I'm marking this as won't fix.

[2017-01-23 22:33] #59 closed

[2017-01-23 22:36] anhowe commented on #79
For DCOS, there is a custom script extension that runs on the last master.  If this doesn't complete, it will fail the deployment.  You can wire in your changes to that master custom script extension to confirm it has successfully run.

[2017-01-23 22:39] anhowe commented on #79
Closing since this was a question.  Please re-open if this is not fully answered.  I've tagged with wontfix, since I'll leave this as a customer enhancement.

[2017-01-23 22:39] #79 closed

[2017-01-23 22:40] anhowe commented on #83
We are closing as won't fix, since this is out of scope for ACS-Engine.  If you feel differently, please submit the PR as described above and we can review.

[2017-01-23 22:40] #83 closed

[2017-01-23 22:43] anhowe commented on #84
Closing as won't fix, since the instructions already request cloning the repo.

[2017-01-23 22:43] #84 closed

[2017-01-23 22:45] anhowe commented on #55
#93 is a duplicate of this request.  It states to put binaries in the releases tab.

[2017-01-23 22:46] anhowe commented on #93
This is duplicate of #55.  I've udpated #55 with this info.

[2017-01-23 22:46] #93 closed

[2017-01-23 22:51] anhowe commented on #99
VNET support is being fixed in #172

[2017-01-23 22:54] anhowe commented on #100
assigning as won't fix since I use "nodeSelector: beta.kubernetes.io/os" to choose between windows and linux.

Please re-open if we should provide another way to select OS.

[2017-01-23 22:59] anhowe commented on #107
Each region will get a separate DNS URL.  ACS-Engine is not aware of which region you will deploy to and generates a kubeconfig for each region.  Once you have deployed to the region, you just use the appropriate kubeconfig for the region deployed to.

[2017-01-23 23:04] anhowe commented on #109
To avoid the "TargetDiskBlobAlreadyExists", you will need to choose the option to delete the blob, when scaling down.

[2017-01-23 23:06] anhowe commented on #108
this is a duplicate of #108 and #108 has more info so closing this one.

[2017-01-23 23:06] #108 closed

[2017-01-23 23:23] anhowe commented on #127
An important distinction here is that the directory name is based off of hash of the dns name.  We always want the DNS name to output to the same directory.  Then the customer can work with their model in that directory.

[2017-01-23 23:24] anhowe commented on #122
This is out of scope for ACS-Engine.  Let's reconsider if you are able to create a patch and submit, or if there is more customer demand.

[2017-01-23 23:24] #122 closed

[2017-01-23 23:36] anhowe commented on #120
Cole is fixing in #172

[2017-01-23 23:39] anhowe commented on #123
auth rights to resource groups should be able to be added through the Azure Portal.

[2017-01-23 23:40] anhowe commented on #123
Please re-open if you encounter this issue again, since the latest az should fix this.

[2017-01-23 23:40] #123 closed

[2017-01-23 23:41] colemickens commented on #194
Okay, I repro'd this as well.

`servicecontroller.go:760] Failed to process service. Retrying in 1m20s: Failed to create load balancer for service default/nginx: network.SecurityGroupsClient#CreateOrUpdate: Invalid input: autorest/validation: validation failed: parameter=parameters.SecurityGroupPropertiesFormat.Subnets constraint=ReadOnly value=[]network.Subnet{network.Subnet{Response:autorest.Res

[2017-01-23 23:44] anhowe commented on #132
VMs and VMSS does not allow modification of customdata.  For VMSS you need to delete the agent pool, and redeploy, or for AS (VM deployments) you need to delete the VMs and redeploy.  Closing since this is won't fix.

[2017-01-23 23:44] #132 closed

[2017-01-23 23:45] colemickens commented on #194
I'm going to leave this closed. We can track it in the Go-Autorest or Kubernetes issue.

[2017-01-23 23:48] anhowe commented on #133
Thanks for this issue.  We have marked as P2 since this is currently not on the roadmap, but is valuable to continue to learn from and collect feedback.  If you submit a PR we can review.  Ultimately this would be good to model in the Agent pools.

[2017-01-23 23:49] anhowe commented on #137
Thanks Christoph, we will take a look at your PR!

[2017-01-23 23:53] anhowe commented on #145
master currently only supports AS and storage accounts.

[2017-01-23 23:53] #145 closed

[2017-01-24 00:17] anhowe commented on #148
This validation is needed since we need a stable network to proceed with the script.  However, the hostname resolution can be removed, since we use IP Addresses for discovery.

[2017-01-24 00:18] anhowe commented on #148
These are the lines to remove: https://github.com/Azure/acs-engine/blob/master/parts/configure-swarm-cluster.sh#L39-L56.

[2017-01-24 00:25] anhowe commented on #155
This is out of scope for ACS-Engine.  As there is a workaround we are closing.  File this as a feature request here: https://github.com/Azure/ACS.

[2017-01-24 00:25] #155 closed

[2017-01-24 00:26] anhowe commented on #156
This is out of scope for ACS-Engine, closing as won't fix.

[2017-01-24 00:26] #156 closed

[2017-01-24 00:51] anhowe commented on #159
Marking as P2 since Cole's OIDC model shows potential.  Overall I do agree that kubeconfig is the standard, and people coming from outside of Azure will be used to it.

[2017-01-24 00:56] anhowe commented on #176
@yangl900 does @JackQuincy checkin solve this?  He provides examples as well: #135

[2017-01-24 01:01] yangl900 commented on #176
Unfortunately it doesn't. I'm aware of that change, however that only allows we pass in certificate secret to the VM via Linux profile. It does not resolve secrets like SPN client secret from KV. I think using ARM to resolve will be a more generic approach.

[2017-01-24 01:13] anhowe commented on #177
We should add to the model to disable the SPN on the agents.  We can warn to the customers that it will break their labels.  This may be ok if the customer can alternatively add labels per #139

[2017-01-24 01:17] anhowe commented on #178
A generalized feature request here can be to add custom parameters to the apiserver, kubelet, and controller.  Prioritizing as P2, and will watch for interest on this feature.

[2017-01-24 01:19] anhowe commented on #180
Thanks for filing this.  Marking this as P2 and we will continue to watch for customer interest.  Also, please consider submitting a PR on this item.

[2017-01-24 01:20] anhowe commented on #182
Currently marking as P2 as scenario is unclear.  Please answer Cole's questions to get better clarification on this request.

[2017-01-24 01:23] anhowe commented on #184
Agent forwarding is the recommended approach to connect to agents and is described in the docs here: https://github.com/Azure/acs-engine/blob/master/docs/ssh.md#key-management-and-agent-forwarding-with-windows-pageant.

Closing this incident.

[2017-01-24 01:23] #184 closed

[2017-01-24 01:25] anhowe commented on #185
Thanks @khenidak for this bug report.  I have marked it as a P0.

[2017-01-24 01:27] anhowe commented on #186
Thanks @khenidak for this bug report.  I have set this as P1, and we will watch to see if other customers hit this.

[2017-01-24 01:30] anhowe commented on #199
this needs a refresh of the sizes, marking as P0 to get to this immediately.

[2017-01-24 03:44] rgardler commented on #100
The solution proposed only works for K8s. Are there equivalents for Swarm and Mesos?

[2017-01-24 15:17] anhowe commented on #100
DCOS does not support windows.  For Swarm-Mode, please determine if this functionality does not exist and then file a separate issue to distinguish between Windows and Linux if it doesn't.

[2017-01-24 15:17] #100 closed

[2017-01-24 18:56] anhowe commented on #199
closing since we have fixed this

[2017-01-24 18:56] #199 closed

[2017-01-25 00:11] colemickens opened #208 "kubectl should be extracted from the hyperkube image"
Say you're working with or testing managed disks. It's vital the kubectl is at the exact same revision as the running apiserver.

If we would extract `hyperkube` (and thus `kubectl)` from the container, we could place that on host. We'd also get to eliminate the extra `kubectlVersion` parameter/variable we have now.

[2017-01-25 00:12] colemickens commented on #208
Should be possible to do this with something roughly like: `docker run <hyperkube_spec> -v /usr/local/bin:/host cp /hyperkube /host/hyperkube && hyperkube --symlinks`

[2017-01-25 00:23] anhowe commented on #185
This has now been fixed.  Closing issue.  Thanks again for the report.

[2017-01-25 00:23] #185 closed

[2017-01-25 00:39] colemickens opened #209 "`hyperkubeSpec` should be adjustable from the apimodel"
We probably don't want this is Azure Container Service proper (unless we want to offer "unsupported" deployments inside ACS...), but it would be really great to have for development scenarios.

We could also document the e2e process for building custom builds of kubernetes and deploying them with ACS-Engine. It makes a nice workflow.

[2017-01-25 02:54] #143 closed

[2017-01-25 09:41] rgardler opened #215 "SwarmMode shows agents as "down""
I deployed a Swarm Mode cluster with two agents. When I do `docker node ls` I get:

[code]

I assume that the third worker was a result of overprovisioning and was removed after it had registered with the cluster.

Is there any way we can clean up after initialization?

/cc @amanohar

[2017-01-25 11:49] colemickens opened #216 "mitigate the arm expression length limit."
This now blocking external people as well. It also blocks the 1.5.2 PR without workarounds.

ref: https://github.com/Azure/acs-engine/pull/191#issuecomment-275082452

[2017-01-25 16:47] anhowe commented on #215
some possible workarounds:
1. determine if there is a timeout for expiring old nodes, and submit a bug to docker if there isn't.  They should build for a cloud where VMs are dynamic
2. not great, but potentially adding a 60s sleep before registering
3. we can disable overprovisioning

[2017-01-25 17:07] rgardler commented on #215
-1 on disabling overprovisioning unless there is some mechanism to ensure the right number of agents is brought up.

I'm assuming #2 would result in a 60s increase in overall deployment time. I'm not keen on this.

Lets explore #1 at an appropriate time (I think we can live with this for a period)

[2017-01-25 17:18] khenidak commented on #208
Thinking out loud:

We need to stream line the entire process. This will happen not only during testing beta feature (similar to md) but also when people upgrade cluster to versions that will break existing kubectl. maybe we can create a script toolkit as docker image that has bunch of scripts, one of them can extract kubectl from hyperkube spec. Also consider the reverse, upgrade something opps,

[2017-01-25 19:04] amanohar commented on #215
We shouldn't try to clean up after initialization in this case at least unless we know of way to determine if the node was down due to overprovisioning or if the node was down for another (unexpected) reason.

@rgardler, when you say clean up after initialization you mean that Swarm shouldn't show those down nodes at all?

I am not keen on #2 either as it adds to overall deployment time and is not

[2017-01-25 19:09] rgardler commented on #215
If I ask for 2 workers and have 2 healthy and 1 unhealthy then it’s a good assumption that it’s overprovisioning. Even if it’s not I don’t care about a VM that I didn’t ask for not being active. I should never see it as “down”.

Ross

From: Anubhuti Manohar [mailto:notifications@github.com]
Sent: Wednesday, January 25, 2017 11:04 AM
To: Azure/acs-engine <acs-engine@noreply.github.com>
Cc: Ross Gar

[2017-01-25 20:18] amanohar commented on #215
Swarm Mode does something similar in case of scale down as well. If you scale down, it still show the node with status as 'Down' and availability as 'Active' which seems incorrect/confusing.

I will leave my cluster running the whole day today and see if it removes the node at some point. I have tried it for 30 mins and it didn't seem to be remove the node. If it doesn't remove the node we can fol

[2017-01-26 00:17] #203 closed

[2017-01-26 01:17] amanohar commented on #215
Update: I had a cluster with 3 agent nodes. I scaled down to 2 and left the cluster running for 5+ hours. Swarm Mode still show the deleted node when doing "docker node ls" with status = down, availability = active.

I will follow up with Docker on this.

[2017-01-26 13:20] otaviosoares opened #220 "Kubernetes - Node in FullDisruption"
I noticed some of my pods were crashing last night. Checking kube-controller logs I found the following:

`I0126 01:03:24.264593       1 nodecontroller.go:608] NodeController detected that zone brazilsouth::2 is now in state FullDisruption.`

After that one node and the master went NotReady:

[code]

What does the FullDisruption mean? Is it a failure on Azure itself or on the k8s side? I couldn't

[2017-01-26 15:19] xied75 commented on #177
Hi guys, please advise if this could be any potential security issues? I just spin up an ACS K8 cluster on my Azure account, would this SPN thing bring any risk to my account in any way?

[2017-01-26 15:57] anhowe commented on #220
Hi Otavio, I'm not seeing any outages either in Azure.  Can you please email me directly your Subscription ID, and I can do some searching on my side.  Also, are you still seeing this happen?

[2017-01-26 16:10] anhowe opened #221 "Clusters without public IPs"
In some cases customers would like to use Azure Express Route without public IP addresses assigned.  This issue tracks the need an popularity of this request.

[2017-01-26 17:14] otaviosoares commented on #220
Hi anhowe, thanks for the reply.

It got back to work automatically, but as this caused issues in some pods I'm investigating the causes.

I'm sending my subscription id right now.

[2017-01-26 20:51] colemickens commented on #177
It's a service account just like are used on other clouds. There is a difference in the danger posed in the crendentials are exfiltrated though... AWS and GCE just give out a short-lived token, whereas we are putting `client_secret` into the VM.

I'm trying to push for Azure to provide the equivalent functionality so that we can use it and get out of handling ServicePrincipals directly.

[2017-01-26 21:05] josibake commented on #178
just a note, took me a second to work around this:

had to run `go get -u github.com/jteeuwen/go-bindata/...` before `make` would work

[2017-01-26 21:19] colemickens commented on #178
Yeah. Building with `go get .` requires bindata to run. `bindata` requires go-bindata to be installed and in PATH. I have some cleanup around here that should make this easier, so that really running `make` is totally sufficient (I guess assuming that `$GOPATH` is setup and `$GOPATH/bin` in on `$PATH`... but those are fairly standard for Go development.

And of course, using the docker container s

[2017-01-27 17:33] trevor-MSFT commented on #221
I'm also interested in this feature.  Happy to test if needed.

[2017-01-27 20:29] colemickens commented on #221
I think in order to do this, we would need to:

1. Make it possible to make the master LB an internal load balancer.

2. build and document a way of creating a new apiserver cert for the internal LB IP and then replacing the current apiserver cert.

[2017-01-28 13:41] homotopycolimit commented on #200
I am having the same issues.
Deployed a brand new cluster using kubernetes-anywhere and the kube-dns and dashboard pods are stuck in a Crash Loop.
This issue is marked as "Closed" but I don't understand what I should do to fix the problem.

(using azure v0.10.8, tried kubernetes 1.4.8 and 1.5.2, kubernetes-anywhere master branch)

[2017-01-28 17:50] anhowe commented on #200
Hi Aron,

Sounds like you are hitting the following issue: https://github.com/Azure/ACS/issues/3.

You can fix your existing cluster with the workaround script or upgrade to the latest ACS-Engine.

Thanks,

Anthony

From: Aron [mailto:notifications@github.com]
Sent: Saturday, January 28, 2017 5:41 AM
To: Azure/acs-engine <acs-engine@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com

[2017-01-28 18:01] homotopycolimit commented on #200
thank you.
indeed downgrading docker to 1.12.* solved that issue for me.
...
Now I'm stuck on the next issue https://github.com/kubernetes/kubernetes/issues/40332
:)

[2017-01-28 18:08] anhowe commented on #200
Are you using the latest ACS-Engine?  This is not a problem in the latest ACS-Engine since it uses kubernetes 1.5.1: https://github.com/Azure/acs-engine/blob/master/pkg/acsengine/const.go.

Thanks,

Anthony

From: Aron [mailto:notifications@github.com]
Sent: Saturday, January 28, 2017 10:02 AM
To: Azure/acs-engine <acs-engine@noreply.github.com>
Cc: Anthony Howe <Anthony.Howe@microsoft.com>; Comme

[2017-01-28 18:24] homotopycolimit commented on #200
Unfortunately I used kubernetes-anywhere ( https://github.com/kubernetes/kubernetes-anywhere ) to deploy and I chose to use the latest release ( 1.5.2 - https://github.com/kubernetes/kubernetes/releases ).

[2017-01-30 16:22] rrudduck commented on #221
I'm interested in this feature as well and am able to test / contribute if needed.

[2017-01-31 13:15] MoTAUser commented on #120
@colemickens. We still have the issue of the initial post from @jpoon.  We've already tried several days to deploy acs cluster with k8s in custom VNET. Using fix in #172 - still not working for us.
Is there anything we have to consider or is this issue still in progress?

[2017-01-31 17:15] colemickens commented on #120
@MoTAUser Can you elaborate? I've had other people report it's working.

ACS does not support custom vnet, only ACS-Engine does...

[2017-01-31 18:29] EddEdw commented on #120
Hi @colemickens,
I am working on the same project as @MoTAUser and I try to give you a little bit more information. We are fairly new to this topic so please point out when we give you insufficient information. We are really eager to get this to work.

- one month ago we figured out that ACS from Azure Marketplace won't work for us, that is why we only work with ACS engine since then.
- We have a

[2017-01-31 19:16] colemickens commented on #120
Heh, yes, the last one of course: *"kubernetes is successfully installed, but no routes are created."*

Does the apiserver actually start running, or no? That will help me guess as to why routes aren't being created.

[2017-01-31 19:29] EddEdw commented on #120
Hey, thanks for your reply. Unfortunately we are sitting here in Germany and aren't at work anymore and can't access the azure resource. We are going to dig into this again tomorrow morning. Anything else we should look out for? Do you want to have logs of any kind?

[2017-01-31 19:45] colemickens commented on #120
The full logs of `kube-controller-manager` (`kubectl logs --namespace=kube-system kube-controller-manager-<whatever>` and `kubelet` (`journalctl -u kubelet`) from the master will probably come in handy.

[2017-02-01 04:36] vishal-biyani commented on #159
@colemickens Thanks and what you propose is an excellent solution.

[2017-02-01 09:35] MoTAUser commented on #120
It seems apiserver is running normally.
Here are the log files including our acs-engine manifest (```kubernetesvnet.json```), and the azure deployment jsons (```azuredeploy.json```, ```azuredeploy.parameter.json```).

[colemickens-[kubernetes] unable to create cluster with custom vnet #120 logs.zip](https://github.com/Azure/acs-engine/files/744289/colemickens-.kubernetes.unable.to.create.cluster.w

[2017-02-02 07:41] colemickens opened #236 "Evaluate how we configure docker (and nodes in general) for Kubernetes"
This is regarding the scramble we had two weeks ago for the docker upgrade breaking clusters.

See the upstream issue: https://github.com/kubernetes/kubernetes/issues/40182 which features suggestions beyond pinning to `1.12.x`. Additionally, it's [suggested that we simply tell `docker` to not configure iptables at all](https://twitter.com/thockin/status/826999681800630272).

This partially serves

[2017-02-02 08:43] colemickens commented on #216
The fix is rolling out right now, holding off on changes for now.

[2017-02-02 08:43] #216 closed

[2017-02-03 18:43] colemickens commented on #139
This is a similar change being done for DCOS: https://github.com/Azure/acs-engine/pull/138

[2017-02-03 19:15] colemickens commented on #99
This is now fixed by the merging of #172.

[2017-02-03 19:15] #99 closed

[2017-02-03 19:16] colemickens commented on #120
This is now fixed by the merging of #172.

[2017-02-03 19:16] #120 closed

[2017-02-03 19:16] colemickens commented on #120
@MoTAUser Please file a new issue if you're still having issues after updating ACS-Engine, rebuilding and redeploying. Thanks.

[2017-02-03 20:12] colemickens commented on #236
We should look at the doc that @brendandburns sent around from Deis when we do this.

[2017-02-03 20:13] colemickens commented on #192
I'm closing this as the issue has gone off topic and disk issues in kubernetes should probably be tracked in https://github.com/kubernetes/kubernetes anyway.

[2017-02-03 20:13] #192 closed

[2017-02-03 20:15] colemickens commented on #236
Also, we need to keep this under consideration for 1.6 and newer addon manager, etc:

* [Supports 'ensure exist' class addon in Addon-manager #40108](https://github.com/kubernetes/kubernetes/pull/40108) - changes how addon manager treats annotations
* [Create a default StorageClass for Azure](https://github.com/kubernetes/kubernetes/issues/40071) - StorageClass addon with addon-manager will replac

[2017-02-03 23:33] colemickens commented on #19
Something else we should consider, probably should still just follow `kubeadm` but they may adopt this: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/kubelet-rootfs-distribution.md

also, removing myself since I'm clearly not looking at `kubeadm` right now.

[2017-02-06 22:16] JonathanFraser commented on #178
This is a deployment tool, users need to be able to deploy alpha clusters so that they can vet their code against the new features. This is 100% must requirement. While I agree it shouldn't be default, there should be an option when deploying that doesn't require mucking about with code.

[2017-02-08 01:00] #116 closed

[2017-02-08 01:37] colemickens commented on #236
Also:
`kubelet.go:1145] Image garbage collection failed: unable to find data for container /`.

[2017-02-08 09:28] jauco commented on #108
@anhowe I think you meant to reference another issue than #108 (because this is issue #108) I can't find the other one though. Which issue contains more information?

[2017-02-08 17:09] anhowe commented on #108
#109 provides more details.

[2017-02-10 13:45] jauco opened #258 "Can't create dynamic storage claims"
I'm trying to create a dynamic storage claim. However, I seem to be doing something wrong. I couldn't find an azure sig in the slack chat, so I'm asking it here.

 * using acs-engine deployed build.
 * Modified the machine sizes, left the rest the same I think. Scaled up from 1 to 2 nodes after creating the cluster
 * Kubernetes 1.5.1

Storage class:

[code]

Storage claims
[code]

Once I create a

[2017-02-10 17:25] colemickens commented on #258
You're probably hitting this issue: https://github.com/kubernetes/kubernetes/issues/30752. It causes the format to be really slow. Hence why you see the disk attached but not formatted. `ps ax | grep mkfs` will probably show `mkfs.ext4` running...

This will be much better in 1.5.3 and 1.6.

[2017-02-10 19:10] jauco commented on #258
Ah. I'll retry a claim and see if it's mkfs.

Btw. I needed to add the vhds container manually. Is that as designed? If so, is it okay if I add that to the claims documentation?

[2017-02-10 20:02] colemickens commented on #258
I think that's this issue: https://github.com/kubernetes/kubernetes/issues/38362

Looks like the fix is here: https://github.com/kubernetes/kubernetes/pull/37845

But it's not cherry-picked for 1.5.3... so you might not get it until 1.6 unless someone cherry-picks it.

[2017-02-11 01:08] pksorensen opened #261 "Allowing https://github.com/Microsoft/Docker.DotNet to connect to a swarm cluster"
Hi guys

I am experience abit with using https://github.com/Microsoft/Docker.DotNet to run some workloads in my ACS swarm cluster.

I discovered that by default this is not possible: http://stackoverflow.com/questions/42170378/what-is-the-proper-endpoint-for-connecting-to-azure-container-service-swarm-clus/42170719#42170719

Just to see that i could connect, i edited `sudo vim /etc/init/docker.con

[2017-02-13 15:25] jgeraerts commented on #258
am bumping in this issue as well

[2017-02-13 18:16] colemickens commented on #258
What are you bumping exactly? If anything I was planning to close this out.

[2017-02-13 20:31] wbuchwalter opened #266 "[k8s] Allow customizing flags for kubelet"
There are a number of scenarios where someone would want to customize the flags passed to kubelet on the agents (i.e. enabling alpha features).

Any idea on how that could be done?

@colemickens initial input:

[2017-02-13 22:22] dcieslak19973 opened #268 "Kubernetes on custom VNET"
I seem to be having the same problem as described by ticket 120, namely, that when deploying a Kubernetes cluster in a custom VNET (where the VNET is in a different Resource Group from the cluster), I see "RouteController failed to create a route" errors and am unable to see a simple nginx pod move from PENDING status.

kubectl describe nodes | grep -i network
 NetworkUnavailable    True    Mon, 1

[2017-02-13 22:29] colemickens commented on #268
As noted in [that issue](https://github.com/Azure/acs-engine/issues/120#issuecomment-277336309), support for this scenario was recently added. You need to update, rebuild, regenerate and deploy a new cluster.

I'm going to go ahead and close this, but please reopen it if there's an issue after you update, etc.

[2017-02-13 22:57] #268 closed

[2017-02-14 00:02] dcieslak19973 commented on #268
I redeployed the cluster from scratch today, using ACS Engine that was also pulled from today. The log was sent from that fresh cluster.

I attempted to deploy a K8s cluster after that with the Vnet in the same resource group but ran into a deployment failure. I'll redo both processes tomorrow and reopen another ticket if the problem recurs.

Sent from my iPhone

On Feb 13, 2017, at 4:57 PM, Cole

[2017-02-14 00:24] colemickens commented on #268
Okay. Note that deploying into a vnet in a different resource group is explicitly NOT supported. If you need that, please file a tracking issue for it (though we will probably not get to it very soon, as it requires work in upstream Kubernetes as well).

[2017-02-14 13:01] dcieslak19973 opened #272 "[Kubernetes] - Support for custom VNET outside the resource group"
Would like to reference a VNET in a different resource group from the one ACS-Engine creates.

[2017-02-14 13:12] dcieslak19973 opened #273 "[Kubernetes] - Custom VNet Deployment Fails"
Steps to re-create:

1. Create new resource group
2. Deploy KubernetesCustomVNET using 10.1.58.0/24 as the address space and the subnet KubernetesSubnet with an address prefix of 10.1.58.0/24
3. Change the firstConsecutitveStaticIP in kubernetesvnet.json to 10.1.58.10
3.a. I also changed the template to remove the "agentpri2" agentPoolProfile and bumped the count of "agentpri" to 4
3.b. Modify the

[2017-02-14 18:12] colemickens commented on #273
Have you run `make` since updating `acs-engine`?

Can you SSH to the master VM and then paste the contents of `/etc/kubernetes/azure.json` with the `client_secret` field redacted so I can look at it?

[2017-02-14 18:51] dcieslak19973 commented on #273
From: https://github.com/Azure/acs-engine/blob/master/docs/acsengine.md

1. cd $GOPATH
2. rm -rf src/github.com
3. go get github.com/Azure/acs-engine
4. go get all
5. cd $GOPATH/src/github.com/Azure/acs-engine
6. go build
7. vi examples/vnet/vnetarmtemplate/azuredeploy.kubernetes.json
7.a Swap in the CIDR 10.1.58.0/24 as appropriate
8. az resource group create --name="RG-NAME-OMITTED" --location="

[2017-02-14 18:52] colemickens commented on #273
Thank you for the high level of detail. Please feel free to reopen or file a new issue if you run into troubles. Best of luck.

[2017-02-14 18:58] dcieslak19973 commented on #273
Interestingly, the IP Addresses allocated:

Master went to 10.1.58.10
Agents filled 10.1.58.4-7
Internal LB went to 10.1.58.20

I don't know how IP addresses are allocated from SubNets, but there seems to be some danger in them overlapping. Suppose I had changed the count of agentpri instances to 10....

[2017-02-14 18:59] colemickens commented on #273
cc: @raveeram ^ ?

[2017-02-14 19:09] raveeram commented on #273
@dcieslak19973 Master IP is the FirstConsecutiveStaticIP you pass in through the API model (In the master profile). The InternalLB IP is at a default offset of 10 from the Master IP (we now support 3 and 5 master scenarios as well). I reckon you can prevent overlap by passing in the requisite starting IP for the masters.

[2017-02-14 19:16] dcieslak19973 commented on #180
I'm interested in this functionality

[2017-02-14 19:35] colemickens commented on #273
Why does it work that way? Don't the master normally get allocated from `10.240.255.x` ?

[2017-02-14 19:35] colemickens commented on #273
cc: @anhowe  is this just an artifact of how existing vnet work? the ip allocation happens slightly differently?

[2017-02-14 19:51] colemickens commented on #261
Is this in regards to Swarm or Swarm Mode?

Would you be able to get by with unix or TCP socket forwarding over SSH? You could avoid all of this complexity if so?

Today, we don't generate PKI assets for Swarm or Swarm Mode clusters... so, this will likely be a fairly large modification as you'll need to add PKI assets to the apimodel, and support generating them the same way  we do with Kubernete

[2017-02-14 19:51] colemickens commented on #261
cc: @amanohar

[2017-02-14 19:55] colemickens commented on #273
@dcieslak19973 So, `firstConsecutiveIP` is the first master's static private ip. The node ips are allocated from the subnet via DHCP.

That having been said, you shouldn't actually have any problems. You could deploy 10 nodes and it would just keep taking IP allocations, skipping the addresses already taken by the master(s).

Anyway, closing this again, as it's all expected and should be working.

[2017-02-14 19:55] #273 closed

[2017-02-14 23:25] anhowe commented on #176
fixed with #223

[2017-02-14 23:25] #176 closed

[2017-02-14 23:26] anhowe commented on #129
this is now checked in with @raveeram changes

[2017-02-14 23:26] #129 closed

[2017-02-15 14:38] dcieslak19973 commented on #221
I'm also interested

[2017-02-15 18:20] aboyett commented on #129
Adding breadcrumbs in case anyone else is looking for code changes adding HA master support. They appear to be contained in https://github.com/Azure/acs-engine/pull/233 and https://github.com/Azure/acs-engine/pull/247

[2017-02-15 20:17] dcieslak19973 opened #280 "[k8s] Managed Disk example"
DC/OS and Docker both have examples of managed disks; if k8s can utilize Managed Disks, an example to build a cluster would be nice.

[2017-02-15 20:35] colemickens commented on #280
Kubernetes does not yet support Managed Disks.

There is work in progress to support Managed Disks in Kubernetes.... and there is already a PR adding support for Managed Disks in ACS-Engine. I think for K8s 1.6, Managed Disks should be fully usable, at least with ACS-Engine + K8s.

[Kubernetes managed disks support with examples #144](https://github.com/Azure/acs-engine/pull/144)

cc: @khenidak fo

[2017-02-15 21:10] colemickens opened #281 "de-dupe examples and testdata"
Seems like the clusterdefinitions in testdata are extra. Might be nice to just have testdata contain expected output of our example clusterdefinitions.

[2017-02-15 23:10] colemickens opened #283 "./test/user.env should either be sourced manually or should allow overrides"
Right now, if I want to quickly deploy a cluster to two regions, I have to edit `user.env` manually in between runs.

I'd prefer to be able to set `LOCATION` manually, and have my env set override what's in `user.env`. So `user.env` would look like this:
[code]

Or maybe it'd be better if `./test/deploy.sh` didn't automatically source `user.env`. This forces the user to be slightly more conscious

[2017-02-16 13:20] Laetus opened #284 "Kubernetes: Support Proxy in custom VNet"
We tried to deploy a k8s ACS cluster in a custom corporate vnet. The deployment was always successful, but the result did not work. Neither docker nor kubectl is installed on the machines. After a short glance into the azuredeploy.json file i have the following theory.

There is a number of regular Ubuntu VMs deployed and then on every machine a script is executed, which has among others the follo

[2017-02-16 22:03] colemickens opened #290 "K8s 1.6 - windows - set timeout flag"
Noting this so that we don't forget since we're just patching private binaries for 1.5.x...

[2017-02-17 14:30] siamak-haschemi commented on #180
We also need to do that, since the 10.0.0.0/16 network is already blocked by our productive environment. I also did not understand the workaround above. Maybe @alxlchnr could comment that further. I am happy with a manual solution for now ...

[2017-02-17 16:45] anhowe commented on #281
For this, I recommend dividing up tests into 2 buckets:
1. expected for the examples (and delete the duplicate tests under the tests folder).  You will have to adjust the test code to inject pre-assigned values for dns and secrets.
2. tests useful for catching regressions, but not useful for customer examples.  These can stay the same as they are today.

[2017-02-17 16:48] anhowe commented on #284
Labeling as P2 since scenarios around no internet and setting proxy are not a core scenario right now.  However, we will review PRs if you decide to implement this.

[2017-02-17 17:49] colemickens commented on #281
Why wouldn't these be the same things? The testdata we have now is already virtually same as the examples.

[2017-02-17 20:38] #124 closed

[2017-02-17 22:35] colemickens opened #298 "walkthroughs - move yaml into code"
Then we can test it, both automatically and manually more easily.

[2017-02-18 14:03] siamak-haschemi opened #303 "[k8s] Customer VNET, and different IP-range than 10.0.0.0/8 results in cluster where routing is not possible"
Hi,

we want to deploy k8s using a custom vnet. The vnet is in the same resource group as the k8s-deployment. In our environment, 10.0.0.0/12 is occupied, so I tried to stick the whole k8s deployment to 11.0.0.0/8. Following #180 and https://github.com/Azure/acs-engine/blob/master/examples/vnet/kubernetesvnet.json, I did the steps below.

This resulted in a cluster where the RouteController cannot

[2017-02-18 14:37] raveeram commented on #303
Hi Siamak, If you're on Kubernetes v1.5.3, did you make sure to follow Step 7 ere: https://github.com/Azure/acs-engine/blob/master/docs/kubernetes.md ?

[2017-02-18 16:55] siamak-haschemi commented on #303
@raveeram Thank you for the pointer. Must have missed that. I will try that later abd report if it helps.

[2017-02-18 21:28] colemickens opened #306 "Add go fmt check to checkin validation"
When looking at #152, some changes appear to just be a result of having run `go fmt` meaning we're not all running it before sending PRs. We should add a check for it.

[2017-02-18 21:51] raveeram commented on #306
Should we run go fmt and do a diff or run the go linter?

[2017-02-18 21:56] colemickens commented on #306
We should steal inspiration from : https://github.com/Azure/go-autorest/blob/master/.travis.yml#L13

Basically, run the `go fmt` in the mode where it outputs a diff and make sure there is no diff.

We should also run `golint`, but we have stuff to cleanup first before we can do tha.

[2017-02-18 21:59] raveeram commented on #306
Ah I see, makes sense. I do see a few linter errors, vscode-go plugin has it by default from the looks of it.

[2017-02-19 00:51] uday31in opened #307 "Kubernetes - Stateful Sets are not honouring Persistent Volume on Window Nodes resulting in data loss"
This issue can be reproduced by adding/remove node and when pods get rescheduled on other nodes in cluster.

[2017-02-19 12:02] siamak-haschemi commented on #303
The workaround was helping one **step further**. I anyone is wondering how to to that with Azure CLI 2.0:

`az network vnet subnet update --resource-group "k8s" --vnet-name "$MY_VNET" --name "$MY_VNET_SUBNET" --route-table "$MY_ROUTE_TABLE_ID"`

All pods are now _running_.

[code]

However, when trying to access the k8s Dashboard:

`kubectl proxy` and open http://127.0.0.1:8001/ui in the browser,

[2017-02-19 17:41] siamak-haschemi commented on #303
I now recreated a cluster without custom VNET and custom IP-range and this one works. So it has to do with a mistake I made. I will investigate further and write my findings here.

[2017-02-19 19:46] siamak-haschemi commented on #303
I might have found my problem. I compared all IP-ranges of the unmodified 10.0.0.0 deployment with my custom on, and changed these two places:

**azuredeploy.kubernetesvnet.json (before)**
[code]

**azuredeploy.kubernetesvnet.json (after)**
[code]

That seemed to help, although I am not 100 % sure.

I close this ticket. Thanks again to @raveeram, and sorry for my monologue.

[2017-02-19 19:46] #303 closed

[2017-02-19 19:58] siamak-haschemi commented on #180
In #303 I wrote the detailed steps to run a cluster within a custom VNET and with a different IP-subnet. Just in case someone needs that.

[2017-02-20 12:57] alxlchnr commented on #180
#191

[2017-02-20 17:22] siamak-haschemi opened #308 "[k8s] Question: How to set a custom DNS server"
Hi all,

using a custom VNET-deployment, what is the preferred way add an own DNS server for master-0 and the agents in a k8s deployment?

We could set the DNS on the VNET. But this _removes_ the provided Azure DNS server, which results in the problem that the hostnames of the master and the minions is not possible.

So we need a solution to:

* Set the DNS server during the acs template deploymen

[2017-02-20 18:17] JonathanFraser opened #309 "kubernetes failed to correctly resume after azure forced node reboot"
cluster deployed as single master with 5 minions. Azure rebooted the master node (presumably due to scheduled host maintenance), however the cluster failed to correctly resume. Upon logging into master I found that only the kubelet docker container was running and the logs indicated connectivity issues
[code]
which would of course occur is the kubelet hadn't started them yet. a `service kubelet re

[2017-02-20 19:25] siamak-haschemi commented on #309
We experienced something similar. When restarting minions one-by-one, everything works as expected and the nodes come back to a ready state.

However, when the master is restarted, the minions are not able to reconnected to the master for a long time (>5 min, is this long?).

But after a while, they came back to normal state. So @JonathanFraser, maybe it just takes more time then you expected?

[2017-02-20 19:42] JonathanFraser commented on #309
The master was rebooted over the weekend and it failed to correctly resume by monday morning so thats not it. Even after issuing the `service kublet restart` the minions have persisted in a NotReady state for over 2 hours now.

[2017-02-20 20:32] colemickens commented on #309
When was this cluster booted? And using what revision of `acs-engine`?

[2017-02-20 20:33] colemickens commented on #309
I also need the `kube-controller-manager` logs from the master (or via `kubectl`) and a log from one of the `kubelet`s that is marked NotReady.

[2017-02-20 20:58] siamak-haschemi commented on #309
Just a 10.000 feed observation: @colemickens You ask in different ticket for those log files. Wouldn't it be possible to automate the collection of those files in a zip-file (somehow)?

Or at least a page which shows the steps to collect those files (we have some newbies here)? I would be happy to help.

Sorry for hijacking @JonathanFraser

[2017-02-20 21:00] colemickens commented on #309
@siamak-haschemi Good idea, but please feel free to file a separate issue. At the very least I can make something that can be easily copy/pasted.

[2017-02-20 21:08] siamak-haschemi opened #310 "Write a documentation/wiki about how to create log-files and other information about the cluster for debugging"
Creating a cluster involves naturally many moving parts and a lot of sources for problems. I observed that the maintainers here asked on several tickets the users for log-data from their clusters.

For example, in a kubernetes setup the maintainer typically needs log files from master and minion nodes, bus also kubelet logs (and more).

What I would like to have is a wiki-page, which shows for eac

[2017-02-20 21:09] siamak-haschemi commented on #309
@colemickens Done: #310

[2017-02-20 22:12] JonathanFraser commented on #309
Cluster was booted about a month ago with acs-engine version: `7cd3e7f7d17c59e6fe4b014e61688bba3df92cfa`
the pin to docker 1.12.6

logs available [here](https://drive.google.com/open?id=0BxlruhDKyCC6SXhFaDlEWXpubFk)

[2017-02-21 09:20] alxlchnr commented on #180
Sorry for the late answer @siamak-haschemi . It seems that you already found my pull request #191 in order to find a manual solution for your problem. The Pull Request may have saved a lot of time if it was merged to master.
With the PR it is possible to konfigure kubeClusterCidr, kubeServiceCidr, kubeDnsServiceIp in the template and all changes you have done manually will be done by acs-engine.

[2017-02-21 19:45] colemickens commented on #309
@raveeram Is the ILB used even for a single master? that would explain what @siamak-haschemi is reporting.

As for not coming back for hours/days... that's certainly unexpected. It's very strange the kubelet would be healthy on the master but not running the components. I've never seen that before. Usually kubelet cycles if the SP is bad, or comes up and brings up the master components.

@Jonathan

[2017-02-21 19:47] colemickens commented on #309
@JonathanFraser unfortunately, I also need `kubelet` from the master so I can try to guess why it's not launching the master components. Sorry, but can you supply it as well? Thanks.

[2017-02-21 20:09] JonathanFraser commented on #309
Had you sent that an hour ago I could have got that for you, we have already torn the cluster down.

[2017-02-21 20:13] colemickens commented on #309
I'm sorry about that @JonathanFraser. Unfortunately, without it, I can't triage what happened here. I'll take a crack at #310 this week so that we can automate this process for a better RCA in the future.

@siamak-haschemi Can you please file a separate issue for the problem you experienced? I think that's a known issue due to our new HA configuration and an upstream bug in kubernetes.

Closing as

[2017-02-21 20:13] #309 closed

[2017-02-21 20:22] colemickens opened #311 "Stamp git information into the binary"
We already prescribe that people should be building in Docker. I think we should go all-in on requiring this to be built under Linux, using the Makefile.

In the Makefile, we can stamp information about the current git state into the binary. Then `acs-engine --version` can return the git revision it was built with.

Further, once this PR is in (https://github.com/Azure/acs-engine/pull/253) git wor

[2017-02-21 20:40] siamak-haschemi commented on #309
To not waste your time, and to have reproducible steps, I would need to create a cluster to verify this behavior. When I hit it the next time, I create the ticket.

[2017-02-22 08:33] simon-heinen commented on #221
Especially for large companies that are using multiple SAAS applications this is an important feature so that they can encapsulate each of the SAAS applications in its one subnet. Thats why I think that would be a really important feature to add

[2017-02-22 19:09] drocsid commented on #83
Seems like a strange architectural decision to use Ubuntu when other variants are using CoreOS. Bummer.

[2017-02-22 19:11] colemickens commented on #83
What does "other variants" here mean?

[2017-02-22 20:36] jcrowthe opened #316 "Large VMSS / Managed Disks / Application Gateway support"
As per this announcement (https://azure.microsoft.com/en-us/blog/announcing-general-availability-of-managed-disks-and-larger-scale-sets/) Virtual Machine Scale Sets now can have a max of 1000 nodes, when based on Managed Disks. In addition to this, after discussions with @rgardler and Mohan Vedula, it is clear that the Azure Load Balancer will not support a VMSS with more than 100 nodes, but inste

[2017-02-22 20:39] colemickens commented on #316
I guess this should work now, other than the fact that we pre-deploy an L4 Load Balancer for the DC/OS and Swarm clusters...

We would need to discuss this. There are distinct disadvantages to using AppGateway and thus this posses a potential maintenance burden if we have to support L4 and L7 balancers in perpetuity.

Anyway, if you're interested in this, I'd recommend removing the load balancer f

[2017-02-22 20:55] jcrowthe commented on #316
I assume I would need to use the managed disks flag as well. It seems like this is still using the preview API in the output template. Will this cause any problems, or is there an alternative API version I can write in?

`"apiVersionStorageManagedDisks": "2016-04-30-preview",`

Also, I would be interested to discuss here the distinct disadvantages of the AppGateway, as they may affect my clusters

[2017-02-22 21:12] colemickens commented on #316
Good eye! The preview version was surprising to us, but that is the current apiversion that should be used, even though it is generally available. CC: @anhowe as we had an internal thread about this to see if we were going to get a stable, non-preview version soon.

As for AppGateway, most of this is second-hand, but confirmed by many people:
* slow to provision
* slow to reconfigure
* HTTP/HTTPS

[2017-02-22 21:34] drocsid commented on #83
My bad. It's my opinion that CoreOS would provide better infrastructure for containers and dc / os,but I may have not been clear. Is there a discussion to follow in regards of the vm choice?  CoreOS has built many oss tools for the container community in general, and has a well thought out container oriented distribution. Then what makes Ubuntu vms the best docker container infrastructure?

[2017-02-22 21:45] colemickens commented on #83
It's what our customers ask for. Personally, I'd rather deploy on CoreOS as well, but so far it honestly just hasn't mattered too much. All of the Kubernetes components run in containers anyway, and we use the upstream version of Docker. The only time the host OS has ever mattered to me was due to provisioning (with Ubuntu Trusty I had to use upstart; not a fan), or coincidentally, problems stemmi

[2017-02-23 07:21] ams0 commented on #83
I did experiment with provisioning of Swarm mode with CentOS: even if not aware of any customer-specific request, I can imagine that there could be some interest in deploying a container orchestration framework on a supported OS (RHEL). The trouble with CentOS (and RHEL, I suppose) images in Azure is that they don't include cloud-init; I wonder if that could/will change in the future (so we focus

[2017-02-23 17:29] anhowe commented on #316
The header "2016-04-30-preview" is the GA version for managed disks and the latest VMSS feature.

One possibility to achieve this is that we allow 1000 nodes for "private" agent pools.  Then when you want to load balance, you just put the public ip and loadbalancer on the agent pool with <= 100 nodes.

[2017-02-24 17:18] DonMartin76 opened #320 "Cannot access provisioned Kubernetes Cluster"
## Problem description

I am starting to believe I am a little stupid here, but I have the same effect as described in #175, e.g. after the cluster has been provisioned, I cannot connect to it:

[code]

## How to reproduce

This is the script I am currently writing to provision a Kubernetes cluster from a Jenkins pipeline (for automatic performance testing):

[code]

You will need to set a service

[2017-02-24 20:54] DonMartin76 commented on #320
Now I feel even more stupid: I just tried it again, and now it effing works. No changes. With the Service Principal I created using `az ad sp create-for-rbac`. What can have gone wrong here?

[2017-02-24 21:25] tekmaven opened #321 "[kubernetes] Host >30 LoadBalancer services in Azure?"
Hey acs-engine maintainers!  Thanks for all the hard work with Kubernetes and ACS!

I am testing moving a large amount of infrastructure to ACS/Kubernetes.  I've provisioned very capable node VMs and can successfully have 100 active pods in the cluster.

According to https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits - the default "Public front end IP per load balancer" is 10

[2017-02-24 22:55] rgardler commented on #321
This is an interesting limitation.

If you deploy multiple agent pools each one can have a load balancer. You will then need to ensure that you

[2017-02-25 01:36] colemickens commented on #321
The only workaround is to manually configure additional load balancers. You would have to create new load balancer objects in the Azure APIs, one each with a backend pool corresponding to an availability set. Then create new ip configurations for each service you want exposed. Then you'd have to go back to the Service objects in Kubernetes and update them with the Ingress IP for the corresponding

[2017-02-25 01:38] colemickens commented on #320
@DonMartin76 Two ideas:

1. You were using cached SP creds before that were for some reason bad (the CLI tries to cache them whenever it creates them automatically). But it sounds unlikely since I can see your script also was written to manually do the sp creation...

2. You were unlucky with timing. The deployment doesn't technically wait for the Kubernetes control plane to come up. Depending on

[2017-02-25 08:44] DonMartin76 commented on #321
Related side question: Need I worry about overloading the (single) external load balancer with heavy traffic to the cluster?

[2017-02-25 09:07] DonMartin76 commented on #320
@colemickens Thanks! I have a third thing I need to check: Which ports does `kubectl` use for communicating with the cluster? I was assuming it only needs 443 (`https`), is this correct? Otherwise traffic might be blocked by our corporate firewall. It worked from home, need to test again with a known working cluster whether the problem is reproducible from within the corporate network.

[2017-02-25 18:40] colemickens commented on #320
Yes, all communication is over HTTPS on port 443.

[2017-02-26 09:14] colemickens commented on #320
Hey @DonMartin76. Hope your tests are going more smoothly. Feel free to close out, or I will in a couple days. Thanks!

[2017-02-26 10:44] DonMartin76 commented on #320
Will do as soon as I have found the root cause for this. Will be able to tell tomorrow, I hope. Either it's a timing issue, or it's our IT dept which has borked something. I will come back here with either an explanation or a solution (e.g. waiting for connectivity using some suitable means or similar). Thanks, @colemickens.

[2017-02-26 13:48] DonMartin76 commented on #129
How do I know whether this is in a specific release of `az`? With 0.1.2rc2, I only get one master even if specifying I want three, using `--master-count 3`.

[2017-02-26 14:14] artisticcheese opened #322 "Windows containers examples please"
Bearing in mind that part of announcement is support for Windows containers. Are there any examples/walk through specifically targeting Windows containers?

[2017-02-27 01:17] amanohar commented on #322
@artisticcheese K8s Windows walkthrough check out here: https://github.com/Azure/acs-engine/blob/master/docs/kubernetes.windows.md

[2017-02-27 08:37] DonMartin76 commented on #320
Closing this. It works from work today as well. Will revisit if it reoccurs. Puzzled. Thanks for your support, @colemickens

[2017-02-27 08:37] #320 closed

[2017-02-27 23:59] amanohar opened #325 "Update ACS Engine to read location from ContainerService model instead of using resourceGroup().location function"
Update ACS Engine to read location from Container Service model instead of resourceGroup().location function in the template.

This is because user could create resource group in region A but could specify resource region B (in container service API model). In this case the generated template will result in resources being created in region A instead of B,

[2017-02-28 07:22] kris-dehaudt opened #329 "System load peaks on kubernetes master node on azure"
Does anyone know why we are experiencing on our kubernetes master node some system load peaks. I thought that the master node is not doing anything except monitoring our agent nodes.

Each time we have a system load peak of 1.8-2 on our dual-core machine, I see in the kube-controller-manager log that the master tries to start 3 things:

 - controllermanager.go:373] Attempting to start disruption c

[2017-02-28 08:06] colemickens opened #331 "Add China Cloud CI Tests"
cc: @dmitsh

[2017-02-28 08:13] colemickens commented on #331
cc: @wangtt03

[2017-02-28 08:35] wangtt03 commented on #331
Oops, sorry about that. I saw you have already created a PR. Does that PR fix the issue?

[2017-02-28 09:00] colemickens commented on #331
I'm hopeful the PR will resolve the CI test being broken, but I filed this for adding CI tests to our Jenkins configurations to enable China Cloud.

I don't think it's documented yet, but Jenkins runs scripts contained in the test/ directory to ensure that `make ci` executes successfully and that the entire e2e process works for the templates under `examples/`.

The scripts would need to be extend

[2017-02-28 16:40] tekmaven opened #332 "[k8s] Custom Labels for Agent Pools"
I need to assign custom labels to nodes in agent pools.  I think if something similar to how #138 was implemented for DCOS was ported for use in k8s, that would be a very flexible solution.  It would also cover #139.

[2017-02-28 19:38] GONZALORUIZ opened #333 "Support for NC and NV Series VMS on Kubernetes Cluster"
I have tried to create a Kubernetes cluster and use NC VMS (Standard_NC6) for the Agents, however I got the following error :
error": {
    "code": "InvalidParameter",
    "message": "**The value 'Standard_NC6' of parameter 'agentProfile.vmSize'** is not allowed. Allowed values are 'Standard_A0, Standard_A1, Standard_A2, Standard_A3, Standard_A4, Standard_A5, Standard_A6, Standard_A7, Standard_A8,

[2017-02-28 20:21] colemickens commented on #333
This is how the list of allowed VM sizes is generated: https://github.com/Azure/acs-engine/blob/master/pkg/acsengine/Get-AzureConstants.ps1

Maybe there's something missing? I'm not familiar with the N skus though.

@anhowe Maybe we need to get your subscription access to the GPU skus so that they are present in your generated constants file.

[2017-02-28 20:31] tekmaven commented on #321
_"If you deploy multiple agent pools each one can have a load balancer. You will then need to ensure that you deploy services to appropriate agent pools."_

_"The only workaround is to manually configure additional load balancers. You would have to create new load balancer objects in the Azure APIs, one each with a backend pool corresponding to an availability set."_

It seems very difficult to ac

[2017-02-28 20:49] colemickens commented on #321
There could be, but it would be non-trivial, somewhat tedious work, and there are open questions in my head as I imagine how it would even look.

This is much simpler and accessible today without needing to write code or manually configure all of this. I'm also asking internally if there are any other options here...

[2017-02-28 21:08] sheerun opened #334 "Enable encryption for disks by default"
The security advisor on Azure tells me none of the disks created by ACS are encrypted, why so?

[2017-02-28 21:14] colemickens commented on #334
Good suggestion, I don't think it was intentionally omitted, we just haven't done it yet. Labeled so that it will be in our backlog, and pull requests are always welcome.

[2017-03-01 00:47] sheerun opened #338 "Support for attaching extra ssd data drives"
I wanted to attach extra (ideally managed) SSD data drive, to one of the nodes for Azure ACS on Kubernetes (default setup), but it seems I'm only able to attach slow HDD (60MB/s)..

I think it might be because of what master/agent machines are created. (FYI I need extra disks to vendor glusterfs cluster, but it really doesn't matter).

Could you allow to configure master/agent node types so I can

[2017-03-01 03:48] wangtt03 opened #340 "Kubernetes cluster cannot be deployed successfully in Mooncake after merging AzureChinaCloud PR."
Also affects the Azure public cloud.

[2017-03-01 03:49] wangtt03 commented on #340
I already submit another PR: https://github.com/Azure/acs-engine/pull/339 to fix this issue.

[2017-03-01 03:49] wangtt03 commented on #340
to: @colemickens @amanohar

[2017-03-01 04:03] colemickens commented on #340
@wangtt03 Does this actually fully block deployment of clusters? In public cloud at least it seems like everything should've worked except setting up `kubectl` ?

[2017-03-01 06:12] wangtt03 commented on #340
@colemickens for the public cloud the apiserver cannot be started correctly because of the wrong version of the yaml.

[2017-03-01 14:59] yaron2 opened #341 "RHEL 7.3 as VM OS"
Currently all VMs are deployed with Ubuntu.
I'd like to be able to customize the template to use RHEL 7.3.

I can do it myself and contribute back and would be happy to get pointers and guidelines for what needs to be done.

[2017-03-01 21:36] colemickens commented on #321
@tekmaven How many do you need per cluster?

[2017-03-01 21:55] yaron2 commented on #341
RHEL images on Azure do not support cloud-init..

[2017-03-02 02:20] yangl900 opened #344 "K8s template is not idempotent and can break running cluster"
The generated k8s template is not idempotent, it could be **destructive** if you run the same template again on a running cluster.

## Scenario:
1. Deploy a k8s cluster
2. Expose a service using load balancer
3. Deploy the same template again in the running cluster RG. (for whatever reason, e.g. trying to fix broken agent node, extend the agent pool size etc.)
4. Note that the load balancer of the

[2017-03-02 07:57] mfaizanse opened #346 "Provisioning of VM extension 'cse' has timed out."
I have followed the steps in the readme and successfully generated the template but when I am deploy the template to azure, I am getting error "Provisioning of VM extension 'cse' has timed out.".

All the other resources are created successfully but the <vm_id>/cse resource take too much time on 'Provisioning Status: Running' and then Fails giving the error description as follows:

![capture](http

[2017-03-02 08:06] wangtt03 opened #348 "kubectl-extract service cannot be run successfully."

[2017-03-02 08:06] wangtt03 commented on #348
this PR should fix the problem: https://github.com/Azure/acs-engine/pull/347

[2017-03-02 08:13] colemickens commented on #346
Can you confirm which git commit of ACS-Engine you were on?

[2017-03-02 08:14] wangtt03 commented on #348
@anhowe @colemickens could you please assign the issue to me because i am fixing this issue. Thanks!

[2017-03-02 08:15] wangtt03 commented on #340
@colemickens @anhowe could you please assign the issue to me because i am fixing the issue. Thanks!

[2017-03-02 08:38] mfaizanse commented on #346
I pulled the repository yeasterday (1st march, 2017). The latest commit I have is commit b833b0b390613475b6cdd0ce9a7a1521f73dbead

[2017-03-02 09:15] mfaizanse commented on #346
I even tried creating the kubernetes cluster usin the azure portal but still receiving the same error.

{
  "status": "Failed",
  "error": {
    "code": "ResourceDeploymentFailure",
    "message": "The resource operation completed with terminal provisioning state 'Failed'.",
    "details": [
      {
        "code": "VMExtensionProvisioningTimeout",
        "message": "Provisioning of VM extension

[2017-03-02 09:41] colemickens commented on #346
@mfaizanse there is an issue affecting ACS right now: https://github.com/Azure/ACS/issues/9

This issue was fixed in ACS-Engine a matter of hours ago. When you filed this, I deployed a cluster and it came up successfully and I could see the Windows nodes. I haven't had a chance to deploy to it, but I expect it to work.

[2017-03-02 09:45] mfaizanse commented on #346
@colemickens I pulled the latest commit 2 hours ago and generated a template and deployed it but the CSE stage is still in 'PROVISIONING STATE:Running' stage. Does it take this much time or should I pull again the latest commit and try again or wait?

[2017-03-02 10:03] julienlau commented on #182
Good questions. I don't know what is the limit between the DCOS and ACS-ENGINE project.
However, this JNA library seems to be required by DCOS default configuration of zookeeper (at least when using more than one master).

If I go to the exhibitor API, i got every 10 miinutes the following error:
Thu Mar 02 09:50:49 UTC 2017 INFO Cleanup task completed
Thu Mar 02 09:50:49 UTC 2017 ERROR Cleanup Ta

[2017-03-02 10:05] julienlau commented on #182
Same issue here I think:
https://dcosjira.atlassian.net/browse/DCOS-310

[2017-03-02 10:08] colemickens commented on #346
Can you clarify what commit you're on? You say you pulled two hours ago, but you commented an hour ago and had a commit from yesterday?

If you're not on the very latest commit, you could still be seeing this. I just deployed another hybrid cluster and it also worked.

[2017-03-02 10:13] mfaizanse commented on #346
@colemickens yes, I was on the yesterday's commit when I post the comment, but after that I pulled the latest repository and deployed again. I am going to again pull the latest commit and try again. i will let you know if the issue persists. Thank you for your support :)

[2017-03-02 12:22] mfaizanse commented on #346
@colemickens
I pulled the latest commit and followed the "Downloading and Building ACS Engine Locally For windows" section from this [guide](https://github.com/Azure/acs-engine/blob/master/docs/acsengine.md#downloading-and-building-acs-engine-locally).

![1](https://cloud.githubusercontent.com/assets/9897945/23506694/5aa5d7c0-ff6b-11e6-83a4-480f1d18b4c6.PNG)

I modified the examples/windows/kubern

[2017-03-02 19:04] colemickens commented on #346
Are you able to contact the apiserver? Try to list nodes. If that doesn't work, SSH into the master and try to see if any of the systemd units failed.

Other than that, try to ping me on Slack and we can debug together.

[2017-03-02 19:50] colemickens opened #349 "etcd tls config"
We don't configure tls for etcd. We should.

[2017-03-02 20:12] yangl900 opened #350 "Should setup container log retention policy on master & agent node"
## Problem
Master node stops working for everything and claim etcd failure or it is not configured correctly.

## Root Cause
Looking into logs we found that the master node container log has taken 27 GB and used all disk space in OS disk. The cluster has been running for ~2 months.

## Proposed Fix
Setup log retention policy so we never run out of disk space.

[2017-03-02 20:13] colemickens commented on #350
@yangl900 Ah, were the huge files: `/var/lib/docker/containers/[CONTAINER ID]/[CONTAINER_ID]-json.log`?

We should mitigate this short term with some sort of log rotations, long term presumably we'd want to run fluentd w/ logrotate and push cluster logs to some storage system...

[2017-03-02 20:17] yangl900 commented on #350
That's correct. Note that the file is holding by the running container, we had to restart in order to remove the file completely.

@brendandburns @anhowe as FYI, I think we should take this as a high priority fix. we cannot run cluster in production without the rotation.

[2017-03-02 20:43] brendandburns commented on #350
Yes, we should add this ASAP.  The 'logrotate' tool is a good simple tool to add.

--brendan

________________________________
From: Anders Liu <notifications@github.com>
Sent: Thursday, March 2, 2017 12:17:25 PM
To: Azure/acs-engine
Cc: Brendan Burns; Mention
Subject: Re: [Azure/acs-engine] Should setup container log retention policy on master & agent node (#350)

That's correct. Note that the fi

[2017-03-02 21:07] rgardler commented on #341
Sorry, closed wrong issue :-(

[2017-03-02 22:11] tekmaven opened #352 "Deploy to smaller vm sizes (Basic_A1 / Standard_D1 / Standard_D1_V2)"
When trying to create a deployment with the following configuration:

[code]

We are receiving an error on ARM template validation:

[code]

[2017-03-02 22:13] colemickens commented on #352
We intentionally block creation of clusters with nodes that small: https://github.com/Azure/acs-engine/blob/master/pkg/acsengine/Get-AzureConstants.ps1#L40

You could modify that PowerShell script, enable the smaller size, run the script, rebuild ACS-Engine and get the desired effect. I don't think we want to support this in ACS-Engine however. Those VMs are simply too under-powered for most real

[2017-03-02 22:14] colemickens opened #353 "Get-AzureConstants.ps1 needs to be converted to a bash script"

[2017-03-02 22:16] tekmaven commented on #352
I figured that was the intention.

Deploying a 6 node A1 cluster vs a 3 node A2 cluster will yield the same amount of RAM for the cluster at 1/3rd less cost.

[2017-03-02 22:25] tekmaven commented on #352
A great workaround from a teammate -

Deploy a Basic_A2 and then resize to A1.  Testing this now.

[2017-03-02 22:32] colemickens commented on #352
While it might be the same amount of RAM, nearly everything else is different - different amounts of allowed attached disk, different performance characteristics, and very different real world behavior given that there is a fixed per-node overhead that is more pronounced on small SKUs. To put it another way, this limitation was added as a direct result of customer issues on smaller SKUs.

The work

[2017-03-02 23:12] yangl900 commented on #352
I have been running both Basic_A0 and Standard_A1 for a while. They have slower in network and less CPU power, but works fine for testing environment. I'd suggest we give warning saying this should not use in production, but should allow user to use smaller size VMs.

[2017-03-03 06:46] mfaizanse commented on #346
@colemickens
I did SSH into the master and tried "kubectl get nodes" and got error:
![5](https://cloud.githubusercontent.com/assets/9897945/23541067/dc550e76-0006-11e7-967a-87d048742e39.PNG)

Can you mention which script its runs in CSE stage on windows agents?

P.S. I am not invited in Slack so I cannot ping you.

[2017-03-03 07:52] colemickens commented on #346
k8s slack is public: http://slack.k8s.io/

[2017-03-03 07:53] colemickens commented on #346
Can you check these troubleshooting steps, it's possible that's the culprit: https://github.com/Azure/acs-engine/blob/master/docs/kubernetes.md#troubleshooting

[2017-03-03 09:47] mfaizanse commented on #346
Yes, that was the culprit. I generated new service principal and created a cluster successfully. But now on master node I am getting kubectl: command not found. I checked the systemmd failed units and got:

● cloud-final.service     loaded failed failed Execute cloud user/final scripts
● hv-fcopy-daemon.service loaded failed failed Hyper-V File Copy Protocol Daemon
● kubectl-extract.service loaded

[2017-03-03 09:49] mfaizanse commented on #346
I think I should pull the latest commit and try as the new commit's comment says the same thing. :)

[2017-03-03 11:58] mfaizanse commented on #346
The CSE failure issue has been resolved but currently stuck on kubectl extraction issue. Closing this thread.

[2017-03-03 11:58] #346 closed

[2017-03-03 13:00] askew opened #354 "The windowsAdminPassword cannot be set as a KeyVault reference."
A number of ACS template parameters can be set as KeyVault references; the certificates and Service Principal key, however the Windows administrator password cannot.

[2017-03-03 13:32] theobolo commented on #333
@GONZALORUIZ You need to ask to the Azure Support to unlock cores to be able to use NV or NC series. Did you do that, single VM deployment is working ?

[2017-03-03 17:28] ams0 opened #356 "Introduce an option to display current version"
I'd like acs-engine to have an option to display the current version and/or the git commit from which it was built. Currently, i use a dirty script that name and symlinks acs-engine to the build:

[code]

[2017-03-03 17:39] ams0 commented on #341
I started working on CentOS for this and hit a few blockers. I used both Microsoft.OSTCExtensions and Microsoft.Azure.Extenstions for Swarm mode, but it seems that the script in https://github.com/ams0/acs-engine/blob/master/parts/configure-swarmmode-cluster.sh doesn't return, leaving the VMSS in perpetual creating status. I haven't tried with Kubernetes, but it seems way harder, as we also need t

[2017-03-03 17:44] colemickens commented on #356
Dupe of #311

[2017-03-03 17:44] #356 closed

[2017-03-03 17:45] colemickens commented on #311
See #356 for an example of the wrapper script. It might be time to introduce a `build/` or `hack/` directory and put such a script there. And then maybe the Makefile just shells out for everything, and we keep the Makefile as an easy entry point and for tab completion.

[2017-03-03 18:35] wbuchwalter opened #357 "[Feature Request] Script Hook"
Hi,
There are some cases where we need to install a dependency on every node of a cluster.
For example, when setting up an ACS cluster for GPU workloads, I need to install the driver on every GPU-capable host.

Would you be open, on principle, to enable a “scripting hook” in acs-engine that would enable running custom scripts on the different agent pools, for example:

[code]

At the end of the da

[2017-03-03 18:47] colemickens commented on #357
(Your text has smart quotes, that's why the highlighting is bad.)

cc: @RobBagby who is building this.

[2017-03-03 19:11] khenidak opened #358 "Which version go-bindata used"
https://github.com/Azure/acs-engine/commit/4b20f1a3e96488680187a48295636afcd77c72d2#diff-5bb1dcfa4b1bb0b6da310acce6053f35R3

this "-nometadaa" flag is breaking "make build". Are you using a more recent version of go-bindata?

[2017-03-03 19:20] colemickens commented on #358
Yes, we use the latest of go-bindata. If you use the docker container, this is all automated.

[2017-03-03 19:25] colemickens commented on #341
(@ams0 Please check to see my email I just sent.)

[2017-03-03 21:26] wbuchwalter opened #359 "[DC/OS] Add support for DC/OS 1.9 EA"
We should add support for DC/OS 1.9EA while still keeping 1.8.8 as default DC/OS version.

[2017-03-04 02:43] colemickens commented on #348
@wangtt03 This is not resolved, as per other threads. It is still flaky. Please take a look at this.

[2017-03-04 02:43] #358 closed

[2017-03-04 03:13] anhowe commented on #322
closing since Anubhuti provided answer

[2017-03-04 03:13] #322 closed

[2017-03-04 10:07] GONZALORUIZ commented on #333
@theobolo yes, I have used NC and NV both as standard VMS and with Azure batch. I will open a support ticket and check whether I have to request it again for ACS, but I would be surprised if that is the case.

[2017-03-05 09:59] wangtt03 commented on #340
This bug should be fixed by PR:https://github.com/Azure/acs-engine/pull/339

[2017-03-05 09:59] #340 closed

[2017-03-06 06:26] colemickens commented on #348
@wangtt03 please note someone reported here that it is still happening even after they pulled latest: https://github.com/Azure/acs-engine/pull/151#issuecomment-284018359

[2017-03-06 07:33] mfaizanse commented on #348
@wangtt03 I told you 2 hours ago that I tried the deployment and the kubectl run successfully but now I have redeployed win+k8s cluster to "West Europe" with VM class Standard_A4_v2 for master and Standard_DS3_v2 for agents using a different subscription, and the kubectl extract failed again.

Can I get you on slack?

cc: @colemickens

[2017-03-06 07:56] mfaizanse commented on #348
@wangtt03 I redeployed the same template again and now the kubectl is working. i think the deployment is not stable, it's working sometime and sometime not. :)

[2017-03-06 08:17] wangtt03 commented on #348
@mfaizanse are you deploying a kubernetes cluster on windows?

[2017-03-06 08:22] mfaizanse commented on #348
@wangtt03 yes I am deploying win + k8s cluster.

[2017-03-06 08:26] wangtt03 commented on #348
@mfaizanse Could you please provide more info about `sudo journalctl -u kubectl-extract`? Or could you please share me a copy of `/var/log/syslog` and `/var/log/azure/clusterProvision.log` on which the kubectl is missing?

[2017-03-06 08:29] mfaizanse commented on #348
@wangtt03 As i have said in my above comment that in the new deployment the kubectl extraction was successful. And I have deleted the older cluster in which the kubectl extract failed. I will try to get these logs if my any other deployment failed.

[2017-03-06 08:30] wangtt03 commented on #348
@colemickens for windows kubernetes setup I think the powershell script `kuberneteswindowssetup.ps1` do the extraction job, right?

[2017-03-06 08:32] colemickens commented on #348
No. On the Windows cluster, there is still a normal Linux master. The
Windows part should have no bearing on this problem.

On Mar 6, 2017 12:30 AM, "wangtt03" <notifications@github.com> wrote:

[2017-03-06 08:33] wangtt03 commented on #348
OK. I see. I will fix the bug:)

[2017-03-06 10:48] wangtt03 commented on #348
@mfaizanse https://github.com/Azure/acs-engine/pull/364/commits/bab4c1f6e3deca35715f1267e1620431f8866c6e This fix should solve the problem. Could you please have a try? Thanks!😊

[2017-03-06 10:49] wangtt03 commented on #348
@colemickens This commit is auto appended in my another PR https://github.com/Azure/acs-engine/pull/364 Could you please review it? Thanks!

[2017-03-06 10:54] wangtt03 commented on #348
I guess the root cause is still the timing issue when systemd restart docker. From the syslog the `ensureDocker` function is satisfied and `ensureKubelet`, `extractKubectl` is running. At this time the  `systemctl restart docker` in the cloud-init runs which interrupts the process of kubectl-extract. I removed this statement from the cloud-init and did several deployments and all of them successfu

[2017-03-06 12:39] theobolo commented on #333
@GONZALORUIZ Yep you right it should be surprising that you need to ask twice, it should be an issue related to ACS, as Cole said maybe that they need to modify how ACS retrieve the NC and NV series.

[2017-03-06 17:27] jcrowthe commented on #316
@colemickens @anhowe Any further update as to when there will be App Gateway support? This is a critical issue for my team.

[2017-03-06 18:58] sheerun opened #365 "Too low idle timeout for load balancer"
I use kubernetes along with deis, but often get "fatal: The remote end hung up unexpectedly" error message when trying to push builds. Deis build are synchronous and can take longer than 4 minutes that seems to be the default for idle timeout for Azure Load Balancer, given this post: https://azure.microsoft.com/en-us/blog/new-configurable-idle-timeout-for-azure-load-balancer/

Could you please inc

[2017-03-06 19:02] anhowe commented on #316
@jcrowthe - what is the scenario and are you using DC/OS or Swarm?  For example, why do you need a thousand node FE vs a FE LoadBalancePool <= 100 nodes proxying to 1000 private agents?

[2017-03-06 19:30] colemickens commented on #365
This should be filed on kubernetes, not here. Can you please move the issue?

Also, if Deis is still pushing, then it wouldn't be the idle timeout, unless I'm missing something.

[2017-03-06 20:26] #365 closed

[2017-03-06 22:34] jcrowthe commented on #316
One of the issues is the lack of SSL termination in the layer 4 LB. With thousands of nodes in a cluster, we will need this feature of the App Gateway.

[2017-03-06 22:36] colemickens commented on #316
I'm still confused. Do you need L7, do you need more than 100 nodes, or both? If you just need L7 and SSL termination, you're still better off running `nginx-ingress-controller`.

[2017-03-06 22:39] colemickens commented on #316
Reading it again, it seems like you need both. For the reasons mentioned earlier, I don't think this is something we will be looking at anytime soon. We might consider a PR, but I worry that this change would introduce a non-trivial amount of complexity into the templates. Furthermore, I have no idea how this psuedo-availability-set is going to work with the cloudprovider code in Kubernetes.

[2017-03-07 01:42] sheerun commented on #365
it happens when deis is building, long after it received the git payload

[2017-03-07 01:44] colemickens commented on #365
1. This still needs to be filed upstream on the kubernetes repo.

2. Seems like Deis is going to have problems in a variety of environments if it's really leaving a completely idle TCP connection for that long...

[2017-03-07 01:48] sheerun commented on #365
Sure, understood. That might be actually another issue as even if I increase the timeout to 15 minutes, the connection drops after 10 minutes.. I'll debug it little more before filling to kubernetes.

[2017-03-07 08:20] mfaizanse opened #369 "Exposed services are not accessible using external IP"
Hi,
I created a windows +k8s cluster on Azure Container Service. SSH to the master node and created a deployment using:
[code]
Changed the type from ClusterIP to LoadBalancer and saved it. I got the external IP from kubectl get svc and opened the IP on browser and it worked.

Then I deleted the service & deployment and followed the same procedure to deploy and expose my own container. I got the ex

[2017-03-07 16:52] raveeram opened #370 "K8s: Investigate if Etcd should be started with "--initial-cluster-state existing" flag"
In a multi-master scenario, restoring a failed master seems to result in the master creating a new cluster of its own instead of joining an existing cluster. Investigate if this is due to the etcd cluster being started with the "--initial-cluster-state new" flag instead of "--initial-cluster-state existing"

[2017-03-07 17:16] smartbit commented on #357
#79 _For DCOS, there is a custom script extension that runs on the last master._

Seems to solve your request for DCOS, although I haven't found out where to enable this CSE.

[2017-03-07 17:23] wbuchwalter commented on #357
@smartbit My request is orchestrator-agnostic, I would like this to work on k8s as well, and before running `mesos-agent` or `kubelet` on the nodes.
@robbagby is working on this and will submit a PR soon-ish.

[2017-03-07 19:24] colemickens commented on #369
cc: @anhowe @JiangtianLi See upstream issue, sounds like there are enough reports that we should look into this. Can one of you take a look?

[2017-03-07 19:26] rjtsdl commented on #350
I am looking into this problem.

Currently, the reason that docker daemon created multiple `/var/lib/docker/containers/[CONTAINER ID]/[CONTAINER_ID]-json.log` files, is because, docker daemon is using the default log-driver : json-file.

Now i have two options for the short term purpose:
1. Keep using json-file log-driver for docker, then we can leverage docker's option like `max-size` to limit th

[2017-03-07 19:44] colemickens commented on #350
I like option 2 as well, and I doubt we're going to end up supporting any distros that don't use systemd anyway.

[2017-03-07 20:11] kbhattmsft opened #371 "Managed Disks for Master nodes"
Right now Managed Disks are only possible for Swarm Agents whereas the Master nodes still use Storage Accounts. Please enable Managed Disks also for Master nodes.

[2017-03-07 21:41] tekmaven commented on #350
This may become a problem on Windows Agents I'm assuming, so that needs to be considered.

[2017-03-07 22:00] rjtsdl commented on #350
#373

@anhowe @JiangtianLi , how do you guys think about Windows Agents concern?

[2017-03-07 22:02] colemickens commented on #350
It'd be one thing if if the Windows Service was harvesting the output of `kubelet` on windows, but instead we're writing out to a text file manually. Does NSSM take care of pumping stdout/err to Windows logs? If so, that might be easiest.

[2017-03-07 23:09] JiangtianLi commented on #350
@rjtsdl @colemickens The issue that is solved here is docker/container logs, not kubelet logs, right? What is kubelet log retention policy on Linux? A quick look at NSSM doc and it has some rotation parameters.

[2017-03-07 23:12] colemickens commented on #350
`kubelet` runs as a container in Linux, so it's solved by this fix as well. Otherwise it would run as a bare systemd unit, which also already has log rotation. Hence my remarks about WinService logs + NSSM. I just don't know Windows well enough to know what the convention is.

[2017-03-07 23:24] anhowe commented on #350
In Windows, log rotation is handled in the NSSM setup here: https://github.com/Azure/acs-engine/blob/master/parts/kuberneteswindowssetup.ps1#L232-L270

[2017-03-07 23:32] rjtsdl commented on #350
Just merged the PR. I will close the issue here.

For existing clusters, try to do modification showed in PR #373
After that, do
[code]

[2017-03-07 23:36] colemickens commented on #350
This was the related PR: https://github.com/Azure/acs-engine/pull/373

For a less invasive workaround, the user can just manually cleanup `/var/lib/docker/containers` after making the systemd unit change. They'll likely also need to reboot the machine, or `systemctl daemon-reload` to activate the change as well.

[2017-03-08 09:21] mfaizanse commented on #369
I deployed a new cluster and exposed a service and its accessible. I am not sure what was the issue but there is one thing I have noted that when I was running curl Node IP:NodePort, I was getting connection refused but now in newly deployed cluster i am getting response.

[2017-03-08 10:45] GONZALORUIZ commented on #333
@colemickens @anhowe I just double checked this with Azure support, I can NOT yet create Kubernetes clusters using N-Series , is this supported?

[2017-03-08 13:49] uday31in opened #375 "ACS-Kubernetes : Inter-pod communication not working on Windows Host"
I have a simple two containers in a pod and as per my understanding inter-pod communication should work and containers should reach each other's ports on localhost.

From my frontend [webclient-nano], I cannot reach backend service [apiserver] on port 8080.

kubectl describe pod azuredctsp-pod-name

[code]
docker network inspect transparentNet

[code]
powershell invoke-webrequest -uri http://10.24

[2017-03-08 16:58] JiangtianLi commented on #369
@mfaizanse If you RDP to Windows node, what is State when you run
netsh advf show publicprofile
on the old and new deployment?

[2017-03-08 17:09] mfaizanse commented on #369
How to RDP to the windows node? I tried using the public ip but was unable
to rdp.

On 08-Mar-2017 9:58 PM, "Jiangtian Li" <notifications@github.com> wrote:

[2017-03-08 17:12] JiangtianLi commented on #369
You can follow the instructions at https://github.com/Azure/acs-engine/blob/master/docs/kubernetes.windows.md

[2017-03-08 17:25] mfaizanse commented on #369
okay. I have deleted the old deployment. But you can replicate the problem at your side using the same sequence:
Create & deploy cluster using examples/windows/kubernetes.json
1. kubectl create deployment iis --image=microsoft/iis
2. kubectl expose deployment iis --port=80
3. kubectl edit svc/iis
4 . Change to LoadBalancer
5 . Delete service and deployment

Now, repeat the first 4 steps and this t

[2017-03-08 17:49] colemickens commented on #375
cc: @JiangtianLi @anhowe PTAL

[2017-03-08 17:51] colemickens commented on #333
Is this an issue about ACS or about ACS-Engine? ACS is not supported via this repo. If this is about ACS, please close this Issue and open an Issue named "GPU SKU support in ACS" on the https://github.com/Azure/ACS repo.

If this is about ACS-Engine, I previously linked to the location that needs to be updated to accommodate the N* serises SKUs.

[2017-03-08 19:45] anhowe commented on #281
Examples should be crisp and clean and help the customers achieve success.  There are some tests that don't lend them to this, such as v20160930 tests.  Whoever proceeds to do this, divide into the buckets as recommended above, and we can see what is left over.

[2017-03-08 19:51] anhowe commented on #307
Windows is still in preview, but thanks for reporting this and we will look at this.

[2017-03-08 19:54] colemickens commented on #307
More importantly, no volume plugins are going to work on Windows at all. This is an upstream issue, not an ACS-Engine issue.

[2017-03-08 19:55] colemickens commented on #307
You likely need to add OS constraints to make sure your Linux workloads land on Linux machines.

[2017-03-08 19:59] anhowe commented on #310
@siamak-haschemi thanks for the suggestion.  We will look deeper into this.

[2017-03-08 20:15] anhowe commented on #308
Why do you need to resolve master or node names?

[2017-03-08 20:21] anhowe commented on #316
Closing as there is a workaround for this right now, of LB to <=100 nodes and those proxy to the larger VMSS.

[2017-03-08 20:21] #316 closed

[2017-03-08 20:23] colemickens commented on #321
We're going to close this. For exceptional cases, you can contact support and they can increase the limit (possibly higher than otherwise advertised).

Please ping me with more details (how many you need per cluster) etc, if you are unable to reach a good resolution with Support. Thanks.

[2017-03-08 20:23] #321 closed

[2017-03-08 20:27] colemickens commented on #329
Those events in the log seem like misnomers probably. Those are part of the typical controller loop and shouldn't be impactful.

The cluster is very old, would you be able to reproduce this on a newer cluster? Does datadog tell you what exactly is spiking?

I'm going to close this for now. Please re-open an upstream issue against Kubernetes with further information about what is actually spiking,

[2017-03-08 20:27] #329 closed

[2017-03-08 20:28] anhowe commented on #332
This is a duplicate of https://github.com/Azure/acs-engine/issues/139.  I updated the title to make this more clear

[2017-03-08 20:28] #332 closed

[2017-03-08 20:33] anhowe commented on #333
This is not supported in the RP, but is supported in ACS-Engine per constants: https://github.com/Azure/acs-engine/blob/master/pkg/acsengine/azureconst.go#L209-L215.  Closing.

[2017-03-08 20:33] #333 closed

[2017-03-08 20:34] siamak-haschemi commented on #308
Hi, thanks for answering.

We have an existing HAProxy Setup in an Azure Classical Environment on a different Vnet than the k8s cluster. From within the containers running on k8s, we have to access the classical environment. This is why we need to add our own DNS server to all nodes.

To be able to resolve k8s nodes (master is not needed, right) is needed, since we want to route traffic from the c

[2017-03-08 20:39] anhowe commented on #334
@sheerun do you know why the creation of a regular VM on Azure doesn't have this on by default?  For example, why don't we have customers have to go out of their way to disable encrypted disks?

[2017-03-08 20:52] anhowe commented on #338
@sheerun Can you clarify the problem?  Are you saying we can't attach SSD's to premium SKUs or can't attach SSD's to standard SKUs?

[2017-03-08 20:55] anhowe commented on #338
Closing since you can attach SSDs to premium skus (sizes with S in the name)

[2017-03-08 20:55] #338 closed

[2017-03-08 21:28] anhowe commented on #341
Similar to https://github.com/Azure/acs-engine/issues/83, we are closing as won't fix, since this is currently out of scope for ACS-Engine. If you feel differently, please submit the PR as described above and we can review.

[2017-03-08 21:28] #341 closed

[2017-03-08 21:35] anhowe commented on #348
completed in https://github.com/Azure/acs-engine/issues/344

[2017-03-08 21:35] #348 closed

[2017-03-08 21:45] anhowe commented on #371
@kbhattmsft what is the scenario that managed disks will cover if it was enabled on masters?

[2017-03-08 21:47] anhowe commented on #11
This exists now, so closing issue.

[2017-03-08 21:47] #11 closed

[2017-03-08 21:51] JackQuincy commented on #344
Nitpicky detail: the issue isn't the template being idempotent the template deployed repeatedly will produce the same result every time. The issue is 2 services(acs-engine, k8s) trying to manage the same resource and putting different values in.

Sadly @weinong investigated this in the past and the recommended fix won't work. The networkSecurityRules aren't tracked resources. So even if we break t

[2017-03-08 21:55] colemickens commented on #344
How does one know? The API makes it look like a tracked resource: `/providers/Microsoft.Network/networkSecurityGroups/myNsg/securityRules/rule1` (https://docs.microsoft.com/en-us/rest/api/network/list-networks-security-rules-within-a-network-security-group) and there exists API calls for just the NSG rules (https://github.com/Azure/azure-rest-api-specs/blob/master/arm-network/2016-12-01/swagger/ne

[2017-03-08 22:46] weinong commented on #344
I looked at the NRP manifest which does not have securityRules resource type.

[2017-03-08 22:52] colemickens commented on #344
This puts us into an unfortunate situation then. I don't see how we can sanely proceed with only doing ARM template deployments given this information.

[2017-03-08 23:00] anhowe commented on #105
fixed by https://github.com/Azure/acs-engine/pull/285/files

[2017-03-08 23:00] #105 closed

[2017-03-08 23:03] weinong commented on #344
You can do a GET template to get the latest snapshot.
https://docs.microsoft.com/en-us/rest/api/resources/resourcegroups#ResourceGroups_ExportTemplate
![image](https://cloud.githubusercontent.com/assets/4204090/23728171/51e86068-0410-11e7-973c-c91b107c8ba3.png)

[2017-03-08 23:04] colemickens commented on #344
Implementing an intelligent diff for two ARM templates may well be harder than just reconciling the security group. Especially for k8s, there will be a lot of drift. On the other hand, if we know the NSG must at least have these 5 rules, it's probably easier to just do a GET on the NSG, reconcile it, and do a PUT, the same way the k8s cloudprovider does. But either way, we need to think about what

[2017-03-08 23:18] dmitsh commented on #306
addressed in:
https://github.com/Azure/acs-engine/pull/377

commit:
https://github.com/Azure/acs-engine/commit/badeb8dd469ee228cb39cec0f3f32ed038b25d2c

[2017-03-08 23:18] #306 closed

[2017-03-08 23:22] rjtsdl commented on #325
Well i am working on a fix on this.

[2017-03-08 23:23] anhowe commented on #96
@iMelnik - we now have support for China cloud thanks to @wangtt03.  If you are able to submit a PR, look at https://github.com/kubernetes/kubernetes/pull/41487 as an example.

[2017-03-08 23:37] anhowe commented on #109
@JackQuincy - this will be fixed when you submit https://github.com/Azure/acs-engine/pull/366/files.

[2017-03-08 23:40] anhowe commented on #157
fixed

[2017-03-08 23:40] #157 closed

[2017-03-08 23:47] anhowe commented on #215
Dropping to P2, since it is not clear that the downed node is causing scheduling issues and more a display issue from the CLI point of view.  If this is causing scheduling issues, let's raise back to P1.

[2017-03-08 23:48] anhowe commented on #220
Closing due to no repro.  Please re-open if you are still seeing issue.

[2017-03-08 23:48] #220 closed

[2017-03-09 00:02] JiangtianLi commented on #369
@mfaizanse Thanks for the detailed repro steps. I have a cluster that can repro. I will investigate and update.

[2017-03-09 00:44] wangtt03 commented on #96
@anhowe, i think i can work with @iMelnik to add German cloud support

[2017-03-09 02:06] anhowe commented on #96
that would be great, thanks @wangtt03

[2017-03-09 02:18] colemickens commented on #350
@anhowe AFAICT... that doesn't prevent this problem on Windows. The Windows agents just pile up 1MB files. It looks like eventually it will run out of space too. Is this not the case?

[2017-03-09 03:40] rjtsdl commented on #325
#379 Please review this PR

[2017-03-09 04:29] JiangtianLi commented on #375
@uday31in Do you have detailed repro steps, e.g., how to create deployment and service? Can you curl your backend apiserver outside container, e.g, from master? Inter-pod communication worked on my side just now.

[2017-03-09 06:38] mfaizanse opened #380 "Query about deploying K8s cluster using acs-engine and Azure Portal"
Hi, I want to know the difference between deploying a k8s cluster on ACS using the Azure Portal and deploying by generating a template using the acs-engine and deploying it using powershell.
I am following instructions from this [link ](https://github.com/Azure/acs-engine/blob/master/docs/kubernetes.windows.md) to deploy.

The thing I have noted is that when deployed using azure portal, it creates

[2017-03-09 06:55] mfaizanse commented on #380
cc: @colemickens @JiangtianLi

[2017-03-09 06:56] colemickens commented on #380
Ack'd @mfaizanse. I'm working on getting you an answer.

[2017-03-09 07:09] rushabhnagda11 opened #381 "Pods are inaccessible. Connection refused."
I'm not sure if this is a duplicate, but I've deployed a k8s cluster yesterday. I've followed all the manual steps to create a k8s cluster.

kubectl create -f some_service_with_type_load_balancer

curl cluster_ip/external_ip -> connection refused

Logs of kube-proxy show that it's due to

[2017-03-09 08:03] rushabhnagda11 commented on #381
Even after providing --cluster-cidr=10.240.0.0/16 to the proxy, it still isn't working

[2017-03-09 08:17] rushabhnagda11 commented on #381
@colemickens @dmitsh Is there some sort of quick fix/config I'm missing here? My iptables seem fine as well.

[2017-03-09 09:48] iMelnik commented on #96
@anhowe @wangtt03 thanks for your replies. I no longer have access to Azure Germany, therefore unable to test it.

[2017-03-09 15:08] anhowe commented on #381
Please email us your ACS api model you were using with ssh secrets and SPN secretes removed.  This will look similar to https://github.com/Azure/acs-engine/blob/master/examples/kubernetes.json.  Also please provide when you updated ACS-Engine.

Also, can you confirm you went through the troubleshooting section: https://github.com/Azure/acs-engine/blob/master/docs/kubernetes.md#troubleshooting.

[2017-03-09 15:15] rushabhnagda11 commented on #381
Using the latest version of acs-engine. Last commit was 11c1633cdc794d2c3089a1440293b82c84ea209d which was on March 7th.

Also, I did go through the troubleshooting section. My service principal is fine.

Here's the file.

{
  "apiVersion": "vlabs",
  "properties": {
    "orchestratorProfile": {
      "orchestratorType": "Kubernetes"
    },
    "masterProfile": {
      "count": 1,
      "dnsPrefix

[2017-03-09 15:16] rushabhnagda11 commented on #381
I can provide the exact steps to reproduce it. It is happening in Azure Container Service (booted from azure ui) in southeastasia as well

[2017-03-09 16:01] jimmystridh opened #382 "Kubernetes Master etcd died when running out of disk space"
I just had my master die because it ran out of diskspace in /

It was actually etcd that died

and a `df -h` gave me:

when I went into /var to run u -h --max-depth=1 then all of sudden df -h gives me

this was a minute after the above command. Restarting etcd seems to have everything back to normal.

The disk became full approx 34 hours ago.

Any ideas why this would happen ? Is monitoring the di

[2017-03-09 16:05] jimmystridh commented on #382
Seems to be about the same issue as #350 though I have no idea what caused the space to be released all of a sudden

[2017-03-09 16:26] anhowe commented on #382
Are you able to update your cluster using the code found in https://github.com/Azure/acs-engine/pull/373.    Without looking at your system further, I suspect the log files under /var/lib/docker/containers/ were purged, bringing you back down to 17%. I'm going to close as duplicate of #350.

[2017-03-09 16:26] #382 closed

[2017-03-09 16:58] anhowe commented on #381
Please provide exact steps after you deployed cluster.

I have done the following and everything works:
1. create two nginx services, one named nginx, and the other nginx3
2. kubectl exec into the nginx3 pod, install curl, and successfully curl nginx.default.svc.cluster.local, and the external IP

[2017-03-09 22:05] rjtsdl commented on #371
To clarify, i thought we have enabled managed disk for all the orchestrators' agent node. @kbhattmsft I think you were in the context of Swarm. Since @anhowe has changed the title, I will fix this one regardless of orchestrator type. Curious like Anthony, what's the scenario you need manageddisk for master nodes?

[2017-03-10 13:44] bucksteamy commented on #221
This is very interesting to me and several customers I am working with.

[2017-03-10 13:46] evillgenius75 commented on #221
I have at least 3 large customers with this need if they want to move production work onto an Acs-engine built cluster. would also prefer that its there when acs RP has custom vnet feature, hopefully soon.

[2017-03-10 14:18] anhowe commented on #381
Closing as there was no repro, and our BVTs are not catching this issue.

If this is still happening, please paste an exact repro, and reopen.

[2017-03-10 14:18] #381 closed

[2017-03-10 18:58] colemickens commented on #221
To the folks in this thread, this would be an easy change for someone to contribute and test, but, as far as I know, is not something we're likely to get to in the immediate future.

1. Always add the ILB, not just in single master scenarios.
2. Add an apimodel flag for "InternalOnly" (or something)
3. When `InternalOnly` is set, skip outputting the external LB resource and the corresponding publi

[2017-03-10 23:18] brendandburns opened #389 "Update Kube DNS"
See:

https://github.com/kubernetes/kubernetes/commit/4fe2e82d8850db42a4e398a66bAb1dc511795710a

Assigning to Anthony for triage.

[2017-03-10 23:19] colemickens commented on #389
That commit 404s. We also need to update heapster.

[2017-03-10 23:19] colemickens commented on #389
Well, and k8s itself.

[2017-03-11 15:19] agnelantony2 opened #391 "Container Service Resource from ARM Template"
When deploying ACS Cluster from ARM Template, does it create a Container Service Resource ? I have tried with both k8s and swarmmode clusters, it doesn't create Container Service Resource.

[2017-03-11 20:41] agnelantony2 commented on #391
Duplicate of issue #380. Closing this one.

[2017-03-11 20:41] #391 closed

[2017-03-12 07:49] minherz opened #392 "Use of kubectl with acs kubernetes always returns error"
*** Problem description ***

Some `kubectl` commands (e.g. `delete`, `get`, `run`) when executed result in following error:
[code]
More debug info when executing the command with additional flag `-v 8` shows:
[code]

*** Environment details ***

Kubernetes ACS is created using Azure portal wizard. The commands executed after the following three comands are launched from powershell:
[code]

[code]

[2017-03-12 21:43] colemickens commented on #392
The two errors listed are likely misnomers. Can you please include the output for `kubectl describe pod <failed_pod_name>` for whatever pods have failed.

Please also share the command used to create the cluster.

[2017-03-13 04:01] wangtt03 commented on #349
@anhowe @colemickens if you didn't start this one. I think I can take it.

[2017-03-13 09:52] minherz commented on #392
@colemickens I have this error regardless there is a failed pod or not. Do you like me to create a failed node to test it or the valid node is good enough? Attempt to run the above command on valid port resulted with
[code]

As you see this is exactly the same problem. It is either an issue related to behavior on Windows of golang or the broken assumption from integration with azure.

[2017-03-13 11:46] mfaizanse commented on #380
One more thing, how external loadbalancer works in azure k8s cluster? Does it load balances the traffic directly to the pods or it load balances to the VMs and the service then chooses the right endpoint?

[2017-03-13 16:36] colemickens commented on #380
It load balances to the Service Port and `kube-proxy` writes rules that redirect traffic from "externalIP:Port" to one of the Pods running the service. This is all standard Kubernetes behavior.

[2017-03-13 18:30] jpoon commented on #55
Any updates? With the number of commits to this project, definitely would be great to have more "stable" releases.

We were working with a partner a couple weeks ago, and lost a fair bit of time dealing with bad `acs-engine` builds due to https://github.com/Azure/acs-engine/issues/340.

[2017-03-13 19:03] colemickens commented on #392
Well, I was going to recommend upgrading `kubectl` as a naive guess... but it looks like that's probably the cause: https://github.com/kubernetes/kubernetes/issues/39494#issuecomment-271277522

Please upgrade `kubectl` and close this Issue if it worked. Thanks.

[2017-03-14 01:37] JiangtianLi commented on #375
@uday31in I deployed your two images using _kubectl create deployment_. Both containers can curl each other. Please let me know the detailed repro steps. Thanks.

[2017-03-14 08:32] wangtt03 opened #400 "[Improvement] Add script to generate service principal to make it easy for beginners."

[2017-03-14 08:33] wangtt03 commented on #400
https://github.com/Azure/acs-engine/pull/399 This PR should fix the problem.

[2017-03-14 08:50] minherz commented on #392
Is the correct location is http://storage.googleapis.com/kubernetes-release/release/v1.5.0/bin/windows/amd64/kubectl.exe ?
Matching first two numbers of the server and client version worked. I will create an issue in az cli so they will update `kubectl.exe` version.

[2017-03-14 08:50] #392 closed

[2017-03-14 08:56] ofiliz opened #402 "Improve PowerShell documentation for creating service principals"
The service principal documentation doesn't have any PowerShell steps other than linking to a generic article. I'll send a PR to bring it to parity with Azure CLI documentation.

PR #398

[2017-03-14 09:36] mfaizanse commented on #369
@JiangtianLi How to allow a container running in a pod to communicate with the outside world?
I am trying to ping www.google.com  from inside a container but getting request timeout.

[2017-03-14 10:41] wangtt03 commented on #369
@mfaizanse the ping action is blocked. you can `docker exec -it xxx cmd` to attach the container and run `powershell && wget http://www.google.com -OutFile xxx.txt` and it works.

[2017-03-14 10:55] mfaizanse commented on #369
@wangtt03 Got it. Thanks

[2017-03-14 16:29] colemickens commented on #392
Sure, you can match all three too to whatever the apiserver is running.

[2017-03-14 16:37] colemickens commented on #402
Closed by #398

[2017-03-14 18:33] #402 closed

[2017-03-15 05:53] mfaizanse opened #405 "Auto-scaling of agent/worker nodes in Azure Container Service [Kubernetes]"
Auto-scaling of agent/worker nodes in Azure Container Service based on the CPU/Resource usage.

I asked this [question on stackoverflow](http://stackoverflow.com/questions/42785617/auto-scaling-of-agent-worker-nodes-in-azure-container-service-kubernetes) and got the answer that currently its not supported. I want to know that whether this feature will be in any of the next releases of ACS or not?

[2017-03-15 06:03] colemickens commented on #405
Please don't file issues for ACS here, you can ask questions on the [ACS](https://github.com/Azure/ACS) repo.
This repo is meant only for the open source component.

But no, there's no ETA for auto-scaling. Eventually we will move to VMSS where auto-scaling is already enabled, but we have no ETA for that either.

[2017-03-15 06:03] #405 closed

[2017-03-15 14:30] clementnero commented on #334
PR #406: enable storage account encryption (for data disks)

[2017-03-15 18:27] rjtsdl opened #409 "[Improvement] Avoid template generation for each PR"

[2017-03-15 21:12] #400 closed

[2017-03-15 21:15] colemickens commented on #380
@mfaizanse we will add a full FAQ later, but for now:

1. ACS-Engine is not ACS, so you should not expect to see the Container Service object created. That represents a cluster owned and managed by ACS. Clusters created with ACS-Engine have no SLA or guaranteed support from the ACS team, though we provide best-effort support here on GitHub.

2. Generally speaking, features will appear in ACS-Engin

[2017-03-15 21:15] #380 closed

[2017-03-15 21:16] colemickens opened #410 "Defaults being set incorrectly"
We set defaults after we load the json file. This can result in the user specified settings being clobbered.

I think this stems from the fact that the "defaults" were "defaults" from the other side, for the parameters. They were never meant to be "defaults" for values that originated from the apimodel.json.

However, they probably should be one in the same. We should set the defaults, then load f

[2017-03-15 23:26] JiangtianLi commented on #375
Please reactivate if it repros.

[2017-03-15 23:26] #375 closed

[2017-03-16 05:34] mfaizanse commented on #380
Thank you @colemickens for your throughout support :)

[2017-03-16 07:07] mfaizanse opened #413 "Unable to run deployment when defining requests cpu quota"
Hi, I have a deployed a win + k8s cluster using acs-engine with 2 agent nodes.

When I deploy a pod without any requests parameter, it works.
`kubectl run iis2 --image microsoft/iis   --expose --port=80`

But when I run with requests parameter, if fails on ErrPullImage.
`kubectl run iis2 --image microsoft/iis --requests cpu=50m  --expose --port=80`
I have tried with CPU 5m, 10m, 50m, 100m, 200m, 3

[2017-03-16 10:01] mfaizanse commented on #413
Is this issue related to acs or kubernetes as its also mentioned in the kubernetes git - [link](https://github.com/kubernetes/heapster/issues/1433)

[2017-03-16 11:31] Camsteack commented on #272
Hi,

Just wanted to +1 that request as this is a must for us. We don't want to tied up the cluster definition the the networking configuration as it is setup on the side and needs to have VPN connection and configuration to on-prem.
Thanks a lot.

Cheers

[2017-03-16 12:02] mfaizanse commented on #413
I have tried using yaml file:
[code]

But it says:
`fit failure summary on nodes : Insufficient cpu (2), Insufficient memory (2), MatchNodeSelector (1)`

![3333](https://cloud.githubusercontent.com/assets/9897945/23995129/022bf49e-0a6a-11e7-8acb-7f4e0163d6f1.PNG)

I have tried with requests - cpu = 50m as well but same issue.
Is there any way to find available cpu/resources of a node?

[2017-03-16 19:45] anhowe opened #414 "The dashboard add-on should be of type ClusterIP and not NodePort"
The file `acs-engine/parts/kubernetesmasteraddons-kubernetes-dashboard-service.yaml` specifies type: NodePort and not type: ClusterIP.  The dashboard is not exposed publically, so exposing on NodePort is not needed.

[2017-03-16 19:53] colemickens commented on #414
This is done because upstream does it: https://github.com/kubernetes/dashboard/blob/master/src/deploy/kubernetes-dashboard.yaml

[2017-03-16 19:54] colemickens commented on #414
https://github.com/kubernetes/dashboard/issues/1744

[2017-03-17 05:16] uday31in commented on #375
I dont see dns service exposing endpoints on kubernetes mixed mode cluster for DNS service.

[code]

[code]

[2017-03-17 06:07] mfaizanse commented on #413
The above mentioned images are still not working with cpu assignment. But tried a simple apache-php image and that worked. Hpa was able to get current cpu usage info.
Closing this issue for now but if anyone able to run the iis image with cpu assignment and limit, please mentioned here the procedure.

[2017-03-17 17:58] anhowe commented on #410
Defaults are applied to the missing fields only.  It is a bug to overwrite already set values.  Do you have a list of defaults overwritten?

[2017-03-17 18:01] anhowe commented on #414
thanks, we can close based on the precedent set by upstream

[2017-03-17 18:01] #414 closed

[2017-03-17 19:44] colemickens commented on #410
No. But it's not  a hard bug, pretty obvious: https://github.com/Azure/acs-engine/pull/411/files#diff-8edb2653431a5da9ad1f4286097702a7R76

[2017-03-17 22:34] ams0 opened #416 "[Kubernetes] Allocatable.pods sets to 110 regardless of agent VM size"
For ACS- and RP-  created kubernetes clusters, agent nodes are created with the default value for allocatable pods of 110. For large VM sizes, that could be not desirable. A better way would be to calculate an ideal value for different VM sizes, and add the --max-pods flag to parts/kuberneteskubelet.service. This could be part of the OrchestratorProfile.KubernetesConfig options.

[2017-03-18 00:47] colemickens commented on #416
I'd rather it be part of the agent pool profile, since that's where SKU is set. We could allow the user to override a default of 110 rather than try to do some magical calculation. And I'd argue that if there were a magic calculation, it would be based on mem/cpu and live in `kubelet` itself rather than here.

[2017-03-20 19:14] skinny opened #418 "[Bug?] Cluster DNS on Windows"
Hi,

Not sure this is even an ACS issue but it seems the best place to create this issue. When I deploy a cluster with the ACS engine all works fine. However it seems that windows pods end up with two network interfaces (inside the container)

If I understand correctly the 172.x one is the default docker NAT interface and the other one is the kubernetes transparent network. Is this even correct ?

[2017-03-20 19:19] colemickens commented on #418
cc: @JiangtianLi / @anhowe

This is by design. The two NICs are intentional. One enables pod-to-pod network and the other serves as a gateway to the Internet.

[2017-03-20 22:21] sepiroth887 opened #419 "DC/OS cluster deployment fails with ARM template"
I tried deploying a custom VNet DC/OS cluster using the generated templates on master (gitsha 947c11a8326bb35fcdff8cf1b2b5be9dfec19e49)

The deployment worked up until the extension waiting for master which failed due to timeout.

Looking into the master VM it looks like that the cloud config wrote bad unit files. All DCOS related units have no newline in them which prevents the masters from spinn

[2017-03-21 01:03] anhowe commented on #419
This looks like a new regression.  Investigating.

[2017-03-21 01:12] anhowe commented on #419
I've successfully deployed.

Actually, what CLI are you using.  There is a known issue with older XPLat CLI's described here: https://github.com/Azure/acs-engine#deploying-with-azure-xplat-cli, that will mangle the output files similar to how you desribe.  The fix is to use the old XPlat CLI, powershell, or az CLI 2.0.

[2017-03-21 07:50] sepiroth887 commented on #419
This worked just fine using az CLI 2.0 :) Thank you !

[2017-03-21 07:50] #419 closed

[2017-03-21 17:39] lastcoolnameleft opened #420 "K8S Default Template does not work upon start"
### Issue Details

I am following the instructions here:
https://github.com/Azure/azure-quickstart-templates/tree/master/101-acs-kubernetes

### Repro steps (*if necessary, delete otherwise*)
1. Go to https://github.com/Azure/azure-quickstart-templates/tree/master/101-acs-kubernetes
1. Click "Deploy to Azure"
1. Select A0 for Agent VM Size
1. Default for everything else.
1. Once the service is sta

[2017-03-21 18:35] colemickens commented on #420
Please follow the troubleshooting steps here. The logs you've posted are not relevant.

https://github.com/Azure/acs-engine/blob/master/docs/kubernetes.md#troubleshooting

[2017-03-21 18:44] lastcoolnameleft commented on #420
After looking at the troubleshooting guide, it does appear that the Service Principal is not setup correctly.  That now leads to two questions:
1. The troubleshooting document states that there is a problem, but doesn't provide guidance on how/where to fix.
1. I'm using the default k8s template from the Azure quick start templates with no deviation.  If the public templates are failing, there migh

[2017-03-21 22:35] daniel-rhoades opened #421 "Usage Guide"
I've written up a detailed guide on how to set this up with Terraform, which might be useful:

* [daniel-rhoades/acs-engine-terraform](https://github.com/daniel-rhoades/acs-engine-terraform);
* [danielrhoades.com detailed article](http://danielrhoades.com/2017/03/20/docker-azure-terra/).

I still want to enhance it a bit, but it's still complete right now.

Feel free to reference it if you think i